Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @shlomi-noach, @mattlord, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @frouioui, @GuptaManan100, @harshit-gangal, @vmg, @ajm188, @doeg, @notfelineit, @systay, @rafael

assign new name to constraints in the shadow table; generate a name mapping; edit AlterTable statement to replace constraint names by mapping
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: none

more check constraint tests
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/ignore_versions
Owners: @shlomi-noach

fix SQL
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/create.sql
Owners: @shlomi-noach

formatting
  go/vt/vttablet/onlineddl/executor_test.go
Owners: none

feat: move group by all rewrite to normalizer
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

feat: revert back to support regexp and rlike in version 5.7
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

Extra handling to ensure backfill funcs do not include excluded keyspaces
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/docker/ @derekperkins @dkhenry @mattlord
/examples/compose @shlomi-noach
/examples/demo @sougou @mattlord
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps @frouioui @mattlord
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @doeg @notfelineit
/go/cmd/vtctldclient @ajm188 @doeg @notfelineit
/go/internal/flag @ajm188
/go/mysql @harshit-gangal @systay @mattlord
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/vt/proto/vtadmin @ajm188 @doeg @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg @notfelineit
/go/vt/vtctl/vtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctld @ajm188 @deepthi @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/wrangler @deepthi @rohit-nayak-ps @mattlord
/go/vt/workflow @rohit-nayak-ps @mattlord
/proto/vtadmin.proto @ajm188 @doeg @notfelineit
/proto/vtctldata.proto @ajm188 @doeg @notfelineit
/proto/vtctlservice.proto @ajm188 @doeg @notfelineit
/web/vtadmin @ajm188 @doeg @notfelineit
/web/vtctld2 @doeg @notfelineit @rohit-nayak-ps
