Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @frouioui, @shlomi-noach, @mattlord, @derekperkins, @dkhenry, @GuptaManan100, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @doeg, @notfelineit, @systay, @rsajwani, @rafael

Fix check_make_sizegen
  tools/check_make_sizegen.sh
Owners: @frouioui, @rohit-nayak-ps

Fix check_make_sizegen
  tools/check_make_sizegen.sh
Owners: @frouioui, @rohit-nayak-ps

Apply review suggestion
  tools/check_make_sizegen.sh
Owners: @frouioui, @rohit-nayak-ps

Apply review suggestion
  tools/check_make_sizegen.sh
Owners: @frouioui, @rohit-nayak-ps

Add GetTopologyPath to vtadmin
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/clusters.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

[deps] go get golang.org/x/text && go mod tidy
  go.mod
  go.sum
Owners: @deepthi

[deps] go get golang.org/x/text && go mod tidy
  go.mod
  go.sum
Owners: @deepthi

Modify node code for non recursive
  go/vt/vtadmin/http/clusters.go
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/Icon.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/routes/topology/ClusterTopology.tsx
  web/vtadmin/src/components/routes/topology/Nodes.tsx
  web/vtadmin/src/components/routes/topology/Topology.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/icons/index.tsx
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

[deps] go get golang.org/x/text && go mod tidy (#11466)
  go.mod
  go.sum
Owners: @deepthi

[deps] go get golang.org/x/text && go mod tidy (#11466)
  go.mod
  go.sum
Owners: @deepthi

.github/CODEOWNERS:

* @deepthi
bootstrap.sh @deepthi
/.github/ISSUE_TEMPLATE/ @frouioui
/.github/workflows/ @frouioui
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/docker/ @derekperkins @dkhenry @mattlord
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @sougou @mattlord
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @doeg @notfelineit
/go/cmd/vtctldclient @ajm188 @notfelineit
/go/internal/flag @ajm188
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @ajm188
/go/sqltypes @harshit-gangal
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100 @rsajwani
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi @mattlord @rsajwani
/go/vt/proto @harshit-gangal
/go/vt/proto/vtadmin @ajm188 @doeg @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @rafael @mattlord @rsajwani
/go/vt/topotools @deepthi @rafael @mattlord @rsajwani
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100 @rsajwani
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach @rsajwani @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/wrangler @deepthi @rohit-nayak-ps @mattlord
/go/vt/workflow @rohit-nayak-ps @mattlord
/proto/vtadmin.proto @ajm188 @doeg @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @doeg @notfelineit
/web/vtctld2 @notfelineit @rohit-nayak-ps
