Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @harshit-gangal, @pH14, @vmg, @ajm188, @doeg, @systay, @frouioui, @GuptaManan100, @rafael

Noop behavior for DROP TABLE CASCASE/RESTRICT (#90)
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Fix boolean parameter order in DropSources call for v2 flows
  go/vt/wrangler/workflow.go
Owners: @deepthi, @rohit-nayak-ps

Fix boolean parameter order in DropSources call for v2 flows
  go/vt/wrangler/workflow.go
Owners: @deepthi, @rohit-nayak-ps

Add option to run vtcombo and vttest local cluster with real topo server
  go/cmd/vtcombo/main.go
  go/cmd/vttestserver/main.go
  go/vt/vttest/environment.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/plugin_consultopo.go
  go/vt/vttest/plugin_etcd2topo.go
  go/vt/vttest/plugin_grpctmclient.go
  go/vt/vttest/plugin_zk2topo.go
  go/vt/vttest/topoctl.go
  go/vt/vttest/vtprocess.go
Owners: none

Add option to run vtcombo and vttest local cluster with real topo server
  go/cmd/vtcombo/main.go
  go/cmd/vttestserver/main.go
  go/vt/vttest/environment.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/plugin_consultopo.go
  go/vt/vttest/plugin_etcd2topo.go
  go/vt/vttest/plugin_grpctmclient.go
  go/vt/vttest/plugin_zk2topo.go
  go/vt/vttest/topoctl.go
  go/vt/vttest/vtprocess.go
Owners: none

Merge pull request #9175 from ajm188/v2-dropsources-keepdata
  go/vt/wrangler/workflow.go
Owners: @deepthi, @rohit-nayak-ps

Merge pull request #9175 from ajm188/v2-dropsources-keepdata
  go/vt/wrangler/workflow.go
Owners: @deepthi, @rohit-nayak-ps

Fix race when starting/stopping topo-watcher
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/vtgate/tabletgateway_test.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui

Fix race when starting/stopping topo-watcher
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/vtgate/tabletgateway_test.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui

Inclusive naming: removing vtctl flags and commands that were deprecated in 12.0
  .github/workflows/cluster_endtoend_upgrade.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/vtctl/backup.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Owners: @deepthi, @ajm188, @doeg, @rohit-nayak-ps

Inclusive naming: removing vtctl flags and commands that were deprecated in 12.0
  .github/workflows/cluster_endtoend_upgrade.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/vtctl/backup.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Owners: @deepthi, @ajm188, @doeg, @rohit-nayak-ps

Inclusive naming: use InitShardPrimary in legacy example
  examples/legacy_local/101_initial_cluster.sh
  examples/legacy_local/202_customer_tablets.sh
  examples/legacy_local/302_new_shards.sh
Owners: @deepthi

Inclusive naming: use InitShardPrimary in legacy example
  examples/legacy_local/101_initial_cluster.sh
  examples/legacy_local/202_customer_tablets.sh
  examples/legacy_local/302_new_shards.sh
Owners: @deepthi

Inclusive naming: use new RPCs in vtctl/vtctld/wrangler
  go/cmd/vtbackup/vtbackup.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/diff_utils.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/keyspace.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff_env_test.go
Owners: @deepthi, @ajm188, @doeg, @shlomi-noach, @rohit-nayak-ps

Inclusive naming: use new RPCs in vtctl/vtctld/wrangler
  go/cmd/vtbackup/vtbackup.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/diff_utils.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/keyspace.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff_env_test.go
Owners: @deepthi, @ajm188, @doeg, @shlomi-noach, @rohit-nayak-ps

Inclusive naming: master->primary in topo package
  go/vt/topo/conn.go
  go/vt/topo/consultopo/election.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/etcd2topo/election.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/helpers/copy_test.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/k8stopo/election.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_test.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/shard.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/test/election.go
  go/vt/topo/zk2topo/election.go
  go/vt/vtctld/workflow.go
Owners: @deepthi, @rafael, @ajm188, @doeg, @rohit-nayak-ps

Inclusive naming: master->primary in topo package
  go/vt/topo/conn.go
  go/vt/topo/consultopo/election.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/etcd2topo/election.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/helpers/copy_test.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/k8stopo/election.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_test.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/shard.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/test/election.go
  go/vt/topo/zk2topo/election.go
  go/vt/vtctld/workflow.go
Owners: @deepthi, @rafael, @ajm188, @doeg, @rohit-nayak-ps

utilizing v0.10.3-ps.v1-vitess
  go.mod
  go.sum
Owners: none

utilizing v0.10.3-ps.v1-vitess
  go.mod
  go.sum
Owners: none

added pushing projection on concatenate as long as no new field is pushed
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

added pushing projection on concatenate as long as no new field is pushed
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

improved merging logic for union queries with select DBAs
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

improved merging logic for union queries with select DBAs
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

merge union subquery with outer query referencing the same system schemas
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

merge union subquery with outer query referencing the same system schemas
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

refactor code into a separate function so that it can be reused
  go/vt/vtgate/planbuilder/querytree_transformers.go
Owners: @harshit-gangal, @systay, @frouioui

refactor code into a separate function so that it can be reused
  go/vt/vtgate/planbuilder/querytree_transformers.go
Owners: @harshit-gangal, @systay, @frouioui

collations: remove dependency on format package
  go/mysql/collations/internal/uca/fasttables.go
  go/mysql/collations/internal/uca/layout.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlucadata.go
  go/mysql/collations/tools/makecolldata/codegen/codegen.go
  go/mysql/collations/tools/makecolldata/codegen/format/format.go
  go/mysql/collations/tools/makecolldata/codegen/format/rewrite.go
  go/mysql/collations/tools/makecolldata/codegen/format/simplify.go
  go/mysql/collations/tools/makecolldata/main.go
Owners: @harshit-gangal, @systay

collations: remove dependency on format package
  go/mysql/collations/internal/uca/fasttables.go
  go/mysql/collations/internal/uca/layout.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlucadata.go
  go/mysql/collations/tools/makecolldata/codegen/codegen.go
  go/mysql/collations/tools/makecolldata/codegen/format/format.go
  go/mysql/collations/tools/makecolldata/codegen/format/rewrite.go
  go/mysql/collations/tools/makecolldata/codegen/format/simplify.go
  go/mysql/collations/tools/makecolldata/main.go
Owners: @harshit-gangal, @systay

gomod: tidy
  go.mod
Owners: none

gomod: tidy
  go.mod
Owners: none

ci: enable revive in golangci-lint to replace golint
  .golangci.yml
  misc/git/hooks/golangci-lint
  misc/git/hooks/golint
Owners: none

ci: enable revive in golangci-lint to replace golint
  .golangci.yml
  misc/git/hooks/golangci-lint
  misc/git/hooks/golint
Owners: none

merge dba routes if either/both sides does not have any routing info
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

merge dba routes if either/both sides does not have any routing info
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

add more retries to cellalias and messaging test
  test/config.json
Owners: none

add more retries to cellalias and messaging test
  test/config.json
Owners: none

ci: do not run golangci-lint with `new` in CI
  .golangci.yml
Owners: none

ci: do not run golangci-lint with `new` in CI
  .golangci.yml
Owners: none

messager: cleanup interdependecies
  .golangci.yml
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @askdba
/examples/region_sharding @deepthi
/java/ @harshit-gangal @pH14
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtctld @ajm188 @doeg @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
