Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @morgo, @derekperkins, @dkhenry, @shlomi-noach, @rohit-nayak-ps, @harshit-gangal, @systay, @deepthi

OnlineDDL bugfix: make sure schema is applied on tablet
  go/mysql/constants.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @harshit-gangal, @systay, @sougou

Added the test folder to config.json
  test/config.json
Owners: @sougou

Added the test folder to config.json
  test/config.json
Owners: @sougou

Fixed Json format for unsharded Vschema in main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
Owners: @harshit-gangal, @systay

Fixed Json format for unsharded Vschema in main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
Owners: @harshit-gangal, @systay

Modified test to prevent secure-file-priv error
  go/test/endtoend/vtgate/unsharded/main_test.go
Owners: @harshit-gangal, @systay

Modified test to prevent secure-file-priv error
  go/test/endtoend/vtgate/unsharded/main_test.go
Owners: @harshit-gangal, @systay

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @morgo
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/mysqlctl/mysqld.go @morgo
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtctl @deepthi
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/web/vtctld2 @rohit-nayak-ps
