Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @shlomi-noach, @mattlord, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @frouioui, @GuptaManan100, @harshit-gangal, @vmg, @ajm188, @doeg, @notfelineit, @systay, @rafael

Fix schema tracking issue when `PRIMARY` tablet changes (#10335)
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/vtgate/schema/update_controller.go
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui

Fix schema tracking issue when `PRIMARY` tablet changes (#10335)
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/vtgate/schema/update_controller.go
  test/config.json
Owners: @harshit-gangal, @systay, @frouioui

bug fix: revert changes that tried to handle Equal as a single shard opcode
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Owners: @harshit-gangal, @systay, @frouioui

schemadiff: validate columns referenced by FOREIGN KEY
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

Fix for empty results when no shards can be found to route to [R13, v3] (#10202)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/select_cases_with_user_as_default.txt
Owners: @harshit-gangal, @systay, @frouioui

Fix for empty results when no shards can be found to route to [v3]
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/select_cases_with_user_as_default.txt
Owners: @harshit-gangal, @systay, @frouioui

remove references to MySQL and Percona 5.6 (#10295)
  Makefile
  docker/base/Dockerfile.mysql56
  docker/base/Dockerfile.percona
  docker/bootstrap/Dockerfile.mysql56
  docker/bootstrap/Dockerfile.percona
  docker/bootstrap/README.md
  docker/bootstrap/build.sh
  docker/lite/Dockerfile.mysql56
  docker/lite/Dockerfile.percona
  docker/lite/install_dependencies.sh
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @derekperkins, @dkhenry, @mattlord, @rohit-nayak-ps

remove references to MySQL and Percona 5.6 (#10295)
  Makefile
  docker/base/Dockerfile.mysql56
  docker/base/Dockerfile.percona
  docker/bootstrap/Dockerfile.mysql56
  docker/bootstrap/Dockerfile.percona
  docker/bootstrap/README.md
  docker/bootstrap/build.sh
  docker/lite/Dockerfile.mysql56
  docker/lite/Dockerfile.percona
  docker/lite/install_dependencies.sh
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @derekperkins, @dkhenry, @mattlord, @rohit-nayak-ps

test: changed test to use another table to avoid conflict
  go/vt/vtgate/vtgate_test.go
Owners: @harshit-gangal, @systay, @frouioui

test: changed test to use another table to avoid conflict
  go/vt/vtgate/vtgate_test.go
Owners: @harshit-gangal, @systay, @frouioui

schemadiff: validate columns referenced by FOREIGN KEY (#10359)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

schemadiff: validate columns referenced by FOREIGN KEY (#10359)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

test refactor: extract string constants to files
  go/test/endtoend/vtgate/concurrentdml/main_test.go
  go/test/endtoend/vtgate/concurrentdml/sharded_schema.sql
  go/test/endtoend/vtgate/concurrentdml/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/unsharded_schema.sql
  go/test/endtoend/vtgate/gen4/unsharded_vschema.json
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/schema.sql
  go/test/endtoend/vtgate/queries/foundrows/vschema.json
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/test/endtoend/vtgate/queries/insert/main_test.go
  go/test/endtoend/vtgate/queries/insert/sharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/vschema.json
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/vschema.json
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
Owners: @harshit-gangal, @systay, @frouioui

SQLParser:Refactoring Fixing Parser Aggr Function
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/testdata/onecase.txt
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

Add support for parsing ARRAY in cast / convert operations
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Revert super_read_only config file changes
  Makefile
  config/mycnf/mysql57.cnf
  config/mycnf/mysql80.cnf
  go/vt/mysqlctl/rice-box.go
Owners: @deepthi, @shlomi-noach, @mattlord

Remove MySQL 5.6 config
  config/mycnf/mysql56.cnf
  go/vt/mysqlctl/rice-box.go
Owners: @deepthi, @shlomi-noach, @mattlord

fix: the return type of count was wrong
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/symtab.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

fix: vtexplain commit order flaky
  go/vt/vtexplain/vtexplain_vtgate.go
Owners: none

test: removed use of primarySession and use local session
  go/vt/vtgate/executor_dml_test.go
Owners: @harshit-gangal, @systay, @frouioui

feat: use RegexpLikeExpr for RLIKE and REGEXP
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Owners: @harshit-gangal, @systay, @GuptaManan100

refactor: remove unused structs and constants
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

tests: fix failing tests
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/tracked_buffer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100

add parsing for `SRID` (#164)
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
Owners: @harshit-gangal, @systay, @GuptaManan100

Sanitize log messages
  go/vt/vtgate/buffer/shard_buffer.go
  go/vt/vtgate/errorsanitizer/errorSanitizer.go
  go/vt/vtgate/errorsanitizer/errorSanitizer_test.go
Owners: @harshit-gangal, @systay, @frouioui

Add detailed comment
  go/vt/vtgate/errorsanitizer/errorSanitizer.go
Owners: @harshit-gangal, @systay, @frouioui

Add support for parsing ARRAY in cast / convert operations (#10362)
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Add support for parsing ARRAY in cast / convert operations (#10362)
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Use sqlparser's parsing and reconstruction to programmatically generate the shadow table's CREATE TABLE statement
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: none

less verbose test
  go/test/endtoend/cluster/vttablet_process.go
Owners: none

cleanup vrepl parser code, use vitess's sqlparser instead
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/parser_test.go
Owners: none

validate CreateTable statement
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-child/expect_failure
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
Owners: @shlomi-noach

Adding UUIDv5() utility function
  go/textutil/hash.go
Owners: none

unit test
  go/textutil/hash_test.go
Owners: none

added CHECK CONSTRAINT tests
  go/test/endtoend/onlineddl/vrepl_suite/testdata/check-constraint/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/check-constraint/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/ignore_versions
Owners: @shlomi-noach

assigning new unique names to constraints
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Owners: none

test refactor: extract string constants to files (#10358)
  go/test/endtoend/vtgate/concurrentdml/main_test.go
  go/test/endtoend/vtgate/concurrentdml/sharded_schema.sql
  go/test/endtoend/vtgate/concurrentdml/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/unsharded_schema.sql
  go/test/endtoend/vtgate/gen4/unsharded_vschema.json
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/schema.sql
  go/test/endtoend/vtgate/queries/foundrows/vschema.json
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/test/endtoend/vtgate/queries/insert/main_test.go
  go/test/endtoend/vtgate/queries/insert/sharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/vschema.json
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/vschema.json
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
Owners: @harshit-gangal, @systay, @frouioui

test refactor: extract string constants to files (#10358)
  go/test/endtoend/vtgate/concurrentdml/main_test.go
  go/test/endtoend/vtgate/concurrentdml/sharded_schema.sql
  go/test/endtoend/vtgate/concurrentdml/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/unsharded_schema.sql
  go/test/endtoend/vtgate/gen4/unsharded_vschema.json
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/schema.sql
  go/test/endtoend/vtgate/queries/foundrows/vschema.json
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/test/endtoend/vtgate/queries/insert/main_test.go
  go/test/endtoend/vtgate/queries/insert/sharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/vschema.json
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/vschema.json
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
Owners: @harshit-gangal, @systay, @frouioui

Fix failure when Unowned lookup IS NULL (#10346)
  go/test/endtoend/vtgate/lookup_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/gen4_planner.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Fix failure when Unowned lookup IS NULL (#10346)
  go/test/endtoend/vtgate/lookup_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/gen4_planner.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/docker/ @derekperkins @dkhenry @mattlord
/examples/compose @shlomi-noach
/examples/demo @sougou @mattlord
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps @frouioui @mattlord
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @doeg @notfelineit
/go/cmd/vtctldclient @ajm188 @doeg @notfelineit
/go/internal/flag @ajm188
/go/mysql @harshit-gangal @systay @mattlord
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/vt/proto/vtadmin @ajm188 @doeg @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg @notfelineit
/go/vt/vtctl/vtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctld @ajm188 @deepthi @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/wrangler @deepthi @rohit-nayak-ps @mattlord
/go/vt/workflow @rohit-nayak-ps @mattlord
/proto/vtadmin.proto @ajm188 @doeg @notfelineit
/proto/vtctldata.proto @ajm188 @doeg @notfelineit
/proto/vtctlservice.proto @ajm188 @doeg @notfelineit
/web/vtadmin @ajm188 @doeg @notfelineit
/web/vtctld2 @doeg @notfelineit @rohit-nayak-ps
