Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @frouioui, @vmg, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach, @GuptaManan100, @derekperkins, @notfelineit, @timvaillancourt, @dbussink, @arthurschreiber

refactor: simplify
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

feat: added methods for using different part of planning based on cached and uncached plan, moved prepare path to it
  go/vt/sqlparser/normalizer.go
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/plan_execute.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

prepare to return parameter count
  go/cmd/vtgateclienttest/services/echo.go
  go/cmd/vtgateclienttest/services/errors.go
  go/cmd/vtgateclienttest/services/fallback.go
  go/cmd/vtgateclienttest/services/terminal.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/query.go
  go/mysql/query_test.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vtgate/vtgateservice/interface.go
  proto/vtgate.proto
Owners: @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

updated test to use new planning methods
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

added params count to vtgate client prepare protocol implementation
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

use new plan methods
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/prepared_statement.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

codegen
  go/vt/vtgate/engine/cached_size.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

added prepared bool to VTGate Execute request to use raw query for getting plan without parsing and normalizing
  go/cmd/vtgateclienttest/services/callerid.go
  go/cmd/vtgateclienttest/services/echo.go
  go/cmd/vtgateclienttest/services/errors.go
  go/cmd/vtgateclienttest/services/fallback.go
  go/cmd/vtgateclienttest/services/terminal.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/recovery/recovery_util.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vitessdriver/driver.go
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/bench_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_scatter_stats_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateservice/interface.go
  go/vtbench/client.go
  proto/vtgate.proto
Owners: @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: fix test calls
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/transaction/twopc/metric/metric_test.go
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/grpc_api/acl_test.go
  go/test/endtoend/vtgate/grpc_api/execute_test.go
  go/test/endtoend/vtgate/queries/reference/main_test.go
Owners: @mattlord, @rohit-nayak-ps, @derekperkins, @harshit-gangal, @systay, @frouioui, @GuptaManan100, @deepthi

use uint16 for parameter count in plan
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

benchmark: added non-prepare statement execution
  go/test/endtoend/preparestmt/benchmark_test.go
Owners: @deepthi

perf: avoid extra allocs by restricting normalization for certain SQLNode
  go/vt/sqlparser/normalizer.go
Owners: @harshit-gangal, @systay, @GuptaManan100

feat: add support for Visitable on CopyOnRewrite
  go/tools/asthelpergen/copy_on_rewrite_gen.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/integration_visit_test.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/rewriter_api.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

feat: use the prev target keyspace shard
  go/vt/discovery/healthcheck.go
Owners: @deepthi, @frouioui

Move all the wrapping to vtgate + more tests
  go/test/endtoend/reparent/newfeaturetest/reparent_in_tx_test.go
  go/vt/vterrors/constants.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/tabletserver/state_manager.go
Owners: @deepthi, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps, @timvaillancourt

Only count errors not due to client
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Owners: @rohit-nayak-ps, @mattlord

Use reset instead of adding zero
  go/vt/vtgate/vstream_manager.go
Owners: @rohit-nayak-ps, @mattlord

add more tests
  go/test/endtoend/reparent/newfeaturetest/reparent_in_tx_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/queryservice/wrapped_test.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Switch back to add zero
  go/vt/vtgate/vstream_manager.go
Owners: @rohit-nayak-ps, @mattlord

fix test expectations
  go/test/endtoend/reparent/newfeaturetest/reparent_in_tx_test.go
Owners: @deepthi

Revert "Replace all occurrences of `tx_isolation` with `transaction_isolation`"
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor_set_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

Replace all occurrences of `tx_isolation` with `transaction_isolation`
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor_set_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

Use transaction_isolation vs tx_isolation
  java/jdbc/src/main/java/io/vitess/jdbc/VitessConnection.java
Owners: @harshit-gangal

Replace tx_isolation in executor_set_test.go
  go/vt/vtgate/executor_set_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Replace tx_isolation in sysvar.go
  go/vt/sysvars/sysvars.go
Owners: @harshit-gangal, @systay

Remove duplicate transaction_isolation in sysvars.go
  go/vt/sysvars/sysvars.go
Owners: @harshit-gangal, @systay

PR suggestions
  go/vt/vtorc/config/config.go
  go/vt/vtorc/discovery/queue.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

update test, simplify
  go/vt/vtorc/discovery/queue.go
  go/vt/vtorc/discovery/queue_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

go/mysql: conn.go: Fix read-after-recycle bug of the packet byte buffer in COM_STMT_SEND_LONG_DATA.
  go/mysql/conn.go
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

go/mysql: conn.go: Fix read-after-recycle bug in COM_REGISTER_REPLICA and COM_BINLOG_DUMP_GTID.
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

test: update test expectations
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/vt/sqlparser/rewriter_api.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

feat: re-use PlanKey for prepared statements
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: add comment explaining a test
  go/vt/vtgate/executor_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

added by table metrics and addressed review comments
  changelog/22.0/22.0.0/summary.md
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/tx_conn_test.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: update test
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Use name and keyspace locks, and other fixes
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
Owners: @mattlord, @rohit-nayak-ps

update metric name 'Queries' -> 'QueryExecutions'
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

rollback test change
  go/vt/vtgate/tx_conn_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add a Visitable interface to support AST nodes declared outside sqlparser (#17875)
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/copy_on_rewrite_gen.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/integration/ast_visit.go
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/integration_visit_test.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/rewrite_gen.go
  go/tools/asthelpergen/visit_gen.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/rewriter_api.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

first steps in using JoinPredicate
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/predicates/predicate.go
  go/vt/vtgate/planbuilder/operators/predicates/tracker.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

.github/CODEOWNERS:

* @deepthi
bootstrap.sh @deepthi @frouioui @vmg
go.mod @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
go.sum @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
/.github/ @deepthi @mattlord @rohit-nayak-ps @frouioui
/.github/ISSUE_TEMPLATE/ @deepthi @frouioui @mattlord
/.github/workflows/ @deepthi @frouioui @mattlord @rohit-nayak-ps
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @derekperkins @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @mattlord @rohit-nayak-ps
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui @mattlord
/examples/region_sharding @deepthi @mattlord
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @deepthi @mattlord
/go/cmd/vtadmin @notfelineit
/go/cmd/vtctldclient @mattlord
/go/cmd/vtctldclient/command/throttler.go @shlomi-noach @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @deepthi @harshit-gangal
/go/protoutil @deepthi @mattlord
/go/sqltypes @harshit-gangal @shlomi-noach @vmg
/go/test/endtoend/onlineddl @rohit-nayak-ps @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/schemadiff @shlomi-noach @mattlord
/go/test/endtoend/transaction @harshit-gangal @systay @frouioui @GuptaManan100
/go/test/endtoend/*throttler* @shlomi-noach @mattlord @timvaillancourt
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @notfelineit
/go/vt/schema @mattlord @shlomi-noach
/go/vt/servenv @deepthi @dbussink
/go/vt/schemadiff @shlomi-noach @mattlord
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @deepthi @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi @rohit-nayak-ps
/go/vt/vtctl/vtctl.go @notfelineit @rohit-nayak-ps
/go/vt/vtctl/grpcvtctldclient @notfelineit @mattlord
/go/vt/vtctl/grpcvtctldserver @notfelineit @mattlord
/go/vt/vtctl/reparentutil @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @notfelineit @mattlord
/go/vt/vtctld @deepthi @notfelineit @rohit-nayak-ps @mattlord
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/evalengine @dbussink @vmg @systay
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/rpc_throttler.go @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletserver/throttle @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vdiff @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps @timvaillancourt
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/vttablet/*tmclient* @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/vtctl/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @notfelineit @mattlord
/proto/vtctldata.proto @notfelineit @mattlord
/proto/vtctlservice.proto @notfelineit @mattlord
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps @deepthi @mattlord @harshit-gangal
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @notfelineit
/web/vtadmin/src/proto @deepthi @harshit-gangal @mattlord
