Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @derekperkins, @dkhenry, @morgo

demo: rework WIP
  examples/demo/demo.go
  examples/demo/demo.js
  examples/demo/result.html
Owners: @sougou

demo: modernize UI
  examples/demo/demo.go
  examples/demo/index.html
  examples/demo/result.html
Owners: @sougou

demo: add querylog
  examples/demo/demo.go
Owners: @sougou

ComInitDB can now return an error (#17)
  go/mysql/conn.go
  go/mysql/fakesqldb/server.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtqueryserver/plugin_mysql_server.go
  go/vt/vtqueryserver/plugin_mysql_server_test.go
Owners: @sougou

vtcompose: add err check
  examples/compose/vtcompose/vtcompose.go
Owners: @sougou

vtcompose: add err check
  examples/compose/vtcompose/vtcompose.go
Owners: @sougou

Moved inital sharding multi to indeepndent workflow
  .github/workflows/cluster_initial_sharding_multi.yml
  test/config.json
Owners: @sougou

Moved inital sharding multi to indeepndent workflow
  .github/workflows/cluster_initial_sharding_multi.yml
  test/config.json
Owners: @sougou

addressed review comments
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/engine/update_target.go
  go/vt/vtgate/engine/update_target_test.go
  go/vt/vtgate/planbuilder/builder.go
Owners: @sougou

addressed review comments
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/engine/update_target.go
  go/vt/vtgate/engine/update_target_test.go
  go/vt/vtgate/planbuilder/builder.go
Owners: @sougou

removed vschema ddl test which creates new keyspace
  go/vt/vtgate/executor_test.go
Owners: @sougou

removed vschema ddl test which creates new keyspace
  go/vt/vtgate/executor_test.go
Owners: @sougou

Change helm charts to use the k8s topology by default
  examples/helm/101_initial_cluster.yaml
  examples/helm/201_customer_keyspace.yaml
  examples/helm/202_customer_tablets.yaml
  examples/helm/203_vertical_split.yaml
  examples/helm/204_vertical_migrate_replicas.yaml
  examples/helm/205_vertical_migrate_master.yaml
  examples/helm/206_clean_commerce.yaml
  examples/helm/301_customer_sharded.yaml
  examples/helm/302_new_shards.yaml
  examples/helm/303_horizontal_split.yaml
  examples/helm/304_migrate_replicas.yaml
  examples/helm/305_migrate_master.yaml
  examples/helm/306_down_shard_0.yaml
  examples/helm/307_delete_shard_0.yaml
  examples/helm/308_final.yaml
  helm/vitess/CHANGELOG.md
  helm/vitess/Chart.yaml
  helm/vitess/README.md
  helm/vitess/crds/VitessTopoNodes-crd.yaml
  helm/vitess/examples/minikube.yaml
  helm/vitess/templates/_jobs.tpl
  helm/vitess/templates/_orchestrator.tpl
  helm/vitess/templates/_pmm.tpl
  helm/vitess/templates/_vtctld.tpl
  helm/vitess/templates/_vtgate.tpl
  helm/vitess/templates/_vttablet.tpl
  helm/vitess/templates/vitess.yaml
  helm/vitess/values.yaml
Owners: @sougou, @derekperkins, @dkhenry

Change helm charts to use the k8s topology by default
  examples/helm/101_initial_cluster.yaml
  examples/helm/201_customer_keyspace.yaml
  examples/helm/202_customer_tablets.yaml
  examples/helm/203_vertical_split.yaml
  examples/helm/204_vertical_migrate_replicas.yaml
  examples/helm/205_vertical_migrate_master.yaml
  examples/helm/206_clean_commerce.yaml
  examples/helm/301_customer_sharded.yaml
  examples/helm/302_new_shards.yaml
  examples/helm/303_horizontal_split.yaml
  examples/helm/304_migrate_replicas.yaml
  examples/helm/305_migrate_master.yaml
  examples/helm/306_down_shard_0.yaml
  examples/helm/307_delete_shard_0.yaml
  examples/helm/308_final.yaml
  helm/vitess/CHANGELOG.md
  helm/vitess/Chart.yaml
  helm/vitess/README.md
  helm/vitess/crds/VitessTopoNodes-crd.yaml
  helm/vitess/examples/minikube.yaml
  helm/vitess/templates/_jobs.tpl
  helm/vitess/templates/_orchestrator.tpl
  helm/vitess/templates/_pmm.tpl
  helm/vitess/templates/_vtctld.tpl
  helm/vitess/templates/_vtgate.tpl
  helm/vitess/templates/_vttablet.tpl
  helm/vitess/templates/vitess.yaml
  helm/vitess/values.yaml
Owners: @sougou, @derekperkins, @dkhenry

DDL plan to use original query
  go/vt/sqlparser/analyzer.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_executor_test.go
  go/vt/vtgate/plan_executor_vschema_ddl_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
Owners: @sougou

DDL plan to use original query
  go/vt/sqlparser/analyzer.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_executor_test.go
  go/vt/vtgate/plan_executor_vschema_ddl_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
Owners: @sougou

Implement #6029 by chomping trailing newlines in -topo_zk_auth_file Potential breaking change if your passwords have trailing newlines.
  go/vt/topo/zk2topo/zk_conn.go
Owners: @sougou

Implement #6029 by chomping trailing newlines in -topo_zk_auth_file Potential breaking change if your passwords have trailing newlines.
  go/vt/topo/zk2topo/zk_conn.go
Owners: @sougou

Clear warnings in the plan-executor
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/plan_executor_test.go
Owners: @sougou

Clear warnings in the plan-executor
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/plan_executor_test.go
Owners: @sougou

Temp debug err in gh action
  .github/workflows/cluster_endtoend.yml
  test/config.json
Owners: @sougou

Temp debug err in gh action
  .github/workflows/cluster_endtoend.yml
  test/config.json
Owners: @sougou

moved mysql_server test to shard 14
  .github/workflows/cluster_endtoend.yml
  test/config.json
Owners: @sougou

moved mysql_server test to shard 14
  .github/workflows/cluster_endtoend.yml
  test/config.json
Owners: @sougou

Change expectNontxQueries to only ignore update pos for _vt.vrepl. Add passed-through queries back to wanted queries
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @sougou

Change expectNontxQueries to only ignore update pos for _vt.vrepl. Add passed-through queries back to wanted queries
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @sougou

Update more wanted query lists
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @sougou

Update more wanted query lists
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @sougou

componentization: remove custom logging
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/heartbeat/reader.go
  go/vt/vttablet/heartbeat/writer.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/replication_watcher.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/tabletenv/env.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_pool.go
Owners: @sougou

componentization: TxSerializer
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer_test.go
Owners: @sougou

componentization: tabletenv stats WIP
  go/vt/dbconnpool/connection.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/dbconnpool/pooled_connection.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/tabletenv/stats.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @sougou

componentization: tabletserver
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @sougou

componentization: schema and QueryEngine
  examples/demo/demo.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Owners: @sougou

componentization: QueryTimings & QPSRates
  go/vt/vttablet/tabletmanager/state_change.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/status.go
  go/vt/vttablet/tabletserver/tabletenv/stats.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_executor.go
  go/vt/vttablet/tabletservermock/controller.go
Owners: @sougou

componentization: all other vars
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_pool.go
Owners: @sougou

componentization: pools
  go/vt/vttablet/heartbeat/reader.go
  go/vt/vttablet/heartbeat/reader_test.go
  go/vt/vttablet/heartbeat/writer.go
  go/vt/vttablet/heartbeat/writer_test.go
  go/vt/vttablet/tabletserver/bench_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/testutils_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @sougou

componentization: clean up dbconnpool
  go/pools/resource_pool.go
  go/vt/dbconnpool/connection.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/dbconnpool/pooled_connection.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/heartbeat/writer.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Owners: @sougou, @morgo

componentization: WaitTimings, pka WaitStats
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @sougou

componentization: add name to NewTabletServer
  go/cmd/vttablet/vttablet.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/tabletserver/bench_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @sougou

componentization: all other vars
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenv.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_pool.go
Owners: @sougou

.github/CODEOWNERS:

* @sougou

/docker/ @derekperkins @dkhenry
/helm/ @derekperkins @dkhenry
/config/mycnf/ @morgo
/go/vt/mysqlctl/mysqld.go @morgo
