Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frouioui, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach, @derekperkins, @beingnoble03, @timvaillancourt, @dbussink, @arthurschreiber

Add an updated version of the original test
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Fix test
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Add new `force` flag to `DemotePrimary` to force a failover during `EmergencyReparentShard`.
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  proto/tabletmanagerdata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @mattlord, @rohit-nayak-ps, @shlomi-noach, @beingnoble03

`RestartReplication` RPC (#18628)
  changelog/23.0/23.0.0/summary.md
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @harshit-gangal, @mattlord, @rohit-nayak-ps, @shlomi-noach, @beingnoble03

Improve test
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

undo auto fmt
  go/vt/vtgate/balancer/balancer.go
Owners: @harshit-gangal, @systay, @frouioui

fix sqlSelectLimit propagating to subqueries
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/normalizer.go
Owners: @harshit-gangal, @systay, @frouioui

Prevent all races and improve test
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Tiny nits from self review
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Cleanups.
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Restore handling pool being closed.
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

remove tablet from old ring if its target changes
  go/vt/vtgate/balancer/session.go
  go/vt/vtgate/balancer/session_test.go
Owners: @harshit-gangal, @systay, @frouioui

Move pool closed logic.
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Bring this check back.
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Wrap `pool.close` in an atomic pointer.
  go/pools/smartconnpool/pool.go
Owners: @harshit-gangal

Remove manual waiter expiry, rely on pool close channel instead.
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/waitlist.go
  go/pools/smartconnpool/waitlist_test.go
Owners: @harshit-gangal

Better handle concurrent calls to `*ConnPool.Open`.
  go/pools/smartconnpool/pool.go
Owners: @harshit-gangal

Reduce the number of iterations on the close during wait test.
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Don't run this test when the race detector is enabled.
  go/pools/smartconnpool/pool_race_test.go
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Improve semaphore implementation used during race detection.
  go/pools/smartconnpool/pool_race_test.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/sema_race.go
Owners: @harshit-gangal

CONNPOOL: Fix race condition when waiting for connection (#18713)
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/sema_race.go
  go/pools/smartconnpool/waitlist.go
  go/pools/smartconnpool/waitlist_test.go
Owners: @harshit-gangal

Replace the go internal `sema` with channels.
  go/pools/smartconnpool/sema.s
  go/pools/smartconnpool/sema_norace.go
  go/pools/smartconnpool/sema_race.go
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Update syntax to what's supported on go 1.24.
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

CONNPOOL: Fix race condition when waiting for connection (#18713)
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/sema_race.go
  go/pools/smartconnpool/waitlist.go
  go/pools/smartconnpool/waitlist_test.go
Owners: @harshit-gangal

Switch to rendezvous hashing
  go/vt/vtgate/balancer/hashring.go
  go/vt/vtgate/balancer/hashring_test.go
  go/vt/vtgate/balancer/session.go
  go/vt/vtgate/balancer/session_test.go
Owners: @harshit-gangal, @systay, @frouioui

Bump the hang detection timeout to 1 second.
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Bump the timeout to 2 seconds just to be sure.
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

connpool: Bump the hang detection timeout to 1 second. (#18722)
  go/pools/smartconnpool/pool_test.go
Owners: @harshit-gangal

Properly invalidate cached table replication plans on table ID changes
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps, @timvaillancourt

Properly invalidate cached table replication plans on table ID changes
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps, @timvaillancourt

Remove health check
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/balancer/session.go
  go/vt/vtgate/balancer/session_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vtgate/vtgate.go
Owners: @systay, @harshit-gangal, @frouioui, @rohit-nayak-ps, @mattlord, @shlomi-noach, @beingnoble03

Update tests
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
Owners: @rohit-nayak-ps, @shlomi-noach

bump go version to go1.24.8
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.mysql84
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  docker/vttestserver/Dockerfile.mysql84
  test.go
  test/templates/dockerfile.tpl
Owners: @derekperkins, @mattlord, @frouioui, @rohit-nayak-ps, @harshit-gangal

bump go version to go1.25.2
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.mysql84
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  docker/vttestserver/Dockerfile.mysql84
  go.mod
  test.go
  test/templates/dockerfile.tpl
Owners: @derekperkins, @mattlord, @frouioui, @harshit-gangal, @rohit-nayak-ps, @systay

connpool: Don't use go internal `sema` functionality (#18719)
  go/pools/smartconnpool/sema.s
  go/pools/smartconnpool/sema_norace.go
  go/pools/smartconnpool/sema_race.go
  go/pools/smartconnpool/waitlist.go
Owners: @harshit-gangal

Fix context expiration handling in connection pool.
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/tx_pool.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps, @timvaillancourt

Code Freeze of release-23.0
  .github/workflows/code_freeze.yml
Owners: @frouioui, @mattlord, @rohit-nayak-ps

[release-23.0] Code Freeze for `v23.0.0-RC1` (#18729)
  .github/workflows/code_freeze.yml
Owners: @frouioui, @mattlord, @rohit-nayak-ps

Snapshot update: Bump to `v24.0.0-SNAPSHOT` after the `v23.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @dbussink, @harshit-gangal

Add `DumpBinlog` request stubs.
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/queryservice/queryservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
  go/vt/vttablet/queryservice/queryservice.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/binlogdata.proto
  proto/queryservice.proto
Owners: @harshit-gangal, @mattlord, @rohit-nayak-ps, @shlomi-noach, @systay, @timvaillancourt

.github/CODEOWNERS:

bootstrap.sh @frouioui
go.mod @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
go.sum @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
/.github/ @mattlord @rohit-nayak-ps @frouioui
/.github/ISSUE_TEMPLATE/ @frouioui @mattlord
/.github/workflows/ @frouioui @mattlord @rohit-nayak-ps
/config/mycnf/ @shlomi-noach @mattlord
/doc/ @frouioui
/docker/ @derekperkins @mattlord @frouioui
/examples/compose @shlomi-noach @frouioui
/examples/demo @mattlord @rohit-nayak-ps
/examples/local @rohit-nayak-ps @frouioui @mattlord
/examples/operator @frouioui @mattlord
/examples/region_sharding @mattlord
/java/ @harshit-gangal
/go/cmd @mattlord
/go/cmd/vtadmin @beingnoble03
/go/cmd/vtctldclient @mattlord
/go/cmd/vtctldclient/command/throttler.go @shlomi-noach @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps @shlomi-noach @beingnoble03
/go/cmd/vtctldclient/command/backups.go @frouioui @mattlord
/go/cmd/vtbackup @frouioui
/go/internal/flag @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @harshit-gangal
/go/protoutil @mattlord
/go/sqltypes @harshit-gangal @shlomi-noach
/go/test/endtoend/onlineddl @rohit-nayak-ps @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/schemadiff @shlomi-noach @mattlord
/go/test/endtoend/transaction @harshit-gangal @systay @frouioui
/go/test/endtoend/*throttler* @shlomi-noach @mattlord @timvaillancourt
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @shlomi-noach @timvaillancourt
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @mattlord @frouioui
/go/vt/proto @harshit-gangal @mattlord
/go/vt/proto/vtadmin @beingnoble03
/go/vt/schema @mattlord @shlomi-noach
/go/vt/servenv @dbussink
/go/vt/schemadiff @shlomi-noach @mattlord
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/srvtopo @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @mattlord
/go/vt/topotools @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @beingnoble03 @rohit-nayak-ps
/go/vt/vtctl @rohit-nayak-ps
/go/vt/vtctl/vtctl.go @rohit-nayak-ps
/go/vt/vtctl/grpcvtctldclient @mattlord
/go/vt/vtctl/grpcvtctldserver @mattlord
/go/vt/vtctl/reparentutil
/go/vt/vtctl/vtctldclient @mattlord
/go/vt/vtctld @rohit-nayak-ps @mattlord
/go/vt/vterrors @harshit-gangal @systay @frouioui
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord @shlomi-noach @beingnoble03
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord @shlomi-noach @beingnoble03
/go/vt/vtgate/evalengine @dbussink @systay
/go/vt/vtorc @shlomi-noach @timvaillancourt
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/rpc_backup.go @rohit-nayak-ps @shlomi-noach @frouioui
/go/vt/vttablet/tabletmanager/rpc_throttler.go @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletserver/throttle @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord @shlomi-noach @beingnoble03
/go/vt/vttablet/tabletmanager/vdiff @rohit-nayak-ps @mattlord @shlomi-noach @beingnoble03
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord @shlomi-noach @beingnoble03
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps @timvaillancourt
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/vttablet/*tmclient* @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @mattlord @rohit-nayak-ps
/go/vt/vtctl/workflow @mattlord @rohit-nayak-ps @shlomi-noach @beingnoble03
/proto/ @harshit-gangal
/proto/vtadmin.proto @beingnoble03 @mattlord
/proto/vtctldata.proto @mattlord
/proto/vtctlservice.proto @mattlord
/test/ @frouioui @rohit-nayak-ps @mattlord @harshit-gangal
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @beingnoble03
/web/vtadmin/src/proto @harshit-gangal @mattlord @beingnoble03
