Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @harshit-gangal, @pH14, @vmg, @ajm188, @doeg, @systay, @frouioui, @GuptaManan100, @rafael

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @askdba
/examples/region_sharding @deepthi
/java/ @harshit-gangal @pH14
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtctld @ajm188 @doeg @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps

put long calls of VttabletProcessInstance on separate lines
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletgateway/cellalias/cell_alias_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Owners: @harshit-gangal, @systay, @frouioui

fixed more mysql E2E tests with the default charset/collation
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client.go
  go/mysql/client_test.go
  go/mysql/endtoend/query_test.go
  go/mysql/handshake_test.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @frouioui

put long calls of VttabletProcessInstance on separate lines
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletgateway/cellalias/cell_alias_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Owners: @harshit-gangal, @systay, @frouioui

Integration of collation environment in vttablet to use proper charset defaults
  go/cmd/vtcombo/main.go
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/mysql/conn_params.go
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/metadata_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

updated vtcombo to be aware of the collation to use
  go/cmd/vtcombo/main.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vttablet/endtoend/compatibility_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Owners: @harshit-gangal, @systay, @frouioui

update query.pb.go with new hash
  go/vt/proto/query/query.pb.go
Owners: none

cleaned up not required changes
  go/cmd/vtcombo/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/handshake_test.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
Owners: @harshit-gangal, @systay

set charset and collation in vttestserver connection
  go/cmd/vttestserver/vttestserver_test.go
Owners: none

Integration of collation environment in vttablet to use proper charset defaults
  go/cmd/vtcombo/main.go
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/mysql/conn_params.go
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/metadata_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

improve testHandler ComQuery implementation to return non-empty results
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @frouioui

removed additional set collation_connection queries in vtexplain unit tests
  go/vt/vtexplain/vtexplain_flaky_test.go
Owners: none

skip collation_connection set check in vtworker tests using fakesqldb
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

changed default utf8mb4 collation to utf8mb4_general_ci
  go/mysql/constants.go
Owners: @harshit-gangal, @systay

fixed more mysql E2E tests with the default charset/collation
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client.go
  go/mysql/client_test.go
  go/mysql/endtoend/query_test.go
  go/mysql/handshake_test.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @shlomi-noach, @frouioui

changed default utf8mb4 collation to utf8mb4_general_ci
  go/mysql/constants.go
Owners: @harshit-gangal, @systay

send tablet's server version to vtgate and build collation environment using it
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletmanager/tm_init.go
  proto/query.proto
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

set collation in recovery E2E tests
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
Owners: none

set collation in recovery E2E tests
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
Owners: none

collations: changed how we match server version strings for MariaDB to match with i.e: 5.5.5-10.3.31-MariaDB
  go/mysql/collations/env.go
Owners: @harshit-gangal, @systay

send tablet's server version to vtgate and build collation environment using it
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletmanager/tm_init.go
  proto/query.proto
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

set vtgate collation from a goroutine using a health check subscribe
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

fixed collation matching between vtgate and vttablet
  go/mysql/client.go
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

more forgiving tablet when collation are not matching in ExecuteOptions
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @shlomi-noach

changed how we resolve mysql version in vttablet to be more forgiving
  go/vt/dbconfigs/dbconfigs.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

collations: changed how we match server version strings for MariaDB to match with i.e: 5.5.5-10.3.31-MariaDB
  go/mysql/collations/env.go
Owners: @harshit-gangal, @systay

storing vtgate default collation in the executor and more forgiving errors in vtgate.init
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

changed how we resolve mysql version in vttablet to be more forgiving
  go/vt/dbconfigs/dbconfigs.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

set vtgate collation from a goroutine using a health check subscribe
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

more forgiving tablet when collation are not matching in ExecuteOptions
  go/vt/vttablet/tabletserver/query_executor.go
Owners: @harshit-gangal, @systay, @shlomi-noach

storing vtgate default collation in the executor and more forgiving errors in vtgate.init
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

fixed collation matching between vtgate and vttablet
  go/mysql/client.go
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

fixed comments and moved DbServerName to Tablet proto instead of Target
  go/cmd/vttablet/vttablet.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/executor.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  proto/query.proto
  proto/topodata.proto
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

fixed comments and moved DbServerName to Tablet proto instead of Target
  go/cmd/vttablet/vttablet.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/executor.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  proto/query.proto
  proto/topodata.proto
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @shlomi-noach

improved overall code readability
  go/vt/proto/topodata/topodata.pb.go
  go/vt/vtgate/executor.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/metadata_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/testutils_test.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  proto/topodata.proto
Owners: @harshit-gangal, @systay, @frouioui, @deepthi, @shlomi-noach

improved overall code readability
  go/vt/proto/topodata/topodata.pb.go
  go/vt/vtgate/executor.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/metadata_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/testutils_test.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  proto/topodata.proto
Owners: @harshit-gangal, @systay, @frouioui, @deepthi, @shlomi-noach

messager: cleanup interdependecies
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Default buildinfo tablet tags to off
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @deepthi, @shlomi-noach

Default buildinfo tablet tags to off
  go/vt/vttablet/tabletmanager/tm_init.go
Owners: @deepthi, @shlomi-noach

Fix table/sizes query, to allow vttablet schema engine to see partitioned tables.
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay

Fix table/sizes query, to allow vttablet schema engine to see partitioned tables.
  go/mysql/flavor_mysql.go
Owners: @harshit-gangal, @systay
