Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @morgo, @derekperkins, @dkhenry, @shlomi-noach, @rohit-nayak-ps, @harshit-gangal, @systay, @deepthi

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @morgo
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/mysqlctl/mysqld.go @morgo
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtctl @deepthi
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/web/vtctld2 @rohit-nayak-ps

print comment text (temporary)
  go/vt/vtgate/planbuilder/builder.go
Owners: @harshit-gangal, @systay

attempt to fix flaky test
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @shlomi-noach

online DDL identify to throttler with appname; throttler can throttle an app by breaking its name to tokens
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @sougou, @harshit-gangal, @systay, @shlomi-noach

online DDL identify to throttler with appname; throttler can throttle an app by breaking its name to tokens
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Owners: @sougou, @harshit-gangal, @systay, @shlomi-noach

using shlex for better parsing online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

using shlex for better parsing online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

Changed Byte Array to Strings
  go/vt/binlog/event_streamer.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/analyzer_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/expression_converter.go
  go/vt/sqlparser/expression_rewriting.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_next_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/sqlparser/token_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/expr_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/limit.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/vexec/vexec.go
Owners: @sougou, @harshit-gangal, @systay, @shlomi-noach

Fixed some bugs introduced due to conversion
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/stream_migrater.go
  go/vt/wrangler/vexec_plan.go
Owners: @sougou, @rohit-nayak-ps, @deepthi

Fixed tests
  go/vt/sqlparser/ast_test.go
  go/vt/vtgate/engine/memory_sort_test.go
Owners: @harshit-gangal, @systay

applying DDL changes on schema_migrations. Adding 'tablet' column to persist original tablet alias that executed the migration. Adding 'retries' counter column
  go/mysql/constants.go
  go/vt/vtctld/schema.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/withddl/withddl.go
  go/vt/wrangler/vexec_plan.go
Owners: @harshit-gangal, @systay, @sougou, @shlomi-noach, @deepthi, @rohit-nayak-ps

applying DDL changes on schema_migrations. Adding 'tablet' column to persist original tablet alias that executed the migration. Adding 'retries' counter column
  go/mysql/constants.go
  go/vt/vtctld/schema.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/withddl/withddl.go
  go/vt/wrangler/vexec_plan.go
Owners: @harshit-gangal, @systay, @sougou, @shlomi-noach, @deepthi, @rohit-nayak-ps

Fix parsing of online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

Fix parsing of online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

Fix parsing of online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

Fix parsing of online-ddl command line options
  go/vt/vttablet/onlineddl/executor.go
Owners: @sougou

7.0.3 Release Notes
  doc/releasenotes/7_0_3_release_notes.md
Owners: @sougou

7.0.3 Release Notes
  doc/releasenotes/7_0_3_release_notes.md
Owners: @sougou

artifacts cleaned up on migration retries; artifacts ever appended
  go/vt/vttablet/onlineddl/schema.go
Owners: @sougou

artifacts cleaned up on migration retries; artifacts ever appended
  go/vt/vttablet/onlineddl/schema.go
Owners: @sougou

refactor: use mysql IsSchemaApplyError
  go/vt/withddl/withddl.go
Owners: @sougou

refactor: use mysql IsSchemaApplyError
  go/vt/withddl/withddl.go
Owners: @sougou

7.0.3 Release notes updates
  doc/releasenotes/7_0_3_release_notes.md
Owners: @sougou

7.0.3 Release notes updates
  doc/releasenotes/7_0_3_release_notes.md
Owners: @sougou

Add Rohit Nayak to maintainers
  MAINTAINERS.md
Owners: @sougou

Add Rohit Nayak to maintainers
  MAINTAINERS.md
Owners: @sougou

Rename from deadline to timeout
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
Owners: @deepthi

Rename from deadline to timeout
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
Owners: @deepthi

healthcheck: use isIncluded correctly to fix replica/rdonly routing bug
  go.mod
  go.sum
  go/vt/discovery/healthcheck.go
Owners: @sougou, @deepthi

healthcheck: use isIncluded correctly to fix replica/rdonly routing bug
  go.mod
  go.sum
  go/vt/discovery/healthcheck.go
Owners: @sougou, @deepthi

healthcheck: use isIncluded correctly to fix replica/rdonly routing bug
  go/vt/discovery/healthcheck.go
Owners: @deepthi

java: Update version to 8.0.0 for release
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @sougou

java: Update version to 8.0.0 for release
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @sougou

java: Bump SNAPSHOT version to 9.0 after Vitess release 8.0
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @sougou

java: Bump SNAPSHOT version to 9.0 after Vitess release 8.0
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Owners: @sougou

Ensure that we only check serving health for serving types.
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @shlomi-noach

identifying a tablet failure scenario during a migration. This leads the way to retrying a migration after failover
  go/vt/schema/online_ddl.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach, @sougou

identifying a tablet failure scenario during a migration. This leads the way to retrying a migration after failover
  go/vt/schema/online_ddl.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach, @sougou

OnlineDDL bugfix: make sure schema is applied on tablet
  go/mysql/constants.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @harshit-gangal, @systay, @sougou

OnlineDDL bugfix: make sure schema is applied on tablet
  go/mysql/constants.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @harshit-gangal, @systay, @sougou

OnlineDDL bugfix: make sure schema is applied on tablet
  go/mysql/constants.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @harshit-gangal, @systay, @sougou
