Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @shlomi-noach, @mattlord, @derekperkins, @dkhenry, @GuptaManan100, @frouioui, @sougou, @rohit-nayak-ps, @harshit-gangal, @vmg, @ajm188, @notfelineit, @systay, @rafael

change e2e test output
  go/flags/endtoend/vtexplain.txt
Owners: none

copyright year
  go/test/endtoend/onlineddl/fk/onlineddl_fk_test.go
Owners: @shlomi-noach

typo
  go/vt/vttablet/onlineddl/executor.go
Owners: none

improved error message
  go/vt/vttablet/onlineddl/executor.go
Owners: none

improved error message
  go/vt/vttablet/onlineddl/executor.go
Owners: none

expect error text
  go/vt/vttablet/onlineddl/executor_test.go
Owners: none

comment: add few comments to better explain the test and the function
  go/mysql/replication_status.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
Owners: @harshit-gangal, @systay

feat: fix ers to not fail when there is only one replica which fails to set replication source
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Owners: @deepthi

updated error message
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-parent/expect_failure
Owners: @shlomi-noach

minor fixes from PR review
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/vcursor_impl.go
Owners: @harshit-gangal, @systay, @frouioui

consolidated endtoend foreign key tests into onlineddl_scheduler
  .github/workflows/cluster_endtoend_onlineddl_fk.yml
  .github/workflows/cluster_endtoend_onlineddl_fk_mysql57.yml
  go/test/endtoend/onlineddl/fk/onlineddl_fk_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  test/ci_workflow_gen.go
  test/config.json
Owners: @shlomi-noach

apply doc feedback based on website PR feedback
  go/cmd/vtctldclient/command/shard_routing_rules.go
  go/cmd/vtctldclient/command/throttler.go
  go/cmd/vtctldclient/command/topology.go
Owners: @ajm188, @notfelineit

feat: address review comments
  go/vt/vtctl/reparentutil/emergency_reparenter.go
Owners: @deepthi

feat: add lauchable to unit tests as well
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  test/templates/unit_test.tpl
Owners: none

feat: give necessary permissions to the unit test ci
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  test/templates/unit_test.tpl
Owners: none

Add missing backslash to run.sh script
  docker/vttestserver/run.sh
Owners: @derekperkins, @dkhenry, @GuptaManan100, @frouioui

feat: fix rbac config in the operator example
  examples/operator/101_initial_cluster.yaml
Owners: @GuptaManan100, @frouioui, @mattlord

feat: fix rbac config in the operator example
  examples/operator/101_initial_cluster.yaml
Owners: @GuptaManan100, @frouioui, @mattlord

always link to latest
  go/cmd/vtctldclient/command/shard_routing_rules.go
Owners: @ajm188, @notfelineit

Add MariaDB Migration e2e Test
  .github/workflows/unit_test_mariadb103.yml
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  test/config.json
Owners: none

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/docker/ @derekperkins @dkhenry @GuptaManan100 @frouioui
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @GuptaManan100 @frouioui @mattlord
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @notfelineit
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @notfelineit @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/web/vtadmin @ajm188 @notfelineit
/web/vtctld2 @rohit-nayak-ps
