Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @shlomi-noach, @mattlord, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @frouioui, @GuptaManan100, @harshit-gangal, @vmg, @ajm188, @doeg, @notfelineit, @systay, @rafael

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/docker/ @derekperkins @dkhenry @mattlord
/examples/compose @shlomi-noach
/examples/demo @sougou @mattlord
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps @frouioui @mattlord
/examples/operator @GuptaManan100 @frouioui
/examples/region_sharding @deepthi
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188
/go/cmd/vtadmin @ajm188 @doeg @notfelineit
/go/cmd/vtctldclient @ajm188 @doeg @notfelineit
/go/internal/flag @ajm188
/go/mysql @harshit-gangal @systay @mattlord
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/orchestrator @deepthi @shlomi-noach @GuptaManan100
/go/vt/proto/vtadmin @ajm188 @doeg @notfelineit
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg @notfelineit
/go/vt/vtctl/vtctldclient @ajm188 @doeg @notfelineit
/go/vt/vtctld @ajm188 @deepthi @doeg @notfelineit @rohit-nayak-ps
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/wrangler @deepthi @rohit-nayak-ps @mattlord
/go/vt/workflow @rohit-nayak-ps @mattlord
/proto/vtadmin.proto @ajm188 @doeg @notfelineit
/proto/vtctldata.proto @ajm188 @doeg @notfelineit
/proto/vtctlservice.proto @ajm188 @doeg @notfelineit
/web/vtadmin @ajm188 @doeg @notfelineit
/web/vtctld2 @doeg @notfelineit @rohit-nayak-ps

PR feedback: reduce contention + add comments
  go/vt/vtadmin/cache/cache.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

[vtadmin] reparenting actions (#10351)
  examples/local/vtadmin/rbac.yaml
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/http/shards.go
  go/vt/vtadmin/http/tablets.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @rohit-nayak-ps, @frouioui, @mattlord, @ajm188, @doeg, @notfelineit

[vtadmin] reparenting actions (#10351)
  examples/local/vtadmin/rbac.yaml
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/http/shards.go
  go/vt/vtadmin/http/tablets.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @rohit-nayak-ps, @frouioui, @mattlord, @ajm188, @doeg, @notfelineit

Additional schemadiff improvements for indexes (#10345)
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Owners: none

Additional schemadiff improvements for indexes (#10345)
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Owners: none

Update the embedded config data in mysqlctl
  Makefile
  go/vt/mysqlctl/rice-box.go
Owners: @deepthi, @mattlord

Turn super_read_only off temporarily during init
  config/init_db.sql
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/vt/mysqlctl/rice-box.go
Owners: @deepthi, @mattlord

Add automatic read only handling for queries
  config/init_db.sql
  go/mysql/endtoend/client_test.go
  go/mysql/endtoend/query_benchmark_test.go
  go/mysql/endtoend/schema_change_test.go
  go/mysql/query.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/topotest/consul/main_test.go
  go/test/endtoend/topotest/etcd2/main_test.go
  go/test/endtoend/topotest/zk2/main_test.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/mysqlctl/metadata_tables.go
  go/vt/mysqlctl/rice-box.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttest/local_cluster.go
Owners: @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi, @shlomi-noach

Move the SRO handling out of ExecuteFetchMulti
  go/mysql/query.go
Owners: @harshit-gangal, @systay, @mattlord

Properly manage SRO in legacy sharding utils
  go/test/endtoend/sharding/initialsharding/sharding_util.go
Owners: none

Try to fix panic in FormatBindVariables Issue #6813
  go/sqltypes/bind_variables.go
Owners: none

[vtadmin] schema cache (#10120)
  .golangci.yml
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cache/cache.go
  go/vt/vtadmin/cache/cache_test.go
  go/vt/vtadmin/cache/refresh.go
  go/vt/vtadmin/cache/refresh_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache_test.go
  go/vt/vtadmin/http/api.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

[vtadmin] schema cache (#10120)
  .golangci.yml
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cache/cache.go
  go/vt/vtadmin/cache/cache_test.go
  go/vt/vtadmin/cache/refresh.go
  go/vt/vtadmin/cache/refresh_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache_test.go
  go/vt/vtadmin/http/api.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Extract schema-collection fanout to a helper method for later
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Only (back)fill schemas from keyspaces that are not excluded
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Add config for excluding certain keyspaces' schemas from caching
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Add partial-cache-hit handling
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Unit test excludeKeyspaces
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Refactor vtsql to make .conn not need the mutex
  go/vt/vtadmin/vtsql/vtsql.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Implement io.Closer for fakevtctldclient
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Update Cluster.Close to also shutdown proxy connections
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Add backup handling
  go/cmd/vtbackup/vtbackup.go
  go/mysql/endtoend/client_test.go
  go/mysql/endtoend/query_benchmark_test.go
  go/mysql/endtoend/schema_change_test.go
  go/test/endtoend/topotest/consul/main_test.go
  go/test/endtoend/topotest/etcd2/main_test.go
  go/test/endtoend/topotest/zk2/main_test.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/mysqlctl/query.go
Owners: @ajm188, @harshit-gangal, @systay, @mattlord, @frouioui, @deepthi

Update dynamic cluster code to `Close` clusters when finished
  go/vt/vtadmin/api.go
Owners: @ajm188, @doeg, @notfelineit, @rohit-nayak-ps

Move error definitions to separate file
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/types.go
Owners: none

Update single usage of github.com/pkg/errors to errors
  go/vt/wrangler/resharder.go
Owners: @deepthi, @rohit-nayak-ps, @mattlord

Move column level errors to use structured errors
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

Move all apply style errors to structured errors
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

More structured errors for parsing failures
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Owners: none

Always check complete parsing before other operations
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Owners: none

Move all to regular errors package
  go.mod
  go/vt/schemadiff/schema.go
Owners: none

column case insensitive ocmparison
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

partitioning diffs is still column case-sensitive
  go/vt/schemadiff/table_test.go
Owners: none

Structured schemadiff errors (#10356)
  go.mod
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
  go/vt/wrangler/resharder.go
Owners: @deepthi, @rohit-nayak-ps, @mattlord

Structured schemadiff errors (#10356)
  go.mod
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
  go/vt/wrangler/resharder.go
Owners: @deepthi, @rohit-nayak-ps, @mattlord

remove excessivle comments
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Owners: @shlomi-noach

schemadiff: case insensitive col/index/partition name comparison (#10330)
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

schemadiff: case insensitive col/index/partition name comparison (#10330)
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

Add validation of check constraints
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

Add validation of check constraints (#10357)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none

Add validation of check constraints (#10357)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Owners: none
