Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @ajm188, @frouioui, @vmg, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach, @GuptaManan100, @derekperkins, @dkhenry, @notfelineit, @arthurschreiber

Cleanup vreplication tablet flags.
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/flags.go
  go/vt/wrangler/traffic_switcher.go
  vitess-mixin/e2e/vttablet-up.sh
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @notfelineit, @rohit-nayak-ps, @mattlord

onlineddl_vrepl_stress: fix flakiness caused by timeouts (#14295)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @rohit-nayak-ps, @shlomi-noach

onlineddl_vrepl_stress: fix flakiness caused by timeouts (#14295)
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
Owners: @rohit-nayak-ps, @shlomi-noach

Rename Foreign Key enum values in VSchema and drop `FK_` prefix (#14274)
  changelog/18.0/18.0.0/release_notes.md
  changelog/18.0/18.0.0/summary.md
  go/test/endtoend/vtgate/foreignkey/sharded_vschema.json
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_vschema.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @mattlord, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps

Rename Foreign Key enum values in VSchema and drop `FK_` prefix (#14274)
  changelog/18.0/18.0.0/release_notes.md
  changelog/18.0/18.0.0/summary.md
  go/test/endtoend/vtgate/foreignkey/sharded_vschema.json
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/foreignkey/unsharded_vschema.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @mattlord, @GuptaManan100, @arthurschreiber, @shlomi-noach, @rohit-nayak-ps

make list of tablet alias instead of string
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vtgate/vstream_manager.go
Owners: @rohit-nayak-ps, @mattlord

90s ctx deadline
  go/vt/vtgate/vstream_manager.go
Owners: @rohit-nayak-ps, @mattlord

.github/CODEOWNERS:

* @deepthi
bootstrap.sh @ajm188 @deepthi @frouioui @vmg
go.mod @ajm188 @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
go.sum @ajm188 @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
/.github/ @deepthi @mattlord @rohit-nayak-ps @frouioui
/.github/ISSUE_TEMPLATE/ @deepthi @frouioui @mattlord
/.github/workflows/ @deepthi @frouioui @mattlord @rohit-nayak-ps
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @derekperkins @dkhenry @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @mattlord @rohit-nayak-ps
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui @mattlord
/examples/region_sharding @deepthi @mattlord
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @ajm188 @deepthi
/go/cmd/vtadmin @ajm188 @notfelineit
/go/cmd/vtctldclient @ajm188 @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @ajm188 @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @deepthi @harshit-gangal
/go/protoutil @ajm188 @deepthi
/go/sqltypes @harshit-gangal @shlomi-noach @vmg
/go/test/endtoend/onlineddl @rohit-nayak-ps @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @ajm188 @notfelineit
/go/vt/schema @mattlord @shlomi-noach
/go/vt/servenv @deepthi @ajm188
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @deepthi @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @ajm188 @notfelineit @rohit-nayak-ps
/go/vt/vtctl @ajm188 @deepthi @rohit-nayak-ps
/go/vt/vtctl/vtctl.go @notfelineit @rohit-nayak-ps
/go/vt/vtctl/grpcvtctldclient @ajm188 @notfelineit
/go/vt/vtctl/grpcvtctldserver @ajm188 @notfelineit
/go/vt/vtctl/reparentutil @ajm188 @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @ajm188 @notfelineit
/go/vt/vtctld @ajm188 @deepthi @notfelineit @rohit-nayak-ps
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @ajm188 @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/vttablet/*tmclient* @ajm188 @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @ajm188 @notfelineit
/proto/vtctldata.proto @ajm188 @notfelineit
/proto/vtctlservice.proto @ajm188 @notfelineit
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps @deepthi @mattlord @harshit-gangal
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @ajm188 @notfelineit
/web/vtadmin/src/proto @deepthi @harshit-gangal @mattlord
