Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @harshit-gangal, @pH14, @vmg, @ajm188, @doeg, @systay, @frouioui, @GuptaManan100, @rafael

move config files to common utils package
  go/test/endtoend/vtorc/utils/test_config.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer_prevent.json
  go/test/endtoend/vtorc/utils/test_config_promotion_failure.json
  go/test/endtoend/vtorc/utils/test_config_promotion_success.json
Owners: none

move config files to common utils package
  go/test/endtoend/vtorc/utils/test_config.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer_prevent.json
  go/test/endtoend/vtorc/utils/test_config_promotion_failure.json
  go/test/endtoend/vtorc/utils/test_config_promotion_success.json
Owners: none

protect more fields from concurrent access
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
Owners: @harshit-gangal, @systay, @frouioui

protect more fields from concurrent access
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
Owners: @harshit-gangal, @systay, @frouioui

refactor: simplify executor code
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
Owners: @harshit-gangal, @systay, @frouioui

refactor: simplify executor code
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
Owners: @harshit-gangal, @systay, @frouioui

Made isBetween public
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Made isBetween public
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

fix: update name to follow the interface
  go/vt/topo/faketopo/faketopo.go
Owners: @deepthi, @rafael

fix: update name to follow the interface
  go/vt/topo/faketopo/faketopo.go
Owners: @deepthi, @rafael

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @askdba
/examples/region_sharding @deepthi
/java/ @harshit-gangal @pH14
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtctld @ajm188 @doeg @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
