Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @frouioui, @vmg, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach, @GuptaManan100, @derekperkins, @notfelineit, @timvaillancourt, @dbussink, @arthurschreiber

.github/CODEOWNERS:

* @deepthi
bootstrap.sh @deepthi @frouioui @vmg
go.mod @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
go.sum @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
/.github/ @deepthi @mattlord @rohit-nayak-ps @frouioui
/.github/ISSUE_TEMPLATE/ @deepthi @frouioui @mattlord
/.github/workflows/ @deepthi @frouioui @mattlord @rohit-nayak-ps
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @derekperkins @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @mattlord @rohit-nayak-ps
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui @mattlord
/examples/region_sharding @deepthi @mattlord
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @deepthi @mattlord
/go/cmd/vtadmin @notfelineit
/go/cmd/vtctldclient @mattlord
/go/cmd/vtctldclient/command/throttler.go @shlomi-noach @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @deepthi @harshit-gangal
/go/protoutil @deepthi @mattlord
/go/sqltypes @harshit-gangal @shlomi-noach @vmg
/go/test/endtoend/onlineddl @rohit-nayak-ps @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/schemadiff @shlomi-noach @mattlord
/go/test/endtoend/transaction @harshit-gangal @systay @frouioui @GuptaManan100
/go/test/endtoend/*throttler* @shlomi-noach @mattlord @timvaillancourt
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @notfelineit
/go/vt/schema @mattlord @shlomi-noach
/go/vt/servenv @deepthi @dbussink
/go/vt/schemadiff @shlomi-noach @mattlord
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @deepthi @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi @rohit-nayak-ps
/go/vt/vtctl/vtctl.go @notfelineit @rohit-nayak-ps
/go/vt/vtctl/grpcvtctldclient @notfelineit @mattlord
/go/vt/vtctl/grpcvtctldserver @notfelineit @mattlord
/go/vt/vtctl/reparentutil @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @notfelineit @mattlord
/go/vt/vtctld @deepthi @notfelineit @rohit-nayak-ps @mattlord
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/evalengine @dbussink @vmg @systay
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/rpc_throttler.go @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletserver/throttle @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vdiff @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps @timvaillancourt
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/vttablet/*tmclient* @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/vtctl/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @notfelineit @mattlord
/proto/vtctldata.proto @notfelineit @mattlord
/proto/vtctlservice.proto @notfelineit @mattlord
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps @deepthi @mattlord @harshit-gangal
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @notfelineit
/web/vtadmin/src/proto @deepthi @harshit-gangal @mattlord

feat: help dual merging with the new join predicates - wip
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/recurse_cte.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

feat: dont add predicates if already under the route
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/hash_join_test.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/predicates/predicate.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

re-instate the derived table rewriting
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

remove chan buffer len
  go/vt/vtorc/discovery/queue.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

fix test
  go/vt/vtorc/discovery/queue_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

feat: create a new instance when cloning
  go/vt/vtgate/planbuilder/operators/predicates/predicate.go
  go/vt/vtgate/semantics/semantic_table.go
  go/vt/vtgate/semantics/table_set.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

only use a predicate ID if it's tracked
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

handle CTE predicates
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/recurse_cte.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

queryTables -> queryExecutionsByTable metric name change
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
Owners: @deepthi, @harshit-gangal, @systay, @frouioui, @GuptaManan100

Add stats for shards watched by VTOrc, purge stale shards (#17815)
  go/vt/vtorc/inst/shard_dao.go
  go/vt/vtorc/inst/shard_dao_test.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/vtorc/logic/keyspace_shard_discovery_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

`vtorc`: use `golang.org/x/sync/semaphore`, add flag for db concurrency (#17837)
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/inst/instance_dao.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

`vtorc`: add index for `inst.ReadInstanceClusterAttributes` table scan (#17866)
  go/vt/vtorc/db/generate_base.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt
