Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @harshit-gangal, @pH14, @vmg, @ajm188, @doeg, @systay, @frouioui, @GuptaManan100, @rafael

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @askdba
/examples/region_sharding @deepthi
/java/ @harshit-gangal @pH14
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtctld @ajm188 @doeg @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps

messager: cleanup interdependecies
  .golangci.yml
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Passing the charset from vtgate to vttablet and checking if they match
  go/vt/dbconfigs/dbconfigs.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
  proto/vtgate.proto
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

fixed writer_test's TestCreateSchema test
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Improved the creation of mysql connection using a variable collation
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

Set the conn collation after creating the MySQL conn, to avoid collation ID overflow in SSLRequest
  go/mysql/client.go
  go/mysql/constants.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Owners: @harshit-gangal, @systay, @shlomi-noach

fixed tabletserver unit tests
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

applied golint in vtgate.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

fixed writer_test's TestCreateSchema test
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Improved the way we set the character set during the handshake protocol with MySQL
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/mysql/constants.go
  go/vt/dbconfigs/dbconfigs.go
Owners: @harshit-gangal, @systay

Addition of the charset and names flags to vtgate
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  proto/vtgate.proto
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

Set the conn collation after creating the MySQL conn, to avoid collation ID overflow in SSLRequest
  go/mysql/client.go
  go/mysql/constants.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Passing the charset from vtgate to vttablet and checking if they match
  go/vt/dbconfigs/dbconfigs.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
  proto/vtgate.proto
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

changed vttest to use new default collation
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
  go/vt/vttest/vtprocess.go
Owners: none

Improved the creation of mysql connection using a variable collation
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

Addition of the charset and names flags to vtgate
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  proto/vtgate.proto
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

Small doc and error handling in vttablet server improvements
  go/vt/proto/query/query.pb.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

Small doc and error handling in vttablet server improvements
  go/vt/proto/query/query.pb.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

fixed tabletserver unit tests
  go/mysql/fakesqldb/server.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Changed vtgate's charset flag to collation flag and propage the information all the way to the tablet
  go/cmd/vttablet/vttablet.go
  go/mysql/conn_params.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @shlomi-noach

applied golint in vtgate.go
  go/vt/vtgate/vtgate.go
Owners: @harshit-gangal, @systay, @frouioui

Changed vtgate's charset flag to collation flag and propage the information all the way to the tablet
  go/cmd/vttablet/vttablet.go
  go/mysql/conn_params.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @shlomi-noach

Improved the way we set the character set during the handshake protocol with MySQL
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/mysql/constants.go
  go/vt/dbconfigs/dbconfigs.go
Owners: @harshit-gangal, @systay

changed vttest to use new default collation
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
  go/vt/vttest/vtprocess.go
Owners: none

update query.pb.go with new hash
  go/vt/proto/query/query.pb.go
Owners: none

updated vtcombo to be aware of the collation to use
  go/cmd/vtcombo/main.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/endtoend/deletetest/delete_test.go
  go/vt/vttablet/endtoend/compatibility_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Owners: @harshit-gangal, @systay, @frouioui

changed default collation for vttablet in E2E's cluster process
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletgateway/cellalias/cell_alias_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Owners: @harshit-gangal, @systay, @frouioui

removed additional set collation_connection queries in vtexplain unit tests
  go/vt/vtexplain/vtexplain_flaky_test.go
Owners: none

set charset and collation in vttestserver connection
  go/cmd/vttestserver/vttestserver_test.go
Owners: none

improve testHandler ComQuery implementation to return non-empty results
  go/vt/vtgate/plugin_mysql_server_test.go
Owners: @harshit-gangal, @systay, @frouioui

proper charset number and column length for compatibility tests
  go/vt/vttablet/endtoend/compatibility_test.go
Owners: none

fixed dbconfig and rpc query tests
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @deepthi, @shlomi-noach

updated metadata and batch tests
  go/vt/vttablet/endtoend/batch_test.go
  go/vt/vttablet/endtoend/metadata_test.go
Owners: none

Fixed tabletserver unit tests with new default collation
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

cleaned up not required changes
  go/cmd/vtcombo/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/handshake_test.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
Owners: @harshit-gangal, @systay

fixed dbconfig and rpc query tests
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
Owners: @deepthi, @shlomi-noach

skip collation_connection set check in vtworker tests using fakesqldb
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Owners: @harshit-gangal, @systay, @shlomi-noach

Fixed tabletserver unit tests with new default collation
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Owners: @harshit-gangal, @systay, @frouioui, @shlomi-noach

proper charset number and column length for compatibility tests
  go/vt/vttablet/endtoend/compatibility_test.go
Owners: none

updated metadata and batch tests
  go/vt/vttablet/endtoend/batch_test.go
  go/vt/vttablet/endtoend/metadata_test.go
Owners: none

changed default collation for vttablet in E2E's cluster process
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletgateway/cellalias/cell_alias_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Owners: @harshit-gangal, @systay, @frouioui
