Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @frouioui, @vmg, @harshit-gangal, @mattlord, @rohit-nayak-ps, @systay, @shlomi-noach, @GuptaManan100, @derekperkins, @notfelineit, @timvaillancourt, @dbussink, @arthurschreiber

`slack-19.0`: backport v22 VTOrc optimizations, part 2 (#613)
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

test: add a test that we read all the field values correctly
  go/vt/vtorc/inst/instance_dao_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

feat: fix undo demote primary to also check if the tablet's display type doesn't match the tablet record
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_state.go
Owners: @deepthi, @GuptaManan100, @rohit-nayak-ps, @shlomi-noach

feat: add test to verify that VTOrc is able to fix tablet mismatch issues
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vtorc/general/vtorc_test.go
Owners: @deepthi, @shlomi-noach, @GuptaManan100, @timvaillancourt

Address review comments
  go/vt/vtctl/workflow/sequences.go
  go/vt/vtctl/workflow/switcher_dry_run.go
Owners: @mattlord, @rohit-nayak-ps

feat: change healthcheck to only reload specific keyspace shard tablets
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
Owners: @deepthi, @frouioui, @harshit-gangal, @systay, @shlomi-noach, @rohit-nayak-ps, @timvaillancourt

add visitable to visit gen - wip
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_equals.go
  go/tools/asthelpergen/integration/ast_visit.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/visit_gen.go
  go/vt/sqlparser/rewriter_api.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

fix: schema tracking to have separate lock for keeping keyspace to update controller mapping
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

Make metrics shard level
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Owners: @rohit-nayak-ps, @mattlord

apply review suggestions
  go/test/endtoend/reparent/newfeaturetest/reparent_in_tx_test.go
  go/vt/vterrors/code.go
Owners: @deepthi, @harshit-gangal, @systay

Add table function
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Run go generate ./... to auto generate the rest of the files
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_path.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/sql.go
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/localvtctldclient/client_gen.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @notfelineit, @rohit-nayak-ps, @mattlord, @deepthi

Remove proto message used for unmarshalling
  go/cmd/vtctldclient/command/vreplication/lookupvindex/lookupvindex.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/lookup_vindex.go
  go/vt/vtctl/workflow/materializer_test.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Owners: @mattlord, @rohit-nayak-ps, @deepthi, @harshit-gangal, @notfelineit

test: add a unit test verifying we have the subscriber names in the healthcheck
  go/vt/discovery/healthcheck_test.go
Owners: @deepthi, @frouioui

feat: fix clearing out of the channel
  go/vt/discovery/topology_watcher.go
Owners: @deepthi, @frouioui

Fix error message and typos
  go/cmd/vtctldclient/command/vreplication/lookupvindex/lookupvindex.go
Owners: @mattlord, @rohit-nayak-ps

feat: fix the get tablet map call to respect the passed in options
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
Owners: @deepthi, @mattlord

support for Visitable in the rewriter
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_equals.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/rewrite_gen.go
  go/tools/asthelpergen/visit_gen.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
Owners: @frouioui, @systay, @harshit-gangal, @GuptaManan100

refactor code
  go/tools/asthelpergen/rewrite_gen.go
  go/tools/asthelpergen/visit_gen.go
Owners: @frouioui, @systay

feat: fix the topo functions and add unit test
  go/vt/topo/shard.go
  go/vt/topo/shard_topo_test.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
Owners: @deepthi, @mattlord

Clean unnecessary code
  go/cmd/vtctldclient/command/vreplication/lookupvindex/lookupvindex.go
  go/vt/vtctl/workflow/lookup_vindex.go
  go/vt/vtctl/workflow/server.go
Owners: @mattlord, @rohit-nayak-ps

test: add a healthcheck test
  go/vt/discovery/healthcheck_test.go
Owners: @deepthi, @frouioui

test: add test for Visitable Rewrite and Walk
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/integration_visit_test.go
Owners: @frouioui, @systay

tests: add tests for the load tablets function
  go/vt/discovery/topology_watcher_test.go
Owners: @deepthi, @frouioui

refactor: parameterize and updated ast as query logic to be determined in normalizer
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/redact_query.go
  go/vt/sqlparser/utils.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/semantics/typer_test.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @arthurschreiber

feat: allow arguments in FramePoint expressions
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

clean-up: remove unneeded table type uses
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml_with_input.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/upsert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/dml_cases_with_user_as_default.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/mirror_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100, @arthurschreiber

Make sure not to panic when comparisons go wrong
  go/test/utils/diff.go
Owners: @deepthi

sizegen update
  go/vt/sqlparser/cached_size.go
  go/vt/vtgate/engine/cached_size.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

sql_mode set to ' ' from '' only for SET_VAR, stored as-is in the session
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

remove space
  go/vt/vtgate/executorcontext/vcursor_impl.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: make TestExecutorSavepointInTxWithReservedConn green
  go/vt/vtgate/executor_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

test: clean up unit test
  go/vt/vtgate/executor_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

start changing of normalization path - wip tests are failing
  go/vt/sqlparser/analyzer.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vthash/highway/highwayhash.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui, @deepthi

add destination to plan hash key and make all test green
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: we should not parse too early when preparing
  go/cmd/vtgateclienttest/services/echo.go
  go/cmd/vtgateclienttest/services/errors.go
  go/cmd/vtgateclienttest/services/fallback.go
  go/cmd/vtgateclienttest/services/terminal.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateservice/interface.go
Owners: @deepthi, @mattlord, @harshit-gangal, @systay, @frouioui, @GuptaManan100

allow dml query to return empty fields list on prepare
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml_with_input.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_verify.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/send_test.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/singlerow.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/upsert.go
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

feat: prepare to get plan from cache using original query before building the plan
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

codegen
  go/vt/vtgate/engine/cached_size.go
Owners: @harshit-gangal, @systay, @frouioui, @GuptaManan100

refactor: clean up
  go/mysql/conn.go
Owners: @harshit-gangal, @systay, @mattlord

.github/CODEOWNERS:

* @deepthi
bootstrap.sh @deepthi @frouioui @vmg
go.mod @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
go.sum @deepthi @harshit-gangal @mattlord @rohit-nayak-ps @systay @frouioui
/.github/ @deepthi @mattlord @rohit-nayak-ps @frouioui
/.github/ISSUE_TEMPLATE/ @deepthi @frouioui @mattlord
/.github/workflows/ @deepthi @frouioui @mattlord @rohit-nayak-ps
/config/mycnf/ @deepthi @shlomi-noach @mattlord
/doc/ @deepthi @frouioui @GuptaManan100
/docker/ @deepthi @derekperkins @mattlord @GuptaManan100 @frouioui
/examples/compose @shlomi-noach @GuptaManan100 @frouioui
/examples/demo @mattlord @rohit-nayak-ps
/examples/local @rohit-nayak-ps @frouioui @mattlord @GuptaManan100
/examples/operator @GuptaManan100 @frouioui @mattlord
/examples/region_sharding @deepthi @mattlord
/java/ @harshit-gangal
/go/cache @vmg
/go/cmd @deepthi @mattlord
/go/cmd/vtadmin @notfelineit
/go/cmd/vtctldclient @mattlord
/go/cmd/vtctldclient/command/throttler.go @shlomi-noach @mattlord
/go/cmd/vtctldclient/command/vreplication @mattlord @rohit-nayak-ps
/go/internal/flag @rohit-nayak-ps
/go/mysql @harshit-gangal @systay @mattlord
/go/pools @deepthi @harshit-gangal
/go/protoutil @deepthi @mattlord
/go/sqltypes @harshit-gangal @shlomi-noach @vmg
/go/test/endtoend/onlineddl @rohit-nayak-ps @shlomi-noach
/go/test/endtoend/messaging @mattlord @rohit-nayak-ps @derekperkins
/go/test/endtoend/schemadiff @shlomi-noach @mattlord
/go/test/endtoend/transaction @harshit-gangal @systay @frouioui @GuptaManan100
/go/test/endtoend/*throttler* @shlomi-noach @mattlord @timvaillancourt
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/test/endtoend/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/tools/ @frouioui @systay
/go/vt/dbconnpool @harshit-gangal @mattlord
/go/vt/discovery @deepthi @frouioui
/go/vt/discovery/*tablet_picker* @rohit-nayak-ps @mattlord
/go/vt/mysqlctl @deepthi @mattlord
/go/vt/proto @deepthi @harshit-gangal @mattlord
/go/vt/proto/vtadmin @notfelineit
/go/vt/schema @mattlord @shlomi-noach
/go/vt/servenv @deepthi @dbussink
/go/vt/schemadiff @shlomi-noach @mattlord
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @deepthi @mattlord
/go/vt/sysvars @harshit-gangal @systay
/go/vt/topo @deepthi @mattlord
/go/vt/topotools @deepthi @mattlord
/go/vt/vitessdriver @harshit-gangal
/go/vt/vtadmin @notfelineit @rohit-nayak-ps
/go/vt/vtctl @deepthi @rohit-nayak-ps
/go/vt/vtctl/vtctl.go @notfelineit @rohit-nayak-ps
/go/vt/vtctl/grpcvtctldclient @notfelineit @mattlord
/go/vt/vtctl/grpcvtctldserver @notfelineit @mattlord
/go/vt/vtctl/reparentutil @GuptaManan100 @deepthi
/go/vt/vtctl/vtctldclient @notfelineit @mattlord
/go/vt/vtctld @deepthi @notfelineit @rohit-nayak-ps @mattlord
/go/vt/vterrors @harshit-gangal @systay
/go/vt/vtexplain @systay @harshit-gangal
/go/vt/vtgate @harshit-gangal @systay @frouioui @GuptaManan100
/go/vt/vtgate/endtoend/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/planbuilder @harshit-gangal @systay @frouioui @GuptaManan100 @arthurschreiber
/go/vt/vtgate/*vstream* @rohit-nayak-ps @mattlord
/go/vt/vtgate/evalengine @dbussink @vmg @systay
/go/vt/vtorc @deepthi @shlomi-noach @GuptaManan100 @timvaillancourt
/go/vt/vttablet/*conn* @harshit-gangal @systay
/go/vt/vttablet/endtoend @harshit-gangal @mattlord @rohit-nayak-ps @systay
/go/vt/vttablet/grpc* @rohit-nayak-ps @shlomi-noach @harshit-gangal
/go/vt/vttablet/onlineddl @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/queryservice @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/tabletmanager/rpc_throttler.go @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletserver/throttle @shlomi-noach @mattlord @timvaillancourt
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vdiff @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps @mattlord
/go/vt/vttablet/tabletserver* @harshit-gangal @systay @shlomi-noach @rohit-nayak-ps @timvaillancourt
/go/vt/vttablet/tabletserver/messager @mattlord @rohit-nayak-ps @derekperkins
/go/vt/vttablet/*tmclient* @GuptaManan100 @rohit-nayak-ps @shlomi-noach
/go/vt/vttablet/vexec @mattlord @rohit-nayak-ps @shlomi-noach
/go/vt/wrangler @deepthi @mattlord @rohit-nayak-ps
/go/vt/vtctl/workflow @mattlord @rohit-nayak-ps
/proto/ @deepthi @harshit-gangal
/proto/vtadmin.proto @notfelineit @mattlord
/proto/vtctldata.proto @notfelineit @mattlord
/proto/vtctlservice.proto @notfelineit @mattlord
/test/ @GuptaManan100 @frouioui @rohit-nayak-ps @deepthi @mattlord @harshit-gangal
/tools/ @frouioui @rohit-nayak-ps
/web/vtadmin @notfelineit
/web/vtadmin/src/proto @deepthi @harshit-gangal @mattlord
