Repository vitessio/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepthi, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @sougou, @rohit-nayak-ps, @harshit-gangal, @pH14, @vmg, @ajm188, @doeg, @systay, @frouioui, @GuptaManan100, @rafael

Fix tests now that tags are off by default
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @shlomi-noach

Fix tests now that tags are off by default
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @shlomi-noach

Add test case
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @shlomi-noach

Add test case
  go/vt/vttablet/tabletmanager/tm_init_test.go
Owners: @deepthi, @shlomi-noach

add more retries to gen4, backup_xtradb and initial cluster sharding test
  test/config.json
Owners: none

add more retries to gen4, backup_xtradb and initial cluster sharding test
  test/config.json
Owners: none

changed to atomic vars for local variables used in callback which are modified
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui

changed to atomic vars for local variables used in callback which are modified
  go/vt/vtgate/executor.go
Owners: @harshit-gangal, @systay, @frouioui

improved test infrastructure to be decoupled from the number of update and get calls during the initialization phase
  go/vt/topo/faketopo/faketopo.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Owners: @deepthi, @rafael, @shlomi-noach

improved test infrastructure to be decoupled from the number of update and get calls during the initialization phase
  go/vt/topo/faketopo/faketopo.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Owners: @deepthi, @rafael, @shlomi-noach

test posponed revert: already notice there's a problem with how we queue posponed migrations. New test fails in th emeantime
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Owners: @shlomi-noach

test posponed revert: already notice there's a problem with how we queue posponed migrations. New test fails in th emeantime
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Owners: @shlomi-noach

remove keyspace from query before sending it on
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

remove keyspace from query before sending it on
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

chore: clean up code after review
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/route_planning.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

chore: clean up code after review
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/route_planning.go
Owners: @harshit-gangal, @systay, @GuptaManan100, @frouioui

vtcombo: `CREATE DATABASE` creates shards as specified by the topology
  go/cmd/vtcombo/main.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
Owners: none

vtcombo: `CREATE DATABASE` creates shards as specified by the topology
  go/cmd/vtcombo/main.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
Owners: none

pre-evaluate queued REVERT migrations, populate mysql_table and ddl_action fields while queued
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach

pre-evaluate queued REVERT migrations, populate mysql_table and ddl_action fields while queued
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: @shlomi-noach

refactor duplicate code in if block, to be removed in v14. Restored sanity check at end of switch
  go/vt/vttablet/onlineddl/executor.go
Owners: none

refactor duplicate code in if block, to be removed in v14. Restored sanity check at end of switch
  go/vt/vttablet/onlineddl/executor.go
Owners: none

endtoend test for postponed DROP ddl
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
Owners: @shlomi-noach

endtoend test for postponed DROP ddl
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
Owners: @shlomi-noach

reading all ready migrations, running one
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: none

reading all ready migrations, running one
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Owners: none

special callback only incase the query executed returns field and rows, added unit test
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @frouioui

special callback only incase the query executed returns field and rows, added unit test
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
Owners: @harshit-gangal, @systay, @frouioui

check nil value
  go/vt/vttablet/onlineddl/executor.go
Owners: none

check nil value
  go/vt/vttablet/onlineddl/executor.go
Owners: none

make sure to copy bindvars when using them concurrently
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui

make sure to copy bindvars when using them concurrently
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/concatenate.go
Owners: @harshit-gangal, @systay, @frouioui

fix end to end test query
  go/test/endtoend/vtgate/misc_test.go
Owners: @harshit-gangal, @systay, @frouioui

fix end to end test query
  go/test/endtoend/vtgate/misc_test.go
Owners: @harshit-gangal, @systay, @frouioui

protect test from data races
  go/vt/vtgate/legacy_scatter_conn_test.go
Owners: @harshit-gangal, @systay, @frouioui

protect test from data races
  go/vt/vtgate/legacy_scatter_conn_test.go
Owners: @harshit-gangal, @systay, @frouioui

Added some formatting
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

Added some formatting
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Owners: @harshit-gangal, @systay, @GuptaManan100

added utils directory for common functions
  go/test/endtoend/vtorc/utils/utils.go
Owners: none

added utils directory for common functions
  go/test/endtoend/vtorc/utils/utils.go
Owners: none

.github/CODEOWNERS:

bootstrap.sh @deepthi
/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/demo @sougou
/examples/legacy_local @deepthi
/examples/local @rohit-nayak-ps
/examples/operator @askdba
/examples/region_sharding @deepthi
/java/ @harshit-gangal @pH14
/go/cache @vmg
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/protoutil @ajm188
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay @frouioui
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/servenv @deepthi
/go/vt/sqlparser @harshit-gangal @systay @GuptaManan100
/go/vt/srvtopo @rafael
/go/vt/topo @deepthi @rafael
/go/vt/vtadmin @ajm188 @doeg @rohit-nayak-ps
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtctld @ajm188 @doeg @rohit-nayak-ps @deepthi
/go/vt/vtgate @harshit-gangal @systay @frouioui
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/go/vt/workflow @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
