Repository vitessio/vitess, pull requests merged in 2020-11, with the labels that each got.

#6947 Fixes vtgate which throws an error in case of empty statements
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/constants.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/parser.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Compontent: VTgate, Type: Bug

#7047 Use distinct primitive to solve more queries
  go/test/endtoend/vtgate/aggr_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Compontent: Query Serving, Type: Enhancement

#7024 Adds Planning and Parsing Support for Create Index of MySQL 5.7
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtgate/engine/online_ddl.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
Labels: Compontent: Query Serving, Type: Enhancement

#7052 Optimise struct field layout
  go/mysql/binlog_event.go
  go/mysql/conn.go
Labels: Compontent: Query Serving, Type: Performance

#7050 fix #7048 for SelectNone in StreamExecute route engine
  go/test/endtoend/vtgate/lookup_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
Labels: Compontent: Query Serving, Type: Bug

#7034 Improve database ddl plan
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/vcursor_impl.go
Labels: Compontent: Query Serving

#7081 separate sub-query and derived table into different structs
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/expression_rewriting.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
Labels: Compontent: Query Serving, Type: Enhancement

#7080 Make sure to check all GROUP BY columns
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
Labels: Compontent: Query Serving, Type: Bug

#7068 Adds Planning and Parsing Support for Create Database of MySQL 5.7
  go/vt/schemamanager/tablet_executor.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
Labels: Compontent: Query Serving, Type: Enhancement
