Repository vitessio/vitess, pull requests merged in 2020-07, with the labels that each got.

#6437 The warning code field should be called "Code", not "Type".
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: Breaking change

#6445 Handle non-keyword tokens FORMAT, TREE and VITESS
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Bug fix

#6463 change how tracing query comments are handled
  go/trace/opentracing.go
  go/trace/opentracing_test.go
Labels: Breaking change, Bug fix

#6493 Allow enumeration in set system variables
  go/test/endtoend/vtgate/setstatement/sysvar_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/set.go
Labels: Backport me!

#6495 HandleSet in executor to handle multiple settings in single set statement
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
Labels: Backport me!

#6501 handle boolean settings better
  go/test/endtoend/vtgate/setstatement/sysvar_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/testdata/set_sysvar_cases.txt
Labels: Backport me!
