Repository vitessio/vitess, pull requests merged in 2020-06, with the labels that each got.

#6317 Bump Netty to 4.1.48.Final and tcnative to 2.0.30.Final
  java/pom.xml
Labels: patch-pending

#6328 Make sure to protect insert lookup queries from bind var name clashes (master)
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
  go/vt/vtgate/vindexes/lookup_unique_test.go
Labels: Bug fix

#6318 backport #6205 to 6.0 release branch
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: patch-pending

#6319 backport #6224 to 6.0 release branch
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/parse_test.go
Labels: patch-pending

#6320 backport #6250 to 6.0 release branch
  go.mod
  go.sum
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/heartbeat/reader.go
  go/vt/vttablet/heartbeat/reader_test.go
  go/vt/vttablet/heartbeat/writer.go
  go/vt/vttablet/heartbeat/writer_test.go
  go/vt/vttablet/tabletmanager/heartbeat_reporter.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: patch-pending

#6321 backport #6299 to 6.0 release branch
  go/test/endtoend/vtgate/transaction/rollback/txn_rollback_shutdown_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/plan_execute.go
Labels: patch-pending

#6322 backport #6317 to 6.0 release branch
  java/pom.xml
Labels: patch-pending

#6323 backport #6308 to 6.0 release branch
  go/test/endtoend/vtgate/setstatement/udv_test.go
  go/vt/sqlparser/expression_rewriting.go
  go/vt/sqlparser/expression_rewriting_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: patch-pending

#6324 Backport #6270 to 6.0 release branch
  go/test/endtoend/vtgate/vindex_bindvars/main_test.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/plan_executor_dml_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: patch-pending

#6327 Make sure to protect insert lookup queries from bind var name clashes (6.0)
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/plan_executor_dml_test.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
  go/vt/vtgate/vindexes/lookup_unique_test.go
Labels: Bug fix, patch-pending
