Repository vitessio/vitess, pull requests merged in 2020-09, with the labels that each got.

#6630 Change GRPC message limit SQL error type
  go/mysql/sql_error.go
  go/mysql/sql_error_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn.go
Labels: Breaking change

#6758 operator precedence must take associativity into consideration
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/precedence_test.go
  go/vt/sqlparser/tracked_buffer.go
Labels: Backport me!

#6749 Zero autoinc mode
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
Labels: Breaking change

#6765 sort tabledefinitions before comparing them
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/tabledefinitions_test.go
Labels: Bug fix
