Repository vitessio/vitess, pull requests merged in 2020-12, with the labels that each got.

#7086 Adds Planning and Parsing Support for Alter Database of MySQL 5.7
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/event_streamer_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtexplain/testdata/multi-output/deletesharded-output.txt
  go/vt/vtexplain/testdata/multi-output/insertsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/options-output.txt
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/target-output.txt
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/bypass_cases.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vttablet/endtoend/queries_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_executor_test.go
Labels: Compontent: Query Serving, Type: Enhancement

#7088 Add s3 server-side encryption and decryption with customer provided key
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
Labels: Status: Fix in Progress, Type: Enhancement

#7096 Convert usages of DDL struct to DDLStatement interface
  go/vt/schemamanager/tablet_executor.go
  go/vt/schemamanager/tablet_executor_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/topotools/vschema_ddl.go
  go/vt/vtctl/vtctl.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vschema_ddl.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/materializer.go
Labels: Compontent: Query Serving, P3, Type: Internal Cleanup

#7098 Adds Planning and Parsing Support for Drop Database of MySQL 5.7
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
Labels: Compontent: Query Serving, P3, Type: Internal Cleanup

#7116 Refactor Code to create a separate struct for CREATE TABLE
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Compontent: Query Serving, P3, Type: Internal Cleanup

#7143 Adds support for all the rails queries using information_schema
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Compontent: Query Serving, P2, Type: Enhancement

#7140 Merge SelectDBA routes when possible
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Compontent: Query Serving, Type: Enhancement

#7060 Adds Planning and Parsing Support for Create View of MySQL 5.7
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Compontent: Query Serving, Type: Enhancement

#7174 Update Vitess v8.0 images
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
Labels: Type: Internal Cleanup

#7173 Refactor Code to create a separate struct for ALTER VSCHEMA
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/topotools/vschema_ddl.go
  go/vt/vtctl/vtctl.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vschema_ddl.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/alterVschema_cases.txt
  go/vt/vtgate/vcursor_impl.go
Labels: Compontent: Query Serving, P3, Type: Internal Cleanup

#7198 Redact password
  go/vt/mysqlctl/query.go
  go/vt/mysqlctl/replication_test.go
Labels: Compontent: Query Serving, P3, Type: Enhancement

#7210 Do vschema_customer_sharded.json before create_customer_sharded.sql.
  examples/local/301_customer_sharded.sh
Labels: Component: VReplication, P3

#7124 action_respository: no need for http.Request
  go/vt/vtctld/action_repository.go
  go/vt/vtctld/api.go
  go/vt/vtctld/api_test.go
  go/vt/vtctld/vtctld.go
Labels: Component: Cluster management, Type: Internal Cleanup
