Repository vitessio/vitess, pull requests merged in 2020-10, with the labels that each got.

#6831 Unnest simple subqueries
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/bind_var_needs.go
  go/vt/sqlparser/expression_rewriting.go
  go/vt/sqlparser/expression_rewriting_test.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Bug fix, Compontent: VTgate, Type: Enhancement

#6859 [8.0] Disable reserved connections by default
  go/vt/vtgate/vtgate.go
Labels: Compontent: VTgate

#6881 INFORMATION_SCHEMA.TABLE_SCHEMA comparison with dynamic value bugfix
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Bug fix, Compontent: VTgate

#6887 Allow table_schema comparisons
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Bug fix, Compontent: VTgate

#6911 Fixes a bug in Load From statement
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor.go
  test/config.json
Labels: Bug fix

#6871 Manage read your own writes system settings
  go/sqltypes/value.go
  go/test/endtoend/vtgate/readafterwrite/raw_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/sqlparser/expression_rewriting.go
  go/vt/sqlparser/expression_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  proto/vtgate.proto
  test/config.json
Labels: Compontent: VTgate, Type: Enhancement

#6967 Pad non-fractional part of DECIMAL type
  go/mysql/binlog_event_rbr.go
  go/mysql/binlog_event_rbr_test.go
Labels: Backport me!

#6976 [8.0] Bug which caused the connection to not close in case of error writing an error packet
  go/mysql/conn.go
  go/mysql/conn_test.go
Labels: Bug fix
