Repository vitessio/vitess, pull requests merged in 2021-11, with the labels that each got.

#9112 Fixes buffering while reparenting
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/keyspace_events.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/buffer/test_util.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#9119 [vtadmin-web] Add tablets to Shard view
  web/vtadmin/src/components/routes/shard/Shard.tsx
  web/vtadmin/src/components/routes/shard/ShardTablets.module.scss
  web/vtadmin/src/components/routes/shard/ShardTablets.tsx
Labels: Type: Enhancement, Component: VTAdmin, release notes none

#9106 Remove tablet healthcheck cache record on error
  .github/workflows/cluster_endtoend_vtgate_tablet_healthcheck_cache.yml
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/vt/discovery/tablet_health_check.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, release notes

#9121 updating usage of vertical and horizontal splits
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/keyspace.go
Labels: Type: Documentation, Component: Documentation

#8981 Report Export BuildGitRev in statsd backend
  go/stats/statsd/statsd.go
Labels: Type: Enhancement, Component: Observability, release notes none

#9124 use go-junit-report lib from vitessio fork
  .github/workflows/cluster_endtoend_11.yml
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_13.yml
  .github/workflows/cluster_endtoend_14.yml
  .github/workflows/cluster_endtoend_15.yml
  .github/workflows/cluster_endtoend_16.yml
  .github/workflows/cluster_endtoend_17.yml
  .github/workflows/cluster_endtoend_18.yml
  .github/workflows/cluster_endtoend_19.yml
  .github/workflows/cluster_endtoend_20.yml
  .github/workflows/cluster_endtoend_21.yml
  .github/workflows/cluster_endtoend_22.yml
  .github/workflows/cluster_endtoend_23.yml
  .github/workflows/cluster_endtoend_24.yml
  .github/workflows/cluster_endtoend_26.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_declarative.yml
  .github/workflows/cluster_endtoend_onlineddl_ghost.yml
  .github/workflows/cluster_endtoend_onlineddl_revert.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_resharding.yml
  .github/workflows/cluster_endtoend_resharding_bytes.yml
  .github/workflows/cluster_endtoend_tabletmanager_consul.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler_custom_config.yml
  .github/workflows/cluster_endtoend_vreplication_migrate.yml
  .github/workflows/cluster_endtoend_vstream_failover.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_false.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_true.yml
  .github/workflows/cluster_endtoend_vstream_with_keyspaces_to_watch.yml
  .github/workflows/cluster_endtoend_vtgate_buffer.yml
  .github/workflows/cluster_endtoend_vtgate_concurrentdml.yml
  .github/workflows/cluster_endtoend_vtgate_gen4.yml
  .github/workflows/cluster_endtoend_vtgate_godriver.yml
  .github/workflows/cluster_endtoend_vtgate_queries.yml
  .github/workflows/cluster_endtoend_vtgate_readafterwrite.yml
  .github/workflows/cluster_endtoend_vtgate_reservedconn.yml
  .github/workflows/cluster_endtoend_vtgate_schema.yml
  .github/workflows/cluster_endtoend_vtgate_schema_tracker.yml
  .github/workflows/cluster_endtoend_vtgate_topo.yml
  .github/workflows/cluster_endtoend_vtgate_topo_consul.yml
  .github/workflows/cluster_endtoend_vtgate_topo_etcd.yml
  .github/workflows/cluster_endtoend_vtgate_transaction.yml
  .github/workflows/cluster_endtoend_vtgate_unsharded.yml
  .github/workflows/cluster_endtoend_vtgate_vindex.yml
  .github/workflows/cluster_endtoend_vtgate_vschema.yml
  .github/workflows/cluster_endtoend_vtorc.yml
  .github/workflows/cluster_endtoend_xb_recovery.yml
  test/templates/cluster_endtoend_test.tpl
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9108 Collations 1.3
  go/mysql/collations/8bit.go
  go/mysql/collations/coercion.go
  go/mysql/collations/collation.go
  go/mysql/collations/env.go
  go/mysql/collations/fuzz_test.go
  go/mysql/collations/golden_test.go
  go/mysql/collations/integration/charset_test.go
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/integration/main_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/internal/charset/eightbit/8bit.go
  go/mysql/collations/internal/charset/unicode/utf16.go
  go/mysql/collations/internal/codegen/codegen.go
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/internal/uca/tables_test.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlversion.go
  go/mysql/collations/remote/charset.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/testdata/versions/collations_MariaDB100.csv
  go/mysql/collations/testdata/versions/collations_MariaDB101.csv
  go/mysql/collations/testdata/versions/collations_MariaDB102.csv
  go/mysql/collations/testdata/versions/collations_MariaDB103.csv
  go/mysql/collations/testdata/versions/collations_MySQL56.csv
  go/mysql/collations/testdata/versions/collations_MySQL57.csv
  go/mysql/collations/testdata/versions/collations_MySQL80.csv
  go/mysql/collations/testdata/versions/query.sql
  go/mysql/collations/tools/makemysqldata/makemysqldata.go
  go/mysql/collations/tools/makemysqlversions/makemysqlversions.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/uca.go
  go/mysql/collations/uca_test.go
  go/mysql/collations/unicode.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/semantics/real_table.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9129 Lock primitive GetFields implementation
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/lock_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9018 Collations Module Integration
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/vdiff.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9131 fix compilation error on main
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9017 Gen4: Filter primitive and planning
  go/mysql/binlog_event_json.go
  go/sqltypes/type.go
  go/sqltypes/value.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/test/endtoend/vtgate/utils/utils.go
  go/vt/sqlparser/expression_converter.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/binary.go
  go/vt/vtgate/evalengine/binary_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/planbuilder/expression_converter.go
  go/vt/vtgate/planbuilder/expression_converter_test.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/system_variables.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/vindexes/cached_size.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9089 Online DDL: support --allow-zero-in-date in 'online' strategy
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/existing-zero-in-datetime/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/existing-zero-in-datetime/ddl_strategy
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-existing-zero-in-datetime/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-existing-zero-in-datetime/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-zero-in-datetime/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-zero-in-datetime/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-zero-in-datetime/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/zero-in-datetime/after_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/zero-in-datetime/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/zero-in-datetime/before_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/zero-in-datetime/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/zero-in-datetime/ddl_strategy
  go/vt/schema/ddl_strategy.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9133 [vtadmin-web] Restructure list of shards on Keyspace detail page
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.module.scss
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.test.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/util/keyspaces.test.ts
  web/vtadmin/src/util/keyspaces.ts
Labels: Type: Enhancement, Component: VTAdmin, release notes none

#9136 [vtadmin-web] Upgrade to node v16.13.0 LTS
  .github/workflows/vtadmin_web_build.yml
  .github/workflows/vtadmin_web_lint.yml
  web/vtadmin/.stylelintrc
  web/vtadmin/README.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/TextInput.module.scss
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes

#9132 Collations 1.4
  go/mysql/collations/8bit.go
  go/mysql/collations/collation.go
  go/mysql/collations/env.go
  go/mysql/collations/fuzz_test.go
  go/mysql/collations/golden_test.go
  go/mysql/collations/hash.go
  go/mysql/collations/internal/uca/collation.go
  go/mysql/collations/internal/uca/contractions.go
  go/mysql/collations/internal/uca/iter_900.go
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/internal/uca/iter_ja.go
  go/mysql/collations/internal/uca/iter_legacy.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/tools/makemysqldata/contractions.go
  go/mysql/collations/tools/makemysqldata/makemysqldata.go
  go/mysql/collations/uca.go
  go/mysql/collations/uca_contraction_test.go
  go/mysql/collations/uca_test.go
  go/mysql/collations/unicode.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9123 [schematools] Move more functions out of `wrangler` to package importable by `grpcvtctldserver`
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/schematools/copy.go
  go/vt/vtctl/schematools/diff.go
  go/vt/vtctl/schematools/schematools.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_clone.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#9142 Respect --allow-zero-in-date in CREATE and in -declarative migrations
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9143 [vtadmin-web] Add vtctlds view
  examples/local/vtadmin/discovery.json
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/Icon.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/routes/Vtctlds.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/icons/index.tsx
  web/vtadmin/src/icons/keyV.svg
  web/vtadmin/src/index.css
Labels: Type: Enhancement, Component: VTAdmin, release notes none

#9118 Ensure that hex query predicates are normalized for planner cache
  go/sqltypes/bind_variables.go
  go/sqltypes/type.go
  go/sqltypes/type_test.go
  go/sqltypes/value.go
  go/test/endtoend/vtgate/queries/normalize/main_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/vt/proto/query/query.pb.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  java/jdbc/src/test/java/io/vitess/jdbc/FieldWithMetadataTest.java
  proto/query.proto
  test/config.json
Labels: Type: Bug, Component: Query Serving, release notes

#9114 Fuzzing: Add new and modify existing
  go/test/fuzzing/ast_fuzzer.go
  go/test/fuzzing/oss_fuzz_build.sh
  go/test/fuzzing/vt_schema_fuzzer.go
  go/test/fuzzing/vttablet_fuzzer.go
  go/vt/vtgate/engine/fuzz.go
  go/vt/vtgate/engine/fuzz_flaky_test.go
  go/vt/vtgate/planbuilder/abstract/fuzz.go
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vtgate/vindexes/fuzz.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#9154 [vtadmin] viper config support
  go.mod
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/config_test.go
  go/vt/vtadmin/cluster/file_config.go
  go/vt/vtadmin/cluster/file_config_test.go
Labels: Type: Enhancement, Component: VTAdmin, release notes

#9144 Add enable_system_settings flag change to 12.0.0 release summary
  doc/releasenotes/12_0_0_summary.md
Labels: Type: Documentation, release notes none, Component: Documentation

#9088 Updated make do_release command example in the release instructions
  doc/internal/ReleaseInstructions.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9104 tabletmanager: correct implementations of deprecated RPCs for backwards compatibility
  go/mysql/server_flaky_test.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  proto/tabletmanagerservice.proto
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#9161 Gen4: Fail cross-shard join query with aggregation and grouping
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes none

#9159 Fuzzing: Upgrade go-fuzz-headers
  go.mod
  go.sum
Labels: Component: Build/CI, dependencies, Type: Testing, release notes none

#9167 [12.0] Gen4: Fail cross-shard join query with aggregation and grouping
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#9168 [12.0] Add enable_system_settings flag change to 12.0.0 release summary
  doc/releasenotes/12_0_0_summary.md
Labels: Type: Documentation, Backport, release notes none, Component: Documentation

#9169 [wrangler] `getWorkflowState` refactor
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#8973 [RFC] Add version-info to tablet tags in the topo
  go/vt/servenv/buildinfo.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9145 Ensure that hex query predicates are normalized for planner cache
  go/sqltypes/bind_variables.go
  go/sqltypes/type.go
  go/sqltypes/type_test.go
  go/sqltypes/value.go
  go/test/endtoend/vtgate/queries/normalize/main_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/vt/proto/query/query.pb.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  java/jdbc/src/test/java/io/vitess/jdbc/FieldWithMetadataTest.java
  proto/query.proto
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9175 Fix boolean parameter order in DropSources call for v2 flows
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: Cluster management, Backport me!, Component: VReplication, release notes

#9179 Inclusive naming: removing vtctl flags and commands that were deprecated in 12.0
  .github/workflows/cluster_endtoend_upgrade.yml
  examples/legacy_local/101_initial_cluster.sh
  examples/legacy_local/202_customer_tablets.sh
  examples/legacy_local/302_new_shards.sh
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/vtctl/backup.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, Breaking change, Component: vtctl, release notes

#9172 Improve self hosted runner docs
  GITHUB_SELF_HOSTED_RUNNERS.md
Labels: Type: Documentation, Component: Build/CI, release notes none

#9164 Email update for Rafael Chacón
  MAINTAINERS.md
Labels: Type: Documentation, release notes none, Component: Documentation

#8997 Onlineddl vrepl ensure artifact updated
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9049 [RFC] git: deprecate golint checker
  .golangci.yml
  misc/git/hooks/golangci-lint
  misc/git/hooks/golint
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9183 Gen4: Improve merging of DBA queries
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9184 ci: do not run golangci-lint with `new` in CI
  .golangci.yml
Labels: Type: Bug, Component: Build/CI, release notes none

#9185 add more retries to cluster end to end tests
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9157 Topo write error in change tablet type
  go/vt/topo/faketopo/faketopo.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9190 Remove keyspace from query before sending it on
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#9187 Default buildinfo tablet tags to off
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9130 vtcombo: `CREATE DATABASE` creates shards as specified by the topology
  go/cmd/vtcombo/main.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
Labels: Type: Bug, release notes, Component: VTCombo

#9191 make sure to copy bindvars when using them concurrently
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/concatenate.go
Labels: Type: Bug, Component: Query Serving, release notes

#9182 Inclusive naming: master->primary in topo package
  go/vt/topo/conn.go
  go/vt/topo/consultopo/election.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/etcd2topo/election.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/helpers/copy_test.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/k8stopo/election.go
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_test.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/shard.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/test/election.go
  go/vt/topo/zk2topo/election.go
  go/vt/vtctld/workflow.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#9173 Move `doCellsHaveRdonlyTablets` to topotools
  go/vt/topotools/tablet.go
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#9166 go dependency: updated containerd to 1.5.7
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9198 Fix main build error
  go/vt/topo/faketopo/faketopo.go
Labels: Type: CI/Build, Component: General, release notes none

#9208 Refactor vtorc tests
  go/test/endtoend/vtorc/general/main_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryFailure/main_test.go
  go/test/endtoend/vtorc/primaryFailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/test_config.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer_prevent.json
  go/test/endtoend/vtorc/utils/test_config_promotion_failure.json
  go/test/endtoend/vtorc/utils/test_config_promotion_success.json
  go/test/endtoend/vtorc/utils/utils.go
  test/config.json
Labels: Type: Testing, Component: VTorc, release notes none

#9215 [vtadmin-web] Add tailwindcss
  web/vtadmin/README.md
  web/vtadmin/craco.config.js
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/dataTable/DataCell.module.scss
  web/vtadmin/src/components/dataTable/DataCell.tsx
  web/vtadmin/src/components/dataTable/DataTable.tsx
  web/vtadmin/src/components/layout/ContentContainer.module.scss
  web/vtadmin/src/components/layout/ContentContainer.tsx
  web/vtadmin/src/components/routes/Backups.tsx
  web/vtadmin/src/components/routes/Clusters.module.scss
  web/vtadmin/src/components/routes/Clusters.tsx
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/src/components/routes/Gates.tsx
  web/vtadmin/src/components/routes/Keyspaces.module.scss
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/VTExplain.module.scss
  web/vtadmin/src/components/routes/Vtctlds.tsx
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/routes/schema/Schema.tsx
  web/vtadmin/src/components/routes/shard/Shard.tsx
  web/vtadmin/src/components/routes/shard/ShardTablets.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/tablet/TabletCharts.module.scss
  web/vtadmin/src/components/routes/tablet/TabletCharts.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/tooltip/HelpTooltip.module.scss
  web/vtadmin/src/index.css
  web/vtadmin/tailwind.config.js
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#9211 Local example: fix local change that was committed erroneously
  test/local_example.sh
Labels: Type: Bug, Component: Examples, release notes none

#9210 Backport to v12: messager: cleanup interdependecies
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: TabletManager

#9217 [vtadmin-web] Bugfix to stop overwriting default tailwindcss text color rules
  web/vtadmin/tailwind.config.js
Labels: Type: Bug, Component: VTAdmin, release notes none

#9155 Collations Integration Ordering
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9229 Rename master to primary/source in web interface of vtorc
  web/orchestrator/public/css/orchestrator.css
  web/orchestrator/public/js/cluster-analysis-shared.js
  web/orchestrator/public/js/cluster-tree.js
  web/orchestrator/public/js/cluster.js
  web/orchestrator/public/js/clusters.js
  web/orchestrator/public/js/orchestrator.js
  web/orchestrator/templates/faq.tmpl
  web/orchestrator/templates/home.tmpl
  web/orchestrator/templates/layout.tmpl
Labels: Type: Bug, Component: VTorc, release notes none

#9244 Fix owned vindex query to keep alias in table expression
  go/test/endtoend/vtgate/lookup_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/update.go
Labels: Type: Bug, Component: Query Serving, release notes

#9243 Gen4: allow group by queries with sharding keys to pass through when it is a single route
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9245 git: optimize golangci-lint post-commit hook
  misc/git/hooks/golangci-lint
Labels: Component: Build/CI, Type: Performance, release notes none

#9246 [12.0] make sure to copy bindvars when using them concurrently
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/concatenate.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9233 Add experimental `whoami` api endpoint
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/experimental/whoami.go
  go/vt/vtadmin/rbac/authentication.go
Labels: Type: Feature Request, Component: VTAdmin, release notes

#9223 Backport 9211: Fix local change that was committed erroneously
  test/local_example.sh
Labels: Type: Bug, Backport, Component: Examples

#9206 VReplication Workflow Create: Check for Copying state while waiting for streams to start
  go/test/endtoend/vreplication/migrate_test.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: VReplication, release notes

#9149 [mockgen] update generator directives and regenerate
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
  go/vt/workflow/resharding/mock_resharding_wrangler_test.go
  go/vt/workflow/resharding/resharding_wrangler.go
Labels: Type: Internal Cleanup, Component: Build/CI, release notes none

#9224 vtctlclient Workflow command: handle empty workflow name in a keyspace.workflow spec
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: VReplication, release notes none

#9176 Add option to run vtcombo and vttest local cluster with real topo server
  go/cmd/vtcombo/main.go
  go/cmd/vttestserver/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/vt/vttest/environment.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/plugin_consultopo.go
  go/vt/vttest/plugin_etcd2topo.go
  go/vt/vttest/plugin_grpctmclient.go
  go/vt/vttest/plugin_zk2topo.go
  go/vt/vttest/topoctl.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: vttestserver, release notes

#9160 Support ALTER VITESS_MIGRATION ... CLEANUP statement
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/mysqld.go
  go/vt/servenv/grpc_codec.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/planbuilder/testdata/migration_cases.txt
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletmanager/vreplication/replica_connector.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttest/plugin_consultopo.go
  go/vt/vttest/plugin_etcd2topo.go
  go/vt/vttest/plugin_grpctmclient.go
  go/vt/vttest/plugin_zk2topo.go
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#9228 restore 'vtctl VExec' command (main branch)
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: Cluster management, release notes (needs details)

#9251 fix: paste command in linter
  misc/git/hooks/golangci-lint
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9248 Match collation between VTGate and VTTablet
  go/cmd/vttablet/vttablet.go
  go/mysql/client.go
  go/mysql/collations/env.go
  go/mysql/conn.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/endtoend/connkilling/main_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttest/mysqlctl.go
  go/vt/vttest/vtprocess.go
  go/vt/wrangler/vdiff.go
  proto/query.proto
  proto/topodata.proto
Labels: Type: Enhancement, Component: Query Serving, release notes

#8691 Initial implementation of partitions (Create statement)
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/alterVschema_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9212 backupengine: send periodic progress updates
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fileutil.go
Labels: Type: Bug, Component: Backup and Restore, release notes none

#9181 Inclusive naming: use new RPCs in vtctl/vtctld/wrangler etc.
  go/cmd/vtbackup/vtbackup.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/diff_utils.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/keyspace.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff_env_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: vtctl, Component: Backup and Restore, release notes

#9256 Migrate jQuery (pt. 2/3)
  go/vt/logz/logz_utils.go
Labels: Type: Internal Cleanup, release notes, Component: web UI

#9254 Rename master to primary/source in web interface of vtorc - 12.0
  web/orchestrator/public/css/orchestrator.css
  web/orchestrator/public/js/cluster-analysis-shared.js
  web/orchestrator/public/js/cluster-tree.js
  web/orchestrator/public/js/cluster.js
  web/orchestrator/public/js/clusters.js
  web/orchestrator/public/js/orchestrator.js
  web/orchestrator/templates/faq.tmpl
  web/orchestrator/templates/home.tmpl
  web/orchestrator/templates/layout.tmpl
Labels: Type: Bug, Component: VTorc, release notes none

#9255 collations: implement TestSupportTables
  go/mysql/collations/golden_test.go
  go/mysql/collations/mysqlversion.go
  go/mysql/collations/tools/makecolldata/mysqlversions.go
Labels: Type: Documentation, Component: Query Serving, release notes none

#9178 [backport] Fix boolean parameter order in DropSources call for v2 flows
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: Cluster management, Component: VReplication, Backport, release notes

#9261 Add test to PRS with Drained tablet
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
Labels: Component: Cluster management, Type: Testing, release notes none

#9263 Gen4: filter on derived union system table with star projection
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9189 Do keyspace filtering when possible with `show vitess_shards`
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9250 changing -dry-run to -dry_run
  go/vt/vtctl/vtctl.go
Labels: Type: Documentation, Component: vtctl, release notes none

#9227 restore 'vtctl VExec' command (backport v12)
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: Cluster management, release notes (needs details)

#9234 Delete `go/cmd/automation_{client,server}`
  go/cmd/automation_client/automation_client.go
  go/cmd/automation_server/automation_server.go
  go/cmd/automation_server/plugin_grpcvtctlclient.go
  go/cmd/automation_server/plugin_grpcvtworkerclient.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9237 Prevent Race Conditions Between Tablet Deletes and Updates
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_health_check.go
  go/vt/discovery/topology_watcher.go
  test/config.json
Labels: Type: Bug, Component: TabletManager, release notes

#9171 OnlineDDL: implementing -postpone-completion, ALTER VITESS_MIGRATION ... COMPLETE
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#9258 Use PRS in VtOrc while doing Graceful Primary Takeover
  docker/mini/orchestrator-vitess-mini.conf.json
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/gracefultakeover/main_test.go
  go/test/endtoend/vtorc/primaryfailure/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Enhancement, Component: VTorc, release notes

#9140 gen4: Add hash join primitive and planning
  go/hack/runtime.go
  go/mysql/collations/8bit.go
  go/mysql/collations/collation.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/uca.go
  go/mysql/collations/unicode.go
  go/sqltypes/type.go
  go/sqltypes/value.go
  go/test/endtoend/vtgate/gen4/column_name_test.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/vt/sqlparser/comments.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/hash_join_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/hash_code_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/derivedtree.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/gen4_planner_test.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/hash_join.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/symtab_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9249 Fuzzing: Add more fuzzers
  go/test/fuzzing/ast_fuzzer.go
  go/test/fuzzing/oss_fuzz_build.sh
  go/test/fuzzing/parser_fuzzer.go
  go/test/fuzzing/tablet_manager_fuzzer.go
  go/test/fuzzing/tabletserver_rules_fuzzer.go
  go/test/fuzzing/tabletserver_schema_fuzzer.go
  go/test/fuzzing/vttablet_fuzzer.go
  go/vt/vtgate/planbuilder/abstract/fuzz.go
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vttablet/tabletmanager/vreplication/fuzz.go
  go/vt/vttablet/tabletserver/fuzz.go
Labels: Component: Query Serving, Type: Testing, release notes

#9075 Changed Collations and Expression grammar
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9267 collations: Wildcard matching for the 'LIKE' operator
  go/mysql/collations/8bit.go
  go/mysql/collations/collation.go
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/integration/wildcard_test.go
  go/mysql/collations/internal/charset/charset.go
  go/mysql/collations/internal/uca/collation.go
  go/mysql/collations/internal/uca/layout.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/uca.go
  go/mysql/collations/unicode.go
  go/mysql/collations/wildcard.go
  go/mysql/collations/wildcard_test.go
Labels: Type: Feature Request, Component: Query Serving, release notes none

#9205 Explicit Collation Error
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9260 vtexplain: correct handling of column types for queries involving multiple tables
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Labels: Type: CI/Build, release notes, Component: vtexplain

#9274 Replication manager should not start health ticks after calling Promote Replica
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/replmanager_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9273 Support -allow-zero-in-date in ApplySchema 'direct' strategy
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Enhancement, Component: Cluster management, release notes (needs details)

#9280 Fix show statement in prepare call
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#9282 [12.0] Fix for show commands in prepare statement
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
Labels: Type: Bug, Component: Query Serving, Backport

#9281 Add Tuples and InOp implementation to EvalEngine
  go/mysql/sql_error.go
  go/vt/sqlparser/parse_test.go
  go/vt/vterrors/state.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9240 Set super_read_only off during restore; achieves same as PR #8929
  go/vt/mysqlctl/backup.go
Labels: Type: Enhancement, Component: Backup and Restore, release notes

#9284 Update vtop README file for MySQL 80
  examples/operator/README.md
Labels: Type: Documentation, release notes none, Component: Documentation

#9188 Fix table/sizes query, to allow vttablet schema engine to see partitioned tables
  go/mysql/flavor_mysql.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/mysqlserver/mysql_server_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#9277 Use decoded hex string when calculating the keyspace ID
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/remote/charset.go
  go/mysql/collations/remote/collation.go
  go/mysql/endtoend/replication_test.go
  go/sqltypes/plan_value.go
  go/sqltypes/result.go
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/binlog/binlog_connection.go
  go/vt/binlog/binlog_streamer.go
  go/vt/binlog/keyspace_id_resolver.go
  go/vt/mysqlctl/tmutils/permissions.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/vindexes/binary.go
  go/vt/vtgate/vindexes/binary_test.go
  go/vt/vtgate/vindexes/binarymd5.go
  go/vt/vtgate/vindexes/binarymd5_test.go
  go/vt/vtgate/vindexes/cfc.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/xxhash.go
  go/vt/vtgate/vindexes/xxhash_test.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/worker/key_resolver.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vexec.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#9269 Better handling of partial dml query exec in transaction
  go/test/endtoend/vtgate/partialfailure/main_test.go
  go/test/endtoend/vtgate/utils/utils.go
  go/vt/sqlparser/comments.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_flaky_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  test/config.json
Labels: Type: Enhancement, Breaking change, Component: Query Serving, release notes

#9259 Make PRS use Durability Rules
  go/vt/topotools/position_searcher.go
  go/vt/topotools/position_searcher_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/reparent_sorter.go
  go/vt/vtctl/reparentutil/reparent_sorter_test.go
  go/vt/vtctl/reparentutil/util.go
Labels: Type: Enhancement, Component: Cluster management, Component: VTorc, release notes

#9289 Fuzzing: Refactor abstract_fuzzer
  go/vt/vtgate/planbuilder/abstract/fuzz.go
Labels: Component: Query Serving, Type: Testing, release notes none

#9294 refactor: more cleaner rollback on error code with additional comments
  go/vt/vtexplain/vtexplain.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#9270 Use relay log position in PRS while choosing the new primary
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9296 Add support for changing Planner Version in vttestserver docker image
  docker/vttestserver/run.sh
  go/cmd/vttestserver/main.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#9265 [vtadmin-web] Add 'npm run local' command
  web/vtadmin/README.md
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#9264 mysql: Pass mysql.Conn through {Hash,PlainText,Caching}Storage interfaces
  go/mysql/auth_server.go
  go/mysql/auth_server_clientcert.go
  go/mysql/auth_server_none.go
  go/mysql/auth_server_static.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/vault/auth_server_vault.go
Labels: Type: Enhancement, Component: Query Serving, release notes
