Repository vitessio/vitess, pull requests merged in 2021-01, with the labels that each got.

#7199 Adds Planning and Parsing Support for Alter Table
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/wrangler/materializer_test.go
Labels: Compontent: Query Serving, P3, Type: Enhancement

#7178 Adds Planning and Parsing Support for Drop Table, Drop View and Alter View
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Compontent: Query Serving, P3, Type: Enhancement

#7213 make docker_local: fix missing mysql_server package
  docker/local/Dockerfile
Labels: Component: Build, P2, Type: Bug

#7233 Vault Support
  go.mod
  go.sum
  go/cmd/vtgate/plugin_auth_vault.go
  go/cmd/vttablet/vttablet.go
  go/mysql/auth_server_vault.go
  go/mysql/auth_server_vault_test.go
  go/test/endtoend/vault/ca.pem
  go/test/endtoend/vault/dbcreds_policy.hcl
  go/test/endtoend/vault/dbcreds_secret.json
  go/test/endtoend/vault/vault-cert.pem
  go/test/endtoend/vault/vault-key.pem
  go/test/endtoend/vault/vault-setup.sh
  go/test/endtoend/vault/vault.hcl
  go/test/endtoend/vault/vault_server.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vault/vtgatecreds_secret.json
  go/vt/dbconfigs/credentials.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vttablet/tabletmanager/tm_init.go
  test/config.json
Labels: Compontent: Query Serving, P3

#7268 Don't turn varchar vindex queries into IN
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/utils/diff.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
Labels: Backport me!, Type: Bug

#7270 [8.0] don't try to compare varchars in vtgate
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/utils/diff.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
Labels: Type: Bug

#7269 [7.0] don't try to compare varchars in vtgate
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/utils/diff.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/vcursor_impl_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
Labels: Type: Bug

#7295 added vitess_version as variable
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
Labels: Compontent: Query Serving, Type: Enhancement

#7294 Testing upgrade path from / downgrade path to v8.0.0
  .github/workflows/cluster_endtoend_upgrade.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/versionupgrade/upgrade_test.go
  test.go
  test/config.json
Labels: Backport me!, Component: Build

#7300 Addition of @@enable_system_settings to vtgate
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  proto/vtgate.proto
Labels: Compontent: Query Serving

#7326 Add mysqlctl to docker images
  Makefile
Labels: Component: Build

#7384 9.0.0 Release Notes
  doc/releasenotes/9_0_0_release_notes.md
Labels: Type: Documentation

#7385 9.0.0 Release Notes
  doc/releasenotes/9_0_0_release_notes.md
Labels: Type: Documentation

#7337 Change @@version and @@version_comment
  go/mysql/server.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/buildinfo_test.go
  go/vt/servenv/version.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plugin_mysql_server.go
Labels: Compontent: Query Serving, Type: Enhancement

#7397 Fixes the error messages in drop, create and alter database commands
  go/mysql/constants.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
Labels: Compontent: Query Serving, P3, Type: Bug
