Repository vitessio/vitess, pull requests merged in 2021-02, with the labels that each got.

#7430 Fix information_schema query with system schema in table_schema filter
  go/test/endtoend/vtgate/system_schema_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Compontent: Query Serving

#7458 Removes printing of ENFORCED word so that statements remain compatible with mysql 5.7
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
Labels: Compontent: Query Serving, P3, Type: Bug

#7468 plan: remove mutexes
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_scatter_stats.go
  go/vt/vtgate/logstats.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/resolver.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/cached_size.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/queryz.go
Labels: Compontent: Query Serving

#7459 Allows any ordering of generic options in column definitions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/rewriter.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/tabletserver/schema/cached_size.go
  tools/check_make_parser.sh
Labels: Compontent: Query Serving, P3, Type: Bug

#7411 Temporary Table support in unsharded keyspace
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/proto/query/query.pb.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtgate/engine/ddl.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Labels: Compontent: Query Serving

#7493 make sure to add necessary bindvars when preparing queries
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Compontent: Query Serving

#7490 Report lag stats in poller
  go/vt/vttablet/tabletserver/repltracker/poller.go
Labels: Component: VReplication, P3

#7484 Fix for Query Serving when Toposerver is Down
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/topotest/consul/main_test.go
  go/test/endtoend/topotest/etcd2/main_test.go
  go/test/endtoend/topotest/zk2/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/srvtopo/resilient_server.go
  test.go
  test/config.json
Labels: Component: Cluster management, P1

#7496 servenv: provide a global flag for profiling
  go/vt/servenv/pprof.go
  go/vt/servenv/pprof_test.go
  go/vt/servenv/servenv.go
Labels: Compontent: Query Serving, P3

#7504 Adds another case to merge routes for information_schema queries
  go/vt/sqlparser/cached_size.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Compontent: Query Serving, P3, Type: Bug

#7530 [9.0] Show anywhere plan fix to consider default keyspace
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
Labels: Compontent: Query Serving

#7520 Add innodb_read_rows as vttablet metric
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/main_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Compontent: Query Serving, Type: Enhancement

#7510 Use the emulated MySQL version for special comments
  go/vt/servenv/buildinfo.go
  go/vt/servenv/buildinfo_test.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/token.go
  go/vt/sqlparser/token_test.go
Labels: Compontent: Query Serving, P3, Type: Feature Request

#7519 perf: RPC Serialization
  Makefile
  go/cmd/vtctldclient/internal/command/reparents.go
  go/protoutil/duration.go
  go/protoutil/duration_test.go
  go/vt/proto/automation/automation.pb.go
  go/vt/proto/automationservice/automationservice.pb.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/proto/vtworkerdata/vtworkerdata.pb.go
  go/vt/proto/vtworkerservice/vtworkerservice.pb.go
  go/vt/proto/workflow/workflow.pb.go
  go/vt/vtadmin/api_test.go
  go/vt/vttablet/grpctabletconn/conn_benchmark_test.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  proto/vtctldata.proto
  proto/vttime.proto
Labels: Component: Build, Component: Cluster management, Component: VTAdmin, Compontent: Query Serving

#7542 Add Severity Labels document
  README.md
  SEVERITY.md
Labels: Type: Documentation

#7547 Adds support for Show variables
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/replace_variables.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
Labels: Compontent: Query Serving, Type: Enhancement

#7540 Fix Metadata in SHOW queries
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/rename_fields.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/vtgate_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Compontent: Query Serving, Type: Enhancement
