Repository vitessio/vitess, pull requests merged in 2021-07, with the labels that each got.

#8366 Ignore Internal Operation Tables From Vdiff
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: Cluster management, Type: Enhancement

#8301 [vtadmin-api] Add GetBackups endpoint
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/http/backups.go
  go/vt/vtadmin/http/request.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: VTAdmin, Type: Feature Request

#8302 fuzzing: Fix OSS-fuzz coverage build
  go/test/fuzzing/oss_fuzz_build.sh
  go/vt/vtgate/grpcvtgateconn/fuzz_flaky_test.go
Labels: Component: Build/CI, Type: Testing

#8409 [vtadmin-web] Add Backups view
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/pips/BackupStatusPip.tsx
  web/vtadmin/src/components/routes/Backups.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/backups.ts
Labels: Component: VTAdmin, Type: Enhancement

#8352 [vtadmin-web] Add getStream util + tune refetch intervals
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/index.tsx
  web/vtadmin/src/util/workflows.test.ts
  web/vtadmin/src/util/workflows.ts
Labels: Component: VTAdmin, Type: Internal Cleanup

#8395 resolve parser conflicts and add keyword compatibility test case
  go/vt/sqlparser/keywords_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/mysql_keywords.txt
  tools/check_make_parser.sh
Labels: Component: Query Serving, Type: Enhancement

#8414 v11: deprecation message for a couple Online DDL related commands
  go/vt/vtctl/vtctl.go
Labels: Component: Query Serving, Type: Enhancement

#8411 go.mod: upgrade prometheus, grpc, and protobuf
  go.mod
  go.sum
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/vt/vtgate/vcursor_impl.go
Labels: Component: Observability, Type: Internal Cleanup

#8404 CI: Skip TestConsolidatorMemoryLimits, refactor e2e test cluster setup to reduce vreplication e2e test flakiness
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletserver/stream_consolidator_test.go
Labels: Component: Build/CI, Type: Bug

#8415 Add release notes for all the versions
  doc/releasenotes/10_0_1_release_notes.md
  doc/releasenotes/10_0_2_release_notes.md
  doc/releasenotes/11_0_0_release_notes.md
  doc/releasenotes/9_0_1_release_notes.md
  doc/releasenotes/9_0_2_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8396 Ignore SBR statements from pt-table-checksum
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Component: VReplication, Type: Enhancement

#8390 OnlineDDL/Vreplication stress test: investigating failures
  go/test/endtoend/onlineddl/exec_util.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Component: Query Serving, Component: VReplication, Type: Bug

#8418 Small build improvements
  Makefile
  misc/git/commit-msg
  misc/git/hooks/golint
  misc/git/hooks/govet
  misc/git/pre-commit
Labels: Component: Build/CI, Type: CI/Build

#8416 gomod: do not replace GRPC
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build

#8419 Incrementing to release 12.0.0-SNAPSHOT
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#8394 Gen4: order by and enhanced scoping information for table exprs
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/expand_star.go
  go/vt/vtgate/planbuilder/expand_star_test.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/memory_sort_gen4.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/queryprojection.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/selectGen4.go
  go/vt/vtgate/planbuilder/symtab.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8368 [grpctmclient] Add support for (bounded) per-host connection reuse
  go/vt/grpcclient/client.go
  go/vt/vttablet/grpctmclient/cached_client.go
  go/vt/vttablet/grpctmclient/cached_client_test.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/grpctmserver/server_test.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Labels: Component: Cluster management, Type: Feature Request

#8388 VReplication: Add ability to tag workflows
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/wrangler_env_test.go
  proto/vtctldata.proto
Labels: Component: VReplication, Type: Enhancement

#8417 consolidation: Fix flaky test
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/stream_consolidator_test.go
Labels: Component: Build/CI, Type: CI/Build

#8410 [vtadmin-web] Set Backup status indicators to the correct colours
  web/vtadmin/src/components/pips/BackupStatusPip.tsx
Labels: Component: VTAdmin, Type: Bug

#8421 [vtadmin] cluster rpc pools
  go/pools/rpc_pool.go
  go/pools/rpc_pool_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/errors/errors.go
  go/vt/vtadmin/testutil/cluster.go
Labels: Component: VTAdmin, Type: Enhancement

#8422 Fix problematic ERS cases
  go/mysql/mysql56_gtid_set.go
  go/mysql/mysql56_gtid_set_test.go
  go/mysql/replication_status.go
  go/test/endtoend/reparent/reparent_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Component: Cluster management, Type: Bug

#8276 Alter tests to reuse cluster components
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/recovery_util.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/reparent/utils_test.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletmanager/master/tablet_master_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/vtorc/vtorc_test.go
  go/test/endtoend/worker/worker_test.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/tablet_discovery.go
Labels: Component: Cluster management, Type: Testing

#8430 Ci fix release 9
  .github/workflows/cluster_endtoend_11.yml
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_13.yml
  .github/workflows/cluster_endtoend_14.yml
  .github/workflows/cluster_endtoend_15.yml
  .github/workflows/cluster_endtoend_16.yml
  .github/workflows/cluster_endtoend_17.yml
  .github/workflows/cluster_endtoend_18.yml
  .github/workflows/cluster_endtoend_19.yml
  .github/workflows/cluster_endtoend_20.yml
  .github/workflows/cluster_endtoend_21.yml
  .github/workflows/cluster_endtoend_22.yml
  .github/workflows/cluster_endtoend_23.yml
  .github/workflows/cluster_endtoend_24.yml
  .github/workflows/cluster_endtoend_26.yml
  .github/workflows/cluster_endtoend_27.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias.yml
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_v2.yml
  .github/workflows/docker_test_1.yml
  .github/workflows/docker_test_2.yml
  .github/workflows/docker_test_3.yml
  .github/workflows/ensure_bootstrap_updated.yml
  .github/workflows/sonar_analysis.yml
  .github/workflows/unit.yml
  .github/workflows/unit_test_mariadb101.yml
  .github/workflows/unit_test_mariadb102.yml
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  .github/workflows/unit_test_percona56.yml
  Makefile
  test.go
  test/README.md
  test/ci_workflow_gen.go
  test/config.json
  test/templates/cluster_endtoend_test.tpl
  test/templates/unit_test.tpl
Labels: Component: Build/CI, Type: Enhancement

#8429 Gen4 cost calculation tweak
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8437 Merge release-11.0 into main
  go/test/endtoend/onlineddl/exec_util.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Component: Build/CI, Type: CI/Build

#8435 Merge 9.0 into 10.0
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/query.go
  go/mysql/query_test.go
  go/vt/wrangler/materializer.go
Labels: Component: Build/CI, Type: CI/Build

#8310 Use consul lock properly
  go/vt/topo/consultopo/lock.go
Labels: Component: Cluster management, Type: Bug

#8433 Adds flag to vttablet to disallow online DDL statements
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Component: Query Serving, Type: Internal Cleanup

#8403 Tablet Picker: add metric to record lack of available tablets
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
Labels: Component: VReplication, Type: Enhancement

#8446 CI: Remove mariadb101 which is well past eol and no longer available in distributions
  .github/workflows/unit_test_mariadb101.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: Enhancement

#8405 Online DDL/VReplication: able to read from replica
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/topo/tablet.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Component: Query Serving, Type: Enhancement

#8384 query projection test
  go/vt/vtgate/planbuilder/queryprojection.go
  go/vt/vtgate/planbuilder/queryprojection_test.go
Labels: Component: Query Serving, Type: Testing

#8398 added batch lookup param to lookup vindex
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/selectsharded-queries.sql
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtgate/vindexes/lookup_internal.go
Labels: Component: Query Serving, Type: Enhancement

#8455 [vtadmin] Add a vtctld Dialer unit test
  go/vt/vtadmin/vtctldclient/proxy_test.go
Labels: Component: VTAdmin, Type: Testing

#8406 Initial support for stress testing in end-to-end tests
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/reparent_test.go
  go/test/endtoend/reparent/utils_test.go
  go/test/endtoend/stress/stress_test.go
  go/test/endtoend/vtgate/concurrentdml/main_test.go
  go/test/stress/results.go
  go/test/stress/results_test.go
  go/test/stress/stress.go
  go/test/stress/utils.go
  test/config.json
Labels: Component: Build/CI, Type: Enhancement

#8428 multishard autocommit should work for bypass routing
  go/vt/sqlparser/comments.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/send_test.go
  go/vt/vtgate/planbuilder/bypass.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/bypass_keyrange_cases.txt
  go/vt/vtgate/planbuilder/testdata/bypass_shard_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8439 Add "no-scatter" flag to prohibit the use of scatter queries
  go/vt/sqlparser/comments.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/vtgate.go
Labels: Component: Query Serving, Type: Enhancement

#8423 VReplication: support different keys on source and target tables (different covered columns)
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/different-pk-int-to-text/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/different-pk-int-to-text/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/different-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/extend-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/extend-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-different-pk-new-pk-column/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-different-pk-new-pk-column/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-different-pk-new-pk-column/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-shared-uk/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/generated-columns57-unique/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/no-shared-uk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/no-shared-uk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/reduce-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/reduce-pk/create.sql
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/types.go
  go/vt/vttablet/onlineddl/vrepl/types_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  proto/binlogdata.proto
Labels: Component: VReplication, Type: Enhancement

#8461 [vtadmin] Add Options struct to wrap grpc/http options
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
Labels: Component: VTAdmin, Type: Internal Cleanup

#8460 Allow for configuration of the minimal TLS version
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client.go
  go/mysql/conn_params.go
  go/mysql/handshake_test.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/mysql_fuzzer.go
  go/mysql/server_test.go
  go/vt/grpcclient/client.go
  go/vt/servenv/grpc_server.go
  go/vt/tlstest/tlstest_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vttls/vttls.go
  misc/git/hooks/goimports
Labels: Component: Query Serving, Component: VReplication, Needs release note, Type: Internal Cleanup

#8387 VTGR: Vitess + MySQL group replication
  go/cmd/vtgr/main.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_mysqlgr_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgr_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vtgr/my.cnf
  go/test/endtoend/vtgr/test_config.json
  go/test/endtoend/vtgr/vtgr_test.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/config/vtgr_config.json
  go/vt/vtgr/config/vtgr_config_test.go
  go/vt/vtgr/controller/controller.go
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/error.go
  go/vt/vtgr/controller/group.go
  go/vt/vtgr/controller/group_test.go
  go/vt/vtgr/controller/mock_refresh.go
  go/vt/vtgr/controller/refresh.go
  go/vt/vtgr/controller/refresh_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/db/mock_mysql.go
  go/vt/vtgr/db/mysql.go
  go/vt/vtgr/plugin_consultopo.go
  go/vt/vtgr/plugin_etcd2topo.go
  go/vt/vtgr/plugin_grpctmclient.go
  go/vt/vtgr/plugin_zk2topo.go
  go/vt/vtgr/vtgr.go
Labels: Component: Cluster management, Type: Feature Request

#8458 Enhance k8stopo flag documentation
  go/vt/topo/k8stopo/server.go
Labels: Component: Cluster management, Type: Documentation

#8452 Remove mariadb101 which is well past eol and no longer available in std distributions: https://endoflife.date/mariadb
  .github/workflows/unit_test_mariadb101.yml
  go/test/endtoend/messaging/message_test.go
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: Testing

#8442 Current_timestamp aliases should not be parenthesised for DEFAULT clause
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/mysql80/main_test.go
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
Labels: Component: Query Serving, Type: Bug

#8464 Enhance k8stopo flag documentation
  go/vt/topo/k8stopo/server.go
Labels: Component: Cluster management, Type: Documentation

#8401 VDiff: Add BIT datatype to list of byte comparable types
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/vreplication/config.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/wrangler/vdiff.go
Labels: Component: VReplication, Type: Bug

#8298 Expose topo_consul_lock_session_checks to allow customized consul session check
  go/vt/topo/consultopo/lock.go
  go/vt/topo/consultopo/server.go
  go/vt/topo/consultopo/server_flaky_test.go
Labels: Component: Cluster management, Type: Enhancement, Type: Feature Request

#8451 Gen4: fail more unsupported queries
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8453 Gen4: groupby support
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/plan_description_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/memory_sort_gen4.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/queryprojection.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/selectGen4.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/onecase.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: Query Serving, Type: Enhancement

#8467 Add `rows` as keyword in sqlparser
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8478 fix when show tables record too much error log "Got unhandled packet.."
  go/mysql/conn.go
  go/mysql/constants.go
Labels: Component: Query Serving, Type: Enhancement

#8473 naming: Introduce InitPrimary RPC, rename request/response protos
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
Labels: Component: Cluster management, Type: Internal Cleanup

#8485 improve the Gen4NotSupportedF error
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/semantics/analyzer.go
Labels: Component: Query Serving, Type: Enhancement

#8481 naming: create new vtctl commands
  doc/SeparatingVttabletMysql.md
  examples/compose/external_db/README.md
  examples/compose/vtcompose/vtcompose.go
  go/cmd/vtbackup/vtbackup.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/utils_test.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/tabletmanager/master/tablet_master_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vtgate/schema/schema_test.go
  go/test/endtoend/vtorc/vtorc_test.go
  go/test/fuzzing/vtctl_fuzzer.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/topo/locks.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/shard.go
  proto/query.proto
  proto/topodata.proto
Labels: Component: Cluster management, Type: Internal Cleanup

#8489 Return from throttler goroutine if context is cancelled to prevent goroutine leaks
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Bug

#8483 Fix vreplication error metric
  go/vt/vttablet/tabletmanager/vreplication/stats.go
Labels: Component: VReplication, Type: Bug

#8479 Gen4: Distinct
  go/mysql/sql_error.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/onecase.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8496 [vtadmin] Remove outdated commands from vtadmin-web README
  web/vtadmin/README.md
Labels: Component: VTAdmin, Type: Documentation

#8495 NativeDDL: analyzing added&removed unique keys
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl_test.go
Labels: Component: Query Serving, Type: Enhancement

#8459 Cleanup: import of gh-ost test suite is complete
  go/test/endtoend/onlineddl/vrepl_suite/testdata/test.sh
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/datetime-to-timestamp-pk-fail/__expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/modify-change-case-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/modify-change-case-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/test.sh
Labels: Component: Query Serving, Type: CI/Build

#8487 naming: deprecate old flags and create new ones (master->primary)
  go/vt/vtctl/backup.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/vtctld.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/schema_test.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/find_tablet_test.go
  go/vt/wrangler/testlib/migrate_served_from_test.go
  go/vt/wrangler/testlib/migrate_served_types_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/shard_test.go
Labels: Component: Cluster management, Type: Internal Cleanup

#8502 boolean values should not be parenthesised in default clause
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
Labels: Component: Query Serving, Type: Bug

#8507 Add support for passing custom interceptors to vtadmin grpcserver
  go/vt/vtadmin/grpcserver/server.go
Labels: Component: VTAdmin, Type: Enhancement

#8504 mysql/server: abort connection if secure transport is required
  go/mysql/server.go
Labels: Backport me!, Component: Query Serving, Type: Bug

#8513 naming: Introduce UndoDemotePrimary RPC, rename request/response protos
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
Labels: Component: Query Serving, Type: Internal Cleanup

#8509 naming: remove MasterStatus proto and use PrimaryStatus everywhere
  go/mysql/primary_status.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  proto/replicationdata.proto
  proto/tabletmanagerdata.proto
Labels: Component: Cluster management, Type: Internal Cleanup

#8515 [vtadmin] [experimental] add per-api RBAC implementation
  go.mod
  go.sum
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/api.go
  go/vt/vtadmin/http/handlers/authentication.go
  go/vt/vtadmin/rbac/authentication.go
  go/vt/vtadmin/rbac/authorization.go
  go/vt/vtadmin/rbac/authorizer_test.go
  go/vt/vtadmin/rbac/config.go
  go/vt/vtadmin/rbac/example/config.yaml
  go/vt/vtadmin/rbac/example/main.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/rbac/rule.go
Labels: Component: VTAdmin, Type: Feature Request

#8482 Addition of known issues to release notes
  Makefile
  go/tools/release-notes/release_notes.go
Labels: Component: Build/CI, Type: CI/Build

#8512 naming: Introduce DemotePrimary RPC, rename request/response protos
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
Labels: Component: Cluster management, Type: Internal Cleanup

#8516 Update to planetscale/tengo v0.10.1-ps.v4
  go.mod
  go.sum
Labels: Component: Query Serving, Type: Enhancement

#8506 Gen4: Distinct plan refactor and support grouping and aggregation on join query
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/stream_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Component: Query Serving, Type: Enhancement

#8503 Refactor authentication server plugin mechanism
  go/mysql/auth_server.go
  go/mysql/auth_server_clientcert.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/auth_server_none.go
  go/mysql/auth_server_static.go
  go/mysql/auth_server_static_test.go
  go/mysql/auth_server_test.go
  go/mysql/auth_server_vault.go
  go/mysql/client.go
  go/mysql/conn.go
  go/mysql/constants.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/query_benchmark_test.go
  go/mysql/server.go
  go/mysql/server_test.go
Labels: Component: Query Serving, Type: Enhancement

#8525 go/mysql/auth: fix error message for wrong auth method.
  go/mysql/auth_server_clientcert.go
Labels: Component: Query Serving, Type: Bug

#8500 Fixing multiple issues related to onlineddl/lifecycle
  go/vt/schema/tablegc_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Component: Query Serving, Type: Bug

#8517 Backport: Fixing multiple issues related to onlineddl/lifecycle
  go/vt/schema/tablegc_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Component: Query Serving, Type: Bug

#8508 Inclusive Naming: replace master in healthcheck and replication lag metrics
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/tabletgateway/buffer/buffer_test.go
  go/test/endtoend/vtgate/buffer/buffer_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vtctl/cells_aliases.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  proto/query.proto
Labels: Component: Observability, Type: Internal Cleanup

#8472 Handle lock release with SIGHUP in VTGR
  go/vt/vtgr/controller/refresh.go
  go/vt/vtgr/controller/refresh_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/vtgr.go
  go/vt/vtgr/vtgr_test.go
Labels: Component: Cluster management, Type: Enhancement

#8526 Initial pass at some vtadmin docs
  doc/vtadmin/api-server.md
  doc/vtadmin/cluster-config.md
  doc/vtadmin/clusters.yaml
  doc/vtadmin/discovery.md
  go/vt/vtadmin/README.md
Labels: Component: VTAdmin, Type: Documentation

#8527 Change local example to use v2 vreplication flows
  examples/local/202_move_tables.sh
  examples/local/203_switch_reads.sh
  examples/local/204_switch_writes.sh
  examples/local/205_clean_commerce.sh
  examples/local/303_reshard.sh
  examples/local/304_switch_reads.sh
  examples/local/305_switch_writes.sh
  examples/local/306_down_shard_0.sh
  examples/region_sharding/203_reshard.sh
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vtctl.go
  test/local_example.sh
Labels: Component: VReplication, Type: Enhancement

#8520 Naming: tabletmanagerservice Master->Primary terminology
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  proto/tabletmanagerdata.proto
  proto/tabletmanagerservice.proto
Labels: Component: Cluster management, Type: Internal Cleanup

#8521 Fix VReplication logging to file and db
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/discovery/tablet_picker.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Component: VReplication, Type: Bug

#8531 boolean values should not be parenthesised in default clause - release 11
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
Labels: Backport, Component: Query Serving, Type: Bug

#8532 SHOW VITESS_MIGRATION '...' LOGS, retain logs for 24 hours
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/migration.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Component: Query Serving, Type: Enhancement

#8533 [11.0] query serving to continue when topo server restarts
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/topotest/consul/main_test.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
Labels: Component: Query Serving, Type: Enhancement, forward port

#8536 Backports of #8403 #8483 #8489 #8401 #8521 #8396 from main into release 11.0
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/vreplication/config.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/wrangler/vdiff.go
Labels: Component: Build/CI, Type: Internal Cleanup

#8537 Fix handshake protocol with MySQL client
  go/mysql/auth_server.go
  go/mysql/server.go
Labels: Component: Query Serving, Type: Bug

#8534 query serving to continue when topo server restarts - main
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/topotest/consul/main_test.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
Labels: Component: Query Serving, Type: Enhancement, forward port

#8519 Clear only the current shard's schemacopy rows during schema reload
  go/mysql/endtoend/schema_change_test.go
  go/mysql/schema.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
Labels: Component: Query Serving, Type: Bug

#8471 Automatically use the latest tag of Vitess for cluster upgrade E2E test
  .github/workflows/cluster_endtoend_upgrade.yml
Labels: Component: Build/CI, Type: CI/Build

#8529 Enhance PRS error message
  go/test/endtoend/reparent/reparent_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
Labels: Component: Cluster management, Type: Enhancement

#8530 naming: deprecate funcs and add new ones in TabletManagerClient interface
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/tmclient/rpc_client_api.go
Labels: Component: Cluster management, Type: Internal Cleanup

#8445 VStream API: handle reparenting and unhealthy tablets
  .github/workflows/cluster_endtoend_vstream_failover.yml
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/discovery/tablet_picker.go
  go/vt/topo/tablet.go
  go/vt/vtgate/discoverygateway.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: VReplication, Type: Enhancement

#8540 [11.0] Disable allowing set statements on system settings by default
  go/vt/vtgate/vtgate.go
Labels: Component: Query Serving, Type: Enhancement

#8549 Vitess Release 11.0.0
  doc/releasenotes/11_0_0_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#8538 Updated release 11 notes with newest changes since RC1
  doc/releasenotes/11_0_0_release_notes.md
Labels: Component: Build/CI, Type: Documentation

#8494 Fix Cluster 14 flakiness
  go/test/endtoend/reparent/reparent_test.go
  go/test/stress/stress.go
Labels: Component: Build/CI, Type: CI/Build

#8541 add question on backporting back to PR template
  .github/pull_request_template.md
Labels: Component: Build/CI, Type: CI/Build

#8463 Remove lingering mysqld sock files on vttestserver container startup
  docker/vttestserver/run.sh
Labels: Component: vttestserver, Type: Bug

#8546 Enable GitHub Actions concurrency feature
  .github/workflows/cluster_endtoend_11.yml
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_13.yml
  .github/workflows/cluster_endtoend_14.yml
  .github/workflows/cluster_endtoend_15.yml
  .github/workflows/cluster_endtoend_16.yml
  .github/workflows/cluster_endtoend_17.yml
  .github/workflows/cluster_endtoend_18.yml
  .github/workflows/cluster_endtoend_19.yml
  .github/workflows/cluster_endtoend_20.yml
  .github/workflows/cluster_endtoend_21.yml
  .github/workflows/cluster_endtoend_22.yml
  .github/workflows/cluster_endtoend_23.yml
  .github/workflows/cluster_endtoend_24.yml
  .github/workflows/cluster_endtoend_26.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_declarative.yml
  .github/workflows/cluster_endtoend_onlineddl_ghost.yml
  .github/workflows/cluster_endtoend_onlineddl_revert.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_resharding.yml
  .github/workflows/cluster_endtoend_resharding_bytes.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler_custom_config.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias.yml
  .github/workflows/cluster_endtoend_vreplication_migrate.yml
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_v2.yml
  .github/workflows/cluster_endtoend_vtgate_buffer.yml
  .github/workflows/cluster_endtoend_vtgate_concurrentdml.yml
  .github/workflows/cluster_endtoend_vtgate_gen4.yml
  .github/workflows/cluster_endtoend_vtgate_readafterwrite.yml
  .github/workflows/cluster_endtoend_vtgate_reservedconn.yml
  .github/workflows/cluster_endtoend_vtgate_schema.yml
  .github/workflows/cluster_endtoend_vtgate_topo.yml
  .github/workflows/cluster_endtoend_vtgate_transaction.yml
  .github/workflows/cluster_endtoend_vtgate_unsharded.yml
  .github/workflows/cluster_endtoend_vtgate_vindex.yml
  .github/workflows/cluster_endtoend_vtgate_vschema.yml
  .github/workflows/cluster_endtoend_vtorc.yml
  .github/workflows/cluster_endtoend_xb_recovery.yml
  .github/workflows/unit_test_mariadb102.yml
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  .github/workflows/unit_test_percona56.yml
  test/templates/cluster_endtoend_test.tpl
  test/templates/unit_test.tpl
Labels: Component: Build/CI, Type: CI/Build

#8547 Adds support for comments and comment directives in Gen4
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/abstract/fuzz.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/expand_star_test.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8550 Updated Makefile do_release script to include godoc steps
  Makefile
Labels: Component: Build/CI, Type: CI/Build

#8551 support grpc reflection on APIs
  go/vt/servenv/grpc_server.go
Labels: Component: Query Serving, Type: Enhancement

#8344 Add "show global status" support
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
Labels: Component: Query Serving, Type: Enhancement

#8543 Gen4: Count Distinct support
  go/sqltypes/value.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: Query Serving, Type: Enhancement

#8559 Gen4: Support multiple distinct aggregation functions in the query
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8558 gen4: make sure to check for cached values in more places
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8557 Gen4: add bind variables support for join
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/large_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/symtab_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8564 Adds support for ordering by NULL in gen4
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
Labels: Component: Query Serving, Type: Enhancement
