Repository vitessio/vitess, pull requests merged in 2021-06, with the labels that each got.

#8221 [vtctld] Add GetSrvVSchemas command
  go/cmd/vtctldclient/internal/command/serving_graph.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: VTAdmin, Type: Enhancement

#8215 Refactor vtorc endtoend tests
  .github/workflows/cluster_endtoend_vtorc.yml
  go/test/endtoend/vtorc/test_config.json
  go/test/endtoend/vtorc/vtorc_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#8210 Adds an environment variable to set the MySQL max connections limit in vttestserver docker image
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
  docker/vttestserver/run.sh
Labels: Component: vttestserver, Type: Enhancement

#8226 [vtadmin-api] Add HTTP endpoints for /api/srvvschemas and /api/srvvschema/{cluster}/{cell}
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/http/srvvschemas.go
  go/vt/vtadmin/testutil/proto_compare.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: VTAdmin, Type: Enhancement

#8074 Schema tracking in vtgate
  go/mysql/schema.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/schema_test.go
  go/vt/discovery/tablet_health.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Component: Query Serving, Type: Enhancement

#8205 etcd: add grpc.WithBlock to client config
  go/vt/topo/etcd2topo/server.go
Labels: Component: Cluster management, Type: Enhancement

#8219 [vtctldserver] Migrate `CellInfo`, `CellAlias` rw RPCs
  go/cmd/vtctldclient/internal/command/cells.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/cell_info.go
  go/vt/vtctl/cells_aliases.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Type: Feature Request

#8197 [vtctldserver] Migrate routing rules RPCs, and also `RebuildVSchemaGraph`
  go/cmd/vtctldclient/internal/command/routing_rules.go
  go/cmd/vtctldclient/internal/command/serving_graph.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Type: Feature Request

#8227 Online DDL: reject ALTER TABLE...RENAME statements
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-rename-table/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-rename-table/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-rename-table/expect_query_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-rename-table/expect_failure
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
Labels: Component: Build/CI, Component: Query Serving, Type: Bug, Type: CI/Build

#8229 Speedup new vttestserver tests
  go/cmd/vttestserver/vttestserver_test.go
Labels: Component: vttestserver, Type: Testing

#8224 Schema tracking: One schema load at a time per keyspace
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/schema_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/schema/uptate_controller.go
  go/vt/vtgate/schema/uptate_controller_test.go
Labels: Component: Query Serving, Type: Feature Request

#8217 Expose inner net.Conn to be able to write better unit tests
  go/mysql/conn.go
  go/mysql/conn_test.go
Labels: Component: Query Serving, Type: Enhancement

#8234 [Gen4] some renaming from v4 to Gen4
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/selectGen4.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Component: Query Serving, Type: Enhancement

#8225 Online DDL/VReplication: more passing tests (no UK/PK)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-drop-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-drop-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-drop-pk/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-float-unique-key/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-float-unique-key/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-float-unique-key/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-unique-key/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-unique-key/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-unique-key/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-drop-pk/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-float-unique-key/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-no-unique-key/expect_failure
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build

#8228 Online DDL/VReplication: fail on existence of FOREIGN KEY
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/discard-fk/extra_args
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-child/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-child/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-parent/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-parent/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk/expect_failure
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build

#8223 Online DDL/VReplication: AUTO_INCREMENT support and tests
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-user-defined/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-user-defined/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-user-defined/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-zero-value/create.sql
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/parser_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build, Type: Enhancement

#8238 When MySQLd is starting under vttablet control (e.g. when using
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Component: Cluster management, Type: Bug

#8218 vtgate: validate important flags during startup
  go/cmd/vtgate/vtgate.go
  go/vt/vtgate/discoverygateway.go
  go/vt/vtgate/gateway.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Component: Query Serving, Type: Enhancement

#8245 gen4: minor refactoring to improve readability
  go/vt/vtgate/planbuilder/route_planning.go
Labels: Component: Query Serving, Type: Enhancement

#8190 [workflow] Migrate `getCellsWith{Shard,Table}ReadsSwitched`, `TrafficSwitchDirection` and `TableRemovalType` to package workflow
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/stream_migrater_test.go
  go/vt/wrangler/switcher.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/switcher_interface.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
Labels: Component: VReplication, Type: Internal Cleanup

#8192 Online DDL: read and publish gh-ost FATAL message where possible
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Component: Query Serving, Type: Enhancement

#8257 Tracker/VStreamer: only reload schema for tables in current database and not for internal table artifacts
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/schema/tracker_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Enhancement

#8254 gen4: plan more opcodes
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/precedence_test.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
Labels: Component: Query Serving, Type: Enhancement

#8250 remove unused hooks with refs to master branch
  misc/git/commit-msg.bugnumber
  misc/git/prepare-commit-msg.bugnumber
Labels: Component: Build/CI, Type: Internal Cleanup

#8187 Binlog JSON Parser: handle inline types correctly for large documents
  go/mysql/binlog_event_json.go
  go/vt/vttablet/tabletmanager/vreplication/json_docs_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Bug

#8152 [mysqlctl] Restructure `MetadataManager` to reduce public API surface area
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/metadata_tables.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Component: Cluster management, Type: Internal Cleanup

#8246 Makefile: fix cross-build comments
  Makefile
Labels: Component: Build/CI, Type: Internal Cleanup

#8258 remove duplicate ReadMigrations, fixing build
  go/test/endtoend/onlineddl/vtgate_util.go
Labels: Component: VReplication, Type: CI/Build

#8199 [trace] Add optional flags to support flexible jaeger configs
  go/cmd/vtadmin/main.go
  go/flagutil/optional.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
Labels: Component: Build/CI, Type: Feature Request

#8255 Online DDL: report rows_copied for migration (initial support in gh-ost)
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Component: Query Serving, Type: Enhancement

#8248 Copy Phase: turn on OptimizeInserts by default
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Component: VReplication, Type: Enhancement

#8266 [workflow] Add tracing to `GetWorkflows` endpoint
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
Labels: Component: Cluster management, Type: Enhancement

#8262 [vtadmin] Ensure we log any errors when closing the tracer
  go/cmd/vtadmin/main.go
Labels: Component: VTAdmin, Type: Internal Cleanup

#8239 Online DDL/Vreplication: column type awareness
  go/test/endtoend/onlineddl/vrepl_suite/testdata/json57/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/json57/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/json57dml/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/json57dml/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk-parent/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk-parent/destroy.sql
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk-parent/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/fail-fk-parent/extra_args
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/types.go
Labels: Component: Build/CI, Component: Query Serving, Component: VReplication, Type: Bug, Type: CI/Build

#8270 Fix TableGC flaky test by reducing check interval
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Component: Cluster management, Type: CI/Build

#8268 [vtadmin] Add debug endpoints
  go/cmd/vtadmin/main.go
  go/flagutil/sets.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/api.go
  go/vt/vtadmin/http/debug/debug.go
Labels: Component: VTAdmin, Type: Feature Request

#8113 WIP: implement ApplyVSchema in grpc-vtctld
  go/cmd/vtctldclient/internal/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Labels: Component: Cluster management, Type: Enhancement

#8279 Added TableName to DiffReport struct.
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: VReplication, Type: Enhancement

#8251 naming: master to primary
  go/cmd/vtbackup/vtbackup.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_filepos_test.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mariadb_test.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_test.go
  go/mysql/primary_status.go
  go/vt/binlog/binlog_connection.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/reparent.go
  go/vt/mysqlctl/replication.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_schema.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/legacy_split_clone_test.go
  go/vt/worker/split_clone_flaky_test.go
  go/vt/worker/vertical_split_clone_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/migrate_served_from_test.go
  go/vt/wrangler/testlib/migrate_served_types_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
Labels: Component: Cluster management, Type: Internal Cleanup

#8283 Schema Tracking Flaky Test: Ignore unrelated gtid progress events
  go/vt/vttablet/endtoend/vstreamer_test.go
Labels: Component: VReplication, Type: Bug

#8243 Schema Tracking: Optimize and Bug Fix
  go/mysql/schema.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/discovery/tablet_health.go
  go/vt/vtgate/engine/fuzz_flaky_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/schema/uptate_controller.go
  go/vt/vtgate/schema/uptate_controller_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/fuzz.go
  go/vt/vttablet/tabletserver/vstreamer/local_vschema_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
Labels: Component: Query Serving, Type: Enhancement

#8273 proto: enable pooling for vreplication
  Makefile
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Labels: Component: VReplication, Type: Performance

#8285 [vtctldserver] Add tracing
  go/vt/topo/topoproto/keyspace.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
Labels: Component: Cluster management, Type: Enhancement

#8291 [topo] Refactor `ExpandCells` to not error on valid aliases
  go/vt/topo/cell_info.go
  go/vt/topo/topotests/cell_info_test.go
Labels: Component: Cluster management, Type: Bug

#8247 Materialize: Add additional comparison operators in Materialize and fix bug where they not applied for sharded keyspaces
  go/test/endtoend/vreplication/materialize_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/wrangler/materializer.go
  test/config.json
Labels: Component: VReplication, Type: Enhancement

#8142 Switchwrites: error if no tablets available on target for reverse replication
  go/vt/discovery/tablet_picker.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/wrangler/fake_dbclient_test.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Component: VReplication, Type: Bug

#8300 Use shared testing helper which guards against races in tmclient construction
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Component: Build/CI, Type: Bug, Type: CI/Build

#8287 [vtadmin-web] Add client-side error handling interface + Bugsnag implementation
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/api/responseTypes.ts
  web/vtadmin/src/errors/bugsnag.ts
  web/vtadmin/src/errors/errorHandler.test.ts
  web/vtadmin/src/errors/errorHandler.ts
  web/vtadmin/src/errors/errorHandlers.ts
  web/vtadmin/src/errors/errorTypes.ts
  web/vtadmin/src/index.tsx
  web/vtadmin/src/react-app-env.d.ts
Labels: Component: VTAdmin, Type: Enhancement

#8284 [vtctldclient] Add legacy shim
  go/cmd/vtctlclient/main.go
  go/cmd/vtctldclient/internal/command/legacy_shim.go
  go/cmd/vtctldclient/internal/command/root.go
  go/cmd/vtctldclient/plugin_grpcvtctlclient.go
  go/vt/vtctl/grpcclientcommon/dial_option.go
  go/vt/vtctl/grpcvtctlclient/client.go
  go/vt/vtctl/grpcvtctldclient/client.go
Labels: Component: Cluster management, Type: Enhancement

#8253 Vttestserver docker test
  go/test/endtoend/docker/vttestserver.go
  go/test/endtoend/docker/vttestserver_test.go
Labels: Component: vttestserver, Type: Testing

#8129 VReplication: ignore generated columns in workflows
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/sqlparser/parsed_query.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Component: VReplication, Type: Enhancement

#8311 [vtadmin-web] Small bugfix where stream source displayed instead of target
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Labels: Component: VTAdmin, Type: Bug

#8256 Schema tracking: new tables in sharded keyspace
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  go/vt/vterrors/constants.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/schema/tracker.go
  test/config.json
Labels: Component: Query Serving, Type: Enhancement

#8305 moved multiple vtgate and tabletgateway to individual shards
  .github/workflows/cluster_endtoend_resharding.yml
  .github/workflows/cluster_endtoend_resharding_bytes.yml
  .github/workflows/cluster_endtoend_vtgate_buffer.yml
  .github/workflows/cluster_endtoend_vtgate_concurrentdml.yml
  .github/workflows/cluster_endtoend_vtgate_gen4.yml
  .github/workflows/cluster_endtoend_vtgate_readafterwrite.yml
  .github/workflows/cluster_endtoend_vtgate_reservedconn.yml
  .github/workflows/cluster_endtoend_vtgate_schema.yml
  .github/workflows/cluster_endtoend_vtgate_topo.yml
  .github/workflows/cluster_endtoend_vtgate_transaction.yml
  .github/workflows/cluster_endtoend_vtgate_unsharded.yml
  .github/workflows/cluster_endtoend_vtgate_vindex.yml
  .github/workflows/cluster_endtoend_vtgate_vschema.yml
  .github/workflows/cluster_endtoend_xb_recovery.yml
  go/test/endtoend/vtgate/transaction/rollback/txn_rollback_shutdown_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#8320 [vtctldserver] Update tests to prevent races during tmclient init
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Component: Build/CI, Type: CI/Build, Type: Internal Cleanup

#8306 New VReplication lag metric
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Component: VReplication, Type: Enhancement

#8261 [workflow] Add vreplication_log data to workflow protos, and `VtctldServer.GetWorkflows` method
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/vtctl/workflow/vexec/query_plan_test.go
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
  go/vt/vtctl/workflow/vexec/vexec.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Component: VReplication, Component: VTAdmin, Type: Feature Request

#8295 Updates and Corrections to v9 Release Notes
  doc/releasenotes/9_0_0_release_notes.md
Labels: Component: Build/CI, Type: Documentation

#8232 [vtctldserver] Add RefreshState RPCs
  go/cmd/vtctldclient/internal/command/tablets.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/topotools/keyspace.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/keyspace.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Type: Feature Request

#8321 [vtctldserver] Add additional backup info fields
  go/cmd/vtctldclient/internal/command/backups.go
  go/protoutil/time.go
  go/protoutil/time_test.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/mysqlctlproto/backup.go
  go/vt/mysqlctl/mysqlctlproto/backup_test.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/mysqlctl.proto
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Type: Enhancement

#8326 include squashed PRs in release notes
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: CI/Build

#8015 Online DDL: progress & ETA for Vreplication migrations
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Labels: Component: Query Serving, Type: Enhancement

#8275 Online DDL/Vreplication suite: support ENUM->VARCHAR/TEXT type change
  go.sum
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar-rename/after_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar-rename/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar-rename/before_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar-rename/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-to-varchar/create.sql
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/types.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  proto/binlogdata.proto
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Type: Enhancement

#8327 pr-labels workflow: only check actual PRs
  .github/workflows/pr-labels.yml
Labels: Component: Build/CI, Type: CI/Build

#8335 VReplication (and by product, Online DDL): support GENERATED column as part of PRIMARY KEY
  go/test/endtoend/onlineddl/vrepl_suite/testdata/generated-columns57-unique/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/generated-columns57-unique/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
Labels: Component: Build/CI, Component: VReplication, Type: Bug, Type: CI/Build

#8340 workaround xtrabackup error using mysql global variable old_alter_table
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Component: Cluster management, Type: Testing

#8307 [parser] use table_alias for ENGINE option in CREATE TABLE stmt
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Component: Query Serving, Type: Enhancement

#8339 Heuristic fix for a flaky test: allow for some noise to pass through
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Component: Build/CI, Type: CI/Build

#8314 Empty commit from release-10.0 into main
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Component: Build/CI, Type: CI/Build

#8331 [vtadmin-web] Add chart for stream vreplication lag across all streams in a workflow
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/WorkflowStreamsLagChart.test.tsx
  web/vtadmin/src/components/charts/WorkflowStreamsLagChart.tsx
  web/vtadmin/src/components/charts/__snapshots__/WorkflowStreamsLagChart.test.tsx.snap
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/tabletDebugVars.ts
  web/vtadmin/src/util/workflows.test.ts
  web/vtadmin/src/util/workflows.ts
Labels: Component: VReplication, Component: VTAdmin, Type: Enhancement

#8272 [workflow] Call `scanWorkflow` concurrently
  go/vt/vtctl/workflow/server.go
Labels: Component: Cluster management, Type: Enhancement

#8342 Backport of Updates and Corrections to v9 Release Notes to `release-9.0`
  doc/releasenotes/9_0_0_release_notes.md
Labels: Backport, Component: Build/CI, Type: Documentation

#8338 Online DDL/VReplication: add PK DATETIME->TIMESTAMP test
  go/test/endtoend/onlineddl/vrepl_suite/testdata/datetime-to-timestamp-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/datetime-to-timestamp-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/datetime-to-timestamp-pk/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/datetime-to-timestamp-pk-fail/__expect_failure
Labels: Component: Query Serving, Type: CI/Build

#8322 Online DDL/VReplication: support non-UTF8 character sets
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/convert-utf8mb4/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/convert-utf8mb4/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/untestdata/alter-charset/create.sql
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/types.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  proto/binlogdata.proto
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Type: Enhancement

#8337 Online DDL/VReplication: support DROP+ADD column of same name
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-null-add-not-null/after_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-null-add-not-null/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-null-add-not-null/before_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-null-add-not-null/create.sql
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Component: Query Serving, Component: VReplication, Type: CI/Build, Type: Enhancement

#8289 [trace] Add logging support to opentracing plugins
  go/cmd/vtadmin/main.go
  go/trace/logger.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
  go/trace/trace.go
Labels: Component: Observability, Type: Enhancement

#8355 Bugfix: assign cexpr.references for column CONVERTed to utf8mb4
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  test/config.json
Labels: Component: Build/CI, Component: Query Serving, Type: Bug, Type: CI/Build

#8325 Gen4: expand star in projection list
  go/mysql/sql_error.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8346 [vtctldproxy] Add more annotations to vtctld Dial calls
  go/vt/vtadmin/vtctldclient/proxy.go
Labels: Component: Observability, Component: VTAdmin, Type: Enhancement

#8294 Prepared statement buffer concurrent bug fix
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/query.go
  go/mysql/query_test.go
Labels: Component: Query Serving, Type: Bug

#8357 mod: upgrade etcd to stable version
  go.mod
  go.sum
  go/vt/topo/etcd2topo/server.go
Labels: Component: Build/CI, Type: CI/Build

#8363 sks-keyservers.net seems to be finally dead, replace with
  docker/bootstrap/Dockerfile.mysql56
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/install_dependencies.sh
Labels: Component: Build/CI, Type: Internal Cleanup

#8362 tm state: don't populate metadata in updateLocked
  go/test/endtoend/reparent/utils_test.go
  go/vt/vttablet/tabletmanager/tm_state.go
Labels: Component: Cluster management, Type: Bug

#8371 Merge release-9.0 into release-10.0
  doc/releasenotes/9_0_0_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8312 gen4: outer joins
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/analyzer_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/join_test.go
  go/vt/vtgate/planbuilder/abstract/fuzz.go
  go/vt/vtgate/planbuilder/abstract/fuzz_test.go
  go/vt/vtgate/planbuilder/abstract/fuzzdata/clusterfuzz-testcase-planbuilder_fuzzer-1
  go/vt/vtgate/planbuilder/abstract/fuzzdata/clusterfuzz-testcase-planbuilder_fuzzer-5577761986052096
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/outerjoin.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/querygraph.go
  go/vt/vtgate/planbuilder/querygraph_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/selectGen4.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Component: Query Serving, Type: Enhancement

#8370 endtoend: change log level of etcd start from error to info
  go/test/endtoend/cluster/topo_process.go
Labels: Component: Build/CI, Type: Internal Cleanup

#8372 Update link to 'Why FK not supported in Online DDL' blog post
  go/vt/schema/online_ddl.go
  go/vt/vtgate/planbuilder/ddl.go
Labels: Component: Query Serving, Type: Documentation

#8359 gen4: Fail all queries not handled well by gen4
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/impossible_query.go
  go/vt/vtctl/workflow/vexec/vexec.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/symtab.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller_plan.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/vexec/vexec.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vexec_plan.go
Labels: Component: Query Serving, Type: Enhancement

#8383 Resolve go.mod issue with direct dependency on planetscale/tengo
  go.mod
  go.sum
  go/vt/vttablet/onlineddl/executor.go
Labels: Component: Build/CI, Type: CI/Build

#8381 Make timestamp authoritative for master information
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/shard_sync_test.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/tablet.go
Labels: Component: Cluster management, Type: Testing

#8244 VStream API: add heartbeat for idle streams
  examples/local/vstream_client.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/executor_vstream_test.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  proto/vtgate.proto
Labels: Component: VReplication, Type: Enhancement

#8382 Gen4 fail more2
  go/vt/sqlparser/ast.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/selectGen4.go
  go/vt/vtgate/planbuilder/testdata/alterVschema_cases.txt
  go/vt/vtgate/planbuilder/testdata/call_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/flush_cases.txt
  go/vt/vtgate/planbuilder/testdata/migration_cases.txt
  go/vt/vtgate/planbuilder/testdata/other_admin_cases.txt
  go/vt/vtgate/planbuilder/testdata/other_read_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/symtab_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#8393 Delete table reference alias support
  go/mysql/server_test.go
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Component: Query Serving, Type: Bug

#8385 VReplication Reverse Workflows: add keyspace scope to vindex while creating reverse vreplication streams
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/wrangler/traffic_switcher.go
Labels: Component: VReplication, Type: Bug

#8397 Add online ddl on start queries to schema list in vtexplain tablet
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Component: Build/CI, Type: Testing

#8399 Initial GitHub Docker Build Setup
  .github/workflows/build_github_docker_images.yml
Labels: Component: Build/CI, Type: CI/Build

#8402 [grpcvtctldserver] Fix backup detail limit math
  go/vt/vtctl/grpcvtctldserver/server.go
Labels: Component: Cluster management, Type: Bug
