Repository vitessio/vitess, pull requests merged in 2021-08, with the labels that each got.

#8561 Copy parameter data from byte buffer in COM_STMT_SEND_LONG_DATA
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/query.go
  go/mysql/query_test.go
Labels: Backport, Component: Query Serving, Type: Bug

#8568 gen4: Refactoring of semantic analysis
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/typer.go
Labels: Component: Query Serving, Type: Enhancement

#8562 Copy parameter data from byte buffer in COM_STMT_SEND_LONG_DATA
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/query.go
  go/mysql/query_test.go
Labels: Backport, Component: Query Serving, Type: Bug

#8553 Change local example to use v2 vreplication flows and change default to v2 from v1
  examples/local/202_move_tables.sh
  examples/local/203_switch_reads.sh
  examples/local/204_switch_writes.sh
  examples/local/205_clean_commerce.sh
  examples/local/303_reshard.sh
  examples/local/304_switch_reads.sh
  examples/local/305_switch_writes.sh
  examples/local/306_down_shard_0.sh
  examples/region_sharding/203_reshard.sh
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vtctl.go
  test/local_example.sh
Labels: Component: VReplication, Type: Enhancement

#8578 maintainers: add Messaging as area of expertise
  MAINTAINERS.md
Labels: Component: Build/CI, Type: Documentation

#8566 topodata: remove deprecated field 'ServedTypes'
  go/vt/discovery/legacy_healthcheck.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/vtctld/api_test.go
  proto/topodata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: Cluster management, Type: Internal Cleanup

#8572 Customized CreateLookUpVindex to Include a Flag to Continue Vreplication After Backfill with an Owner Provided
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
Labels: Component: VReplication, Type: Enhancement

#8583 srvtopo: resilient watcher
  go/vt/srvtopo/query.go
  go/vt/srvtopo/query_srvkeyspacenames.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/status.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/srvtopo/watch_srvvschema.go
Labels: Component: Cluster management, Type: Enhancement

#8587 Negative float default
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
Labels: Component: Query Serving, Type: Bug

#8589 Fixes subquery rewrite when it is part of IN clause
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
Labels: Component: Query Serving, Type: Bug

#8588 Add additional options for configuring SSL modes as a client
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client.go
  go/mysql/client_test.go
  go/mysql/conn_params.go
  go/mysql/conn_params_test.go
  go/mysql/conn_test.go
  go/mysql/endtoend/main_test.go
  go/mysql/handshake_test.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/mysql_fuzzer.go
  go/mysql/query_benchmark_test.go
  go/mysql/server_test.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/grpcclient/client.go
  go/vt/tlstest/tlstest_test.go
  go/vt/vttls/vttls.go
Labels: Component: Query Serving, Type: Enhancement

#8590 Fix passing the wrong cell/cells variable to CreateLookupVindex
  go/vt/vtctl/vtctl.go
Labels: Component: VReplication, Type: Bug

#8090 MoveTables: don't create unnecessary streams on the target for non-intersecting sources and targets
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
  proto/vtctldata.proto
Labels: Component: VReplication, Type: Bug

#8138 Backport of 7969 into 8.0
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
Labels: Backport me!, Component: VReplication, Type: Bug

#8593 Fail plan for unsupported aggregate function
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8369 Trivial: mysqlctl reinit_config -h was not showing help
  go/cmd/mysqlctl/mysqlctl.go
Labels: Type: Bug, Component: Cluster management

#8597 Update MoveTables CLI help to reflect change we made at the beginning of
  go/vt/vtctl/vtctl.go
Labels: Type: Enhancement, Component: VReplication

#8596 Gen4: Fix distinct plan on handling then in VTGate
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8607 Inclusive Naming: Change master to primary in examples:local,legacy_local,region_sharding
  examples/legacy_local/101_initial_cluster.sh
  examples/legacy_local/201_customer_keyspace.sh
  examples/legacy_local/205_vertical_migrate_master.sh
  examples/legacy_local/206_clean_commerce.sh
  examples/legacy_local/305_migrate_master.sh
  examples/legacy_local/scripts/vtgate-up.sh
  examples/local/101_initial_cluster.sh
  examples/local/204_switch_writes.sh
  examples/local/305_switch_writes.sh
  examples/local/orc_test.sh
  examples/local/scripts/vtgate-up.sh
  examples/region_sharding/201_main_sharded.sh
  examples/region_sharding/202_new_tablets.sh
  examples/region_sharding/203_reshard.sh
  examples/region_sharding/205_switch_writes.sh
  examples/region_sharding/scripts/vtgate-up.sh
Labels: Type: Internal Cleanup, Component: Cluster management, Component: VReplication, Component: Query Serving, Component: Java

#8611 fix copyright
  doc/vitess_api_reference.py
  doc/vtctl_go_reference.py
  go/vt/discovery/utils_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/find_tablet_test.go
Labels: Type: Documentation, Type: Internal Cleanup, Component: Governance

#8614 Fix parsing of FIRST clause in ALTER TABLE
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#8598 VStreamer Field/Row Events: add Keyspace/Shard
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
  proto/binlogdata.proto
Labels: Type: Enhancement, Component: VReplication

#8609 update governance
  GOVERNANCE.md
Labels: Type: Documentation, Component: Governance

#8601 [vtexplain] prevent panic on show tables/show full tables
  go/vt/vtexplain/testdata/multi-output/unsharded-output.txt
  go/vt/vtexplain/testdata/twopc-output/unsharded-output.txt
  go/vt/vtexplain/testdata/unsharded-queries.sql
  go/vt/vtexplain/vtexplain_vttablet.go
Labels: Type: Bug, Component: Query Serving

#8624 onlineddl Executor: build schema with DBA user
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#8634 schema engine: reset table size stats when a table is dropped
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Observability

#8632 Bump aws-sdk-go to v1.34.2
  go.mod
  go.sum
Labels: Type: Internal Cleanup, Component: Build/CI

#8603 OnlineDDL: better scheduling/cancellation logic
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vttablet_util.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving

#8631 Fixing vtorc naming convention - Functions and Variables
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/analysis_test.go
  go/vt/orchestrator/inst/cluster.go
  go/vt/orchestrator/inst/cluster_test.go
  go/vt/orchestrator/inst/durability.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/inst/instance_topology_dao.go
  go/vt/orchestrator/inst/minimal_instance.go
  go/vt/orchestrator/inst/tablet_dao.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/tablet_discovery.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/topo/tablet.go
Labels: Type: Internal Cleanup, Component: Cluster management

#8637 Changing codahale/hdrhistogram import path
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build

#8630 Inclusive Naming: change terminology for blacklist
  examples/legacy_local/206_clean_commerce.sh
  go/cmd/vttablet/status.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/mysqlctl/tmutils/schema_test.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/topo/shard.go
  go/vt/topo/shard_test.go
  go/vt/topo/srv_keyspace.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/workflow.go
  go/vt/vttablet/customrule/topocustomrule/topocustomrule.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/rules/map_test.go
  go/vt/wrangler/keyspace.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/switcher.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/switcher_interface.go
  go/vt/wrangler/testlib/migrate_served_from_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  java/jdbc/src/main/java/io/vitess/jdbc/FieldWithMetadata.java
  proto/topodata.proto
  proto/vtrpc.proto
  test/legacy_local_example.sh
  test/local_example.sh
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Internal Cleanup, Component: VReplication

#8647 Gen4: Removed default case when dealing with weird/non-unique vindex predicate
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Bug, Component: Query Serving

#8636 Fixing vtorc naming convention - Configuration, API and CLI
  go/test/endtoend/vtorc/test_config.json
  go/test/endtoend/vtorc/test_config_crosscenter_prefer_prevent.json
  go/test/endtoend/vtorc/test_config_promotion_failure.json
  go/test/endtoend/vtorc/test_config_promotion_success.json
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/app/command_help.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/config/config_test.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/http/api_test.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/binlog_test.go
  go/vt/orchestrator/inst/cluster.go
  go/vt/orchestrator/inst/cluster_test.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Internal Cleanup, Component: Cluster management

#8456 Remove vtrpc.LegacyErrorCode
  go/sqltypes/proto3_test.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/vterrors/grpc.go
  go/vt/vterrors/proto3.go
  go/vt/vterrors/proto3_test.go
  go/vt/vttablet/tabletconn/grpc_error.go
  go/vt/vttablet/tabletconn/grpc_error_test.go
  java/client/src/main/java/io/vitess/client/Proto.java
  proto/vtrpc.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Internal Cleanup, Component: Cluster management, Component: VReplication, Component: Query Serving

#8633 srvtopo: allow unwatching from watch callbacks
  go/test/endtoend/vtgate/vschema/vschema_test.go
  go/vt/srvtopo/keyspace_filtering_server.go
  go/vt/srvtopo/keyspace_filtering_server_test.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/server.go
  go/vt/srvtopo/srvtopotest/passthrough.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/srvtopo/watch_srvvschema.go
  go/vt/vtexplain/vtexplain_topo.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/vcursor_impl_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
Labels: Type: Enhancement, Component: Cluster management

#8642 Fixes for reparent endtoend test flakiness
  go/test/endtoend/reparent/reparent_test.go
  go/test/endtoend/reparent/utils_test.go
Labels: Component: Build/CI, Type: CI/Build

#8651 servenv: add `--onclose_timeout` flag
  go/vt/servenv/run.go
  go/vt/servenv/servenv.go
  go/vt/servenv/servenv_test.go
Labels: Type: Enhancement, Component: Cluster management

#8652 vtexplain examples
  examples/local/vtexplain/atomicity_method1.sh
  examples/local/vtexplain/atomicity_method2.sh
  examples/local/vtexplain/atomicity_method2_reads.sh
  examples/local/vtexplain/atomicity_method2_working.sh
  examples/local/vtexplain/atomicity_method3.sh
  examples/local/vtexplain/atomicity_schema.sql
  examples/local/vtexplain/atomicity_vschema.json
Labels: Type: Documentation, Component: Query Serving

#8608 Add `-full_flush` parameter for vtbackup, which performs
  go/cmd/vtbackup/vtbackup.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Labels: Type: Enhancement, Component: Cluster management

#8646 introduced cluster_operation as a new error code in vtrpc
  go/mysql/sql_error.go
  go/test/endtoend/cluster/cluster_process.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/vterrors/aggregate.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tabletenv/stats.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/vtrpc.proto
Labels: Type: Enhancement, Component: Cluster management

#8654 inclusive naming: fix a few more master references that were missed earlier
  config/tablet/default.yaml
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/replication.go
  go/vt/mysqlctl/rice-box.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/vitessdriver/driver.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgr/controller/repair.go
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  java/example/src/main/java/io/vitess/example/MysqlJDBCExample.java
  java/example/src/main/java/io/vitess/example/VitessClientExample.java
  java/example/src/main/java/io/vitess/example/VitessJDBCExample.java
  java/jdbc/src/main/java/io/vitess/jdbc/ConnectionProperties.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessDriver.java
  test/client.go
  test/client_test.sh
  tools/rowlog/rowlog.go
  vagrant-scripts/vitess/start.sh
Labels: Type: Internal Cleanup, Component: Cluster management, Component: VReplication, Component: Query Serving, Component: Java

#8649 increase conn killer check to double the tx timeout value
  go/vt/vttablet/endtoend/connkilling/connkiller_test.go
Labels: Component: Query Serving, Type: Testing

#8659 Handle subquery merging with references correctly
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#8661 Handle subquery merging with references correctly
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#8662 Handle subquery merging with references correctly
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: Type: Bug, Component: Query Serving

#8660 Handle subquery merging with references correctly
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#8569 Gen4: subquery support
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/engine/fuzz_flaky_test.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/left_join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/derivedtree.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/querytree.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/subquerytree.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#8665 Check table and not just column name
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Type: Bug, Component: Query Serving

#8648 [vtadmin] RW Keyspace endpoints
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/errors/errors.go
  go/vt/vtadmin/http/keyspaces.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  web/vtadmin/package-lock.json
  web/vtadmin/src/components/pips/ShardServingPip.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.test.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
  web/vtadmin/src/util/keyspaces.test.ts
  web/vtadmin/src/util/keyspaces.ts
Labels: Type: Feature Request, Component: VTAdmin

#8666 Gen4: Dual table query processing at vtgate and locking function support
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/lock_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving

#8667 onlineddl Executor: build schema with DBA user
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#8560 Update some vtctl/vtctlclient command help
  go/vt/vtctl/vtctl.go
Labels: Type: Documentation, Component: Cluster management

#8670 Refresh SrvVSchema after an ExternalizeVindex: was missing
  go/vt/wrangler/materializer.go
Labels: Type: Bug, Component: VReplication

#8669 Refresh SrvVSchema after an ExternalizeVindex: was missing
  go/vt/wrangler/materializer.go
Labels: Type: Bug, Component: VReplication

#8674 hooks: remove govet because it already runs as part of golangci-lint
  misc/git/hooks/govet
Labels: Component: Build/CI, Type: CI/Build

#8673 Gen4: added support for query comments, locking reads, select with into
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving

#8675 update MAINTAINERS and CODEOWNERS for deepthi, pH14 and vmg
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Documentation, Type: CI/Build, Component: Governance

#8664 Gen4: Move expand star inside the semantic analysis
  go/vt/vtgate/planbuilder/abstract/fuzz.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#8679 Gen4 refactoring and clean up
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/engine/subquery.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/filtering.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/horizon_planning_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#8680 Gen4: keep vindex name and values while merging inner joins
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8696 tests: use AtomicInt32 instead of int to fix races
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Bug, Component: Build/CI

#8690 Gen4: Add `TPC-C`, `TPC-H` and `OLTP` queries and schema to the planbuilder test suite
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_schema_test.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_schema_test.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_schema_test.json
Labels: Type: Enhancement, Component: Query Serving

#8720 Fail unsupported query in tpch plan case
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving

#8683 Gen4: Having clause support
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#8685 Improve the Docker local and compose examples
  examples/compose/client.sh
  examples/local/201_newkeyspace_tablets.sh
Labels: Component: Examples

#8249 [vtctldserver] Migrate remaining ServingGraph rpcs to VtctldServer
  go/cmd/vtctldclient/internal/command/serving_graph.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Feature Request, Component: Cluster management

#8727 engine: allow retrying partial primitives
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/dbddl.go
  go/vt/vtgate/engine/dbddl_test.go
  go/vt/vtgate/engine/ddl.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/join_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/mstream.go
  go/vt/vtgate/engine/online_ddl.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/pullout_subquery.go
  go/vt/vtgate/engine/pullout_subquery_test.go
  go/vt/vtgate/engine/rename_fields.go
  go/vt/vtgate/engine/replace_variables.go
  go/vt/vtgate/engine/revert_migration.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/rows.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/send_test.go
  go/vt/vtgate/engine/session_primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/engine/singlerow.go
  go/vt/vtgate/engine/sql_calc_found_rows.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_target.go
  go/vt/vtgate/engine/update_target_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vindex_func_test.go
  go/vt/vtgate/engine/vschema_ddl.go
  go/vt/vtgate/engine/vstream.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/show_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/wrangler/vdiff.go
Labels: Type: Internal Cleanup, Component: Query Serving

#7759 Update release process
  doc/internal/.images/post-release-01.png
  doc/internal/.images/release-01.png
  doc/internal/.images/release-02.png
  doc/internal/.images/release-03.png
  doc/internal/.images/release-04.png
  doc/internal/.images/release-05.png
  doc/internal/ReleaseInstructions.md
Labels: Component: Build/CI, Type: CI/Build

#8752 srvtopo: expose WatchSrvKeyspace
  go/vt/srvtopo/keyspace_filtering_server.go
  go/vt/srvtopo/server.go
  go/vt/srvtopo/srvtopotest/passthrough.go
  go/vt/vtexplain/vtexplain_topo.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/vcursor_impl_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#8745 Port #8422 to main branch
  go/mysql/mysql56_gtid_set.go
  go/mysql/mysql56_gtid_set_test.go
  go/mysql/replication_status.go
  go/test/endtoend/reparent/reparent_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Bug, Component: Cluster management
