Repository vitessio/vitess, pull requests merged in 2021-12, with the labels that each got.

#9293 Backport12.0: Use decoded hex string when calculating the keyspace ID
  go/mysql/endtoend/replication_test.go
  go/sqltypes/plan_value.go
  go/sqltypes/result.go
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/worker/worker_test.go
  go/vt/binlog/binlog_connection.go
  go/vt/binlog/binlog_streamer.go
  go/vt/binlog/keyspace_id_resolver.go
  go/vt/mysqlctl/tmutils/permissions.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/vindexes/binary.go
  go/vt/vtgate/vindexes/binary_test.go
  go/vt/vtgate/vindexes/binarymd5.go
  go/vt/vtgate/vindexes/binarymd5_test.go
  go/vt/vtgate/vindexes/cfc.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/unicode.go
  go/vt/vtgate/vindexes/xxhash.go
  go/vt/vtgate/vindexes/xxhash_test.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/worker/key_resolver.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vexec.go
  misc/git/hooks/golangci-lint
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9299 Change heartbeat writer to use vt_app user
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Bug, Component: Cluster management, release notes none

#9301 fix: avoid parenthesis around default null in BLOB, TEXT, GEOMETRY and JSON column
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#9252 vtgate: Remove the 'vstream * from' command
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/stream.go
  go/vt/vtgate/planbuilder/testdata/stream_cases.txt
Labels: Type: Internal Cleanup, Component: VReplication, Component: Query Serving, release notes

#9309 Adds parsing support for string introducers
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/analyzer_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/evalengine/cached_size.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9304 [vtadmin-web] Consolidate font sizing into tailwind.config.js
  web/vtadmin/src/components/Button.module.scss
  web/vtadmin/src/components/Code.module.scss
  web/vtadmin/src/components/TextInput.module.scss
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/inputs/Select.module.scss
  web/vtadmin/src/components/layout/WorkspaceTitle.module.scss
  web/vtadmin/src/components/routes/Backups.tsx
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/src/components/routes/Gates.tsx
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/Vtctlds.tsx
  web/vtadmin/src/components/routes/Workflows.module.scss
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.module.scss
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/routes/schema/Schema.module.scss
  web/vtadmin/src/components/routes/schema/Schema.tsx
  web/vtadmin/src/components/routes/shard/Shard.module.scss
  web/vtadmin/src/components/routes/shard/ShardTablets.module.scss
  web/vtadmin/src/components/routes/tablet/Tablet.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/tabs/TabContainer.module.scss
  web/vtadmin/src/components/tooltip/Tooltip.module.scss
  web/vtadmin/src/index.css
  web/vtadmin/tailwind.config.js
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#9319 Re-enable default Make behavior of failing target if any command fails
  Makefile
Labels: Component: Build/CI, Type: CI/Build, release notes

#9298 Online DDL: vtctl OnlineDDL supports 'complete' command
  doc/releasenotes/13_0_0_summary.md
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9107 Online DDL: migration with same context and SQL now considered duplicate and silently marked as complete
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#9291 Use evalengine for Vindex lookups in route primitive
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/plan_description_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/large_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9327 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#9295 only grab gh-ost exec if not overridden
  go/cmd/vttablet/vttablet.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#9308 Estimate replica lag when seconds behind from mysqld is unknown
  go/mysql/flavor.go
  go/mysql/replication_status.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/vt/vttablet/tabletserver/repltracker/poller.go
Labels: Type: Bug, Component: Query Serving, release notes

#9334 Tablet throttler: check replicas via HTTP rather than via MySQL
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/mysql/probe.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Cluster management, release notes none

#9324 Schema Engine: fix to account for Online DDL swapped tables
  go/vt/topo/vschema.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/schema.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Component: VReplication, release notes

#9340 [vtadmin-web] Add colours to tailwind.config.js
  web/vtadmin/src/components/dropdown/MenuItem.tsx
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/tailwind.config.js
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#9320 Make the heartbeat writer use 2 pools
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/withddl/withddl.go
  go/vt/withddl/withddl_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9337 Throttler: cleaning up legacy remote MySQL connection logic
  go/vt/vttablet/tabletserver/throttle/config/mysql_config.go
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/mysql/probe.go
  go/vt/vttablet/tabletserver/throttle/mysql/probe_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#9232 Online DDL: evaluate REVERTibility of a migration
  .github/workflows/cluster_endtoend_onlineddl_revertible.yml
  go/sqlescape/ids.go
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/types.go
  go/vt/vttablet/onlineddl/vrepl/types_test.go
  go/vt/vttablet/onlineddl/vrepl/unique_key.go
  go/vt/vttablet/onlineddl/vrepl/unique_key_test.go
  go/vt/vttablet/onlineddl/vrepl_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/worker/clone_utils.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, release notes

#9338 Multi column vindex support for DML
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9310 evalengine: Fuzz!
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/integration/main_test.go
  go/sqltypes/bind_variables.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/binary.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/decimal/.gitignore
  go/vt/vtgate/evalengine/decimal/AUTHORS
  go/vt/vtgate/evalengine/decimal/LICENSE
  go/vt/vtgate/evalengine/decimal/README.md
  go/vt/vtgate/evalengine/decimal/big.go
  go/vt/vtgate/evalengine/decimal/big_ctx.go
  go/vt/vtgate/evalengine/decimal/big_test.go
  go/vt/vtgate/evalengine/decimal/binary_spliting.go
  go/vt/vtgate/evalengine/decimal/const.go
  go/vt/vtgate/evalengine/decimal/context.go
  go/vt/vtgate/evalengine/decimal/context_test.go
  go/vt/vtgate/evalengine/decimal/continued_frac.go
  go/vt/vtgate/evalengine/decimal/decomposer.go
  go/vt/vtgate/evalengine/decimal/decomposer_test.go
  go/vt/vtgate/evalengine/decimal/doc.go
  go/vt/vtgate/evalengine/decimal/format.go
  go/vt/vtgate/evalengine/decimal/format_string.go
  go/vt/vtgate/evalengine/decimal/format_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/abs.go
  go/vt/vtgate/evalengine/decimal/internal/arith/arith.go
  go/vt/vtgate/evalengine/decimal/internal/arith/arith_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/intlen.go
  go/vt/vtgate/evalengine/decimal/internal/arith/intlen_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/pow.go
  go/vt/vtgate/evalengine/decimal/internal/c/const.go
  go/vt/vtgate/evalengine/decimal/internal/c/const32.go
  go/vt/vtgate/evalengine/decimal/internal/c/const64.go
  go/vt/vtgate/evalengine/decimal/issues_test.go
  go/vt/vtgate/evalengine/decimal/operatingmode_string.go
  go/vt/vtgate/evalengine/decimal/payload_string.go
  go/vt/vtgate/evalengine/decimal/roundingmode_string.go
  go/vt/vtgate/evalengine/decimal/scan.go
  go/vt/vtgate/evalengine/decimal/scan_test.go
  go/vt/vtgate/evalengine/decimal/util.go
  go/vt/vtgate/evalengine/decimal/zdebug.go
  go/vt/vtgate/evalengine/decimal/zdebug0.go
  go/vt/vtgate/evalengine/decimal_test.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/integration/main_test.go
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1637776444.json
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/executor_set_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9292 Backoff on inconsistent state
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/group.go
  go/vt/vtgr/controller/group_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/db/mock_mysql.go
  go/vt/vtgr/db/mysql.go
Labels: Type: Enhancement, Component: Cluster management, release notes none

#9325 vtctl ApplySchema -uuid_list
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/vtctl.go
  go/vt/vtgate/engine/online_ddl.go
  go/vt/vtgate/engine/revert_migration.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9331 Take MySQL Column Type Into Account in VStreamer
  go/mysql/binlog_event_json.go
  go/mysql/binlog_event_rbr.go
  go/mysql/binlog_event_rbr_test.go
  go/mysql/endtoend/replication_test.go
  go/vt/binlog/binlog_streamer.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Backport me!, Component: VReplication, release notes

#9326 Multi column vindex support in select statement
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/srvtopo/resolver.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/large_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9355 Backport-12.0: Take MySQL Column Type Into Account in VStreamer
  go/mysql/binlog_event_json.go
  go/mysql/binlog_event_rbr.go
  go/mysql/binlog_event_rbr_test.go
  go/mysql/endtoend/replication_test.go
  go/vt/binlog/binlog_streamer.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Bug, Component: VReplication, Backport, release notes

#9303 vtctl ApplySchema accepts 'ALTER VITESS_MIGRATION...' statements
  doc/releasenotes/13_0_0_summary.md
Labels: Type: Enhancement, Component: Cluster management, release notes

#9192 Concurrent migrations
  .github/workflows/cluster_endtoend_onlineddl_scheduler.yml
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#9357 build(deps): bump log4j-api from 2.13.3 to 2.15.0 in /java
  java/pom.xml
Labels: Type: Internal Cleanup, Component: Java, Backport, release notes

#9312 Change default for super_read_only to true
  config/mycnf/mysql57.cnf
  config/mycnf/mysql80.cnf
  doc/releasenotes/13_0_0_summary.md
  go/vt/mysqlctl/backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/shard_sync.go
Labels: Type: Enhancement, Component: TabletManager, release notes (needs details)

#9342 [vtadmin-web] Add .btn class + remove Button component
  web/vtadmin/src/components/Button.module.scss
  web/vtadmin/src/components/Button.tsx
  web/vtadmin/src/components/dataTable/DataFilter.tsx
  web/vtadmin/src/components/dialog/Dialog.tsx
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/src/components/routes/VTExplain.tsx
  web/vtadmin/src/components/tooltip/Tooltip.tsx
  web/vtadmin/src/index.css
  web/vtadmin/src/style/components.css
Labels: Type: Enhancement, Component: VTAdmin, release notes none

#9368 CI: ubuntu-latest now has MySQL 8.0.26, let us override it with latest 8.0.x
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Component: Build/CI, Backport me!, Type: CI/Build, release notes

#9152 Fix race condition when rapidly starting/stopping health check
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/vtgate/tabletgateway_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9374 [11.0] CI: ubuntu-latest now has MySQL 8.0.26, let us override it with latest 8.0.x
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes

#9373 [12.0] CI: ubuntu-latest now has MySQL 8.0.26, let us override it with latest 8.0.x
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes

#9375 [10.0] CI: ubuntu-latest now has MySQL 8.0.26, let us override it with latest 8.0.x
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes

#9364 [11.0] build(deps): bump log4j-api from 2.13.3 to 2.15.0 in /java
  java/pom.xml
Labels: Type: Internal Cleanup, Component: Java, Backport, release notes

#9376 Patch release 12.0.1 update
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9363 [10.0] build(deps): bump log4j-api from 2.13.3 to 2.15.0 in /java
  java/pom.xml
Labels: Type: Internal Cleanup, Component: Java, Backport, release notes

#9379 Release note documents for v11.0.2
  doc/releasenotes/11_0_2_release_notes.md
  doc/releasenotes/11_0_2_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9377 Release note documents for v12.0.1
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9360 Change default buffer implementation #9359
  doc/releasenotes/13_0_0_summary.md
  go/vt/vtgate/buffer/buffer_test.go
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/buffer/flags_test.go
  go/vt/vtgate/gateway.go
  go/vt/vtgate/sandbox_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#9288 MoveTables: update vschema while moving tables with autoincrement from sharded to unsharded
  go.mod
  go.sum
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/wrangler/materializer.go
Labels: Type: Bug, Component: VReplication, release notes

#9386 VEvent: Add Keyspace/Shard properties to proto
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
  proto/binlogdata.proto
Labels: Type: Enhancement, Component: VReplication, release notes

#9389 Online DDL: add formal 'reverted_uuid' column
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9378 Patch release 11.0.2 update
  doc/releasenotes/11_0_2_release_notes.md
  doc/releasenotes/11_0_2_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9391 evalengine: better compat v2
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_expr.go
  go/vt/vtgate/evalengine/arithmetic_expr_test.go
  go/vt/vtgate/evalengine/binary.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/cardinality.go
  go/vt/vtgate/evalengine/casting.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/decimal/big.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1639145523.json
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/route.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9330 Fix error checking in ERS
  go/mysql/constants.go
  go/mysql/flavor.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/vt/concurrency/error_group.go
  go/vt/concurrency/error_group_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9394 [10.0] build(deps): bump log4j-core from 2.15.0 to 2.16.0 in /java
  java/pom.xml
Labels: Component: Java, Backport, release notes none, java, Type: Dependabot

#9395 [11.0] build(deps): bump log4j-core from 2.15.0 to 2.16.0 in /java
  java/pom.xml
Labels: Component: Java, Backport, release notes none, java, Type: Dependabot

#9396 [12.0] build(deps): bump log4j-core from 2.15.0 to 2.16.0 in /java
  java/pom.xml
Labels: Component: Java, Backport, release notes none, java, Type: Dependabot

#9276 Merge InitShardPrimary functionality into PlannedReparentShard
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/verticalsplit/vertical_split_test.go
  go/test/endtoend/tabletgateway/cellalias/cell_alias_test.go
  go/test/endtoend/versionupgrade/upgrade_test.go
  go/test/endtoend/vreplication/cluster.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Feature Request, Component: Cluster management, Component: VTorc, release notes

#9399 Allow GCM cipher without ECHDE for TLS 1.2
  go/vt/vttls/vttls.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9402 [10.0] change operator example to use v10.0.4 docker images
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
Labels: Type: Documentation, Component: Examples, release notes none

#9407 Fix vtorc tests ci
  go/test/endtoend/vtorc/utils/utils.go
  test/config.json
Labels: Type: Testing, Component: VTorc, release notes none

#9403 [11.0] change operator example to use v11.0.3 docker images
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
Labels: Type: Documentation, Component: Examples, release notes none

#9413 Addition of the release notes documents for 11.0.3
  doc/releasenotes/11_0_3_release_notes.md
  doc/releasenotes/11_0_3_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9412 Update release notes with v11.0.3
  doc/releasenotes/11_0_3_release_notes.md
  doc/releasenotes/11_0_3_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9414 Update release notes with v12.0.2
  doc/releasenotes/12_0_2_release_notes.md
  doc/releasenotes/12_0_2_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9415 Addition of the release notes documents for v12.0.2
  doc/releasenotes/12_0_2_release_notes.md
  doc/releasenotes/12_0_2_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9380 Patch release 10.0.3 update
  doc/releasenotes/10_0_3_release_notes.md
  doc/releasenotes/10_0_3_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9381 Release note documents for v10.0.3
  doc/releasenotes/10_0_3_release_notes.md
  doc/releasenotes/10_0_3_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9411 Addition of the release notes documents for 10.0.4
  doc/releasenotes/10_0_4_release_notes.md
  doc/releasenotes/10_0_4_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9410 Update release notes with v10.0.4
  doc/releasenotes/10_0_4_release_notes.md
  doc/releasenotes/10_0_4_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9420 Updated the 11_0 release documents with latest known issues
  doc/releasenotes/11_0_0_release_notes.md
  doc/releasenotes/11_0_1_release_notes.md
  doc/releasenotes/11_0_2_release_notes.md
  doc/releasenotes/11_0_2_summary.md
  doc/releasenotes/11_0_3_release_notes.md
  doc/releasenotes/11_0_3_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9417 Updated the 12_0 release documents with latest known issues
  doc/releasenotes/12_0_0_release_notes.md
  doc/releasenotes/12_0_0_summary.md
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9416 [12.0] Updated the 12_0 release documents with latest known issues
  doc/releasenotes/12_0_0_release_notes.md
  doc/releasenotes/12_0_0_summary.md
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9406 vtctl: delete deprecated flag
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Breaking change, Component: vtctl, release notes

#9427 replace master with primary
  go/vt/topotools/utils.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9425 Upgrade `go-proxyproto` to `v0.6.1` to fix vulnerabilities
  go.mod
  go.sum
Labels: Component: Build/CI, dependencies, release notes, Type: Dependabot

#9302 Allow unowned `lookup_unique` vindex columns to be `null`
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#9426 Add list support to vindex functions
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vindex_func_test.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/filtering.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9435 Trivial: remove redundant import
  go/vt/vtgate/engine/vindex_func.go
Labels: Type: Internal Cleanup, Component: Query Serving, Trivial, release notes none

#9430 Replace master with primary
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/resharder_test.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/semi_sync_test.go
  go/vt/wrangler/vdiff_env_test.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9436 Handle race condition during vtgate shutdown
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Query Serving, Trivial, release notes none

#9438 changed master to primary
  go/vt/vtctl/grpcvtctldserver/testutil/util.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9440 Fixed case-sensitive TabletType in SwitchTraffic
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Bug, Component: VReplication, release notes

#9441 Add flag to keep routing rules in v2 vrepl workflows
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/stream_migrater_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow.go
Labels: Type: Enhancement, Component: VReplication, release notes

#9390 Multicolumn partial vindex selection
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/vindexes/region_experimental.go
  go/vt/vtgate/vindexes/region_experimental_test.go
  go/vt/vtgate/vindexes/region_json.go
  go/vt/vtgate/vindexes/vindex.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9448 Fix misleading error mapping for row limit error
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9452 Fix flakiness in tm_state_test
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#9392 Initial commit to add the 'vstream * from' functionality back to vtgate
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/vstream.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/vstream.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/vstream_cases.txt
Labels: Type: Enhancement, Component: VReplication, release notes

#9439 reparent_journal: add backwards compatible alter statement
  go/cmd/vtbackup/vtbackup.go
  go/vt/discovery/topology_watcher.go
  go/vt/mysqlctl/reparent.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes (needs details)
