Repository vitessio/vitess, pull requests merged in 2021-09, with the labels that each got.

#8721 Adding GitHub Self Hosted Runner tests
  .github/docker/cluster_test_vreplication_basic/Dockerfile
  .github/docker/cluster_test_vreplication_cellalias/Dockerfile
  .github/docker/cluster_test_vreplication_multicell/Dockerfile
  .github/docker/cluster_test_vreplication_v2/Dockerfile
  .github/docker/unit_test_mariadb/Dockerfile
  .github/docker/unit_test_mysql57/Dockerfile
  .github/workflows/cluster_endtoend_vreplication_basic_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_multicell_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_v2_self_hosted.yml
  .github/workflows/unit_test_mariadb_self_hosted.yml
  .github/workflows/unit_test_mysql57_self_hosted.yml
  GITHUB_SELF_HOSTED_RUNNERS.md
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/dockerfile.tpl
  test/templates/unit_test_self_hosted.tpl
Labels: Type: Enhancement, Component: Build/CI

#8722 Fixing a panic in vtgate with OLAP mode
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/rename_fields.go
Labels: Type: Bug, Backport me!, Component: Query Serving

#8700 gateway: use keyspace events when buffering requests
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletgateway/buffer/reshard/sharded_buffer_test.go
  go/vt/discovery/keyspace_events.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_helper_test.go
  go/vt/vtgate/buffer/buffer_test.go
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/buffer/flags_test.go
  go/vt/vtgate/buffer/shard_buffer.go
  go/vt/vtgate/buffer/timeout_thread.go
  go/vt/vtgate/buffer/variables.go
  go/vt/vtgate/buffer/variables_test.go
  go/vt/vtgate/discoverygateway.go
  go/vt/vtgate/gateway.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/vcursor_impl.go
  test.go
  test/config.json
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving

#8755 default to primary tablet if not set in VStream api
  go/vt/vtgate/grpcvtgateservice/server.go
Labels: Type: Bug, Component: Query Serving

#8698 Fixing vtorc naming convention - database
  go/vt/orchestrator/db/generate_base.go
  go/vt/orchestrator/db/generate_patches.go
  go/vt/orchestrator/external/golib/sqlutils/sqlite_dialect_test.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/cluster_alias_dao.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_dao_test.go
  go/vt/orchestrator/inst/instance_topology_dao.go
  go/vt/orchestrator/inst/tablet_dao.go
  go/vt/orchestrator/logic/topology_recovery_dao.go
Labels: Type: Internal Cleanup, Component: VTorc

#8701 Fixing error on deletes from owning table for a lookup being populated by CreateLookupVindex after a SwitchWrites
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/vindex.go
Labels: Type: Bug, Component: Query Serving

#8766 Backport into 11: default to primary tablet if not set in VStream api
  go/vt/vtgate/grpcvtgateservice/server.go
Labels: Type: Bug, Component: Query Serving

#8746 Backport to 11: Fixing a panic in vtgate with OLAP mode
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/rename_fields.go
Labels: Type: Bug, Component: Query Serving, Backport

#8770 Fix bug in parsing of version comments
  go/test/endtoend/vtgate/mysql80/main_test.go
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/buildinfo_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/token.go
  go/vt/sqlparser/version_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vttest/vtprocess.go
Labels: Type: Bug, Component: Query Serving

#8771 Proper merge of the SysTableTableName fields when joining two routes
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Type: Bug, Component: Query Serving

#8760 Support for remaining subquery queries in Gen4
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#8774 Support for pinned tables in Gen4
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8742 Gen4: support for Vindex queries
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/vtgate/planbuilder/vindextree.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#8757 Allow min TLS version for tablet to mysqld conns
  go/vt/dbconfigs/dbconfigs.go
Labels: Type: Enhancement, Component: TabletManager

#8775 [vtadmin] shard replication positions
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/http/replication.go
  go/vt/vtadmin/rbac/rbac.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Feature Request, Component: VTAdmin

#8781 Gen4 planner additions
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/impossible_query.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vttablet/endtoend/queries_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8787 Backport to 11: Updated Makefile do_release script to include godoc steps
  Makefile
Labels: Component: Build/CI, Type: CI/Build, Backport

#8788 Release 11.0.1
  doc/releasenotes/11_0_1_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8792 [vtadmin] GetVtctlds
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/discovery/fakediscovery/discovery.go
  go/vt/vtadmin/http/vtctlds.go
  go/vt/vtadmin/rbac/rbac.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Feature Request, Component: VTAdmin

#8784 Upgrade consul api: `go get github.com/hashicorp/consul/api@v1.10.1`
  go.mod
  go.sum
Labels: Type: Internal Cleanup, Component: Build/CI, dependencies

#8791 fix parsing of MySQL Server Version flag
  go/vt/sqlparser/parser.go
Labels: Type: Bug, Component: Query Serving

#8763 Fix how we identify MySQL generated columns
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: P2, Type: Bug, Component: VReplication

#8789 11.0.1 Release Notes
  doc/releasenotes/11_0_1_release_notes.md
Labels: Type: Documentation, Component: Build/CI

#8794 Remove consul-api usage in favor of official consul/api
  go.mod
  go.sum
  go/vt/orchestrator/kv/consul.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build

#8801 Update vtadmin local scripts to enable basic rbac
  examples/local/scripts/vtadmin-up.sh
  examples/local/vtadmin/rbac.yaml
Labels: Type: Internal Cleanup, Component: VTAdmin

#8778 Print actual current datetime for vtctl dry run commands
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: vtctl, Trivial

#8800 gen4: Simplify handling of ORDER BY 1 and GROUP BY 1
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Enhancement, Component: Query Serving

#8777 Export memstats for statsd backend
  go/stats/statsd/statsd.go
Labels: Type: Enhancement, Component: Observability

#8796 Fix how we identify MySQL generated columns
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Bug, Component: VReplication, Backport

#8762 Upgrade to k8s 1.18 client
  Makefile
  go.mod
  go.sum
  go/vt/topo/k8stopo/client/clientset/versioned/clientset.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/clientset_generated.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/scheme/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_vitesstoponode.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/informers/externalversions/factory.go
  go/vt/topo/k8stopo/client/informers/externalversions/generic.go
  go/vt/topo/k8stopo/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  go/vt/topo/k8stopo/client/informers/externalversions/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/listers/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/file.go
  go/vt/topo/k8stopo/lock.go
  go/vt/topo/k8stopo/server_test.go
Labels: Type: Internal Cleanup, Component: Cluster management

#8773 Gen4: improve expand star
  go/vt/topo/k8stopo/client/clientset/versioned/clientset.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/clientset_generated.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/scheme/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_vitesstoponode.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/informers/externalversions/factory.go
  go/vt/topo/k8stopo/client/informers/externalversions/generic.go
  go/vt/topo/k8stopo/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  go/vt/topo/k8stopo/client/informers/externalversions/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/listers/topo/v1beta1/vitesstoponode.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/left_join.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/derivedtree.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_schema_test.json
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Enhancement, Component: Query Serving

#8802 Gen4: Merge duals
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8812 Gen4: added all valid plan output
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8804 cache: track memory usage more closely
  go/cache/ristretto/cache.go
  go/hack/hack.go
  go/hack/runtime.go
  go/sqltypes/cached_size.go
  go/tools/sizegen/integration/cached_size.go
  go/tools/sizegen/integration/integration_test.go
  go/tools/sizegen/sizegen.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/topodata/cached_size.go
  go/vt/schema/cached_size.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/tableacl/cached_size.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vttablet/tabletserver/cached_size.go
  go/vt/vttablet/tabletserver/planbuilder/cached_size.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
  go/vt/vttablet/tabletserver/schema/cached_size.go
Labels: Component: Query Serving, Type: Performance, Benchmark me

#8795 [vtctl] Add missing call to `flag.Parse` in `commandGetRoutingRules`
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: Cluster management

#8809 Fixed filename for the configuration file in Vttestserver
  docker/vttestserver/run.sh
Labels: Type: Bug, Component: vttestserver

#8798 Disable GitHub runners
  .github/docker/unit_test_mariadb103/Dockerfile
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_basic_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_multicell_self_hosted.yml
  .github/workflows/cluster_endtoend_vreplication_v2.yml
  .github/workflows/cluster_endtoend_vreplication_v2_self_hosted.yml
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mariadb_self_hosted.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql57_self_hosted.yml
  GITHUB_SELF_HOSTED_RUNNERS.md
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test_self_hosted.tpl
Labels: Component: Build/CI, Type: Testing

#8806 [Gen4] change planning context to be a reference
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/routetree.go
Labels: Type: Enhancement, Component: Query Serving

#8816 [vtctld] Add `SetWritable`, `StartReplication` and `StopReplication` rpcs
  go/cmd/vtctldclient/internal/command/tablets.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Type: Feature Request, Component: Cluster management

#8825 examples: update README to use new vreplication command syntax
  examples/local/README.md
  examples/operator/README.md
  vitess-mixin/tools.go
Labels: Type: Documentation, Component: Examples

#8783 Add optional query annotations, i.e. prefix SQL comments indicating the
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: Query Serving

#8780 Add isActive flag to vtgr to support multi-cell topology
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/group_test.go
  go/vt/vtgr/controller/refresh.go
  go/vt/vtgr/controller/refresh_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/vtgr.go
  go/vt/vtgr/vtgr_test.go
Labels: Type: Feature Request, Component: Cluster management

#8833 add Manan to maintainers
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#8797 Added UNION testcases and auxilary code for running tests
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
Labels: Component: Query Serving, Type: Testing

#8830 Gen4: improve analyzer tests
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Type: Enhancement, Component: Query Serving

#8834 [vtadmin] s/master/primary in vtadmin frontend code
  web/vtadmin/src/components/routes/Tablets.test.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.test.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin

#8822 Gen4: improvement of `joinTree` creation
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_schema_test.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
Labels: Type: Bug, Component: Query Serving

#8841 add weight_string function to group by if it is added to select list
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#8842 Gen4: improve analyzer's logic
  go/test/endtoend/cluster/cluster_process.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/onecase.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Enhancement, Component: Query Serving

#8821 Changed parsing for unions
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/impossible_query.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/onecase.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vttablet/endtoend/queries_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#8857 VtGate schema tracker to use provided user
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vtgate.go
Labels: Type: Bug, Component: Query Serving

#8846 Gen4 fix plantests
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/distinct.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/left_join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/subquerytree.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#8805 Slight improvement of the ACL error message
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlserver/mysql_server_test.go
  go/vt/vttablet/endtoend/acl_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#8862 Apply goimports in `asthelpergen`
  .github/workflows/check_make_visitor.yml
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/main/main.go
  go/tools/goimports/goimports.go
  go/tools/sizegen/sizegen.go
Labels: Component: Query Serving, Type: Testing

#8856 fixed regression in v3 for grouping by integer functions
  go/test/endtoend/vtgate/aggr_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/memory_sort_gen4.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Component: Query Serving, Type: Testing

#8820 Fix typo in pool config syntax. Fixes #8819
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Bug, Component: Query Serving

#8854 Move unit test race to self hosted runners
  .github/docker/unit_test_race/Dockerfile
  .github/workflows/unit_race.yml
Labels: Component: Build/CI, Type: CI/Build

#8836 Use vt_dba user for online schema migration cutover phase
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#8865 Fixed regression for grouping by integer functions
  go/vt/vtgate/endtoend/aggr_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/join2.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Type: Bug, Component: Query Serving, Backport

#8866 Fixed regression for grouping by integer functions
  go/vt/vtgate/endtoend/aggr_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Type: Bug, Component: Query Serving, Backport

#8871 fix merging dba query as a subquery both in v3 and gen4
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/sysschema_default.txt
Labels: Type: Bug, Component: Query Serving

#8840 Improve deterministic of bootstrap
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/db/mock_mysql.go
  go/vt/vtgr/db/mysql.go
Labels: Type: Enhancement, Component: Cluster management

#8868 Remove the deprecated Helm charts and related code
  doc/DockerBuild.md
  doc/internal/ReleaseInstructions.md
  docker/release.sh
  examples/helm/101_initial_cluster.yaml
  examples/helm/201_customer_tablets.yaml
  examples/helm/202_move_tables.yaml
  examples/helm/203_switch_reads.yaml
  examples/helm/204_switch_writes.yaml
  examples/helm/205_clean_commerce.yaml
  examples/helm/301_customer_sharded.yaml
  examples/helm/302_new_shards.yaml
  examples/helm/303_reshard.yaml
  examples/helm/304_switch_reads.yaml
  examples/helm/305_switch_writes.yaml
  examples/helm/306_down_shard_0.yaml
  examples/helm/307_delete_shard_0.yaml
  examples/helm/308_final.yaml
  examples/helm/README.md
  examples/helm/legacy/101_initial_cluster.yaml
  examples/helm/legacy/201_customer_keyspace.yaml
  examples/helm/legacy/202_customer_tablets.yaml
  examples/helm/legacy/203_vertical_split.yaml
  examples/helm/legacy/204_vertical_migrate_replicas.yaml
  examples/helm/legacy/205_vertical_migrate_master.yaml
  examples/helm/legacy/206_clean_commerce.yaml
  examples/helm/legacy/301_customer_sharded.yaml
  examples/helm/legacy/302_new_shards.yaml
  examples/helm/legacy/303_horizontal_split.yaml
  examples/helm/legacy/304_migrate_replicas.yaml
  examples/helm/legacy/305_migrate_master.yaml
  examples/helm/legacy/306_down_shard_0.yaml
  examples/helm/legacy/307_delete_shard_0.yaml
  examples/helm/legacy/308_final.yaml
  examples/helm/legacy/kmysql.sh
  examples/helm/legacy/kvtctld.sh
  examples/helm/pf.sh
  helm/README.md
  helm/vitess/.gitignore
  helm/vitess/.helmignore
  helm/vitess/CHANGELOG.md
  helm/vitess/Chart.yaml
  helm/vitess/README.md
  helm/vitess/crds/VitessTopoNodes-crd.yaml
  helm/vitess/examples/minikube.yaml
  helm/vitess/templates/NOTES.txt
  helm/vitess/templates/_cron-jobs.tpl
  helm/vitess/templates/_etcd.tpl
  helm/vitess/templates/_helpers.tpl
  helm/vitess/templates/_jobs.tpl
  helm/vitess/templates/_keyspace.tpl
  helm/vitess/templates/_orchestrator-conf.tpl
  helm/vitess/templates/_orchestrator.tpl
  helm/vitess/templates/_pmm.tpl
  helm/vitess/templates/_shard.tpl
  helm/vitess/templates/_vtctld.tpl
  helm/vitess/templates/_vtgate.tpl
  helm/vitess/templates/_vttablet.tpl
  helm/vitess/templates/vitess.yaml
  helm/vitess/values.yaml
Labels: Type: Internal Cleanup, Component: Depoyments

#8870 gen4: Union rewrite
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/impossible_query.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/distinct.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/left_join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/concantenatetree.go
  go/vt/vtgate/planbuilder/distincttree.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Type: Enhancement, Component: Query Serving

#8875 added checks for next val misplaced statements and validate the table is sequence table
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving

#8873 Fix for padding in OrderAndCheckPartitions
  go/vt/key/key.go
  go/vt/key/key_test.go
  go/vt/topo/srv_keyspace.go
Labels: Type: Bug, Component: Cluster management

#8878 Gen4: SQL_CALC_FOUND_ROWS support
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Type: Enhancement, Component: Query Serving

#8824 Add Support for Restoring Specific Backups
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/mysqlctl/backupengine.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/backup.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/wrangler/testlib/backup_test.go
  proto/tabletmanagerdata.proto
Labels: Type: Enhancement, Component: vtctl, Component: Backup and Restore

#8877 Enhancement of the release notes generation
  Makefile
  doc/internal/ReleaseInstructions.md
  go/tools/release-notes/integration/summary.md
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: CI/Build

#8891 Correctly identify backup timestamp var as a string
  go/vt/vtctl/backup.go
Labels: Type: Internal Cleanup, Component: vtctl, Trivial

#8879 vtctl help/usage update
  go/vt/vtctl/vtctl.go
Labels: Type: Documentation, Component: VReplication

#8887 Gen4: unskipped TestFoundRows test since it is supported in Gen4
  go/test/endtoend/vtgate/found_rows_test.go
Labels: Component: Query Serving, Type: Testing

#8884 Add parsing support for column list with subquery alias
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#8876 Gen4: Various minor improvements
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/left_join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#8901 Clean up Primitive interface implementations
  go/test/endtoend/vtgate/system_schema_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/dbddl.go
  go/vt/vtgate/engine/ddl.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/gen4_compare_v3.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/mstream.go
  go/vt/vtgate/engine/online_ddl.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/pullout_subquery.go
  go/vt/vtgate/engine/rename_fields.go
  go/vt/vtgate/engine/replace_variables.go
  go/vt/vtgate/engine/revert_migration.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/rows.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/session_primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/singlerow.go
  go/vt/vtgate/engine/sql_calc_found_rows.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_target.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vschema_ddl.go
  go/vt/vtgate/engine/vstream.go
  go/vt/vtgate/schema/uptate_controller.go
Labels: Type: Internal Cleanup, Component: Query Serving

#8893 [vtctl] run new commands as standalone binary
  examples/local/scripts/etcd-up.sh
  examples/local/scripts/k3s-up.sh
  examples/local/scripts/zk-up.sh
  go/cmd/vtctl/vtctl.go
  go/cmd/vtctldclient/command/backups.go
  go/cmd/vtctldclient/command/cells.go
  go/cmd/vtctldclient/command/doc.go
  go/cmd/vtctldclient/command/keyspaces.go
  go/cmd/vtctldclient/command/legacy_shim.go
  go/cmd/vtctldclient/command/reparents.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/routing_rules.go
  go/cmd/vtctldclient/command/schema.go
  go/cmd/vtctldclient/command/serving_graph.go
  go/cmd/vtctldclient/command/shards.go
  go/cmd/vtctldclient/command/tablets.go
  go/cmd/vtctldclient/command/validate.go
  go/cmd/vtctldclient/command/vschemas.go
  go/cmd/vtctldclient/command/workflows.go
  go/cmd/vtctldclient/main.go
Labels: Type: Feature Request, Component: Cluster management

#8905 gen4: implement a growable semantics.TableSet
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/concantenatetree.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/jointree.go
  go/vt/vtgate/planbuilder/querytree.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/route_planning_test.go
  go/vt/vtgate/planbuilder/subquerytree.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/tabletset.go
  go/vt/vtgate/semantics/tabletset_test.go
  go/vt/vtgate/semantics/vtable.go
Labels: Component: Query Serving, Type: Performance, Benchmark me

#8890 discovery: document KeyspaceEventWatcher
  go/vt/discovery/keyspace_events.go
  go/vt/vtgate/tabletgateway.go
Labels: Type: Documentation, Component: Cluster management

#8894 Gen4: add `__sq_has_values` for `in`/`not in` subqueries
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/routetree.go
  go/vt/vtgate/planbuilder/subquerytree.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#8904 Gen4: Even more fixes
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving
