Repository vitessio/vitess, pull requests merged in 2021-05, with the labels that each got.

#8004 Ignore the error and log as warn if not able to validate the current system setting for check and ignore case
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
Labels: Component: Query Serving, Type: Enhancement

#8016 VDIff: fix performance regression introduced by progress logging
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: VReplication, Type: Bug, Type: Performance

#7696 VDiff: Use byte compare if weight_string() returns null for either source or target
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: VReplication, Type: Bug

#8030 Added release script to the makefile
  Makefile
Labels: Component: Build/CI, Type: Enhancement

#8031 Release 10.0.1
  doc/releasenotes/10_0_0_release_notes.md
  doc/releasenotes/10_0_1_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI

#8025 livequeryz: livequeryz/terminate link should be relative
  go/vt/vttablet/tabletserver/livequeryz.go
Labels: Component: Query Serving, Type: Enhancement

#7992 Add missing return on a failed `GetShard` call in `FindAllShardsInKeyspace`
  go/vt/topo/keyspace.go
Labels: Type: Bug

#8033 Fixes encoding of sql strings
  go/sqltypes/value.go
  go/vt/sqlparser/parse_test.go
Labels: Component: Query Serving, Type: Bug

#8034 Automate version naming and release tagging
  Makefile
Labels: Component: Build/CI, Type: Enhancement

#7969 VReplication: Pad binlog values for binary() columns to match the value returned by mysql selects
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Backport me!, Component: VReplication, Type: Bug

#8035 [9.0] ddl bypass planner
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/bypass_cases.txt
Labels: Component: Query Serving, Type: Bug

#8018 Scatter errors as warning in olap query
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
Labels: Component: Query Serving, Type: Enhancement

#8059 MoveTables: Refresh SrvVSchema and source tablets on completion
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Backport, Component: VReplication

#8062 ignore the error and log as warn if not able to validate the current system settings value
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
Labels: Backport, Component: Query Serving, Type: Bug

#8061 VReplication: Pad binlog values for binary() columns to match the value returned by mysql selects
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Backport, Component: VReplication, Type: Bug

#8060 vreplication: fix vreplication timing metrics
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Labels: Backport, Component: VReplication, Type: Bug

#8063 Backport: Respect -disable_active_reparents in backup/restore
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Backport, Component: Cluster management, Type: Bug

#8043 VReplication Online DDL: fix classification of virtual columns
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Component: Query Serving

#7944 Add rank as reserved keyword
  go/vt/sqlparser/keywords.go
Labels: Component: Query Serving, Type: Enhancement

#8065 Release 9.0.1
  doc/releasenotes/9_0_1_release_notes.md
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#8045 Post v10.0.1 updates
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/vtorc_example.yaml
Labels: Type: Documentation

#8005 Detect and signal schema changes on vttablets
  go/mysql/endtoend/schema_change_test.go
  go/mysql/schema.go
  go/vt/proto/query/query.pb.go
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/healthstream_test.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/query.proto
Labels: Component: Query Serving, Type: Enhancement

#7877 VReplication: ability to compress gtid when stored in _vt.vreplication's pos column
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/binlog_player_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/wrangler_env_test.go
  tools/rowlog/rowlog.go
Labels: Component: VReplication, Type: Enhancement, Type: Performance

#8070 Gen4: Support for order by column not present in projection
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8086 added mysql 8.0 reserved keywords
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
Labels: Component: Query Serving, Type: Enhancement

#8087 System schema query predicate fix
  go/test/endtoend/vtgate/system_schema_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vtgate_test.go
Labels: Backport me!, Component: Query Serving, Type: Bug

#8079 Vdiff formatting improvements
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Component: VReplication, Type: Enhancement

#8095 Fix information_schema query with system schema in table_schema filter
  go/test/endtoend/vtgate/system_schema_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Backport, Component: Query Serving, Type: Bug

#8067 Update the schema copy with minimal changes
  go/mysql/endtoend/schema_change_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
Labels: Component: Query Serving, Type: Enhancement

#8106 Adding Fuzzer Test Cases
  go/mysql/conn.go
  go/mysql/fuzzdata/clusterfuzz-testcase-minimized-handle_next_command_fuzzer-4604217852559360
  go/mysql/fuzzdata/clusterfuzz-testcase-minimized-handle_next_command_fuzzer-4955625785262080
  go/mysql/fuzzdata/clusterfuzz-testcase-minimized-handle_next_command_fuzzer-6488670103273472
  go/mysql/mysql_fuzzer.go
  go/mysql/mysql_fuzzer_test.go
  go/mysql/server.go
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vtgate/planbuilder/fuzz_test.go
Labels: Component: Query Serving, Type: Testing

#8099 [10.0] Queryservice fix
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Backport me!, Component: Query Serving, Type: Bug

#8083 8.0.0: update release notes with known issue #8080
  doc/releasenotes/8_0_0_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8082 9.0.0: update release notes with known issue #8080
  doc/releasenotes/9_0_0_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8081 10.0.0: update release notes with known issue #8080
  doc/releasenotes/10_0_0_release_notes.md
Labels: Component: Build/CI, Type: CI/Build

#8116 Support for vtgate -enable_direct_ddl flag
  go/vt/schema/online_ddl.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ddl.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/migration.go
  go/vt/vtgate/vtgate.go
Labels: Component: Query Serving, Type: Enhancement

#8027 Release notes: add Known Issues
  doc/releasenotes/10_0_0_release_notes.md
Labels: Type: Documentation

#8098 [9.0] Queryservice fix
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Backport, Component: Query Serving, Type: Bug

#7960 Fix some static check warning
  go/test/endtoend/vtctldweb/vtctld_web_main_test.go
  tools/rowlog/rowlog.go
Labels: Component: VReplication, Type: Enhancement

#8121 healthcheck: attempt to update primary only if the current tablet is serving
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_health_check.go
Labels: Component: Query Serving, Type: Bug

#8114 [9.0] restore: check disable_active_reparents properly before waiting for position update
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Backport, Component: Cluster management, Type: Bug

#8136 Inline reference
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Component: Query Serving, Type: Enhancement

#8102 Fix buffering when using reserved connections
  go/test/endtoend/tabletgateway/buffer/buffer_test.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
Labels: Component: Query Serving, Type: Bug

#8147 CI: fail PR if it does not have required labels
  .github/workflows/pr-labels.yml
Labels: Component: Build/CI, Type: CI/Build

#8130 VReplication Copy Phase: Increase default replica lag tolerance. Also make it and copy timeout modifiable via flags
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Component: VReplication, Type: Enhancement

#8144 VReplication: remove noisy vexec logs
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/wrangler/vexec.go
Labels: Component: VReplication, Type: Bug

#8158 PRIMARY in index hint list
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Backport me!, Component: Query Serving, Type: Bug

#8157 trigger pr-labels workflow when labels added/removed from PR
  .github/workflows/pr-labels.yml
Labels: Component: Build/CI, Type: CI/Build

#8160 PRIMARY in index hint list for master
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Component: Query Serving, Type: Bug

#8159 PRIMARY in index hint list for release 10.0
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Component: Query Serving, Type: Bug

#8154 [Java] JDBC mysql driver test
  java/example/pom.xml
  java/example/src/main/java/io/vitess/example/MysqlJDBCExample.java
  java/pom.xml
  test/client_jdbc.sh
Labels: Component: Java, Type: Testing

#8139 Improve ScatterErrorsAsWarnings functionality
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/mysqlserver/mysql_server_test.go
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
  go/test/endtoend/vtgate/main_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/session_primitive.go
  go/vt/vtgate/engine/shard_route.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/wrangler/vdiff.go
  test/config.json
Labels: Breaking change, Component: Query Serving, Type: Enhancement

#8163 [vtadmin-api] Update GetTablet to use alias instead of hostname
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/http/experimental/tablets.go
  go/vt/vtadmin/http/tablets.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Labels: Component: VTAdmin, Type: Enhancement

#8164 [vtadmin-api] Rename flag 'http-tablet-fqdn-tmpl' to 'http-tablet-url-tmpl' + update vtadmin flags for local example
  examples/local/scripts/vtadmin-up.sh
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/http/api.go
  go/vt/vtadmin/http/experimental/tablets.go
Labels: Component: VTAdmin, Type: Enhancement

#8165 Add `--tracer` flag to vtadmin and actually start tracing
  examples/local/scripts/vtadmin-up.sh
  go/cmd/vtadmin/main.go
Labels: Component: VTAdmin, Type: Enhancement

#8155 Gen4: planning Select IN
  go/vt/vtgate/planbuilder/jointree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
Labels: Component: Query Serving, Type: Enhancement

#8137 Backport of 7969 into 10.0
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Backport, Component: VReplication, Type: Bug

#8169 Make sure to only allow codegen when the rest of the code compiles
  go/tools/astfmtgen/main.go
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/main/main.go
  go/tools/common/common.go
  go/tools/sizegen/sizegen.go
Labels: Component: Build/CI, Type: Enhancement

#8166 VReplicationExec: don't create new stats objects on a select
  go/vt/vttablet/tabletmanager/vreplication/engine.go
Labels: Component: VReplication, Type: Bug

#8184 Update do_release to work in the 9.0 branch
  Makefile
Labels: Component: Build/CI, Type: CI/Build

#8185 Release 9.0.2
  doc/releasenotes/9_0_2_release_notes.md
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#8170 [vtadmin-web] The hastiest Tablet view (+ experimental debug vars)
  examples/local/scripts/vtadmin-up.sh
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/links/ExternalTabletLink.tsx
  web/vtadmin/src/components/links/TabletLink.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.module.scss
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/react-app-env.d.ts
Labels: Component: VTAdmin, Type: Enhancement

#8188 Primary key name
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_test.go
Labels: Component: Query Serving, Type: Enhancement

#8176 [10.0] Backport OptionalTLS Feature
  go/vt/grpcoptionaltls/conn_wrapper.go
  go/vt/grpcoptionaltls/optionaltls.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/grpcoptionaltls/tls_detector.go
  go/vt/servenv/grpc_server.go
Labels: Backport, Type: Enhancement

#8193 [workflow] Cleanup wrangler wrappers, migrate `checkIfJournalExistsOnTablet` to package workflow
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Component: VReplication, Type: Internal Cleanup

#8194 Release 10.0.2
  doc/releasenotes/10_0_2_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#8189 Signed int parse
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Component: Query Serving, Type: Bug

#8191 query serving to continue when topo server restarts
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/topotest/consul/main_test.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
Labels: Component: Query Serving, Type: Bug

#8173 proto: Generate faster code using vtprotobuf
  Makefile
  go.mod
  go.sum
  go/vt/proto/automation/automation_vtproto.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/logutil/logutil_vtproto.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tableacl/tableacl_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/throttlerdata/throttlerdata_vtproto.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/proto/vttime/vttime_vtproto.pb.go
  go/vt/proto/vtworkerdata/vtworkerdata_vtproto.pb.go
  go/vt/proto/workflow/workflow_vtproto.pb.go
  go/vt/servenv/grpc_codec.go
  tools.go
  tools/tools.go
Labels: Benchmark me, Component: Query Serving, Component: VReplication, Type: Performance

#8177 Add options to vttestserver to pass -foreign_key_mode, -enable_online_ddl, and -enable_direct_ddl through to vtcombo
  docker/vttestserver/run.sh
  go/cmd/vttestserver/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Component: Build/CI, Type: Enhancement

#8202 [vtadmin-web] Move single-entity view components into subfolders
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/schema/Schema.module.scss
  web/vtadmin/src/components/routes/schema/Schema.tsx
  web/vtadmin/src/components/routes/stream/Stream.module.scss
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
Labels: Component: VTAdmin, Type: Internal Cleanup

#8167 Correctly parse cell names with dashes in tablet aliases
  go/vt/topo/topoproto/tablet.go
  go/vt/topo/topoproto/tablet_test.go
Labels: Component: Cluster management, Type: Bug
