Repository vitessio/vitess, pull requests merged in 2021-04, with the labels that each got.

#7774 make sure to not log sensitive information
  go/vt/vtgate/executor.go
Labels: Backport me!, Type: Bug

#7786 10_0_RC1 Release Notes
  doc/releasenotes/10_0_0_release_notes.md
  go/vt/servenv/version.go
Labels: Type: Documentation

#7801 Update version for latest snapshot
  go/vt/servenv/version.go
Labels: Component: Build/CI, Type: Documentation

#7796 Removing Linux/amd64 specific subdependencies
  go.mod
  go.sum
Labels: Component: Build/CI

#7809 Rowlog: Update rowlog for the API change made for the vstream skew alignment feature
  tools/rowlog/rowlog.go
Labels: Backport me!, Breaking change

#7841 Routing of Information Schema Queries
  go/test/endtoend/vtgate/system_schema_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Compontent: Query Serving, Type: Bug

#7915 Check tablet alias before removing after error stream
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
Labels: Backport me!

#7925 Panic when EOF after @ symbol
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/token.go
Labels: Component: Query Serving, Type: Bug

#7873 Fix + integration test for `keyspaces_to_watch` routing regression [fixes #7882]
  go/test/endtoend/vtgate/keyspace_watches/keyspace_watch_test.go
  go/vt/discovery/healthcheck.go
  go/vt/vtgate/discoverygateway.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
Labels: Backport me!

#7933 vreplication: dynamic packet sizing
  go/mathstats/beta.go
  go/mathstats/beta_test.go
  go/mathstats/sample.go
  go/mathstats/sample_test.go
  go/mathstats/tdist.go
  go/mathstats/tdist_test.go
  go/mathstats/ttest.go
  go/mathstats/ttest_test.go
  go/mathstats/util_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/packet_size.go
  go/vt/vttablet/tabletserver/vstreamer/packet_size_test.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Component: VReplication, Type: Performance

#7932 Release notes generation
  .github/pull_request_template.md
  Makefile
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: Enhancement

#7629 [Gen4] Implemented table alias functionality in the semantic analysis
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vtgate/planbuilder/querygraph_test.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Component: Query Serving, Type: Enhancement

#7964 v10 GA Release Notes
  doc/releasenotes/10_0_0_release_notes.md
Labels: Component: Build/CI, Type: Documentation

#7951 perf: vreplication client CPU usage
  go/mysql/conn.go
  go/mysql/endtoend/query_test.go
  go/mysql/query.go
  go/mysql/query_test.go
  go/mysql/server_test.go
  go/mysql/streaming_query.go
  go/sqltypes/proto3.go
  go/test/endtoend/messaging/message_test.go
  go/vt/dbconnpool/connection.go
  go/vt/vttablet/tabletserver/throttle/client.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Performance

#7968 java: Bump SNAPSHOT version to 11.0.0-SNAPSHOT after Vitess release v10
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#7982 Add commit count and authors to the release notes
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: Enhancement

#7976 docker/lite/install_dependencies.sh: If the dependency install loop reaches its max number of retries, consider that a failure; exit the script nonzero so the build halts.
  docker/lite/install_dependencies.sh
Labels: Component: Build/CI, Type: Enhancement

#7989 Vttest create db
  go/cmd/vtcombo/main.go
  go/cmd/vtcombo/plugin_dbddl.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtgate/endtoend/misc_test.go
  go/vt/vttest/vtprocess.go
Labels: Component: vttestserver, Type: Enhancement

#7941 Plan StreamExecute Queries
  go/vt/sqlparser/analyzer.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/mstream.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vstream.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/executor_vstream.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/stream.go
  go/vt/vtgate/planbuilder/testdata/stream_cases.txt
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vstream_manager.go
Labels: Component: Query Serving, Type: Internal Cleanup
