Repository vitessio/vitess, pull requests merged in 2021-03, with the labels that each got.

#7581 Corrects the comment handling in vitess
  go/vt/sqlparser/parse_next_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/token.go
Labels: Compontent: Query Serving, Type: Bug

#7579 Avoiding addition of redundant unary operators
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Compontent: Query Serving

#7590 Add Show Status query to vtexplain and make asthelpergen/sizegen quiet
  go/mysql/schema.go
  go/tools/asthelpergen/asthelpergen.go
  go/tools/sizegen/sizegen.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Component: Build, Type: Enhancement

#7617 Fixes vttestserver to work with sharded keyspaces
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
  docker/vttestserver/run.sh
  docker/vttestserver/setup_vschema_folder.sh
Labels: Component: Build, Type: Enhancement

#7637 Socket system variable to return vitess mysql socket
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vterrors/state.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/system_variables.go
  go/vt/vtgate/planbuilder/testdata/set_cases.txt
  go/vt/vtgate/plugin_mysql_server.go
Labels: Compontent: Query Serving

#7664 Update to remove Google Groups
  SECURITY.md
Labels: Type: Documentation

#7655 Fixes ordering in SELECT INTO and printing of strings
  go/sqltypes/value.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Compontent: Query Serving, Type: Bug

#7683 [9.0] fix regression - should be able to plan subquery on top of subquery
  .github/workflows/check_formatting.yml
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/cluster_endtoend.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/cluster_initial_sharding_multi.yml
  .github/workflows/create_release.yml
  .github/workflows/docker_test_1.yml
  .github/workflows/docker_test_2.yml
  .github/workflows/docker_test_3.yml
  .github/workflows/e2e_race.yml
  .github/workflows/endtoend.yml
  .github/workflows/ensure_bootstrap_updated.yml
  .github/workflows/golangci-linter.yml
  .github/workflows/sonar_analysis.yml
  .github/workflows/unit.yml
  .github/workflows/unit_race.yml
  go/vt/vtgate/planbuilder/filtering.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Bug

#7677 Solve I_S queries using CNF rewriting
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/precedence_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Compontent: Query Serving

#7726 making fast AST rewriter faster
  go/tools/asthelpergen/integration/ast_helper.go
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/rewrite_gen.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_helper.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/sqlparser/rewriter_test.go
  go/vt/sqlparser/walker_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/wrangler/materializer.go
Labels: Compontent: Query Serving

#7678 Adds support for ordering on character fields for sharded keyspace queries
  go/test/endtoend/vtgate/aggr_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/comparer_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/symtab.go
  go/vt/vtgate/planbuilder/symtab_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/wrangler/vdiff.go
Labels: Compontent: Query Serving, Type: Enhancement

#7730 make sure to handle subqueries on top of subqueries
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/selectsharded-queries.sql
  go/vt/vtgate/planbuilder/filtering.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Backport me!, Type: Bug

#7745 Constraint names and database names with spaces.
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/show.go
  tools/check_make_parser.sh
Labels: Compontent: Query Serving, Type: Bug

#7750 Add vtorc binary for rpm,deb builds
  tools/make-release-packages.sh
Labels: Component: Build/CI

#7757 Add Andrew Mason to Maintainers List
  MAINTAINERS.md
Labels: Type: Announcement, Type: Documentation

#7740 Nullable Timestamp Column Fix
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/topo/k8stopo/client/clientset/versioned/clientset.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/clientset_generated.go
  go/vt/topo/k8stopo/client/clientset/versioned/fake/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/scheme/register.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/fake/fake_vitesstoponode.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/topo_client.go
  go/vt/topo/k8stopo/client/clientset/versioned/typed/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/informers/externalversions/factory.go
  go/vt/topo/k8stopo/client/informers/externalversions/generic.go
  go/vt/topo/k8stopo/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  go/vt/topo/k8stopo/client/informers/externalversions/topo/v1beta1/vitesstoponode.go
  go/vt/topo/k8stopo/client/listers/topo/v1beta1/vitesstoponode.go
Labels: Compontent: Query Serving, Type: Bug

#7761 Fixes bug that prevents creation of logs directory
  go/vt/vttest/environment.go
Labels: Component: Build/CI, Type: Bug
