Repository vitessio/vitess, pull requests merged in 2021-10, with the labels that each got.

#8889 fix Unknown command StartSlave and StopSlave
  web/vtctld2/src/app/dashboard/shard.component.ts
  web/vtctld2/src/app/dashboard/tablet.component.html
  web/vtctld2/src/app/dashboard/tablet.component.ts
Labels: Type: Bug, Component: web UI

#8912 Updated the expected outpout of tpch plan tests
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving

#8844 Re-implement vttablet periodic refresh of DNS hostnames
  go/netutil/netutil.go
  go/pools/resource_pool.go
  go/pools/resource_pool_flaky_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletserver/connpool/pool.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#8924 fix planned reparent test flakiness
  go/vt/vtctl/reparentutil/planned_reparenter_test.go
Labels: Component: Build/CI, Type: Testing

#8900 Add SHOW VITESS_REPLICATION_STATUS Query Support
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, release notes (needs details), State: experimental

#8922 Use `fmt.Fprintf` instead of `fmt.Sprintf`
  go/vt/vtadmin/http/debug/cluster.go
  go/vt/vtgate/debugenv.go
  go/vt/vtgate/executor_scatter_stats.go
  go/vt/vttablet/tabletserver/debugenv.go
  go/vt/vttablet/tabletserver/twopcz.go
Labels: Component: Query Serving, Type: Performance, Component: VTAdmin

#8923 set higher timeout, so we get less false negatives
  go/vt/vtgate/schema/tracker_test.go
Labels: Component: Query Serving, Type: CI/Build

#8925 Fix `TestTopoCustomRule` flakiness
  .github/workflows/cluster_endtoend_tabletmanager_consul.yml
  .github/workflows/cluster_endtoend_vtgate_topo_consul.yml
  .github/workflows/cluster_endtoend_vtgate_topo_etcd.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: Testing

#8930 add summary notes v1 for 12.0 release
  doc/releasenotes/12_0_0_summary.md
Labels: Type: Documentation, Component: Build/CI, release notes none

#8926 grpc streamexecute to set a target if tablet type is provided
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/vtgate/godriver/main_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
Labels: Type: Bug, Component: Query Serving

#8853 Handle mapping of gRPC packet overflows to `ERTooManyUserConnections` for SELECT cases too
  go/mysql/sql_error.go
  go/mysql/sql_error_test.go
Labels: Type: Bug, Breaking change, Component: Query Serving

#8913 Gen4: derived table with aliased column names
  go/test/endtoend/vtgate/mysql80/derived/derived_test.go
  go/test/endtoend/vtgate/mysql80/derived/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/engine/gen4_compare_v3.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/derivedtree.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/querytree_transformers.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/table_collector.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving

#9117 [vtadmin-web] Update browserslist
  web/vtadmin/package-lock.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#9086 Release 12.0.0 GA
  doc/releasenotes/12_0_0_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9066 Incrementing to release 13.0.0-SNAPSHOT
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9094 Modify terse errors to also redact errors in logs
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Observability, release notes

#9081 Fix `DeleteCellInfo(force=true)` with downed local topo
  go/vt/topo/cell_info.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/topotests/cell_info_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9110 Update to the latest Tengo version
  go.mod
  go.sum
Labels: Type: Bug, release notes, Component: General
