Repository vitessio/vitess, pull requests merged in 2022-07, with the labels that each got.

#10489 Remove tablet query plan field caching
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vttablet/endtoend/queries_test.go
  go/vt/vttablet/tabletserver/cached_size.go
  go/vt/vttablet/tabletserver/fuzz.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/cached_size.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/lock_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Announcement, Component: Query Serving, Benchmark me

#10608 Implement VDiff2 Delete Action
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vexec.go
Labels: Type: Enhancement, Component: VReplication, release notes

#10621 VReplication: retry in WaitForPos when read of pos is killed off by deadlock detector
  go/vt/vttablet/tabletmanager/vreplication/engine.go
Labels: Type: Bug, Component: Build/CI, Component: VReplication, release notes

#10577 Insert with select using streaming call
  go/test/endtoend/vtgate/queries/insert/insert_test.go
  go/test/endtoend/vtgate/queries/insert/main_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10629 Parse LOCATE(), POSITION() and CHAR() functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10410 Concurrent vitess migrations
  doc/releasenotes/15_0_0_summary.md
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schema/online_ddl.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10633 Improve handling of MATCH AGAINST
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10579 Add parsing support for GTID functions
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10634 Ignoring empty queries with MySQL dashed comments
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_next_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/parser_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#10588 [14] Fixed the release notes CI check helper (#10574)
  .github/workflows/release_notes_label.yml
Labels: Type: Bug, Component: Build/CI, Backport

#10586 [12] Fixed the release notes CI check helper (#10574)
  .github/workflows/release_notes_label.yml
Labels: Type: Bug, Component: Build/CI, Backport

#10585 [11] Fixed the release notes CI check helper (#10574)
  .github/workflows/release_notes_label.yml
Labels: Type: Bug, Component: Build/CI, Backport

#10640 Use many more valid test cases
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Component: Query Serving, Type: Testing, release notes none

#10641 Accept geomcollection as alias for geometrycollection
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10272 upgrade versions of security vulnerable packages crypto/net/serf
  go.mod
Labels: Type: Internal Cleanup, Component: Build/CI, release notes, Stale

#10647 fix: build
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build

#10558 Backup/Restore: add support for external compressors and decompressors
  doc/releasenotes/15_0_0_summary.md
  go.mod
  go.sum
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/mysqlctld/backup_mysqlctld_test.go
  go/test/endtoend/backup/vtctlbackup/backup_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/xtrabackup/xtrabackup_test.go
  go/test/endtoend/backup/xtrabackupstream/xtrabackup_stream_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/compression_test.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/wrangler/testlib/backup_test.go
  test/config.json
Labels: Type: Feature Request, Component: Backup and Restore, NeedsWebsiteDocsUpdate

#10542 Remove legacy healthcheck files and structures
  go/vt/discovery/fake_legacy_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/discovery/legacy_healthcheck_flaky_test.go
  go/vt/discovery/legacy_replicationlag.go
  go/vt/discovery/legacy_replicationlag_test.go
  go/vt/discovery/legacy_tablet_stats_cache.go
  go/vt/discovery/legacy_tablet_stats_cache_test.go
  go/vt/discovery/legacy_tablet_stats_cache_wait.go
  go/vt/discovery/legacy_tablet_stats_cache_wait_test.go
  go/vt/discovery/legacy_topology_watcher.go
  go/vt/discovery/legacy_topology_watcher_test.go
  go/vt/discovery/replicationlag_test.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/utils.go
  go/vt/discovery/utils_test.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/throttler/manager.go
  go/vt/throttler/max_replication_lag_module.go
  go/vt/throttler/max_replication_lag_module_config.go
  go/vt/throttler/max_replication_lag_module_test.go
  go/vt/throttler/replication_lag_cache.go
  go/vt/throttler/replication_lag_cache_test.go
  go/vt/throttler/replication_lag_record.go
  go/vt/throttler/throttler.go
  go/vt/throttler/throttlerlogz.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/api.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_helper_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Cluster management

#10655 test: for unit tests set TMPDIR=/tmp_XXXXXX on mac
  tools/unit_test_runner.sh
Labels: Type: Bug, Component: Build/CI, Type: Testing

#10645 VTOrc Cleanup: Remove KV stores
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/db/generate_base.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/inst/binlog_test.go
  go/vt/orchestrator/inst/cluster.go
  go/vt/orchestrator/inst/cluster_test.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/keyspace_dao_test.go
  go/vt/orchestrator/inst/resolve_dao.go
  go/vt/orchestrator/kv/consul.go
  go/vt/orchestrator/kv/internal.go
  go/vt/orchestrator/kv/kv.go
  go/vt/orchestrator/kv/zk.go
  go/vt/orchestrator/logic/command_applier.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#10664 Use TMC RPCs in VTOrc
  go/vt/orchestrator/logic/tablet_discovery.go
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#10638 Online DDL: deal with autogenerated CHECK constraint names
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autogen-check-constraint-name/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autogen-check-constraint-name/ignore_versions
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#10662 Fix VTOrc Discovery to also retry discovering tablets which aren't present in database_instance table
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/inst/instance_dao.go
Labels: Type: Bug, Component: VTorc

#10665 Include more tests in upgrade tests
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
Labels: Component: Cluster management, Type: CI/Build

#10672 Remove the release notes document from the main branch
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General

#10587 [13] Fixed the release notes CI check helper (#10574)
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/release_notes_label.yml
  go/test/endtoend/cluster/vtgate_process.go
Labels: Type: Bug, Component: Build/CI, Backport

#10658 [13.0] Fixing flaky vtctld2 web test (#10541)
  go/test/endtoend/vtctldweb/vtctld_web_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, Backport, Component: web UI, go

#10659 [14.0] Fixing flaky vtctld2 web test (#10541)
  go/test/endtoend/vtctldweb/vtctld_web_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, Backport, Component: web UI, go

#10661 [vtctl] delete all throttler commands and associated cmd imports
  go/cmd/vtctl/plugin_grpcthrottlerclient.go
  go/cmd/vtctld/plugin_grpcthrottlerclient.go
  go/vt/vtctl/throttler.go
  go/vt/wrangler/testlib/throttler_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: vtctl

#10677 Fix full status test to work with both MySQL versions and de-flake it
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
Labels: Component: Cluster management, Type: CI/Build

#10679 CI: mysql8 test for schemadiff_vrepl
  .github/workflows/cluster_endtoend_schemadiff_vrepl_mysql80.yml
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/convert-utf8mb4/allow_schemadiff_normalization
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: Testing

#10656 Remove the review checklist workflow
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Type: CI/Build, Benchmark me, Do Not Merge, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0, Backport to: release-11.0

#10675 Fix Online DDL Revert flakiness
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Labels: Type: Bug, Component: Build/CI, Component: Cluster management, Backport to: release-14.0

#10682 Backport: CI: mysql8 test for schemadiff_vrepl (#10679)
  .github/workflows/cluster_endtoend_schemadiff_vrepl_mysql80.yml
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/convert-utf8mb4/allow_schemadiff_normalization
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build, Backport

#10643 Fix stats for cache miss and add CachePlan for Vtgate
  go/vt/vtgate/executor.go
  go/vt/vtgate/logstats.go
  go/vt/vtgate/logstats_test.go
  go/vt/vttablet/tabletserver/query_engine.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#10698 test: set parameter on vtgate than on vttablet
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
Labels: Component: Query Serving, Type: Testing

#10693 added vindex interface breaking change to summary notes
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Documentation, Component: Query Serving

#10669 Inject shard name in commit-phase multi-shard errors
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tx_conn_test.go
Labels: Type: Bug, Component: Query Serving

#10699 [14.0] set parameter on vtgate than on vttablet
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
Labels: Component: Query Serving, Type: Testing, Backport

#10710 Fixes to config file and flakiness fix for TestFloatValueDefault
  .github/workflows/cluster_endtoend_vtgate_buffer.yml
  go/test/endtoend/vtgate/unsharded/main_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Build/CI, Type: Testing

#10719 Tablet Executor: consolidate ReloadSchema calls, and skip for Online DDL
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Enhancement, Component: Query Serving, Type: Performance, Component: TabletManager

#10536 Fix vtgate query log table name extraction for DML statements
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/symtab.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/update_planner.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving

#10720 Reduce Flakiness of ERS/PRS e2e Tests Using Retries With a Timeout
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
Labels: Component: Build/CI, Type: CI/Build

#10722 BugFix: Gen4CompareV3 planner reverted to Gen4 on Update queries
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#10711 Add the vtorc discovery bug as a known issue to 14.0
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Documentation, Component: Cluster management, Forwardport to: main

#10683 [11] Remove the review checklist workflow (#10656)
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Type: CI/Build, Backport

#10686 [14] Remove the review checklist workflow (#10656)
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Type: CI/Build, Backport

#10701 Auto Detect MySQL Version and Use in vtgate mysql_server_version Flag
  go/mysql/collations/env.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/local.go
  go/mysql/endtoend/query_test.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0

#10715 BugFix: Keep predicates in join when pushing new ones
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0

#10700 Remove MariaDB 10.2 Unit Test in v15
  .github/workflows/unit_test_mariadb102.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build

#10734 [release-14.0] BugFix: Keep predicates in join when pushing new ones (#10715)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#10737 [release-13.0] BugFix: Keep predicates in join when pushing new ones (#10715)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#10728 Cleanup: ERS and PRS tests by removing setupShardLegacy
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
Labels: Type: Internal Cleanup, Component: Cluster management

#10763 Add the linter for exporting a loop variable through a pointer reference
  .golangci.yml
Labels: Component: Build/CI, Type: CI/Build

#10725 VDiff2: ignore errors while attempting to purge vdiff tables
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: VReplication, Backport

#10739 ApplySchema: do not ReloadSchema on ExecuteFetchAsDba
  go/timer/rate_limiter.go
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving

#10765 Be explicit about capturing the pointer
  go/mysql/collations/tools/makecolldata/contractions.go
  go/vt/vtgate/engine/cached_size.go
Labels: Component: Build/CI, Type: CI/Build

#10616 Use the old planner version flag in v14 upgrade-downgrade tests
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
Labels: Type: Bug, Component: Query Serving

#10671 refactor: unexplode VStreamRows() and reuse VStreamRowsRequest, unexplode VStream() and reuse VStreamRequest
  go/vt/vtcombo/tablet_map.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/queryservice/queryservice.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: TabletManager

#10773 Add drop_foreign_keys to v2 MoveTables command
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: VReplication, Backport to: release-14.0

#10766 Online DDL: issue a ReloadSchema at the completion of any migration
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: VReplication, Component: Query Serving

#10780 [release-13.0] VStream API: Fix vtgate memory leaks when context gets cancelled #10571
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication

#10779 looking into onlineddl_vrepl_stress_suite flakiness in CI
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0

#10778 [release-14.0] VDiff2: ignore errors while attempting to purge vdiff tables (#10725)
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/workflow.go
Labels: Type: Bug, Component: VReplication

#10695 Deprecate enable-semi-sync in favour of RPC parameter
  config/mycnf/mariadb100.cnf
  config/mycnf/mariadb101.cnf
  config/mycnf/mariadb102.cnf
  config/mycnf/mysql57.cnf
  config/mycnf/mysql80.cnf
  doc/releasenotes/15_0_0_summary.md
  examples/compose/external_db/mysql/mysql56.cnf
  examples/compose/external_db/mysql/mysql57.cnf
  examples/compose/vttablet-up.sh
  examples/local/scripts/vttablet-up.sh
  examples/operator/vtorc_example.yaml
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/mysqlctl/rice-box.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/wrangler/testlib/semi_sync_test.go
  vitess-mixin/e2e/external_db/mysql/mysql56.cnf
  vitess-mixin/e2e/external_db/mysql/mysql57.cnf
  vitess-mixin/e2e/vttablet-up.sh
Labels: Type: Enhancement, Component: Cluster management

#10762 BugFix: `--queryserver-config-terse-errors` shouldn't redact `Row count exceeded` error and shouldn't affect ignoring `Duplicate entry` error in lookup vindexes
  go/mysql/constants.go
  go/mysql/query.go
  go/mysql/query_test.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vterrors/vterrors.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving

#10796 Backport v14: reduce ApplySchema complexity, normalize calls to `ReloadSchema`
  go/timer/rate_limiter.go
  go/timer/rate_limiter_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/locks.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, Backport

#10803 Update to latest Protobuf 21.3 release
  Makefile
  bootstrap.sh
  go/vt/proto/automation/automation.pb.go
  go/vt/proto/automationservice/automationservice.pb.go
  go/vt/proto/automationservice/automationservice_grpc.pb.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/binlogservice/binlogservice_grpc.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_grpc.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/queryservice/queryservice_grpc.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/throttlerservice/throttlerservice_grpc.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtgateservice/vtgateservice_grpc.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/proto/workflow/workflow.pb.go
Labels: Type: Internal Cleanup, Component: Build/CI

#10802 Unexplode return values for queryservice
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/query.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/queryservice/fakes/stream_health_query_service.go
  go/vt/vttablet/queryservice/queryservice.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#10805 Mark aggregate functions callable
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/vtgate/engine/cached_size.go
Labels: Type: Internal Cleanup, Component: Query Serving

#10799 VDiff2: Add --wait flag to Create/Resume actions
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
Labels: Type: Enhancement, Component: VReplication

#10793 fix: evalengine - check compare numeric of same type
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#10646 [vtctl] Delete query commands
  go/cmd/vttestserver/vttestserver_test.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletmanager/commands_test.go
  go/test/endtoend/tabletmanager/custom_rule_topo_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/qps_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctl/query.go
  go/vt/vtctl/query_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vttest/environment.go
  go/vt/wrangler/testlib/vtctl_pipe.go
Labels: Type: Internal Cleanup, Component: Cluster management

#10619 [cmd/*] Switch to pflag for all CLI flag parsing
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/topo2topo/topo2topo.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctlclient/main.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vtgr/main.go
  go/cmd/vttlstest/vttlstest.go
  go/cmd/zk/zkcmd.go
  go/cmd/zkctl/zkctl.go
  go/cmd/zkctld/zkctld.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/internal/flag/flag.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/servenv/servenv.go
  go/vt/vtctld/api_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  java/grpc-client/src/test/java/io/client/grpc/GrpcClientStaticAuthTest.java
  java/grpc-client/src/test/java/io/client/grpc/GrpcClientTest.java
  java/grpc-client/src/test/java/io/client/grpc/GrpcClientTlsClientAuthTest.java
  java/grpc-client/src/test/java/io/client/grpc/GrpcClientTlsTest.java
  java/grpc-client/src/test/java/io/client/grpc/GrpcClientWithRetriesTest.java
Labels: Type: Enhancement, Component: General, Component: CLI

#10651 Add order, limit, skip options to onlineddl show command
  doc/releasenotes/15_0_0_summary.md
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/wrangler.go
Labels: Type: Enhancement, Component: vtctl, NeedsWebsiteDocsUpdate

#10687 Fix VTop Example
  Makefile
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/README.md
  examples/operator/delete_commerce_data.sql
  examples/operator/drop_all_commerce_tables.sql
  examples/operator/operator.yaml
  examples/operator/orcpf.sh
  examples/operator/pf.sh
  examples/operator/vtorc_example.yaml
  test/vtop_example.sh
  tools/get_kubectl_kind.sh
Labels: Type: CI/Build, Component: Examples, Component: Operator

#10786 BugFix: VTOrc should repair replication if either replication thread is stopped
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/orchestrator/inst/analysis_dao.go
Labels: Type: Bug, Component: VTorc

#10635 [vtctldclient] Add autodoc tool for generating website docs
  go.mod
  go.sum
  go/cmd/internal/docgen/docgen.go
  go/cmd/vtctldclient/docgen/main.go
Labels: Type: Documentation, Component: CLI

#10752 [go/mysql/*] Move all authserver–related flags off of global flagset
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/mysql/auth_server_clientcert.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/auth_server_static.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/vault/auth_server_vault.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: ACL, Component: CLI

#10821 [14] Addition of the release notes summary for v14.0.1
  doc/releasenotes/14_0_1_summary.md
Labels: Component: General, Type: Release, Forwardport to: main

#10820 [13] Release summary 13.0.2
  doc/releasenotes/13_0_2_summary.md
Labels: Component: General, Type: Release, Forwardport to: main

#10831 [14.0] fix: evalengine - check compare numeric of same type (#10793)
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Bug, Component: Query Serving, Backport

#10804 vrepl endtoend flakiness fix via schema versioning
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build

#10839 CI Fix: Collation tests
  go/mysql/collations/integration/coercion_test.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0

#10850 Post release `v14.0.1`
  doc/releasenotes/14_0_1_changelog.md
  doc/releasenotes/14_0_1_release_notes.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#10848 Post release `v13.0.2`
  doc/releasenotes/13_0_2_changelog.md
  doc/releasenotes/13_0_2_release_notes.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#10851 Addition of the release notes for v14.0.1
  doc/releasenotes/14_0_1_changelog.md
  doc/releasenotes/14_0_1_release_notes.md
Labels: Component: General, Type: Release

#10835 Always close body for HTTP requests in tests
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vttablet_process.go
Labels: Type: Internal Cleanup, Component: Build/CI

#10844 [cli] [mysqlctl] Scope all backupstorage implementation flags to `pflag` and relevant binaries
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/cephbackupstorage/ceph.go
  go/vt/mysqlctl/filebackupstorage/file.go
  go/vt/mysqlctl/filebackupstorage/file_test.go
  go/vt/mysqlctl/gcsbackupstorage/gcs.go
  go/vt/mysqlctl/s3backupstorage/README.txt
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: Backup and Restore, Component: CLI

#10864 Addition of the release summary for v12.0.5
  .github/workflows/cluster_endtoend_upgrade.yml
  doc/releasenotes/12_0_5_summary.md
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
Labels: Component: General, Type: Release, Forwardport to: main

#10849 Addition of the release notes for `v13.0.2`
  doc/releasenotes/13_0_2_changelog.md
  doc/releasenotes/13_0_2_release_notes.md
Labels: Component: General, Type: Release

#10784 refactor: make resource pool as interface and pool refresh as common
  go/pools/refresh_pool.go
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
  go/pools/rp_bench_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/vttablet/tabletserver/connpool/pool.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#10872 Release `v12.0.5`
  doc/releasenotes/12_0_5_changelog.md
  doc/releasenotes/12_0_5_release_notes.md
  docker/lite/Dockerfile.mysql57
  docker/lite/Dockerfile.mysql80
  docker/lite/install_dependencies.sh
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#10873 Addition of the release notes for v12.0.5
  doc/releasenotes/12_0_5_changelog.md
  doc/releasenotes/12_0_5_release_notes.md
Labels: Component: General, Type: Release

#10829 release notes: add index to v15 summary
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Documentation, Component: General

#10863 [cli][discovery]: migrate discovery flags to pflag
  go/cmd/vtcombo/status.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/replicationlag.go
  go/vt/discovery/replicationlag_test.go
  go/vt/topo/topoproto/flag.go
  go/vt/vtgate/executor.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: CLI

#10852 [cli] [mysqlctl] Scope `backup_storage_implementation` flag to `pflag`
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/backupstorage/interface.go
  go/vt/mysqlctl/s3backupstorage/README.txt
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: Backup and Restore, Component: CLI

#10868 Addition of a test in aggr_cases for grouping on data from derived table
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
Labels: Component: Query Serving, Type: Testing

#10871 Fix client session state tracking logic
  go/mysql/client.go
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
  go/mysql/streaming_query.go
Labels: Type: Bug, Component: Query Serving

#10882 Always setup an underlying topo for a sandbox
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Internal Cleanup, Component: Build/CI

#10879 feat: don't use the vtgatehandler unless it is known to have been initialized
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Bug, Component: Query Serving

#10706 Tweak make targets MacOS M1 xc to Linux arches
  Makefile
Labels: Type: Enhancement, Component: Build/CI, Type: CI/Build, Component: General

#10883 Separate function for creating bind variables
  go/vt/sqlparser/normalizer.go
Labels: Type: Internal Cleanup, Component: Query Serving

#10889 [vtcombo] Delete `flag.Set` call on non-existent flag
  go/vt/vtcombo/tablet_map.go
Labels: Type: Internal Cleanup, Component: VTCombo, Component: CLI

#10770 using nginx for vtadmin web
  docker/k8s/vtadmin/Dockerfile
  docker/k8s/vtadmin/default.conf
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Enhancement, Component: VTAdmin

#10887 check for nil earlier
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Internal Cleanup, Component: Query Serving

#10847 Backups: Support InnoDB Redo Log Location With 8.0.30+
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/mysql/innodb_constants.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/capabilityset.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-14.0

#10881 BugFix: Vttablet semi-sync settings on startup
  go/cmd/vtcombo/main.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/fake_tablet.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management

#10794 Fixing logic for backup progress
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Bug, Component: Backup and Restore

#10826 Add semgrep CI workflow
  .github/workflows/semgrep.yml
Labels: Component: Build/CI, Type: CI/Build
