Repository vitessio/vitess, pull requests merged in 2022-03, with the labels that each got.

#9723 Hack to allow `bootstrap.sh` to run cleanly on fresh M1
  bootstrap.sh
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9659 Revocation phase using durability policies
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/vt/topo/topoproto/tablet.go
  go/vt/topo/topoproto/tablet_test.go
  go/vt/vtctl/reparentutil/durability.go
  go/vt/vtctl/reparentutil/durability_funcs.go
  go/vt/vtctl/reparentutil/durability_funcs_test.go
  go/vt/vtctl/reparentutil/durability_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: VTorc, release notes

#9804 evalengine: more comprehensive type coverage
  go/sqltypes/type.go
  go/sqltypes/type_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_expr.go
  go/vt/vtgate/evalengine/bit.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/hex.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Internal Cleanup, release notes none, Skip Upgrade Downgrade, Component: Evalengine

#9811 Add parsing support for Multi INDEX HINTS
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/cached_size.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9807 evalengine: Use field information when doing type calculation on columns
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/expressions.go
Labels: Type: Enhancement, release notes none, Skip Upgrade Downgrade, Component: Evalengine

#9810 Split aggregation in scalar and ordered aggregation
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Internal Cleanup, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9813 Online DDL: ready_to_complete hint column
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9765 Filter candidates which cannot make forward progress after ERS
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/reparentutil/durability_funcs.go
  go/vt/vtctl/reparentutil/durability_funcs_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes (needs details), Do Not Merge

#9695 vtcombo: Add the ability to specify routing rules in test topology
  go/cmd/vtcombo/main.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/vtcombo/tablet_map.go
  proto/vttest.proto
Labels: Type: Enhancement, Component: vttestserver, release notes, Skip Upgrade Downgrade

#9815 all: fix some typos
  doc/releasenotes/12_0_0_release_notes.md
  examples/are-you-alive/cmd/are-you-alive/main.go
Labels: Type: Internal Cleanup, Component: Examples, release notes none, Component: Documentation

#9802 Sanitize tx serializer log & error messages
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer_test.go
Labels: Type: Bug, release notes, Component: General, Skip Upgrade Downgrade

#9817 Run WithDDL queries on tablet startup
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/withddl/withddl.go
Labels: Type: Bug, Component: VReplication, release notes none

#9755 Online DDL vitess migration's cut-over: query buffering
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/rules/rules.go
  go/vt/vttablet/tabletserver/rules/rules_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, release notes (needs details)

#9828 Check for nil vschema.Table in StreamMigrator
  go/vt/vtctl/workflow/stream_migrator.go
Labels: Type: Bug, Component: VReplication, release notes

#9824 Rename ApplySchemaRequest.request_context=>migration_context
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#9818 Add parsing support for prepare statements
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9820 mysql: add a flag to handle EnableQueryInfo
  go/mysql/client.go
  go/mysql/conn.go
  go/mysql/conn_params.go
  go/mysql/endtoend/client_test.go
  go/vt/dbconfigs/dbconfigs.go
Labels: Type: Enhancement, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9832 Online DDL: vitess migrations cut-over to have zero race conditions
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, release notes none

#9772 Online DDL declarative migrations now use schemadiff, removing tengo
  go.mod
  go.sum
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving, release notes none

#9825 update maintainers
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance, release notes none

#9775 Internal cleanup for choosing primary in ERS
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/promotionrule/promotion_rule.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none, Do Not Merge

#9816 Online DDL: cleanup old vtctld+topo flow
  go/cmd/vtctlclient/main.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/schema.go
  go/vt/vtctld/vtctld.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/online_ddl.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/revert_migration.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#9833 Check if context is cancelled in applyEvents() loop to avoid deadlocks
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Type: Bug, Component: VReplication, release notes none, Skip Upgrade Downgrade

#9829 [vtctldclient] Add entrypoint for `ApplySchema`
  go/cmd/vtctldclient/command/schema.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
Labels: Type: Feature Request, Component: Cluster management, release notes

#9836 Fix rendering type in issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: Type: Enhancement, Component: General, release notes none, Skip Upgrade Downgrade

#9840 sqlescape: Improve performance of EscapeID
  go/sqlescape/ids.go
  go/sqlescape/ids_test.go
  go/vt/worker/restartable_result_reader.go
  go/vt/worker/row_aggregator.go
Labels: Type: Performance, Component: General, release notes none, Skip Upgrade Downgrade

#9846 Add GuptaManan100 as a codeowner for VTOrc
  .github/CODEOWNERS
Labels: Component: Build/CI, Component: Cluster management, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9643 Gen4: Rework how aggregation is planned
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/physical/apply_join.go
  go/vt/vtgate/planbuilder/physical/correlated_subquery.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/subquery_op.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me, release notes, Skip Upgrade Downgrade

#9847 Add @ajm188 to codeowners for CLI-related packages
  .github/CODEOWNERS
Labels: Type: Documentation, Component: Governance, release notes none, Skip Upgrade Downgrade

#9834 Add parsing support for Trim grammar function
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#9849 [topo/helpers] Make CopyShardReplications idempotent
  go/vt/topo/helpers/copy.go
  go/vt/topo/helpers/copy_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9855 Fix `__sq_has_values1` error with `PulloutSubquery`
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/rewrite.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9500 Delete discovery gateway
  go/cmd/vtcombo/main.go
  go/cmd/vtgate/status.go
  go/cmd/vtgate/vtgate.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/legacy_healthcheck.go
  go/vt/discovery/legacy_topology_watcher.go
  go/vt/discovery/legacy_topology_watcher_test.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/vtgate/api.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/discoverygateway.go
  go/vt/vtgate/discoverygateway_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_scatter_stats_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/gateway.go
  go/vt/vtgate/gateway_test_suite.go
  go/vt/vtgate/grpc_discovery_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9710 Make gen4 the default planner for release 14
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vttestserver/main.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/vtgate.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade, NeedsWebsiteDocsUpdate

#9837 Add help text for LegacyVtctlCommand and VtctldCommand
  go/vt/vtctl/vtctl.go
Labels: Type: Documentation, release notes, Component: Documentation

#9842 TabletManager: Check for context cancellation in loop within ChangeTabletType()
  go/vt/vttablet/tabletmanager/tm_state.go
Labels: Type: Bug, Component: Cluster management, release notes none, Skip Upgrade Downgrade

#9864 Fix `__sq_has_values1` error with `PulloutSubquery`
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/rewrite.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#9863 feat: make the join columns output easier to read
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/large_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/symtab_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9869 fix: planner panic on derived tables sorting in query builder
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#9868 VPlayer: use stored/binlogged ENUM index value in WHERE clauses
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade

#9866 [VTAdmin] URL decode cookies
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  web/vtadmin/src/components/NavRail.module.scss
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/VitessLogo.tsx
  web/vtadmin/src/img/vitess-icon-color.svg
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade, go

#9892 vstreamer: flatten savepoint events
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade

#9894 Migrate remaining vtctldclient commands in local example
  examples/local/101_initial_cluster.sh
  examples/local/301_customer_sharded.sh
Labels: Type: Internal Cleanup, Component: Examples, release notes

#9896 [VEP-4, phase 1] Flag cleanup in `go/cmd`
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtclient/vtclient_test.go
  go/cmd/vtctldclient/command/legacy_shim.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/vschemas.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/cmd/vttlstest/vttlstest.go
  go/vt/vttest/environment.go
  go/vt/vttest/environment_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9904 Add `--drop_constraints` to MoveTables
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/workflow.go
Labels: Type: Enhancement, Component: VReplication, release notes

#9920 Add Matt Lord to CODEOWNERS
  .github/CODEOWNERS
Labels: Type: CI/Build, Component: General, release notes none

#9859 Fix the race between PromoteReplica and replication manager tick
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/wrangler/tablet.go
Labels: Type: Bug, Component: Cluster management, release notes

#9861 OnlineDDL executor: route all VReplicationExec through single function
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9918 [VEP4, phase 1] [endtoend/vreplication] update flags in tests
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9911 [VEP4, phase 1] Update flags in `endtoend/recovery`
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/recovery_util.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9916 [VEP 4, phase 1] Cleanup flags in `endtoend/vault` (and some comments in `endtoend/tabletmanager`)
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/vault/vault_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9910 [VEP-4, part 1] Flag cleanup in `go/mysql` and some endtoend tests
  go/cmd/tools.go
  go/mysql/vault/auth_server_vault.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/cluster/vtgr_process.go
  go/test/endtoend/cluster/vtworker_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/migration/migration_test.go
  go/test/endtoend/preparestmt/main_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9926 deflake TestCanSwitch by switching from exact string match to loose regex
  go/vt/wrangler/workflow_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Type: Testing, release notes none

#9930 [VEP4, phase1] Cleanup flags in `endtoend/vtgate` and `endtoend/vtorc`
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, Component: VTorc, release notes, Component: General, Component: CLI

#9913 [VEP4, phase 1] Update flags and imports for `endtoend/{sharded,sharding}`
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9931 [VEP4, phase1] fix flags in tests in `endtoend/worker` and strings in `go/trace`
  go/test/endtoend/worker/worker_test.go
  go/trace/plugin_jaeger.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, Component: Observability, release notes, Component: General, Component: CLI

#9937 region_example: sleep 5s before switching reads to allow copy to finish
  test/region_example.sh
Labels: Type: Performance, Component: Examples, release notes none

#9938 Backport: VReplication: use stored/binlogged ENUM index value in WHERE clauses
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: VReplication, Backport, release notes

#9843 Add parsing support for LATERAL keyword
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9919 [VEP4, phase 1] [endtoend/vtcombo] fix flags in tests
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9950 Properly generate vtgate_tablet_healthcheck_cache workflow
  .github/workflows/cluster_endtoend_schemadiff_vrepl.yml
  .github/workflows/cluster_endtoend_vreplication_across_db_versions.yml
  .github/workflows/cluster_endtoend_vtgate_tablet_healthcheck_cache.yml
  test/ci_workflow_gen.go
Labels: Type: Bug, Component: Build/CI, Type: CI/Build, release notes none

#9954 Add single self-hosted runner information
  GITHUB_SELF_HOSTED_RUNNERS.md
Labels: Component: Build/CI, Type: CI/Build, release notes none, Component: Documentation, Skip Upgrade Downgrade

#9934 [vtctl] Deprecate query commands
  go/vt/vtctl/query.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes, Component: CLI

#9967 Address flakiness of some cluster e2e tests
  .github/workflows/cluster_endtoend_ers_prs_newfeatures_heavy.yml
  .github/workflows/cluster_endtoend_shardedrecovery_stress_verticalsplit_heavy.yml
  .github/workflows/cluster_endtoend_vtctlbackup_sharded_clustertest_heavy.yml
  .github/workflows/cluster_endtoend_worker_vault_heavy.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9850 Add parsing support for JSON Utility Functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#9955 Backport: Set fully parsed to false when ignoring errors
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/unit_test_mysql80.yml
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  test/templates/cluster_endtoend_test.tpl
  test/templates/unit_test.tpl
Labels: Type: Bug, Component: Query Serving, Backport, release notes none

#9963 VReplication: use strict sql_mode for Online DDL
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/binlog_player_test.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  proto/binlogdata.proto
Labels: Type: Bug, Component: VReplication, release notes none

#9973 VReplication: fail on unrecoverable errors
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-cannot-be-null/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-cannot-be-null/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-cannot-be-null/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-data-truncated/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-data-truncated/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-data-truncated/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-invalid-character/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-invalid-character/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-invalid-character/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-invalid-character/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-default-value/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-default-value/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-no-default-value/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-text-too-long/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-text-too-long/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-text-too-long/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-value-out-of-range/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-value-out-of-range/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-value-out-of-range/expect_failure
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication, release notes none

#9942 Adds comments to UnserveCommon to find potential Deadlock
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/messager/cache.go
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/tx_engine.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: TabletManager, release notes none, Do Not Merge, Skip Upgrade Downgrade

#9975 Skip end-to-end test if binary is below a certain major version
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
Labels: Component: Build/CI, Type: Testing, release notes none

#9979 fix: make concatenate and limit concurrent safe
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/limit.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9957 Flakiness fix for Upgrade Downgrade Backup Manual test
  examples/local/backups/restart_tablets.sh
Labels: Component: Build/CI, Component: Cluster management, Type: CI/Build, release notes none

#9981 [V13] fix: make concatenate and limit concurrent safe
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/limit.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#9972 Allow --no-rbac flag that allows users to not pass rbac config
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/rbac/config.go
Labels: Type: Feature Request, Component: VTAdmin, release notes, Skip Upgrade Downgrade, go

#9978 VStreamer: recompute table plan if a new table is encountered for the same id
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication, release notes

#9917 [VEP4, phase 1] fix flags in tests `endtoend/versionupgrade`
  go/test/endtoend/versionupgrade/upgrade_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, release notes, Component: General, Component: CLI

#9956 More aggressive tests for vitess migration cut-over
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
Labels: Type: Enhancement, Component: Build/CI, Type: Testing, release notes none

#9969 fix: dual query with exists clause having system table query in it
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#9929 Improve escape handling for vindex materializer
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Enhancement, Component: VReplication, release notes, Skip Upgrade Downgrade

#9988 More testing for vreplication unique key violation protection
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry2/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry2/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-duplicate-entry2/expect_failure
Labels: Component: Query Serving, Type: CI/Build, release notes none

#9940 fix: allow multiple distinct columns on single shards
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9939 ORDER BY scoping rules should not be used in group_concat
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9879 Add parsing support for JSON_TABLE()
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9992 Compatibility Fixes for 1.18
  .github/workflows/golangci-linter.yml
  .golangci.yml
  go/vt/tlstest/tlstest.go
  misc/git/hooks/golangci-lint
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9986 Flaky TestReparentDuringWorkerCopy fix
  go/test/endtoend/worker/worker_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9974 Move VTOrc tests to run against MySQL 8.0
  .github/workflows/cluster_endtoend_vtorc_8.0.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, Component: VTorc, release notes none, Skip Upgrade Downgrade

#9907 vstreamer: do not forward savepoint events
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Component: VReplication, release notes

#9994 [vtctldclient] Add entrypoint for GetVersion rpc
  go/cmd/vtctldclient/command/tablets.go
Labels: Type: Enhancement, Component: Cluster management, release notes, Component: CLI

#9968 Fix: Sequence query to ignore reserved and transaction
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, release notes

#9880 Add parsing support for JSON value creators functions
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#9874 feat: add weightstring for distinct
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinctV3.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/grouping.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/subquery_op.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/union.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9830 Add vitess/lite ubi8 images for mysql80, including for arm64
  Makefile
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
Labels: Type: Enhancement, Component: Build/CI, release notes, Skip Upgrade Downgrade

#9970 Track full git sha1 string instead of the short version
  go/vt/servenv/buildinfo_test.go
  tools/build_version_flags.sh
Labels: Component: Build/CI, Type: CI/Build, release notes

#9989 Minor fix requested by linter
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#10002 Fix Flaky TestTopoCustomRule
  go/test/endtoend/tabletmanager/custom_rule_topo_test.go
Labels: Type: Internal Cleanup, Component: TabletManager, release notes none

#9998 ApplySchema: allow-zero-in-date embedded as query comment in call to ExecuteFetchAsDba
  go/test/endtoend/vtgate/schema/schema_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vttablet/tabletmanager/rpc_query.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10006 Alternate fix for flaky TestReparentDuringWorkerCopy
  go/test/endtoend/worker/worker_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: TabletManager, release notes none

#10010 [vtadmin-web] Fix default redirect on Tablet view
  web/vtadmin/src/components/ReadOnlyGate.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.test.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/tabs/Tab.tsx
  web/vtadmin/src/components/tabs/TabContainer.tsx
Labels: Type: Bug, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#9867 docker: cleanup of release.sh
  docker/release.sh
Labels: Type: Internal Cleanup, Type: CI/Build, Component: General, release notes none

#10005 Fix: reserved connection retry logic when vttablet or mysql is down
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/vt/vterrors/constants.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, release notes

#10009 gen4: Fix sub query planning when the outer query is a dual query
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases_with_default.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#10014 sqlparser: cache comment parsing
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/equals_gen.go
  go/vt/schema/online_ddl.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_funcs_test.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Labels: Component: Query Serving, Type: Performance, release notes none, Skip Upgrade Downgrade
