Repository vitessio/vitess, pull requests merged in 2022-02, with the labels that each got.

#9599 java: updates all major dependencies to latest
  java/pom.xml
Labels: Component: Java, release notes, Type: Dependabot

#9586 Refactor: Remove unused ExecuteBatch and BeginExecuteBatch from vttablet
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/queryservice/queryservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/discoverygateway_test.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vttablet/endtoend/batch_test.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/savepoint_test.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_benchmark_test.go
  go/vt/vttablet/queryservice/queryservice.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  proto/query.proto
  proto/queryservice.proto
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#9597 evalengine: more collation fixes
  go/mysql/collations/env.go
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vindex_func_test.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/route.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/physical/system_tables.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/simplifier/simplifier_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9604 Add hit/miss tracking for vtgate plan cache
  go/cache/cache.go
  go/cache/lru_cache.go
  go/cache/lru_cache_test.go
  go/cache/null.go
  go/cache/ristretto/cache.go
  go/vt/vtgate/executor.go
Labels: Type: Enhancement, Component: Observability, release notes none

#9538 SwitchTraffic: check vreplication lag before switching
  go/sqltypes/named_result.go
  go/test/endtoend/tabletgateway/buffer/reshard/sharded_buffer_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/doc_test.md
  go/vt/wrangler/fake_dbclient_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Enhancement, Component: VReplication, release notes, Skip Upgrade Downgrade

#9607 collations: fix coercion between character sets
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9608 java: fixes java release
  java/pom.xml
Labels: Component: Java, release notes none, Skip Upgrade Downgrade, Type: Release

#9610 Add contributors to 13.0 release notes
  doc/releasenotes/13_0_0_release_notes.md
Labels: Component: General, release notes none, Skip Upgrade Downgrade, Type: Release

#9611 Moving dev to 14.0.0-SNAPSHOT
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, release notes none, Skip Upgrade Downgrade, Type: Release

#9612 [vtadmin-web] Update postcss to v8.4.6
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Backport me!, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#9613 Add @notfelineit to CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Documentation, Component: VTAdmin, Type: CI/Build, Component: Governance, release notes none, Skip Upgrade Downgrade

#9596 Binlog event parsing: better analysis ; support for semi-sync
  go/mysql/binlog_dump.go
  go/mysql/binlog_event.go
  go/mysql/binlog_event_common.go
  go/mysql/binlog_event_common_test.go
  go/mysql/binlog_event_filepos.go
  go/mysql/binlog_event_mariadb.go
  go/mysql/binlog_event_mariadb_test.go
  go/mysql/binlog_event_mysql56.go
  go/mysql/binlog_event_mysql56_test.go
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/constants.go
  go/mysql/fakesqldb/server.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/replication.go
  go/mysql/replication_constants.go
  go/mysql/replication_test.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: General, release notes none

#9605 Update the issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
Labels: Type: Internal Cleanup, Component: Build/CI, release notes none, Skip Upgrade Downgrade

#9614 [vtctld] Add 'enable_vtctld_ui' flag to vtctld to explicitly enable (or disable) the vtctld2 UI
  go/vt/vtctld/vtctld.go
  go/vt/vtctld/vtctld_test.go
Labels: Type: Enhancement, release notes, Component: web UI

#9625 Improve performance of hex type decoding
  go/sqltypes/value.go
Labels: Backport me!, Component: Query Serving, Type: Performance, release notes none, Skip Upgrade Downgrade

#9627 Backport: Improve performance of hex type decoding
  go/sqltypes/value.go
Labels: Component: Query Serving, Type: Performance, Backport, release notes none, Skip Upgrade Downgrade

#9550 Support sanitizing potentially sensitive information in log messages
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx/api.go
  go/vt/vttablet/tabletserver/tx_pool.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9634 Remove queryserver-config-terse-errors impact on log messages
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Internal Cleanup, Backport me!, Component: Query Serving, release notes

#9624 evalengine: numbers (backport)
  go/test/endtoend/vtgate/vindex_bindvars/main_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/casting_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vtgate/evalengine/unary.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes none, Skip Upgrade Downgrade

#9645 [backport] Extract collation data to enable distinct aggregation
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9648 [vtadmin-web] Upgrade to tailwindcss v3
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/routes/Debug.module.scss
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/src/index.css
  web/vtadmin/src/style/components.css
  web/vtadmin/tailwind.config.js
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#9622 Update error description for deprecated command
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: VReplication, release notes none

#9630 [vtadmin-web] Update postcss to v8.4.6 (backport)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, Backport, release notes none

#9636 Backport: Add sanitize_log_messages and remove queryserver-config-terse-errors impact on log messages
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx/api.go
  go/vt/vttablet/tabletserver/tx_pool.go
Labels: Type: Enhancement, Component: Query Serving, Backport, release notes (needs details)

#9638 OnlineDDL: delete _vt.vreplication entry as part of CLEANUP operation
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: VReplication, release notes none

#9644 Check for proto drift in the CI
  .github/workflows/check_make_proto.yml
  tools/check_make_proto.sh
Labels: Type: Enhancement, Component: Build/CI, release notes, Skip Upgrade Downgrade

#9646 evalengine: use sqltypes
  go/sqltypes/type.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_expr.go
  go/vt/vtgate/evalengine/arithmetic_expr_test.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vtgate/evalengine/unary.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9654 [vtadmin-web] Upgrade stylelint + related dependencies to latest
  web/vtadmin/.stylelintrc
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/index.css
  web/vtadmin/src/style/fonts.css
Labels: Type: Internal Cleanup, Backport me!, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#9658 Add e2e test for the TabletManager GetSchema RPC
  go/test/endtoend/tabletmanager/commands_test.go
  go/test/endtoend/tabletmanager/main_test.go
Labels: Component: Query Serving, Type: Testing, Trivial, release notes none

#9609 Store innodbRowsRead in a Counter instead of a Gauge
  go/stats/counter.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9664 Add a comment on how to use set for a counter
  go/stats/counter.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9665 Gen4: make sure to not merge unsharded tables from different keyspaces
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9657 Use the gen4 planner for queries with outer joins
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#9632 Improve performance of information schema query.
  go/mysql/flavor_mysql.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9633 Add flag to vtcombo to load a json-encoded test topology file
  go/cmd/vtcombo/main.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/vt/vttest/local_cluster.go
Labels: Type: Enhancement, release notes, Component: VTCombo

#9673 evalengine: More functions!
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/bit.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/simplify.go
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9637 OnlineDDL: reject duplicate UUID with different migration_context
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9606 Support views in Online DDL
  go.mod
  go.sum
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/comments_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details), Component: General

#9683 Support for ALTER TABLE ... PARTITION BY ...
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9660 [vtadmin-web] Upgrade to tailwindcss v3 (backport)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/routes/Debug.module.scss
  web/vtadmin/src/components/routes/Debug.tsx
  web/vtadmin/src/index.css
  web/vtadmin/src/style/components.css
  web/vtadmin/tailwind.config.js
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTAdmin, Backport, release notes none

#9642 OnlineDDL: 'vitess' strategy, synonym for 'online'
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/schema/online_ddl_test.go
  go/vt/schemamanager/tablet_executor_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9676 BACKPORT: Gen4: make sure to not merge unsharded tables from different keyspaces
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9675 Skip repl config in restore when active reparents disabled
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Enhancement, Component: Backup and Restore, release notes

#9672 Remove the use_super_read_only flag in VTOrc tests
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Component: VTorc, release notes none, Skip Upgrade Downgrade

#9650 v13 BACKPORT: OnlineDDL: 'vitess' strategy, synonym for 'online'
  doc/releasenotes/13_0_0_release_notes.md
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/schema/online_ddl_test.go
  go/vt/schemamanager/tablet_executor_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, Backport, release notes none

#9671 Use the gen4 planner for queries with outer joins
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#9693 Parser fix for CREATE VIEW statement
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
Labels: Type: Bug, Component: Query Serving, release notes

#9694 Add collation parsing to generated columns in Create Table
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  tools/check_make_parser.sh
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9688 BACKPORT: Skip repl config in restore when active reparents disabled
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Bug, Backport, Component: Backup and Restore, release notes

#9697 vtexplain: added multicol test to show subshard routing
  go/vt/vtexplain/testdata/gen4-queries.sql
  go/vt/vtexplain/testdata/multi-output/gen4-output.txt
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtexplain/vtexplain_flaky_test.go
Labels: Component: Query Serving, Type: Testing, release notes, Skip Upgrade Downgrade

#9702 OnlineDDL: force (once) vreplication's WithDDL to run before running a vitess migration
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9701 Fixed missing order/group by, limit, having in derived
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#9711 Change wording on vtgate flag description
  go/cmd/vttestserver/main.go
  go/vt/vtgate/vtgate.go
Labels: Type: Documentation, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9669 Fixes #8277: vtctld logs leak pii http headers
  go/vt/vtctld/vtctld.go
  go/vt/vtctld/workflow.go
  go/vt/workflow/long_polling.go
  go/vt/workflow/long_polling_test.go
  go/vt/workflow/manager.go
Labels: Type: Internal Cleanup, Component: vtctl, release notes

#9709 Update maintainer email address for Andrew Mason
  MAINTAINERS.md
Labels: Type: Internal Cleanup, Component: General, release notes none, Skip Upgrade Downgrade

#9712 Cleanup of parsing of Partitions and additional parsing support
  go/tools/astfmtgen/main.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9680 Replace InitShardPrimary usage in tests by PlannedReparentShard
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
Labels: Component: Cluster management, Type: Testing, release notes none

#9707 Fixed missing order/group by, limit, having in derived
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9708 Backport #9700: Use WithDDL while updating time_heartbeat
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: VReplication, Backport, release notes none

#9718 Remove the DurabilityParams argument to the durability interface
  go/cmd/vtctl/vtctl.go
  go/cmd/vtworker/vtworker.go
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer_prevent.json
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/reparentutil/durability.go
  go/vt/vtctl/reparentutil/durability_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/reparent_sorter_test.go
  go/vt/vtctld/vtctld.go
  go/vt/worker/vertical_split_clone_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#9692 Remove deprecated upgrade-downgrade CI build
  .github/workflows/cluster_endtoend_upgrade.yml
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9700 VReplication Workflows: Use WithDDL while updating time_heartbeat to be backwardly compatible with upgrades to existing cluster
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Backport me!, Component: VReplication, release notes none

#9727 VReplication V2 test: bypass newly added lag test which is causing flakiness in CI
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  test/config.json
Labels: Type: Bug, Component: Build/CI, release notes none

#9656 Add QueryRowsAffected and QueryRowsReturned to vttablet metrics and deprecate QueryRowCounts
  go/vt/vttablet/endtoend/framework/debugvars.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving, release notes (needs details)

#9714 [vtadmin-web] Upgrade stylelint + related dependencies to latest (backport)
  web/vtadmin/.stylelintrc
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/index.css
  web/vtadmin/src/style/fonts.css
Labels: Type: Internal Cleanup, Component: VTAdmin, Backport, release notes none

#9731 [vtadmin-web] Add REACT_APP_READONLY_MODE flag
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/ReadOnlyGate.test.tsx
  web/vtadmin/src/components/ReadOnlyGate.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/react-app-env.d.ts
  web/vtadmin/src/util/env.ts
Labels: Type: Enhancement, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#9736 Update release notes with web/vtctld2 deprecation announcement and flag (backport)
  doc/releasenotes/13_0_0_summary.md
Labels: Type: Documentation, Backport, release notes, Component: Documentation, Skip Upgrade Downgrade

#9730 Backport: fix semi-sync for Backup and RestoreFromBackup commands by calling SetReplicationSource RPC
  go/vt/vtctl/backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Bug, Backport, Component: Backup and Restore, release notes

#9619 Permission fixes for Docker builds
  Makefile
  docker/bootstrap/build.sh
  docker/test/run.sh
Labels: Type: Bug, Component: Build/CI, release notes none

#9651 mysql: allow parsing the 'info' field of MySQL packets
  go/mysql/conn.go
  go/mysql/endtoend/client_test.go
  go/mysql/query.go
  go/sqltypes/proto3.go
  go/sqltypes/result.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  proto/query.proto
Labels: Type: Feature Request, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9738 [vtadmin-web] Update msw to latest (v0.36.8) (backport)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, Backport, release notes none, Skip Upgrade Downgrade

#9728 evalengine: Optimize NullSafeComparison
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/uca.go
  go/mysql/collations/uca_test.go
  go/sqltypes/value.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/eval_result.go
Labels: Component: Query Serving, Type: Performance, release notes none, Skip Upgrade Downgrade

#9704 Online DDL: resubmitting a migration with same UUID retries it in case it was cancelled or failed.
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9641 Reduce the number of reserved connections when setting system variables
  go/test/endtoend/vtgate/mysql80/main_test.go
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_funcs_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parser.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/revert_migration.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/system_variables.go
  go/vt/vtgate/planbuilder/testdata/set_cases.txt
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: Query Serving, release notes

#9752 Use latest vitess-operator example CRDs
  examples/operator/operator.yaml
  tools/do_release.sh
Labels: Type: Bug, Backport, Component: Examples, release notes none, Skip Upgrade Downgrade

#9751 Use latest vitess-operator example CRDs
  examples/operator/operator.yaml
  tools/do_release.sh
Labels: Type: Bug, Backport me!, Component: Examples, release notes none, Skip Upgrade Downgrade

#9750 Fixed tagged images in vitess-operator examples
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
Labels: Type: Bug, Component: Examples, release notes none, Skip Upgrade Downgrade

#9758 Release `13.0` commit and back to development mode
  doc/releasenotes/13_0_0_release_notes.md
  doc/releasenotes/13_0_0_summary.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, release notes none, Skip Upgrade Downgrade, Type: Release

#9737 [vtadmin-web] Update msw to latest (v0.36.8)
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Backport me!, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#9747 Query plan/rules: apply for multi-table statement
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/rules/map.go
  go/vt/vttablet/tabletserver/rules/rules.go
  go/vt/vttablet/tabletserver/rules/rules_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9703 Push projection to union
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#9743 Improve explanation of MySQLTopologyUser and MySQLReplicaUser so that their difference is clearer
  go/vt/orchestrator/config/config.go
Labels: Type: Documentation, Component: VTorc, release notes none, Skip Upgrade Downgrade

#9757 Add support for uint32 bind var + test
  go/sqltypes/bind_variables.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9745 Improve upgrade downgrade workflows' strategy
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  tools/get_latest_release.sh
Labels: Type: Enhancement, Component: Build/CI, Backport me!, release notes none

#9749 evalengine: Decimals v2 Electric Boogaloo
  go/sqltypes/cached_size.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/decimal/.gitignore
  go/vt/vtgate/evalengine/decimal/AUTHORS
  go/vt/vtgate/evalengine/decimal/LICENSE
  go/vt/vtgate/evalengine/decimal/README.md
  go/vt/vtgate/evalengine/decimal/big.go
  go/vt/vtgate/evalengine/decimal/big_ctx.go
  go/vt/vtgate/evalengine/decimal/big_test.go
  go/vt/vtgate/evalengine/decimal/binary_spliting.go
  go/vt/vtgate/evalengine/decimal/const.go
  go/vt/vtgate/evalengine/decimal/context.go
  go/vt/vtgate/evalengine/decimal/context_test.go
  go/vt/vtgate/evalengine/decimal/continued_frac.go
  go/vt/vtgate/evalengine/decimal/decomposer.go
  go/vt/vtgate/evalengine/decimal/decomposer_test.go
  go/vt/vtgate/evalengine/decimal/doc.go
  go/vt/vtgate/evalengine/decimal/format.go
  go/vt/vtgate/evalengine/decimal/format_string.go
  go/vt/vtgate/evalengine/decimal/format_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/abs.go
  go/vt/vtgate/evalengine/decimal/internal/arith/arith.go
  go/vt/vtgate/evalengine/decimal/internal/arith/arith_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/intlen.go
  go/vt/vtgate/evalengine/decimal/internal/arith/intlen_test.go
  go/vt/vtgate/evalengine/decimal/internal/arith/pow.go
  go/vt/vtgate/evalengine/decimal/internal/c/const.go
  go/vt/vtgate/evalengine/decimal/internal/c/const32.go
  go/vt/vtgate/evalengine/decimal/internal/c/const64.go
  go/vt/vtgate/evalengine/decimal/issues_test.go
  go/vt/vtgate/evalengine/decimal/operatingmode_string.go
  go/vt/vtgate/evalengine/decimal/payload_string.go
  go/vt/vtgate/evalengine/decimal/roundingmode_string.go
  go/vt/vtgate/evalengine/decimal/scan.go
  go/vt/vtgate/evalengine/decimal/scan_test.go
  go/vt/vtgate/evalengine/decimal/util.go
  go/vt/vtgate/evalengine/decimal/zdebug.go
  go/vt/vtgate/evalengine/decimal/zdebug0.go
  go/vt/vtgate/evalengine/decimal_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/internal/decimal/LICENSE
  go/vt/vtgate/evalengine/internal/decimal/cached_size.go
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
  go/vt/vtgate/evalengine/internal/decimal/decimal_test.go
  go/vt/vtgate/evalengine/internal/decimal/format.go
  go/vt/vtgate/evalengine/internal/decimal/mysql_test.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Internal Cleanup, Component: Query Serving, Type: Performance, release notes none, Skip Upgrade Downgrade

#9615 demo.go: fix call to ToBytes
  examples/demo/demo.go
Labels: Type: Bug, Component: Examples, release notes none

#9764 Fix `TestGen4SelectDBA` flakiness
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes none

#9719 Introducing schemadiff, a declarative diff for table/view CREATE statements
  .github/workflows/cluster_endtoend_schemadiff_vrepl.yml
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/schemadiff/column.go
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9690 Use AllPrivs user for table GC transitions
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Bug, Component: Cluster management, release notes

#9771 Externalize Lookup VIndexes properly when not stopping after copy
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade

#9773 evalengine: Value cleanups
  go/sqltypes/value.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
  go/vt/vtgate/evalengine/internal/decimal/mysql_test.go
  go/vt/vtgate/evalengine/internal/decimal/scan.go
  go/vt/vtgate/evalengine/internal/decimal/testdata/large_pi_decimals.json
  go/vt/vtgate/executor_set_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9724 Fix `make embed_config` target
  Makefile
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9766 Add unit test for the demo app
  Makefile
Labels: Type: Testing, Component: General, release notes none, Skip Upgrade Downgrade

#9777 [vtctldserver] Add locking checks to Delete{Keyspace,Shard}
  go/cmd/vtctldclient/command/keyspaces.go
  go/cmd/vtctldclient/command/shards.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  proto/vtctldata.proto
Labels: Type: Bug, Type: Enhancement, Component: Cluster management, release notes

#9725 Change semi-sync information to use the parameter passed and deprecate enable_semi_sync
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/vtctl/backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes (needs details)

#9785 Fix flakiness in TestShardedKeyspace
  go/test/endtoend/sharded/sharded_keyspace_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9784 Fix upgrade-downgrade CI workflows running even when Skip label specified
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Type: Bug, Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9779 vttestserver: add enable_system_settings option
  go/cmd/vttestserver/main.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: vttestserver, release notes none, Skip Upgrade Downgrade

#9767 Rewriting `JoinCondition` produces ambiguous error in MySQL
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9681 Micro benchmarks for setting system variables
  go/mysql/endtoend/query_benchmark_test.go
Labels: Component: Query Serving, Type: Performance, release notes none, Skip Upgrade Downgrade

#9116 [grpcshim] Fix select race and move to internal package
  go/vt/vtctl/internal/grpcshim/bidi_stream.go
  go/vt/vtctl/localvtctldclient/bidi_stream.go
  go/vt/vtctl/localvtctldclient/client.go
  go/vt/vtctl/vtctldclient/codegen/main.go
  go/vt/vtctl/vtctldclient/codegen/template.go
Labels: Type: Bug, Component: Cluster management, release notes

#9768 Remove unmaintained vagrant files
  .gitignore
  Vagrantfile
  vagrant-scripts/bootstrap_vm.sh
  vagrant-scripts/vagrant-bashrc
  vagrant-scripts/vitess/build.sh
  vagrant-scripts/vitess/start.sh
  vagrant-scripts/vitess/stop.sh
  vagrant-scripts/vitess/test.sh
Labels: Type: Internal Cleanup, Component: General, release notes none

#9787 Move deprecation warning to just before we actually invoke the legacy command path
  go/cmd/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#9791 Backport: Upgrade Downgrade fix to use the PR base to figure out which tag to use to run against
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  tools/get_latest_release.sh
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none

#9786 Update v14 summary with the latest change to `JoinCondition` rewriting
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Documentation, release notes none, Component: Documentation, Skip Upgrade Downgrade

#9776 Table lifecycle: support views
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Bug, Type: Enhancement, Component: TabletManager, release notes

#9790 Add TEXT field comparison support to evalengine (for VDiff)
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/vt/vtgate/evalengine/comparisons.go
Labels: Type: Bug, Component: VReplication, release notes

#9778 Table lifecycle: support fast DROP TABLE introduced in MySQL 8.0.23
  doc/releasenotes/14_0_0_summary.md
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Enhancement, release notes, Component: General, Skip Upgrade Downgrade

#9800 Add CHAR field comparison support to evalengine (for VDiff)
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/vt/vtgate/evalengine/comparisons.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade
