Repository vitessio/vitess, pull requests merged in 2022-12, with the labels that each got.

#11865 add frances to maintainers
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#11873 update golangci-lint to 1.50.1
  .github/workflows/static_checks_etc.yml
  .golangci.yml
  misc/git/hooks/golangci-lint
Labels: Component: Build/CI, Type: CI/Build

#11871 Parse binlog variable length encoded columns
  go/mysql/binlog_event_make.go
  go/mysql/binlog_event_make_test.go
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/many-columns-add-one/after_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/many-columns-add-one/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/many-columns-add-one/before_columns
  go/test/endtoend/onlineddl/vrepl_suite/testdata/many-columns-add-one/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/many-columns/create.sql
Labels: Type: Bug, Component: VReplication, Component: Query Serving, Backport to: release-14.0, Component: Online DDL, Backport to: release-15.0

#11895 Fix CheckMySQL by setting the correct wanted state
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11900 [release-15.0] Fix CheckMySQL by setting the correct wanted state #11895
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11901 [release-14.0] Fix CheckMySQL by setting the correct wanted state #11895
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11894 more unit tests for QueryMatchesTemplates()
  go/vt/sqlparser/utils_test.go
Labels: Component: Query Serving, Type: Testing

#11845 Back to dev mode after v14.0.4
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11902 [release-13.0] Fix CheckMySQL by setting the correct wanted state #11895
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11906 sqlparser: new Equality API
  Makefile
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/asthelpergen_test.go
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/equals_gen.go
  go/tools/asthelpergen/integration/ast_equals.go
  go/tools/asthelpergen/integration/integration_equals_test.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/main/main.go
  go/vt/schemadiff/column.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/analyzer_update_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  misc/git/hooks/asthelpers
Labels: Type: Internal Cleanup, Component: Build/CI, Component: Query Serving

#11911 bugfix: allow predicates without dependencies with derived tables to be handled correctly
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11903 Simplify `getPlan` and `gen4CompareV3`
  go/vt/vtgate/engine/compare_utils.go
  go/vt/vtgate/engine/gen4_compare_v3.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-15.0

#11195 Add support for views in vtgate
  doc/releasenotes/16_0_0_summary.md
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Labels: Type: Feature Request, Component: Query Serving

#11923 [ci issue] Tests are running on older versions that do not support the query
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
Labels: Component: Build/CI, Type: Testing

#11926 Better clone of the VCursor
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#11925 Use `go1.18.9` in the next release upgrade downgrade E2E tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, go

#11924 Use `go1.19.4` in the next release upgrade downgrade E2E tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, go

#11920 Fix sending a ServerLost error when reading a packet fails
  go/mysql/conn_flaky_test.go
  go/mysql/query.go
  go/mysql/query_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11931 Revert - Better clone of the VCursor
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#11933 Correct minor inaccuracies in governing docs
  GOVERNANCE.md
  GUIDING_PRINCIPLES.md
Labels: Type: Internal Cleanup, Component: Governance

#11936 Also log error on a failure in DiscoverInstance
  go/vt/vtorc/logic/orchestrator.go
Labels: Type: Enhancement, Component: VTorc

#11922 bugfix: allow predicates without dependencies with derived tables to be handled correctly (#11911)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Backport

#11910 Onlineddl: formalize "immediate operations", respect `--postpone-completion` strategy flag
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Component: Query Serving

#11937 add Arthur to the maintainers file
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#11914 Online DDL: ensure message is valid `utf8` in `updateMigrationMessage()`
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#11932 [release-13.0] Update tests to run on Ubuntu 20.04
  .github/workflows/endtoend.yml
  .github/workflows/unit_race.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/mysql/endtoend/query_test.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
Labels: Component: Build/CI, Type: CI/Build

#11943 [release-15.0] [Backport]: VReplication: Prevent Orphaned VDiff2 Jobs (#11768)
  go/mysql/constants.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
Labels: Type: Bug, Component: VReplication, Backport

#11941 [planner] Schema information on the information_schema views
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/keywords.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases57.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases80.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/info_schema_gen_test.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#11951 v15 backport: Online DDL: fix 'vtctlclient OnlineDDL' template queries (#11889)
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11954 Update the release `15.0.2` summary doc
  doc/releasenotes/15_0_2_summary.md
Labels: Type: Documentation, Component: General, Type: Release, Forwardport to: main

#11953 Skip `TestSubqueriesExists` during upgrade-downgrade tests
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
Labels: Type: Bug, Component: Build/CI, Component: Query Serving

#11950 CODEOWNERS: Add vrepl team members for vtgate vstream and tablet picker
  .github/CODEOWNERS
Labels: Component: Build/CI, Type: CI/Build, Trivial

#11963 Release notes for `v15.0.2`
  doc/releasenotes/15_0_2_changelog.md
  doc/releasenotes/15_0_2_release_notes.md
Labels: Component: Documentation, Type: Release

#11974 Migrate missed vtctld flags to pflag and immediately deprecate them
  go/flags/endtoend/vtctld.txt
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/vtctld.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: vtctl, Component: CLI

#11881 Timeout Fixes and VTOrc Improvement
  doc/releasenotes/16_0_0_summary.md
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/internal/flag/flag.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletmanager/replication_manager/tablet_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/vt/servenv/servenv.go
  go/vt/servenv/servenv_test.go
  go/vt/topo/locks.go
  go/vt/topo/locks_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/config/config_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/tabletmanager/tm_init.go
Labels: Type: Bug, Type: Enhancement, Component: Cluster management, Component: VTorc, NeedsWebsiteDocsUpdate

#11981 Add manan and florent to Docker files CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Enhancement, Component: Governance, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11918 vttestserver: make tablet_refresh_interval configurable and reduce default value
  doc/releasenotes/16_0_0_summary.md
  docker/vttestserver/run.sh
  go/cmd/vttestserver/main.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Performance, Component: vttestserver

#11896 Add support for Views DDL
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/mysql/schema.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/testdata/view_cases.json
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Feature Request, Component: Query Serving

#11978 Add `VStreamerCount` stat to `vttablet`
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Enhancement, Component: VReplication, Trivial

#11892 VExplain statement
  doc/releasenotes/16_0_0_summary.md
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/vexplain/main_test.go
  go/test/endtoend/vtgate/queries/vexplain/schema.sql
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
  go/test/endtoend/vtgate/queries/vexplain/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/dbddl.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/rows.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/shard_route.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/vexplain.go
  go/vt/vtgate/engine/vtexplain.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/explain_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/other_read_cases.json
  go/vt/vtgate/planbuilder/testdata/show_cases.json
  go/vt/vtgate/planbuilder/testdata/vexplain_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/resolver.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vcursor_impl.go
  test/config.json
  test/config_partial_keyspace.json
Labels: Type: Enhancement, Component: Query Serving

#11998 only expand when we have full information
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#12005 remove e2e test from partial_keyspace config
  test/config_partial_keyspace.json
Labels: Component: Query Serving, Type: Testing

#12000 Remove unnecessary logging
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving

#11968 Allow override of build git env in docker/base builds
  docker/base/Dockerfile
  docker/base/Dockerfile.mariadb
  docker/base/Dockerfile.mariadb103
  docker/base/Dockerfile.mysql80
  docker/base/Dockerfile.percona57
  docker/base/Dockerfile.percona80
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-14.0, Backport to: release-15.0

#12004 Fix vttestserver run script defaults
  docker/vttestserver/run.sh
Labels: Type: Bug, Component: vttestserver

#12009 Fix parsing and normalization of floating point types
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#12001 Add vtorc port to vitess local docker run
  docker/local/run.sh
Labels: Type: Enhancement, Component: Build/CI

#11984 Add manan and florent to Docker files CODEOWNERS (#11981)
  .github/CODEOWNERS
Labels: Type: Enhancement, Backport, Component: Governance

#11916 VDiff2: Migrate VDiff1 Unit Tests
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/vdiff2_test.go
  go/vt/vtctl/vdiff_env_test.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/wrangler.go
Labels: Component: VReplication, Type: Testing

#12022 mysqlctl is a command-line client so remove server flags
  doc/releasenotes/16_0_0_summary.md
  go/cmd/mysqlctl/mysqlctl.go
  go/flags/endtoend/mysqlctl.txt
  go/vt/grpcclient/client.go
Labels: Type: Internal Cleanup, Component: Cluster management, Trivial
