Repository vitessio/vitess, pull requests merged in 2022-04, with the labels that each got.

#10015 Fix parsing of bind variables in a few places
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10022 Backport (release-13.0): Fix parsing of bind variables in a few places (#10015)
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#9959 13.0: fix: planner panic on derived tables sorting in query builder
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#10023 Backport: Skip end-to-end test if binary is below a certain major version
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/utils/utils.go
Labels: Component: Query Serving, Type: Testing, Backport, release notes none

#10027 Route explain tab plan to the proper Keyspace
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10033 VReplication: maintain original column case for pkCols
  go/test/endtoend/onlineddl/vrepl_suite/testdata/update-pk-col-uppercase/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/update-pk-col-uppercase/create.sql
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
Labels: Type: Bug, Component: VReplication, release notes none

#9923 Support throttling vstreamer copy table work on source tablets
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/debugenv.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/worker/diff_utils.go
  test/config.json
Labels: Type: Enhancement, Component: VReplication, release notes, Skip Upgrade Downgrade

#9977 [vtadmin] custom discovery resolver
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/discovery/discovery.go
  go/vt/vtadmin/cluster/discovery/discovery_consul.go
  go/vt/vtadmin/cluster/discovery/discovery_json.go
  go/vt/vtadmin/cluster/discovery/fakediscovery/discovery.go
  go/vt/vtadmin/cluster/resolver/resolver.go
  go/vt/vtadmin/cluster/resolver/resolver_test.go
  go/vt/vtadmin/vtctldclient/config.go
  go/vt/vtadmin/vtctldclient/config_test.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  go/vt/vtadmin/vtctldclient/proxy.go
  go/vt/vtadmin/vtctldclient/proxy_test.go
  go/vt/vtadmin/vtsql/config.go
  go/vt/vtadmin/vtsql/config_test.go
  go/vt/vtadmin/vtsql/vtsql.go
  go/vt/vtadmin/vtsql/vtsql_test.go
  go/vt/vtctl/grpcvtctldclient/client_test.go
  go/vt/vtctl/localvtctldclient/client.go
  go/vt/vtctl/vtctldclient/client.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTAdmin, release notes

#10017 Rename drop_constraints to drop_fk_constraints on MoveTables
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Internal Cleanup, Component: VReplication, release notes none, Skip Upgrade Downgrade

#10036 Backport #9833: Check if context is cancelled in applyEvents() loop to avoid deadlocks
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Type: Bug, Component: VReplication, Backport, release notes none, Skip Upgrade Downgrade

#10035 Backport #9842: TabletManager: Check for context cancellation in loop within ChangeTabletType()
  go/vt/vttablet/tabletmanager/tm_state.go
Labels: Type: Bug, Component: Cluster management, Backport, release notes none

#10037 [vtsql] Remove vtsql.PingContext check from dial calls
  go/vt/vtadmin/vtsql/config.go
  go/vt/vtadmin/vtsql/config_test.go
  go/vt/vtadmin/vtsql/vtsql.go
  go/vt/vtadmin/vtsql/vtsql_test.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes

#9990 Add parsing support for JSON Search Functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#10038 [vtadmin] grpc healthserver + channelz
  examples/local/scripts/vtadmin-up.sh
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/grpcserver/server.go
Labels: Type: Enhancement, Component: VTAdmin, release notes

#10021 [vtadmin-web] Add /vschema route to Keyspace detail view + QueryErrorPlaceholder and QueryLoadingPlaceholder components
  web/vtadmin/src/components/Spinner.module.scss
  web/vtadmin/src/components/Spinner.tsx
  web/vtadmin/src/components/placeholders/QueryErrorPlaceholder.test.tsx
  web/vtadmin/src/components/placeholders/QueryErrorPlaceholder.tsx
  web/vtadmin/src/components/placeholders/QueryLoadingPlaceholder.test.tsx
  web/vtadmin/src/components/placeholders/QueryLoadingPlaceholder.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceVSchema.tsx
  web/vtadmin/src/setupTests.ts
Labels: Type: Enhancement, Component: VTAdmin, release notes none

#9905 Improve network partitions handling
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/repair_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes none

#10041 [vtadmin|tests] Add mutex to prevent data races in tests using cluster/resolver
  go/vt/vtadmin/cluster/discovery/fakediscovery/discovery.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10029 Backport to 13.0: Route explain tab plan to the proper Keyspace
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10046 endtoend: improve assertionsin message_test
  go/test/endtoend/messaging/message_test.go
Labels: Component: Query Serving, Type: Testing, release notes none, Skip Upgrade Downgrade

#9860 Change logic to reach desired _vt schema on vreplication startup
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  test/region_example.sh
Labels: Type: Bug, Component: VReplication, release notes none, Skip Upgrade Downgrade

#10044 [vtadmin] threadsafe dynamic clusters
  go/vt/vtadmin/api.go
  go/vt/vtadmin/debug.go
Labels: Type: Bug, Component: VTAdmin, release notes

#10025 Move Shard 12 and 18 CI tests to self hosted runners
  .github/docker/cluster_test_12/Dockerfile
  .github/docker/cluster_test_18/Dockerfile
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_18.yml
  .github/workflows/cluster_endtoend_vtorc_8.0.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10049 Re-add sanitize_log_messages flag and add tests for flags
  go/flags/endtoend/flags_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9962 [vtctl] Deprecate Throttler RPCs
  go/vt/vtctl/throttler.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes, Component: CLI

#10052 [13.0] Fix: reserved connection retry logic when vttablet or mysql is down
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/vt/vterrors/constants.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10047 13.0 fix: allow multiple distinct columns on single shards
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/semantics/analyzer.go
Labels: Type: Enhancement, Component: Query Serving, Backport, release notes

#9971 Add parsing support for Json schema validation functions
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#10055 [13.0] fix: dual query with exists clause having system table query in it
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10054 [13.0] Fix: Sequence query to ignore reserved and transaction
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10045 tablet lag throttler: small API improvements
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#10048 schemadiff: load, normalize, validate and compare schemas
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10040 Prefer using REPLICA tablets when selecting vreplication sources
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/utils.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Enhancement, Component: VReplication, release notes

#9982 refactor: move all remaining queries to plan builder
  go/flags/endtoend/flags_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/like_filter_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/show_exec.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/set_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#10050 [vtadmin] grpc dynamic clusters
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/dynamic/api.go
  go/vt/vtadmin/cluster/dynamic/cluster.go
  go/vt/vtadmin/cluster/dynamic/cluster_test.go
  go/vt/vtadmin/cluster/dynamic/interceptors.go
  go/vt/vtadmin/http/api.go
  misc/errcheck_excludes.txt
Labels: Type: Feature Request, Component: VTAdmin, release notes

#10067 [vtadmin] Remove deprecated dynamic cluster flag
  go/cmd/vtadmin/main.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes, Skip Upgrade Downgrade, Component: CLI

#10063 Always reset reserved shard session on CODE_UNAVAILABLE
  go/vt/vterrors/constants.go
  go/vt/vtgate/scatter_conn.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10075 Fix the race between PromoteReplica and replication manager tick (#9859) - release 13
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/wrangler/tablet.go
Labels: Type: Bug, Component: Cluster management, Backport, release notes

#10078 makefile: bump vtprotobuf
  Makefile
  go.mod
  go.sum
  go/vt/proto/automation/automation_vtproto.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/logutil/logutil_vtproto.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tableacl/tableacl_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/throttlerdata/throttlerdata_vtproto.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/proto/vttime/vttime_vtproto.pb.go
  go/vt/proto/vtworkerdata/vtworkerdata_vtproto.pb.go
  go/vt/proto/workflow/workflow_vtproto.pb.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10068 sqlparser: introduce custom formatting options
  .golangci.yml
  go/tools/astfmtgen/main.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Feature Request, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10069 Fix Gen4 only_full_group_by regression
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10071 [vtadmin] full dynamic cluster config
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/dynamic/cluster.go
  go/vt/vtadmin/cluster/dynamic/cluster_test.go
Labels: Type: Feature Request, Type: Internal Cleanup, Type: Enhancement, Breaking change, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10072 Add Matt Lord to maintainers
  MAINTAINERS.md
Labels: Type: Enhancement, release notes none, Component: Documentation

#10065 OnlineDDL: double statement validation upon submission
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10030 Backport to 11.0: Route explain tab plan to the proper Keyspace
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/unit_test_mysql80.yml
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/vcursor_impl.go
  test/templates/unit_test.tpl
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10079 [13.0] Fix Gen4 only_full_group_by regression
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10085 Adds parsing for NOW in DEFAULT clause
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10089 Adds parsing for NOW in DEFAULT clause (#10085) - Release 13.0
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#10077 Fix the race between PromoteReplica and replication manager tick (#9859) - release 11
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
Labels: Type: Bug, Component: Cluster management, Backport, release notes

#9871 Gen4: Add UPDATE planning
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/comments.go
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtexplain/testdata/updatesharded-queries.sql
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test_data.txt
  go/vt/vtgate/planbuilder/abstract/update.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/fallback_planner.go
  go/vt/vtgate/planbuilder/fallback_planner_test.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/physical/dml_planning.go
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/physical/table.go
  go/vt/vtgate/planbuilder/physical/update.go
  go/vt/vtgate/planbuilder/primitive_builder.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/planbuilder/update_planner.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/analyzer_update_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10086 Case-insensitive planner-version flag in VTExplain
  go/cmd/vtexplain/vtexplain.go
Labels: Type: Bug, release notes, Component: vtexplain

#10087 Repair paths-filter workflows
  .github/workflows/check_formatting.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Type: Bug, Component: Build/CI, release notes none

#10051 Address flakiness of vreplication v2 workflow test
  go/test/endtoend/cluster/vtctlclient_process.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10028 Backport to 12.0: Route explain tab plan to the proper Keyspace
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/unit_test_mysql80.yml
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/utils/utils.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/vcursor_impl.go
  test/templates/unit_test.tpl
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10083 Tweak backport checklist item wording in pull_request_template.md
  .github/pull_request_template.md
Labels: Type: Documentation, Component: Build/CI, release notes none

#10090 Gen4 feature: optimize OR queries to IN
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10076 Fix the race between PromoteReplica and replication manager tick (#9859) - release 12
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
Labels: Type: Bug, Component: Cluster management, Backport, release notes

#10062 Add parsing support for JSON value modification and attribute functions
  go/test/endtoend/vtgate/mysql80/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10082 [vtadmin-web] Update to react-scripts@5.0.1
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#10100 remove changeMasterToPrimary, we no longer need it
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/wrangler/fake_dbclient_test.go
Labels: Type: Internal Cleanup, Component: VReplication, release notes

#10098 rename master_alias to primary_alias in reparent_journal table
  go/vt/mysqlctl/reparent.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#10097 Addition of release notes for v13.0.1
  doc/releasenotes/13_0_1_release_notes.md
Labels: Component: General, release notes none, Type: Release

#10104 Only start SQL thread temporarily to WaitForPosition if needed
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/vt/mysqlctl/replication.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10108 [vtadmin] Refactor api.getSchemas => cluster.GetSchemas
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10111 [vtadmin] Remove Tablets option for GetSchema(s)
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10096 Release 13.0.1
  doc/releasenotes/13_0_1_release_notes.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, release notes none, Type: Release

#10107 OnlineDDL: skip GetSchema where possible
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Enhancement, Component: Cluster management, release notes none

#10116 Vitess online ddl: modify a column from textual to non-textual, ignore charset
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8-to-int/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8-to-int/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-int/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-int/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-int/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10080 VReplication: use db_filtered user for vstreams
  config/init_db.sql
  examples/compose/config/init_db.sql
  examples/operator/101_initial_cluster.yaml
  examples/operator/vtorc_example.yaml
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/vreplication/replica_connector.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
Labels: Type: Enhancement, Component: VReplication, release notes

#10081 [vtadmin] Improve vtadmin-{up,down}.sh scripts for the local example
  examples/local/401_teardown.sh
  examples/local/scripts/vtadmin-down.sh
  examples/local/scripts/vtadmin-up.sh
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, Component: Examples, release notes none

#10119 unit test: sort map before converting to string
  go/vt/vtgate/planbuilder/abstract/operator_test.go
Labels: Component: Query Serving, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10099 delete RPCs that were deprecated in 13.0
  go/test/endtoend/reparent/utils/utils.go
  go/test/fuzzing/vttablet_fuzzer.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  proto/tabletmanagerservice.proto
Labels: Type: Internal Cleanup, Component: TabletManager, release notes

#10034 feat: allow more complex expressions to be used in outer queries
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10074 Fix Gen4 group/order by with derived table
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#10124 add caller_id to 13.0.0 release notes
  doc/releasenotes/13_0_0_release_notes.md
Labels: Component: General, release notes none, Type: Release

#10125 Make go version check reliable by using double brackets
  tools/shell_functions.inc
Labels: Type: Bug, Component: Build/CI, Backport me!, release notes none

#10126 Make go version check reliable by using double brackets
  tools/shell_functions.inc
Labels: Type: Bug, Component: Build/CI, Backport, release notes none

#10115 Refresh ephemeral information before cluster operations in VTOrc
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/main_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/gracefultakeover/main_test.go
  go/test/endtoend/vtorc/primaryfailure/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/test_config.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer.json
  go/test/endtoend/vtorc/utils/test_config_crosscenter_prefer_prevent.json
  go/test/endtoend/vtorc/utils/test_config_promotion_failure.json
  go/test/endtoend/vtorc/utils/test_config_promotion_success.json
  go/test/endtoend/vtorc/utils/test_config_semi_sync.json
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#10121 Move tests from newfeaturetest to ers package after the release
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10122 Fix StreamExecute in Gen4CompareV3
  go/vt/vtgate/engine/gen4_compare_v3.go
Labels: Type: Bug, Component: Query Serving, release notes

#10128 feat gen4: allow pushing aggregations inside derived tables
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10117 Changes for make tools
  .github/docker/cluster_test_12/Dockerfile
  .github/docker/cluster_test_18/Dockerfile
  .github/workflows/ensure_bootstrap_updated.yml
  Makefile
  bootstrap.sh
  config/zkcfg/zoo.cfg
  docker/base/Dockerfile
  docker/base/Dockerfile.mariadb
  docker/base/Dockerfile.mariadb103
  docker/base/Dockerfile.mysql56
  docker/base/Dockerfile.mysql80
  docker/base/Dockerfile.percona
  docker/base/Dockerfile.percona57
  docker/base/Dockerfile.percona80
  docker/lite/Dockerfile.alpine
  docker/lite/Dockerfile.mariadb
  docker/lite/Dockerfile.mariadb103
  docker/lite/Dockerfile.mysql56
  docker/lite/Dockerfile.mysql57
  docker/lite/Dockerfile.mysql80
  docker/lite/Dockerfile.percona
  docker/lite/Dockerfile.percona57
  docker/lite/Dockerfile.percona80
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/local/Dockerfile
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
  go/vt/zkctl/zksrv.sh
  test.go
  test/templates/dockerfile.tpl
Labels: Type: Bug, release notes, Component: General

#10123 Backport: Only start SQL thread temporarily to WaitForPosition if needed
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/vt/mysqlctl/replication.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10131 schemadiff: support for RangeRotationStrategy diff hint
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10137 CODEOWNERS: specify messaging related folders
  .github/CODEOWNERS
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10129 [VTAdmin] Replace changed clusters when using Dynamic Discovery
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade, go

#10140 refactor: removed last reserved field from vtgate session
  go/vt/proto/vtgate/vtgate.pb.go
  proto/vtgate.proto
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10138 Avoid enabling reserved connection on show query
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10149 sqlparser: fix canonical formatting for enums
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10147 bootstrap changelog
  docker/bootstrap/CHANGELOG.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10151 feat: make gen4 plan subsharding queries better
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10153 fix: handle reserved connection reset when tx killer has locked the connection
  go/vt/vterrors/constants.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vttablet/tabletserver/tx_pool.go
Labels: Type: Bug, Component: Query Serving, release notes

#10161 schemadiff: EntityDiff has a 'Entities() (from Entity, to Entity)' function
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10127 Add parsing support for Partition Definitions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10132 Avoid deadlocks related to 0 receiver behavior
  go/test/endtoend/messaging/main_test.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/vtgate/godriver/main_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/schema_test.json
Labels: Type: Bug, Component: VReplication, release notes

#10152 Fix for empty results when no shards can be found to route to
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10175 Do not mutate replication state in WaitSourcePos and ignore tablets with SQL_Thread stopped in ERS (#10148) - Release 13.0
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/mysqlctl/replication.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Bug, Component: Cluster management, Backport, release notes
