Repository vitessio/vitess, pull requests merged in 2022-08, with the labels that each got.

#10884 Cleanup the go-sqlite3 workaround
  Makefile
  go.mod
  go.sum
Labels: Type: Internal Cleanup, Component: Build/CI

#10903 evalengine: expose Filter operations
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Internal Cleanup, Component: Evalengine

#10866 Minor fixes to markdown and test code
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
Labels: Type: Documentation, Component: Cluster management, Type: CI/Build, Component: Documentation

#10896 Revert temporary workflow changes made in #10847
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
Labels: Component: Build/CI, Type: CI/Build

#10900 Online DDL: migration state transitions to 'cancelled' after CANCEL command
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving

#10912 schemadiff: ordering and applying a RenameColumn
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving

#10904 Refactor: Unexplode Backup() function, pass BackupRequest as argument
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Labels: Type: Internal Cleanup, Component: Cluster management

#10556 New explain format: VTEXPLAIN
  doc/releasenotes/15_0_0_summary.md
  go/test/endtoend/vtgate/queries/vtexplain/main_test.go
  go/test/endtoend/vtgate/queries/vtexplain/schema.sql
  go/test/endtoend/vtgate/queries/vtexplain/vschema.json
  go/vt/schema/online_ddl.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vtexplain.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/explain.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/other_read_cases.txt
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving

#10876 onlineddl_vrepl flakiness: further work
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Labels: Component: Build/CI, Type: CI/Build

#10895 Backport: Backups: Support InnoDB Redo Log Location With 8.0.30+
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  go/mysql/conn_flaky_test.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/mysql/innodb_constants.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/capabilityset.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Bug, Type: Enhancement, Component: Backup and Restore

#10906 Improve topo handling and add additional functionality
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/srvtopo/watch_srvvschema.go
  go/vt/topo/conn.go
  go/vt/topo/consultopo/election.go
  go/vt/topo/consultopo/watch.go
  go/vt/topo/etcd2topo/election.go
  go/vt/topo/etcd2topo/server.go
  go/vt/topo/etcd2topo/watch.go
  go/vt/topo/faketopo/faketopo.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/k8stopo/election.go
  go/vt/topo/k8stopo/file.go
  go/vt/topo/k8stopo/watch.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/server.go
  go/vt/topo/shard.go
  go/vt/topo/srv_keyspace.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/test/election.go
  go/vt/topo/test/file.go
  go/vt/topo/test/testing.go
  go/vt/topo/test/watch.go
  go/vt/topo/topotests/shard_watch_test.go
  go/vt/topo/topotests/srv_keyspace_test.go
  go/vt/topo/zk2topo/election.go
  go/vt/topo/zk2topo/watch.go
  go/vt/vttablet/customrule/topocustomrule/topocustomrule.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/shard_watcher.go
Labels: Type: Enhancement, Component: TabletManager

#10914 Revert: Revert temporary workflow changes made in #10847
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
Labels: Component: Build/CI, Type: CI/Build, Component: Backup and Restore

#10919 BugFix: Using backups from v13 should work with v14
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Bug, Component: Cluster management, Component: Backup and Restore

#10917 BugFix: Using backups from v14 should work with v13
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Bug, Component: Cluster management, Component: Backup and Restore

#10922 Backport: Pin MySQL at 8.0.29 for upgrade/downgrade manual backup test
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, Component: Backup and Restore

#10923 Backport: VStream API: Fix vtgate memory leaks when context gets cancelled
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication, Backport

#10929 Remove potential double close of channel
  go/vt/topo/faketopo/faketopo.go
Labels: Type: Bug, Component: Build/CI

#10911 Port vtorc CLI to servenv and pflag
  go/cmd/vtorc/main.go
  go/cmd/vtorc/main_test.go
  go/vt/orchestrator/app/cli_test.go
  go/vt/orchestrator/app/command_help.go
Labels: Type: Enhancement, Component: CLI

#10927 Fix flakiness in TestReplicationStatus
  go/test/endtoend/reparent/utils/utils.go
Labels: Component: Cluster management, Type: CI/Build

#10941 [cli] [grpcvtgateconn] Migrate `vtgate/grpcvtgateconn` flags to `pflag`
  go/vt/vtgate/grpcvtgateconn/conn.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving, Component: General, Component: CLI

#10902 BugFix: vtctld panic with `enable_realtime_stats`
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtctld.txt
  go/vt/discovery/healthcheck.go
Labels: Type: Bug, Component: Cluster management

#10939 [cli] [vtgate] Migrate `vtgate/buffer` flags to `pflag`
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/buffer/flags_test.go
  go/vt/vtgate/buffer/test_util.go
  go/vt/vtgate/buffer/variables_test.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving, Component: CLI

#10938 [vtexplain] Switch vtexplain flags to use pflag hooks
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtexplain.txt
  go/vt/vtexplain/vtexplain.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: vtexplain, Component: CLI

#10907 add vttablet cli flags for stream consolidator
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Enhancement, Component: Query Serving

#10952 [cli] [vtgr] Migrate all `vtgr` flags to `pflag`
  go/cmd/vtgr/main.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgr.txt
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/group.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/db/mysql.go
  go/vt/vtgr/vtgr.go
  go/vt/vtgr/vtgr_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: CLI

#10953 Fix main in CI
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
Labels: Component: Build/CI, Type: CI/Build

#10921 Implement date, time and timestamp literals
  go/mysql/constants.go
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_date.go
  go/vt/sqlparser/parse_date_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vterrors/state.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#10958 Fix parsing of `PARTITION BY KEY`
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#10954 Avoid race condition in memory topo watch shutdown
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Labels: Component: Build/CI, Type: CI/Build

#10943 Replicas should be able to heal if replication is not initialised properly
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: VTorc

#10918 Backport: Online DDL: deal with autogenerated CHECK constraint names (#10638)
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autogen-check-constraint-name/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autogen-check-constraint-name/ignore_versions
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, Backport

#10957 [cli] Migrate `vterrors` to `pflag`
  go/vt/servenv/servenv.go
  go/vt/vterrors/errors_test.go
  go/vt/vterrors/vterrors.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: General, Component: CLI

#10961 Fixing flakiness in TestCrossCellDurability and TestHealthCheckCacheWithTabletChurn
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Labels: Component: Cluster management, Type: CI/Build

#10967 Remove accidentally added fmt.Printf from debugging
  go/vt/vtctld/vtctld_test.go
Labels: Component: Build/CI, Type: CI/Build

#10970 [cli] [go/mysql/collations/...] Migrate all flags to `pflag`
  go/internal/flag/flag.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/main_test.go
  go/mysql/collations/local.go
  go/mysql/collations/platform32.go
  go/mysql/collations/platform64.go
  go/mysql/collations/tools/makecolldata/main.go
  go/mysql/collations/tools/makecolldata/mysqldata.go
  go/mysql/collations/tools/makecolldata/mysqlversions.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving, Component: CLI

#10969 Ensure VDiff Engine is open in RPC entrypoint
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
Labels: Type: Bug, Component: VReplication

#10670 Remove built-in decompression flag
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/mysqlctld/backup_mysqlctld_test.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/xtrabackup/xtrabackup_test.go
  go/test/endtoend/backup/xtrabackupstream/xtrabackup_stream_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/compression_test.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Bug, Component: Backup and Restore

#10947 [cli] [vtgate] Migrate `grpcvtgateservice` flags to `pflag` and scope to appropriate binaries.
  go/vt/vtgate/grpcvtgateservice/server.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving, Component: CLI

#10994 [cli] [vttest] Extend vttest.TopoData to implement `pflag.Value`, and make function return types implicit
  go/vt/vttest/local_cluster.go
Labels: Type: Internal Cleanup, Type: Enhancement, Type: Testing, Component: CLI

#10995 Delete `go/vt/vttime`
  go/vt/vttime/clock.go
  go/vt/vttime/doc.go
  go/vt/vttime/interval.go
  go/vt/vttime/interval_test.go
  go/vt/vttime/test_clock.go
  go/vt/vttime/time_clock.go
  go/vt/vttime/time_clock_test.go
Labels: Type: Internal Cleanup, Component: General

#10998 [tmclient] [tmserver] Unexplode fetchers
  go/test/fuzzing/tablet_manager_fuzzer.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/schematools/copy.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/resharder_env_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Internal Cleanup, Component: TabletManager

#10997 evalengine: support mismatched numerical types
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-14.0, Backport to: release-13.0

#11001 Add more robust go version handling
  tools/shell_functions.inc
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0

#11006 Tests: AddShard should use targeted MySQL version
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build

#11005 Backport: Add more robust go version handling (#11001)
  tools/shell_functions.inc
Labels: Component: Build/CI, Type: CI/Build, Backport

#11004 Backport: Add more robust go version handling (#11001)
  tools/shell_functions.inc
Labels: Component: Build/CI, Type: CI/Build, Backport

#11007 Flakes: Expect SERVING status for tablets added to shard with a PRIMARY
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
Labels: Component: Build/CI, Type: CI/Build, Type: Testing

#10999 [cli] [tabletconn] Migrate `go/vt/vttablet/tabletconn` to `pflag`
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/discovery/healthcheck_test.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vttablet/tabletconn/tablet_conn.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
  go/vt/wrangler/vdiff_env_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: Query Serving, Component: CLI

#10940 schemadiff: rich error for unmet view dependencies
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#10968 fix building logtail, logrotate and vtadmin docker image in Dockerhub
  docker/k8s/logrotate/Dockerfile
  docker/k8s/logtail/Dockerfile
  docker/k8s/vtadmin/Dockerfile
Labels: Component: VTAdmin, Type: CI/Build

#11015 Fix mariadb103 ci
  .github/workflows/unit_test_mariadb103.yml
  test/templates/unit_test.tpl
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11011 Online DDL, CancelMigration: distinguish user-issued vs. internally-issued cancellation
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving

#11012 schemadiff: FullTextKeyStrategy, handling multiple 'ADD FULLTEXT key' alter options
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving

#11018 Use the correct error type for dependencies
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Bug, Component: Query Serving

#11019 Online DDL vrepl suite: fix auto_increment tests in 8.0
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/expect_table_structure
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
Labels: Component: Build/CI, Type: CI/Build

#11013 Online DDL: support multiple 'ADD FULLTEXT KEY' in single ALTER
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-fulltext/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-fulltext/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-fulltext/skip_schemadiff
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-two-fulltext/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-two-fulltext/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/add-two-fulltext/skip_schemadiff
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#11022 Run upgrade/downgrade tests on main
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Type: Enhancement, Component: Build/CI

#11020 [13.0] Cherry Pick: only use the special NoRoute handling mode when needed
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/sec_vind/main_test.go
  go/test/endtoend/vtgate/sec_vind/schema.sql
  go/test/endtoend/vtgate/sec_vind/vschema.json
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/select.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport

#11014 Add additional tests for EOF packet checks
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
Labels: Component: Query Serving, Type: CI/Build

#10942 Improve route merging for queries that have conditions on different vindexes, but can be merged via join predicates.
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#10771 fix minor code unreachability error
  go/vt/sqlparser/parse_next_test.go
  go/vt/topo/helpers/copy.go
  go/vt/topo/k8stopo/server_flaky_test.go
Labels: Type: Bug, Type: Testing, Component: General

#11023 CI: change upgrade/downgrade tests to use vitessio fork of go-junit-report
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0

#10996 `vtexplain` fails for vindex lookup queries with duplicate / equivalent values.
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/selectsharded-queries.sql
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtexplain/testdata/twopc-output/selectsharded-output.txt
  go/vt/vtexplain/vtexplain_vttablet.go
Labels: Type: Enhancement, Component: vtexplain, Backport to: release-14.0

#11028 [trace] Migrate `go/trace` to use `pflag` for flag definitions
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/flagutil/optional.go
  go/trace/fake.go
  go/trace/opentracing.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
  go/trace/trace.go
  go/trace/trace_test.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: General, Component: CLI

#11021 refactor: group all system setting query into single set statement
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/safe_session_test.go
Labels: Type: Enhancement, Component: Query Serving

#11035 schemadiff performance improvements
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
Labels: Component: Query Serving, Type: Performance

#11002 Remove prefill logic from resource pool
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
  go/pools/rp_bench_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: Query Serving

#11036 [log] Migrate `go/vt/log` flags to `pflag`
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/main.go
  go/cmd/topo2topo/topo2topo.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctlclient/main.go
  go/cmd/vtctldclient/main.go
  go/cmd/vtorc/main.go
  go/cmd/vttestserver/main.go
  go/cmd/zk/zkcmd.go
  go/cmd/zkctl/zkctl.go
  go/vt/log/log.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: General, Component: CLI

#11029 revert default compression engine
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/compression.go
Labels: Component: Backup and Restore, Type: Regression

#11044 [cli] [logutil] Migrate flags defined in `go/vt/logutil` to `pflag`
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/main.go
  go/cmd/topo2topo/topo2topo.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctldclient/main.go
  go/cmd/vtorc/main.go
  go/cmd/vttestserver/main.go
  go/cmd/zk/zkcmd.go
  go/cmd/zkctl/zkctl.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/internal/flag/flag.go
  go/vt/logutil/level.go
  go/vt/logutil/purge.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: General, Component: CLI

#11046 Fix AST copying of basic types
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/vt/schemadiff/schema_test.go
  go/vt/sqlparser/ast_clone.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0

#11042 Remove MariaDB 10.2 Unit Test in release-14.0
  .github/workflows/unit_test_mariadb102.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build, Backport

#11041 schemadiff: Shallow copy of the schema
  go/vt/schemadiff/column.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
Labels: Component: Query Serving, Type: Performance

#11031 VReplication: vreplication_max_time_to_retry_on_error default to zero, no limit
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/last_error.go
Labels: Type: Bug, Component: VReplication, Backport to: release-14.0

#11050 Add possibility of viewing plans with graphviz
  go/tools/graphviz/graph.go
  go/tools/graphviz/graph_test.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-14.0

#11056 Use available method to compare tables
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Labels: Type: Enhancement, Component: Query Serving

#11059 schemadiff: Fix handling of primary key
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving

#11049 Remove deprecated flag `enable_queries` from end to end tests in v14
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/tabletmanager/commands_test.go
  go/test/endtoend/tabletmanager/custom_rule_topo_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/qps_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Component: Build/CI, Type: CI/Build

#10490 Extract vindex lookup queries into their own primitive
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/schema.sql
  go/test/endtoend/vtgate/queries/lookup_queries/vschema.json
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/vindex_lookup.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/hash_join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_schema_test.json
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/vindex.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11057 [cli] [tabletmanager] Migrate all tabletmanager flags to `pflag`
  doc/SeparatingVttabletMysql.md
  go/flags/endtoend/vttablet.txt
  go/flagutil/flagutil.go
  go/vt/mysqlctl/backupengine.go
  go/vt/vttablet/tabletmanager/orchestrator.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_lock_tables.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: CLI

#11054 Flakes: Prevent VDiff2 test failures when operating near the second boundary
  go/test/endtoend/vreplication/vdiff_helper_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport to: release-14.0

#11063 [vtadmin] Update how tracing flags are registered
  go/cmd/vtadmin/main.go
Labels: Type: Bug, Component: VTAdmin, Component: CLI

#11067 [vtctld] Fix nil-ness in healthcheck
  go/vt/vtctld/vtctld.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-14.0

#11065 Fix races in memory topo and watcher
  go/vt/srvtopo/watch.go
  go/vt/topo/memorytopo/election.go
Labels: Type: Bug, Component: Cluster management

#11070 fix: return when instructions are nil in checkThatPlanIsValid
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11073 Remove MariaDB 10.2 test from release-13.0
  .github/workflows/unit_test_mariadb102.yml
Labels: Component: Build/CI, Type: CI/Build

#11074 Remove MariaDB 10.2 test from release-12.0
  .github/workflows/unit_test_mariadb102.yml
Labels: Component: Build/CI, Type: CI/Build

#11064 FlakinessFix: Reparent tests by removing `restore_from_backup`
  go/test/endtoend/reparent/utils/utils.go
Labels: Component: Cluster management, Type: CI/Build

#11071 Fix handling zero byte string for session state changed
  go/mysql/conn.go
Labels: Type: Bug, Component: Query Serving

#11047 Address additional causes of OnlineDDL test flakiness
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Component: Online DDL

#11079 [release-12.0] fix: return when instructions are nil in checkThatPlanIsValid (#11070)
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11053 Fix AST copying of basic types in release-12.0
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/vt/sqlparser/ast_clone.go
Labels: Type: Bug, Component: Query Serving, Backport

#11083 Add SKIP check to workflows removed in v15
  .github/workflows/cluster_initial_sharding_multi.yml
  .github/workflows/legacy_local_example.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-13.0, Backport to: release-12.0

#11082 Fix incorrect use of loop variable in parallel test
  go/vt/topo/topoproto/tablet_test.go
Labels: Type: Bug, Component: Build/CI, Component: Cluster management, Type: Testing

#11076 fix missing vtadmin binary in docker image
  docker/k8s/vtadmin/Dockerfile
Labels: Component: Build/CI, Type: CI/Build

#11084 Fix Upgrade Downgrade manual backup dependencies install
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
Labels: Type: Bug, Component: Build/CI, Backport to: release-13.0

#11045 Improve merging for `None` route opcodes.
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#11043 Improve schema reload performance by pre-filtering joined rows.
  go/mysql/flavor_mysql.go
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-14.0

#11091 Online DDL: introduce '--max_concurrent_online_ddl'
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11037 System Settings connections pool implementation
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
  go/pools/rp_bench_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/dbconnpool/pooled_connection.go
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/pool.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#11089 Format Gen4 end-to-end tests
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/test/endtoend/vtgate/queries/normalize/main_test.go
  go/test/endtoend/vtgate/queries/normalize/schema.sql
  go/test/endtoend/vtgate/queries/normalize/vschema.json
  go/test/endtoend/vtgate/queries/union/main_test.go
  go/test/endtoend/vtgate/queries/union/schema.sql
  go/test/endtoend/vtgate/queries/union/vschema.json
  go/test/endtoend/vtgate/queries/vtexplain/main_test.go
  go/test/endtoend/vtgate/queries/vtexplain/vtexplain_test.go
Labels: Component: Query Serving, Type: Testing

#11096 return resource back to pool on apply settings failure
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
Labels: Type: Enhancement, Component: Query Serving

#11086 Fix logging formatting mistake
  go/vt/vttablet/tabletserver/query_engine.go
Labels: Type: Bug, Component: Query Serving

#11098 Fix `TestInvalidDateTimeTimestampVals` linter issues
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Component: Query Serving, Type: Testing

#11092 Move goyacc to use pflags package
  go/vt/sqlparser/Makefile
  go/vt/sqlparser/goyacc/goyacc.go
  go/vt/sqlparser/sql.go
  tools/check_make_parser.sh
Labels: Type: Internal Cleanup, Component: Query Serving, Component: CLI

#11099 [cli] [tabletserver/onlineddl] Migrate onlineddl flags to pflags
  go/flags/endtoend/vtexplain.txt
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: CLI, Component: Online DDL

#11102 Use vtparams instead of clusterInstance in TestNormalizeAllFields
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
Labels: Component: Query Serving, Type: Testing

#11105 [cli] [stats] Migrate stats/opentsdb + stats/statsd flags to pflag
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/stats/opentsdb/opentsdb.go
  go/stats/statsd/statsd.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: CLI

#11100 [cli] [tabletserver/throttler] Migrate throttler flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication, Component: CLI

#10924 add the selected keyspace to LogStats
  go/vt/vtgate/executor.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/plan_execute.go
Labels: Type: Enhancement, Component: Query Serving

#11048 Flakes: Use waits instead of checks in vrepl e2e tests
  .gitignore
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport to: release-14.0

#11107 [cli] [status] Migrate go/vt/status to pflag
  go/vt/status/status.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Observability, Component: CLI

#10767 Wrong length creating the buffer needed to ask for full auth
  go/mysql/auth_server.go
  go/mysql/server_flaky_test.go
Labels: Type: Bug, Component: Cluster management, Component: Query Serving

#11111 [cli] [grpc{tabletconn,tmclient}] Migrate flags to `pflag`
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctmclient/cached_client.go
  go/vt/vttablet/grpctmclient/client.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: Query Serving, Component: TabletManager, Component: CLI

#11052 Fix AST copying of basic types in release-13.0
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/vt/sqlparser/ast_clone.go
  go/vt/vtgate/engine/cached_size.go
Labels: Type: Bug, Component: Query Serving, Backport

#11051 Fix AST copying of basic types in release-14.0
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/vt/sqlparser/ast_clone.go
Labels: Type: Bug, Component: Query Serving, Backport

#11066 [tmclient] Migrate flags to pflag
  go/cmd/vtcombo/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/test/fuzzing/vtctl_fuzzer.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/endtoend/get_schema_test.go
  go/vt/vtctl/endtoend/onlineddl_show_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/vtctlclienttest/client.go
  go/vt/vttablet/tabletconn/tablet_conn.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmclienttest/tmclienttest.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: General, Component: CLI

#11095 [cli] [tabletserver/vreplication] Migrate vreplication flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/flags.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication, Component: CLI

#11113 Upgrade to Ubuntu 20.04 for endtoend tests
  .github/workflows/endtoend.yml
  go/mysql/endtoend/query_test.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
Labels: Component: Build/CI, Type: CI/Build

#11110 Add explicit close state to memory topo connection
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/test/file.go
  go/vt/topo/test/testing.go
Labels: Type: Bug, Component: Build/CI

#11108 Refactor vtorc tests to run as a single test with sub-tests
  go/test/endtoend/vtorc/general/main_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
Labels: Component: Build/CI, Type: CI/Build

#11117 Online DDL: more error logging
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11120 Add parsing for Offsets similar to bind-variables
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#11115 [cli] [grpcclient] Migrate flags to `pflag`
  go/flags/endtoend/vtexplain.txt
  go/vt/grpcclient/client.go
  go/vt/grpcclient/snappy.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11116 Move tabletmanager CI jobs to 20.04
  .github/workflows/cluster_endtoend_tabletmanager_consul.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler_custom_config.yml
  go/test/endtoend/tabletmanager/commands_test.go
Labels: Component: Build/CI, Type: CI/Build

#11119 Upgrade CI for unit tests to Ubuntu 20.04
  .github/workflows/unit_race.yml
  .github/workflows/unit_test_mariadb103.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  test/templates/unit_test.tpl
Labels: Component: Build/CI, Type: CI/Build

#11087 [cli] [tabletserver/vstreamer] Migrate vstreamer's packet size flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/internal/flag/flag.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/main_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/packet_size.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication, Component: CLI

#11121 Fix typing error in constant for wait_until_sql_thread_after_gtids
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
Labels: Type: Enhancement, Component: Query Serving

#11101 [cli] [tabletserver/gc] Migrate gc flags to pflags
  go/flags/endtoend/vtexplain.txt
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication, Component: CLI

#11114 Two changes to the error sanitizer
  go/vt/vtgate/errorsanitizer/error_sanitizer.go
  go/vt/vtgate/errorsanitizer/error_sanitizer_test.go
Labels: Type: Enhancement, Component: Query Serving

#11127 CLI Pflag migration work: Fix regression caused by pflag-vreplication PR
  go/internal/flag/flag.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
Labels: Type: Bug, Component: CLI

#11122 [cli] [grpccommon] Migrate flags to `pflag`
  go/cmd/topo2topo/topo2topo.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtorc/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/vt/grpcclient/client.go
  go/vt/grpccommon/options.go
  go/vt/servenv/grpc_server.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11130 Include the compose examples in the `do_release` script
  tools/do_release.sh
Labels: Component: General, Type: Release, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11125 [cli] [tabletserver/streamlog] Migrate streamlog flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/streamlog/streamlog.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/querylogz_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/querylogz_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
  go/vt/vttablet/tabletserver/txlogz.go
  go/vt/vttablet/tabletserver/txlogz_test.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11135 [release-12.0] Add `do_release` and include the compose examples in it (#11130)
  Makefile
  tools/do_release.sh
Labels: Backport, Component: General, Type: Release

#11140 [release-12.0] Addition of the release summary for `v12.0.6`
  doc/releasenotes/12_0_6_summary.md
Labels: Component: Documentation, Type: Release

#11141 [release-13.0] Addition of the release summary for `v13.0.3`
  doc/releasenotes/13_0_3_summary.md
Labels: Component: Documentation, Type: Release

#11142 [release-14.0] Addition of the release summary for v14.0.2
  doc/releasenotes/14_0_2_summary.md
Labels: Component: Documentation, Type: Release

#11149 Cherrypick to 13.0: VStreamer: recompute table plan if a new table is encountered for the same id (#9978)
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication, Backport
