Repository vitessio/vitess, pull requests merged in 2022-10, with the labels that each got.

#11393 [cli] [topo] Migrate topo flags to pflags
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/discovery/tablet_picker.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/topo/cell_info.go
  go/vt/topo/consultopo/watch.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/etcd2topo/server.go
  go/vt/topo/etcd2topo/watch.go
  go/vt/topo/k8stopo/watch.go
  go/vt/topo/locks.go
  go/vt/topo/server.go
  go/vt/topo/zk2topo/watch.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/vexec.go
  go/vt/vtgr/vtgr.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/keyspace_discovery.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/wrangler.go
  vitess-mixin/.env
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11410 Enable VTOrc in backup tests
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/vtorc_process.go
Labels: Component: Build/CI, Type: Testing, Component: Backup and Restore

#11412 [tools/rowlog] Migrate to pflag
  tools/rowlog/rowlog.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication, Component: CLI

#11402 flags etc: delete old flags and stats, add deprecation notice to release notes
  doc/releasenotes/15_0_0_summary.md
  go/cmd/vtctlclient/main.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: Observability

#11417 Fix vtbackup binary by adding the flags it needs that we missed before
  go/flags/endtoend/vtbackup.txt
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Internal Cleanup, Component: Backup and Restore, Component: CLI

#11401 [cli] Topo: Migrate zk2topo and k8stopo to pflag
  go/flags/endtoend/vtorc.txt
  go/vt/servenv/servenv.go
  go/vt/topo/consultopo/server.go
  go/vt/topo/consultopo/watch.go
  go/vt/topo/k8stopo/server.go
  go/vt/topo/k8stopo/server_flaky_test.go
  go/vt/topo/zk2topo/zk_conn.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management

#11404 Release of v14.0.3
  doc/releasenotes/14_0_3_changelog.md
  doc/releasenotes/14_0_3_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11406 Release notes 14.0.3 on main
  doc/releasenotes/14_0_3_changelog.md
  doc/releasenotes/14_0_3_release_notes.md
  doc/releasenotes/14_0_3_summary.md
Labels: Component: General, Type: Release

#11416 VTOrc Standardisation and Cleanup
  go.mod
  go.sum
  go/vt/vtorc/attributes/attributes_dao.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/external/golib/README.md
  go/vt/vtorc/external/golib/sqlutils/dialect.go
  go/vt/vtorc/external/golib/sqlutils/sqlite_dialect.go
  go/vt/vtorc/external/golib/sqlutils/sqlite_dialect_test.go
  go/vt/vtorc/external/golib/sqlutils/sqlutils.go
  go/vt/vtorc/external/golib/tests/spec.go
  go/vt/vtorc/external/golib/util/text.go
  go/vt/vtorc/external/golib/util/text_test.go
  go/vt/vtorc/external/zk/zk.go
  go/vt/vtorc/external/zk/zk_test.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/analysis_test.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/binlog_test.go
  go/vt/vtorc/inst/candidate_database_instance_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/inst/instance_key_map_test.go
  go/vt/vtorc/inst/instance_key_test.go
  go/vt/vtorc/inst/instance_test.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/inst/oracle_gtid_set_test.go
  go/vt/vtorc/inst/resolve_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/inst/tag_dao.go
  go/vt/vtorc/inst/tag_test.go
  go/vt/vtorc/logic/disable_recovery.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/process/election_dao.go
  go/vt/vtorc/process/health_dao.go
  go/vt/vtorc/test/db.go
  go/vt/vtorc/test/recovery_analysis.go
  go/vt/vtorc/util/token_test.go
Labels: Type: Internal Cleanup, Component: VTorc

#11411 test: deflake TestIdleTimeoutCreateFail
  go/pools/resource_pool_test.go
Labels: Component: Query Serving, Type: Testing

#11419 fix: do not rewrite single columns in derived tables
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtgate/planbuilder/physical/filter.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#11388 expose vtbackup stats at --port /metrics
  go/cmd/vtbackup/plugin_prometheusbackend.go
  go/cmd/vtbackup/vtbackup.go
  go/flags/endtoend/vtbackup.txt
Labels: Type: Enhancement, Component: Backup and Restore

#11422 Push down derived tables under route when possible
  go/test/endtoend/vtgate/mysql80/derived/derived_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/derived/main_test.go
  go/test/endtoend/vtgate/queries/derived/schema.sql
  go/test/endtoend/vtgate/queries/derived/vschema.json
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operator_to_query.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/physical/derived.go
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport

#11423 [vtorc] Remove duplicated vt/log import
  go/cmd/vtorc/main.go
Labels: Type: Internal Cleanup, Component: VTorc

#11424 VTop: Adds a function to get the flag set for a given command
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: Operator, Component: CLI

#11320 [cli] [vtctl] Migrate all vtctl commands to `pflag`
  doc/releasenotes/15_0_0_summary.md
  examples/local/scripts/consul-up.sh
  examples/local/scripts/etcd-up.sh
  examples/local/scripts/k3s-up.sh
  examples/local/scripts/zk-up.sh
  go/cmd/vtctl/vtctl.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtctldweb/vtctld_web_test.go
  go/test/endtoend/vtgate/schema/schema_test.go
  go/vt/vtctl/backup.go
  go/vt/vtctl/cell_info.go
  go/vt/vtctl/cells_aliases.go
  go/vt/vtctl/endtoend/get_schema_test.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/topo.go
  go/vt/vtctl/vdiff2.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow.go
  go/vt/wrangler/testlib/apply_schema_flaky_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/shard_test.go
  go/vt/wrangler/testlib/vtctl_topo_test.go
  web/vtctld2/app/index.html
  web/vtctld2/app/inline.js
  web/vtctld2/app/main.bbd046af7028149e10ca.bundle.js.gz
  web/vtctld2/app/main.dcfa0d5a5cdc6ebf2acc.bundle.js
  web/vtctld2/app/main.dcfa0d5a5cdc6ebf2acc.bundle.js.gz
  web/vtctld2/src/app/shared/flags/flag.ts
Labels: Type: Internal Cleanup, Type: Enhancement, Component: vtctl, Component: CLI

#11413 VDiff: Make restarting VReplication workflow more robust
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/wrangler/vdiff.go
Labels: Type: Bug, Component: VReplication

#11427 Code freeze of release-15.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#11309 Fix query list override issue on mysql restart
  .github/workflows/cluster_endtoend_vttablet_prscomplex.yml
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/reparent/prscomplex/main_test.go
  go/test/endtoend/reparent/prscomplex/schema.sql
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/query_list_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Query Serving

#11429 feat: added query timeout to vtgate default and per session
  doc/releasenotes/16_0_0_summary.md
  go/flags/endtoend/vtgate.txt
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/dbddl.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: Query Serving

#11431 [evalengine] add rewrites for nullif and ifnull
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Enhancement, Component: Query Serving

#11433 Handle aliasing of collation names
  go/mysql/collations/env.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving

#11192 Add additional unit test with state changes swapped
  go/mysql/conn_flaky_test.go
Labels: Component: Query Serving, Type: Testing

#11443 Release of v15.0.0-rc1
  .github/workflows/code_freeze.yml
  doc/releasenotes/15_0_0_changelog.md
  doc/releasenotes/15_0_0_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11444 Back to dev mode after v15.0.0-rc1
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
Labels: Component: General, Type: Release

#11445 Release notes for 15.0.0-rc1 and update SNAPSHOT version to 16.0.0
  doc/releasenotes/15_0_0_changelog.md
  doc/releasenotes/15_0_0_release_notes.md
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11415 For partial MoveTables, setup reverse shard routing rules on workflow creation
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vtctl/workflow/state.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/switcher.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/switcher_interface.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/workflow.go
Labels: Type: Enhancement, Component: VReplication, Do Not Merge, Backport to: release-15.0

#11447 Backport: For partial MoveTables, setup reverse shard routing rules on workflow creation
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vtctl/workflow/state.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/switcher.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/switcher_interface.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/workflow.go
Labels: Type: Enhancement, Component: VReplication, Backport

#11450 Stats Flags: include stats flags in the correct binaries
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/zk.txt
  go/stats/export.go
  go/vt/servenv/servenv.go
Labels: Type: Bug, Component: General, Forwardport to: main

#11459 Add a PRIMARY KEY to the aggregation E2E tests
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
Labels: Type: Enhancement, Component: Query Serving, Type: Testing

#11463 Give all permissions in rbac in examples
  examples/local/vtadmin/rbac.yaml
  examples/region_sharding/vtadmin/rbac.yaml
Labels: Type: Enhancement, Component: Examples

#11466 [deps] go get golang.org/x/text && go mod tidy
  go.mod
  go.sum
Labels: dependencies, Type: CI/Build, Component: General, Backport to: release-15.0

#11428 Improve Codeowners File
  .github/CODEOWNERS
Labels: Type: Internal Cleanup, Component: General

#11469 Backport: Give all permissions in rbac in examples
  examples/local/vtadmin/rbac.yaml
  examples/region_sharding/vtadmin/rbac.yaml
Labels: Type: Enhancement, Backport, Component: Examples

#11474 Skip `TestComparisonSemantics` test
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Build/CI

#11473 Fix aggregation end-to-end test PRIMARY KEY
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
Labels: Type: Bug, Component: Build/CI, Component: Query Serving

#11465 Fix the script `check_make_sizegen`
  .github/workflows/static_checks_etc.yml
  tools/check_make_sizegen.sh
Labels: Type: Bug, Component: Build/CI, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0, Forwardport to: main

#11464 [vtadmin] Do not backtick binary name
  go/cmd/vtadmin/main.go
Labels: Type: Documentation, Component: VTAdmin, Component: CLI, Backport to: release-15.0

#11470 Full Status tab improvements for VTAdmin
  web/vtadmin/src/components/routes/tablet/FullStatus.tsx
Labels: Type: Enhancement, Component: VTAdmin, Backport to: release-15.0

#11476 [release-14.0] Skip TestComparisonSemantics
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Build/CI, Backport

#11475 [release-15.0] Skip TestComparisonSemantics
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Build/CI, Backport

#11477 [release-13.0] Skip TestComparisonSemantics
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Build/CI, Backport

#11485 Change the indexes in `TestEmptyTableAggr` to be unique
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
Labels: Type: Bug, Component: Query Serving, Type: Testing

#11405 Back to dev mode after v14.0.3
  go/vt/servenv/version.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11462 Keep track of expanded columns in the semantic analysis
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#11487 collations: fix coercion semantics according to 8.0.31 changes
  go/mysql/collations/coercion.go
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11420 Plan order by `COUNT(X)`
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11482 Move vtorc runners back to normal github runners
  .github/docker/cluster_test_vtorc/Dockerfile
  .github/docker/cluster_test_vtorc_mysql57/Dockerfile
  .github/workflows/cluster_endtoend_vtorc.yml
  .github/workflows/cluster_endtoend_vtorc_mysql57.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build, Component: VTorc, Backport to: release-15.0

#11483 Backport (15.0): Full Status tab improvements for VTAdmin
  web/vtadmin/src/components/routes/tablet/FullStatus.tsx
Labels: Type: Enhancement, Component: VTAdmin, Backport

#11500 feat: deconstruct tuple comparisons so we can use them for routing decisions
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Labels: Type: Enhancement, Component: Query Serving

#11497 [release-15.0] Plan order by `COUNT(X)` (#11420)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#11499 bug fix: using self-referencing columns in HAVING should not overflow
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving, Forwardport to: main

#11490 fix: reserve connection to follow query timeout when outside of transaction
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11508 Fix release notes summary links
  doc/releasenotes/15_0_0_release_notes.md
Labels: Component: Documentation, Type: Release

#11489 [15.0] Fix VTOrc to handle multiple failures
  go/test/endtoend/vtorc/primaryfailure/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Bug, Component: VTorc, Forwardport to: main

#11491 Adding deprecate message to backup hooks
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Internal Cleanup, Component: Cluster management, Forwardport to: main

#11495 removing unncessary flags across binaries
  go/cmd/mysqlctl/mysqlctl.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/vtexplain.txt
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/topo/server.go
Labels: Type: Enhancement, Component: General, Forwardport to: main

#11506 [15.0] Fix query list override issue on mysql restart (#11309)
  .github/workflows/cluster_endtoend_vttablet_prscomplex.yml
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/reparent/prscomplex/main_test.go
  go/test/endtoend/reparent/prscomplex/schema.sql
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/query_list_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport

#11479 remove excessive logging
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Enhancement, Component: Cluster management, Forwardport to: main

#11513 [ForwardPort] Fix VTOrc to handle multiple failures (#11489)
  go/test/endtoend/vtorc/primaryfailure/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Bug, Forwardport, Component: VTorc

#11512 Allow version to be accessible via the -v shorthand
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
  go/internal/flag/flag.go
  go/vt/servenv/buildinfo.go
Labels: Type: Enhancement, Component: General, Component: CLI, Backport to: release-15.0

#11451 Use unique rows in copy_state to support parallel replication
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/stream_migrater_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Enhancement, Component: VReplication

#11521 Log which tablet copy_state optimization failed on
  go/vt/wrangler/workflow.go
Labels: Type: Enhancement, Component: VReplication, Trivial

#11515 Fix `HAVING` rewriting made in #11306
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11185 evalengine: Support built-in MySQL function for string functions and operations
  go/mysql/collations/8bit.go
  go/mysql/collations/collation.go
  go/mysql/collations/internal/charset/eightbit/8bit.go
  go/mysql/collations/internal/charset/eightbit/binary.go
  go/mysql/collations/internal/charset/eightbit/latin1.go
  go/mysql/collations/internal/charset/helpers.go
  go/mysql/collations/internal/charset/unicode/utf16.go
  go/mysql/collations/internal/charset/unicode/utf32.go
  go/mysql/collations/internal/charset/unicode/utf8.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlucadata.go
  go/mysql/collations/uca.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/string_fun_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/string.go
Labels: Type: Feature Request, Component: Evalengine

#11517 fix: fail over reconnect in stream execution for connection with transaction
  .github/workflows/cluster_endtoend_vttablet_prscomplex.yml
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/test/endtoend/vtgate/transaction/restart/schema.sql
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11527 [15.0] fix: fail over reconnect in stream execution for connection with transaction
  .github/workflows/cluster_endtoend_vttablet_prscomplex.yml
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/test/endtoend/vtgate/transaction/restart/schema.sql
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport

#11492 Add GenerateShardRanges to vtctldclient
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/shards.go
  go/flags/endtoend/vtctldclient.txt
Labels: Type: Enhancement, Component: CLI

#11461 Fix #11455 - skip vindex operations for `DELETE` statements against unsharded tables
  go/test/endtoend/vtgate/sequence/seq_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11528 [backport] Backports #11512 to release-15.0
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
  go/internal/flag/flag.go
  go/vt/servenv/buildinfo.go
Labels: Type: Enhancement, Backport, Component: CLI

#11501 Properly deprecate flags and fix default for `--cell`
  doc/releasenotes/15_0_0_summary.md
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: CLI, Forwardport to: main

#11530 [15.0] Fix: skip vindex operations for DELETE statements against unsharded tables
  go/test/endtoend/vtgate/sequence/seq_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving, Backport

#11486 [release-14.0] Fix the script `check_make_sizegen` (#11465)
  .github/workflows/static_checks_etc.yml
  tools/check_make_sizegen.sh
Labels: Type: Bug, Component: Build/CI, Backport

#11534 [15.0] Fix: concatenate engine in transaction
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Type: Bug, Component: Query Serving, Forwardport to: main

#11533 [ForwardPort] Properly deprecate flags and fix default for `--cell`
  doc/releasenotes/15_0_0_summary.md
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Forwardport, Component: CLI

#11536 [main] Fix: concatenate engine in transaction (#11534)
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Type: Bug, Forwardport, Component: Query Serving

#11537 [gen4]: small refactoring around Compact
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operators/compact.go
  go/vt/vtgate/planbuilder/operators/node.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11524 Add Gauge For CheckMySQL Running
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving

#11540 Redact bind variables in mysql errors
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/vt/vtgate/vtgate.go
Labels: Type: Bug, Component: Query Serving, Forwardport to: main

#11543 Remove `EnableTracingOpt` and `--grpc_enable_tracing`
  go/vt/grpcclient/client.go
  go/vt/grpccommon/options.go
  go/vt/servenv/grpc_server.go
  go/vt/vtadmin/api_test.go
Labels: Type: Enhancement, Component: General

#11546 Fix Vitess Operator example
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: Examples, Forwardport to: main

#11547 ForwardPort: Fix Vitess Operator example
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
Labels: Type: Enhancement, Forwardport, Component: Examples

#11531 Optimize List Support In Vindex Functions
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vindex_func_test.go
Labels: Type: Enhancement, Component: Query Serving

#11541 [15.0] Add VTGate debug/status page link to VTAdmin
  examples/local/vtadmin/discovery.json
  examples/region_sharding/vtadmin/discovery.json
  web/vtadmin/src/components/routes/Gates.tsx
Labels: Type: Enhancement, Component: VTAdmin, Forwardport to: main

#11548 Increase the memory limit of the vitess-operator
  examples/operator/operator.yaml
Labels: Type: Bug, Component: Operator, Forwardport to: main

#11522 Removing redundant flags across binaries
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/discovery/healthcheck.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/mycnf_gen.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/servenv/mysql.go
  go/vt/topo/topoproto/flag.go
  go/vt/vtctld/vtctld.go
  go/vt/vtctld/workflow.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: General, Forwardport to: main

#11551 Test flags: Update logic for parsing test flags to run unit tests within GoLand and to parse test flags in vtgate to allow running unit tests
  go/internal/flag/flag.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: General, Forwardport to: main

#11555 Detect redo log location dynamically based on presence
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/capabilityset.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-14.0, Backport to: release-15.0

#11557 [15.0] Deprecate InitShardPrimary command
  doc/releasenotes/15_0_0_summary.md
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtctldclient.txt
  go/vt/vtctl/reparent.go
Labels: Type: Internal Cleanup, Component: Cluster management, Forwardport to: main

#11313 optionally disable verify-after-insert behavior of lookup vindexes
  go/test/endtoend/vtgate/vindex_bindvars/main_test.go
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_test.go
Labels: Type: Enhancement, Component: Query Serving

#11330 vtbackup: disable redo log before starting replication
  go/cmd/vtbackup/vtbackup.go
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/vt/mysqlctl/capabilityset.go
  go/vt/mysqlctl/redo_log.go
Labels: Type: Enhancement, Component: Backup and Restore

#11562 [V14] Improve route merging for queries that can be merged via join predicates
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#11544 Upgrade the `release_notes_label` workflow for `v16.0.0`
  .github/workflows/release_notes_label.yml
Labels: Type: Enhancement, Component: Build/CI

#11502 Improvements to the Summary doc
  doc/flags/14.0-to-15.0-transition/mysqlctl.diff
  doc/flags/14.0-to-15.0-transition/mysqlctld.diff
  doc/flags/14.0-to-15.0-transition/vtaclcheck.diff
  doc/flags/14.0-to-15.0-transition/vtadmin.diff
  doc/flags/14.0-to-15.0-transition/vtbackup.diff
  doc/flags/14.0-to-15.0-transition/vtctlclient.diff
  doc/flags/14.0-to-15.0-transition/vtctld.diff
  doc/flags/14.0-to-15.0-transition/vtctldclient.diff
  doc/flags/14.0-to-15.0-transition/vtexplain.diff
  doc/flags/14.0-to-15.0-transition/vtgate.diff
  doc/flags/14.0-to-15.0-transition/vtgr.diff
  doc/flags/14.0-to-15.0-transition/vtorc.diff
  doc/flags/14.0-to-15.0-transition/vttablet.diff
  doc/flags/14.0-to-15.0-transition/vttestserver.diff
  doc/flags/14.0-to-15.0-transition/vttlstest.diff
  doc/flags/14.0-to-15.0-transition/zk.diff
  doc/flags/14.0-to-15.0-transition/zkctl.diff
  doc/flags/14.0-to-15.0-transition/zkctld.diff
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Documentation, Component: Documentation, Forwardport to: main

#11564 Detect redo log location dynamically based on presence (#11555)
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/capabilityset.go
Labels: Type: Bug, Component: Backup and Restore

#11572 fixing urls
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Component: General, Type: Release

#11570 mysql: Improve MySQL 5.6 GTID parsing performance
  go.mod
  go.sum
  go/mysql/flavor_mysql.go
  go/mysql/mysql56_gtid.go
  go/mysql/mysql56_gtid_set.go
  go/mysql/mysql56_gtid_set_test.go
  go/mysql/replication_position.go
Labels: Component: VReplication, Type: Performance

#11569 Add default lower stack limit
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: General

#11573 Release of v15.0.0
  .github/workflows/code_freeze.yml
  doc/releasenotes/15_0_0_changelog.md
  doc/releasenotes/15_0_0_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11567 Upgrades the release notes for v15.0.0
  doc/flags/14.0-to-15.0-transition/mysqlctl.diff
  doc/flags/14.0-to-15.0-transition/mysqlctld.diff
  doc/flags/14.0-to-15.0-transition/vtaclcheck.diff
  doc/flags/14.0-to-15.0-transition/vtadmin.diff
  doc/flags/14.0-to-15.0-transition/vtbackup.diff
  doc/flags/14.0-to-15.0-transition/vtctlclient.diff
  doc/flags/14.0-to-15.0-transition/vtctld.diff
  doc/flags/14.0-to-15.0-transition/vtctldclient.diff
  doc/flags/14.0-to-15.0-transition/vtexplain.diff
  doc/flags/14.0-to-15.0-transition/vtgate.diff
  doc/flags/14.0-to-15.0-transition/vtgr.diff
  doc/flags/14.0-to-15.0-transition/vtorc.diff
  doc/flags/14.0-to-15.0-transition/vttablet.diff
  doc/flags/14.0-to-15.0-transition/vttestserver.diff
  doc/flags/14.0-to-15.0-transition/vttlstest.diff
  doc/flags/14.0-to-15.0-transition/zk.diff
  doc/flags/14.0-to-15.0-transition/zkctl.diff
  doc/flags/14.0-to-15.0-transition/zkctld.diff
  doc/releasenotes/15_0_0_changelog.md
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Documentation, Forwardport, Component: Documentation

#11574 Back to dev mode after v15.0.0
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11578 fix anchors for release notes and summary
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Component: General, Type: Release, Forwardport to: main

#11582 Fix missing flag usage for vault credentials flags
  go/vt/dbconfigs/credentials.go
Labels: Type: Bug, Component: General, Backport to: release-15.0

#11584 update release notes after 15.0
  doc/internal/ReleaseInstructions.md
Labels: Component: General, Type: Release

#11591 Online DDL: more support for INSTANT DDL
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/mysql56_gtid_set.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
Labels: Type: Enhancement, Component: Query Serving

#11581 planner enhancement: nice bindvar names for update
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/executor_dml_test.go
Labels: Type: Enhancement, Component: Query Serving

#11590 [cherry-pick]fix anchors for release notes and summary (#11578)
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Enhancement, Component: General

#11594 vtbackup: add --disable-redo-log flag (default false)
  go/cmd/vtbackup/vtbackup.go
  go/flags/endtoend/vtbackup.txt
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Labels: Type: Enhancement, Component: Backup and Restore

#11597 [cherry-pick]fix vdiff release notes (#11595)
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Bug, Component: General

#11586 [cherry-pick] remove excessive backup decompression logging (#11479)
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Enhancement, Forwardport, Component: General

#11552 [refactor] Predicate push down
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/compact.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/node.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/predicate_push_down.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/system_tables.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#11587 [cherry-pick]Adding deprecate message to backup hooks (#11491)
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Enhancement, Component: General

#11592 Fix ordering when error happens during stream setup
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0

#11607 Cleanup copying of proto results to sqltypes.Result
  go/sqltypes/proto3.go
  go/sqltypes/result.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11608 Move initialization of metrics to be static
  go/vt/vtgate/vtgate.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11588 [cherry-pick]removing unncessary flags across binaries (#11495)
  go/cmd/mysqlctl/mysqlctl.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/vtexplain.txt
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/topo/server.go
Labels: Type: Bug, Component: General

#11323 make MySQL56-flavor schema queries forward-compatible
  go/mysql/endtoend/client_test.go
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving
