Repository vitessio/vitess, pull requests merged in 2022-09, with the labels that each got.

#11094 Move sqlparser flags to use pflags
  go/flags/endtoend/vtgr.txt
  go/vt/sqlparser/truncate_query.go
  go/vt/sqlparser/truncate_query_test.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: CLI

#11152 Use Ubuntu 20 for vtgate and tabletmanager workflows
  test/ci_workflow_gen.go
Labels: Type: Bug, Component: Build/CI

#11143 [release-13.0] Remove an unwanted change made in #11078 to the upgrade downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
Labels: Component: Query Serving, Type: Testing, Backport

#11156 Nil-check errors before printing them in VTOrc
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/candidate_database_instance_dao.go
  go/vt/orchestrator/inst/cluster_alias_dao.go
  go/vt/orchestrator/inst/cluster_domain_dao.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/inst/instance_topology_dao.go
  go/vt/orchestrator/inst/maintenance_dao.go
  go/vt/orchestrator/inst/pool_dao.go
  go/vt/orchestrator/inst/resolve_dao.go
  go/vt/orchestrator/inst/tag_dao.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_dao.go
  go/vt/orchestrator/process/access_token_dao.go
  go/vt/orchestrator/process/election_dao.go
  go/vt/orchestrator/process/health_dao.go
Labels: Type: Internal Cleanup, Component: VTorc

#11157 On demand heartbeats: fix race condition closing the writer
  go/vt/vttablet/tabletserver/repltracker/writer.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#11159 Release `v14.0.2`
  doc/releasenotes/14_0_2_changelog.md
  doc/releasenotes/14_0_2_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/vtorc_example.yaml
Labels: Component: General, Type: Release

#11155 Augment local example to also run VTOrc
  examples/local/101_initial_cluster.sh
  examples/local/401_teardown.sh
  examples/local/orc_test.sh
  examples/local/scripts/ovttablet-up.sh
  examples/local/scripts/vtorc-down.sh
  examples/local/scripts/vtorc-up.sh
  examples/local/scripts/vttablet-up.sh
  examples/local/vtorc/config.json
Labels: Component: Build/CI, Component: Cluster management, Type: CI/Build

#11146 [cli] [servenv] Migrate grpc auth server flags within `servenv` to `pflag`
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtcombo/main.go
  go/cmd/vtctld/main.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vtgateclienttest/main.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgr.txt
  go/vt/servenv/grpc_auth.go
  go/vt/servenv/grpc_server.go
  go/vt/servenv/grpc_server_auth_mtls.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11162 Addition of the release notes for `v13.0.3`
  doc/releasenotes/13_0_3_changelog.md
  doc/releasenotes/13_0_3_release_notes.md
  doc/releasenotes/13_0_3_summary.md
Labels: Component: General, Type: Release

#11161 Release `v13.0.3`
  doc/releasenotes/13_0_3_changelog.md
  doc/releasenotes/13_0_3_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11106 [cli] [topo/consultopo] Migrate consul flags to pflags
  go/vt/topo/consultopo/server.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/consultopo/watch.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: General, Component: CLI

#11088 No reserved connection on modifying system settings
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect1/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect2/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/test/fuzzing/tabletserver_schema_fuzzer.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/endtoend/settings_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/fuzz.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/lock_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/pool_unsafe_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool.go
  go/vt/vttablet/tabletserver/stateful_connection_pool_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/twopc_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_executor.go
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Type: Enhancement, Component: Query Serving

#11147 Moving math package from external libarary
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/util/math.go
Labels: Type: Enhancement, Component: VTorc

#11164 Addition of the release notes for `v12.0.6`
  doc/releasenotes/12_0_6_changelog.md
  doc/releasenotes/12_0_6_release_notes.md
  doc/releasenotes/12_0_6_summary.md
Labels: Component: General, Type: Release

#11163 Release `12.0.6`
  doc/releasenotes/12_0_6_changelog.md
  doc/releasenotes/12_0_6_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11160 Addition of the release notes for `v14.0.2`
  doc/releasenotes/14_0_2_changelog.md
  doc/releasenotes/14_0_2_release_notes.md
  doc/releasenotes/14_0_2_summary.md
Labels: Component: General, Type: Release

#11166 [cli] [servenv] Migrate missed auth flag to pflag
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgr.txt
  go/vt/servenv/grpc_server_auth_mtls.go
  go/vt/servenv/grpc_server_auth_static.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11170 Fix problematic watch cancellation due to context cancellation
  go/vt/srvtopo/query.go
  go/vt/srvtopo/query_srvkeyspacenames.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/status.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/srvtopo/watch_srvvschema.go
  go/vt/topo/etcd2topo/server_test.go
  go/vt/topo/etcd2topo/watch.go
Labels: Type: Bug, Component: Query Serving

#11176 Fix OK packet parsing logic
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
Labels: Type: Bug, Component: Query Serving

#11090 tabletserver stream replace schema name bindvar
  go/mysql/fakesqldb/server.go
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#11175 adding setting pool metrics
  go/pools/resource_pool.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
Labels: Type: Enhancement, Component: Query Serving

#11165 [cli] [servenv] Migrate flags used by grpc servers to `pflag`
  doc/releasenotes/15_0_0_summary.md
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtcombo/main.go
  go/cmd/vtctld/main.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vtgateclienttest/main.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/flagutil/optional.go
  go/vt/servenv/grpc_server.go
  go/vt/servenv/pprof.go
  go/vt/servenv/run.go
  go/vt/servenv/servenv.go
  go/vt/servenv/servenv_test.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11172 Add VTOrc and VTAdmin to Region example
  examples/region_sharding/101_initial_cluster.sh
  examples/region_sharding/301_teardown.sh
  examples/region_sharding/scripts/vtadmin-down.sh
  examples/region_sharding/scripts/vtadmin-up.sh
  examples/region_sharding/scripts/vtorc-down.sh
  examples/region_sharding/scripts/vtorc-up.sh
  examples/region_sharding/scripts/vttablet-up.sh
  examples/region_sharding/vtadmin/discovery.json
  examples/region_sharding/vtadmin/rbac.yaml
  examples/region_sharding/vtorc/config.json
Labels: Component: Build/CI, Type: CI/Build, NeedsWebsiteDocsUpdate

#10946 decouple olap tx timeout from oltp tx timeout
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/pools/numbered.go
  go/pools/numbered_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/vtgate/godriver/main_test.go
  go/test/endtoend/vtgate/readafterwrite/raw_test.go
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Type: Enhancement, Component: Query Serving

#11179 [cli] [servenv] migrate `--service_map` and `pprof` flags to `pflag`
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtcombo/main.go
  go/cmd/vtctld/main.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vtgateclienttest/main.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vttablet.txt
  go/vt/servenv/grpc_server.go
  go/vt/servenv/pprof.go
  go/vt/servenv/pprof_test.go
  go/vt/servenv/service_map.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11184 Install panic handler for all grpcvtctldserver endpoints
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Component: Cluster management

#11186 [cli] [servenv] Migrate miscellaneous flags to `pflag`
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgr.txt
  go/internal/flag/flag.go
  go/vt/servenv/grpc_server.go
  go/vt/servenv/pid_file.go
  go/vt/servenv/servenv.go
  go/vt/servenv/unix_socket.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11109 [cli] [tabletserver/tabletenv] Migrate tabletenv flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/flagutil/flagutil.go
  go/vt/vtadmin/api_test.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletenv/seconds.go
  go/vt/vttablet/tabletserver/tabletenv/tabletenvtest/tabletenvtest.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: TabletManager, Component: CLI

#11189 [cli] [servenv] Migrate `--version` flag to pflag, and also add to `vtctldclient` and `vtadmin`
  go/cmd/vtadmin/main.go
  go/cmd/vtctldclient/command/root.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTAdmin, Component: General, Component: CLI

#11188 Fix vtcompose and docker-compose examples
  examples/compose/.env
  examples/compose/client.go
  examples/compose/client.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/lvtctl.sh
  examples/compose/schemaload.sh
  examples/compose/template.env
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/compose/vtorc-up.sh
  test/client.go
  test/client_test.sh
Labels: Type: Bug, Component: Build/CI

#11190 [cli] [servenv] Migrate `--mysql_server_version` to pflag
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/main.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctldclient/main.go
  go/flags/endtoend/vtgr.txt
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/local.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/mysql.go
  go/vt/sqlparser/parser.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11204 VDiff2: Add support for Mount+Migrate
  go/test/endtoend/vreplication/migrate_test.go
  go/vt/discovery/tablet_picker.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
Labels: Type: Enhancement, Component: VReplication

#11193 Cluster-Alias cleanup for VTOrc
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/db/generate_base.go
  go/vt/orchestrator/db/generate_patches.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/http/web.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/cluster.go
  go/vt/orchestrator/inst/cluster_alias.go
  go/vt/orchestrator/inst/cluster_alias_dao.go
  go/vt/orchestrator/inst/downtime_dao.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_dao_test.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/inst/pool.go
  go/vt/orchestrator/inst/pool_dao.go
  go/vt/orchestrator/logic/command_applier.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_dao.go
  go/vt/orchestrator/test/recovery_analysis.go
Labels: Type: Internal Cleanup, Component: VTorc

#11123 Treat `IN` operations on single value tuples as `Equal` operations.
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#11104 [Gen4] Merge `SeenPredicates` when creating route operator for join
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#11194 Replication Manager Improvements
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletmanager/replication_manager/tablet_test.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  test/config.json
Labels: Type: Enhancement, Component: TabletManager

#11208 Flakes: Eliminate TestVreplicationCopyThrottling Flakes
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Flakes

#11181 generate settings plan in tablet with query and reset setting query
  Makefile
  go/pools/cached_size.go
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
  go/pools/rp_bench_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/pooled_connection.go
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/endtoend/settings_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/planbuilder/cached_size.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_pool.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#11027 evalengine: Support built-in MySQL function CEIL()
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
Labels: Type: Feature Request, Component: Evalengine

#11213 Add Metric For Time Elapsed In Getting Connection In Pools
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
Labels: Type: Enhancement, Component: Query Serving

#11212 VReplication: Handle DECIMAL 0 Value Edge Case
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11217 Online DDL: more info in a conflicting migration message
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11177 Adds delete planning to Gen4
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/planbuilder/abstract/delete.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/physical/delete.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Enhancement, Component: Query Serving

#11224 Flakes: Correct TestVReplicationCopyThrottling Logic
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build

#11221 addressing review comments from #11088
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect1/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect2/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/pool_unsafe_cases.txt
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Query Serving

#11197 Improve the `do_release` script to have two different Pull Requests instead of one during a release
  tools/do_release.sh
Labels: Component: General, Type: Release, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11174 Update the release documentation
  doc/internal/ReleaseInstructions.md
Labels: Type: Documentation, Component: Documentation, Type: Release, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11230 [release-14.0] Improve the `do_release` script to have two different Pull Requests instead of one during a release
  tools/do_release.sh
Labels: Backport, Component: General, Type: Release

#11229 [release-13.0] Improve the `do_release` script to have two different Pull Requests instead of one during a release
  tools/do_release.sh
Labels: Backport, Component: General, Type: Release

#11234 Don't run VDiff on frozen workflows
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff2.go
Labels: Type: Bug, Component: VReplication

#10915 Online DDL: --pospone-launch, ALTER VITESS_MIGRATION ... LAUNCH
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Query Serving

#11248 Fix: Insert using select streaming bug
  go/test/endtoend/vtgate/queries/insert/insert_test.go
  go/vt/vtgate/engine/insert.go
Labels: Type: Bug, Component: Query Serving

#11238 Backport to release-14: Fix VTOrc Discovery to also retry discovering tablets which aren't present in database_instance table
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/inst/instance_dao.go
Labels: Type: Bug, Backport, Component: VTorc

#11209 Fix build errors
  test/client/client.go
  test/client_test.sh
  tools/rowlog/rowlog.go
Labels: Component: Build/CI, Type: CI/Build

#11256 Reapply system settings on connection reconnect
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
Labels: Type: Enhancement, Component: Query Serving

#11255 Move vtorc to self-hosted runner
  .github/docker/cluster_test_vtorc/Dockerfile
  .github/workflows/cluster_endtoend_vtorc.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build

#11251 Adding tablet startup check
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/cluster/cluster_util.go
Labels: Component: Build/CI, Type: CI/Build

#11126 [cli] Migrate withddl/workflow/healthstreamer flags to pflags
  go/flags/endtoend/vtexplain.txt
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/withddl/withddl_test.go
  go/vt/workflow/manager_test.go
  go/vt/workflow/parallel_runner_test.go
  go/vt/workflow/sleep_workflow.go
  go/vt/workflow/workflow_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Do Not Merge, Component: CLI

#11307 [cli] Misc pflag binary migrations
  Makefile
  go/tools/sizegen/sizegen.go
  go/vt/vtctl/grpcvtctldclient/client.go
  go/vt/vtctl/localvtctldclient/client.go
  go/vt/vtctl/vtctldclient/codegen/main.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: CLI

#11273 Move 12 and 18 back to github runners
  .github/docker/cluster_test_12/Dockerfile
  .github/docker/cluster_test_18/Dockerfile
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_18.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build

#11263 Introduce `servenv` status pages in VTOrc
  doc/releasenotes/15_0_0_summary.md
  examples/compose/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/compose/vtorc-up.sh
  examples/local/scripts/vtorc-up.sh
  examples/region_sharding/scripts/vtorc-up.sh
  go/cmd/vtorc/index.go
  go/cmd/vtorc/main.go
  go/cmd/vtorc/plugin_prometheusbackend.go
  go/cmd/vtorc/status.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtorc.txt
  go/test/endtoend/cluster/vtorc_process.go
  go/vt/vtorc/app/http.go
  go/vt/vtorc/logic/topology_recovery_status.go
Labels: Type: Enhancement, Component: VTorc

#11308 Improve PRS to validate new primary can make forward progress
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
Labels: Type: Enhancement, Component: Cluster management

#11306 feat: rewrite column names in HAVING
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Enhancement, Component: Query Serving

#11310 Fix conditions after `<=>` operator on left joined table columns being ignored for routing purposes.
  go/vt/vtgate/planbuilder/abstract/filter.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Bug, Component: Query Serving

#11265 bugfix: Truncate columns even when sorting on vtgate
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/main_test.go
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/schema.sql
  go/test/endtoend/vtgate/queries/orderby/without_schematracker/vschema.json
  go/vt/vtgate/engine/route.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#11317 Fix complex predicates being pulled into `ON` conditions for `LEFT JOIN` statements.
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#11319 Fix local example scripts
  examples/local/101_initial_cluster.sh
  examples/local/201_customer_tablets.sh
  examples/local/201_newkeyspace_tablets.sh
  examples/local/302_new_shards.sh
  examples/region_sharding/101_initial_cluster.sh
  examples/region_sharding/202_new_tablets.sh
Labels: Type: Bug, Component: Examples

#11272 Move go/mysql flags to pflags
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/mysql/auth_server_static.go
  go/mysql/conn.go
  go/mysql/query_benchmark_test.go
  go/mysql/server_flaky_test.go
Labels: Type: Enhancement, Component: Query Serving

#11321 [cli] `vttestserver` flag parsing to use pflags
  go/cmd/vttestserver/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vttestserver.txt
Labels: Type: Internal Cleanup, Component: CLI

#11342 [vtctlclient] Migrate to pflag
  go/cmd/vtctlclient/main.go
  go/flags/endtoend/vtctlclient.txt
Labels: Type: Internal Cleanup, Type: Enhancement, Component: vtctl, Component: CLI

#11341 srvtopo pflags migration
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/vt/srvtopo/discover_test.go
  go/vt/srvtopo/query.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
Labels: Type: Internal Cleanup, Component: CLI

#11340 customrule pflags migration
  go/vt/vttablet/customrule/filecustomrule/filecustomrule.go
  go/vt/vttablet/customrule/topocustomrule/topocustomrule.go
Labels: Type: Internal Cleanup, Component: CLI

#11232 Backport-v14: VReplication: Handle DECIMAL 0 Value Edge Case #11212
  .gitignore
  go/mysql/binlog_event_rbr.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: Build/CI, Component: VReplication, Backport

#11338 Addition of Metrics to VTOrc to track the number of recoveries ran and their success count.
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: Enhancement, Component: VTorc

#11350 [cli] Migrate cmd/vtctld to pflag
  go/cmd/vtctld/schema.go
  go/flags/endtoend/vtctld.txt
  go/flagutil/flagutil.go
  go/flagutil/flagutil_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: vtctl, Component: CLI

#11349 [cli] Migrate cmd/vtclient and cmd/vttablet from flag to pflag
  go/cmd/vtclient/vtclient.go
  go/cmd/vtclient/vtclient_test.go
  go/cmd/vttablet/vttablet.go
  go/flags/endtoend/vttablet.txt
Labels: Type: Enhancement, Component: CLI

#11167 [vtgate] Add flag to pool connection read buffers
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/query_benchmark_test.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Enhancement, Component: Query Serving, Type: Performance

#11223 vtcombo mutates options, make a copy to avoid this
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: VTCombo

#11326 [cli] [vtctld] Migrate vtctld flags to pflags
  go/flags/endtoend/vtctld.txt
  go/vt/vtctld/action_repository.go
  go/vt/vtctld/api.go
  go/vt/vtctld/tablet_data.go
  go/vt/vtctld/vtctld.go
  go/vt/vtctld/workflow.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Cluster management, Component: CLI

#11348 Fix tablet debug/env template variable name
  go/vt/vttablet/tabletserver/debugenv.go
Labels: Type: Bug, Component: Cluster management

#11318 vtgate pflags migration
  go/cmd/vtclient/vtclient.go
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/tabletserver/tx_executor_test.go
  vitess-mixin/e2e/docker-compose.beginners.yml
  vitess-mixin/e2e/docker-compose.vt.yml
  vitess-mixin/e2e/vtcompose/docker-compose.test.yml
  vitess-mixin/e2e/vtcompose/vtcompose.go
Labels: Type: Internal Cleanup, Component: CLI

#11355 Flakiness Fix: Tests for GracefulPrimaryTakeover
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: CI/Build, Component: VTorc

#11343 Fix frouioui in the MAINTAINERS.md file
  MAINTAINERS.md
Labels: Type: Bug, Component: Governance, Component: General

#11354 Fix flags in vttestserver run script used in the docker image
  docker/vttestserver/run.sh
Labels: Type: Bug, Component: vttestserver

#11360 Delete deprecated flags
  doc/releasenotes/15_0_0_summary.md
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/env/env.go
  go/vt/env/env_test.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/replication.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, Component: Query Serving

#11359 advisory lock to acquire reserve connection only for get_lock
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/scatter_conn.go
Labels: Type: Enhancement, Component: Query Serving

#11352 Flakes: Fix Backup Transform Test Flakiness
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#11344 VStreams: Rotate Binary Log For Snapshot Connections
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  test/config.json
Labels: Type: Enhancement, Component: VReplication

#11314 [cli] [mysqlctl] Migrate mysqlctl flags to pflags
  go/cmd/vtctldclient/main.go
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/backup/mysqlctld/backup_mysqlctld_test.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_test.go
  go/test/endtoend/backup/xtrabackup/xtrabackup_test.go
  go/test/endtoend/backup/xtrabackupstream/xtrabackup_stream_test.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/mycnf_gen.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparent.go
  go/vt/vtctld/api.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/replmanager_test.go
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/wrangler/testlib/backup_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11362 fix: store the output of the rewrite
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#11357 refactor: minor refactor in partial shard routing and change in flag to dashes
  go/flags/endtoend/vtgate.txt
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vtgate/planbuilder/bypass.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11363 [asthelpergen] Migrate to pflags
  Makefile
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/main/main.go
  misc/git/hooks/asthelpers
Labels: Type: Enhancement, Component: CLI

#11347 [cli] Migrate miscellaneous components from flag to pflag
  go/cmd/vtctldclient/main.go
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/stats/counters_test.go
  go/stats/export.go
  go/stats/export_test.go
  go/stats/opentsdb/opentsdb.go
  go/stats/statsd/statsd.go
  go/stats/timings_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/client.go
  go/vt/binlog/binlogplayer/framework_test.go
  go/vt/binlog/grpcbinlogplayer/player.go
  go/vt/mysqlctl/mysqlctlclient/interface.go
  go/vt/servenv/servenv.go
  go/vt/sqlparser/truncate_query.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/throttler/throttlerclient/throttlerclient.go
  go/vt/vtctl/grpcclientcommon/dial_option.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tmclienttest/tmclienttest.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General

#11361 Move vttlstest to pflag and cobra
  go/cmd/vttlstest/vttlstest.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vttlstest.txt
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
Labels: Type: Enhancement, Component: General

#11241 Add hyperlink in the release changelog
  go/tools/release-notes/release_notes.go
Labels: Type: Documentation, Component: Documentation, Type: Release, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#11365 Migrates `release-notes` to pflag
  Makefile
  go/tools/release-notes/release_notes.go
Labels: Type: Release, Component: CLI

#11369 Handle cache value type correctly
  go/vt/vttablet/endtoend/settings_test.go
  go/vt/vttablet/tabletserver/query_engine.go
Labels: Type: Bug, Component: Query Serving

#11375 [release-14.0] Add hyperlink in the release changelog (#11241)
  go/tools/release-notes/release_notes.go
Labels: Type: Documentation, Backport, Component: Documentation, Type: Release

#11327 [cli] [topo] Migrate topo2topo flags to pflags
  go/cmd/topo2topo/topo2topo.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11315 [cli] [vtgate/vschemaacl] Migrate VschemaACL flags to pflags
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/vtexplain.txt
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/vschemaacl/vschemaacl.go
  go/vt/vtgate/vschemaacl/vschemaacl_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11368 [vtctlclient] Migrate `vtctl_client_protocol` to pflag
  go/cmd/vtctldclient/main.go
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtctl/vtctlclient/interface.go
  go/vt/wrangler/testlib/vtctl_pipe.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: vtctl, Component: CLI

#11378 Move evalengine integration tests to use pflags
  go/internal/flag/flag.go
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
Labels: Type: Internal Cleanup, Component: Evalengine

#11377 Remove deprecated IsSkipTopo() function
  go/vt/schema/ddl_strategy.go
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11370 VTOrc cleanup: Remove unused CLI code and move relevant APIs to the new VTOrc UI
  go/cmd/vtorc/main.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/api/main_test.go
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/app/cli.go
  go/vt/vtorc/app/cli_test.go
  go/vt/vtorc/app/http.go
  go/vt/vtorc/http/agents_api.go
  go/vt/vtorc/http/api.go
  go/vt/vtorc/http/api_test.go
  go/vt/vtorc/http/httpbase.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/server/api.go
  go/vt/vtorc/server/api_test.go
  test/config.json
Labels: Type: Enhancement, Component: VTorc

#11381 [flagutil] Cleanup `flag` references
  go/flags/endtoend/vttablet.txt
  go/flagutil/flagutil.go
  go/flagutil/flagutil_test.go
  go/flagutil/sets.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: General, Component: CLI

#11367 [grpcclient] Migrate `--grpc_auth_static_client_creds` to pflag
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/grpcclient/client.go
  go/vt/grpcclient/client_auth_static.go
  go/vt/vtctl/grpcvtctlclient/client_test.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/fuzz_flaky_test.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: CLI

#11329 [cli] [zkctld] Migrate all zkctld flags to pflag
  go/cmd/zkctld/zkctld.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/zkctld.txt
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11372 Move vtaclcheck command to pflags
  go/cmd/vtaclcheck/vtaclcheck.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtaclcheck.txt
Labels: Type: Enhancement, Component: General

#11384 Move vtorc-8.0 to self-hosted runner
  .github/docker/cluster_test_vtorc_8.0/Dockerfile
  .github/workflows/cluster_endtoend_vtorc_8.0.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build

#11376 Migrate mysqlctld from flag to pflag
  go/cmd/mysqlctld/mysqlctld.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/mysqlctld.txt
  go/vt/grpcclient/client.go
Labels: Type: Enhancement, Component: General

#11239 [release-12.0] Update the release documentation (#11174)
  doc/internal/ReleaseInstructions.md
Labels: Type: Documentation, Backport, Component: Documentation, Type: Release

#11207 Add a CodeQL workflow to check vulnerabilities in the codebase
  .github/workflows/codeql_analysis.yml
Labels: Component: Build/CI, Type: CI/Build

#11364 [vtexplain] Migrate to pflags
  go/cmd/vtexplain/vtexplain.go
Labels: Type: Enhancement, Component: CLI

#11391 Migrate mysqlctl command and package to pflag
  go/cmd/mysqlctl/mysqlctl.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/mysqlctl.txt
  go/vt/grpcclient/client.go
  go/vt/mysqlctl/mycnf_flag.go
Labels: Type: Enhancement, Component: CLI

#11334 [cli] [vtbackup] Migrate all vtbackup flags to pflag
  go/cmd/vtbackup/vtbackup.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtbackup.txt
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11366 Migrates `cmd/vtbench` to pflags
  go/cmd/vtbench/vtbench.go
Labels: Type: Enhancement, Component: CLI

#11382 [cli] Begrudgingly shim `flag.Parse` call to trick glog
  go/cmd/rulesctl/cmd/main.go
  go/cmd/vtadmin/main.go
  go/cmd/vtctldclient/main.go
  go/flags/endtoend/vtctldclient.txt
  go/internal/flag/flag.go
  go/mysql/collations/integration/main_test.go
Labels: Type: Internal Cleanup, Component: General, Component: CLI

#11395 Fix: DML engine multiequal support
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  test/config.json
  test/config_partial_keyspace.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0

#11399 [cli] Use pflag/flag interop function in vtctldclient legacy shim
  go/cmd/vtctldclient/command/legacy_shim.go
Labels: Type: Internal Cleanup, Component: vtctl, Component: CLI

#11400 [14.0] Fix: DML engine multiequal support (#11395)
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport

#11396 Addition of the release summary for `v14.0.3`
  doc/releasenotes/14_0_3_summary.md
Labels: Component: Documentation, Type: Release

#11332 [cli] [zk] Migrate zk flags to pflags
  go/cmd/zk/zkcmd.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/zk.txt
Labels: Type: Enhancement, Component: Cluster management, Component: CLI

#11325 VStreamer: fix deadlock when there are a lot of vschema changes at the same time as binlog events
  go/test/endtoend/vreplication/vschema_load_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  test/config.json
Labels: Type: Bug, Component: VReplication

#11409 Deprecate orchestrator integration
  doc/releasenotes/15_0_0_summary.md
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletmanager/orchestrator.go
Labels: Type: Internal Cleanup, Component: Cluster management

#11336 Move dbconfigs to pflag and remove deprecated flags
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/dbconfigs/credentials.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vttls/vttls.go
Labels: Type: Enhancement, Component: General, Component: CLI

#11038 fix: objname was not logged correctly
  go/vt/mysqlctl/s3backupstorage/s3.go
Labels: Type: Bug, Component: Backup and Restore

#11394 [cli] [etcd2] Migrate etcd2topo flags to pflags
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/etcd2topo/server.go
  go/vt/topo/etcd2topo/server_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: CLI
