Repository vitessio/vitess, pull requests merged in 2022-05, with the labels that each got.

#10174 feat: optimize EXISTS queries through AST rewriting
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases_with_default.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10179 Applied some format check on the comment_pull_request workflow
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Backport me!, Type: CI/Build, release notes none

#10184 Using LCS to achieve shortest column reordering list
  go.mod
  go.sum
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10183 schemadiff: logically Apply() a diff to a CreateTable, CreateView or to a Schema
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10188 schemadiff: normalize() table. Set names to all keys
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10187 Fix for empty results when no shards can be found to route to
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10180 [vtadmin-web] Remove placeholder links from NavRail
  web/vtadmin/src/components/Icon.tsx
  web/vtadmin/src/components/NavRail.module.scss
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/icons/index.tsx
  web/vtadmin/src/icons/keyG.svg
  web/vtadmin/src/icons/keyK.svg
  web/vtadmin/src/icons/keyR.svg
  web/vtadmin/src/icons/keyS.svg
  web/vtadmin/src/icons/keyT.svg
  web/vtadmin/src/icons/keyV.svg
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10190 schemadiff: schema is immutable through Apply()
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10191 sqlparser: Handle case sensitive AST option for table options
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10114 Relax singleton-context constraint for pending non-singleton-context reverts
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10195 refactor: move the Subshard opcode
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/route_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#10197 Emit the ENGINE field for table options as case sensitive
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtgate/engine/cached_size.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10205 [vtadmin] non-blocking resolver
  go/vt/vtadmin/cluster/resolver/resolver.go
  go/vt/vtadmin/cluster/resolver/resolver_test.go
  go/vt/vtadmin/internal/backoff/backoff.go
  go/vt/vtadmin/internal/backoff/backoff_test.go
  go/vt/vtadmin/internal/rand/rand.go
  go/vt/vtadmin/vtctldclient/config_test.go
  go/vt/vtadmin/vtsql/config_test.go
Labels: Type: Enhancement, Component: VTAdmin, release notes

#10206 [vtadmin-web] Remove unused icon SVGs
  web/vtadmin/src/components/Icon.tsx
  web/vtadmin/src/icons/add.svg
  web/vtadmin/src/icons/archive.svg
  web/vtadmin/src/icons/archiveAuto.svg
  web/vtadmin/src/icons/archiveForever.svg
  web/vtadmin/src/icons/archiveRestore.svg
  web/vtadmin/src/icons/arrowDown.svg
  web/vtadmin/src/icons/arrowLeft.svg
  web/vtadmin/src/icons/arrowRight.svg
  web/vtadmin/src/icons/arrowUp.svg
  web/vtadmin/src/icons/avatar.svg
  web/vtadmin/src/icons/boxChecked.svg
  web/vtadmin/src/icons/boxEmpty.svg
  web/vtadmin/src/icons/boxIndeterminate.svg
  web/vtadmin/src/icons/chevronLeft.svg
  web/vtadmin/src/icons/chevronRight.svg
  web/vtadmin/src/icons/circleDelete.svg
  web/vtadmin/src/icons/circleRemove.svg
  web/vtadmin/src/icons/circleWorkflow.svg
  web/vtadmin/src/icons/clear.svg
  web/vtadmin/src/icons/code.svg
  web/vtadmin/src/icons/copy.svg
  web/vtadmin/src/icons/document.svg
  web/vtadmin/src/icons/dropDown.svg
  web/vtadmin/src/icons/dropUp.svg
  web/vtadmin/src/icons/ellipsis.svg
  web/vtadmin/src/icons/gear.svg
  web/vtadmin/src/icons/history.svg
  web/vtadmin/src/icons/index.tsx
  web/vtadmin/src/icons/keyboard.svg
  web/vtadmin/src/icons/link.svg
  web/vtadmin/src/icons/menu.svg
  web/vtadmin/src/icons/pageFirst.svg
  web/vtadmin/src/icons/pageLast.svg
  web/vtadmin/src/icons/pause.svg
  web/vtadmin/src/icons/radioEmpty.svg
  web/vtadmin/src/icons/radioSelected.svg
  web/vtadmin/src/icons/refresh.svg
  web/vtadmin/src/icons/remove.svg
  web/vtadmin/src/icons/retry.svg
  web/vtadmin/src/icons/sort.svg
  web/vtadmin/src/icons/spinnerLoading.svg
  web/vtadmin/src/icons/start.svg
  web/vtadmin/src/icons/wrench.svg
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#10181 Propagate error from 'updateLocked' to client
  go/test/endtoend/tabletmanager/tablet_test.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#10150 VTOrc: Refactor and reload of ephemeral information for remaining recovery functions
  go/vt/orchestrator/db/db.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/analysis_dao_test.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_test.go
  go/vt/orchestrator/test/db.go
  go/vt/orchestrator/test/recovery_analysis.go
Labels: Type: Enhancement, Component: VTorc, release notes

#10200 schemadiff: normalize table options case
  go/vt/schemadiff/column.go
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10216 Address flakiness of vtgate_vindex.prefixfanout tests
  .github/workflows/cluster_endtoend_vtgate_general_heavy.yml
  .github/workflows/cluster_endtoend_vtgate_vindex_heavy.yml
  .github/workflows/cluster_endtoend_xb_backup.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/prefixfanout/main_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes none, Flakes

#10220 Fix handling of unsigned and zerofill in parser and normalization
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10224 Fix parsing of the foreign key constraint actions in different order
  go/vt/schemadiff/schema.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, release notes

#10231 CI: fix flaky test via extended timeout in vrepl_stress_suite
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10198 On demand heartbeats via `--heartbeat_on_demand_duration`, used by the tablet throttler
  doc/releasenotes/14_0_0_summary.md
  go/flags/endtoend/flags_test.go
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/heartbeat/heartbeat_writer.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#10222 Flaky test fix: TestFoundRows
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#10235 Flaky test fix: TestFoundRows
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#10228 Flakes: Add retries to ZooKeeper unit test around startup
  go/vt/zkctl/zkconf.go
  go/vt/zkctl/zkctl.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10237 [vtadmin] Removing explicit Dial-ing for vtsql proxy
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/testutil/cluster.go
  go/vt/vtadmin/vtsql/config.go
  go/vt/vtadmin/vtsql/vtsql.go
  go/vt/vtadmin/vtsql/vtsql_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10201 Revert semi_sync change to reintroduce enable_semi_sync and remove durability_policy
  examples/legacy_local/scripts/vtctld-up.sh
  examples/local/scripts/vtctld-up.sh
  go/cmd/vtctl/vtctl.go
  go/cmd/vtworker/vtworker.go
  go/flags/endtoend/flags_test.go
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctld/vtctld.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
Labels: Type: Bug, Component: Cluster management, release notes (needs details)

#10240 Add parsing support for expressions in index definitions
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10238 Add convenience functions for working with schemadiff objects
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10242 Update the parsing support for JSON_VALUE
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10245 Fix formatting of character set annotation on string literals
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10229 schemadiff: partitions validations
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10251 Add parsing support for additional index and table options
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10248 plancache: Lazy sysvar planner functions
  go/mysql/collations/integration/charset_test.go
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/integration/wildcard_test.go
  go/mysql/collations/local.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/system_variables.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10252 evalengine: proper float to integer conversions
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10176 [vtadmin-web] Add `PORT=14201` to 'npm run local' to avoid CORS errors in dev mode
  web/vtadmin/package.json
Labels: Type: Bug, Component: VTAdmin, release notes none

#10192 VReplication: use PK equivalent (PKE) if no PK found
  go/mysql/schema.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Labels: Type: Enhancement, Component: VReplication, Component: Query Serving, release notes

#10212 check for connectionID before adding to querylist
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Cluster management, Component: Query Serving, release notes

#10241 Revert to using XtraBackup 2.4-latest now that 2.4.26 is out
  .github/workflows/cluster_endtoend_xb_backup.yml
  .github/workflows/cluster_endtoend_xb_recovery.yml
  test/templates/cluster_endtoend_test.tpl
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10249 Fix parsing of encryption attribute for create database
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#10255 Fix formatting for function expressions and booleans
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10260 fix: copy bindvariables in logstats
  go/vt/vtgate/executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10250 Add support for parsing MATCH in a foreign key definition
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/executor_dml_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10261 Move all schemadiff comparisons to canonical form
  go/vt/schemadiff/column.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10247 Fix to --heartbeat_on_demand_duration race condition
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build, release notes none

#10263 Make the tests explicit for the SET variables for MySQL 5.7
  go/vt/vtgate/engine/set_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#10253 Handle additional DDL in column definitions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10264 fix: vtexplain commit order flaky
  go/vt/vtexplain/vtexplain_vtgate.go
Labels: Component: Query Serving, Type: Testing, release notes none

#10257 fix: concatenate engine primitive
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, release notes

#10267 vt/sqlparser: support SRID
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10268 Improve dealing with check constraints
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10163 Do not send field query when using reserved connection
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vttablet/tabletserver/fuzz.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10269 Add parsing and schemadiff support for ALTER TABLE ALTER CHECK
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10275 CI: Add query retries to vttablet process
  go/test/endtoend/cluster/vttablet_process.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Flakes

#10274 Add unary utf8mb3 charset marker
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10232 Add parsing support for Subpartition Definitions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10271 Fix `tabletmanager_throttler` flakyness: increase wait time
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10285 vtorc: more auditing in GracefulPrimaryTakeover
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Enhancement, Component: VTorc, release notes none

#10162 Introducing a SQL syntax to control and view Online DDL throttling
  doc/releasenotes/14_0_0_summary.md
  go/sqltypes/type.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/throttler.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/client.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving, release notes

#10279 Do not cache plans that are invalid because of `--no_scatter`
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10256 Check for vtadmin JS types drift in CI
  .github/workflows/check_make_vtadmin_web_proto.yml
  tools/check_make_vtadmin_web_proto.sh
Labels: Type: Enhancement, Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10283 Do not cache plans that are invalid because of `--no_scatter`
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10273 [vtadmin] `GetCell{Infos,Aliases}`: Add missing topoReadPool management
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Bug, Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10226 gen4: JOIN USING planning
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/tabletset.go
  go/vt/vtgate/semantics/tabletset_test.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10293 [vtadmin] Rehome DangerAction component in a common folder
  web/vtadmin/src/components/DangerAction.tsx
  web/vtadmin/src/components/routes/tablet/Advanced.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10291 Improve the formatting for partitioning
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10287 collations: map utf8 to utf8mb3
  go/mysql/collations/coercion.go
  go/mysql/collations/env.go
  go/mysql/collations/golden_test.go
  go/mysql/collations/internal/charset/charset.go
  go/mysql/collations/internal/charset/convert.go
  go/mysql/collations/internal/charset/unicode/utf8.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlversion.go
  go/mysql/collations/tools/makecolldata/main.go
  go/mysql/collations/tools/makecolldata/mysqlversions.go
  go/mysql/endtoend/query_test.go
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/table.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10139 Add support for non aggregated columns in `OrderedAggregate`
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10262 evalengine: CASE expressions
  go/mysql/collations/coercion.go
  go/mysql/collations/collation.go
  go/mysql/collations/internal/charset/convert.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10296 Add additional normalization rules for schemadiff
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10303 Mark web/vtadmin/src/proto/** as generated files in .gitattributes
  .gitattributes
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10305 Add VS Code's __debug_bin to .gitignore
  .gitignore
Labels: Type: Internal Cleanup, Component: General, release notes none, Skip Upgrade Downgrade

#10307 Remove usage of additional uuid package
  go.mod
  go.sum
  go/vt/workflow/manager.go
Labels: Type: Internal Cleanup, Component: Build/CI, release notes none

#10309 schemadiff: RangeRotationDistinctStatements partitioning hint
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10286 BugFix: Resolve Recoveries at the end
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/logic/topology_recovery.go
Labels: Type: Bug, Component: VTorc, release notes

#10310 v14 release notes: Online DDL is production ready
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Announcement, release notes, Component: General

#10308 Deprecate flag --online_ddl_check_interval
  doc/releasenotes/14_0_0_summary.md
  go/flags/endtoend/flags_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes

#10313 Improve parser and schemadiff support for ALTER TABLE
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10302 [vtadmin] Fix warning 'div cannot appear as a descendant of p'
  web/vtadmin/src/components/routes/tablet/Advanced.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10316 [vtadmin] Add CreateKeyspace bindings + form UI
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/forms/FormError.tsx
  web/vtadmin/src/components/inputs/Select.tsx
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/createKeyspace/CreateKeyspace.test.tsx
  web/vtadmin/src/components/routes/createKeyspace/CreateKeyspace.tsx
  web/vtadmin/src/hooks/api.ts
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10312 feat: use column offsets when HAVING predicate has aggregation
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10319 [vtadmin] Further generalize DangerAction component
  web/vtadmin/src/components/DangerAction.test.tsx
  web/vtadmin/src/components/DangerAction.tsx
  web/vtadmin/src/components/routes/tablet/Advanced.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#10320 The flag --online_ddl_check_interval belongs in vtctld
  go/flags/endtoend/flags_test.go
  go/vt/vtctld/vtctld.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Cluster management, release notes none

#10323 [vtadmin] Further generalize DangerAction into ActionPanel
  web/vtadmin/src/components/ActionPanel.test.tsx
  web/vtadmin/src/components/ActionPanel.tsx
  web/vtadmin/src/components/routes/tablet/Advanced.test.tsx
  web/vtadmin/src/components/routes/tablet/Advanced.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10321 Add support for additional encoding configurations
  go/vt/schemadiff/table.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10328 schemadiff: validate columns referenced by generated columns
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10331 [vtadmin] Add loading placeholder for entity table views + update default redirect to /schemas
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/placeholders/QueryLoadingPlaceholder.tsx
  web/vtadmin/src/components/routes/Clusters.tsx
  web/vtadmin/src/components/routes/Gates.tsx
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/Vtctlds.tsx
  web/vtadmin/src/components/routes/Workflows.tsx
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10333 [vtadmin] tablet topotools tests
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10334 [vtadmin] Add prom metrics endpoint support
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/grpcserver/server.go
Labels: Type: Feature Request, Component: VTAdmin, Component: Observability, release notes, Skip Upgrade Downgrade

#10336 Remove normalization of integral length types
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving, release notes none

#10329 [vtadmin] Add keyspace/advanced view + ReloadSchemaKeyspace control
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/keyspace/Advanced.test.tsx
  web/vtadmin/src/components/routes/keyspace/Advanced.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/hooks/api.ts
Labels: Type: Enhancement, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10338 OnlineDDL: adding an endtoend test to validate partial shard REVERT
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Labels: Component: Query Serving, Type: CI/Build, release notes none

#10339 [vtadmin] Remove source-map-explorer dependency
  web/vtadmin/README.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10340 Add better int normalization
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10332 [gen4] More aggregation support
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10342 [vtadmin] Update ejs, async, and webpack-dev-server dev dependencies
  web/vtadmin/package-lock.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none

#10341 [vtadmin] Refactor getTabletForAction
  go/vt/vtadmin/api.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10343 Backport R13: concatenate engine primitive
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10344 [V12] Backport of two UNION fixes
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10306 Hints to git cli and github diff to hide diffs in proto generated files by default
  .gitattributes
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Build/CI, release notes none

#10345 Additional schemadiff improvements for indexes
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10120 [vtadmin] schema cache
  .golangci.yml
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cache/cache.go
  go/vt/vtadmin/cache/cache_test.go
  go/vt/vtadmin/cache/refresh.go
  go/vt/vtadmin/cache/refresh_test.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache_test.go
  go/vt/vtadmin/http/api.go
Labels: Type: Feature Request, Component: VTAdmin, release notes

#10356 Structured schemadiff errors
  go.mod
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
  go/vt/wrangler/resharder.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10330 schemadiff: case insensitive col/index/partition name comparison
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10202 Fix for empty results when no shards can be found to route to [R13, v3]
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/select_cases_with_user_as_default.txt
Labels: Type: Bug, Component: Query Serving, release notes

#10295 remove references to MySQL and Percona 5.6
  Makefile
  docker/base/Dockerfile.mysql56
  docker/base/Dockerfile.percona
  docker/bootstrap/Dockerfile.mysql56
  docker/bootstrap/Dockerfile.percona
  docker/bootstrap/README.md
  docker/bootstrap/build.sh
  docker/lite/Dockerfile.mysql56
  docker/lite/Dockerfile.percona
  docker/lite/install_dependencies.sh
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes

#10359 schemadiff: validate columns referenced by FOREIGN KEY
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10311 Remove internal savepoint post query execution
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10362 Add support for parsing ARRAY in cast / convert operations
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10284 [13.0] partial dml execution logic enhancement
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtexplain/testdata/updatesharded-queries.sql
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
Labels: Component: Query Serving, Backport, Benchmark me, release notes, Type: Regression

#10358 test refactor: extract const literal to file
  go/test/endtoend/vtgate/concurrentdml/main_test.go
  go/test/endtoend/vtgate/concurrentdml/sharded_schema.sql
  go/test/endtoend/vtgate/concurrentdml/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/sharded_schema.sql
  go/test/endtoend/vtgate/gen4/sharded_vschema.json
  go/test/endtoend/vtgate/gen4/unsharded_schema.sql
  go/test/endtoend/vtgate/gen4/unsharded_vschema.json
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/schema.sql
  go/test/endtoend/vtgate/queries/foundrows/vschema.json
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/schema.sql
  go/test/endtoend/vtgate/queries/informationschema/vschema.json
  go/test/endtoend/vtgate/queries/insert/main_test.go
  go/test/endtoend/vtgate/queries/insert/sharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/insert/vschema.json
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/vschema.json
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
Labels: Component: Query Serving, Type: Testing, release notes none

#10346 Fix failure when Unowned lookup IS NULL
  go/test/endtoend/vtgate/lookup_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/gen4_planner.go
Labels: Type: Bug, Component: Query Serving, release notes

#10355 [vtadmin] cluster Closer implementation + dynamic Cluster bugfix
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  go/vt/vtadmin/vtsql/vtsql.go
Labels: Type: Enhancement, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10368 plancache: Lazy sysvar planner functions (#10248)
  go/mysql/collations/integration/charset_test.go
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/integration/weight_string_test.go
  go/mysql/collations/integration/wildcard_test.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/system_variables.go
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#10366 Revert super_read_only config file changes
  Makefile
  config/mycnf/mysql56.cnf
  config/mycnf/mysql57.cnf
  config/mycnf/mysql80.cnf
  go/vt/mysqlctl/rice-box.go
Labels: Type: Bug, Component: Build/CI, Component: Query Serving, release notes

#10281 Ensure all legacy sharding commands are clearly deprecated
  examples/compose/vttablet-up.sh
  go/cmd/vtctldclient/command/keyspaces.go
  go/cmd/vtworker/vtworker.go
  go/flags/endtoend/flags_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/vt/binlog/keyspace_id_resolver.go
  go/vt/vtctl/vtctl.go
  go/vt/worker/grpcvtworkerclient/client.go
  go/vt/worker/vtworkerclient/interface.go
  go/vt/wrangler/keyspace.go
  vitess-mixin/e2e/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: VReplication, release notes

#10294 VStream API: allow cells to be specified for picking source tablets to stream from
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/discovery/tablet_picker.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/vstream_manager.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: VReplication, release notes, Skip Upgrade Downgrade

#10376 [vtadmin] Fix data race in vtadmin
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Bug, Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10361 Aggregation on top of LIMIT
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/vtgate_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10373 vt/wrangler: fix deleting primary tablet if `Shard` does not exist
  go/vt/wrangler/tablet.go
  go/vt/wrangler/tablet_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#10315 Online DDL: fast (and correct) RANGE PARTITION operations, 1st iteration
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, release notes

#10369 Online DDL: support for CHECK CONSTRAINTS
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/check-constraint/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/check-constraint/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/drop-check-constraint2/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-child/expect_failure
  go/textutil/hash.go
  go/textutil/hash_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/parser.go
  go/vt/vttablet/onlineddl/vrepl/parser_test.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, release notes (needs details)

#9740 make generate_ci_workflows: mysql80 workflows for selected tests
  .github/workflows/cluster_endtoend_onlineddl_declarative_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_ghost_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_revert_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_revertible_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_scheduler_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite_mysql80.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc_mysql80.yml
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple/ignore_versions
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  test/ci_workflow_gen.go
Labels: Type: Enhancement, Component: Build/CI, release notes

#10379 Cleanup: removed legacy, unused code (online DDL paths in topo)
  go/vt/schema/online_ddl.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#10374 Vtexplain no globals
  go/cmd/vtexplain/vtexplain.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Labels: Type: Internal Cleanup, release notes none, Component: vtexplain

#10322 Add parsing support for Regular Expressions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10380 schemadiff: constraint name diff hints strategies
  go/textutil/hash.go
  go/textutil/hash_test.go
  go/vt/schemadiff/names.go
  go/vt/schemadiff/names_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10387 [vtadmin] Remove mutex, now that vtexplain has no global state
  go/vt/vtadmin/api.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#9670 messaging: support vt_message_cols to limit cols
  go/cmd/vtaclcheck/tableacl2.json
  go/test/endtoend/messaging/main_test.go
  go/test/endtoend/messaging/message_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: TabletManager, release notes (needs details)

#10390 OnlineDDL/vitess fix: convert data type to JSON
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-empty/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-empty/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-empty/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-empty/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-invalid/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-invalid/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-invalid/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8mb4-to-json-invalid/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/int-to-json/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/int-to-json/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/int-to-json/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-json/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-json/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8mb4-to-json/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Labels: Type: Bug, Component: Query Serving, release notes

#10394 OnlineDDL/vrepl: more error codes, spatial types
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-int-to-geometry/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-int-to-geometry/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-int-to-geometry/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-int-to-geometry/ignore_versions
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Labels: Type: Bug, Component: Query Serving, release notes

#10391 fix: filter was not using the vcursor buffering execution
  go/vt/vtgate/engine/filter.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#10396 fix: check that all keyspaces loaded successfully before using them
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
Labels: Type: Bug, Backport me!, release notes, Component: vtexplain

#10389 Fix commands in readme files to use double dashes for arguments
  examples/compose/README.md
  examples/local/README.md
  examples/operator/README.md
Labels: Type: Documentation, Component: Examples, release notes
