Repository vitessio/vitess, pull requests merged in 2022-06, with the labels that each got.

#10199 Add parsing support for Window Functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/show_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10367 Sanitize log messages
  go/vt/vtgate/buffer/shard_buffer.go
  go/vt/vtgate/errorsanitizer/errorSanitizer.go
  go/vt/vtgate/errorsanitizer/errorSanitizer_test.go
Labels: Type: Bug, release notes, Component: General

#10401 fix: check that all keyspaces loaded successfully before using them
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_flaky_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
Labels: Type: Bug, Backport, release notes, Component: vtexplain

#10360 Fix for empty results when no shards can be found to route to [v3]
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/select_cases_with_user_as_default.txt
Labels: Type: Bug, Component: Query Serving, release notes

#10182 Unit test to confirm that the mysqlctl rice box is current
  .gitattributes
  go/vt/mysqlctl/rice-box.go
  go/vt/mysqlctl/rice_box_test.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#10403 Add systay as owner of vtexplain
  .github/CODEOWNERS
Labels: Type: Documentation, Component: Governance, release notes none

#10406 Rename error sanitizer file to follow naming convention
  go/vt/vtgate/errorsanitizer/error_sanitizer.go
  go/vt/vtgate/errorsanitizer/error_sanitizer_test.go
Labels: Type: Bug, Component: General, release notes none

#10405 Update vtctl help output to use double dashes for long flag names
  examples/are-you-alive/schemas/README.md
  examples/compose/lvtctl.sh
  examples/local/backups/start_cluster.sh
  examples/local/backups/stop_tablets.sh
  examples/local/orc_test.sh
  examples/operator/pf.sh
  examples/region_sharding/201_main_sharded.sh
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/vt/vtctl/backup.go
  go/vt/vtctl/cell_info.go
  go/vt/vtctl/cells_aliases.go
  go/vt/vtctl/query.go
  go/vt/vtctl/reparent.go
  go/vt/vtctl/throttler.go
  go/vt/vtctl/topo.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow.go
  test/client_test.sh
Labels: Type: Internal Cleanup, release notes, Component: CLI

#10402 Online DDL: support INSTANT DDL special plan, flag protected (flag undocumented for now)
  go/mysql/flavor.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vttablet_util.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10388 feat: do not use lookup vindexes for IS NULL predicates
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Enhancement, Component: Query Serving, release notes

#10349 Release `12.0.4`
  doc/releasenotes/12_0_4_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, release notes none, Type: Release

#10397 [vtadmin] Add infrastructure for generating authz tests for vtadmin
  .github/workflows/check_make_vtadmin_authz_testgen.yml
  Makefile
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/functions.go
  go/vt/vtadmin/testutil/authztestgen/main.go
  go/vt/vtadmin/testutil/authztestgen/template.go
  tools/check_make_vtadmin_authz_testgen.sh
Labels: Type: Documentation, Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10413 schemadiff: column name check in CHECK constraint is case insensitive
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10412 feat: make v3 not plan IS NULL queries against a lookup vindex
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, release notes

#10384 Streaming implementation of Projection engine primitive
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10415 [vtadmin] authz tests part1
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10417 making log sanitization more precise
  go/vt/vtgate/errorsanitizer/error_sanitizer.go
  go/vt/vtgate/errorsanitizer/error_sanitizer_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#10375 Refactor Durability Policy implementation and usage to read the durability policy from the keyspace
  examples/legacy_local/101_initial_cluster.sh
  examples/legacy_local/201_customer_keyspace.sh
  examples/legacy_local/scripts/vtctld-up.sh
  examples/local/101_initial_cluster.sh
  examples/local/201_customer_tablets.sh
  go/cmd/vtctl/vtctl.go
  go/cmd/vtworker/vtworker.go
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/recovery/shardedrecovery/sharded_recovery_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharding/initialsharding/sharding_util.go
  go/test/endtoend/sharding/mergesharding/mergesharding_base.go
  go/test/endtoend/sharding/resharding/resharding_base.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/analysis_dao_test.go
  go/vt/orchestrator/inst/durability.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/topo/keyspace.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/reparentutil/durability.go
  go/vt/vtctl/reparentutil/durability_funcs.go
  go/vt/vtctl/reparentutil/durability_funcs_test.go
  go/vt/vtctl/reparentutil/durability_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/reparent_sorter.go
  go/vt/vtctl/reparentutil/reparent_sorter_test.go
  go/vt/vtctl/reparentutil/reparenttestutil/util.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtctld/vtctld.go
  go/vt/worker/vertical_split_clone_test.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes (needs details)

#10420 replace planner-version with planner_version in vtexplain
  doc/releasenotes/14_0_0_summary.md
  go/cmd/vtexplain/vtexplain.go
Labels: Type: Internal Cleanup, release notes (needs details), Component: vtexplain

#10428 [vtadmin] Refactor authztestgen template to allow multiple test clusters
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/main.go
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10425 Addition of more logging to ERS and tests to PRS
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/replication.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes none

#10422 v3: Fix issue when no routes are found from a lookup
  go/test/endtoend/vtgate/sec_vind/main_test.go
  go/test/endtoend/vtgate/sec_vind/schema.sql
  go/test/endtoend/vtgate/sec_vind/vschema.json
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/select.go
  test/config.json
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#10430 Add vtadmin to local example by default
  examples/local/101_initial_cluster.sh
  examples/local/401_teardown.sh
Labels: Type: Enhancement, Component: VTAdmin, Component: Examples, release notes, Skip Upgrade Downgrade

#10432 [vtadmin] authz tests - getters part1
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10431 Aggregate static and other quick CI check actions to reduce #workflows
  .github/workflows/check_formatting.yml
  .github/workflows/check_imports.yml
  .github/workflows/check_make_parser.yml
  .github/workflows/check_make_proto.yml
  .github/workflows/check_make_sizegen.yml
  .github/workflows/check_make_visitor.yml
  .github/workflows/ensure_bootstrap_updated.yml
  .github/workflows/fossa.yml
  .github/workflows/golangci-linter.yml
  .github/workflows/gomod-tidy.yml
  .github/workflows/static_checks_etc.yml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10433 test: use `T.TempDir` to create temporary test directory
  go/cmd/vttestserver/vttestserver_test.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/handshake_test.go
  go/mysql/server_flaky_test.go
  go/streamlog/streamlog_flaky_test.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/filebackupstorage/file_test.go
  go/vt/schemamanager/local_controller_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/tlstest/tlstest_test.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/etcd2topo/server_test.go
  go/vt/topo/k8stopo/server_flaky_test.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/vtctl_topo_test.go
Labels: Type: Internal Cleanup, Type: Testing, release notes, Component: General

#10438 Parsing Support for XML functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving, release notes

#10411 Online DDL fix: instant is possible for VIRTUAL, not STORED
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10435 fix: use vcursor to execute the projection input
  go/vt/vtgate/engine/projection.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10414 Online DDL: support Instant DDL for change of column's DEFAULT
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10441 fixing vrepl_stress_suite flakyness
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10439 Tablet throttler: dynamic ThrottleMetricThreshold
  go/vt/vttablet/tabletserver/throttle/config/config.go
  go/vt/vttablet/tabletserver/throttle/config/mysql_config.go
  go/vt/vttablet/tabletserver/throttle/config/store_config.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10444 [vtadmin] authz tests - getters part2
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/main.go
  go/vt/vtadmin/testutil/authztestgen/template.go
  go/vt/vtadmin/testutil/cluster.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10350 Release notes documents for `v12.0.4` on `main`
  doc/releasenotes/12_0_4_release_notes.md
Labels: Component: General, release notes none, Type: Release

#10423 Use Durability Policy in the topo server in VTOrc and deprecate Durability config
  examples/compose/orchestrator/default.json
  examples/operator/vtorc_example.yaml
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/gracefultakeover/graceful_takeover_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/db/generate_base.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/inst/analysis_dao_test.go
  go/vt/orchestrator/inst/durability.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_topology_dao.go
  go/vt/orchestrator/inst/keyspace_dao.go
  go/vt/orchestrator/inst/keyspace_dao_test.go
  go/vt/orchestrator/inst/tablet_dao.go
  go/vt/orchestrator/logic/keyspace_discovery.go
  go/vt/orchestrator/logic/keyspace_discovery_test.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/tablet_discovery.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/test/recovery_analysis.go
  go/vt/topo/keyspace.go
  go/vt/topotools/keyspace.go
  vitess-mixin/e2e/orchestrator/default.json
Labels: Type: Enhancement, Component: Cluster management, release notes (needs details), Skip Upgrade Downgrade

#10408 topo: cache CellInfo along with conn
  .github/workflows/cluster_endtoend_topo_connection_cache.yml
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
  go/vt/topo/server.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Cluster management, release notes

#10392 Add durability policy changes to the summary
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Documentation, release notes none, Component: Documentation, Skip Upgrade Downgrade

#10445 Formalize MySQL capabilities by flavor/version
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/analysis_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10449 [vtadmin] authz tests - getters part3
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Component: VTAdmin, Type: Testing, release notes none, Skip Upgrade Downgrade

#10448 Change use_super_read_only default back to false
  go/flags/endtoend/flags_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Bug, Component: Query Serving, release notes

#10450 Halve request and double limit for RAM in the example cluster
  examples/operator/101_initial_cluster.yaml
Labels: Type: Enhancement, Component: Examples, release notes

#10416 Improve performance of the `DetectSchemaChange` query
  go/mysql/schema.go
Labels: Type: Performance, Component: Schema Tracker, release notes

#10186 enhancement: handle advisory locks
  go/test/endtoend/vtgate/reservedconn/get_lock_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/lock_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/lock_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/pool_unsafe_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
  proto/vtgate.proto
Labels: Type: Enhancement, Component: Query Serving, release notes

#10452 Divide query serving upgrade downgrade tests in two groups to limit disk usage per workflow
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  go/test/endtoend/vtgate/schema/schema_test.go
  test/config.json
Labels: Component: Query Serving, Type: Testing, release notes none

#10451 Flavor capabilities: MySQL GR and more
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Component: General, Skip Upgrade Downgrade

#10460 [vtadmin] Rename ERS/PRS pools+flags properly
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10458 Post release `v14.0.0-RC1` steps
  doc/releasenotes/14_0_0_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, release notes none, Skip Upgrade Downgrade, Type: Release

#10453 fix: change planner_version to planner-version everywhere
  docker/vttestserver/run.sh
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/flags_test.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/tabletmanager/qps_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/partialfailure/main_test.go
  go/vt/env/env.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Backport me!, Component: Query Serving, release notes

#10469 Add support for alter table rename column
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10471 Update the comment for review checklist with an item for CI workflows
  .github/workflows/comment_pull_request.yml
Labels: Backport me!, Type: CI/Build, Component: Governance, release notes none

#10468 docs: added to the release notes
  .github/workflows/static_checks_etc.yml
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Documentation, forward port, Component: Governance, release notes none

#10465 fix: scalar aggregation engine primitive
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10462 Rename ERS/PRS pools+flags properly (#10460)
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
Labels: Type: Internal Cleanup, Component: VTAdmin, Backport, release notes, Skip Upgrade Downgrade

#10457 [vtadmin] authz tests - tablet actions
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
Labels: Backport me!, Component: VTAdmin, Type: Testing, release notes, Skip Upgrade Downgrade

#10459 Remove sharding_column_name and sharding_column_type from vtctld2
  go/test/endtoend/vtctldweb/vtctld_web_test.go
  web/vtctld2/app/index.html
  web/vtctld2/app/inline.js
  web/vtctld2/app/main.4f05e5457c6dec67dde5.bundle.js
  web/vtctld2/app/main.4f05e5457c6dec67dde5.bundle.js.gz
  web/vtctld2/app/main.bbd046af7028149e10ca.bundle.js
  web/vtctld2/app/main.bbd046af7028149e10ca.bundle.js.gz
  web/vtctld2/app/styles.38b88af69dfd283498eb.bundle.js
  web/vtctld2/app/styles.38b88af69dfd283498eb.bundle.js.gz
  web/vtctld2/package-lock.json
  web/vtctld2/src/app/api/keyspace.service.ts
  web/vtctld2/src/app/dashboard/dashboard.component.ts
  web/vtctld2/src/app/shared/flags/keyspace.flags.ts
Labels: Type: Internal Cleanup, release notes, Component: web UI

#10472 schemadiff: `ColumnRenameStrategy` in DiffHints
  go/vt/schemadiff/column.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10466 backport: change planner_version to planner-version everywhere
  docker/vttestserver/run.sh
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/flags_test.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/tabletmanager/qps_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/partialfailure/main_test.go
  go/vt/env/env.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Component: Query Serving, Backport, release notes

#10479 schemadiff: TableRenameStrategy in DiffHints
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10480 fix: aggregation empty row on join with grouping and aggregations
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10483 [vtadmin] Document known issue with node versions 17+
  web/vtadmin/README.md
Labels: Type: Documentation, Backport me!, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#10482 OnlineDDL executor: adding log entries
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10481 [vtadmin] Add authz tests for remaining non-schema related actions
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  web/vtadmin/package-lock.json
Labels: Backport me!, Component: VTAdmin, Type: Testing, release notes, Skip Upgrade Downgrade

#10486 [vtadmin] Add schema-related authz tests
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Component: VTAdmin, Type: Testing, release notes, Skip Upgrade Downgrade, Backport to: release-14.0

#10488 deprecation of CreateKeyspace flags
  doc/releasenotes/14_0_0_summary.md
  go/cmd/vtctldclient/command/keyspaces.go
  go/vt/vtctl/vtctl.go
Labels: Type: Announcement, release notes, Component: CLI

#10487 [backport] [vtadmin] Add remaining authz tests
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
  go/vt/vtadmin/testutil/authztestgen/template.go
  go/vt/vtadmin/vtctldclient/fakevtctldclient/vtctldclient.go
  web/vtadmin/package-lock.json
Labels: Component: VTAdmin, Type: Testing, Backport, release notes, Skip Upgrade Downgrade

#10347 Refactor aggregation AST structs
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/vault/vault_server.go
  go/test/endtoend/vault/vault_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/abstract/queryprojection_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/symtab.go
  go/vt/vtgate/planbuilder/symtab_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/simplifier/simplifier_test.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/vdiff.go
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes (needs details)

#10500 Reduce shift-reduce conflicts
  .github/workflows/static_checks_etc.yml
  go/vt/sqlparser/sql.y
  tools/check_make_parser.sh
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10506 feat: don't stop if compilation errors are happening on the generated files
  go/tools/asthelpergen/asthelpergen.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#10502 [vtctldclient] Update CLI docs for usages, flags, and aliases
  go/cmd/vtctldclient/command/backups.go
  go/cmd/vtctldclient/command/cells.go
  go/cmd/vtctldclient/command/keyspaces.go
  go/cmd/vtctldclient/command/legacy_shim.go
  go/cmd/vtctldclient/command/reparents.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/routing_rules.go
  go/cmd/vtctldclient/command/schema.go
  go/cmd/vtctldclient/command/serving_graph.go
  go/cmd/vtctldclient/command/shards.go
  go/cmd/vtctldclient/command/tablets.go
  go/cmd/vtctldclient/command/vschemas.go
  go/cmd/vtctldclient/command/workflows.go
Labels: Type: Documentation, release notes, Component: Documentation, Skip Upgrade Downgrade, Component: CLI, Backport to: release-14.0

#10509 [backport] [vtctldclient] Update CLI docs for usages, flags, and aliases (#10502)
  go/cmd/vtctldclient/command/backups.go
  go/cmd/vtctldclient/command/cells.go
  go/cmd/vtctldclient/command/keyspaces.go
  go/cmd/vtctldclient/command/legacy_shim.go
  go/cmd/vtctldclient/command/reparents.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/routing_rules.go
  go/cmd/vtctldclient/command/schema.go
  go/cmd/vtctldclient/command/serving_graph.go
  go/cmd/vtctldclient/command/shards.go
  go/cmd/vtctldclient/command/tablets.go
  go/cmd/vtctldclient/command/vschemas.go
  go/cmd/vtctldclient/command/workflows.go
Labels: Type: Documentation, Backport, release notes, Skip Upgrade Downgrade, Component: CLI

#10512 Fix parsing of CAST() statements
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes, Skip Upgrade Downgrade, Backport to: release-14.0

#10514 Add back unary single column expression check
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/horizon_planning.go
Labels: Type: Bug, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#10504 Take into account `github.ref` when doing upgrade-downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  tools/get_previous_release.sh
Labels: Component: Build/CI, Backport me!, Type: CI/Build, release notes none

#10508 Rework how the `release notes` labels are handled by the CI
  .github/workflows/comment_pull_request.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release_notes_label.yml
Labels: Component: Build/CI, Backport me!, Type: CI/Build, Type: Release

#10518 Backport to release-14: Remove logging in GetDurabilityPolicy #10516
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/durability.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/wrangler/reparent.go
Labels: Type: Internal Cleanup, Component: Cluster management, Backport, Component: VTorc, release notes none

#10517 Backport to release-14: Fix parsing of CAST() statements #10512 and #10514
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/ordering.go
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10473 Add review checklist on `release-13.0`
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none, Skip Upgrade Downgrade

#10530 [12.0] Rework the generation of the release notes
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none, Type: Release

#10529 [11.0] Rework the generation of the release notes
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none, Type: Release

#10534 fix: handle planner_version and planner-version correctly
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/env/env.go
  go/vt/env/env_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#10538 [vtadmin/tests] Serialize Schema test cases to avoid cache backfill races
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
Labels: Component: VTAdmin, Type: Testing, release notes, Skip Upgrade Downgrade, Backport to: release-14.0

#10541 Fixing flaky vtctld2 web test
  go/test/endtoend/vtctldweb/vtctld_web_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Type: Testing, Component: web UI, release notes none, Skip Upgrade Downgrade, go

#10528 [14.0] Rework how the `release notes` labels are handled by the CI
  .github/workflows/comment_pull_request.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release_notes_label.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, Type: Release

#10527 [13.0] Rework how the `release notes` labels are handled by the CI
  .github/workflows/comment_pull_request.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release_notes_label.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, Type: Release

#10525 [11.0] Rework how the `release notes` labels are handled by the CI + review checklist
  .github/workflows/comment_pull_request.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release_notes_label.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, Type: Release

#10526 [12.0] Rework how the `release notes` labels are handled by the CI + review checklist
  .github/workflows/comment_pull_request.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release_notes_label.yml
Labels: Component: Build/CI, Type: CI/Build, Backport, Type: Release

#10523 [13.0] Take into account `github.ref` when doing upgrade-downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  tools/get_previous_release.sh
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none

#10485 Modified the Pull Request review checklist to check for explicit Pull Request titles
  .github/workflows/comment_pull_request.yml
Labels: Component: Build/CI, Backport me!, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#10513 [vtadmin] Add authzdocsgen to generate some website docs
  go/vt/vtadmin/testutil/authztestgen/functions.go
  go/vt/vtadmin/testutil/authztestgen/main.go
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Type: Documentation, Component: VTAdmin, release notes none, Skip Upgrade Downgrade

#10484 [backport] Document known issue with node versions 17+ (#10483)
  web/vtadmin/README.md
Labels: Type: Documentation, Component: VTAdmin, Backport, release notes, Skip Upgrade Downgrade

#10503 Fix upgrade-downgrade build on `release-13.0`
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#10532 [14.0] Rework the generation of the release notes
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none, Type: Release

#10493 Fix: handle all cases for consistent lookup unique on single transaction mode
  go/test/endtoend/vtgate/transaction/single/main_test.go
  go/test/endtoend/vtgate/transaction/single/schema.sql
  go/test/endtoend/vtgate/transaction/single/vschema.json
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  proto/vtgate.proto
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10507 Cleanup: Remove 'Name' field from aggregate structure
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/symtab_test.go
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#10386 Fix schema engine close and ticks race
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: TabletManager, release notes

#10553 [14.0] fix: scalar aggregation engine primitive
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes

#10548 Release notes on query serving
  doc/releasenotes/14_0_0_summary.md
Labels: Type: Documentation, Component: Query Serving

#10555 [vtadmin] fix flaky GetSchemas test cases
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Component: VTAdmin, Type: Testing, release notes, Backport to: release-14.0

#10554 [14.0] fix: aggregation empty row on join with grouping and aggregations
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport, release notes, Skip Upgrade Downgrade

#10560 [backport] use individual API instances for certain test cases (#10555)
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/testutil/authztestgen/template.go
Labels: Component: VTAdmin, Type: Testing, Backport, release notes, Skip Upgrade Downgrade

#10519 Fix panic in VTOrc
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_test.go
Labels: Type: Bug, Component: VTorc, release notes, Backport to: release-14.0

#10467 Use introduced tablet manager RPCs in VTOrc
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/orchestrator/db/generate_patches.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_dao_test.go
  go/vt/orchestrator/inst/replication_thread_state.go
  go/vt/orchestrator/inst/tablet_dao.go
  go/vt/orchestrator/logic/topology_recovery.go
  test/config.json
Labels: Type: Internal Cleanup, Component: Cluster management, Component: VTorc, release notes

#10557 Remove @doeg from a subset of CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Internal Cleanup, Component: General, release notes none, Skip Upgrade Downgrade

#10443 Throttler: stats in /debug/vars
  doc/releasenotes/14_0_0_summary.md
  go/stats/counter.go
  go/stats/counter_map.go
  go/stats/counter_map_test.go
  go/stats/counter_test.go
  go/stats/opentsdb/opentsdb.go
  go/stats/prometheusbackend/prometheusbackend.go
  go/stats/prometheusbackend/prometheusbackend_test.go
  go/stats/statsd/statsd.go
  go/stats/statsd/statsd_test.go
  go/textutil/strings.go
  go/textutil/strings_test.go
  go/vt/servenv/exporter.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_throttle_metric.go
Labels: Type: Enhancement, Component: Cluster management, release notes, Skip Upgrade Downgrade

#10552 vtctl GetSchema --table_schema_only
  doc/releasenotes/15_0_0_release_notes.md
  go/cmd/vtctldclient/command/schema.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/schema.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache_test.go
  go/vt/vtadmin/cluster/trace.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/schematools/diff.go
  go/vt/vtctl/schematools/schematools.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_schema.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_clone.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/resharder_env_test.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_env_test.go
  go/vt/wrangler/wrangler_env_test.go
  proto/tabletmanagerdata.proto
  proto/vtctldata.proto
Labels: Type: Enhancement, Component: Cluster management, release notes, Skip Upgrade Downgrade

#10559 VReplication: more unrecoverable error codes
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime-2/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime-2/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime-2/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-utf8-to-datetime/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8-to-datetime/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/utf8-to-datetime/create.sql
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving, release notes, Skip Upgrade Downgrade

#10564 Backport to release-14: Fix panic in VTOrc (#10519)
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_test.go
Labels: Type: Bug, Backport, Component: VTorc, release notes, Skip Upgrade Downgrade

#10572 Throttler stats: amendment
  doc/releasenotes/14_0_0_summary.md
  doc/releasenotes/15_0_0_summary.md
Labels: Type: Documentation, Backport me!, release notes, Component: Documentation, Skip Upgrade Downgrade, Backport to: release-14.0

#10429 Fail VReplication workflows on errors that persist and unrecoverable errors
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/last_error.go
  go/vt/vttablet/tabletmanager/vreplication/last_error_test.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Enhancement, Backport me!, Component: VReplication, release notes, Skip Upgrade Downgrade

#10568 update golangci-lint to 1.46.2
  .github/workflows/static_checks_etc.yml
  .golangci.yml
  go/mysql/conn_flaky_test.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/vtorc/utils/utils.go
  go/tools/release-notes/release_notes.go
  go/vt/grpcclient/client.go
  go/vt/grpcclient/client_flaky_test.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/vtadmin/grpcserver/server_test.go
  go/vt/vtadmin/vtctldclient/proxy.go
  go/vt/vtadmin/vtsql/vtsql.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  misc/git/hooks/golangci-lint
Labels: Type: Internal Cleanup, Component: Build/CI

#10522 [14.0] Take into account `github.ref` when doing upgrade-downgrade tests
  .github/workflows/static_checks_etc.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  tools/get_previous_release.sh
Labels: Component: Build/CI, Type: CI/Build, Backport, release notes none

#10571 VStream API: Fix vtgate memory leaks when context gets cancelled
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade, Backport to: release-14.0

#10576 Cherry pick of VStream API: Fix vtgate memory leaks when context gets cancelled
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication, Backport, release notes

#10574 Fixed the release notes CI check helper
  .github/workflows/release_notes_label.yml
Labels: Type: Bug, Component: Build/CI, Backport me!, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0, Backport to: release-11.0

#10543 add vtadmin docker image
  .dockerignore
  docker/k8s/vtadmin/Dockerfile
  docker/release.sh
  go/vt/vtadmin/README.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/public/config/config.js
  web/vtadmin/public/index.html
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/Settings.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/errors/bugsnag.ts
  web/vtadmin/src/errors/errorHandler.ts
  web/vtadmin/src/hooks/useDocumentTitle.ts
  web/vtadmin/src/react-app-env.d.ts
  web/vtadmin/src/util/env.ts
Labels: Type: Feature Request, Component: Build/CI, Component: VTAdmin, release notes, Backport to: release-14.0

#10455 enable schema tracking by default
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10580 add vtadmin docker image (#10543)
  .dockerignore
  docker/k8s/vtadmin/Dockerfile
  docker/release.sh
  go/vt/vtadmin/README.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/public/config/config.js
  web/vtadmin/public/index.html
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/Settings.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/errors/bugsnag.ts
  web/vtadmin/src/errors/errorHandler.ts
  web/vtadmin/src/hooks/useDocumentTitle.ts
  web/vtadmin/src/react-app-env.d.ts
  web/vtadmin/src/util/env.ts
Labels: Component: VTAdmin, Type: CI/Build

#10581 add vtadmin web files to all lite images
  docker/lite/Dockerfile.alpine
  docker/lite/Dockerfile.mariadb
  docker/lite/Dockerfile.mariadb103
  docker/lite/Dockerfile.mysql80
  docker/lite/Dockerfile.percona57
  docker/lite/Dockerfile.percona80
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
Labels: Component: Build/CI, Type: CI/Build

#10497 VDiff2: Support Resuming VDiffs
  doc/releasenotes/15_0_0_summary.md
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/wrangler/vdiff2.go
Labels: Type: Enhancement, Backport me!, Component: VReplication, Backport to: release-14.0

#10589 Backport: VDiff2: Support Resuming VDiffs
  doc/releasenotes/14_0_0_summary.md
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vdiff2.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/report.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/wrangler/vdiff2.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication, release notes

#10583 Removed the check label in upgrade downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Backport me!, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-12.0

#10584 add vtadmin web files to all lite images (#10581)
  docker/lite/Dockerfile.alpine
  docker/lite/Dockerfile.mariadb
  docker/lite/Dockerfile.mariadb103
  docker/lite/Dockerfile.mysql80
  docker/lite/Dockerfile.percona57
  docker/lite/Dockerfile.percona80
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
Labels: Component: Build/CI, Type: CI/Build

#10578 Cleanup: un-explode GetSchema and reuse GetSchemaRequest struct
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/schema.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/schematools/diff.go
  go/vt/vtctl/schematools/schematools.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_schema.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  go/vt/worker/multi_split_diff.go
  go/vt/worker/split_clone.go
  go/vt/worker/split_diff.go
  go/vt/worker/vertical_split_diff.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/resharder_env_test.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_env_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Internal Cleanup, Component: Cluster management, release notes

#10463 tablegc test to utilize new capability logic
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
Labels: Component: Build/CI, Type: CI/Build, release notes

#10521 Make etcd based tests more deterministic and surface errors
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/vreplication/cluster_test.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#10593 Add support for INSERT() string function
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
Labels: Type: Bug, Component: Query Serving, release notes

#10569 [14.0] Update and prepare the `v14.0.0` summary
  doc/releasenotes/14_0_0_summary.md
Labels: forward port, Backport, Component: General, Type: Release

#10427 Add SessionUUID and transaction mark to vtgate query logs
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/logstats.go
  go/vt/vtgate/logstats_test.go
  go/vt/vtgate/querylogz.go
  go/vt/vtgate/querylogz_test.go
Labels: Type: Enhancement, Component: Observability, release notes

#10602 Addition of the v14 release notes documents
  doc/releasenotes/14_0_0_changelog.md
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
Labels: Component: Build/CI, Type: Release

#10600 Post release 14.0.0 updates
  doc/releasenotes/14_0_0_changelog.md
  doc/releasenotes/14_0_0_release_notes.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: Release

#10605 Revert snapshot incrementation in release-14.0
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#10604 [14.0] fix: handle planner_version and planner-version correctly
  go/cmd/vtcombo/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vttestserver/main.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/env/env.go
  go/vt/env/env_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#10610 Allow manual workflow_dispatch for close_stale_pull_requests
  .github/workflows/close_stale_pull_requests.yml
Labels: Component: Build/CI, Type: CI/Build, release notes

#10606 Addition of the v14 release docs on main
  doc/releasenotes/14_0_0_changelog.md
  doc/releasenotes/14_0_0_release_notes.md
Labels: Component: General, Type: Release

#10599 Parse INTERVAL() function
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving, release notes

#10607 Release of v14.0.0 on release-14.0
  doc/releasenotes/14_0_0_changelog.md
  doc/releasenotes/14_0_0_release_notes.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#10426 Make vtgate streamlog buffer configurable
  go/flags/endtoend/vtgate.txt
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/querylog.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10611 release notes: schema tracking no longer experimental
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
Labels: forward port, release notes, Component: Documentation, Type: Release

#10615 Online DDL: even more logging
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#10625 Remove @doeg from maintainers
  MAINTAINERS.md
Labels: Type: Internal Cleanup, Component: General, release notes none
