Repository vitessio/vitess, pull requests merged in 2022-11, with the labels that each got.

#11609 endtoend: fix dbconfig initialization for endtoend tests
  go/test/endtoend/utils/mysql.go
Labels: Type: Internal Cleanup, Type: Testing, Component: General

#11606 [refactor planner] Columns and predicates on operators
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/node.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11589 [cherry-pick]Removing redundant flags across binaries (#11522)
  go/cmd/vtgate/vtgate.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/discovery/healthcheck.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/mycnf_gen.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/servenv/mysql.go
  go/vt/topo/topoproto/flag.go
  go/vt/vtctld/vtctld.go
  go/vt/vtctld/workflow.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: General

#11538 add option to disable lookup read lock
  go/test/endtoend/vtgate/vindex_bindvars/main_test.go
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/lookup_internal.go
Labels: Type: Enhancement, Component: Query Serving

#11602 vtgate: route create table statements to vschema keyspace
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
Labels: Type: Enhancement, Component: Query Serving

#11620 [ForwardPort] Deprecate InitShardPrimary command (#11557)
  go/cmd/vtctldclient/command/reparents.go
  go/flags/endtoend/vtctldclient.txt
  go/vt/vtctl/reparent.go
Labels: Type: Internal Cleanup, Component: Cluster management

#11503 Orchestrator Integration Removal and `orc_client_user` removal
  config/init_db.sql
  doc/releasenotes/16_0_0_summary.md
  examples/compose/config/init_db.sql
  go/vt/vttablet/tabletmanager/orchestrator.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  vitess-mixin/e2e/config/init_db.sql
Labels: Type: Internal Cleanup, Component: Cluster management

#11624 [14.0] Fix JSON functions parsing
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, Backport

#11610 Mention the `--db-config-*-*` flag in the release notes
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
Labels: Component: General, Type: Release, Forwardport to: main

#11631 normalize more expressions
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Labels: Type: Enhancement, Component: Query Serving

#11628 Docker Image Context Fix
  doc/internal/ReleaseInstructions.md
  docker/k8s/logrotate/Dockerfile
  docker/k8s/logtail/Dockerfile
  docker/k8s/vtadmin/Dockerfile
  docker/release.sh
Labels: Type: Bug, Component: Build/CI, Backport to: release-15.0

#11622 Move horizon planning to operators
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/compact.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/logical.go
  go/vt/vtgate/planbuilder/operators/node.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/operator_test_data.txt
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Enhancement, Component: Query Serving

#11635 deprecate V3 planner
  doc/releasenotes/16_0_0_summary.md
  go/vt/vtgate/planbuilder/plancontext/vschema.go
Labels: Type: Announcement, Component: Query Serving

#11253 Online DDL: more (async) log visibility into cut-over phase
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11645 Fix generating invalid alter table for comments
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving

#11647 [13.0] ApplySchema: allow-zero-in-date embedded as query comment in call to ExecuteFetchAsDba (#9998)
  go/test/endtoend/vtgate/schema/schema_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vttablet/tabletmanager/rpc_query.go
Labels: Type: Bug, Component: Query Serving, Backport

#11650 sqltypes: handle leading zeroes
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/sqlparser/normalizer_test.go
Labels: Type: Bug, Component: Query Serving

#11663 Online DDL: normalize/idempotentize CHECK CONSTRAINTs in ALTER TABLE statement
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#11661 Remove unused ioutil2 code
  go/ioutil2/ioutil.go
  go/ioutil2/ioutil_test.go
Labels: Type: Internal Cleanup, Component: General

#11633 Do not multiply `AggregateRandom` in `JOIN`s
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
  doc/releasenotes/14_0_1_release_notes.md
  doc/releasenotes/14_0_1_summary.md
  doc/releasenotes/14_0_2_release_notes.md
  doc/releasenotes/14_0_2_summary.md
  doc/releasenotes/14_0_3_release_notes.md
  doc/releasenotes/14_0_3_summary.md
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
  doc/releasenotes/16_0_0_summary.md
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0

#11611 Removing SharedPitr_tls and Backup_transfrom test from CI
  .github/workflows/cluster_endtoend_26.yml
  .github/workflows/cluster_endtoend_vtbackup.yml
  go/test/endtoend/backup/transform/backup_transform_test.go
  go/test/endtoend/backup/transform/backup_transform_utils.go
  go/test/endtoend/backup/transform/mysqlctld/backup_transform_mysqlctld_test.go
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#11460 vitess Online DDL atomic cut-over
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving

#11671 [release-14.0] Do not multiply `AggregateRandom` in JOINs
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
  doc/releasenotes/14_0_1_release_notes.md
  doc/releasenotes/14_0_1_summary.md
  doc/releasenotes/14_0_2_release_notes.md
  doc/releasenotes/14_0_2_summary.md
  doc/releasenotes/14_0_3_release_notes.md
  doc/releasenotes/14_0_3_summary.md
  doc/releasenotes/14_0_4_summary.md
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#11672 [release-15.0] Do not multiply `AggregateRandom` in JOINs
  doc/releasenotes/14_0_0_release_notes.md
  doc/releasenotes/14_0_0_summary.md
  doc/releasenotes/14_0_1_release_notes.md
  doc/releasenotes/14_0_1_summary.md
  doc/releasenotes/14_0_2_release_notes.md
  doc/releasenotes/14_0_2_summary.md
  doc/releasenotes/14_0_3_release_notes.md
  doc/releasenotes/14_0_3_summary.md
  doc/releasenotes/15_0_0_release_notes.md
  doc/releasenotes/15_0_0_summary.md
  doc/releasenotes/15_0_1_summary.md
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#11675 schemadiff: normalize index option value (string)
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving

#11656 Send errors in stream instead of a grpc error from streaming rpcs when transaction or reserved connection is acquired
  go/test/endtoend/reparent/prscomplex/main_test.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11677 Leverage pFlag's Changed function to detect user specified flag
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Component: VReplication, Trivial

#11103 VSCopy: Resume the copy phase consistently from given GTID and lastpk
  doc/releasenotes/16_0_0_summary.md
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
Labels: Type: Enhancement, Component: VReplication

#11687 [15.0] Send errors in stream instead of a grpc error from streaming rpcs when transaction or reserved connection is acquired
  go/test/endtoend/reparent/prscomplex/main_test.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11689 don't reuse bindvars for LIMIT and OFFSET
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Labels: Type: Enhancement, Component: Query Serving

#11680 planner operators refactoring
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/compact.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/logical.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11691 improve handling of ORDER BY/HAVING rewriting
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0

#11692 [13.0] Send errors in stream instead of a grpc error from streaming rpcs when transaction or reserved connection is acquired
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletconntest/tabletconntest.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11269 Create new api for topo lock shard exists
  go/vt/topo/conn.go
  go/vt/topo/consultopo/lock.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/etcd2topo/server_test.go
  go/vt/topo/faketopo/faketopo.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/helpers/tee_topo_test.go
  go/vt/topo/k8stopo/lock.go
  go/vt/topo/k8stopo/server_flaky_test.go
  go/vt/topo/locks.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/server_test.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/test/lock.go
  go/vt/topo/test/shard.go
  go/vt/topo/test/testing.go
  go/vt/topo/test/trylock.go
  go/vt/topo/zk2topo/lock.go
  go/vt/topo/zk2topo/server_test.go
  go/vt/vtorc/logic/tablet_discovery.go
Labels: Type: Enhancement, Component: Cluster management

#11694 update jsonparser dependency
  .github/pull_request_template.md
  go.mod
  go.sum
Labels: dependencies, Component: VReplication, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11601 Speedup DDLs by not reloading table size stats
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb_binlog_playback.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Component: Query Serving, Type: Performance, Component: Online DDL

#11673 add support for transaction isolation level and make it vitess aware setting
  go/test/endtoend/vtgate/transaction/schema.sql
  go/test/endtoend/vtgate/transaction/trxn_test.go
  go/test/endtoend/vtgate/transaction/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/testdata/set_cases.json
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Type: Enhancement, Component: Query Serving

#11252 unit test: use require and assert
  go/mysql/auth_server_clientcert_test.go
  go/mysql/auth_server_static_flaky_test.go
  go/mysql/binlog_event_common_test.go
  go/mysql/binlog_event_make_test.go
  go/mysql/binlog_event_mariadb_test.go
  go/mysql/binlog_event_mysql56_test.go
  go/mysql/binlog_event_test.go
  go/mysql/collations/golden_test.go
  go/mysql/collations/integration/charset_test.go
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/collations/integration/helpers_test.go
  go/mysql/collations/uca_contraction_test.go
  go/mysql/collations/uca_tables_test.go
  go/mysql/collations/uca_test.go
  go/mysql/collations/wildcard_test.go
  go/mysql/conn_flaky_test.go
  go/mysql/constants_test.go
  go/mysql/encoding_test.go
  go/mysql/endtoend/client_test.go
  go/mysql/endtoend/main_test.go
  go/mysql/endtoend/query_test.go
  go/mysql/endtoend/replication_test.go
  go/mysql/flavor_mariadb_test.go
  go/mysql/flavor_mysql_test.go
  go/mysql/gtid_test.go
  go/mysql/handshake_test.go
  go/mysql/ldapauthserver/auth_server_ldap_test.go
  go/mysql/mariadb_gtid_test.go
  go/mysql/mysql56_gtid_set_test.go
  go/mysql/mysql56_gtid_test.go
  go/mysql/query_test.go
  go/mysql/replication_position_test.go
  go/mysql/replication_test.go
  go/mysql/server_flaky_test.go
Labels: Component: Build/CI, Type: CI/Build

#11708 Readable plan tests
  go.mod
  go.sum
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Component: Query Serving, Type: Testing

#11711 added code owners for go.mod and go.sum files
  .github/CODEOWNERS
Labels: Type: CI/Build, Component: Governance

#11676 [release-15.0] Use `go1.19.3` in the upgrade/downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  go.sum
Labels: Component: Build/CI, Type: Testing, go

#11709 query timeout hints in unsharded cases
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/uschema.sql
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving

#11712 Addition of a CI tool to detect dead links in test/config.json (#11668)
  .github/workflows/static_checks_etc.yml
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/tools/ci-config/main.go
  test/config.json
Labels: Type: Bug, Component: Build/CI, Backport

#11670 VReplication: escape identifiers when renaming source tables
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Bug, Component: VReplication

#11762 Add more codeowners to the `/test` directory
  .github/CODEOWNERS
Labels: Type: CI/Build, Component: Governance, Backport to: release-14.0, Backport to: release-15.0

#11765 rewrite predicates to expose routing opportunities
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.json
Labels: Type: Enhancement, Component: Query Serving

#11772 test: deflake TestQueryTimeoutWithTables
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Component: Query Serving, Type: Testing

#11713 Addition of a CI tool to detect dead links in test/config.json (#11668)
  .github/workflows/cluster_endtoend_vtgate_buffer.yml
  .github/workflows/static_checks_etc.yml
  go.sum
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/tools/ci-config/main.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Build/CI, Backport

#11741 Update all the Go dependencies
  go.mod
  go.sum
  go/sqltypes/result.go
  go/sqltypes/result_test.go
  go/stats/statsd/statsd_test.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/vtadmin/api_test.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, dependencies

#11781 CODEOWNERS: Add rohit to .github/workflows
  .github/CODEOWNERS
Labels: Type: Enhancement, Component: Build/CI

#11773 Fix some linter errors
  go/mysql/fakesqldb/server.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Internal Cleanup, Component: General

#11767 move react-scripts to dev dependencies
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, dependencies, javascript, Component: VTAdmin

#11760 Fix `codeql` workflow timeout issue
  .github/workflows/codeql_analysis.yml
Labels: Type: Bug, Component: Build/CI

#11683 Add VTAdmin folder to release package
  tools/make-release-packages.sh
Labels: Type: Bug, Component: VTAdmin, Release Blocker

#11787 Update test runners to run all tests including outside package
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
  tools/all_test_for_coverage.sh
  tools/e2e_test_cluster.sh
  tools/e2e_test_race.sh
  tools/e2e_test_runner.sh
  tools/unit_test_race.sh
  tools/unit_test_runner.sh
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Backport to: release-15.0

#11786 Push down derived tables under route when possible
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/derived/main_test.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#11796 Accept no more data in session state change as ok
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11790 Switch ApplySchema `--sql` argument to be `StringArray` instead of `StringSlice`
  go/cmd/vtctldclient/command/schema.go
  go/test/endtoend/vtctldclient/cli_test.go
Labels: Type: Bug, Component: vtctl, Backport to: release-15.0

#11789 Online DDL: adding error check; more verbose error messages
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#11804 Fix: return allowed transaction isolation level value on select query
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/safe_session.go
Labels: Type: Bug, Component: Query Serving

#11791 Update to latest etcd release
  bootstrap.sh
Labels: Component: Build/CI, Type: CI/Build

#11682 Add automation to change vitess version in the docker-release script
  tools/do_release.sh
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#11337 resource pool: resource max lifetime timeout
  config/tablet/default.yaml
  doc/releasenotes/16_0_0_summary.md
  go/flags/endtoend/vttablet.txt
  go/pools/resource_pool.go
  go/pools/resource_pool_test.go
  go/pools/rp_bench_test.go
  go/pools/rpc_pool.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/dbconnpool/pooled_connection.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#11803 Prepare the release notes summary for `v14.0.4`
  doc/releasenotes/14_0_4_summary.md
Labels: Component: Documentation, Type: Release

#11819 semantics: Use a BitSet
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/bitset/bitset.go
  go/vt/vtgate/semantics/bitset/bitset_test.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_set.go
  go/vt/vtgate/semantics/table_set_test.go
  go/vt/vtgate/semantics/tabletset.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vtgate/simplifier/simplifier.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#11812 Fix the golangci-lint config
  .golangci.yml
Labels: Component: Build/CI, Type: CI/Build

#11821 Consistent sorting in Online DDL Vrepl suite test
  go/test/endtoend/onlineddl/vrepl_suite/testdata/different-pk-int-to-text/order_by
Labels: Component: Query Serving, Type: CI/Build, Backport to: release-15.0

#11827 Trigger OnlineDDL workflow when test data changes
  .github/workflows/cluster_endtoend_onlineddl_declarative.yml
  .github/workflows/cluster_endtoend_onlineddl_declarative_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_ghost.yml
  .github/workflows/cluster_endtoend_onlineddl_ghost_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_revert.yml
  .github/workflows/cluster_endtoend_onlineddl_revert_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_revertible.yml
  .github/workflows/cluster_endtoend_onlineddl_revertible_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_scheduler.yml
  .github/workflows/cluster_endtoend_onlineddl_scheduler_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite_mysql57.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl_mysql57.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler_topo.yml
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
Labels: Type: Bug, Component: Build/CI, Backport to: release-14.0, Backport to: release-15.0

#11823 BugFix: Escaping Percentage and Underscore require special handling
  go/sqltypes/value.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/token.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving

#11832 [release-15.0] codeowners: have at least two for almost every package (#11639)
  .github/CODEOWNERS
Labels: Type: CI/Build, Backport, Component: Governance

#11833 [release-14.0] codeowners: have at least two for almost every package (#11639)
  .github/CODEOWNERS
Labels: Type: CI/Build, Backport, Component: Governance

#11834 [release-15.0] collations: fix coercion semantics according to 8.0.31 changes (#11487)
  go/mysql/collations/coercion.go
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11835 [release-14.0] collations: fix coercion semantics according to 8.0.31 changes (#11487)
  go/mysql/collations/coercion.go
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11836 [release-13.0] collations: fix coercion semantics according to 8.0.31 changes (#11487)
  go/mysql/collations/coercion.go
  go/mysql/collations/integration/coercion_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#11838 Remove Tests from Self-hosted runners
  .github/workflows/cluster_endtoend_12.yml
  .github/workflows/cluster_endtoend_18.yml
  .github/workflows/cluster_endtoend_19.yml
  .github/workflows/cluster_endtoend_26.yml
  .github/workflows/cluster_endtoend_onlineddl_revert_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_revertible_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite_mysql80.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite_mysql80.yml
  .github/workflows/cluster_endtoend_resharding.yml
  .github/workflows/cluster_endtoend_resharding_bytes.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl_mysql80.yml
  .github/workflows/cluster_endtoend_shardedrecovery_stress_verticalsplit_heavy.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc_mysql80.yml
  .github/workflows/cluster_endtoend_vtorc_8.0.yml
  .github/workflows/cluster_endtoend_worker_vault_heavy.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build

#11839 Add instructions on how to fix a self-hosted runner running out of disk space
  GITHUB_SELF_HOSTED_RUNNERS.md
Labels: Component: Build/CI, Type: CI/Build

#11842 Fix closing the body for HTTP requests
  .golangci.yml
  go/test/endtoend/clustertest/main_test.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/clustertest/vtgate_test.go
  go/test/endtoend/clustertest/vttablet_test.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/vt/vtctld/api_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/workflow/long_polling_test.go
  go/vt/workflow/websocket_test.go
  test.go
Labels: Type: Bug, Component: Build/CI, Type: CI/Build, Component: TabletManager, Backport to: release-14.0, Backport to: release-15.0

#11837 [release-15.0] semantics: Use a BitSet (#11819)
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/physical/subquery_planning.go
  go/vt/vtgate/planbuilder/physical/union.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/bitset/bitset.go
  go/vt/vtgate/semantics/bitset/bitset_test.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_set.go
  go/vt/vtgate/semantics/table_set_test.go
  go/vt/vtgate/semantics/tabletset.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vtgate/simplifier/simplifier.go
Labels: Type: Bug, Component: Query Serving, Backport

#11848 Back to dev mode after v15.0.1
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11850 Release notes for 15.0.1
  doc/releasenotes/15_0_1_changelog.md
  doc/releasenotes/15_0_1_release_notes.md
  doc/releasenotes/15_0_1_summary.md
Labels: Component: General, Type: Release

#11849 Release notes summary of `14.0.4`
  doc/releasenotes/14_0_4_changelog.md
  doc/releasenotes/14_0_4_release_notes.md
  doc/releasenotes/14_0_4_summary.md
Labels: Component: Documentation, Type: Release

#11847 Release of v15.0.1
  doc/releasenotes/15_0_1_changelog.md
  doc/releasenotes/15_0_1_release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
Labels: Component: General, Type: Release

#11705 VReplication: Remove Deprecated V1 Client Commands
  doc/releasenotes/16_0_0_summary.md
  examples/region_sharding/205_switch_writes.sh
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/test/fuzzing/vtctl_fuzzer.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#11846 Release of v14.0.4
  doc/releasenotes/14_0_4_changelog.md
  doc/releasenotes/14_0_4_release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#11852 updating summary and release notes for v15.0.1
  doc/releasenotes/15_0_1_release_notes.md
  doc/releasenotes/15_0_1_summary.md
Labels: Component: Deployments, Component: General, Type: Release, Backport to: release-15.0

#11843 Simplify recursive data structure in CFC Vindex
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/cfc.go
  go/vt/vtgate/vindexes/cfc_test.go
Labels: Type: Bug, Component: Query Serving

#11854 Fix closing the body for HTTP requests (#11842)
  .golangci.yml
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/cluster/vtworker_process.go
  go/test/endtoend/clustertest/main_test.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/clustertest/vtgate_test.go
  go/test/endtoend/clustertest/vttablet_test.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/sharding/base_sharding.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/test/endtoend/worker/worker_test.go
  go/vt/vtctld/api_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/workflow/long_polling_test.go
  go/vt/workflow/websocket_test.go
  test.go
Labels: Type: Bug, Component: Build/CI, Type: CI/Build, Backport

#11853 Fix closing the body for HTTP requests (#11842)
  .golangci.yml
  go/test/endtoend/clustertest/main_test.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/clustertest/vtgate_test.go
  go/test/endtoend/clustertest/vttablet_test.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/vt/vtctld/api_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/workflow/long_polling_test.go
  go/vt/workflow/websocket_test.go
  test.go
Labels: Type: Bug, Component: Build/CI, Type: CI/Build, Backport

#11857 [cleanup] Explicitly include DDLStrategySetting in the sizegen target
  Makefile
Labels: Type: Internal Cleanup, Component: Online DDL
