Repository vitessio/vitess, pull requests merged in 2022-01, with the labels that each got.

#9437 Clear existing keyspace schema in vtgate before [re]loading it
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/update_controller.go
  go/vt/vtgate/schema/update_controller_flaky_test.go
Labels: Type: Bug, Component: Query Serving, release notes

#9432 OnlineDDL: fix race condition that could kill a migration prematurely
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving, release notes none

#9366 Steering committee doc
  GOVERNANCE.md
  STEERING.md
Labels: Type: Documentation, Component: Governance, release notes none

#9449 Fix linting issues in Vtorc
  go/cmd/vtorc/main.go
  go/vt/orchestrator/app/cli.go
  go/vt/orchestrator/app/http.go
  go/vt/orchestrator/attributes/attributes.go
  go/vt/orchestrator/attributes/attributes_dao.go
  go/vt/orchestrator/config/config.go
  go/vt/orchestrator/db/db.go
  go/vt/orchestrator/db/tls.go
  go/vt/orchestrator/discovery/aggregated.go
  go/vt/orchestrator/http/api.go
  go/vt/orchestrator/http/api_test.go
  go/vt/orchestrator/http/httpbase.go
  go/vt/orchestrator/http/web.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/audit.go
  go/vt/orchestrator/inst/audit_dao.go
  go/vt/orchestrator/inst/binlog.go
  go/vt/orchestrator/inst/cluster.go
  go/vt/orchestrator/inst/instance.go
  go/vt/orchestrator/inst/instance_binlog.go
  go/vt/orchestrator/inst/instance_dao.go
  go/vt/orchestrator/inst/instance_dao_test.go
  go/vt/orchestrator/inst/instance_key.go
  go/vt/orchestrator/inst/instance_key_map.go
  go/vt/orchestrator/inst/instance_key_map_test.go
  go/vt/orchestrator/inst/instance_test.go
  go/vt/orchestrator/inst/instance_topology.go
  go/vt/orchestrator/inst/instance_topology_dao.go
  go/vt/orchestrator/inst/instance_topology_test.go
  go/vt/orchestrator/inst/instance_utils.go
  go/vt/orchestrator/inst/maintenance.go
  go/vt/orchestrator/inst/maintenance_dao.go
  go/vt/orchestrator/inst/minimal_instance.go
  go/vt/orchestrator/inst/oracle_gtid_set.go
  go/vt/orchestrator/inst/oracle_gtid_set_entry.go
  go/vt/orchestrator/inst/postponed_functions.go
  go/vt/orchestrator/inst/process.go
  go/vt/orchestrator/inst/replication_thread_state.go
  go/vt/orchestrator/inst/resolve.go
  go/vt/orchestrator/inst/resolve_dao.go
  go/vt/orchestrator/inst/tag.go
  go/vt/orchestrator/kv/consul.go
  go/vt/orchestrator/kv/internal.go
  go/vt/orchestrator/kv/kv.go
  go/vt/orchestrator/kv/zk.go
  go/vt/orchestrator/logic/command_applier.go
  go/vt/orchestrator/logic/orchestrator.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/orchestrator/logic/topology_recovery_dao.go
  go/vt/orchestrator/os/process.go
  go/vt/orchestrator/process/health.go
  go/vt/orchestrator/process/health_dao.go
  go/vt/orchestrator/ssl/ssl.go
  go/vt/orchestrator/util/token.go
Labels: Type: Internal Cleanup, Component: VTorc, release notes (needs details)

#9405 Add vtadmin binary to release and Docker images
  Makefile
  docker/k8s/Dockerfile
  docker/lite/Dockerfile.mysql57
  tools/make-release-packages.sh
Labels: Component: Build/CI, Type: CI/Build, release notes

#9428 Subsharding vindex
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vindexes/binary.go
  go/vt/vtgate/vindexes/binarymd5.go
  go/vt/vtgate/vindexes/cfc.go
  go/vt/vtgate/vindexes/cfc_test.go
  go/vt/vtgate/vindexes/hash.go
  go/vt/vtgate/vindexes/multicol.go
  go/vt/vtgate/vindexes/multicol_test.go
  go/vt/vtgate/vindexes/numeric.go
  go/vt/vtgate/vindexes/numeric_static_map.go
  go/vt/vtgate/vindexes/reverse_bits.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
  go/vt/vtgate/vindexes/vindex.go
  go/vt/vtgate/vindexes/xxhash.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9465 [12.0] build(deps): bump log4j-api from 2.16.0 to 2.17.1 in /java
  java/pom.xml
Labels: dependencies, Component: Java, Backport, java, Type: Dependabot

#9464 [11.0] build(deps): bump log4j-api from 2.16.0 to 2.17.1 in /java
  java/pom.xml
Labels: dependencies, Component: Java, Backport, java, Type: Dependabot

#9463 [10.0] build(deps): bump log4j-api from 2.16.0 to 2.17.1 in /java
  java/pom.xml
Labels: dependencies, Component: Java, Backport, java, Type: Dependabot

#9335 Allow source columns to be specified multiple times in a vreplication rule filter
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/materialize_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  test/config.json
Labels: Type: Bug, Component: VReplication, release notes

#9458 vtctl: Allow ALTER VITESS_MIGRATION commands in sharded environment
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtctlutil.go
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Bug, Component: Cluster management, release notes none

#9466 Remove deprecated call for TLS config
  go/vt/orchestrator/ssl/ssl.go
  go/vt/topo/zk2topo/zk_conn.go
Labels: Type: Internal Cleanup, Component: Authn/z, release notes none

#9409 Use PRS in Vtorc for electing new primary
  go/mysql/replication_position.go
  go/mysql/replication_position_test.go
  go/vt/orchestrator/inst/analysis.go
  go/vt/orchestrator/inst/analysis_dao.go
  go/vt/orchestrator/logic/topology_recovery.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: VTorc, release notes

#9456 Fix parsing table name starting with a number.
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/token.go
  go/vt/sqlparser/token_test.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9471 Move reparent and vtorc tests to self-hosted runners
  .github/docker/cluster_test_14/Dockerfile
  .github/docker/cluster_test_vtorc/Dockerfile
  .github/workflows/cluster_endtoend_14.yml
  .github/workflows/cluster_endtoend_vtorc.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9443 Automatically minimize failing queries
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vtgate/simplifier/simplifier_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#9300 Upgrade Downgrade Testing
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes

#9475 Fuzzing round up
  go/mysql/collations/fuzz.go
  go/test/fuzzing/autogenerate/convert_grep_to_fuzzer.go
  go/test/fuzzing/oss_fuzz_build.sh
Labels: Component: Query Serving, Type: Testing, release notes none

#9457 Remove SSL cipher customization
  go/vt/orchestrator/ssl/ssl.go
  go/vt/vttls/vttls.go
Labels: Type: Enhancement, Component: General, release notes none

#9480 Temporarily Skip 'vstream from' test
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_vstream_test.go
Labels: Type: Bug, Component: VReplication, release notes none

#9468 [10.0] Update 10.0 release notes
  doc/releasenotes/10_0_0_release_notes.md
  doc/releasenotes/10_0_1_release_notes.md
  doc/releasenotes/10_0_2_release_notes.md
  doc/releasenotes/10_0_3_release_notes.md
  doc/releasenotes/10_0_3_summary.md
  doc/releasenotes/10_0_4_release_notes.md
  doc/releasenotes/10_0_4_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9487 Gen4Fallback bug fix
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/fallback_planner.go
  go/vt/vtgate/planbuilder/fallback_planner_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, release notes

#9421 [11.0] Updated the 11_0 release documents with latest known issues
  doc/releasenotes/11_0_0_release_notes.md
  doc/releasenotes/11_0_1_release_notes.md
  doc/releasenotes/11_0_2_release_notes.md
  doc/releasenotes/11_0_2_summary.md
  doc/releasenotes/11_0_3_release_notes.md
  doc/releasenotes/11_0_3_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9484 Make the MaxWaiters setting configurable for the OLAP pool.
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9347 Introduce rebootstrapSize for VTGR
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/config/vtgr_config.json
  go/vt/vtgr/config/vtgr_config_test.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/group.go
  go/vt/vtgr/controller/refresh.go
  go/vt/vtgr/controller/refresh_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/vtgr.go
  go/vt/vtgr/vtgr_test.go
Labels: Type: Enhancement, Component: Cluster management, release notes none

#9489 [11.0] Release `v11.0.4` changes
  doc/releasenotes/11_0_4_release_notes.md
  doc/releasenotes/11_0_4_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9490 [12.0] Release `v12.0.3` changes
  doc/releasenotes/12_0_3_release_notes.md
  doc/releasenotes/12_0_3_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9488 [10.0] Release `v10.0.5` changes
  doc/releasenotes/10_0_5_release_notes.md
  doc/releasenotes/10_0_5_summary.md
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9472 Update 10.0 release notes
  doc/releasenotes/10_0_0_release_notes.md
  doc/releasenotes/10_0_1_release_notes.md
  doc/releasenotes/10_0_2_release_notes.md
  doc/releasenotes/10_0_3_release_notes.md
  doc/releasenotes/10_0_3_summary.md
  doc/releasenotes/10_0_4_release_notes.md
  doc/releasenotes/10_0_4_summary.md
  doc/releasenotes/10_0_5_release_notes.md
  doc/releasenotes/10_0_5_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9491 Refactor of simplifier
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vtgate/simplifier/simplifier_test.go
Labels: Component: Query Serving, Type: Testing, release notes none

#9498 Fix how `Check Label` is run during upgrade downgrade testing
  .github/workflows/upgrade_downgrade_test_query_serving.yml
Labels: Type: Bug, Component: Build/CI, release notes none

#9492 Addition of v11.0.4 and v12.0.3 release notes to main
  doc/releasenotes/11_0_0_release_notes.md
  doc/releasenotes/11_0_1_release_notes.md
  doc/releasenotes/11_0_2_release_notes.md
  doc/releasenotes/11_0_2_summary.md
  doc/releasenotes/11_0_3_release_notes.md
  doc/releasenotes/11_0_3_summary.md
  doc/releasenotes/11_0_4_release_notes.md
  doc/releasenotes/11_0_4_summary.md
  doc/releasenotes/12_0_0_release_notes.md
  doc/releasenotes/12_0_0_summary.md
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
  doc/releasenotes/12_0_2_release_notes.md
  doc/releasenotes/12_0_2_summary.md
  doc/releasenotes/12_0_3_release_notes.md
  doc/releasenotes/12_0_3_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9418 evalengine: lazy!
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/arithmetic_expr.go
  go/vt/vtgate/evalengine/arithmetic_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/cardinality.go
  go/vt/vtgate/evalengine/casting_test.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/comparisons_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/decimal_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/evalengine.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/simplify.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9493 [VTAdmin] Update react-scripts, postcss
  web/vtadmin/craco.config.js
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/postcss.config.js
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/components/dataTable/PaginationNav.test.tsx
  web/vtadmin/src/components/routes/Tablets.test.tsx
  web/vtadmin/src/hooks/api.test.tsx
  web/vtadmin/src/hooks/useURLPagination.test.tsx
  web/vtadmin/src/util/tabletDebugVars.test.ts
  web/vtadmin/src/util/tokenize.test.ts
  web/vtadmin/src/util/tokenize.ts
Labels: Type: Enhancement, dependencies, Component: VTAdmin, release notes, Skip Upgrade Downgrade

#9503 Fix for context cancellation in ERS
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Labels: Type: Bug, Component: Cluster management, release notes

#9499 [12.0] Mirror the 12.0 release notes with the releases page and `main`
  doc/releasenotes/12_0_0_release_notes.md
  doc/releasenotes/12_0_0_summary.md
  doc/releasenotes/12_0_1_release_notes.md
  doc/releasenotes/12_0_1_summary.md
  doc/releasenotes/12_0_2_release_notes.md
  doc/releasenotes/12_0_2_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9365 vttablet: Better use of vtprotobuf memory pool
  go/vt/vttablet/grpctabletconn/conn.go
Labels: Component: Query Serving, Type: Performance, release notes

#9473 Add upgrade downgrade tests for reparent
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, release notes

#9454 Changed master to primary
  examples/compose/README.md
  examples/compose/client.go
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/external_db/README.md
  examples/compose/external_db/docker-compose.yml
  examples/compose/external_db/mysql/mysql56.cnf
  examples/compose/external_db/mysql/mysql57.cnf
  examples/compose/externaldb_vreplication.sh
  examples/compose/fix_replication.sh
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/compose/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: Examples, release notes

#9504 sizegen: add support for arrays
  go/mysql/collations/cached_size.go
  go/tools/sizegen/sizegen.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/vindexes/cached_size.go
Labels: Type: Enhancement, Component: General, release notes none

#9494 Add stats to track when a pool's waiter queue is full
  go/vt/vttablet/tabletserver/connpool/pool.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9506 Changed master to primary etc
  vitess-mixin/Makefile
  vitess-mixin/README.md
  vitess-mixin/dashboards/resources/grafonnet/texts.libsonnet
  vitess-mixin/e2e/docker-compose.beginners.yml
  vitess-mixin/e2e/docker-compose.vt.yml
  vitess-mixin/e2e/external_db/README.md
  vitess-mixin/e2e/external_db/docker-compose.yml
  vitess-mixin/e2e/external_db/mysql/mysql56.cnf
  vitess-mixin/e2e/external_db/mysql/mysql57.cnf
  vitess-mixin/e2e/externaldb_vreplication.sh
  vitess-mixin/e2e/fix_replication.sh
  vitess-mixin/e2e/load_test.sql
  vitess-mixin/e2e/vtcompose/docker-compose.test.yml
  vitess-mixin/e2e/vtcompose/vtcompose.go
  vitess-mixin/e2e/vttablet-up.sh
  vitess-mixin/scripts/fmt.sh
  vitess-mixin/scripts/vitess-mixin-plan.sh
  vitess-mixin/vitess-mixin-quickstart.md
Labels: Type: Internal Cleanup, Component: Observability, release notes, Skip Upgrade Downgrade

#9507 Fix flakiness in reparent tests
  go/test/endtoend/cluster/mysqlctl_process.go
Labels: Type: Enhancement, Component: Build/CI, release notes none

#9481 Use LOCK TABLES during SwitchWrites to prevent lost writes
  go/test/endtoend/vreplication/cluster.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Bug, Backport me!, Component: VReplication, release notes

#9497 Fixed legacy vreplication data that may be using master tablet type
  go/vt/topo/topoproto/tablet.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
Labels: Type: Internal Cleanup, Component: VReplication, release notes

#9505 VReplication Workflow: manage SQL_MODE as MySQL does in mysqldump
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  proto/tabletmanagerdata.proto
Labels: Type: Bug, Component: VReplication, release notes

#9520 Additional safety in vreplicator sql_mode handling
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Internal Cleanup, Component: VReplication, Trivial, release notes none

#9521 Fix: push output columns on lhs than on jointree, handle derived table table push output column correctly
  go/vt/vtgate/planbuilder/derivedtree.go
  go/vt/vtgate/planbuilder/route_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
Labels: Type: Bug, Backport me!, Component: Query Serving, release notes

#9482 Deprecate and ignore `gateway_implementation` flag to vtgate.
  doc/releasenotes/13_0_0_summary.md
  go/vt/vtgate/gateway.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes (needs details)

#9467 Multicolumn vindex support in update and delete queries
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/update.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9524 ci: Fix builds by importing MySQL keys
  .github/docker/cluster_test_14/Dockerfile
  .github/docker/cluster_test_vtorc/Dockerfile
  .github/workflows/cluster_endtoend_mysql80.yml
  .github/workflows/cluster_endtoend_upgrade.yml
  .github/workflows/e2e_race.yml
  .github/workflows/legacy_local_example.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/unit_test_mysql80.yml
  .github/workflows/upgrade_downgrade_test_query_serving.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  Makefile
  bootstrap.sh
  docker/base/Dockerfile
  docker/base/Dockerfile.mariadb
  docker/base/Dockerfile.mariadb103
  docker/base/Dockerfile.mysql56
  docker/base/Dockerfile.mysql80
  docker/base/Dockerfile.percona
  docker/base/Dockerfile.percona57
  docker/base/Dockerfile.percona80
  docker/bootstrap/Dockerfile.mysql56
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/lite/Dockerfile.alpine
  docker/lite/Dockerfile.mariadb
  docker/lite/Dockerfile.mariadb103
  docker/lite/Dockerfile.mysql56
  docker/lite/Dockerfile.mysql57
  docker/lite/Dockerfile.mysql80
  docker/lite/Dockerfile.percona
  docker/lite/Dockerfile.percona57
  docker/lite/Dockerfile.percona80
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/install_dependencies.sh
  docker/local/Dockerfile
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  test.go
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test_mysql80.tpl
  test/templates/dockerfile.tpl
  test/templates/unit_test.tpl
  tools/wget-retry
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9523 evalengine: some last fixes
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1637776444.json
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1642153591.json
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1642436036.json
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1642499325.json
  go/vt/vtgate/simplifier/expression_simplifier.go
Labels: Type: Enhancement, Component: Query Serving, release notes none

#9496 mysql: Add ConnectionReady callback to Handler interface
  go/mysql/conn_flaky_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/mysql_fuzzer.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Enhancement, Component: TabletManager, release notes

#9511 Fix Ers to be used for initialization as well
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9512 Fix ERS to work when the primary candidate's replication is stopped
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysqlgr.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/vt/mysqlctl/replication.go
Labels: Type: Enhancement, Component: Cluster management, release notes

#9536 feat: add IS to evalengine
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/simplifier/expression_simplifier.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9531 Filter after left join
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/filter.go
  go/vt/vtgate/planbuilder/abstract/join.go
  go/vt/vtgate/planbuilder/abstract/operator.go
  go/vt/vtgate/planbuilder/abstract/querygraph.go
  go/vt/vtgate/planbuilder/abstract/subquery.go
  go/vt/vtgate/planbuilder/abstract/vindex.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/concatenateGen4.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/hash_join.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/joinGen4.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort_gen4.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9516 naming: delete old code that was needed for version compatibility
  examples/are-you-alive/pkg/client/client.go
  examples/compose/fix_replication.sh
  go/test/endtoend/cluster/cluster_process.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/worker/executor.go
  go/vt/worker/worker.go
Labels: Type: Internal Cleanup, release notes, Component: General

#9540 Allow cross-build to work for cross-architecture too (e.g. arm64 on amd64)
  Makefile
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9542 Faster and safer unsharded query planning
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9547 Fix panic in vtorc tests
  go/test/endtoend/vtorc/general/main_test.go
  go/test/endtoend/vtorc/gracefultakeover/main_test.go
  go/test/endtoend/vtorc/primaryfailure/main_test.go
Labels: Component: Build/CI, Type: Testing, Component: VTorc, release notes none

#9543 Refactor routing primitive
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/plan_description_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_scatter_stats.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/physical/route.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/physical/vindex.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/routeGen4.go
  go/vt/vtgate/planbuilder/route_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/subquery_op.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.txt
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/hash_joins.txt
  go/vt/vtgate/planbuilder/testdata/large_cases.txt
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.txt
  go/vt/vtgate/planbuilder/testdata/oltp_cases.txt
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.txt
  go/vt/vtgate/planbuilder/testdata/rails_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/symtab_cases.txt
  go/vt/vtgate/planbuilder/testdata/sysschema_default.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.txt
  go/vt/vtgate/planbuilder/testdata/tpch_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.txt
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/planbuilder/update.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none

#9526 mysql: Add UnimplementedHandler struct
  go/mysql/conn_flaky_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/mysql_fuzzer.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Enhancement, Component: TabletManager, release notes

#9555 sqlparser: add a proper type for decimal literals
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
  go/vt/sqlparser/token_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vtgate/simplifier/expression_simplifier.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Query Serving, release notes none

#9565 Reorganized v13.0 summary notes
  doc/releasenotes/13_0_0_summary.md
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9545 Planner improvements
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/mysql80/derived/derived_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/comments.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/fallback_planner.go
  go/vt/vtgate/planbuilder/fallback_planner_test.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/physical/route_planning.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/wireup_cases.txt
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving, release notes

#9558 mysql: use UTF8mb4 as consistent connection charset
  go/cmd/vttestserver/main.go
  go/mysql/client.go
  go/mysql/collations/8bit.go
  go/mysql/collations/env.go
  go/mysql/conn.go
  go/mysql/conn_params.go
  go/mysql/constants.go
  go/mysql/endtoend/query_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/schema.go
  go/mysql/server.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/endtoend/connkilling/main_test.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/mysqlctl.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: Query Serving, release notes, Skip Upgrade Downgrade

#9564 Changed to assert and require for tests
  go/mysql/client_test.go
  go/mysql/conn.go
Labels: Type: Internal Cleanup, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9563 Escape the DROP TABLE statements in TrafficSwitcher
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Bug, Component: VReplication, release notes none, Skip Upgrade Downgrade

#9568 vtctl OnlineDDL show: export all columns, support -json
  doc/releasenotes/13_0_0_summary.md
  go/vt/vtctl/vtctl.go
Labels: Type: Enhancement, Component: vtctl, release notes

#9572 vtctl ApplySchema: introduce -migration_context flag, synonym to -request_context
  doc/releasenotes/13_0_0_summary.md
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/api.go
  go/vt/vtctld/schema.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: vtctl, release notes

#9575 examples: how to use mysql80 images with operator
  examples/operator/README.md
Labels: Type: Documentation, Component: Examples, release notes none

#9549 Fix text handling in Vitess native evaluation
  go/mysql/collations/integration/main_test.go
  go/sqltypes/bind_variables.go
  go/sqltypes/bind_variables_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/readafterwrite/raw_test.go
  go/test/endtoend/vtgate/reservedconn/udv_test.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/endtoend/misc_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/arithmetic_expr.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/collate.go
  go/vt/vtgate/evalengine/comparisons.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/convert_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/expressions.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/func.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/logical.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/simplify.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/logstats_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.txt
  go/vt/vtgate/planbuilder/testdata/from_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/sysschema_default.txt
  go/vt/vtgate/planbuilder/testdata/systemtables_cases.txt
  go/vt/vtgate/planbuilder/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Enhancement, Component: Query Serving, release notes none, Skip Upgrade Downgrade

#9554 non-unique vindex routing in update and delete query
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/dml.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
  go/vt/vtgate/planbuilder/testdata/schema_test.json
  go/vt/vtgate/vindexes/consistent_lookup.go
Labels: Type: Feature Request, Component: Query Serving, release notes

#9589 tests: fix CI failure
  go/vt/vtgate/planbuilder/testdata/dml_cases.txt
Labels: Component: Query Serving, Type: CI/Build, release notes none

#9581 Fix: removed flag set duplicate
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Type: Internal Cleanup, Component: TabletManager, release notes none

#9579 Add durability flag in local examples
  examples/legacy_local/scripts/vtctld-up.sh
  examples/local/101_initial_cluster.sh
  examples/local/scripts/vtctld-up.sh
Labels: Type: Enhancement, Component: Examples, release notes none

#9544 [VTAdmin] Dynamic Clusters
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cluster/discovery/discovery.go
  go/vt/vtadmin/cluster/discovery/discovery_json.go
  go/vt/vtadmin/cluster/discovery/discovery_json_test.go
  go/vt/vtadmin/http/api.go
Labels: Type: Feature Request, Component: VTAdmin, release notes, go

#9592 Update 13.0 release notes to mention vtadmin-web node LTS requirement
  doc/releasenotes/13_0_0_summary.md
Labels: Type: Documentation, Component: VTAdmin, release notes none

#9590 Remove reference to PMC
  GUIDING_PRINCIPLES.md
Labels: Type: Documentation, Component: Governance, release notes none

#9580 Add warning to vtctl binary
  go/cmd/vtctl/vtctl.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/vtctl_process.go
Labels: Type: Documentation, release notes none, Component: Documentation, Skip Upgrade Downgrade

#9593 tests: change the way we call net.Listen to avoid annoying popups on macOS
  go/netutil/conn_test.go
  go/test/fuzzing/tablet_manager_fuzzer.go
  go/test/fuzzing/vtctl_fuzzer.go
  go/test/fuzzing/vttablet_fuzzer.go
  go/vt/binlog/grpcbinlogplayer/player_test.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/servenv/exporter_test.go
  go/vt/throttler/grpcthrottlerclient/grpcthrottlerclient_test.go
  go/vt/tlstest/tlstest_test.go
  go/vt/vitessdriver/driver_test.go
  go/vt/vtadmin/vtctldclient/proxy_test.go
  go/vt/vtctl/grpcvtctlclient/client_test.go
  go/vt/vtgate/grpc_discovery_test.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/fuzz_flaky_test.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/grpctabletconn/conn_benchmark_test.go
  go/vt/vttablet/grpctabletconn/conn_test.go
  go/vt/vttablet/grpctmserver/server_test.go
  go/vt/worker/grpcvtworkerclient/client_test.go
  go/vt/workflow/long_polling_test.go
  go/vt/workflow/websocket_test.go
  go/vt/wrangler/testlib/throttler_test.go
  go/vt/wrangler/testlib/vtctl_pipe.go
Labels: Type: CI/Build, release notes, Component: General

#9578 Ignore internal tables in MoveTables and Reshard Workflows
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/schema.go
Labels: Type: Bug, Component: VReplication, release notes, Skip Upgrade Downgrade

#9595 Move cluster 14 and unit_race back to normal runners
  .github/docker/cluster_test_14/Dockerfile
  .github/docker/unit_test_race/Dockerfile
  .github/workflows/cluster_endtoend_14.yml
  .github/workflows/unit_race.yml
  test/ci_workflow_gen.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9582 Changed vitess operator examples to use `latest` on main
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/README.md
  examples/operator/operator.yaml
Labels: Type: Internal Cleanup, Component: Examples, release notes none, Skip Upgrade Downgrade

#9587 Automatically update vitess-operator example during a release
  Makefile
  tools/do_release.sh
Labels: Component: Build/CI, release notes none, Skip Upgrade Downgrade, Type: Release

#9528 Add support for health service in gRPC server
  go/vt/servenv/grpc_server.go
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving, release notes

#9585 releasenotes: improve 13.0 summary
  doc/releasenotes/13_0_0_summary.md
Labels: Type: Documentation, release notes none, Component: Documentation, Skip Upgrade Downgrade

#9561 docker: k8s release process updates
  docker/k8s/Dockerfile
  docker/k8s/logrotate/Dockerfile
  docker/k8s/logtail/Dockerfile
  docker/k8s/mysqlctl/Dockerfile
  docker/k8s/mysqlctld/Dockerfile
  docker/k8s/orchestrator/Dockerfile
  docker/k8s/pmm-client/Dockerfile
  docker/k8s/vtbackup/Dockerfile
  docker/k8s/vtctl/Dockerfile
  docker/k8s/vtctlclient/Dockerfile
  docker/k8s/vtctld/Dockerfile
  docker/k8s/vtexplain/Dockerfile
  docker/k8s/vtgate/Dockerfile
  docker/k8s/vttablet/Dockerfile
  docker/k8s/vtworker/Dockerfile
  docker/release.sh
Labels: Component: Build/CI, Type: CI/Build, release notes none

#9583 Adds a test for checking vtorc fixes semi-sync correctly
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/test_config_semi_sync.json
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Component: VTorc, release notes none, Skip Upgrade Downgrade

#9598 make: update protoc installed version
  Makefile
  bootstrap.sh
  go/vt/proto/automation/automation.pb.go
  go/vt/proto/automationservice/automationservice.pb.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/proto/vtworkerdata/vtworkerdata.pb.go
  go/vt/proto/vtworkerservice/vtworkerservice.pb.go
  go/vt/proto/workflow/workflow.pb.go
Labels: Component: Build/CI, Type: CI/Build, release notes none, Skip Upgrade Downgrade

#9570 Add multiple changes in release docs
  doc/releasenotes/13_0_0_summary.md
Labels: Type: Documentation, release notes none, Component: Documentation, Skip Upgrade Downgrade

#9591 [vtadmin-web] Remove craco dependency
  web/vtadmin/craco.config.js
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin, release notes none
