Repository vitessio/vitess, pull requests merged in 2023-03, with the labels that each got.

#12502 Flakes: Use new healthy shard check in vreplication e2e tests
  examples/common/env.sh
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  test/local_example.sh
Labels: Type: Internal Cleanup, Component: VReplication, Type: Testing, Backport to: release-16.0

#12511 Fix unhandled error in VTOrc `recoverDeadPrimary`
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: Bug, Component: VTorc

#12514 Fix `TestFuzz` that hangs on `go1.20.1`
  go/bucketpool/bucketpool_test.go
Labels: Type: Bug, Component: Build/CI

#12499 [release-16.0] Make upgrade downgrade job names unique
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build

#12487 Improve release process post `v16.0.0 GA` code freeze
  doc/internal/ReleaseInstructions.md
  tools/create_release.sh
Labels: Type: Enhancement, Component: General, Type: Release, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12489 Block merge if the `Do Not Merge` label is set
  .github/workflows/check_label.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12464 Forward port of #12436: Sidecar schema init: use COPY algorithm while altering sidecardb tables
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
Labels: Type: Bug, Forwardport, Component: VReplication, Component: General

#12427 [onlineddl] Remove some old backwards-compatibilities in online ddl code
  doc/releasenotes/17_0_0_summary.md
  go/vt/schema/online_ddl_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Component: Online DDL

#12510 Fix unhandled error in VTOrc `recoverDeadPrimary`
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: Bug, Component: VTorc

#12429 [healthcheck] Remove deprecated fields from TabletHealth json marshalling
  doc/releasenotes/17_0_0_summary.md
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/tablet_health.go
  go/vt/vtctld/api_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12532 [Backport] Fix `vtctldclient`'s Root command to return an error on unknown command (#12481)
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/root_test.go
  go/flags/endtoend/vtctldclient.txt
Labels: Type: Bug, Backport, Component: CLI

#12508 Added [Twitter] & [Etsy] to ADOPTERS.md
  ADOPTERS.md
Labels: Type: Internal Cleanup, Component: Governance

#12536 Add a known issue into the release notes for xtrabackup and DDLs
  doc/releasenotes/16_0_0_release_notes.md
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: Backup and Restore, Component: General, Forwardport to: main

#12528 [release-16.0] Tooling improvements backports
  .github/workflows/check_label.yml
  doc/internal/ReleaseInstructions.md
  tools/create_release.sh
Labels: Type: Enhancement, Component: Build/CI, Backport, Type: Release

#12522 v16: Online DDL: enforce ALGORITHM=COPY on shadow table
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Bug, Component: Backup and Restore, Component: CLI, Component: Online DDL

#12521 Online DDL: enforce ALGORITHM=COPY on shadow table
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Bug, Component: Backup and Restore, Component: Online DDL

#12242 [release-13.0] Bug fix: Cache filtered out tablets in topology watcher to avoid unnecessary GetTablet calls to topo
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
Labels: Type: Bug, Component: Cluster management, Type: Performance, Backport

#12534 Fix initialization code to also stop replication to prevent crash
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12547 Examples: Add ENV Var to Local Examples to Skip VTAdmin
  examples/local/101_initial_cluster.sh
Labels: Type: Testing, Component: Examples

#12542 [bug fix] USING planning on information_schema
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/keywords.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases57.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases80.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/info_schema_gen_test.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Backport

#12505 TableGC: fix PURGE race condition
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/gc/tablegc_test.go
Labels: Type: Bug, Component: TabletManager

#12451 OnlineDDL: mitigate scenario where a migration sees recurring cut-over timeouts
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Online DDL

#12539 OnlineDDL: optimizing --singleton-context conflict check
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Performance, Component: Online DDL

#12275 schemadiff/OnlineDDL: ExtractConstraintOriginalName understands auto-generated names
  go/vt/schemadiff/names.go
  go/vt/schemadiff/names_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving, Component: Online DDL

#12555 collations: fix sorting in UCA900 collations
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/uca_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12546 Flakes: Address Common Unit Test Races
  go/vt/log/log.go
  go/vt/vtctl/vdiff2_test.go
  go/vt/vtctl/vdiff_env_test.go
  go/vt/wrangler/vdiff_env_test.go
  go/vt/wrangler/vdiff_test.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Component: Build/CI, Type: Testing, Flakes

#12141 vtgate: metrics for prepared stmts
  doc/releasenotes/17_0_0_summary.md
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Enhancement, Component: Query Serving

#12526 [release-14.0] Tooling improvements backports
  .github/workflows/release_notes_label.yml
  doc/internal/ReleaseInstructions.md
Labels: Type: Enhancement, Component: Build/CI, Backport, Type: Release

#12557 collations: upgrade to MySQL 8.0.32
  go/mysql/collations/8bit.go
  go/mysql/collations/coercion.go
  go/mysql/collations/collation.go
  go/mysql/collations/env.go
  go/mysql/collations/golden_test.go
  go/mysql/collations/integration/coercion_test.go
  go/mysql/collations/internal/uca/collation.go
  go/mysql/collations/internal/uca/iter_900.go
  go/mysql/collations/internal/uca/iter_legacy.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/mysqldata.go
  go/mysql/collations/mysqlversion.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/testdata/versions/collations_MySQL80.csv
  go/mysql/collations/testdata/wiki_416c626572742045696e737465696e.gob.gz
  go/mysql/collations/tools/makecolldata/codegen/codegen.go
  go/mysql/collations/tools/makecolldata/main.go
  go/mysql/collations/tools/makecolldata/mysqldata.go
  go/mysql/collations/tools/makecolldata/mysqlversions.go
  go/mysql/collations/tools/maketestdata/maketestdata.go
  go/mysql/collations/uca.go
  go/mysql/collations/uca_contraction_test.go
  go/mysql/collations/uca_tables_test.go
  go/mysql/collations/uca_test.go
  go/mysql/collations/unicode.go
  go/mysql/endtoend/query_test.go
  go/vt/schemadiff/table.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_json.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/translate_convert.go
  go/vt/vtgate/evalengine/translate_simplify.go
Labels: Type: Enhancement, Component: Query Serving

#12525 Use `MarshalVT`/`UnmarshalVT` instead of `proto.Marshal`/`proto.Unmarshal`.
  go/vt/tableacl/tableacl.go
  go/vt/topo/cell_info.go
  go/vt/topo/cells_aliases.go
  go/vt/topo/external_vitess_cluster.go
  go/vt/topo/keyspace.go
  go/vt/topo/replication.go
  go/vt/topo/shard.go
  go/vt/topo/srv_keyspace.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/tablet.go
  go/vt/topo/test/watch.go
  go/vt/topo/topotests/shard_watch_test.go
  go/vt/topo/vschema.go
  go/vt/topo/workflow.go
  go/vt/vitessdriver/driver.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/schema/historian_test.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
  go/vt/wrangler/testlib/vtctl_topo_test.go
Labels: Type: Internal Cleanup, Type: Performance, Component: General

#12236 Prevent bootstrap of ZK from clearing previous dist binaries
  bootstrap.sh
Labels: Type: Bug, Component: Build/CI

#12560 Examples, Flakes: Wait for Shard's VReplication Engine to Open
  examples/common/lib/utils.sh
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Component: Examples, Flakes

#12562 collations: fix sorting in UCA900 collations (#12555)
  go/mysql/collations/internal/uca/iter_fast_900.go
Labels: Type: Bug, Component: Query Serving, Backport

#12563 collations: fix sorting in UCA900 collations (#12555)
  go/mysql/collations/internal/uca/iter_fast_900.go
Labels: Type: Bug, Component: Query Serving, Backport

#12373 delete deprecated vtctld healthcheck flags and associated realtime stats code
  go/flags/endtoend/vtctld.txt
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/api.go
  go/vt/vtctld/api_test.go
  go/vt/vtctld/api_utils.go
  go/vt/vtctld/vtctld.go
Labels: Type: Internal Cleanup, Component: Cluster management

#12266 Introducing new error counter in VTTablet
  doc/releasenotes/17_0_0_summary.md
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Cluster management

#12569 adding log statment to vtbackup
  go/cmd/vtbackup/vtbackup.go
Labels: Type: Enhancement, Component: General

#12543 handle filter on top of UNION
  go/vt/vtgate/planbuilder/abstract/concatenate.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases80.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Forwardport to: main, Backport to: release-16.0

#12581 [release-16.0] Examples, Flakes: Wait for Shard's VReplication Engine to Open (#12560)
  examples/common/lib/utils.sh
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport, Component: Examples, Flakes

#12584 CI: increase overall test timeouts for all OnlineDDL tests
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Component: Online DDL, Backport to: release-15.0, Backport to: release-16.0

#12519 `ApplyVSchemaDDL`: escape Sequence names when writing the VSchema
  go/vt/topotools/vschema_ddl.go
  go/vt/vtgate/executor_vschema_ddl_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12591 v15 backport: CI: increase overall test timeouts for all OnlineDDL tests
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, Backport

#12590 v14 backport: CI: increase overall test timeouts for all OnlineDDL tests
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, Backport

#12573 evalengine: More cleanup
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Internal Cleanup, Component: Evalengine

#12377 sqlparser: add parsing support for polygon spatial datatype
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving

#12604 go/vt/vttablet/tabletserver: temporarily skip flaky consolidation test
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Component: Query Serving, Type: CI/Build

#12613 SQLError: adding some code comments
  go/mysql/sql_error.go
Labels: Type: Documentation, Component: Query Serving

#12187 Purge logs without panicking
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/cmd/main.go
  go/cmd/vtadmin/main.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/zk/zkcmd.go
  go/vt/logutil/purge.go
  go/vt/servenv/purgelogs.go
  go/vt/servenv/servenv.go
Labels: Type: Bug, Component: Observability, Component: CLI, Backport to: release-15.0, Backport to: release-16.0

#12418 Add basic metrics to `vttablet` transaction throttler
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Query Serving

#12558 go/{vt,flags}: register builtin backup flags with vtbackup
  go/flags/endtoend/vtbackup.txt
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Enhancement, Component: Backup and Restore

#12616 [Backport] [v16] Purge logs without panicking (#12187)
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/cmd/main.go
  go/cmd/vtadmin/main.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/zk/zkcmd.go
  go/vt/logutil/purge.go
  go/vt/servenv/purgelogs.go
  go/vt/servenv/servenv.go
Labels: Type: Bug, Backport, Component: Observability

#12617 [Backport] [v15] Purge logs without panicking (#12187)
  go/cmd/query_analyzer/query_analyzer.go
  go/cmd/rulesctl/cmd/main.go
  go/cmd/vtadmin/main.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/zk/zkcmd.go
  go/vt/logutil/purge.go
  go/vt/servenv/purgelogs.go
  go/vt/servenv/servenv.go
Labels: Type: Bug, Backport, Component: Observability

#12612 Online DDL: `ready_to_complete` race fix
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schema/online_ddl.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Component: Online DDL

#12625 Table GC: remove spammy log entry
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Internal Cleanup, Component: TabletManager

#12614 Fix `panic` when executing a prepare statement with over `65,528` parameters
  go/mysql/query.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#11909 VSCopy: Enable to copy from all shards in either a specified keyspace or all keyspaces
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/misc_test.go
  go/vt/vtgate/endtoend/row_count_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vttest/local_cluster.go
Labels: Type: Feature Request, Type: Enhancement, Component: VReplication, Component: Query Serving

#12623 VSCopy: Ensure that vgtid event includes a complete TableLastPK proto message
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Component: VReplication

#12501 go/vt/mysqlctl/backupstats: increment *_bytes metric by actual number of bytes
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/mysqlctl/backupstats/stats.go
  go/vt/mysqlctl/backupstats/stats_test.go
Labels: Type: Bug, Component: Backup and Restore

#12538 Improve release instructions post `v16.0.0 GA` release
  doc/internal/ReleaseInstructions.md
Labels: Component: Documentation, Type: Release

#12629 [release-15.0] Fix `panic` when executing a prepare statement with over `65,528` parameters
  go/mysql/query.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12637 Flakes: Handle Non-Determinstic Shard Ordering in VGTID
  go/vt/vtgate/endtoend/vstream_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing, Flakes

#12603 Use atomic.Bool for fakesqldb behavior flags
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/bench_test.go
Labels: Component: Query Serving, Type: Testing, Flakes

#12630 VStreamer: improve representation of integers in json data types
  go.mod
  go.sum
  go/mysql/binlog_event_json.go
  go/mysql/binlog_event_json_test.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Component: VReplication, Forwardport to: main

#12369 evalengine: virtual machine
  go/slices2/slices.go
  go/vt/dbconnpool/connection_pool.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_types.go
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_arithmetic.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_bit.go
  go/vt/vtgate/evalengine/compiler_compare.go
  go/vt/vtgate/evalengine/compiler_convert.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/compiler_json.go
  go/vt/vtgate/evalengine/compiler_logical.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_literal.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
  go/vt/vtgate/evalengine/internal/decimal/decimal_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/perf_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/helpers.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_simplify.go
  go/vt/vtgate/evalengine/vm.go
Labels: Type: Enhancement, Component: Evalengine

#12642 Flakes: Handle Non-Deterministic VStream Event Ordering
  go/vt/vtgate/endtoend/vstream_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing, Flakes

#12607 [gen4 planner] Make sure to not push down expressions when not possible
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12608 sqlparser: Add parsing support to geom Collection types
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#12652 Minor Cleanup of SidecarDB Package
  go/vt/sidecardb/identifier_cache.go
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
Labels: Type: Internal Cleanup, Component: General

#12635 [vtadmin] racy vtexplain
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_authz_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/testutil/authztestgen/config.json
Labels: Type: Bug, Component: VTAdmin, Backport to: release-16.0

#12615 Parser: support PURGE BINARY LOGS statement
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#12646 [release-14.0] Make sure to not push down expressions when not possible (#12607)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/abstract/queryprojection.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport

#12666 Cherry pick v14: Mysqld.GetSchema: tolerate tables being dropped while inspecting schema
  go/vt/mysqlctl/schema.go
Labels: Type: Bug, Component: VReplication

#12665 Cherry pick v15: Mysqld.GetSchema: tolerate tables being dropped while inspecting schema
  go/vt/mysqlctl/schema.go
Labels: Type: Bug, Component: VReplication

#12634 Always add columns in the `Derived` operator
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12639 Add the vtadmin `web` directory to the release packages
  tools/make-release-packages.sh
Labels: Component: VTAdmin, Type: CI/Build, Type: Release, Backport to: release-16.0

#12663 Refactor: go/vt/vtgate/engine/opcode to reduce `semantics` package dependencies
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/pullout_subquery.go
  go/vt/vtgate/engine/pullout_subquery_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/pullout_subquery.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/subquery_op.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12565 schemadiff: validate views' referenced columns via semantics
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/semantics/errors.go
Labels: Type: Enhancement, Component: Query Serving

#12656 evalengine: Implement integer division and modulo
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_arithmetic.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_bit.go
  go/vt/vtgate/evalengine/compiler_compare.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/compiler_json.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_json.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
  go/vt/vtgate/evalengine/internal/decimal/decimal_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_card.go
Labels: Type: Enhancement, Component: Evalengine

#12671 [release-16.0] Add the vtadmin web directory to the release packages (#12639)
  tools/make-release-packages.sh
Labels: Component: VTAdmin, Type: CI/Build, Backport, Type: Release

#12650 planner: fix predicate simplifier
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/planbuilder/predicate_rewrite_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0

#12648 [release-16.0] Make sure to not push down expressions when not possible (#12607)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12664 Cherry pick v16: Mysqld.GetSchema: tolerate tables being dropped while inspecting schema
  go/vt/mysqlctl/schema.go
Labels: Type: Bug, Component: VReplication

#12668 [planner bugfix] add expressions to HAVING
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12506 Horizon planning on operators
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
Labels: Type: Enhancement, Component: Query Serving

#12670 [release-16.0] Always add columns in the `Derived` operator (#12634)
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12572 Semantics refactor: formalize errors
  go/vt/schemadiff/schema.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/errors.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12673 update query-string dep due to reported vulnerability
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/util/queryString.ts
Labels: Type: Enhancement, dependencies, Component: VTAdmin, Component: web UI, javascript

#12675 `schemadiff`: multi-error in schema normalization
  go/errors/errors.go
  go/errors/errors_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#12692 [release-15.0] Fix initialization code to also stop replication to prevent crash #12534
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#12691 [release-16.0] Fix initialization code to also stop replication to prevent crash #12534
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#12681 [release-14.0] Always add columns in the `Derived` operator
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12680 [release-15.0] Always add columns in the `Derived` operator
  go/vt/vtgate/planbuilder/physical/operator_funcs.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases57.json
Labels: Type: Bug, Component: Query Serving, Backport

#12705 Fix handling of table information for missing column
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/symtab_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/errors.go
Labels: Type: Bug, Component: Query Serving

#12698 [planner bugfix] add expressions to HAVING (#12668)
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12655 Fixing backup tests flakiness
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
Labels: Type: Bug, Component: General

#12685 Fix fullstatus test for backward compat
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
Labels: Type: Bug, Type: Testing, Component: General, Backport to: release-16.0

#12524 Refactor and cleanup treatment of keyspace IDs and KeyRange
  go/test/endtoend/keyspace/keyspace_test.go
  go/vt/discovery/topology_watcher.go
  go/vt/key/destination.go
  go/vt/key/key.go
  go/vt/key/key_test.go
  go/vt/topo/shard.go
  go/vt/topo/topoproto/srvkeyspace.go
  go/vt/topotools/split.go
  go/vt/topotools/split_test.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/vdiff.go
Labels: Type: Enhancement, Component: Query Serving

#12709 [release-16.0] Auto upgrade the Golang version (#12585)
  .github/workflows/update_golang_version.yml
  go.mod
  go.sum
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Release Blocker

#12708 [release-15.0] Auto upgrade the Golang version (#12585)
  .github/workflows/update_golang_version.yml
  go.mod
  go.sum
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Release Blocker

#12707 [release-14.0] Auto upgrade the Golang version (#12585)
  .github/workflows/update_golang_version.yml
  go.mod
  go.sum
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Release Blocker

#12716 Use new init_db.sql file in all places and update v17.0.0 summary
  changelog/17.0/17.0.0/summary.md
  examples/compose/config/init_db.sql
  examples/operator/101_initial_cluster.yaml
  vitess-mixin/e2e/config/init_db.sql
Labels: Type: Bug, Component: Examples

#12727 [planner fix 14.0] make unknown column an error only for sharded queries
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
Labels: Type: Bug, Component: Query Serving, Backport

#12725 [planner fix 16.0] make unknown column an error only for sharded queries
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
Labels: Type: Bug, Component: Query Serving, Backport

#12263 Bugfix/Backport to v15: Fix schema migrations requested_timestamp zero values
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, Component: Online DDL

#12726 [planner fix 15.0] make unknown column an error only for sharded queries
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/systemtables_cases80.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
Labels: Type: Bug, Component: Query Serving, Backport

#12672 Use a left join to make sure that tables with tablespace=innodb_system are included in the schema
  go/mysql/flavor_mysql.go
  go/test/endtoend/vreplication/vstream_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0

#12733 Implement logic to handle more JSON conversion
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_compare.go
  go/vt/vtgate/evalengine/compiler_json.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_json.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/internal/json/helpers.go
  go/vt/vtgate/evalengine/internal/json/parser.go
  go/vt/vtgate/evalengine/internal/json/parser_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Enhancement, Component: Evalengine

#12730 fix fullstatus test for backward compat (#12685)
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
Labels: Type: Bug, Component: Build/CI

#12736 Fixing backup tests flakiness (#12655)
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
Labels: Type: Bug, Type: Testing, Component: General

#12710 [ast & semantics] Make more type information available
  go/mysql/conn.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/tools/codegen/common.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/redact_query_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtexplain/testdata/multi-output/comments-output.txt
  go/vt/vtexplain/testdata/multi-output/deletesharded-output.txt
  go/vt/vtexplain/testdata/multi-output/gen4-output.txt
  go/vt/vtexplain/testdata/multi-output/insertsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/unsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtgate/engine/projection_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/expr.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: Evalengine

#12728 vtgate: use collation when hashing query plans
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: Evalengine

#12683 Reset the current lag when closing the replication lag reader.
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/repltracker/reader_test.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Bug, Component: Observability, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12414 go/vt/vtgate: add json and use_fallback opts to numeric_static_map vdx
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/numeric_static_map.go
  go/vt/vtgate/vindexes/numeric_static_map_test.go
Labels: Type: Enhancement, Component: Query Serving

#12740 [release-16.0] Flakes: Use new healthy shard check in vreplication e2e tests (#12502)
  examples/common/env.sh
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  test/local_example.sh
Labels: Component: VReplication, Type: Testing, Backport

#12577 VSchema DDL: Add grammar to accept qualified table names in Vindex option values
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_vschema_ddl_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0

#12745 [release-16.0] Port two flaky test fixes #12603 and #12546
  go/mysql/fakesqldb/server.go
  go/vt/log/log.go
  go/vt/vtctl/vdiff2_test.go
  go/vt/vtctl/vdiff_env_test.go
  go/vt/vttablet/tabletserver/bench_test.go
  go/vt/wrangler/vdiff_env_test.go
  go/vt/wrangler/vdiff_test.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Bug, Component: General, Flakes

#12744 [release-15.0] Reset the current lag when closing the replication lag reader. (#12683)
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/repltracker/reader_test.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Bug, Backport, Component: Observability

#12743 [release-14.0] Reset the current lag when closing the replication lag reader. (#12683)
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/repltracker/reader_test.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Bug, Backport, Component: Observability

#12747 [release-15.0] vschema ddl: add grammar to accept qualified tables (#12577)
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_vschema_ddl_test.go
Labels: Type: Bug, Component: Query Serving

#12748 [release-16.0] vschema ddl: add grammar to accept qualified tables (#12577)
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_vschema_ddl_test.go
Labels: Type: Bug, Component: Query Serving

#12618 Fix transaction throttler ignoring the initial rate
  go/vt/throttler/throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Bug, Component: TabletManager

#12742 evalengine: Add handling for current timestamp functions
  go/sqltypes/value.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/lock.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/engine/vindex_lookup.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/fn_info.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/internal/datetime/LICENSE
  go/vt/vtgate/evalengine/internal/datetime/helpers.go
  go/vt/vtgate/evalengine/internal/datetime/spec.go
  go/vt/vtgate/evalengine/internal/datetime/strftime.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Evalengine

#12751 Addition of the `v16.0.1` release summary
  changelog/16.0/16.0.1/summary.md
  changelog/16.0/README.md
Labels: Component: Documentation, Type: Release

#12762 Release 16.0 code freeze for 16.0.1 patch release
  .github/workflows/code_freeze.yml
Labels: Type: Internal Cleanup, Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate

#12763 Code freeze of `release-14.0` for `v14.0.5`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate

#12764 Code freeze of release-15.0
  .github/workflows/code_freeze.yml
Labels: NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate

#12758 [misc] Cleanup/fix/delete TODO comments
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/vexec/vexec.go
  go/vt/wrangler/cleaner.go
  go/vt/wrangler/materializer_env_test.go
  java/README.md
Labels: Type: Internal Cleanup, Component: General

#12732 Update topo {Get,Create}Keyspace to prevent invalid keyspace names
  changelog/17.0/17.0.0/summary.md
  go/vt/topo/keyspace.go
  go/vt/topo/topotests/keyspace_test.go
  go/vt/vtorc/inst/keyspace_dao.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-16.0

#12592 Online DDL: remove artifact entry upon GC
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#12756 Remove unnecessary code bits in workflows
  .github/workflows/create_release.yml
  .github/workflows/docker_test_cluster_10.yml
  .github/workflows/docker_test_cluster_25.yml
  .github/workflows/endtoend.yml
  .github/workflows/sonar_analysis.yml
  .github/workflows/static_checks_etc.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12750 [gen4 planner] Move more horizon planning to operators
  go/slices2/slices.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/simple_projection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12771 [Backport] Update topo {Get,Create}Keyspace to prevent invalid keyspace names (#12732)
  changelog/16.0/16.0.1/summary.md
  go/vt/topo/keyspace.go
  go/vt/topo/topotests/keyspace_test.go
  go/vt/vtorc/inst/keyspace_dao.go
Labels: Type: Bug, Component: Cluster management, Backport

#12765 Release of v16.0.1
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.1/changelog.md
  changelog/16.0/16.0.1/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12766 Release of v14.0.5
  .github/workflows/code_freeze.yml
  changelog/14.0/14.0.5/changelog.md
  changelog/14.0/14.0.5/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/vtorc_example.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12786 Back to dev mode after v15.0.3
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12784 Back to dev mode after v14.0.5
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12783 Back to dev mode after v16.0.1
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12768 Copy release notes for v16.0.1, v15.0.3, and v14.0.5
  changelog/14.0/14.0.5/changelog.md
  changelog/14.0/14.0.5/release_notes.md
  changelog/15.0/15.0.3/changelog.md
  changelog/15.0/15.0.3/release_notes.md
  changelog/16.0/16.0.1/changelog.md
  changelog/16.0/16.0.1/release_notes.md
  changelog/16.0/16.0.1/summary.md
Labels: Component: General, Do Not Merge, Type: Release

#12737 Throttler: Expose Tablet's Config & Leverage to Deflake Tests
  examples/common/scripts/vttablet-up.sh
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtctlutil.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/throttler/util.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Build/CI, Type: Testing, Flakes, Backport to: release-16.0

#12772 go/{stats,vt}: publish VReplicationStreamState to prometheus backend
  changelog/17.0/17.0.0/summary.md
  go/stats/export.go
  go/stats/export_test.go
  go/stats/prometheusbackend/collectors.go
  go/stats/prometheusbackend/prometheusbackend.go
  go/stats/prometheusbackend/prometheusbackend_test.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
Labels: Type: Enhancement, Component: VReplication, Component: Observability

#12769 Fix incorrect path during release notes generation
  go/tools/release-notes/release_notes.go
Labels: Type: Bug, Component: Documentation, Type: Release, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12775 [release-16.0] Remove unnecessary code bits in workflows (#12756)
  .github/workflows/create_release.yml
  .github/workflows/docker_test_cluster_10.yml
  .github/workflows/docker_test_cluster_25.yml
  .github/workflows/endtoend.yml
  .github/workflows/sonar_analysis.yml
  .github/workflows/static_checks_etc.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
Labels: Type: Enhancement, Component: Build/CI, Backport

#12779 Fix: reset transaction session when no reserved connection
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/reparent/prssettingspool/main_test.go
  go/test/endtoend/reparent/prssettingspool/schema.sql
  go/test/endtoend/reparent/utils/utils.go
  go/vt/vtgate/safe_session.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Forwardport to: main, Backport to: release-16.0

#12789 evalengine: Fix handling of datetime and numeric comparisons
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/json/parser.go
  go/sqltypes/type.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_compare.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Enhancement, Component: Evalengine

#12774 [release-15.0] Remove unnecessary code bits in workflows (#12756)
  .github/workflows/create_release.yml
  .github/workflows/docker_test_cluster_10.yml
  .github/workflows/docker_test_cluster_25.yml
  .github/workflows/endtoend.yml
  .github/workflows/sonar_analysis.yml
  .github/workflows/static_checks_etc.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
Labels: Type: Enhancement, Component: Build/CI, Backport

#12788 Remove `nvm use` from vtadmin-up.sh script
  examples/common/scripts/vtadmin-up.sh
Labels: Component: VTAdmin, Type: CI/Build

#12793 [release-15.0] Use go1.20.2 in next-upgrade/downgrade workflows
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Bug, Component: Build/CI

#12791 [release-16.0] Throttler: Expose Tablet's Config & Leverage to Deflake Tests
  examples/common/scripts/vttablet-up.sh
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtctlutil.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/throttler/util.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Build/CI, Type: Testing, Backport, Flakes
