Repository vitessio/vitess, pull requests merged in 2023-10, with the labels that each got.

#14129 gen4: Support explicit column aliases on derived tables
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/doc.go
  go/vt/vtgate/planbuilder/expression_converter.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/hash_join.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/horizon_planning_test.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/other_read.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/planner.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-18.0

#14143 [release-17.0] Fix upgrade tests
  examples/common/scripts/vttablet-up.sh
  examples/compose/vttablet-up.sh
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/utils/mysqlvsvitess/main_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/aggregation/main_test.go
  go/test/endtoend/vtgate/queries/foundrows/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/orderby/main_test.go
  go/test/endtoend/vtgate/queries/subquery/main_test.go
  go/test/endtoend/vtgate/queries/union/main_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  vitess-mixin/e2e/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#13938 [release-15.0] Bump upgrade test to `go1.20.8`
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Internal Cleanup, Component: Build/CI, go

#14159 Remove `MYSQL_FLAVOR` from all Docker images
  changelog/19.0/19.0.0/summary.md
  changelog/19.0/README.md
  changelog/README.md
  docker/bootstrap/Dockerfile.mysql80
  docker/bootstrap/Dockerfile.percona80
  docker/lite/Dockerfile.mysql80
  docker/lite/Dockerfile.percona80
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  examples/demo/demo.go
  go/cmd/vttestserver/cli/main.go
  go/vt/vttablet/endtoend/streamtimeout/main_test.go
  go/vt/vttest/environment.go
Labels: Type: Internal Cleanup, Component: TabletManager, Component: Docker

#14162 FlakyFix: `TestZk2Topo`
  go/vt/topo/zk2topo/server_test.go
Labels: Type: Testing, Component: Topology

#14165 Throttler: set timeouts on gRPC communication and on topo communication
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Backport, Component: Throttler, Backport to: release-18.0

#14158 Vitess MySQL Docker Image
  Makefile
  changelog/19.0/19.0.0/summary.md
  docker/lite/install_dependencies.sh
  docker/mysql/Dockerfile
  docker/mysql/Dockerfile.8.0.30
  docker/mysql/Dockerfile.8.0.34
Labels: Type: CI/Build, Component: Docker

#14142 Release of v15.0.5
  .github/workflows/code_freeze.yml
  changelog/15.0/15.0.5/changelog.md
  changelog/15.0/15.0.5/release_notes.md
  changelog/15.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14135 Release of v16.0.5
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.5/changelog.md
  changelog/16.0/16.0.5/release_notes.md
  changelog/16.0/16.0.5/summary.md
  changelog/16.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14140 Release of v17.0.3
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.3/changelog.md
  changelog/17.0/17.0.3/release_notes.md
  changelog/17.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14133 add release-18.0 to golang upgrade
  .github/workflows/update_golang_version.yml
Labels: Component: General, Type: Release

#14172 Back to dev mode after v17.0.3
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14168 Back to dev mode after v15.0.5
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14170 Back to dev mode after v16.0.5
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14175 Add release instructions for Milestones
  doc/internal/release/how-to-release.md
Labels: Component: Documentation, Type: Release

#14177 sqlparser: normalize IndexInfo
  go/test/endtoend/vreplication/helper_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14187 Fix data race in `TestWarmingReads`
  go/vt/vtgate/executor_select_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Component: Query Serving, Type: Testing

#14182 Online DDL: timeouts for all gRPC calls
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Online DDL, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#13264 Cache stream query plans in vttablet
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Feature Request, Component: Query Serving

#14179 Tablet throttler: fix race condition by removing goroutine call
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Backport to: release-16.0, Component: Throttler, Backport to: release-17.0, Backport to: release-18.0

#14192 refactor plan test cases
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving

#14217 Bypass cobra completion commands so they still function
  go/cmd/vtctldclient/command/root.go
Labels: Type: Documentation, Component: CLI, Backport to: release-18.0

#14215 Update v17 Release notes with a Breaking Change
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
Labels: Component: Documentation, Type: Release

#14085 Use panic instead of errors inside the operator package
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14190 [Release 17.0]: Online DDL: timeouts for all gRPC calls (#14182)
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Backport, Component: Online DDL

#14189 [Release 18.0]: Online DDL: timeouts for all gRPC calls (#14182)
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Backport, Component: Online DDL

#14197 [release-15.0] Bump upgrade test workflows to `go1.20.9`
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: CI/Build, Component: General, go

#14185 Fix anonymous paths in cobra code-gen
  go/cmd/internal/docgen/docgen.go
Labels: Type: Bug, Component: CLI, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14226 Move all examples to vtctldclient
  examples/backups/start_cluster.sh
  examples/backups/stop_tablets.sh
  examples/backups/take_backups.sh
  examples/backups/upgrade_cluster.sh
  examples/common/env.sh
  examples/common/lib/utils.sh
  examples/compose/README.md
  examples/compose/externaldb_vreplication.sh
  examples/compose/lvtctl.sh
  examples/compose/schemaload.sh
  examples/compose/vtcompose/vtcompose.go
  examples/compose/vttablet-up.sh
  examples/local/README.md
  examples/operator/README.md
  examples/operator/pf.sh
  examples/region_sharding/201_main_sharded.sh
  examples/region_sharding/203_reshard.sh
  examples/region_sharding/204_switch_reads.sh
  examples/region_sharding/205_switch_writes.sh
  examples/region_sharding/301_teardown.sh
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: Examples, Component: vtctl, Backport to: release-18.0

#14191 [Release 16.0]: Online DDL: timeouts for all gRPC calls (#14182)
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Backport, Component: Online DDL

#14203 set vreplication net read and net write timeout session vars to high values
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer.go
Labels: Type: Enhancement, Component: VReplication

#14198 [release-18.0] Tablet throttler: fix race condition by removing goroutine call (#14179)
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Backport, Component: Throttler

#14200 [release-16.0] Tablet throttler: fix race condition by removing goroutine call (#14179)
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Backport, Component: Throttler

#14199 [release-17.0] Tablet throttler: fix race condition by removing goroutine call (#14179)
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Backport, Component: Throttler

#14222 Fix broken link in docker readme
  docker/README.md
Labels: Type: Internal Cleanup, Component: Documentation

#14259 Add vtctldclient info to the 18.0 summary
  changelog/18.0/18.0.0/summary.md
Labels: Component: VReplication, Component: vtctl, Type: Release, Component: CLI, Forwardport to: main

#14254 Mention roadmap planning/modification in the release process
  doc/internal/release/how-to-release.md
Labels: Type: Internal Cleanup, Component: Documentation

#14245 UNION column type coercion
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14269 Rename `BinaryIsAtVersion` to `BinaryIsAtLeastAtVersion`
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/union/union_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13840 vreplication timeout query optimizer hints
  go/flags/endtoend/vtcombo.txt
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vreplication/flags.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_partial.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_atomic.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
Labels: Type: Enhancement, Component: VReplication

#14268 fix: analyze statement parsing and planning
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/analyzer_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/testdata/other_read_cases.json
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/planbuilder/testdata/stream_cases.txt
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0

#14243 Build and push Docker `vitess/lite` to DockerHub from GitHub Actions
  .github/workflows/docker_build_lite.yml
Labels: Type: Enhancement, Component: Docker

#14062 go/vt/wrangler: add len(qr.Rows) check to no streams found log msg
  go/vt/wrangler/vexec_plan.go
Labels: Type: Enhancement, Component: VReplication

#14267 bugfix: use the proper interface for comment directives
  go/test/endtoend/vtgate/queries/no_scatter/main_test.go
  go/test/endtoend/vtgate/queries/no_scatter/queries_test.go
  go/test/endtoend/vtgate/queries/no_scatter/schema.sql
  go/test/endtoend/vtgate/queries/no_scatter/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/comments.go
  go/vt/sqlparser/comments_test.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vttablet/tabletserver/query_engine.go
  test/config.json
Labels: Type: Bug, Component: Query Serving

#14281 Make vtctldclient mount command more standard
  go/cmd/vtctldclient/command/vreplication/mount/mount.go
  go/test/endtoend/vreplication/migrate_test.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: CLI, Backport to: release-18.0

#14273 Refactor: foreign key in semantic analysis phase
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operators/ast2op_test.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/semantic_state_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
  go/vt/vtgate/vindexes/foreign_keys_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14286 Refactor: New operator InsertionSelection to adhere to the operator model
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14290 OnlineDDL: fix scenarios where migration hangs instead of directly failing
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL

#14294 VReplication: error on vtctldclient commands w/o tablet types
  .github/CODEOWNERS
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/common/utils_test.go
  go/cmd/vtctldclient/command/vreplication/workflow/update.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14287 refactor: move more code from logical plans to ops
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/fk_cascade.go
  go/vt/vtgate/planbuilder/fk_verify.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/planner.go
  go/vt/vtgate/planbuilder/postprocess.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/uncorrelated_subquery.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/vindex_func.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14249 schemadiff: improved heuristic for dependent migration permutation evaluation time
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Labels: Component: Query Serving, Type: Performance

#14271 Build and push Docker `vitess/base` and component images to DockerHub from GitHub Actions
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  doc/internal/release/how-to-release.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Labels: Type: Enhancement, Component: Docker

#14292 refactor: introduce evalengine type and use it
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/expression_converter.go
  go/vt/vtgate/planbuilder/expression_converter_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/typer.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: Evalengine

#14313 evalengine: Use the right unknown type to initialize
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Bug, Component: Query Serving

#14314 Build and push Docker `vitess/vttestserver` DockerHub from GitHub Actions
  .github/workflows/docker_build_vttestserver.yml
Labels: Type: CI/Build, Component: Docker

#14319 release notes: edit summary for consistency
  changelog/18.0/18.0.0/summary.md
Labels: Type: Documentation, Component: Documentation, Backport to: release-18.0

#14318 Add `vtexplain` and `vtbackup` to base docker auto-build
  .github/workflows/docker_build_base.yml
Labels: Type: Enhancement, Type: CI/Build, Component: Docker

#14330 Incremental backup: fix race condition in reading 'mysqlbinlog' output
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Labels: Type: Bug, Type: CI/Build, Component: Backup and Restore, Backport to: release-18.0

#14324 engine: fix race when reading fields in Concatenate
  go/vt/vtgate/engine/concatenate.go
Labels: Type: Bug, Component: Query Serving

#14336 Update vtadmin dependencies
  web/vtadmin/package-lock.json
Labels: dependencies, Component: VTAdmin, Type: CI/Build

#14219 Gracefully shutdown VTGate instances
  go/mysql/conn.go
  go/mysql/conn_fake.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Enhancement, Component: Query Serving

#14224 allow tablet picker to exclude specified tablets from its candidate list
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Enhancement, Component: VReplication

#14341 VReplication: Add --all-cells flag to create sub-commands
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/common/utils_test.go
Labels: Type: Enhancement, Component: VReplication, Backport to: release-18.0

#14302 OnlineDDL: reduce vrepl_stress workload in forks
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14328 chore: unnecessary use of fmt.Sprintf
  examples/compose/vtcompose/vtcompose.go
Labels: Type: Internal Cleanup, Component: General

#14350 Fix stray vtadmin package-lock.json content
  web/vtadmin/package-lock.json
Labels: Component: VTAdmin, Type: CI/Build

#14351 evalengine: Misc bugs
  go/mysql/datetime/datetime.go
  go/mysql/datetime/time_zone_test.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-17.0, Backport to: release-18.0

#14352 Automatic approval of `vitess-bot` clean backports
  .github/workflows/auto_approve_pr.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14338 Online DDL: support DROP FOREIGN KEY statement
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Online DDL

#14358 datetime: obey the evalengine's environment time
  go/mysql/datetime/datetime.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Labels: Type: Bug, Component: Evalengine

#14359 use aggregation engine over distinct engine when overlapping order by
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Labels: Component: Query Serving, Type: Performance, Benchmark me, Type: Regression, Backport to: release-18.0

#14311 Fix backup on s3 like storage
  go/vt/mysqlctl/s3backupstorage/s3.go
Labels: Component: Backup and Restore, Type: Regression, Backport to: release-18.0

#14376 Fix codegen command with the right type
  Makefile
  go/tools/sizegen/sizegen.go
Labels: Component: Build/CI, Type: CI/Build, Component: Evalengine

#14374 evalengine: Proper support for bit literals
  go/mysql/collations/local.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/literal.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_literal.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Internal Cleanup, Component: Evalengine

#14363 [Docker] Fix VTadmin build
  docker/local/Dockerfile
  docker/local/run.sh
Labels: Type: Bug, Component: Docker, Backport to: release-18.0

#14309 Tools: Remove dependencies installed by `make tools`
  Makefile
  bootstrap.sh
  build.env
  tools/remove_dependencies.sh
Labels: Type: Enhancement, Component: Examples

#14377 Tell shellcheck to follow sourced files
  misc/git/hooks/shellcheck
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Build/CI

#14360 Vtctld SwitchReads: fix bug where writes were also being switched as part of switching reads when all traffic was switched using SwitchTraffic
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14345 VDiff: wait for shard streams of one table diff to complete for before starting that of the next table
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14385 schemadiff: remove table name from auto-generated FK constraint name
  go/vt/schemadiff/names.go
  go/vt/schemadiff/names_test.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Bug, Type: Enhancement, Component: Online DDL

#14387 schemadiff: fix missing `DROP CONSTRAINT` in duplicate/redundant constraints scenario.
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving, Component: Online DDL, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14383 Performance Fixes for Vitess 18
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/oltp_test.go
  go/vt/vtgate/endtoend/schema.sql
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Component: Query Serving, Benchmark me, Type: Regression, Backport to: release-18.0

#14370 Enable Online DDL foreign key support (also in vtgate stress tests) when backing MySQL includes appropriate patch
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  test/config.json
Labels: Type: Enhancement, Component: Online DDL

#14384 VStream: Skip vindex keyrange filtering when we can
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Enhancement, Component: VReplication

#14321 Add support for common table expressions
  go/test/endtoend/vtgate/queries/derived/cte_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Enhancement, Component: Query Serving

#14365 Planner bugfix
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/evalengine/translate_card.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving

#14401 semantics: Fix missing union pop from scoper
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Bug, Component: Query Serving

#14405 Code freeze of release-18.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#14407 Code freeze of release-17.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#14397 schemadiff: identify a FK sequential execution scenario, and more
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: Query Serving

#14409 Code freeze of release-16.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue
