Repository vitessio/vitess, pull requests merged in 2023-01, with the labels that each got.

#12014 OnlineDDL: scheduleNextMigration() to only read reviewed migrations
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Component: Query Serving

#11990 sqlparser: `QueryMatchesTemplates` uses canonical string
  go/vt/sqlparser/utils.go
  go/vt/sqlparser/utils_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#11976 OnlineDDL: support --unsafe-allow-foreign-keys strategy flag
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
Labels: Type: Enhancement, Component: Query Serving

#12024 BugFix: Errant GTID detection for a single replica
  go/mysql/replication_status.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Bug, Component: Cluster management

#12034 Fix rbac config in the vtop example
  examples/operator/101_initial_cluster.yaml
Labels: Type: Bug, Component: Examples, Component: Operator, Backport to: release-15.0

#12036 VReplication: Test Migrations From MariaDB to MySQL
  .github/workflows/unit_test_mariadb103.yml
  config/embed.go
  config/mycnf/mariadb10.cnf
  config/mycnf/mariadb100.cnf
  config/mycnf/mariadb102.cnf
  config/mycnf/mariadb103.cnf
  config/mycnf/mariadb104.cnf
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
  test.go
  test/README.md
  test/ci_workflow_gen.go
  test/config.json
  test/templates/unit_test.tpl
Labels: Component: Build/CI, Component: VReplication, Type: Testing

#12030 [vtctldclient|docs] apply doc feedback based on website PR feedback
  go/cmd/vtctldclient/command/shard_routing_rules.go
  go/cmd/vtctldclient/command/throttler.go
  go/cmd/vtctldclient/command/topology.go
  go/flags/endtoend/vtctldclient.txt
Labels: Type: Documentation, Component: vtctl, Component: CLI

#11957 Fix `codeql` workflow timeout issue (#11760)
  .github/workflows/codeql_analysis.yml
Labels: Type: Bug, Component: Build/CI, Backport

#12012 VTOrc Code Cleanup - generate_base, replace cluster_name with keyspace and shard.
  go/cmd/vtorc/status.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/vtorc/attributes/attributes.go
  go/vt/vtorc/attributes/attributes_dao.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/db/generate_patches.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/audit_dao_test.go
  go/vt/vtorc/inst/cluster.go
  go/vt/vtorc/inst/cluster_domain_dao.go
  go/vt/vtorc/inst/downtime_dao.go
  go/vt/vtorc/inst/instance.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/inst/minimal_instance.go
  go/vt/vtorc/logic/orchestrator.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/server/api.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTorc

#12033 Add missing backslash to run.sh script
  docker/vttestserver/run.sh
Labels: Type: Bug, Component: vttestserver, Backport to: release-15.0

#11972 Table GC: rely on tm state to determine operation mode
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Component: TabletManager

#12044 Keywords must be unique and can't be reused
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_funcs_test.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#11988 **unsafe**: Online DDL support for `--unsafe-allow-foreign-keys` strategy flag
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-fk-parent/expect_failure
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Query Serving

#12016 schemadiff: normalize `PRIMARY KEY` definition
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#12048 mysqlctl: flags should be added to vtbackup
  go/flags/endtoend/vtbackup.txt
  go/vt/mysqlctl/compression.go
Labels: Type: Bug, Component: Backup and Restore, Forwardport to: main

#12042 BugFix: Fix race in `IsFlagProvided`
  go/internal/flag/flag.go
  go/vt/topo/locks_test.go
Labels: Type: Bug, Component: Cluster management

#12057 stats/prometheus: normalize labels for single-label implementations
  doc/releasenotes/16_0_0_summary.md
  go/stats/prometheusbackend/collectors.go
  go/stats/prometheusbackend/prometheusbackend_test.go
Labels: Type: Bug, Breaking change, Component: Observability

#12055 consolidating OnlineDDL 'singleton' tests into 'scheduler' tests: part 1
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Labels: Component: Build/CI, Type: Testing

#10066 ComBinlogDumpGTID and downstream replication protocol
  go/mysql/binlog_dump.go
  go/mysql/binlog_event.go
  go/mysql/binlog_event_common.go
  go/mysql/binlog_event_common_test.go
  go/mysql/binlog_event_filepos.go
  go/mysql/binlog_event_make.go
  go/mysql/binlog_event_make_test.go
  go/mysql/conn.go
  go/mysql/conn_flaky_test.go
  go/mysql/constants.go
  go/mysql/encoding.go
  go/mysql/fakesqldb/server.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/register_replica.go
  go/mysql/replication.go
  go/mysql/replication_constants.go
  go/mysql/replication_test.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/vt/binlog/binlog_connection.go
  go/vt/binlog/binlog_streamer.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Enhancement, Component: Query Serving

#12059 Refactor sqlparser.Rewrite uses
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/logical.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
Labels: Type: Enhancement, Component: Query Serving

#12019 VTOrc running PRS when database_instance empty bug fix.
  go/vt/vtorc/db/db.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Bug, Component: VTorc

#12040 Remove building Docker containers with MariaDB
  Makefile
  doc/DockerBuild.md
  docker/base/Dockerfile.mariadb
  docker/base/Dockerfile.mariadb103
  docker/bootstrap/Dockerfile.mariadb
  docker/bootstrap/Dockerfile.mariadb103
  docker/bootstrap/README.md
  docker/lite/Dockerfile.alpine
  docker/lite/Dockerfile.mariadb
  docker/lite/Dockerfile.mariadb103
  docker/lite/install_dependencies.sh
Labels: Type: Internal Cleanup, Component: Build/CI

#12029 remove backup_hook from flag help
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/backup.go
Labels: Type: Documentation, Type: Enhancement, Component: Backup and Restore

#11961 Release of v15.0.2
  doc/releasenotes/15_0_2_changelog.md
  doc/releasenotes/15_0_2_release_notes.md
  doc/releasenotes/15_0_2_summary.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12071 Copy design docs over from website
  VitessSpectrum.png
  doc/DesignDocs.md
  doc/design-docs/APIScope.md
  doc/design-docs/ComponentizingTabletServer.md
  doc/design-docs/LifeOfAQuery.md
  doc/design-docs/LongRunningJobs.md
  doc/design-docs/OnlineDDLScheduler.md
  doc/design-docs/RealTimeParamsChange.md
  doc/design-docs/ReplicationLagBasedThrottlingOfTransactions.md
  doc/design-docs/RowBasedReplication.md
  doc/design-docs/SafeLazyDropTables.md
  doc/design-docs/SeparatingVttabletMysql.md
  doc/design-docs/TabletManagerModel.md
  doc/design-docs/TabletRouting.md
  doc/design-docs/TabletServerParamsAsYAML.md
  doc/design-docs/TwoPhaseCommitDesign.md
  doc/design-docs/TxInteractions.png
  doc/design-docs/TxLifecycle.png
  doc/design-docs/V3HighLevelDesign.md
  doc/design-docs/V3VindexDesign.md
  doc/design-docs/VTGateSubqueries.md
  doc/design-docs/VTGateV3Features.md
  doc/design-docs/VTTabletFastStateTransitions.md
  doc/design-docs/VindexAsTable.md
  doc/design-docs/VitessQueues.md
  doc/design-docs/life_of_a_query.png
  doc/design-docs/life_of_a_query.xml
  doc/design-docs/life_of_a_query_all.png
  doc/design-docs/life_of_a_query_all.xml
  doc/design-docs/life_of_a_query_client_to_vtgate.png
  doc/design-docs/life_of_a_query_client_to_vtgate.xml
  doc/design-docs/life_of_a_query_vtgate_to_vttablet.png
  doc/design-docs/life_of_a_query_vtgate_to_vttablet.xml
  doc/design-docs/life_of_a_query_vttablet_to_mysql.png
  doc/design-docs/life_of_a_query_vttablet_to_mysql.xml
Labels: Type: Documentation, Component: Documentation

#12066 backup: remove deprecated hook support
  build.env
  doc/releasenotes/16_0_0_summary.md
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  test/vthook-test_backup_error
  test/vthook-test_backup_transform
Labels: Type: Internal Cleanup, Component: Backup and Restore

#12062 Fail CI when a PR is labeled with `NeedsWebsiteDocsUpdate` or `NeedsDescriptionUpdate`
  .github/workflows/check_label.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#12052 VReplication: Improve Error/Status Reporting
  go/mysql/constants.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_env_test.go
  go/vt/vtctl/vtctl_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Bug, Component: VReplication

#12070 Mark VReplicationExec Client Command as Deprecated
  doc/releasenotes/16_0_0_summary.md
  go/vt/vtctl/vtctl.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: TabletManager

#12064 [15.0] CI: remove pitrtls test
  .github/workflows/cluster_endtoend_26.yml
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/recovery/pitrtls/shardedpitr_tls_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletmanager/replication_manager/tablet_test.go
  go/vt/servenv/servenv.go
  go/vt/servenv/servenv_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Internal Cleanup, Component: Build/CI

#12027 OnlineDDL: 'mysql' strategy, managed by the scheduler, but executed via normal MySQL statements
  doc/releasenotes/16_0_0_release_notes.md
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Query Serving

#11987 support transaction isolation modification through reserved connection system settings
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/testdata/set_cases.json
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/safe_session_test.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#12087 Internal: Fix Bad Merge
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#12084 Mark VDiff V2 as GA in v16
  doc/releasenotes/16_0_0_summary.md
  go/cmd/vtctl/vtctl.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vdiff2.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vdiff/README.md
Labels: Type: Documentation, Component: VReplication

#11859 Endtoend cluster improvements
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/mysqlctl_process.go
Labels: Type: Enhancement, Component: Build/CI, Component: Cluster management, Type: CI/Build

#12095 VReplication: Propagate Binlog Stream Errors
  go/vt/binlog/binlog_connection.go
  go/vt/binlog/binlog_streamer.go
  go/vt/binlog/binlog_streamer_rbr_test.go
  go/vt/binlog/binlog_streamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication

#12082 Fix: Date math with Interval keyword
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-13.0, Backport to: release-15.0

#12091 Fix insert query of blocked_recovery table in VTOrc
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
Labels: Type: Bug, Component: VTorc

#12099 store transaction isolation level in upper case
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/system_variables.go
  go/vt/vtgate/planbuilder/testdata/set_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving

#12105 Keep the correct case for the charset for canonical string
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving

#12111 BugFix: Cast expression translation by evaluation engine
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0

#12107 CI, tabletmanager throttler topo tests: polling until status received
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
Labels: Component: Cluster management, Type: CI/Build, Backport to: release-15.0

#12089 Fix: VTOrc forgetting old instances
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Component: VTorc

#12102 [release-15.0] Fix: Date math with Interval keyword (#12082)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, Backport

#12103 [release-14.0] Fix: Date math with Interval keyword (#12082)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, Backport

#12106 [release-13.0] Fix: Date math with Interval keyword (vitessio#12082)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#12118 [release-14.0] BugFix: Cast expression translation by evaluation engine (#12111)
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12117 [release-15.0] BugFix: Cast expression translation by evaluation engine (#12111)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/evalengine/convert.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12021 Use Gen4 as the default planner version for VTExplain
  go/cmd/vtexplain/vtexplain.go
  go/flags/endtoend/vtexplain.txt
Labels: Type: Bug, Component: vtexplain, Backport to: release-14.0, Backport to: release-15.0

#12063 Move more rewriting to SafeRewrite
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/semantics/early_rewriter.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12083 Remove Deprecated flags, code and stats.
  doc/releasenotes/16_0_0_summary.md
  docker/mini/vttablet-mini-up.sh
  go/internal/flag/flag.go
  go/mysql/conn_params.go
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/replication_manager/tablet_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Labels: Type: Internal Cleanup, Component: General

#12126 add debug tooling
  go.mod
  go.sum
  go/test/dbg/dbg.go
Labels: Component: Build/CI, Type: Testing

#11944 schemadiff: foreign key validation (tables and columns)
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving

#12135 Generating copy-on-rewrite logic
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/copy_on_rewrite_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_equals.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/integration/ast_visit.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_copy_on_rewrite_test.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cow.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12128 Remove removed flags from being used for v16+ binaries
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/utils/utils.go
Labels: Type: Internal Cleanup, Component: General

#12137 schemadiff: TableCharsetCollateStrategy hint
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving

#11960 Add structure logging to Vitess
  doc/releasenotes/16_0_0_summary.md
  go.mod
  go.sum
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/logutil/planetscale_logger.go
  go/vt/logutil/planetscale_logger_test.go
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: General

#12148 Remove the semgrep action
  .github/workflows/semgrep.yml
Labels: Component: Build/CI, Type: CI/Build, Type: Testing

#12050 VTGate: Set immediate caller id from gRPC static auth username
  go/test/endtoend/vtgate/grpc_server_auth_static/main_test.go
  go/vt/servenv/grpc_server_auth_static.go
  go/vt/vtgate/grpcvtgateservice/server.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving, Component: Authn/z

#12144 DDL: do not Reload() for 'CREATE TEMPORARY' and 'DROP TEMPORARY' statements
  go/vt/vttablet/tabletserver/planbuilder/plan_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/ddl_cases.txt
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Component: Query Serving, Type: Performance

#12007 Implement the RowsColumnTypeScanType interface in the go sql driver
  go/vt/vitessdriver/rows.go
  go/vt/vitessdriver/rows_test.go
Labels: Type: Enhancement, Component: Driver

#11997 docker/lite: +zstd dep
  docker/lite/install_dependencies.sh
Labels: Type: CI/Build, Component: Backup and Restore

#11994 go/vt/mysqlctl: add compression benchmarks
  doc/releasenotes/16_0_0_summary.md
  go/vt/mysqlctl/compression_benchmark_test.go
Labels: Type: Testing, Component: Backup and Restore

#11962 Back to dev mode after v15.0.2
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#12139 Clean up ColumnType uses
  go/vt/schemadiff/column.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Internal Cleanup, Component: Query Serving

#12150 Support BETWEEN in the evalengine
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Enhancement, Component: Query Serving

#12163 [vtadmin] deprecated vtexplain
  doc/releasenotes/16_0_0_summary.md
  go/vt/vtadmin/api.go
Labels: Type: Announcement, Component: VTAdmin

#12175 handle system databases other that information_schema correctly
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/vt/vtgate/planbuilder/testdata/systemtables_cases80.json
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving

#12026 schemadiff: validate and apply foreign key indexes
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: Query Serving

#12061 consolidating OnlineDDL 'declarative' tests into 'scheduler' tests: part 1
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#12124 Views Support: Updating Views in VSchema for query serving
  go/mysql/schema.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/schematracker/sharded/schema.sql
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/sharded/vschema.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/schema/update_controller.go
  go/vt/vtgate/schema/update_controller_flaky_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Feature Request, Component: Query Serving

#12182 CI cleanup: remove onlineddl_declarative, onlineddl_singleton (cleanup part 2)
  .github/workflows/cluster_endtoend_onlineddl_declarative.yml
  .github/workflows/cluster_endtoend_onlineddl_declarative_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton.yml
  .github/workflows/cluster_endtoend_onlineddl_singleton_mysql57.yml
  go/test/endtoend/onlineddl/declarative/onlineddl_declarative_test.go
  go/test/endtoend/onlineddl/singleton/onlineddl_singleton_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#12183 Online DDL CI: consolidated revertible and revert CI tests (part 1)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build, Type: Testing

#12191 Fix parsing of bitnum values larger than 64 bit
  go/sqltypes/value.go
  go/sqltypes/value_test.go
Labels: Type: Bug, Component: Query Serving

#12178 VTGate: Ensure HealthCheck Cache Secondary Maps Stay in Sync With Authoritative Map on Tablet Delete
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#12192 OnlineDDL CI: remove 'revertible' tests (part 2)
  .github/workflows/cluster_endtoend_onlineddl_revertible.yml
  .github/workflows/cluster_endtoend_onlineddl_revertible_mysql57.yml
  go/test/endtoend/onlineddl/revertible/onlineddl_revertible_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Build/CI, Type: CI/Build

#12113 Online DDL: --in-order-completion ddl strategy and logic
  doc/releasenotes/16_0_0_release_notes.md
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Query Serving

#12169 OnlineDDL: avoid schema_migrations AUTO_INCREMENT gaps by pre-checking for existing migration
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: Online DDL
