Repository vitessio/vitess, pull requests merged in 2023-02, with the labels that each got.

#12171 Use schema for the information_schema views
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/system_tables.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/system_tables.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/info_schema.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Query Serving

#12202 Use Ubuntu 20.04 for Release Builds
  .github/workflows/create_release.yml
Labels: Component: Build/CI, Type: CI/Build, Type: Release, Backport to: release-15.0

#12211 Online DDL: fix deadlock by releasing mutex before calling callback
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Query Serving

#12213 vtgateconn: add DeregisterDialer hook
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateconn/vtgateconn_test.go
Labels: Type: Enhancement, Component: Query Serving

#12201 Update vtadmin dependencies
  .github/workflows/check_make_vtadmin_web_proto.yml
  .github/workflows/vtadmin_web_build.yml
  .github/workflows/vtadmin_web_lint.yml
  .github/workflows/vtadmin_web_unit_tests.yml
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Component: Build/CI, Type: CI/Build

#12149 Remove replication manager and run VTOrc in all e2e tests
  doc/releasenotes/16_0_0_summary.md
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/vttablet/tabletmanager/replmanager.go
  go/vt/vttablet/tabletmanager/replmanager_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_state.go
Labels: Type: Internal Cleanup, Component: Cluster management

#12200 Allow manually kicking off CodeQL
  .github/workflows/codeql_analysis.yml
Labels: Component: Build/CI, Type: Testing

#12214 Move vtorc from go-sqlite3 to modernc.org/sqlite
  Makefile
  go.mod
  go.sum
  go/cmd/vtorc/main.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/external/golib/sqlutils/dialect.go
  go/vt/external/golib/sqlutils/sqlite_dialect.go
  go/vt/external/golib/sqlutils/sqlite_dialect_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/db/db.go
  go/vt/vtgr/db/mysql.go
  go/vt/vtgr/db/tls.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/candidate_database_instance_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/inst/keyspace_dao_test.go
  go/vt/vtorc/inst/resolve_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/inst/tag_dao.go
  go/vt/vtorc/logic/disable_recovery.go
  go/vt/vtorc/logic/keyspace_discovery_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/process/election_dao.go
  go/vt/vtorc/process/health_dao.go
  go/vt/vtorc/test/db.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Enhancement, Component: VTorc, Backport to: release-15.0

#12220 Revert "Use ubuntu 20.04 for release builds (#12202)"
  .github/workflows/create_release.yml
Labels: Component: Build/CI, Type: CI/Build

#12222 Update release notes summary for the new default MySQL version
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Documentation, Component: Build/CI

#12219 Revert changes made in #11960
  doc/releasenotes/16_0_0_summary.md
  go.mod
  go.sum
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/logutil/planetscale_logger.go
  go/vt/logutil/planetscale_logger_test.go
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: General

#12215 Update Go dependencies
  go.mod
  go.sum
  go/flagutil/sets.go
  go/test/endtoend/vtgate/keyspace_watches/keyspace_watch_test.go
  go/vt/proto/automation/automation_vtproto.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/logutil/logutil_vtproto.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tableacl/tableacl_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/throttlerdata/throttlerdata_vtproto.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/proto/vttime/vttime_vtproto.pb.go
  go/vt/topo/cell_info.go
  go/vt/topo/topoproto/tablet.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/http/shards.go
  go/vt/vtadmin/rbac/config.go
  go/vt/vtadmin/rbac/rule.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/vexec.go
  vitess-mixin/go.mod
  vitess-mixin/go.sum
Labels: Component: Build/CI, Type: CI/Build

#12226 Flakes: Properly Test HealthCheck Cache Response Handling
  go/vt/discovery/healthcheck_test.go
Labels: Component: Query Serving, Type: CI/Build, Flakes, Backport to: release-15.0

#11989 vtgate advertised mysql server version to 8.0.31
  doc/releasenotes/16_0_0_summary.md
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/mysql/collations/local.go
  go/vt/servenv/buildinfo.go
  go/vt/servenv/buildinfo_test.go
  go/vt/servenv/mysql.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/token.go
  go/vt/sqlparser/token_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/engine/set_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: Query Serving, Release Blocker

#12189 schemadiff: fix scenario where no tables exist in schema and with just views reading from DUAL
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Bug, Component: Query Serving

#12172 [Gen4] Fix lookup vindexes with `autocommit` enabled
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vindex_lookup.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/vindex.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#12225 Add TOC to the summary docs
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: Build/CI

#12232 Code freeze of release-16.0
  .github/workflows/code_freeze.yml
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Component: General

#12234 Bump reported version of main to 17.0.0 SNAPSHOT
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build, Component: General

#12223 Release-15: Cherry pick vtorc no cgo
  Makefile
  go.mod
  go.sum
  go/cmd/vtorc/main.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/external/golib/sqlutils/dialect.go
  go/vt/external/golib/sqlutils/sqlite_dialect.go
  go/vt/external/golib/sqlutils/sqlite_dialect_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/db/db.go
  go/vt/vtgr/db/mysql.go
  go/vt/vtgr/db/tls.go
  go/vt/vtorc/attributes/attributes_dao.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/candidate_database_instance_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/inst/keyspace_dao_test.go
  go/vt/vtorc/inst/resolve_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/inst/tag_dao.go
  go/vt/vtorc/logic/disable_recovery.go
  go/vt/vtorc/logic/keyspace_discovery_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/process/election_dao.go
  go/vt/vtorc/process/health_dao.go
  go/vt/vtorc/test/db.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Enhancement, Backport, Component: VTorc

#12229 Use the correct uint32 type for the GTID file position
  go/mysql/binlog_event_filepos.go
  go/mysql/filepos_gtid.go
  go/mysql/filepos_gtid_test.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12199 Fix CodeQL identified issues
  go/vt/throttler/throttlerlogz.go
  go/vt/throttler/throttlerlogz_test.go
  go/vt/throttler/throttlerz.go
  go/vt/vtctl/vtctldclient/codegen/main.go
Labels: Type: Internal Cleanup, Component: General

#12253 Use a working MariaDB mirror for CI
  go/test/endtoend/vreplication/cluster_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-16.0

#12245 Update the release instructions after v16 code freeze
  doc/internal/ReleaseInstructions.md
Labels: Component: Documentation, Type: Release

#12246 onlineddl_vrepl suite: fix auto_increment flakyness
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-deletes-mysql80/expect_table_structure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/autoinc-copy-simple-mysql80/expect_table_structure
Labels: Component: Build/CI, Type: CI/Build

#12252 Revert default MySQL 80 version to `8.0.30`
  doc/releasenotes/16_0_0_summary.md
  docker/lite/install_dependencies.sh
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/buildinfo_test.go
  go/vt/servenv/mysql.go
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-16.0

#12237 Fix additional integer type handling
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/cmd/vtctldclient/command/shards.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/test/endtoend/utils/mysql.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/mysqlctl/cmd.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/mycnf_flag.go
  go/vt/mysqlctl/mycnf_gen.go
  go/vt/vtadmin/cluster/config.go
  go/vt/zkctl/zkconf.go
Labels: Type: Internal Cleanup, Component: General

#12210 grpcvtgateconn: add Dial and deprecate DialWithOpts
  go/test/endtoend/vtgate/grpc_server_auth_static/main_test.go
  go/vt/vitessdriver/driver.go
  go/vt/vtgate/grpcvtgateconn/conn.go
Labels: Type: Bug, Component: Query Serving

#12248 Use consistent type port and replication state
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtcombo/main.go
  go/mysql/constants.go
  go/mysql/flavor.go
  go/mysql/flavor_mariadb_test.go
  go/mysql/flavor_mysql_test.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/flavor_mysqlgr_test.go
  go/mysql/replication_status.go
  go/sqltypes/value.go
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#12273 [release-16.0] Revert default MySQL 80 version to `8.0.30` (#12252)
  doc/releasenotes/16_0_0_summary.md
  docker/lite/install_dependencies.sh
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/buildinfo_test.go
  go/vt/servenv/mysql.go
Labels: Type: Enhancement, Component: Build/CI, Backport

#12271 Download mariadb from vitess-resources
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-16.0

#12235 Release of v16.0.0-rc1
  .github/workflows/code_freeze.yml
  doc/releasenotes/16_0_0_changelog.md
  doc/releasenotes/16_0_0_release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Do Not Merge, Type: Release

#12276 Fix release notes on release-16.0
  doc/releasenotes/16_0_0_changelog.md
  doc/releasenotes/16_0_0_release_notes.md
Labels: Type: Internal Cleanup, Component: General

#12231 Workflow Show: display rows copied
  go/vt/vtctl/vtctl_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_test.go
  go/vt/wrangler/wrangler_env_test.go
Labels: Type: Feature Request, Component: VReplication, Backport to: release-15.0

#12198 sqlparser: Add parsing support to spatial POINT expression
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving

#12277 Back to dev mode after v16.0.0-rc1
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Type: Internal Cleanup, Component: General, Type: Release

#12204 fix dual table handling
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving

#12279 [release-16.0] Download mariadb from vitess-resources (#12271)
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport

#12283 Fix summary and release notes
  doc/releasenotes/16_0_0_release_notes.md
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General

#12284 Fix release script for the version in the docker script
  tools/release_utils.sh
Labels: Type: Internal Cleanup, Component: General, Type: Release, Backport to: release-16.0

#12285 [release-15.0] Fix release script for the version in the docker script
  tools/do_release.sh
Labels: Type: Internal Cleanup, Component: General, Backport to: release-14.0, Backport to: release-13.0

#12287 Copy release notes from release-16 to `main`
  doc/releasenotes/16_0_0_changelog.md
  doc/releasenotes/16_0_0_release_notes.md
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General

#12281 fix: transaction_isolation to be applied at session level
  go/test/endtoend/vtgate/transaction/tx_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0

#12286 fix linter warnings
  go/vt/vtgate/evalengine/api_arithmetic.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_types.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/casting_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/format.go
  misc/git/hooks/golangci-lint
Labels: Type: Internal Cleanup, Component: Query Serving

#12073 go/vt/mysqlctl: add configurable read buffer to builtin backups
  doc/releasenotes/17_0_0_summary.md
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Enhancement, Component: Backup and Restore

#12114 VReplication Last Error: retry error if it happens after timeout
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/last_error.go
  go/vt/vttablet/tabletmanager/vreplication/last_error_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-15.0

#12297 fix: added null safe operator precendence rule
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/precedence_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12298 Fix aggregation on outer joins
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12249 Change SQL error codes to use explicit type
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/constants.go
  go/mysql/endtoend/main_test.go
  go/mysql/server_flaky_test.go
  go/mysql/sql_error.go
  go/mysql/sql_error_test.go
  go/test/endtoend/mysqlserver/mysql_server_test.go
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/sequence/seq_test.go
  go/vt/mysqlctl/backup.go
  go/vt/vtgate/endtoend/lookup_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12238 Fix typecasting alerts inside vtgate engine
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/memory_sort.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12251 Move to independent sets package
  go/flagutil/sets.go
  go/sets/set.go
  go/vt/topo/cell_info.go
  go/vt/topo/topoproto/tablet.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/http/shards.go
  go/vt/vtadmin/rbac/config.go
  go/vt/vtadmin/rbac/rule.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/vexec.go
Labels: Type: Internal Cleanup, Component: General

#12133 SchemaDiff: normalize boolean columns to tinyint(1), and, add TableQualifier hint to force adding a db qualifier to the alter diff.
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Feature Request, Component: Online DDL

#12312 [14.0] Fix aggregation on outer joins
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12308 [16.0] fix: transaction_isolation to be applied at session level
  go/test/endtoend/vtgate/transaction/tx_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/engine/set_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12262 Allow zero (in) date when setting up internal _vt schema
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttest/local_cluster.go
Labels: Type: Bug, Component: VReplication, Component: General, Component: Online DDL, Backport to: release-16.0

#12313 [15.0] Fix aggregation on outer joins (#12298)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12329 maintainers: add dbussink and rework some sections
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#12318 TableFilter: fix excluded RE listing
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/mysqlctl/tmutils/schema_test.go
Labels: Type: Bug, Component: TabletManager, Backport to: release-16.0

#12321 Internal refactor: LastError as a public struct
  go/vt/vterrors/last_error.go
  go/vt/vterrors/last_error_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: General, Backport to: release-16.0

#12274 evalengine: it's time for JSON!
  go/mysql/collations/collation.go
  go/mysql/collations/internal/charset/eightbit/8bit.go
  go/mysql/collations/internal/charset/eightbit/binary.go
  go/mysql/collations/internal/charset/eightbit/latin1.go
  go/mysql/collations/internal/charset/japanese/sjis.go
  go/mysql/collations/internal/charset/japanese/ujis.go
  go/mysql/collations/internal/charset/korean/euckr.go
  go/mysql/collations/internal/charset/simplifiedchinese/gb18030.go
  go/mysql/collations/internal/charset/simplifiedchinese/gb2312.go
  go/mysql/collations/internal/charset/types/charset.go
  go/mysql/collations/internal/charset/unicode/utf16.go
  go/mysql/collations/internal/charset/unicode/utf32.go
  go/mysql/collations/internal/charset/unicode/utf8.go
  go/mysql/collations/remote/charset.go
  go/sqltypes/value.go
  go/tools/sizegen/sizegen.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_json.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/evalengine/eval_tuple.go
  go/vt/vtgate/evalengine/expr_call.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_literal.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/integration/json_test.go
  go/vt/vtgate/evalengine/internal/json/LICENSE
  go/vt/vtgate/evalengine/internal/json/cached_size.go
  go/vt/vtgate/evalengine/internal/json/helpers.go
  go/vt/vtgate/evalengine/internal/json/json_path.go
  go/vt/vtgate/evalengine/internal/json/json_path_test.go
  go/vt/vtgate/evalengine/internal/json/parser.go
  go/vt/vtgate/evalengine/internal/json/parser_test.go
  go/vt/vtgate/evalengine/internal/json/update.go
  go/vt/vtgate/evalengine/internal/json/update_test.go
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_card.go
  go/vt/vtgate/evalengine/translate_convert.go
  go/vt/vtgate/evalengine/translate_simplify.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Enhancement, Component: Query Serving

#12360 evalengine: fix bugs with decimal rounding
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1676045458.json
  go/vt/vtgate/evalengine/internal/decimal/decimal.go
  go/vt/vtgate/evalengine/internal/decimal/format.go
Labels: Type: Bug, Component: Query Serving, Component: Evalengine, Status: Fixed

#12299 Add parsing support for linestring constructor
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Enhancement, Component: Query Serving

#12138 testutils: use a rows parser for test comparisons
  go/sqltypes/parse_rows.go
  go/sqltypes/parse_rows_test.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
  go/test/utils/sort.go
  go/vt/vtgate/engine/concatenate_test.go
Labels: Component: Build/CI, Type: CI/Build, Type: Testing

#11979 vtbackup, mysqlctl: detailed backup and restore metrics
  doc/releasenotes/17_0_0_summary.md
  go/cmd/vtbackup/vtbackup.go
  go/ioutil/doc.go
  go/ioutil/meter.go
  go/ioutil/reader.go
  go/ioutil/writer.go
  go/test/fuzzing/tablet_manager_fuzzer.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/backupstats/component.go
  go/vt/mysqlctl/backupstats/deprecated.go
  go/vt/mysqlctl/backupstats/doc.go
  go/vt/mysqlctl/backupstats/fake_stats.go
  go/vt/mysqlctl/backupstats/scope.go
  go/vt/mysqlctl/backupstats/stats.go
  go/vt/mysqlctl/backupstats/stats_test.go
  go/vt/mysqlctl/backupstorage/interface.go
  go/vt/mysqlctl/backupstorage/params.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/cephbackupstorage/ceph.go
  go/vt/mysqlctl/fakebackupengine.go
  go/vt/mysqlctl/fakebackupstorage.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/filebackupstorage/file.go
  go/vt/mysqlctl/filebackupstorage/file_test.go
  go/vt/mysqlctl/gcsbackupstorage/gcs.go
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/rpc_query_test.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/fuzz.go
  go/vt/vttablet/tabletserver/repltracker/poller_test.go
  go/vt/vttablet/tabletserver/repltracker/repltracker_test.go
  go/vt/wrangler/doc_test.md
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Labels: Type: Enhancement, Component: Backup and Restore

#12228 VReplication: workflows with multiple streams fail to start on multi-primary setups
  go/sqltypes/value.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/wrangler/fake_dbclient_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-15.0

#12372 sqlparser/schemadiff: normalize CAST type case
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
Labels: Type: Bug, Component: Query Serving

#12368 add database name to _vt.views table
  go/mysql/schema.go
  go/vt/sidecardb/schema/misc/views.sql
Labels: Type: Enhancement, Component: Query Serving, Forwardport to: main

#12272 Bump the vitess-resources release increment from v2 to v4
  bootstrap.sh
Labels: Component: Build/CI, Type: CI/Build

#12315 Switch to using new Go 1.19 CRL parser
  go/vt/tlstest/tlstest.go
  go/vt/vttls/crl.go
Labels: Type: Internal Cleanup, Component: General

#12288 Online DDL: remove legacy "stowaway table" logic
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Internal Cleanup, Component: Online DDL

#12378 Fix for USING when column names not lower cased
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Labels: Type: Bug, Component: Query Serving

#12376 Fix bug in vtexplain around JOINs
  go/vt/vtexplain/testdata/multi-output/unsharded-output.txt
  go/vt/vtexplain/testdata/plan_test1941596715/uneven-keyspace-output.txt
  go/vt/vtexplain/testdata/test-schema.sql
  go/vt/vtexplain/testdata/test-vschema.json
  go/vt/vtexplain/testdata/unsharded-queries.sql
  go/vt/vtexplain/vtexplain_vttablet.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12379 Fix for USING when column names not lower cased
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Labels: Type: Bug, Component: Query Serving, Backport, Backport to: release-14.0, Backport to: release-15.0

#12258 fix help text for backup_storage_number_blocks
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/backup.go
Labels: Type: Documentation, Component: Cluster management

#12309 Fix additional typecasting alerts
  go/mysql/collations/remote/collation.go
  go/sqltypes/named_result.go
  go/sqltypes/value.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/dtids/dtids.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/mysqlctl/mycnf.go
  go/vt/servenv/status.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/binlog.go
  go/vt/vtorc/inst/binlog_test.go
  go/vt/vtorc/inst/instance_binlog.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/test/recovery_analysis.go
  go/vt/vttablet/endtoend/framework/livequeryz.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/livequeryz.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/workflow.go
Labels: Type: Internal Cleanup, Component: General

#12244 [release-15.0] Bug fix: Cache filtered out tablets in topology watcher to avoid unnecessary GetTablet calls to topo
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
Labels: Type: Bug, Component: Cluster management, Type: Performance, Backport

#12243 [release-14.0] Bug fix: Cache filtered out tablets in topology watcher to avoid unnecessary GetTablet calls to topo
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
Labels: Type: Bug, Component: Cluster management, Type: Performance, Backport

#12393 Fix additional casting bugs in the sqlparser
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
Labels: Type: Bug, Component: Query Serving

#12382 Fixes for local docker environment
  docker/local/Dockerfile
  docker/local/install_local_dependencies.sh
  docker/local/run.sh
Labels: Type: Bug, Component: VTAdmin, Component: Examples

#12381 Fix `SHOW VSCHEMA TABLES` tests using v17 vtgate that expected `dual`
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
Labels: Type: Bug, Component: Query Serving, Type: CI/Build

#12401 Update additional Go dependencies
  examples/are-you-alive/go.mod
  examples/are-you-alive/go.sum
  vitess-mixin/go.mod
  vitess-mixin/go.sum
Labels: Component: Build/CI, Type: CI/Build, Type: Dependabot, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12403 Fix another mixin dep
  vitess-mixin/go.mod
  vitess-mixin/go.sum
Labels: Component: Build/CI, Type: Dependabot

#12404 Remove a bunch of debug logging
  go/cmd/vtaclcheck/vtaclcheck.go
  go/cmd/vtexplain/vtexplain.go
  go/vt/mysqlctl/query.go
  go/vt/topo/k8stopo/directory.go
  go/vt/topo/k8stopo/file.go
  go/vt/topo/k8stopo/server.go
  go/vt/topotools/tablet.go
  go/vt/vtctl/vtctl.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/zkctl/zkctl.go
Labels: Type: Internal Cleanup, Component: General

#12386 Stop launchable integration for unit tests
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  test/templates/unit_test.tpl
Labels: Type: Internal Cleanup, Component: Build/CI

#12406 Allow zero (in) date when setting up internal _vt schema (#12262)
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttest/local_cluster.go
Labels: Type: Bug, Component: VReplication, Backport, Component: General, Component: Online DDL

#12335 Auto refresh tables on vtgate Status Page
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/discovery/healthcheck.go
  go/vt/servenv/servenv.go
  go/vt/servenv/status.go
  go/vt/srvtopo/status.go
  go/vt/vtgate/status.go
  go/vt/vtgate/vschema_stats.go
Labels: Type: Enhancement, Component: Cluster management

#12327 (re)Formalize SQLError in VReplication, add underlying wrap/unwrap functionality
  go/mysql/sql_error_test.go
  go/vt/vterrors/errors_test.go
  go/vt/vterrors/vterrors.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving, Backport to: release-16.0

#12422 Add release notes summary for views
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Documentation, Component: Query Serving, Forwardport to: main

#12323 Online DDL: improve retry of vreplication errors with `vitess` `ALTER TABLE` migrations
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL, Backport to: release-16.0

#12325 Fixing `onlineddl_vrepl` flakiness, and adding more tests
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtctlutil.go
  go/test/endtoend/onlineddl/vttablet_util.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL, Backport to: release-16.0

#12423 Cleanup vtorc ssl package
  go/vt/vtorc/ssl/ssl.go
  go/vt/vtorc/ssl/ssl_test.go
Labels: Type: Internal Cleanup, Component: VTorc

#12415 Examples: Correct VTAdmin Discovery File Path And Add Check
  examples/common/lib/utils.sh
  examples/common/scripts/vtadmin-up.sh
Labels: Type: Bug, Component: VTAdmin, Component: Examples, Forwardport to: main

#12328 SidecarDB Init: don't fail on schema init errors
  go/test/endtoend/tabletmanager/replication_manager/tablet_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/sidecardb_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
Labels: Type: Enhancement, Component: VReplication, Component: TabletManager, Backport to: release-16.0

#12407 sqlparser: Tools cleanup
  Makefile
  go/tools/astfmtgen/main.go
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/main/main.go
  go/tools/codegen/common.go
  go/tools/codegen/goimports.go
  go/tools/sizegen/sizegen.go
  go/vt/sqlparser/Makefile
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/generate.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build

#12424 Add configuration option for minimum TLS version
  doc/releasenotes/17_0_0_summary.md
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/db/tls.go
  go/vt/vtgr/ssl/ssl.go
  go/vt/vtgr/ssl/ssl_test.go
Labels: Type: Enhancement, Component: Cluster management

#12421 Change `GetSchema` RPC to return `CreateView` instead of `SelectStmt`
  go/mysql/schema.go
  go/vt/sidecardb/schema/misc/views.sql
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Query Serving, Forwardport to: main

#12409 Create Views allowed for same keyspace
  go/mysql/schema.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/view_cases.json
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Feature Request, Component: Query Serving, Forwardport to: main

#12432 Remove `are-you-alive` example
  examples/are-you-alive/.gitignore
  examples/are-you-alive/Makefile
  examples/are-you-alive/README.md
  examples/are-you-alive/build/dev/Dockerfile
  examples/are-you-alive/build/dev/reflex.conf
  examples/are-you-alive/build/release/Dockerfile
  examples/are-you-alive/cmd/are-you-alive/main.go
  examples/are-you-alive/docker-compose.yml
  examples/are-you-alive/go.mod
  examples/are-you-alive/go.sum
  examples/are-you-alive/pkg/client/client.go
  examples/are-you-alive/prometheus.yml
  examples/are-you-alive/schemas/README.md
  examples/are-you-alive/schemas/create_test_table.sql
  examples/are-you-alive/schemas/vschema.json
Labels: Type: Internal Cleanup, Component: Examples

#12442 schemadiff: AlterTableAlgorithmStrategy
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-16.0

#12425 Add release notes summary for views (#12422)
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Documentation, Forwardport, Component: Query Serving

#12440 examples: Fix Vtop example and release script
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  test/vtop_example.sh
  tools/release_utils.sh
Labels: Type: Bug, Component: Examples, Forwardport to: main

#12436 Sidecar schema init: use COPY algorithm while altering sidecardb tables
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
Labels: Type: Bug, Component: VReplication, Forwardport to: main

#12428 Add 128 bit hashing for the evalengine
  go/mysql/collations/8bit.go
  go/mysql/collations/collation.go
  go/mysql/collations/hash.go
  go/mysql/collations/multibyte.go
  go/mysql/collations/remote/collation.go
  go/mysql/collations/uca.go
  go/mysql/collations/uca_test.go
  go/mysql/collations/unicode.go
  go/sqltypes/type.go
  go/sqltypes/value.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/internal/decimal/helpers.go
  go/vt/vtgate/evalengine/internal/json/helpers.go
  go/vt/vthash/hash.go
  go/vt/vthash/metro/metro.go
  go/vt/vthash/metro/metro_test.go
Labels: Type: Enhancement, Component: Evalengine

#12443 Update the pull request template to include a checkpoint for verifying modified/created tests aren't flaky
  .github/pull_request_template.md
Labels: Type: Internal Cleanup, Component: General

#12447 GetSchema rpc to streaming api
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/queryservice/queryservice_grpc.pb.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/queryservice/queryservice.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  proto/queryservice.proto
Labels: Type: Enhancement, Component: Query Serving, Forwardport to: main

#12452 evalengine: use 128 bit hashing internally
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_json.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_tuple.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/internal/json/helpers.go
  go/vt/vtgate/evalengine/translate_simplify.go
Labels: Type: Internal Cleanup, Component: Evalengine

#12457 Fix Vtop example and release script
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  examples/operator/pf.sh
  test/vtop_example.sh
  tools/release_utils.sh
Labels: Type: Bug, Component: Examples

#12444 Add steps on how to merge during code-freeze
  doc/internal/ReleaseInstructions.md
Labels: Type: Internal Cleanup, Component: General

#12458 Fix vtctldclient command in vtop test script and the fix operator example
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  test/vtop_example.sh
Labels: Type: Bug, Component: Examples

#12462 Don't keep data in upgrade-downgrade tests
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, Type: Testing, Forwardport to: main

#12433 Reorder summary in order of importance
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General

#12454 [main] Create Views allowed for same keyspace (#12409)
  go/mysql/schema.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/view_cases.json
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Feature Request, Forwardport, Component: Query Serving

#12469 Code freeze of release-16.0 for v16.0.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate

#12468 Fix scalar aggregation engine primitive for column truncation
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving

#12467 Open vtadmin-api port in docker-local example to enable vtadmin access
  docker/local/run.sh
Labels: Type: Bug, Component: VTAdmin, Component: Examples, Backport to: release-16.0

#12473 [main] Fix scalar aggregation engine primitive for column truncation (#12468)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Forwardport, Component: Query Serving

#12474 Add port to enable vtadmin access.
  docker/local/run.sh
Labels: Type: Bug, Component: Examples

#12475 release notes: mark dynamic throttler configuration as experimental
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General

#12472 [releaes-15.0] Fix scalar aggregation engine primitive for column truncation (#12468)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12471 [release-14.0] Fix scalar aggregation engine primitive for column truncation (#12468)
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12466 [main] Fix SHOW VSCHEMA TABLES tests using v17 vtgate that expected dual (#12381)
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
Labels: Type: Bug, Component: Query Serving, Type: CI/Build

#12453 examples schema: demi-idempotency via CREATE TABLE IF NOT EXISTS
  examples/backups/create_commerce_schema.sql
  examples/backups/create_customer_schema.sql
  examples/compose/external_db/mysql/commerce.sql
  examples/compose/tables/create_dinosaurs.sql
  examples/compose/tables/create_eggs.sql
  examples/compose/tables/create_messages.sql
  examples/compose/tables/create_messages_message_lookup.sql
  examples/compose/tables/create_tokens.sql
  examples/compose/tables/create_tokens_token_lookup.sql
  examples/compose/tables/lookup_keyspace_schema_file.sql
  examples/compose/tables/test_keyspace_schema_file.sql
  examples/demo/schema/customer/customer_schema.sql
  examples/demo/schema/product/product_schema.sql
  examples/local/create_commerce_schema.sql
  examples/local/create_commerce_seq.sql
  examples/local/create_test_table.sql
  examples/operator/create_commerce_schema.sql
  examples/operator/create_commerce_seq.sql
  examples/region_sharding/create_lookup_schema.sql
  examples/region_sharding/create_main_schema.sql
  examples/vtexplain/atomicity_schema.sql
Labels: Type: Enhancement, Component: Examples

#12387 Skip `TestReparentDoesntHangIfPrimaryFails` in vttablet v16 and above
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/utils/utils.go
Labels: Type: Bug, Component: Build/CI, Component: Cluster management

#12463 evalengine: add more coercion paths to Hash128
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
Labels: Type: Enhancement, Component: Evalengine

#12484 BugFix: Unsharded query using a derived table and a dual table
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Forwardport to: main, Backport to: release-15.0

#12449 [misc] Delete `automation*` protos
  doc/releasenotes/17_0_0_summary.md
  go/vt/proto/automation/automation.pb.go
  go/vt/proto/automation/automation_vtproto.pb.go
  go/vt/proto/automationservice/automationservice.pb.go
  go/vt/proto/automationservice/automationservice_grpc.pb.go
  proto/automation.proto
  proto/automationservice.proto
Labels: Type: Internal Cleanup, Component: Cluster management

#12491 [main] BugFix: Unsharded query using a derived table and a dual table (#12484)
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Forwardport, Component: Query Serving

#12492 [release-15.0] BugFix: Unsharded query using a derived table and a dual table (#12484)
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport

#12493 [release-14.0] BugFix: Unsharded query using a derived table and a dual table (#12484)
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport

#12485 Make upgrade downgrade job names unique
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12439 Add nvm and node to vtadmin-up.sh
  examples/common/lib/utils.sh
  examples/common/scripts/vtadmin-up.sh
Labels: Type: Internal Cleanup, dependencies, Component: VTAdmin, Component: web UI

#12495 vtctldclient: Format GetKeyspace output using cli.MarshalJSON
  go/cmd/vtctldclient/command/keyspaces.go
Labels: Type: Bug, Component: Cluster management, Component: CLI, Backport to: release-16.0

#12405 Bump golang.org/x/net from 0.5.0 to 0.7.0 (#12390)
  go.mod
  go.sum
Labels: Component: Build/CI, Type: Dependabot, go

#12494 streamlog: make generic
  go/streamlog/streamlog.go
  go/streamlog/streamlog_flaky_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/querylog.go
  go/vt/vtgate/querylogz.go
  go/vt/vtgate/querylogz_test.go
  go/vt/vttablet/endtoend/framework/eventcatcher.go
  go/vt/vttablet/filelogger/filelogger.go
  go/vt/vttablet/sysloglogger/sysloglogger.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vrlog.go
  go/vt/vttablet/tabletserver/querylogz.go
  go/vt/vttablet/tabletserver/querylogz_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/txlogz.go
  go/vt/vttablet/tabletserver/txlogz_test.go
Labels: Type: Enhancement, Component: Query Serving

#12470 Release of v16.0.0
  .github/workflows/code_freeze.yml
  doc/releasenotes/16_0_0_changelog.md
  doc/releasenotes/16_0_0_release_notes.md
  doc/releasenotes/16_0_0_summary.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Do Not Merge, Type: Release

#12516 Copy release notes from release-16.0.0 to main
  doc/releasenotes/16_0_0_changelog.md
  doc/releasenotes/16_0_0_release_notes.md
  doc/releasenotes/16_0_0_summary.md
Labels: Type: Internal Cleanup, Component: General, Type: Release

#12515 Back to dev mode after v16.0.0
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Type: Internal Cleanup, Component: General, Type: Release

#12512 [release-15.0] Use `go1.20.1` in upgrade/downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Bug, Component: Build/CI, go

#12481 Fix `vtctldclient`'s Root command to return an error on unknown command
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/root_test.go
  go/flags/endtoend/vtctldclient.txt
Labels: Type: Bug, Component: Cluster management, Component: CLI, Backport to: release-15.0, Backport to: release-16.0
