Repository vitessio/vitess, pull requests merged in 2023-05, with the labels that each got.

#12998 evalengine: Fix wrong coercion into float
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/eval.go
Labels: Type: Bug, Component: Evalengine

#13000 coverage: Remove sonar coverage setup
  .github/workflows/sonar_analysis.yml
  README.md
  tools/coverage-go/Readme.md
  tools/coverage-go/mysqlctl_test.go
  tools/coverage-go/vtctl_test.go
  tools/coverage-go/vtctlclient_test.go
  tools/coverage-go/vtctld_test.go
  tools/coverage-go/vtgate_test.go
  tools/coverage-go/vttablet_test.go
Labels: Type: Internal Cleanup, Component: General

#12917 topo: Move to allow list for invalid names
  changelog/17.0/17.0.0/summary.md
  go/vt/topo/keyspace.go
  go/vt/topo/shard.go
  go/vt/topo/validator.go
  go/vt/topo/validator_test.go
  go/vt/wrangler/tablet_test.go
Labels: Type: Enhancement, Component: Cluster management, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12986 Keep retrying mysql port if it is 0 in Vttablets
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Type: Bug, Component: Cluster management

#12982 [release-15.0] fix: union distinct between unsharded route and sharded join (#12968)
  .gitignore
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12983 [release-14.0] fix: union distinct between unsharded route and sharded join (#12968)
  .gitignore
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12901 Cleanup panics in `txthrottler`, reorder for readability
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12966 Tablet throttler: adding log entries
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: Query Serving, Component: TabletManager

#12949 Throttled transactions return MySQL error code 1041 ER_OUT_OF_RESOURCES
  go/mysql/sql_error.go
  go/mysql/sql_error_test.go
Labels: Type: Enhancement, Component: Query Serving

#12893 Trigger the loadTablets function when no primary is assigned to the shard
  go/test/endtoend/vtgate/tablet_healthcheck/reparent_test.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
Labels: Type: Enhancement, Component: Query Serving

#13016 Cleanup rate limiters
  go/timer/rate_limiter_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving

#13013 evalengine: Implement LEFT, RIGHT, LPAD & RPAD
  go/mysql/collations/charset/helpers.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/expr_call.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13008 goyacc: don't import "unsafe" if not used
  go/vt/sqlparser/goyacc/goyacc.go
  go/vt/sqlparser/sql.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12993 Use vitess-operator `v2.8.4` in the examples
  examples/operator/operator.yaml
Labels: Type: Internal Cleanup, Component: Examples, Component: Operator

#13024 evalengine: Implement TRIM, RTRIM and LTRIM
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13019 Fix `TestStartFindMysqlPort` test flakiness
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Component: Query Serving, Type: Testing

#13025 gen4 planner bugfix: issue when merging subqueries
  go/vt/vtgate/planbuilder/operators/merging.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression

#12964 fix some code comments throughout the codebase
  go/mysql/conn.go
  go/pools/resource_pool.go
  go/stats/counter.go
  go/stats/prometheusbackend/prometheusbackend.go
  go/textutil/hash.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/schemadiff/diff.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/topo/locks.go
  go/vt/vtadmin/http/keyspaces.go
Labels: Type: Internal Cleanup, Component: General

#13022 fix misleading primary not serving message
  go/vt/vtgate/tabletgateway.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13038 Fix vreplication_log usage in VReplicationExec
  go/vt/vttablet/tabletmanager/vreplication/controller_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Labels: Type: Bug, Component: VReplication

#13033 gen4 planner: allow last_insert_id with arguments (16.0)
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport, Release Blocker

#13035 gen4 planner: allow last_insert_id with arguments (15.0)
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#13036 gen4 planner: allow last_insert_id with arguments (14.0)
  go/vt/sqlparser/ast_rewriting.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Component: Query Serving, Backport, Type: Regression

#13044 CI: add a check on NeedsIssue label
  .github/workflows/check_label.yml
Labels: Component: Build/CI, Type: CI/Build

#13049 Summary changes and code freeze for release of v16.0.2
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.2/summary.md
  changelog/16.0/README.md
Labels: Component: General, Type: Release

#13028 evalengine: Implement UNHEX
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13050 Release of v16.0.2
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.2/changelog.md
  changelog/16.0/16.0.2/release_notes.md
  changelog/16.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13057 Fix format error in the `v16.0.2` release notes
  changelog/16.0/16.0.2/release_notes.md
  changelog/16.0/16.0.2/summary.md
Labels: Type: Bug, Component: Documentation, Type: Release, Backport to: release-16.0

#13055 Back to dev mode after v16.0.2
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13046 OnlineDDL endtoend/CI: timestamp deviation toleration
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/schemadiff/diff_test.go
Labels: Type: Testing, Component: Online DDL

#13063 evalengine: Add support for `STRCMP`
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13067 evalengine: Add support for handling `IF`
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13032 Add parsing support to := operator
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/sqlparser/token.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/union.go
  go/vt/vtgate/planbuilder/update_planner.go
  go/vt/vtgate/semantics/check_invalid.go
Labels: Type: Enhancement, Component: Query Serving

#13042 restrict flush statement to go to non primary tablets
  go/vt/vterrors/code.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/flush_cases_no_default_keyspace.json
Labels: Type: Bug, Component: Query Serving

#13071 Use `go1.20.4` on `release-15.0` upgrade test
  .github/workflows/assign_milestone.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Enhancement, Component: General, go

#13073 evalengine: `INTERVAL` support
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate.go
Labels: Type: Enhancement, Component: Evalengine

#13080 Fix the resilientQuery to give correct results during initialization
  go/test/endtoend/utils/utils.go
  go/vt/srvtopo/query.go
  go/vt/srvtopo/query_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#13048 Fix auto-upgrade-golang tooling
  .github/workflows/update_golang_version.yml
Labels: Type: Bug, Component: General

#12174 Add flag to select tx throttler tablet type
  config/tablet/default.yaml
  doc/design-docs/ReplicationLagBasedThrottlingOfTransactions.md
  doc/design-docs/TabletServerParamsAsYAML.md
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Query Serving

#13088 [release-14.0] Fix the resilientQuery to give correct results during initialization (#13080)
  go/vt/srvtopo/query.go
  go/vt/srvtopo/query_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#12870 Fix Vtorc recovery time during `DeadPrimary`
  go.mod
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/discovery/aggregated.go
  go/vt/vtorc/discovery/metric.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/logic/orchestrator.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/server/api.go
Labels: Type: Bug, Component: VTorc

#13047 Update GOVERNANCE.md
  GOVERNANCE.md
Labels: Type: Internal Cleanup, Component: General

#12899 Add vtgate and vttablet flag to truncate errors sent to client
  config/tablet/default.yaml
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vterrors/vterrors.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Query Serving, Status: Fixed

#13075 Fix: convertBoolToSemiSyncAction method to account for all semi sync actions
  go/cmd/vtcombo/main.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vterrors/code.go
  go/vt/vttablet/tabletmanager/rpc_actions.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
Labels: Type: Bug, Component: Cluster management

#12902 txthrottler: further code cleanup
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13097 evalengine: Add UUID functions
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13100 Flaky vplayer tests: temporarily disable noblob variant
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
Labels: Type: Bug, Component: VReplication

#13040 TxThrottler support for transactions outside BEGIN/COMMIT
  changelog/17.0/17.0.0/summary.md
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Query Serving

#12944 Optionally truncate queries that are written to logs
  go/vt/sqlparser/truncate_query.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Query Serving

#13085 Use latest k8s for operator example to work
  examples/operator/README.md
Labels: Type: Bug, Component: Examples, Component: Operator

#13104 Flakes: enforce no concurrency/parallelism in vreplication unit test framework
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Type: Testing

#13106 Fix flakiness in `TestGatewayBufferingWhileReparenting`
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Type: Bug, Component: Query Serving, Flakes

#13107 sqlparser: Treat view names as case sensitive
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#12282 Update tabletpicker to support cell pref and tablet order options
  changelog/17.0/17.0.0/summary.md
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/vdiff.go
  proto/vtgate.proto
  tools/rowlog/rowlog.go
Labels: Type: Enhancement, Component: VReplication, Component: TabletManager

#13110 update vite base to respect absolute path
  web/vtadmin/vite.config.ts
Labels: Type: Bug, Component: VTAdmin

#13056 Purge old schema versions from memory in historian
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/schema/historian_test.go
  go/vt/vttablet/tabletserver/schema/main_test.go
  go/vt/vttablet/tabletserver/schema/tracker_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Bug, Component: VReplication

#13098 Add vstream metrics to vtgate
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Enhancement, Component: Cluster management

#13066 Incremental backup: fix calculation of binlog files to use
  go/vt/mysqlctl/binlogs_gtid.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Bug, Component: Backup and Restore

#13119 mysqlctl: Remove custom callbacks
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb_binlog_playback.go
  go/mysql/flavor_mysql.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
Labels: Type: Internal Cleanup, Component: TabletManager

#13096 Fix benchmarks in `plan_test.go`
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-15.0, Backport to: release-16.0

#13072 Add parsing support to geomCollection property functions and geohash/geojson functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#13135 mysqlctl: Remove usage of MYSQL_FLAVOR
  changelog/17.0/17.0.0/summary.md
  go/mysql/endtoend/main_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
  go/vt/vttest/environment.go
Labels: Type: Internal Cleanup, Component: TabletManager

#12633 go/vt/mysqlctl: optionally store decompressor cmd in manifest
  changelog/17.0/17.0.0/summary.md
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/backup/vtctlbackup/backup_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/xtrabackup/xtrabackup_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/compression.go
  go/vt/mysqlctl/xtrabackupengine.go
  test/config.json
Labels: Type: Enhancement, Component: Backup and Restore

#13141 Remove enable-query-plan-field-caching flag that was deprecated in v15
  changelog/17.0/17.0.0/summary.md
  config/tablet/default.yaml
  doc/design-docs/TabletServerParamsAsYAML.md
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13004 Generated Invisible Primary Keys: add vreplication test cases
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Enhancement, Component: VReplication, Type: Testing

#13111 Add a timeout to prevent unbounded waits that cause the primary tablet's health check stuck
  bootstrap.sh
  go.mod
  go.sum
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/endtoend/streamtimeout/healthstream_test.go
  go/vt/vttablet/endtoend/streamtimeout/main_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttest/environment.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/toxiproxyctl.go
Labels: Type: Bug, Component: Query Serving

#11456 [RFC] Standardized viper framework for vitess configuration parameters
  doc/viper/viper.md
  go.mod
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
  go/flagutil/enum.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
  go/trace/trace.go
  go/trace/trace_test.go
  go/viperutil/config.go
  go/viperutil/config_test.go
  go/viperutil/debug/debug.go
  go/viperutil/debug/handler.go
  go/viperutil/errors.go
  go/viperutil/funcs/get.go
  go/viperutil/funcs/get_test.go
  go/viperutil/get_func.go
  go/viperutil/get_func_test.go
  go/viperutil/internal/log/log.go
  go/viperutil/internal/registry/registry.go
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
  go/viperutil/internal/value/value.go
  go/viperutil/value.go
  go/viperutil/viper.go
  go/viperutil/vipertest/stub.go
  go/vt/discovery/replicationlag.go
  go/vt/discovery/replicationlag_test.go
  go/vt/discovery/tablet_health_check.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/servenv/servenv.go
Labels: Type: Feature Request, Type: RFC, Component: General

#13146 VReplication: Do not delete sharded target vschema table entries on Cancel
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0

#13030 planner: allow reference tables to specify global sources
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/show_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Labels: Type: Enhancement, Component: Query Serving

#13158 Remove the `200` indentation limit in the SQL parser
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0

#12856 do not demote a new primary after backup completion
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/xtrabackup/xtrabackup_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
Labels: Type: Bug, Component: Backup and Restore

#13054 ApplySchema vttablet RPC: allow special characters in table and column names
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/initial_data_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0

#13163 consolidate all deprecated flags under one header in release notes
  changelog/17.0/17.0.0/summary.md
Labels: Component: Documentation, Type: Release

#13183 tests: stop tests not supported by older versions from running
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
Labels: Component: Query Serving, Type: Testing

#13186 Flakes: Skip flaky viperutil test TestPersistConfig for now to unblock CI
  go/viperutil/internal/sync/sync_test.go
Labels: Type: Bug, Component: General

#13165 sqlparser: Improve interval parsing
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
Labels: Type: Internal Cleanup, Component: Query Serving

#13169 gen4 planner: push aggregation under filtering
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Feature Request, Component: Query Serving

#13171 VReplication: Pass on --keep_routing_rules flag value for Cancel action
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: VReplication, Component: CLI, Backport to: release-16.0

#13127 enable settings pool by default
  changelog/17.0/17.0.0/summary.md
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/vtgate/partialfailure/main_test.go
  go/test/endtoend/vtgate/partialfailure/schema.sql
  go/test/endtoend/vtgate/partialfailure/vschema.json
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/endtoend/settings_test.go
  go/vt/vttablet/grpcqueryservice/server.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Query Serving

#13174 refactor QueryProjection
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving

#13193 [16.0] Fix: TabletServer ReserveBeginExecute to return transaction ID on error
  go/test/endtoend/vtgate/partialfailure/main_test.go
  go/vt/vttablet/grpcqueryservice/server.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0

#12947 go/vt/mysqlctl: fix dup open/close backup stats
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
Labels: Type: Bug, Component: Backup and Restore

#13143 Online DDL: better reporting of error message when RENAME fails
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#13134 Add Vinted to the list of adopters
  ADOPTERS.md
Labels: Type: Documentation, Component: Documentation

#12956 style(grpc_codec): use switch-case
  go/vt/servenv/grpc_codec.go
Labels: Type: Internal Cleanup, Component: General

#13122 Upgrade mysqld memory limits to 1024Mi
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
Labels: Type: Bug, Component: Examples, Component: Operator, Backport to: release-16.0

#13121 Schema Tracking Refactor: Merge schema-tracking in health-streamer into schema.Engine
  changelog/17.0/17.0.0/summary.md
  go/flags/endtoend/vttablet.txt
  go/mysql/fakesqldb/server.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/tabletmanager/custom_rule_topo_test.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/tablet_security_policy_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/vreplication/sidecardb_test.go
  go/test/fuzzing/tabletserver_schema_fuzzer.go
  go/vt/sidecardb/schema/schemaengine/schema_engine_tables.sql
  go/vt/sidecardb/schema/schemaengine/schema_engine_views.sql
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/healthstream_test.go
  go/vt/vttablet/endtoend/streamtimeout/healthstream_test.go
  go/vt/vttablet/endtoend/streamtimeout/main_test.go
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletserver/binlog_watcher.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/schema/db.go
  go/vt/vttablet/tabletserver/schema/db_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
  go/vt/vttablet/tabletserver/schema/schema.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Query Serving

#13184 Fix: errant GTID in health streamer
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/state_manager.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0

#13161 VReplication: Handle reference tables in sharded->sharded MoveTables
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vdiff.go
Labels: Type: Bug, Component: VReplication
