Repository vitessio/vitess, pull requests merged in 2023-12, with the labels that each got.

#14657 planbuilder: clean up code
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/info_schema_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/misc_routing.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sequential.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/to_json.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/utils_test.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/select.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14664 vtbackup: Fix copy pasta typo in option description
  go/cmd/vtbackup/cli/vtbackup.go
  go/flags/endtoend/vtbackup.txt
Labels: Type: Internal Cleanup, Component: Backup and Restore

#14431 TableGC: speed up GC process via `RequestChecks()`. Utilized by Online DDL for artifact cleanup
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/timer/suspendable_ticker.go
  go/timer/suspendable_ticker_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/gc/tablegc_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: TabletManager, Component: Online DDL

#14663 Add summary changes to indicate MySQL 5.7 is EOL and Vitess is dropping support for it in v19
  changelog/19.0/19.0.0/summary.md
Labels: Type: Documentation, Component: General

#14656 Fix Panic in PRS due to a missing nil check
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14332 tabletserver: do not consolidate streams on primary tablet when consolidator mode is `notOnPrimary`
  changelog/19.0/19.0.0/summary.md
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stream_consolidator.go
  go/vt/vttablet/tabletserver/stream_consolidator_flaky_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14680 Postpone waiting for dba grants after restore has succeeded
  go/cmd/vttablet/cli/cli.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/testlib/fake_tablet.go
Labels: Type: Enhancement, Component: Cluster management

#14682 schemadiff: granular foreign key reference errors
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#14670 go/vt/topo: enable concurrency for FindAllShardsInKeyspace
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/shard.go
  go/vt/topotools/rebuild_keyspace.go
  go/vt/topotools/split.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/wrangler/keyspace.go
Labels: Type: Performance, Component: Topology

#14686 go/vt/vttablet: fix nilness issues
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vreplication/queryhistory/sequenced_expectation_set.go
Labels: Type: Internal Cleanup, Component: General

#14685 go/vt/vtgate: fix nilness issues
  go/vt/vtgate/engine/vindex_lookup.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Internal Cleanup, Component: General

#14705 schemadiff: pursue foreign key errors and proceed to build schema
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#14701 Fail correlated subquery in planning phase instead of a runtime error
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving

#14502 VReplication VPlayer: support statement and transaction batching
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/flags.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Labels: Type: Enhancement, Component: VReplication

#14711 go/vt/vtctl: fix nilness issues and error scopes
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Labels: Type: Internal Cleanup, Component: General

#14710 go/vt/wrangler: fix nilness issues and unused variable
  go/vt/wrangler/materializer.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/vexec.go
Labels: Type: Internal Cleanup, Component: General

#14709 go/vt/topo: fix nilness issues and unused variables
  go/vt/topo/srv_keyspace.go
  go/vt/topo/tablet.go
  go/vt/topo/test/trylock.go
Labels: Type: Internal Cleanup, Component: General

#14716 Fix RegisterNotifier to use a copy of the tables to prevent data races
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Query Serving

#14714 Flaky TestFKExtWorkflow: fix Foreign Key stress test flakiness
  go/test/endtoend/vreplication/fk_ext_test.go
Labels: Component: VReplication, Type: Testing, Flakes

#14721 Fix typo for `--cells` flag help description in `ApplyRoutingRules`
  go/cmd/vtctldclient/command/routing_rules.go
Labels: Type: Internal Cleanup, Backport to: release-17.0, Backport to: release-18.0, Component: vtctldclient

#14724 Add step to static check to ensure consistency of GHA workflows
  .github/workflows/static_checks_etc.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14731 connpool: fix racy test
  go/pools/smartconnpool/pool_test.go
Labels: Component: Query Serving, Type: CI/Build, Component: General

#14732 mysql: Refactor out usage of servenv
  go/cmd/vtgate/cli/plugin_auth_clientcert.go
  go/cmd/vtgate/cli/plugin_auth_ldap.go
  go/cmd/vtgate/cli/plugin_auth_static.go
  go/cmd/vtgate/cli/plugin_auth_vault.go
  go/flags/endtoend/vtcombo.txt
  go/mysql/auth_server_clientcert.go
  go/mysql/auth_server_clientcert_test.go
  go/mysql/auth_server_static.go
  go/mysql/client.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/conn_fake.go
  go/mysql/conn_flaky_test.go
  go/mysql/conn_params.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/ldapauthserver/auth_server_ldap.go
  go/mysql/mysql_fuzzer.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/mysql/vault/auth_server_vault.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Internal Cleanup, Component: General

#14734 TabletServer: Handle nil targets properly everywhere
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving, Backport to: release-18.0

#14742 Revert "[release-18.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)"
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: Cluster management

#14744 Revert "[release-17.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)"
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: Cluster management

#14745 Replication: Have the DB flavor process waiting for a pos
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/vt/mysqlctl/replication.go
Labels: Type: Bug, Component: Cluster management, Component: Query Serving, Component: Backup and Restore

#14743 Revert "[release-16.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)"
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: VReplication

#14728 fix: insert on duplicate key update missing BindVars
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/schema.sql
  go/test/endtoend/vtgate/vschema.json
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0

#14753 Add a retry to remove the vttablet directory during upgrade/downgrade backup tests
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/stop_tablets.sh
Labels: Type: Testing, Component: Backup and Restore, Flakes, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14644 Optimise hash joins
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/hash_join_test.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14751 schemadiff: additional FK column type matching rules
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#14638 Add foreign key support for insert on duplicate key update
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/upsert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/upsert.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/upsert.go
Labels: Type: Feature Request, Component: Query Serving

#14693 Use GetTabletsByCell in healthcheck
  go/stats/counters.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/consultopo/error.go
  go/vt/topo/errors.go
  go/vt/topo/etcd2topo/error.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/topo/zk2topo/error.go
  go/vt/topotools/tablet.go
  go/vt/topotools/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/wrangler/shard.go
  go/vt/wrangler/split.go
Labels: Component: Query Serving, Type: Performance

#14737 Pass on vindex errors with wrap than overriding them
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Query Serving

#14181 Tablet throttler: post 18 refactoring, race condition fixes, unit & race testing, deprecation of HTTP checks
  go/vt/vttablet/tabletserver/throttle/base/http.go
  go/vt/vttablet/tabletserver/throttle/base/metric_health.go
  go/vt/vttablet/tabletserver/throttle/base/metric_health_test.go
  go/vt/vttablet/tabletserver/throttle/base/recent_app.go
  go/vt/vttablet/tabletserver/throttle/base/throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/base/throttle_metric_app.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/check_result.go
  go/vt/vttablet/tabletserver/throttle/config/config.go
  go/vt/vttablet/tabletserver/throttle/config/mysql_config.go
  go/vt/vttablet/tabletserver/throttle/config/store_config.go
  go/vt/vttablet/tabletserver/throttle/mysql.go
  go/vt/vttablet/tabletserver/throttle/mysql/instance_key.go
  go/vt/vttablet/tabletserver/throttle/mysql/instance_key_test.go
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_inventory.go
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/mysql/probe.go
  go/vt/vttablet/tabletserver/throttle/mysql/probe_test.go
  go/vt/vttablet/tabletserver/throttle/mysql_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_exclude_race_test.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app_test.go
Labels: Type: Bug, Type: Internal Cleanup, Type: Enhancement, Component: Throttler

#14767 refactor: remove more errors from operator planning
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14763 Fix accepting bind variables in time related function calls.
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/translate_builtin.go
  test/config.json
Labels: Type: Bug, Component: Query Serving

#14764 Fix order by and group by normalization
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving

#14770 Enable verbose logging for some more RPCs
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Labels: Type: Internal Cleanup, Component: Cluster management

#14778 VDiff: Fix vtctldclient limit bug
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/localvtctldclient/client_gen.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14733 cleanup deprecated flag types in tabletenv
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/reparent/prscomplex/main_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtgate/godriver/main_test.go
  go/test/endtoend/vtgate/queries/timeout/main_test.go
  go/test/endtoend/vtgate/readafterwrite/raw_test.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect2/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/test/fuzzing/tabletserver_schema_fuzzer.go
  go/vt/vttablet/endtoend/connkilling/main_test.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/endtoend/streamtimeout/healthstream_test.go
  go/vt/vttablet/endtoend/streamtimeout/main_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/debugenv.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/repltracker/reader_test.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
  go/vt/vttablet/tabletserver/repltracker/repltracker_test.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/status.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  go/vt/vttest/vtprocess.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: CLI

#14783 Remove unused EventStreamer
  go/vt/binlog/event_streamer.go
  go/vt/binlog/event_streamer_test.go
Labels: Type: Internal Cleanup, Component: General

#14779 Enhance PR template + CI workflow for backport labels.
  .github/pull_request_template.md
  .github/workflows/check_label.yml
Labels: Component: Build/CI, Type: CI/Build

#14787 bugfix: don't panic when missing schema information
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/derived_table.go
Labels: Type: Bug, Component: Query Serving

#14796 [servenv] optional pprof endpoints
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/topo2topo.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtbench.txt
  go/flags/endtoend/vtclient.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/vt/servenv/http.go
  go/vt/servenv/pprof.go
Labels: Type: Enhancement, Component: Observability

#14804 [release-18.0] Code Freeze for `v18.0.2`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#14806 [release-17.0] Code Freeze for `v17.0.5`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#14808 [release-16.0] Code Freeze for `v16.0.7`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#14803 go: resolve various nilness issues
  go/cmd/vtctldclient/command/vreplication/mount/mount.go
  go/mysql/json/marshal.go
  go/test/endtoend/cluster/cluster_process.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/mysqlctl/mycnf.go
  go/vt/mysqlctl/replication.go
  go/vt/schemadiff/schema.go
  go/vt/sqlparser/parse_test.go
  go/vt/zkctl/zkconf.go
Labels: Type: Internal Cleanup, Component: General

#14799 Cleanup of dead code
  go/cmd/vtctldclient/cli/pflag.go
  go/errors/errors.go
  go/flagutil/deprecated_float64_seconds.go
  go/hack/runtime.go
  go/mysql/icuregex/internal/uset/unicode_set.go
  go/mysql/replication/replication_position.go
  go/netutil/netutil.go
  go/netutil/netutil_test.go
  go/ratelimiter/ratelimiter.go
  go/ratelimiter/ratelimiter_test.go
  go/streamlog/streamlog.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/updatestreamctl.go
  go/vt/key/destination.go
  go/vt/mysqlctl/tmutils/schema.go
  go/vt/mysqlctl/utils.go
  go/vt/mysqlctl/utils_test.go
  go/vt/schema/online_ddl.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parser.go
  go/vt/srvtopo/resolver.go
  go/vt/throttler/grpcthrottlerclient/grpcthrottlerclient.go
  go/vt/throttler/grpcthrottlerclient/grpcthrottlerclient_test.go
  go/vt/throttler/throttlerclient/throttlerclient.go
  go/vt/throttler/throttlerclienttest/throttlerclient_testsuite.go
  go/vt/vtctl/fakevtctlclient/fake_loggerevent_streamingclient.go
  go/vt/vtctl/fakevtctlclient/fake_loggerevent_streamingclient_test.go
  go/vt/vtctl/fakevtctlclient/fakevtctlclient.go
  go/vt/vtctl/vtctlclient/interface.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/vreplication/replica_connector.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Labels: Type: Internal Cleanup, Component: General

#14812 go/vt/tlstest: fix nilness issues
  go/vt/tlstest/tlstest_test.go
Labels: Type: Internal Cleanup, Type: Testing, Component: General

#14800 VReplication SwitchWrites: Properly return errors in SwitchWrites
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, NeedsBackportReason

#14818 [release-16.0] build(deps): bump golang.org/x/crypto from 0.16.0 to 0.17.0 (#14814)
  go.mod
  go.sum
Labels: Backport, Component: General, Type: Dependabot, go

#14794 VDiff: Support diffing tables without a defined Primary Key
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication

#14782 Refactor Upgrade downgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/derived/cte_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  test/config.json
Labels: Type: Internal Cleanup, Component: Query Serving, Type: Testing, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14824 [release-18.0] Backport: VReplication SwitchWrites: Properly return errors in SwitchWrites #14800
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Backport

#14826 VReplication: Update singular workflow in traffic switcher
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14819 [release-16.0] Backup flaky test
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
Labels: Type: Testing, Backport, Component: Backup and Restore

#14784 Multi Table Delete Support: join with reference table
  go/tools/asthelpergen/asthelpergen.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Feature Request, Component: Query Serving

#14772 reduce NOWAIT usage to tables with unique keys for foreign key plans
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14833 fix: build on delete operator
  go/vt/vtgate/planbuilder/operators/delete.go
Labels: Component: Build/CI, Type: CI/Build

#14825 Remove some logs that are logging excessively on large clusters
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Component: Observability

#14809 [release-16.0] Release of `v16.0.7`
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.7/changelog.md
  changelog/16.0/16.0.7/release_notes.md
  changelog/16.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14807 [release-17.0] Release of `v17.0.5`
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.5/changelog.md
  changelog/17.0/17.0.5/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14810 [release-18.0] Release of `v18.0.2`
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.2/changelog.md
  changelog/18.0/18.0.2/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14840 port release notes of v18.0.2, v17.0.5 and v16.0.7 to main
  changelog/16.0/16.0.7/changelog.md
  changelog/16.0/16.0.7/release_notes.md
  changelog/16.0/README.md
  changelog/17.0/17.0.5/changelog.md
  changelog/17.0/17.0.5/release_notes.md
  changelog/17.0/README.md
  changelog/18.0/18.0.2/changelog.md
  changelog/18.0/18.0.2/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#14837 Back to dev mode after v16.0.7
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14752 VReplication: Improve replication plan error messages
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
Labels: Type: Documentation, Type: Enhancement, Component: VReplication

#14839 Back to dev mode after v18.0.2
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14838 Back to dev mode after v17.0.5
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Component: General, Type: Release

#14821 Add logging for failing tests in CI
  go/cmd/vttestserver/cli/main_test.go
  go/test/endtoend/cluster/cluster_util.go
Labels: Type: Testing, Component: General

#14747 VTGate/foreign keys stress test: add tests for 'standard' replica
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build, Component: Online DDL

#14841 Allow for building 32 bit libraries for subparts
  go/mysql/binlog/rbr_test.go
  go/mysql/collations/colldata/mysqlucadata.go
  go/mysql/datetime/interval.go
  go/mysql/decimal/scan.go
  go/mysql/decimal/scan_32.go
  go/mysql/decimal/scan_64.go
  go/mysql/icuregex/compiler.go
  go/sqltypes/testing.go
Labels: Type: Internal Cleanup, Component: General

#14844 Subquery inside aggregration function
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Component: Query Serving, Type: Regression, Backport to: release-18.0

#14846 go/vt/topo: add error value to GetTablet logs
  go/vt/topo/tablet.go
Labels: Type: Internal Cleanup, Component: Cluster management

#14849 schemadiff: allow char->varchar FK reference type matching
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Bug, Component: Query Serving

#14853 Throttler: refactor global configuration setting as throttler member
  go/vt/vttablet/tabletserver/throttle/config/config.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Enhancement, Type: Testing, Component: Throttler

#14851 Added support for group_concat and count distinct with multiple expressions
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14859 evalengine: Fix week overflow
  go/mysql/datetime/datetime.go
  go/vt/vtgate/evalengine/compiler_test.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-17.0, Backport to: release-18.0

#14856 vstreamer: rm excessive logging
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: Observability

#14797 VReplication: Guard against unsafe _vt.vreplication writes
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/rpc_server.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vreplication/controller_plan.go
  go/vt/vttablet/tabletmanager/vreplication/controller_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/journal_test.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/resharder_test.go
  go/vt/wrangler/stream_migrater_test.go
  go/vt/wrangler/switcher_dry_run.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
  go/vt/wrangler/vexec.go
  go/vt/wrangler/vexec_plan.go
Labels: Type: Bug, Component: VReplication

#14854 evalengine: Internal cleanup and consistency fixes
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/timeparts.go
  go/sqltypes/value.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/throttler/throttler.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Internal Cleanup, Component: Evalengine

#14735 Some VReplication e2e Refactoring
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_and_materialize.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_sequences.yml
  .github/workflows/cluster_endtoend_vstream.yml
  .github/workflows/cluster_endtoend_vstream_failover.yml
  .github/workflows/cluster_endtoend_vstream_stoponreshard_false.yml
  .github/workflows/cluster_endtoend_vstream_with_keyspaces_to_watch.yml
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/initial_data_test.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/partial_movetables_seq_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/sidecardb_test.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: VReplication, Type: Testing

#14865 Tests: Fix vdiff test breakage from concurrent merge
  go/test/endtoend/vreplication/vdiff2_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#14823 Fix hearbeatWriter Close being stuck if waiting for a semi-sync ACK
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Bug, Component: Cluster management

#14868 Test: Take test host/runner specs into account for VDiff diff duration test
  go/test/endtoend/vreplication/vdiff2_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing
