Repository vitessio/vitess, pull requests merged in 2023-07, with the labels that each got.

#13428 Improve VTOrc logging statements, now that we have alias as a field
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#13411 [release-17.0] Upgrade-Downgrade Fix: Schema-initialization stuck on semi-sync ACKs while upgrading
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/restart_tablets.sh
  examples/backups/start_cluster.sh
  examples/backups/upgrade_cluster.sh
  examples/common/scripts/vttablet-up.sh
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-16.0

#13412 Move more horizon planning to the operators
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/gen4_planner.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast2op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Enhancement, Component: Query Serving

#13440 [main] Upgrade-Downgrade Fix: Schema-initialization stuck on semi-sync ACKs while upgrading (#13411)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/restart_tablets.sh
  examples/backups/start_cluster.sh
  examples/backups/upgrade_cluster.sh
  examples/common/scripts/vttablet-up.sh
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Bug, Component: Cluster management, Forwardport

#13441 [release-16.0] Upgrade-Downgrade Fix: Schema-initialization stuck on semi-sync ACKs while upgrading (#13411)
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  examples/backups/restart_tablets.sh
  examples/backups/start_cluster.sh
  examples/backups/upgrade_cluster.sh
  examples/common/scripts/vttablet-up.sh
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#13433 Examples: only terminate vtadmin if it was started
  examples/common/lib/utils.sh
  examples/common/scripts/consul-down.sh
  examples/common/scripts/etcd-down.sh
  examples/common/scripts/vtadmin-down.sh
  examples/common/scripts/vtctld-down.sh
  examples/common/scripts/vtgate-down.sh
  examples/common/scripts/vtorc-down.sh
  examples/common/scripts/vttablet-down.sh
Labels: Type: Bug, Component: Examples, Backport to: release-17.0

#13439 Fix `Fakemysqldaemon` to store the host and port after `SetReplicationSource` call
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Component: Cluster management, Type: Testing

#13442 schema.Reload(): ignore column reading errors for views only, error for tables
  go/mysql/constants.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
Labels: Type: Bug, Component: Schema Tracker, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13425 [release-15.0] Ignore error while reading table data in Schema.Engine reload (#13421)
  go/event/syslogger/fake_logger.go
  go/event/syslogger/syslogger_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Backport, Component: TabletManager, Component: Schema Tracker

#13456 Backport v16: schema.Reload(): ignore column reading errors for views only, error for tables #13442
  go/mysql/constants.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Backport, Component: Schema Tracker

#13455 Backport v17: schema.Reload(): ignore column reading errors for views only, error for tables #13442
  go/mysql/constants.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
Labels: Type: Bug, Backport, Component: Schema Tracker

#13457 Backport v15: schema.Reload(): ignore column reading errors for views only, error for tables #13442
  go/mysql/constants.go
  go/vt/mysqlctl/schema.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Backport, Component: TabletManager, Component: Schema Tracker

#13459 Remove excessive logging in VTOrc APIs
  go/vt/vtorc/server/api.go
Labels: Type: Internal Cleanup, Component: VTorc, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13371 Add support for kill statement
  go/cmd/vtgateclienttest/services/callerid.go
  go/cmd/vtgateclienttest/services/echo.go
  go/cmd/vtgateclienttest/services/errors.go
  go/cmd/vtgateclienttest/services/fallback.go
  go/cmd/vtgateclienttest/services/terminal.go
  go/flags/endtoend/vtgate.txt
  go/mysql/conn.go
  go/mysql/conn_fake.go
  go/mysql/conn_flaky_test.go
  go/mysql/server.go
  go/mysql/sql_error.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/kill/kill_test.go
  go/test/endtoend/vtgate/queries/kill/main_test.go
  go/test/endtoend/vtgate/queries/kill/schema.sql
  go/test/endtoend/vtgate/queries/kill/vschema.json
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/bench_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_scatter_stats_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/executor_vstream_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vtgate/vtgateservice/interface.go
  test/config.json
Labels: Type: Feature Request, Component: Query Serving

#13462 [release-16.0] Remove excessive logging in VTOrc APIs (#13459)
  go/vt/vtorc/server/api.go
Labels: Type: Internal Cleanup, Backport, Component: VTorc

#13463 [release-15.0] Remove excessive logging in VTOrc APIs (#13459)
  go/vt/vtorc/server/api.go
Labels: Type: Internal Cleanup, Backport, Component: VTorc

#13434 Enable Tcp keep alive and provide keep alive period setting
  go/flags/endtoend/vtgate.txt
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/server.go
  go/mysql/server_flaky_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Bug, Component: Query Serving

#13031 Update a number of dependencies
  go.mod
  go.sum
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
Labels: Component: Build/CI, dependencies, Type: CI/Build, Early in Cycle

#13468 `examples/compose`: fix `consul:latest` error w/`docker-compose up -d`
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
Labels: Type: Bug, Component: Examples, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13431 Fix ubi8.arm64.mysql80 build package mirrorserver error
  docker/lite/Dockerfile.ubi8.arm64.mysql80
Labels: Type: Bug, Component: Docker

#13466 Improve and Fix Distinct Aggregation planner
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Enhancement, Component: Query Serving

#13359 Random selection of keyspace based on available tablet
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/keyspace_events.go
  go/vt/srvtopo/resolver.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
Labels: Type: Bug, Component: Query Serving

#12963 `vtctl OnlineDDL`: complete command set
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Cluster management, Component: Online DDL

#13470 Fix logging by omitting the host and port in `SetReadOnly`
  go/vt/mysqlctl/replication.go
Labels: Type: Internal Cleanup, Component: Cluster management

#13484 Fix remote VersionString API
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/grpcmysqlctlclient/client.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Labels: Type: Bug, Component: TabletManager

#13246 Deprecating and removing tablet throttler CLI flags and tests
  .github/workflows/cluster_endtoend_tabletmanager_throttler.yml
  .github/workflows/cluster_endtoend_tabletmanager_throttler_custom_config.yml
  changelog/18.0/18.0.0/summary.md
  examples/common/scripts/vttablet-up.sh
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/throttler/util.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build, Component: Throttler

#13474 Incremental backup: accept GTID position without 'MySQL56/' flavor prefix
  go/mysql/replication_position.go
  go/mysql/replication_position_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine2_test.go
Labels: Type: Enhancement, Component: Backup and Restore

#13469 Fix `TestGatewayBufferingWhileReparenting` flakiness
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13496 fix: error.as method usage to send pointer to the reference type expected
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13504 Remove `--disable_active_reparents` flag in vttablet-up.sh
  examples/common/scripts/vttablet-up.sh
Labels: Type: Testing, Component: General

#13501 [vipersync] skip flaky test
  go/viperutil/internal/sync/sync_test.go
Labels: Component: Build/CI, Type: Testing, Backport to: release-17.0

#13483 viperutil: Remove potential cross site reflecting issue
  go/viperutil/debug/handler.go
Labels: Type: Bug, Component: CLI, Backport to: release-17.0

#13482 flags: Remove hardcoded runner paths
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
Labels: Component: Build/CI, Type: CI/Build

#13488 Better handling of vreplication setState() failure
  go/vt/vttablet/tabletmanager/vreplication/controller.go
Labels: Type: Bug, Component: VReplication

#13502 [release-15.0] Fix `TestGatewayBufferingWhileReparenting` flakiness (#13469)
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Component: Query Serving, Type: Testing, Backport

#13500 [release-16.0] Fix `TestGatewayBufferingWhileReparenting` flakiness (#13469)
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Component: Query Serving, Type: Testing, Backport

#13516 [release-17.0] Upgrade-downgrade test fix: Remove throttler flags in `vttablet-up.sh`
  examples/common/scripts/vttablet-up.sh
Labels: Type: Testing, Component: General

#13499 [release-17.0] Fix `TestGatewayBufferingWhileReparenting` flakiness (#13469)
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Component: Query Serving, Type: Testing, Backport

#13436 docker/k8s: add bookworm builds
  changelog/18.0/18.0.0/summary.md
  docker/release.sh
Labels: Type: CI/Build, Component: Docker

#13515 VReplication: Ignore unrelated shards in partial MoveTables traffic state
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Bug, Component: VReplication

#13518 fix docgen for subcommands
  go/cmd/internal/docgen/docgen.go
Labels: Type: Bug, Type: Documentation, Component: Build/CI, Type: CI/Build, Component: Documentation

#13520 Fix dependencies in docker build script
  docker/lite/install_dependencies.sh
Labels: Type: Bug, Backport to: release-15.0, Backport to: release-16.0, Component: Docker, Backport to: release-17.0

#13512 Replace deprecated `github.com/golang/mock` with `go.uber.org/mock`
  go.mod
  go.sum
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Component: Build/CI, Type: CI/Build

#13489 Fix flakiness in VTOrc tests
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
Labels: Type: Testing, Component: VTorc, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13545 [vipersync] deflake TestWatchConfig
  go/viperutil/internal/sync/sync_test.go
Labels: Component: Build/CI, Type: Testing, Flakes

#13527 [release-17.0]: Fix flakiness in VTOrc tests (#13489)
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Backport, Component: VTorc

#13528 [release-16.0]: Fix flakiness in VTOrc tests (#13489)
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Backport, Component: VTorc

#13529 [release-15.0]: Fix flakiness in VTOrc tests (#13489)
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Backport, Component: VTorc

#13548 Deflake `TestPlannedReparentShardPromoteReplicaFail`
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
Labels: Component: Cluster management, Type: Testing, Backport to: release-16.0, Backport to: release-17.0

#13561 Skip flaky test `TestReadOutdatedInstanceKeys`
  go/vt/vtorc/inst/instance_dao_test.go
Labels: Type: Testing, Component: VTorc

#13543 vtctldclient: Add missing new backup option
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtctldclient/command/backups.go
  go/flags/endtoend/vtbackup.txt
  go/vt/vtctl/backup.go
Labels: Type: Bug, Component: Backup and Restore

#13554 Unset the PREFIX environment variable when building VTAdmin
  Makefile
  web/vtadmin/build.sh
Labels: Type: Bug, Component: Build/CI, Component: VTAdmin

#13567 Optimize `make build` in `test.go` and in CI
  .github/workflows/endtoend.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  test.go
Labels: Type: Enhancement, Component: Build/CI

#13568 Flaky tests: Fix wrangler tests
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/utils.go
Labels: Component: Cluster management, Type: Testing, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13560 Fix flaky vtgate test TestInconsistentStateDetectedBuffering
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Type: Bug, Component: Query Serving, Flakes, Backport to: release-16.0, Backport to: release-17.0

#13559 Flaky tests: Fix race in memory topo
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Labels: Type: Bug, Component: Cluster management, Flakes, Backport to: release-16.0, Backport to: release-17.0

#13566 vreplication: Move to use collations package
  go/mysql/constants.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/gbk-charset/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/gbk-charset/extra_args
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Internal Cleanup, Component: VReplication

#13547 VReplication: Ensure ROW events are sent within a transaction
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0, Backport to: release-17.0

#13492 stats: use *time.Ticker instead of time.After()
  go/stats/rates.go
Labels: Type: Internal Cleanup, Component: Observability

#13495 docker/mini: remove refs to orc configs
  docker/mini/Dockerfile
Labels: Type: Internal Cleanup, Component: Examples

#13579 fix TestQueryTimeoutWithTables flaky test
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
Labels: Component: Query Serving, Type: Testing, Backport to: release-16.0, Backport to: release-17.0

#13573 Remove unused chromedriver
  Makefile
  bootstrap.sh
  dev.env
  docker/bootstrap/Dockerfile.common
Labels: Type: Internal Cleanup, Component: Build/CI

#13565 Fix show character set
  go/mysql/flavor_mysql.go
  go/vt/dbconfigs/dbconfigs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/show_test.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
Labels: Type: Bug, Component: Query Serving

#13588 Skip VTAdmin build in more places
  .github/workflows/e2e_race.yml
  .github/workflows/unit_race.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  test/templates/unit_test.tpl
  test/templates/unit_test_self_hosted.tpl
Labels: Type: Enhancement, Component: Build/CI

#13435 MoveTables sequence e2e tests: change terminology to use basic vs simple everywhere for partial movetables workflows
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_basic.yml
  test/ci_workflow_gen.go
Labels: Type: Enhancement, Component: Build/CI, Component: VReplication

#13544 vtgate table schema tracking to use GetSchema rpc
  changelog/18.0/18.0.0/summary.md
  go/flags/endtoend/vtgate.txt
  go/mysql/schema.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/schema.sql
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/vschema.json
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vtgate.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving

#13590 ignore all error for views in engine reload
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13596 Fix potential panics due to "Fail in goroutine after test completed"
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Labels: Type: Bug, Type: Testing, Component: Online DDL

#13597 Throttler: reintroduce deprecated flags so that deprecation actually works
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Component: Throttler

#13595 Reduce usages of old horizon planning fallback
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#13153 txthrottler: add metrics for topoWatcher and healthCheckStreamer
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: Throttler

#13599 mysqlctl: Remove noisy log line
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: TabletManager

#13562 Reintroduce `TestReadOutdatedInstanceKeys` with debugging information
  go/vt/vtorc/inst/instance_dao_test.go
Labels: Type: Testing, Component: VTorc

#13605 Fix type comparisons for Nullsafe* functions
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/datetime/timeparts.go
  go/mysql/json/helpers.go
  go/mysql/json/parser.go
  go/mysql/json/weights.go
  go/mysql/json/weights_test.go
  go/sqltypes/bind_variables_test.go
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/api_types.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/vindex.go
Labels: Type: Bug, Component: Evalengine

#13584 vtgate buffering logic: remove the deprecated healthcheck based implementation
  changelog/18.0/18.0.0/summary.md
  go/flags/endtoend/vtgate.txt
  go/viperutil/internal/sync/sync_test.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_helper_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/vtgate/tabletgateway_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13557 check keyspace snapshot time if none specified for backup restores
  go/test/endtoend/recovery/recovery_util.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13617 GetSchema: limit concurrent operations
  go/vt/mysqlctl/schema.go
Labels: Type: Bug, Component: TabletManager

#13621 [release-16.0] Optimize release notes generation to use GitHub Milestones (#13398)
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Type: Release

#13640 icuregex: Lazy load ICU data into memory
  go/mysql/icuregex/internal/icudata/embed.go
  go/mysql/icuregex/internal/ubidi/loader.go
  go/mysql/icuregex/internal/ubidi/ubidi.go
  go/mysql/icuregex/internal/ucase/fold.go
  go/mysql/icuregex/internal/ucase/loader.go
  go/mysql/icuregex/internal/ucase/ucase.go
  go/mysql/icuregex/internal/uchar/loader.go
  go/mysql/icuregex/internal/uchar/uchar.go
  go/mysql/icuregex/internal/unames/loader.go
  go/mysql/icuregex/internal/unames/unames.go
  go/mysql/icuregex/internal/uprops/loader.go
  go/mysql/icuregex/internal/uprops/uprops.go
Labels: Type: Enhancement, Component: Evalengine

#13622 [release-17.0] Optimize release notes generation to use GitHub Milestones (#13398)
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Type: Release

#13601 Backport v17: Replace deprecated github.com/golang/mock with go.uber.org/mock #13512
  go.mod
  go.sum
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Component: Build/CI, Type: CI/Build, Backport

#13618 Update known issues in `v16.x` and `v17.0.0`
  changelog/16.0/16.0.0/release_notes.md
  changelog/16.0/16.0.0/summary.md
  changelog/16.0/16.0.1/release_notes.md
  changelog/16.0/16.0.1/summary.md
  changelog/16.0/16.0.2/release_notes.md
  changelog/16.0/16.0.2/summary.md
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
Labels: Component: Documentation, Type: Release, Backport to: release-16.0, Backport to: release-17.0

#13619 Prepare release note `v15.0.4`
  changelog/15.0/15.0.4/summary.md
  changelog/15.0/README.md
Labels: Component: Documentation, Type: Release

#13620 [release-15.0] Optimize release notes generation to use GitHub Milestones (#13398)
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Type: Enhancement, Component: Build/CI, Backport, Type: Release

#13649 Code freeze of release-15.0 for release of v15.0.4
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#13648 Code freeze of release-16.0 for release of v16.0.3
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#13650 Code freeze of release-17.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue

#13582 VReplication: Make Source Tablet Selection More Robust
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/wrangler/fake_tablet_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
Labels: Type: Bug, Component: VReplication

#13526 Per workload TxThrottler metrics
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Throttler

#13627 [viper WatchConfig] platform-specific write to ensure callback fires exactly once
  go/viperutil/internal/sync/sync_darwin_test.go
  go/viperutil/internal/sync/sync_linux_test.go
  go/viperutil/internal/sync/sync_test.go
Labels: Component: Build/CI, Type: CI/Build, Flakes

#13655 backport fix 13557 to v15
  go/test/endtoend/recovery/recovery_util.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Type: Bug, Component: Cluster management

#13652 Release `v15.0.4`
  .github/workflows/code_freeze.yml
  changelog/15.0/15.0.4/changelog.md
  changelog/15.0/15.0.4/release_notes.md
  changelog/15.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Benchmark me, Component: General, Type: Release

#13651 Release of v16.0.3
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.3/changelog.md
  changelog/16.0/16.0.3/release_notes.md
  changelog/16.0/16.0.3/summary.md
  changelog/16.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Benchmark me, Component: General, Type: Release

#13653 Release of v17.0.1
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.1/changelog.md
  changelog/17.0/17.0.1/release_notes.md
  changelog/17.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Benchmark me, Component: General, Type: Release

#13661 Add v15.0.4, v16.0.3, and v17.0.1 changelogs
  changelog/15.0/15.0.2/summary.md
  changelog/15.0/15.0.4/changelog.md
  changelog/15.0/15.0.4/release_notes.md
  changelog/15.0/15.0.4/summary.md
  changelog/15.0/README.md
  changelog/16.0/16.0.3/changelog.md
  changelog/16.0/16.0.3/release_notes.md
  changelog/16.0/16.0.3/summary.md
  changelog/16.0/README.md
  changelog/17.0/17.0.0/summary.md
  changelog/17.0/17.0.1/changelog.md
  changelog/17.0/17.0.1/release_notes.md
  changelog/17.0/README.md
Labels: Component: General, Type: Release

#13662 Back to dev mode after v15.0.4
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13659 mysqlctl: Reduce logging for running commands
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: TabletManager

#13660 Back to dev mode after v16.0.3
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13658 evalengine: Improve weight string support
  go/mysql/datetime/datetime.go
  go/mysql/datetime/parse.go
  go/mysql/decimal/weights.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_simplify.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
Labels: Type: Enhancement, Component: Evalengine

#12477 tx throttler: healthcheck all cells if `--tx-throttler-healthcheck-cells` is undefined
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Query Serving

#13494 `UpdateThrottlerConfig --unthrottle-app ...`
  go/cmd/vtctldclient/command/throttler.go
  go/test/endtoend/throttler/util.go
  go/vt/vtctl/vtctl.go
Labels: Type: Enhancement, Component: vtctl, Component: Throttler

#13513 Backup & Restore: vtctldclient to support PITR flags
  go/cmd/vtctldclient/command/backups.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
Labels: Type: Enhancement, Component: vtctl, Component: Backup and Restore

#13615 Throttler: verify deprecated flags are still allowed
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Throttler

#13669 evalengine: Fix JSON weight string computation
  go/mysql/json/helpers.go
  go/sqltypes/value.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
Labels: Type: Enhancement, Component: Evalengine

#13657 Build foreign key definition in schema tracker
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Feature Request, Component: Query Serving
