Repository vitessio/vitess, pull requests merged in 2023-04, with the labels that each got.

#12797 evalengine: Implement ROUND() and TRUNCATE()
  go/mysql/decimal/decimal.go
  go/mysql/decimal/decimal_test.go
  go/mysql/json/fastparse/fastparse.go
  go/mysql/json/fastparse/fastparse_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12688 Query executor: preparing for `SHOW VITESS_MIGRATIONS` via `ShowBasic`
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
Labels: Type: Internal Cleanup, Component: Query Serving, Component: Online DDL

#12759 Automatically add milestone to new Pull Request
  .github/workflows/assign_milestone.yml
Labels: Type: Enhancement, Component: General, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12805 [release-14.0] Automatically add milestone to new Pull Request (#12759)
  .github/workflows/assign_milestone.yml
Labels: Type: Enhancement, Backport, Component: General

#12807 [release-16.0] Automatically add milestone to new Pull Request (#12759)
  .github/workflows/assign_milestone.yml
Labels: Type: Enhancement, Backport, Component: General

#12804 evalengine: Implement CRC32 & CONV
  go/mysql/json/fastparse/fastparse.go
  go/mysql/json/fastparse/fastparse_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12809 Do not fail build on incorrect Go version
  build.env
Labels: Type: CI/Build, Component: General, Backport to: release-16.0, go

#12808 [release-16.0] Table GC: remove spammy log entry (#12625)
  go/vt/vttablet/tabletserver/gc/tablegc.go
Labels: Type: Internal Cleanup, Backport, Component: TabletManager

#12813 fakesqldb: Guard query log usage with lock
  .github/workflows/unit_race.yml
  go/mysql/fakesqldb/server.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Component: Build/CI, Type: Testing, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12703 Avoid crash during BuiltinBackup FileUpload method
  go/vt/mysqlctl/backupstats/fake_stats.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
Labels: Type: Bug, Component: Backup and Restore

#12814 fakedbclient: Add locking to avoid races
  go/vt/wrangler/fake_dbclient_test.go
Labels: Component: Build/CI, Type: Testing, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12755 Log the length of the actual rows when the query exceeds the warning threshold
  go/vt/vtgate/executor.go
Labels: Type: Enhancement, Component: Query Serving

#12739 Add parsing support to wkb spatial funcs
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#12787 Cleanup TODOs in vtorc flag parsing code from v15
  go/cmd/vtorc/main.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Component: VTorc, Component: CLI, Backport to: release-16.0

#12810 [planbuilder bugfix] do not push aggregations into derived tables
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12825 [release-14.0] planbuilder bugfix - do not push aggregations into derived tables
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/abstract/operator_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12819 evalengine: Try to reduce test flakyness around time
  go/sqltypes/value.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
Labels: Component: Build/CI, Type: Testing, Component: Evalengine

#12818 [release-16.0] Cleanup TODOs in vtorc flag parsing code from v15 (#12787)
  go/cmd/vtorc/main.go
  go/vt/servenv/servenv.go
Labels: Type: Internal Cleanup, Component: VTorc, Component: CLI

#12820 [release-14.0] fakedbclient: Add locking to avoid races (#12814)
  go/vt/wrangler/fake_dbclient_test.go
Labels: Component: Build/CI, Type: Testing, Backport

#12822 [release-16.0] fakedbclient: Add locking to avoid races (#12814)
  go/vt/wrangler/fake_dbclient_test.go
Labels: Component: Build/CI, Type: Testing, Backport

#12824 [release-15.0] planbuilder bugfix - do not push aggregations into derived tables
  go/vt/vtgate/planbuilder/abstract/derived.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#12827 evalengine: Improve the timezone parsing logic
  go/mysql/datetime/time_zone.go
  go/mysql/datetime/time_zone_test.go
  go/mysql/sql_error.go
  go/vt/vterrors/state.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/safe_session_test.go
Labels: Type: Enhancement, Component: Evalengine

#12829 Add parsing support to format functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#12844 [vtadmin] log response errors
  go/vt/vtadmin/grpcserver/server.go
  go/vt/vtadmin/http/response.go
Labels: Type: Enhancement, Component: VTAdmin, Component: Observability

#12803 [vtadmin-api] standardize cluster ids
  go/vt/vtadmin/http/api.go
  go/vt/vtadmin/http/api_test.go
  go/vt/vtadmin/http/backups.go
  go/vt/vtadmin/http/cells.go
  go/vt/vtadmin/http/experimental/tablets.go
  go/vt/vtadmin/http/gates.go
  go/vt/vtadmin/http/keyspaces.go
  go/vt/vtadmin/http/replication.go
  go/vt/vtadmin/http/schemas.go
  go/vt/vtadmin/http/shards.go
  go/vt/vtadmin/http/srvkeyspaces.go
  go/vt/vtadmin/http/srvvschemas.go
  go/vt/vtadmin/http/tablets.go
  go/vt/vtadmin/http/vschemas.go
  go/vt/vtadmin/http/vtctlds.go
  go/vt/vtadmin/http/vtexplain.go
  go/vt/vtadmin/http/workflows.go
Labels: Type: Internal Cleanup, Component: VTAdmin

#12838 Small fixes to the auto-upgrade golang tool
  .github/workflows/update_golang_version.yml
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Bug, Component: Build/CI, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0, go

#12817 Fix `TestGatewayBufferingWhileReparenting` flakiness
  go/vt/discovery/keyspace_events.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Type: Bug, Component: Cluster management, Flakes

#12780 Fix `vtgate_schema_tracker` flaky tests
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Labels: Type: Bug, Component: Build/CI, Component: Query Serving, Flakes, Backport to: release-15.0, Backport to: release-16.0

#12840 VDiff: cleanup test log output
  go/cache/ristretto/bloom/bbloom_test.go
  go/cache/ristretto/cache_test.go
  go/cache/ristretto/sketch_test.go
  go/vt/wrangler/fake_dbclient_test.go
  go/vt/wrangler/resharder_env_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/vdiff_env_test.go
Labels: Component: VReplication, Type: Testing, Component: General

#12852 Add timeout to `golangci-lint` and bump its version
  .github/workflows/static_checks_etc.yml
  .golangci.yml
Labels: Type: Bug, Component: Build/CI, Flakes, Backport to: release-15.0, Backport to: release-16.0, go

#12843 [topo] Disallow the slash character in shard names
  changelog/17.0/17.0.0/summary.md
  go/vt/topo/shard.go
  go/vt/topo/shard_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-16.0

#12712 Add `Uptime` metric
  go/vt/servenv/servenv.go
Labels: Type: Enhancement, Component: Observability

#12849 [release-16.0] Fix `vtgate_schema_tracker` flaky tests (#12780)
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Labels: Type: Bug, Component: Build/CI, Component: Query Serving, Backport, Flakes

#12850 [release-15.0] Fix `vtgate_schema_tracker` flaky tests (#12780)
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/performance_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
Labels: Type: Bug, Component: Build/CI, Component: Query Serving, Backport, Flakes

#12841 Remove misleading message in `build.env`
  build.env
Labels: Type: CI/Build, Component: General, go

#12831 [VTAdmin] Migrate to Vite
  changelog/17.0/17.0.0/summary.md
  examples/common/scripts/vtadmin-up.sh
  go/vt/vtadmin/README.md
  tools/check_make_vtadmin_web_proto.sh
  web/vtadmin/README.md
  web/vtadmin/bin/generate-proto-types.sh
  web/vtadmin/index.html
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/public/config/config.js
  web/vtadmin/public/index.html
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/ActionPanel.test.tsx
  web/vtadmin/src/components/ActionPanel.tsx
  web/vtadmin/src/components/ReadOnlyGate.test.tsx
  web/vtadmin/src/components/charts/__snapshots__/WorkflowStreamsLagChart.test.tsx.snap
  web/vtadmin/src/components/dataTable/PaginationNav.test.tsx
  web/vtadmin/src/components/dropdown/Dropdown.tsx
  web/vtadmin/src/components/inputs/Select.tsx
  web/vtadmin/src/components/placeholders/QueryErrorPlaceholder.test.tsx
  web/vtadmin/src/components/placeholders/QueryLoadingPlaceholder.test.tsx
  web/vtadmin/src/components/routes/Settings.tsx
  web/vtadmin/src/components/routes/createKeyspace/CreateKeyspace.test.tsx
  web/vtadmin/src/components/routes/keyspace/Advanced.test.tsx
  web/vtadmin/src/components/routes/keyspaces/KeyspaceActions.tsx
  web/vtadmin/src/components/routes/shard/Advanced.tsx
  web/vtadmin/src/components/routes/tablet/Advanced.test.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.test.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/errors/bugsnag.ts
  web/vtadmin/src/errors/errorHandler.test.ts
  web/vtadmin/src/errors/errorHandler.ts
  web/vtadmin/src/errors/errorTypes.ts
  web/vtadmin/src/hooks/api.test.tsx
  web/vtadmin/src/hooks/useDocumentTitle.ts
  web/vtadmin/src/hooks/useSyncedURLParam.test.tsx
  web/vtadmin/src/hooks/useURLPagination.test.tsx
  web/vtadmin/src/hooks/useURLQuery.test.tsx
  web/vtadmin/src/icons/topology.svg
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/react-app-env.d.ts
  web/vtadmin/src/setupTests.ts
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/env.ts
  web/vtadmin/src/util/filterNouns.test.ts
  web/vtadmin/src/util/formatBytes.test.ts
  web/vtadmin/src/util/keyspaces.test.ts
  web/vtadmin/src/util/tabletDebugVars.test.ts
  web/vtadmin/src/util/tokenize.test.ts
  web/vtadmin/src/util/vschemas.test.ts
  web/vtadmin/src/util/workflows.test.ts
  web/vtadmin/tests/handlers.ts
  web/vtadmin/tests/server.ts
  web/vtadmin/tests/setup.js
  web/vtadmin/tsconfig.json
  web/vtadmin/tsconfig.node.json
  web/vtadmin/vite-env.d.ts
  web/vtadmin/vite.config.ts
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTAdmin, Component: web UI, javascript

#12580 flags: deprecate vtctld_addr and delete related code
  changelog/17.0/17.0.0/summary.md
  go/cmd/vttablet/status.go
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/clustertest/vtctld_test.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/status.go
  go/vt/status/status.go
  go/vt/vtctl/vtctl.go
  go/vt/vtgate/status.go
  go/vt/vtgate/vtgate.go
Labels: Type: Internal Cleanup, Component: Observability

#12752 Add Prepare, Execute and Deallocate Statement Support related to prepared statement
  Makefile
  go/mysql/constants.go
  go/mysql/sql_error.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/exec_prepared_statement.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_scatter_stats_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/gen4_compare_v3_planner.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/prepared_statement.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/testdata/misc_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/queryz_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/vcursor_impl.go
  proto/vtgate.proto
Labels: Type: Feature Request, Component: Query Serving

#12836 fix: vtadmin vttablet url protocol
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/.gitignore
  web/vtadmin/README.md
  web/vtadmin/src/components/links/ExternalTabletLink.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/shard/ShardTablets.tsx
Labels: Type: Bug, Component: VTAdmin

#12862 vreplication: Run all appropriate tests
  go/test/endtoend/vreplication/config_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Component: VReplication, Type: Testing

#12871 Update fossa check for Node deprecation
  .github/workflows/static_checks_etc.yml
Labels: Component: Build/CI, Type: CI/Build

#12839 Use go1.20.3 in the upgrade downgrade tests
  .github/workflows/assign_milestone.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Enhancement, Component: Build/CI, go

#12876 tools/build_version_flags: allow configurable `build time`
  docker/base/Dockerfile
  docker/base/Dockerfile.mysql57
  docker/base/Dockerfile.percona57
  docker/base/Dockerfile.percona80
  tools/build_version_flags.sh
Labels: Type: Enhancement, Component: Build/CI

#12460 Fix shorthand flag for recursive delete in zk tool
  go/cmd/zk/zkcmd.go
Labels: Type: Bug, Component: General

#12858 Backport: [topo] Disallow the slash character in shard names #12843
  changelog/16.0/16.0.2/summary.md
  go/vt/topo/shard.go
  go/vt/topo/shard_test.go
Labels: Type: Bug, Component: Cluster management, Backport, Release Blocker

#12864 Add panic recovery handler to vtadmin http middleware
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/handlers/panic_recovery.go
  go/vt/vtadmin/http/handlers/panic_recovery_test.go
Labels: Type: Feature Request, Component: VTAdmin

#12594 Online DDL: configurable cut-over threshold
  changelog/17.0/17.0.0/summary.md
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/rules/rules.go
  go/vt/vttablet/tabletserver/rules/rules_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Online DDL

#12883 codegen: ensure goimports also simplifies
  go/mysql/collations/mysqldata.go
  go/tools/codegen/goimports.go
Labels: Type: Bug, Component: Build/CI

#12826 Flaky test fix: OnlineDDL: convert time->unix->TIMESTAMP in golang space
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL

#12884 datetime: Add week number formatting
  go/mysql/datetime/format_test.go
  go/mysql/datetime/formats.go
  go/mysql/datetime/spec.go
  go/mysql/datetime/types.go
  go/vt/vtgate/evalengine/mysql_test.go
Labels: Type: Enhancement, Component: Evalengine

#12855 Add parsing suppport to geom property functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#12881 planner fix: scoping rules for JOIN ON expression inside a subquery
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/scoper.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12886 evalengine: unset Type for NewColumnWithCollation
  go/vt/vtgate/evalengine/api_literal.go
Labels: Type: Bug, Component: Evalengine

#12878 Fix: reset transaction session when no reserved connection
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/reparent/prssettingspool/main_test.go
  go/test/endtoend/reparent/prssettingspool/schema.sql
  go/test/endtoend/reparent/utils/utils.go
  go/vt/vtgate/safe_session.go
  test/config.json
Labels: Type: Bug, Forwardport, Component: Query Serving

#12882 gh-ost migrations: improved error log message
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#12834 Fix backup flaky tests
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/mysqlctl_process.go
  go/test/endtoend/cluster/mysqlctld_process.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
Labels: Type: Bug, Component: General, Backport to: release-15.0, Backport to: release-16.0

#12620 Skip recalculating the rate in MaxReplicationLagModule when it can't be done
  go/vt/throttler/max_replication_lag_module.go
  go/vt/throttler/max_replication_lag_module_test.go
Labels: Type: Bug, Component: TabletManager

#12894 refactor: clean up and simplify the semantics package
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12885 schemadiff: formalize SchemaDiff as the only schema diffing mechanism
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: Query Serving

#12892 evalengine: Add CONVERT_TZ function
  go/mysql/datetime/parse.go
  go/mysql/datetime/spec.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12897 remove tablet server's ACL check on the /healthz HTTP api route
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: ACL

#12790 [gen4 planner] Better handling of projections in operators
  go/slices2/slices.go
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/simple_projection.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/planbuilder/testdata/wireup_cases.json
Labels: Type: Enhancement, Component: Query Serving

#12908 feat: re-introduce expanded columns info in semantic state
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12907 evalengine: Improve handling of datetime / time with precision and add more functions
  go/mysql/datetime/format_test.go
  go/mysql/datetime/formats.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/datetime/spec.go
  go/mysql/datetime/strftime.go
  go/mysql/datetime/timeparts.go
  go/mysql/datetime/types.go
  go/mysql/json/parser.go
  go/vt/sqlparser/normalizer.go
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_compare.go
  go/vt/vtgate/evalengine/compiler_convert.go
  go/vt/vtgate/evalengine/compiler_date.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/helpers.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12910 [release-15.0] Remove recent golangci-lint version bump
  .github/workflows/static_checks_etc.yml
  .golangci.yml
Labels: Type: Bug, Component: Build/CI

#12909 [release-16.0] Remove recent golangci-lint version bump
  .github/workflows/static_checks_etc.yml
  .golangci.yml
Labels: Type: Bug, Component: Build/CI

#12890 [release-15.0] planner fix: scoping rules for JOIN ON expression inside a subquery
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_set.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, Backport

#12918 schemadiff: rich `ImpossibleApplyDiffOrderError`
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: Query Serving

#12860 [vtctld] Delete legacy dual purpose duration/int flag parsing
  changelog/17.0/17.0.0/summary.md
  go/cmd/vtctld/schema.go
  go/flags/endtoend/vtctld.txt
  go/flagutil/flagutil.go
  go/flagutil/flagutil_test.go
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/test/endtoend/versionupgrade/upgrade_test.go
  go/test/endtoend/vtgate/schema/schema_test.go
Labels: Type: Internal Cleanup, Component: CLI

#12874 simplify views ddl execution path
  go/mysql/schema.go
  go/vt/sidecardb/schema/misc/views.sql
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12916 evalengine: Implement additional week modes
  go/mysql/datetime/types.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
Labels: Type: Enhancement, Component: Evalengine

#12877 [16.0] Fix: reset transaction session when no reserved connection
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/reparent/prssettingspool/main_test.go
  go/test/endtoend/reparent/prssettingspool/schema.sql
  go/test/endtoend/reparent/utils/utils.go
  go/vt/vtgate/safe_session.go
  test/config.json
Labels: Type: Bug, Forwardport, Component: Query Serving

#12915 Add tablet type filtering to vtctldclient GetTablets
  go/cmd/vtctldclient/command/tablets.go
  go/vt/topo/topoproto/tablet.go
Labels: Type: Enhancement, Component: Cluster management

#12921 OnlineDDL: reject partial key coverage in PRIMARY KEY for vitess migrations
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-partial-text-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-partial-text-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-partial-text-pk/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/partial-text-pk-full/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/partial-text-pk-full/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/text-pk/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/text-pk/create.sql
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/types.go
  go/vt/vttablet/onlineddl/vrepl/unique_key.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL

#12927 Add limit planning to operators
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/wireup_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving

#12931 datetime: Fix weekday calculation for DST changes
  go/mysql/datetime/types.go
  go/vt/vtgate/evalengine/compiler_test.go
Labels: Type: Bug, Component: Evalengine

#12929 sqlutils: Cleanup dead code
  go/cmd/zkctl/zkctl.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/types.go
  go/mysql/query_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/controller/refresh.go
  go/vt/vtorc/inst/instance_binlog.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Internal Cleanup, Component: General

#12928 evalengine: Add support for `UNIX_TIMESTAMP & `FROM_UNIXTIME`
  go/mysql/datetime/types.go
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12930 Deprecate `durability_policy` flag in vtctld
  changelog/17.0/17.0.0/summary.md
  go/flags/endtoend/vtctld.txt
  go/vt/vtctld/vtctld.go
Labels: Type: Internal Cleanup, Component: Cluster management

#12936 TabletThrottler: `vtctlclient UpdateThrottlerConfig` use VtctlServer RPC
  go/vt/vtctl/vtctl.go
Labels: Type: Bug, Component: Cluster management

#12938 evalengine: Implement `MAKEDATE` and `MAKETIME`.
  go/mysql/datetime/parse.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#12828 Fix restore from backup execution path to use context from caller
  changelog/17.0/17.0.0/summary.md
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_test.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/query.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Type: Bug, Type: Enhancement, Component: Backup and Restore

#12939 topo: Remove unused templating code
  go/vt/topo/topoproto/shard.go
  go/vt/topo/topoproto/shard_test.go
Labels: Type: Internal Cleanup, Component: General

#12943 [vttablet] cleanup unused code in tabletserver
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tx_engine.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12904 Add parsing support to point property functions
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#12940 template: Move all HTML templates to safehtml
  go.mod
  go.sum
  go/test/endtoend/cluster/mysqlctl_process.go
  go/vt/callinfo/callinfo.go
  go/vt/callinfo/fakecallinfo/fakecallinfo.go
  go/vt/callinfo/plugin_grpc.go
  go/vt/callinfo/plugin_mysql.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/tablets_cache_status.go
  go/vt/servenv/status.go
  go/vt/servenv/status_test.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/status.go
  go/vt/throttler/throttlerlogz.go
  go/vt/throttler/throttlerz.go
  go/vt/vtgate/executor_scatter_stats.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/queryz.go
  go/vt/vtgate/status_test.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletserver/livequeryz.go
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/queryz.go
  go/vt/vttablet/tabletserver/schema/schemaz.go
  go/vt/vttablet/tabletserver/status.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
  go/vt/vttablet/tabletserver/twopcz.go
  go/vt/vttablet/tabletserver/txlogz.go
  go/vt/wrangler/schema.go
Labels: Type: Internal Cleanup, Component: General

#12941 test: fix cfc flaky test
  go/vt/vtgate/executor_select_test.go
Labels: Component: Build/CI, Type: Testing, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12957 update v16 release notes about VTGate Advertised MySQL Version
  changelog/16.0/16.0.0/release_notes.md
  changelog/16.0/16.0.0/summary.md
Labels: Type: Documentation, Component: Query Serving, Backport to: release-16.0

#12954 Gen4 Operator Refactoring: ORDER BY & Debugging Enhancements
  go.mod
  go.sum
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/logical.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/operator_test.go
  go/vt/vtgate/planbuilder/operators/operator_test_data.txt
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ops/to_json.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/queryprojection_test.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
Labels: Type: Enhancement, Component: Query Serving

#12968 fix: union distinct between unsharded route and sharded join
  .gitignore
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12971 Use the newer `v2.7.5` vitess-operator version in the examples
  examples/operator/operator.yaml
Labels: Type: Internal Cleanup, Component: Examples, Component: Operator

#12975 vtgr: Remove unused code
  go.mod
  go.sum
  go/vt/vtgr/ssl/ssl.go
  go/vt/vtgr/ssl/ssl_test.go
Labels: Type: Internal Cleanup, Component: VTorc

#12977 fix: deflake TestGetSchemaRPC test
  go/vt/vttablet/endtoend/views_test.go
Labels: Component: Query Serving, Type: Testing

#12978 gen4 planner: Derived table handling on operators
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/tracked_buffer.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/logical.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Enhancement, Component: Query Serving

#12955 `schemadiff`: better naming; formalizing `SchemaDiff` use.
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: Query Serving

#12979 mysql/evalengine: Unify float parsing
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/decimal/decimal_test.go
  go/mysql/decimal/scan.go
  go/mysql/fastparse/fastparse.go
  go/mysql/fastparse/fastparse_test.go
  go/mysql/json/fastparse/fastparse.go
  go/mysql/json/parser.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/arithmetic.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Internal Cleanup, Component: Evalengine

#12989 OnlineDDL/vitess: only KILL 'RENAME' statement if not known to be successful
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Online DDL

#12980 Flakes: Wait for throttler to open in throttler custom config test
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
Labels: Component: Build/CI, Type: CI/Build, Flakes

#12991 tools: Cleanup more unused code
  go.mod
  go.sum
  tools/statsd.go
  tools/tools.go
Labels: Type: Internal Cleanup, Component: General

#12992 Fix bug in `SwitchTraffic` that wasn't respecting `--dry_run` for readonly and replica tablets during a resharding event
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Backport to: release-14.0, Backport to: release-15.0, Backport to: release-16.0

#12950 VReplication: Support MySQL Binary Log Transaction Compression
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl.yml
  .github/workflows/cluster_endtoend_vreplication_across_db_versions.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias.yml
  .github/workflows/cluster_endtoend_vreplication_migrate_vdiff2_convert_tz.yml
  .github/workflows/cluster_endtoend_vreplication_multicell.yml
  .github/workflows/cluster_endtoend_vreplication_v2.yml
  changelog/17.0/17.0.0/summary.md
  go.mod
  go.sum
  go/mysql/binlog_event.go
  go/mysql/binlog_event_common.go
  go/mysql/binlog_event_compression.go
  go/mysql/binlog_event_filepos.go
  go/mysql/binlog_event_mariadb.go
  go/mysql/binlog_event_mysql56.go
  go/mysql/binlog_event_mysql56_test.go
  go/mysql/encoding.go
  go/mysql/replication_constants.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
Labels: Type: Enhancement, Component: VReplication
