Repository vitessio/vitess, pull requests merged in 2023-06, with the labels that each got.

#13195 Tablet throttler: be explicit about client app name, exempt some apps from checks and heartbeat renewals
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replica_connector.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/binlog_watcher.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/schema/tracker_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/check_result.go
  go/vt/vttablet/tabletserver/throttle/client.go
  go/vt/vttablet/tabletserver/throttle/mysql/mysql_throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Enhancement, Component: TabletManager

#13200 vindexes: make lookup_unicodeloosemd5_hash non-planable
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0

#13198 Temporarily disable panic in mysqld when socket files are directly used
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: General

#13209 Review and cleanup of v17 RC release notes summary
  changelog/17.0/17.0.0/summary.md
Labels: Component: General, Type: Release, Release Blocker

#13210 Code freeze of release-17.0
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, Release Blocker, NeedsIssue

#13201 Handle DISTINCT with the new operators
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#13212 Bump the vitess version on main
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release, Release Blocker

#13215 gentler warning message on config-not-found
  go/viperutil/config.go
Labels: Type: Documentation, Component: CLI

#13221 Add security audit report
  doc/VIT-03-report-security-audit.pdf
Labels: Type: Documentation, Component: Documentation

#13154 [16.0] evalengine: TypeOf for Columns should only use value type when we have a value
  go/vt/vtgate/evalengine/expr_column_test.go
  go/vt/vtgate/evalengine/expressions.go
Labels: Type: Bug, Component: Query Serving, Backport

#13150 [ci] add generator for templated flag testdata
  Makefile
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgr.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/flags/endtoend/zkctld.txt
  tools/generate_flag_testdata.sh
Labels: Component: Build/CI, Type: Testing, Backport to: release-17.0

#13237 Backport #13130: Tablet throttler: throttler-config-via-topo defaults 'true', deprecation message for old flags
  changelog/17.0/17.0.0/summary.md
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_custom_config/throttler_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/throttler/util.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/srvtopo/watch.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Type: Enhancement, Backport, Component: Throttler

#13220 VReplication: More intelligently manage vschema table entries on unsharded targets
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication, Backport to: release-17.0

#13156 Incremental backup and point in time recovery for XtraBackup
  .github/workflows/cluster_endtoend_backup_pitr.yml
  .github/workflows/cluster_endtoend_backup_pitr_mysql57.yml
  go/test/endtoend/backup/pitr/backup_mysqlctld_pitr_test.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/binlogs_gtid.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/wrangler/testlib/backup_test.go
  test/ci_workflow_gen.go
Labels: Type: Enhancement, Component: Backup and Restore, Backport to: release-17.0

#13197 Augmenting the `GetSchema` RPC to also work for `Table` and `All` type of input
  go/mysql/schema.go
  go/test/endtoend/vreplication/sidecardb_test.go
  go/vt/sidecardb/schema/schemaengine/schema_engine_tables.sql
  go/vt/sidecardb/schema/schemaengine/tables.sql
  go/vt/sidecardb/schema/schemaengine/views.sql
  go/vt/sidecardb/sidecardb.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/endtoend/views_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/schema/db.go
  go/vt/vttablet/tabletserver/schema/db_test.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-17.0

#13219 fix: GetField to use existing session for query
  go/test/endtoend/vtgate/transaction/single/main_test.go
  go/test/endtoend/vtgate/transaction/single/schema.sql
  go/test/endtoend/vtgate/transaction/single/vschema.json
  go/vt/vtgate/engine/route.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0

#13226 [15.0] Fix: errant GTID in health streamer (#13184)
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/state_manager.go
Labels: Type: Bug, Component: Query Serving

#13227 [14.0] Fix: errant GTID in health streamer (#13184)
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/state_manager.go
Labels: Type: Bug, Component: Query Serving

#13211 Release of v17.0.0-rc1
  .github/workflows/code_freeze.yml
  changelog/14.0/README.md
  changelog/15.0/README.md
  changelog/17.0/17.0.0/changelog.md
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13261 Remove `out.txt` and add `release-17.0` to go upgrade automation
  .github/workflows/update_golang_version.yml
  out.txt
Labels: Type: Internal Cleanup, Component: General, Backport to: release-16.0, Backport to: release-17.0

#13259 Add flag to VTOrc to enable/disable its ability to run ERS
  changelog/18.0/18.0.0/summary.md
  changelog/18.0/README.md
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
Labels: Type: Enhancement, Component: VTorc

#13252 Fix new vtctl upgrade downgrade test on `release-16.0`
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/vtctlclient_process.go
  go/test/endtoend/reparent/utils/utils.go
Labels: Type: Bug, Type: Testing, Component: vtctl

#13228 Fix and Make aggregation planner handle aggregation functions better
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
  go/vt/vtgate/endtoend/last_insert_id_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/schema.sql
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vttest/local_cluster.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, Backport to: release-17.0

#13271 [release-15.0] Update Upgrade/Downgrade tests to use `go1.20.5`
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: Internal Cleanup, Type: Testing, Component: General, go

#13273 Set the number of threads for release notes generation with a flag
  Makefile
  doc/internal/ReleaseInstructions.md
  go/tools/release-notes/release_notes.go
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#12873 Miscellaneous code modifications based on observations made while doing a code walkthrough
  go/mysql/mysql56_gtid_set_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vtgate/schematracker/loadkeyspace/schema_load_keyspace_test.go
  go/test/endtoend/vtgate/schematracker/unauthorized/unauthorized_test.go
  go/vt/mysqlctl/binlogs_gtid_test.go
  go/vt/mysqlctl/compression.go
  go/vt/schemadiff/table.go
  go/vt/servenv/buildinfo_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/wrangler/testlib/apply_schema_flaky_test.go
  test.go
  tools/rowlog/rowlog.go
Labels: Type: Enhancement, Component: General, Backport to: release-17.0

#13255 VReplication: Fix VDiff2 DeleteByUUID Query
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
Labels: Type: Bug, Component: VReplication, Backport to: release-16.0, Backport to: release-17.0

#13287 increase length of reparent_journal columns
  go/vt/sidecardb/schema/misc/reparent_journal.sql
Labels: Type: Enhancement, Component: Cluster management, Backport to: release-16.0, Backport to: release-17.0

#13277 [17.0] Fix and Make aggregation planner handle aggregation functions better and handle Distinct in operator
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/test/endtoend/vtgate/queries/foundrows/found_rows_test.go
  go/vt/vtgate/endtoend/last_insert_id_test.go
  go/vt/vtgate/endtoend/main_test.go
  go/vt/vtgate/endtoend/schema.sql
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vttest/local_cluster.go
Labels: Type: Bug, Component: Query Serving, Backport

#13274 evalengine: implement date/time math
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/mysql/datetime/interval.go
  go/mysql/datetime/mydate.go
  go/mysql/datetime/mydate_test.go
  go/mysql/datetime/testdata/daynr_to_date.json
  go/mysql/datetime/testdata/year_to_daynr.json
  go/mysql/datetime/timeparts.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/integration/fuzz_test.go
  go/vt/vtgate/evalengine/integration/testdata/mysql_golden_1686149004.json
  go/vt/vtgate/evalengine/mysql_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#13296 Code freeze of release-17.0 for rc2
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, Release Blocker

#13167 [release-15.0] Remove indentation limit in the sqlparser (#13158)
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
Labels: Type: Bug, Component: Query Serving, Backport

#13166 [release-16.0] Remove indentation limit in the sqlparser (#13158)
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/token.go
Labels: Type: Bug, Component: Query Serving, Backport

#13299 k8stopo: Include deprecation warning
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
  go/vt/topo/server.go
Labels: Type: Internal Cleanup, Component: TabletManager, Backport to: release-17.0

#13304 [release-17.0] Deprecate VTGR (#13301)
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
  go/cmd/vtgr/main.go
  go/flags/endtoend/vtgr.txt
Labels: Type: Internal Cleanup, Component: Cluster management, Backport, Component: General

#13294 Operator planner refactor
  go/test/endtoend/vtgate/queries/aggregation/fuzz_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/correlated_subquery.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/derived.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/ops/op.go
  go/vt/vtgate/planbuilder/operators/ops/to_json.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Type: Internal Cleanup, Component: Query Serving

#12951 vindexes: return unknown params
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/plan_description_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/from.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/vindexes/binary.go
  go/vt/vtgate/vindexes/binary_test.go
  go/vt/vtgate/vindexes/binarymd5.go
  go/vt/vtgate/vindexes/binarymd5_test.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/cfc.go
  go/vt/vtgate/vindexes/cfc_test.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/consistent_lookup_test.go
  go/vt/vtgate/vindexes/hash.go
  go/vt/vtgate/vindexes/hash_test.go
  go/vt/vtgate/vindexes/lookup.go
  go/vt/vtgate/vindexes/lookup_hash.go
  go/vt/vtgate/vindexes/lookup_hash_test.go
  go/vt/vtgate/vindexes/lookup_hash_unique_test.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtgate/vindexes/lookup_test.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash.go
  go/vt/vtgate/vindexes/lookup_unicodeloosemd5_hash_test.go
  go/vt/vtgate/vindexes/lookup_unique_test.go
  go/vt/vtgate/vindexes/main_test.go
  go/vt/vtgate/vindexes/multicol.go
  go/vt/vtgate/vindexes/multicol_test.go
  go/vt/vtgate/vindexes/null.go
  go/vt/vtgate/vindexes/null_test.go
  go/vt/vtgate/vindexes/numeric.go
  go/vt/vtgate/vindexes/numeric_static_map.go
  go/vt/vtgate/vindexes/numeric_static_map_test.go
  go/vt/vtgate/vindexes/numeric_test.go
  go/vt/vtgate/vindexes/region_experimental.go
  go/vt/vtgate/vindexes/region_experimental_test.go
  go/vt/vtgate/vindexes/region_json.go
  go/vt/vtgate/vindexes/reverse_bits.go
  go/vt/vtgate/vindexes/reverse_bits_test.go
  go/vt/vtgate/vindexes/unicodeloosemd5.go
  go/vt/vtgate/vindexes/unicodeloosemd5_test.go
  go/vt/vtgate/vindexes/unicodeloosexxhash.go
  go/vt/vtgate/vindexes/unicodeloosexxhash_test.go
  go/vt/vtgate/vindexes/vindex.go
  go/vt/vtgate/vindexes/vindex_test.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vindexes/xxhash.go
  go/vt/vtgate/vindexes/xxhash_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Enhancement, Component: Query Serving

#13305 Release of v17.0.0-rc2
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.0/changelog.md
  changelog/17.0/17.0.0/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13306 Update release notes for 17.0.0-rc2
  changelog/17.0/17.0.0/changelog.md
  changelog/17.0/17.0.0/release_notes.md
Labels: Forwardport, Component: General, Type: Release

#13309 Refactor and add a comment to schema initialisation code
  go/vt/sidecardb/sidecardb.go
Labels: Type: Internal Cleanup, Component: Query Serving

#13312 mysqlctl: Correctly encode database and table names
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/schema_test.go
Labels: Type: Bug, Component: TabletManager, Backport to: release-16.0, Backport to: release-17.0

#13308 vtgr: Remove deprecated vtgr
  changelog/18.0/18.0.0/summary.md
  go.mod
  go.sum
  go/cmd/vtgr/main.go
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtgr.txt
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtgr_process.go
  go/test/endtoend/vtgr/my.cnf
  go/test/endtoend/vtgr/test_config.json
  go/test/endtoend/vtgr/vtgr_test.go
  go/vt/dbconfigs/credentials.go
  go/vt/grpcclient/client.go
  go/vt/servenv/servenv.go
  go/vt/topo/server.go
  go/vt/vtgr/config/vtgr_config.go
  go/vt/vtgr/config/vtgr_config.json
  go/vt/vtgr/config/vtgr_config_test.go
  go/vt/vtgr/controller/controller.go
  go/vt/vtgr/controller/diagnose.go
  go/vt/vtgr/controller/diagnose_test.go
  go/vt/vtgr/controller/error.go
  go/vt/vtgr/controller/group.go
  go/vt/vtgr/controller/group_test.go
  go/vt/vtgr/controller/mock_refresh.go
  go/vt/vtgr/controller/refresh.go
  go/vt/vtgr/controller/refresh_test.go
  go/vt/vtgr/controller/repair.go
  go/vt/vtgr/controller/repair_test.go
  go/vt/vtgr/db/db.go
  go/vt/vtgr/db/generate_base.go
  go/vt/vtgr/db/generate_patches.go
  go/vt/vtgr/db/mock_mysql.go
  go/vt/vtgr/db/mysql.go
  go/vt/vtgr/db/tls.go
  go/vt/vtgr/inst/instance_key.go
  go/vt/vtgr/inst/instance_key_test.go
  go/vt/vtgr/log/log.go
  go/vt/vtgr/log/log_test.go
  go/vt/vtgr/plugin_consultopo.go
  go/vt/vtgr/plugin_etcd2topo.go
  go/vt/vtgr/plugin_grpctmclient.go
  go/vt/vtgr/plugin_zk2topo.go
  go/vt/vtgr/ssl/ssl.go
  go/vt/vtgr/ssl/ssl_test.go
  go/vt/vtgr/vtgr.go
  go/vt/vtgr/vtgr_test.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tmclient/rpc_client_api.go
Labels: Type: Internal Cleanup, Component: TabletManager

#13289 vtgate planner: HAVING in the new operator horizon planner
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#13281 Add metric for showing the errant GTIDs in VTOrc
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Enhancement, Component: VTorc

#13288 [VTAdmin] Upgrade to use node 18.16.0
  .github/workflows/check_make_vtadmin_web_proto.yml
  .github/workflows/vtadmin_web_build.yml
  .github/workflows/vtadmin_web_lint.yml
  .github/workflows/vtadmin_web_unit_tests.yml
  changelog/18.0/18.0.0/summary.md
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/README.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Internal Cleanup, Component: VTAdmin

#13326 Support complex aggregation in Gen4's Operators
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#13330 Bug fix: SQL queries erroring with message `unknown aggregation random`
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/engine/scalar_aggregation.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13178 mysqlctl: Use DBA connection for schema operations
  go/vt/mysqlctl/schema.go
Labels: Type: Internal Cleanup, Component: TabletManager

#13115 txthrottler: verify config at vttablet startup, consolidate funcs
  go/flags/endtoend/vttablet.txt
  go/flagutil/flagutil.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: Throttler

#13319 Use sqlparser for all dynamic query building in VDiff2
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Labels: Type: Internal Cleanup, Component: VReplication

#13343 Flakes: Remove CI endtoend test for VReplication Copy Phase Throttling
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
  test/config.json
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport to: release-17.0

#13332 bugfixes: collection of fixes to bugs found while fuzzing
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13045 Vttablet schema tracking: Fix _vt.schema_version corruption
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_flaky_test.go
Labels: Type: Bug, Component: VReplication, Component: Schema Tracker

#13348 bug: don't always wrap aggregation in coalesce
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13243 VTOrc: Update the primary key for all the tables from `hostname, port` to `alias`
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/topotools/tablet.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/discovery/aggregated.go
  go/vt/vtorc/discovery/metric.go
  go/vt/vtorc/discovery/metric_json.go
  go/vt/vtorc/discovery/queue.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/audit.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/audit_dao_test.go
  go/vt/vtorc/inst/candidate_database_instance.go
  go/vt/vtorc/inst/candidate_database_instance_dao.go
  go/vt/vtorc/inst/downtime.go
  go/vt/vtorc/inst/downtime_dao.go
  go/vt/vtorc/inst/durability.go
  go/vt/vtorc/inst/instance.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/inst/instance_key.go
  go/vt/vtorc/inst/instance_key_map.go
  go/vt/vtorc/inst/instance_key_map_test.go
  go/vt/vtorc/inst/instance_key_test.go
  go/vt/vtorc/inst/instance_test.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/inst/keyspace_dao_test.go
  go/vt/vtorc/inst/maintenance.go
  go/vt/vtorc/inst/maintenance_dao.go
  go/vt/vtorc/inst/resolve.go
  go/vt/vtorc/inst/resolve_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/inst/tablet_dao_test.go
  go/vt/vtorc/inst/tag.go
  go/vt/vtorc/inst/tag_dao.go
  go/vt/vtorc/inst/tag_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/logic/vtorc_test.go
  go/vt/vtorc/server/discovery.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Bug, Type: Internal Cleanup, Component: VTorc

#13338 mysqlctl: Move more to use built in MySQL client
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/schema.go
Labels: Type: Internal Cleanup, Component: TabletManager

#13275 Skip `--config-file-not-found-handling` in upgrade downgrade tests when `vttablet < 17.x.x`
  examples/common/env.sh
Labels: Type: Bug, Type: Testing, Component: CLI

#13333 Handle inconsistent state error in query buffering
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Component: Query Serving, Type: Regression, Backport to: release-17.0

#13350 update link for reparenting guide
  go/cmd/vtctldclient/command/reparents.go
Labels: Type: Bug, Type: Documentation, Component: Documentation, Backport to: release-16.0, Backport to: release-17.0

#13339 Add RestorePosition and RestoredBackupTime as metrics to vttablet
  changelog/16.0/16.0.0/release_notes.md
  changelog/17.0/17.0.0/release_notes.md
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Component: Backup and Restore, Type: Regression, Backport to: release-16.0, Backport to: release-17.0

#13355 Improve lock action string
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#13190 Improve VTOrc failure detection to be able to better handle dead primary failures
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
Labels: Type: Enhancement, Component: VTorc

#13331 Add group_concat aggregation support
  go/sqltypes/testing.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Feature Request, Component: Query Serving

#13363 Prepare and clean summary docs for `v17.0.0`
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
Labels: Type: Enhancement, Component: Documentation, Type: Release

#13337 governance doc clean up
  GOVERNANCE.md
Labels: Type: Documentation, Component: Governance

#13364 Cherry-pick all pending PRs into `release-17.0`
  Makefile
  changelog/16.0/16.0.0/release_notes.md
  changelog/17.0/17.0.0/release_notes.md
  doc/internal/ReleaseInstructions.md
  go/cmd/vtctldclient/command/reparents.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/tools/release-notes/release_notes.go
  go/vt/mysqlctl/schema.go
  go/vt/mysqlctl/schema_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vttablet/tabletmanager/restore.go
Labels: Type: Internal Cleanup, Backport, Component: General

#13373 Local example 101: idempotent on existing clusters
  examples/common/lib/utils.sh
  examples/local/101_initial_cluster.sh
  test/local_example.sh
Labels: Type: Bug, Component: Examples, Backport to: release-17.0

#13369 Release of v17.0.0
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.0/changelog.md
  changelog/17.0/17.0.0/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/tools/release-notes/release_notes.go
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13377 Prevent resetting replication every time we set replication source
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13379 Add timestamp to vtorc debug page
  go/vt/vtorc/logic/topology_recovery_status.go
Labels: Type: Enhancement, Component: VTorc

#13370 Forward port of release notes changes from v17.0.0 GA
  changelog/17.0/17.0.0/changelog.md
  changelog/17.0/17.0.0/release_notes.md
Labels: Forwardport, Component: General, Type: Release

#13386 Back to dev mode after v17.0.0
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#13342 Adds support for ANY_VALUE
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/planbuilder/aggregation_pushing.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/project.go
  go/vt/vtgate/planbuilder/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/semantics/typer.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/vdiff.go
Labels: Type: Enhancement, Component: Query Serving

#13385 Fix incorrect output in release scripts
  tools/back_to_dev_mode.sh
  tools/create_release.sh
Labels: Type: Bug, Component: Build/CI, Type: Release

#13316 [release-16.0] Set the number of threads for release notes generation with a flag
  Makefile
  doc/internal/ReleaseInstructions.md
  go/tools/release-notes/release_notes.go
Labels: Type: Enhancement, Component: Build/CI

#13394 Support views in BaseShowTablesWithSizes for MySQL 8.0
  go/mysql/flavor_mysql.go
  go/vt/vttablet/endtoend/misc_test.go
Labels: Type: Bug, Type: Performance, Component: TabletManager

#13393 [release-15.0] Prevent resetting replication every time we set replication source (#13377)
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#13392 [release-16.0] Prevent resetting replication every time we set replication source (#13377)
  go/vt/mysqlctl/fakemysqldaemon/fakemysqldaemon.go
  go/vt/mysqlctl/replication.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/copy_schema_shard_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/external_reparent_test.go
  go/vt/wrangler/testlib/permissions_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/testlib/version_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#13065 `vttestserver`: persist vschema changes in `--persistent_mode`
  go/cmd/vtcombo/main.go
  go/cmd/vtcombo/vschema_watcher.go
  go/cmd/vttestserver/main.go
  go/cmd/vttestserver/vttestserver_test.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: VTCombo

#13403 [release-15.0] Don't run any reparent commands if the host is empty (#13396)
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/fake_tablet.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#13402 [release-16.0] Don't run any reparent commands if the host is empty (#13396)
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/fake_tablet.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Bug, Component: Cluster management, Backport

#13398 Optimize release notes generation to use GitHub Milestones
  go/tools/release-notes/release_notes.go
  go/tools/release-notes/release_notes_test.go
Labels: Type: Enhancement, Component: Build/CI, Type: Release

#13405 Deflake `TestQueryTimeoutWithDual` test
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-16.0, Backport to: release-17.0

#13378 Aggregation engine refactor
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/opcode/constants_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/horizon_planning.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/semantics/typer.go
Labels: Type: Enhancement, Component: Query Serving

#13260 Adding random query generation for endtoend testing of the Gen4 planner
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/vtgate/queries/aggregation/fuzz_test.go
  go/test/endtoend/vtgate/queries/random/main_test.go
  go/test/endtoend/vtgate/queries/random/query_gen.go
  go/test/endtoend/vtgate/queries/random/random_expr_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/test/endtoend/vtgate/queries/random/schema.sql
  go/test/endtoend/vtgate/queries/random/vschema.json
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/precedence_test.go
  go/vt/sqlparser/random_expr.go
  go/vt/sqlparser/rewriter_test.go
  go/vt/sqlparser/walker_test.go
  test/config.json
Labels: Type: Bug, Component: Query Serving

#13408 TestFix: `Upgrade Downgrade Testing - Backups - Manual`
  examples/common/scripts/vttablet-up.sh
Labels: Type: Testing, Component: General

#13401 Add end-of-life documentation + re-organize internal documentation
  doc/internal/README.md
  doc/internal/release/.images/post-release-01.png
  doc/internal/release/.images/release-01.png
  doc/internal/release/.images/release-02.png
  doc/internal/release/.images/release-03.png
  doc/internal/release/.images/release-04.png
  doc/internal/release/README.md
  doc/internal/release/docker-images.md
  doc/internal/release/eol-process.md
  doc/internal/release/java-packages.md
  doc/internal/release/release-branches.md
  doc/internal/release/release-cutover.md
  doc/internal/release/release-tags.md
  doc/internal/release/versioning.md
Labels: Type: Documentation, Component: Documentation, Type: Release

#13322 vtctl,vindexes: logs warnings and export stat for unknown vindex params
  changelog/18.0/18.0.0/summary.md
  go/vt/topo/vschema.go
  go/vt/vtctl/testdata/unknown-params-logged-dry-run-vschema.json
  go/vt/vtctl/testdata/unknown-params-logged-vschema.json
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/vindexes/binarymd5.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_stats.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: vtctl

#13262 Improve time taken to run the examples by optimizing `vtadmin` build
  .github/workflows/create_release.yml
  Makefile
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
Labels: Component: VTAdmin, Type: CI/Build

#13421 Ignore error while reading table data in Schema.Engine reload
  go/event/syslogger/fake_logger.go
  go/event/syslogger/syslogger_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Schema Tracker, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0

#13354 vtorc: Cleanup more unused code
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtorc/collection/collection.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/audit.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/audit_dao_test.go
  go/vt/vtorc/inst/instance.go
  go/vt/vtorc/inst/instance_binlog.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_test.go
  go/vt/vtorc/inst/instance_utils.go
  go/vt/vtorc/inst/oracle_gtid_set.go
  go/vt/vtorc/inst/postponed_functions.go
  go/vt/vtorc/inst/process.go
  go/vt/vtorc/inst/replication_thread_state.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/util/math.go
Labels: Type: Internal Cleanup, Component: VTorc

#13376 v15 backport: vitess Online DDL atomic cut-over
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Backport, Component: Online DDL
