Repository vitessio/vitess, pull requests merged in 2023-11, with the labels that each got.

#14411 tooling: don't add bots to authors list
  go/tools/release-notes/release_notes.go
Labels: Component: General, Type: Release

#14416 sqlparser: Use KEY instead of INDEX for normalized form
  go/vt/schema/online_ddl_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14413 VDiff tablet selection: pick non-serving tablets in Reshard workflows
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/wrangler/vdiff.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14412 tx throttler: remove unused topology watchers
  changelog/19.0/19.0.0/summary.md
  go/vt/discovery/replicationlag.go
  go/vt/discovery/topology_watcher.go
  go/vt/vttablet/tabletserver/txthrottler/mock_topology_watcher_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14369 Add support for more queries
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14421 vtgate: Allow more errors for the warning check
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Labels: Component: Query Serving, Type: Testing, Flakes, Backport to: release-17.0, Backport to: release-18.0

#14339 Add cycle detection for foreign keys
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/semantics.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Enhancement, Component: Query Serving

#14420 TestStreamMigrateMainflow: fix panic in test
  go/vt/wrangler/fake_tablet_test.go
Labels: Component: VReplication, Type: Testing

#14426 Make column resolution closer to MySQL
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14435 vtgate/engine: Fix race condition in join logic
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/scalar_aggregation.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-15.0, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14444 tx_throttler: remove topo watchers metric
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14445 tx_throttler: delete topo watcher metric instead of deprecating
  changelog/19.0/19.0.0/summary.md
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14453 viper: register dynamic config with both disk and live
  go/viperutil/internal/sync/sync.go
  go/viperutil/internal/sync/sync_test.go
Labels: Type: Bug, Component: Query Serving, Component: General, Backport to: release-17.0, Backport to: release-18.0

#14436 Bug fix: Use target tablet from health stats cache when checking replication status
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/vt/vtgate/executor.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0

#14457 servenv: Remove double close() logic
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtaclcheck/cli/vtactlcheck.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtbench/cli/vtbench.go
  go/cmd/vtctld/cli/cli.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vttablet/cli/cli.go
  go/vt/servenv/run.go
Labels: Type: Bug, Component: CLI, Backport to: release-18.0

#14425 [release-18.0] TestStreamMigrateMainflow: fix panic in test
  go/vt/wrangler/fake_tablet_test.go
Labels: Type: Bug, Component: VReplication, Type: Testing, Backport

#14461 vtgate: Allow additional errors in warnings test
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
Labels: Component: Query Serving, Type: Testing, Flakes, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14442 VDiff: "show all" should only report vdiffs for the specified keyspace and workflow
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  test/config.json
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14447 VReplication: Handle multiple streams in UpdateVReplicationWorkflow RPC
  go/test/endtoend/vreplication/vreplication_test.go
  go/textutil/strings.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14467 vtctldclient: Apply tablet type filtering for keyspace+shard in GetTablets
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Backport to: release-18.0, Component: vtctldclient

#14406 Release of v18.0.0
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.0/changelog.md
  changelog/18.0/18.0.0/release_notes.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14474 move release notes of 18 to main
  changelog/18.0/18.0.0/changelog.md
  changelog/18.0/18.0.0/release_notes.md
  changelog/18.0/18.0.0/summary.md
Labels: Component: General, Type: Release

#14475 Back to dev mode after v18.0.0
  docker/release.sh
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14451 Ensure hexval and int don't share BindVar after Normalization
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
Labels: Type: Bug, Component: Query Serving, Benchmark me, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14473 evalengine: fix numeric coercibility
  go/sqltypes/type.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/typer.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Evalengine

#14402 Tiny Weights
  go/hack/runtime.go
  go/mysql/collations/colldata/8bit.go
  go/mysql/collations/colldata/collation.go
  go/mysql/collations/colldata/uca.go
  go/mysql/collations/colldata/uca_test.go
  go/mysql/fastparse/fastparse.go
  go/sqltypes/bind_variables.go
  go/sqltypes/parse_rows.go
  go/sqltypes/result.go
  go/sqltypes/testing.go
  go/sqltypes/value.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/comparer.go
  go/vt/vtgate/engine/comparer_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/merge_sort.go
  go/vt/vtgate/engine/merge_sort_test.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/wrangler/vdiff.go
Labels: Type: Performance, Benchmark me, Component: Evalengine

#14482 mysql/conn: do not allocate during writes
  go/mysql/conn.go
Labels: Component: Query Serving, Type: Performance, Benchmark me

#14469 examples: fix flag syntax for zkctl
  .github/workflows/local_example.yml
  examples/common/scripts/zk-down.sh
  examples/common/scripts/zk-up.sh
Labels: Type: Bug, Component: Examples, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14419 Add support for AVG on sharded queries
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14499 Refactor: use NonEmpty() instead of !IsEmpty()
  go/cmd/vtctldclient/command/vreplication/materialize/create.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/utils.go
  go/vt/topotools/vschema_ddl.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/call_proc.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/table_set.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/vdiff.go
Labels: Type: Internal Cleanup, Component: General

#14278 Foreign key on update action with non literal values
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/utils_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vtgate/engine/fk_verify.go
  go/vt/vtgate/engine/fk_verify_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/semantic_state_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
Labels: Type: Feature Request, Component: Query Serving

#14501 planbuilder bugfix: expose columns through derived tables
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0

#14507 Fix Upgrade downgrade reparent tests in release-17.0
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
Labels: Component: Cluster management, Type: Testing

#14410 Release of v16.0.6
  .github/workflows/code_freeze.yml
  changelog/16.0/16.0.6/changelog.md
  changelog/16.0/16.0.6/release_notes.md
  changelog/16.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14408 Release of v17.0.4
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.4/changelog.md
  changelog/17.0/17.0.4/release_notes.md
  changelog/17.0/README.md
  docker/release.sh
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14508 move over 16.0.6 and 17.0.4 release notes to main
  changelog/16.0/16.0.6/changelog.md
  changelog/16.0/16.0.6/release_notes.md
  changelog/16.0/README.md
  changelog/17.0/17.0.4/changelog.md
  changelog/17.0/17.0.4/release_notes.md
  changelog/17.0/README.md
Labels: Component: General, Type: Release

#14505 Add `SHOW VSCHEMA KEYSPACES` query
  changelog/19.0/19.0.0/summary.md
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/schematracker/restarttablet/schema_restart_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14509 Back to dev mode after v16.0.6
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14510 Back to dev mode after v17.0.4
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14492 Update create_release.sh
  tools/create_release.sh
Labels: Type: Bug, Component: Build/CI, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14518 release notes: add FK import to summary
  changelog/18.0/18.0.0/summary.md
Labels: Type: Documentation, Component: Documentation, Backport to: release-18.0

#14511 [release-18.0] Build and push Docker Images from GitHub Actions
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/release/how-to-release.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Labels: Type: CI/Build, Backport, Component: Docker

#14512 [release-17.0] Build and push Docker Images from GitHub Actions
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/ReleaseInstructions.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Labels: Type: CI/Build, Backport, Component: Docker

#14513 [release-16.0] Build and push Docker Images from GitHub Actions
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/internal/ReleaseInstructions.md
  docker/release.sh
  tools/back_to_dev_mode.sh
  tools/create_release.sh
  tools/release_utils.sh
Labels: Type: CI/Build, Backport, Component: Docker

#14494 Support `fast_analyze_table` variable, introduced in public MySQL fork
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Enhancement, Component: Online DDL

#14517 Online DDL: edit CONSTRAINT names in CREATE TABLE
  go/mysql/flavor.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Type: Enhancement, Component: Online DDL

#14522 Online DDL: fix endtoend test dropping foreign key
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Labels: Type: CI/Build, Component: Online DDL

#14525 MysqlCtl: implement missing `ReadBinlogFilesTimestamps` function
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Labels: Type: Bug, Component: Backup and Restore

#14396 `Replace into` statement plan with foreign keys : unsharded
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/schema.sql
  go/test/endtoend/vtgate/foreignkey/sharded_schema.sql
  go/test/endtoend/vtgate/foreignkey/unsharded_schema.sql
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/sequential.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/sequential.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/vindexes/foreign_keys.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  proto/vschema.proto
  web/vtadmin/src/proto/vtadmin.d.ts
Labels: Type: Feature Request, Component: Query Serving

#14526 [release 18.0]: `ReadBinlogFilesTimestamps` backwards compatibility
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
Labels: Type: Bug, Component: Backup and Restore

#14476 Reduce wait time in test helpers
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Labels: Type: Testing, Component: General

#14297 VReplication: VTTablet flag cleanup
  changelog/19.0/19.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vttablet/tabletmanager/vreplication/flags.go
  go/vt/wrangler/traffic_switcher.go
  vitess-mixin/e2e/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: VReplication

#14415 Fix #14414: resilient_server metrics name/prefix logic is inverted, leading to no metrics being recorded
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Labels: Type: Bug, Component: Observability, Backport to: release-18.0

#14521 Add HealthCheck's `healthy` map to the VTGate UI
  go/cmd/vtcombo/cli/status.go
  go/cmd/vtgate/cli/status.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
Labels: Type: Enhancement, Component: Cluster management

#14520 Fix missing query serving error code
  go/vt/vterrors/code.go
Labels: Type: Bug, Component: Query Serving, go

#14524 Fix type coercion in cascading non-literal updates
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Labels: Type: Bug, Component: Query Serving

#14448 Use hash joins when nested loop joins are not feasible
  go/sqltypes/type.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/derived/schema.sql
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/random/simplifier_test.go
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/hash_join_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/join_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/semi_join_test.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/engine/uncorrelated_subquery_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/collation.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/hash_join_test.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/rewrite/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/operators/utils_test.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/hash_joins.txt
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vttablet/tabletserver/rules/rules.go
Labels: Type: Enhancement, Component: Query Serving

#14315 Support cluster bootstrapping in vtctldclient
  examples/common/scripts/consul-up.sh
  examples/common/scripts/etcd-up.sh
  examples/common/scripts/zk-up.sh
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtctldclient/command/root_test.go
  go/flags/endtoend/vtctldclient.txt
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_atomic.go
Labels: Type: Enhancement, Component: vtctldclient

#14539 Replace usages of bytes.Buffer with strings.Builder
  go/bytes2/buffer.go
  go/mysql/collations/integration/collations_test.go
  go/mysql/sqlerror/sql_error.go
  go/sqltypes/bind_variables.go
  go/sqltypes/testing.go
  go/sqltypes/value_test.go
  go/stats/opentsdb/collector.go
  go/tools/release-notes/release_notes.go
  go/vt/binlog/binlog_streamer.go
  go/vt/hook/hook.go
  go/vt/key/destination.go
  go/vt/logutil/logger.go
  go/vt/mysqlctl/mycnf_gen.go
  go/vt/mysqlctl/mysqld.go
  go/vt/schemadiff/schema.go
  go/vt/servenv/status.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_next_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/throttler/result.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/lookup_internal.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vttablet/sysloglogger/sysloglogger.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
  go/vt/vttest/local_cluster.go
  go/vt/wrangler/schema.go
  go/vt/zkctl/zkconf.go
Labels: Type: Internal Cleanup, Type: Performance, Component: General

#14549 [release-18.0] Code Freeze for `v18.0.1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#14532 Enable `Replace Into` engine and Fix Foreign key locking issue
  go/mysql/sqlerror/constants.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/sequential.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_off_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Feature Request, Component: Query Serving

#14553 mysqlctl: Cleanup stale socket lockfile
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Labels: Type: Bug, Component: TabletManager

#14554 Remove excessive VTGate logging of default planner selection
  go/vt/vtgate/planbuilder/builder.go
Labels: Type: Internal Cleanup, Component: Query Serving, go, Backport to: release-18.0

#14556 Fix nullability checks in evalengine
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_bit.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/expr_tuple.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_bit.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_json.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-17.0, Backport to: release-18.0

#14417 fix: mismatch in column count and value count
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Labels: Type: Bug, Component: Query Serving

#14560 expression rewriting: enable more rewrites and limit CNF rewrites
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14550 Release of v18.0.1
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.1/changelog.md
  changelog/18.0/18.0.1/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14583 planbuilder: push down ordering through filter
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-18.0

#14579 v18.0.1 release notes to main
  changelog/18.0/18.0.1/changelog.md
  changelog/18.0/18.0.1/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#14580 Back to dev mode after v18.0.1
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14585 bug fix: stop all kinds of expressions from cnf-exploding
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Labels: Type: Bug, Component: Query Serving, Benchmark me

#14586 fix concurrency on stream execute engine primitives
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/filter.go
  go/vt/vtgate/engine/filter_test.go
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/limit_test.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/memory_sort_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#14593 [18.0] bug fix: stop all kinds of expressions from cnf-exploding
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#14595 [16.0] bug fix: stop all kinds of expressions from cnf-exploding
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#14594 [17.0] bug fix: stop all kinds of expressions from cnf-exploding
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#14578 Snapshot connection: revert to explicit table locks when `FTWRL` is unavailable
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
Labels: Type: Enhancement, Component: VReplication

#14600 mysqlctl: Fix cleaning up the stale lock file
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Labels: Type: Bug, Component: TabletManager

#14555 Type Cast all update expressions in verify queries
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/update_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving

#14327 VReplication: extended e2e test for workflows with tables containing foreign key constraints
  .github/workflows/cluster_endtoend_vreplication_foreign_key_stress.yml
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_ext_load_generator_test.go
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/partial_movetables_seq_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/schema/fkext/materialize_schema.sql
  go/test/endtoend/vreplication/schema/fkext/source_schema.sql
  go/test/endtoend/vreplication/schema/fkext/source_vschema.json
  go/test/endtoend/vreplication/schema/fkext/target1_vschema.json
  go/test/endtoend/vreplication/schema/fkext/target2_vschema.json
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/wrangler/traffic_switcher.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Enhancement, Component: VReplication, Type: Testing

#14607 plabuilder: use OR for not in comparisons
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0

#14614 evalengine: Fix the min / max calculation for decimals
  go/vt/vtgate/evalengine/api_aggregation.go
  go/vt/vtgate/evalengine/api_aggregation_test.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-18.0

#14610 evalengine: Handle zero dates correctly
  config/mycnf/test-suite.cnf
  go/mysql/config/config.go
  go/mysql/endtoend/replication_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/vt/sidecardb/sidecardb.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Labels: Type: Bug, Component: Evalengine

#14598 Add summary changes for recent PRs
  changelog/19.0/19.0.0/summary.md
Labels: Type: Documentation, Component: General

#14534 Set minimal tokens for auto_approve_pr
  .github/workflows/auto_approve_pr.yml
Labels: Type: Bug, Component: Build/CI

#14621 vindexes: fix pooled collator buffer memory leak
  go/vt/vtgate/vindexes/unicode.go
Labels: Component: Query Serving, Type: Performance, Backport to: release-16.0, Backport to: release-17.0

#14566 Support unlimited number of ORs in `ExtractINFromOR`
  go/vt/sqlparser/predicate_rewriting.go
  go/vt/sqlparser/predicate_rewriting_test.go
Labels: Type: Enhancement, Component: Query Serving

#14544 remove deprecated flags from the codebase
  go/cmd/vtctldclient/command/schema.go
  go/flags/endtoend/vtbench.txt
  go/flags/endtoend/vtclient.txt
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/vt/vtctl/vtctl.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Component: CLI

#14597 logging: log time taken for tablet initialization only once
  go/vt/vttablet/tabletserver/state_manager.go
Labels: Type: Internal Cleanup, Component: TabletManager

#14619 [release-17.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: Query Serving, Backport

#14620 [release-16.0] Replace use of `WAIT_UNTIL_SQL_THREAD_AFTER_GTIDS` with `WAIT_FOR_EXECUTED_GTID_SET` (#14612)
  go/mysql/flavor_mysql.go
Labels: Type: Bug, Component: Query Serving, Backport

#14565 Make vttablet wait for vt_dba user to be granted privileges
  go/cmd/vttablet/cli/cli.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Cluster management

#14636 Materializer: normalize schema via schemadiff on --atomic-copy
  go/test/endtoend/vreplication/fk_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/wrangler/materializer.go
Labels: Type: Bug, Component: VReplication

#14632 Add log for error to help debug
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: Cluster management

#14606 refactor the INSERT engine primitive
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Labels: Type: Enhancement, Component: Query Serving

#14604 increase vtctlclient backupShard command success rate
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: Backup and Restore, Backport to: release-18.0

#14642 refactor: minor cleanups in planner code
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vtgate/simplifier/simplifier_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#14646 VReplication TableStreamer: Only stream tables in tablestreamer (ignore views)
  go/test/endtoend/vreplication/fk_config_test.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0

#14650 mysqlctl: Error out on stale socket
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Labels: Type: Bug, Component: TabletManager

#14647 Flakes: Shutdown vttablet before mysqld in backup tests
  go/test/endtoend/backup/vtbackup/backup_only_test.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Build/CI, Type: Testing, Flakes
