Repository vitessio/vitess, pull requests merged in 2024-07, with the labels that each got.

#16299 Add a note on `QueryCacheHits` and `QueryCacheMisses` in the release notes
  changelog/20.0/20.0.0/release_notes.md
  changelog/20.0/20.0.0/summary.md
  go/vt/vttablet/tabletserver/query_engine.go
Labels: Type: Internal Cleanup, Component: Observability, Component: Documentation, Backport to: release-20.0

#16307 VDiff: Copy non in_keyrange workflow filters to target tablet query
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0

#16311 [cleanup] Protos: Use UnmarshalPB() when unmarshalling a proto object
  go/cmd/vtctldclient/command/vschemas.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/tabletgateway/buffer/reshard/sharded_buffer_test.go
  go/test/endtoend/tabletmanager/commands_test.go
  go/vt/tableacl/tableacl.go
  go/vt/vtctl/endtoend/get_schema_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Internal Cleanup, Component: General

#16318 Add `vtctldclient` container image
  .github/workflows/docker_build_images.yml
  docker/binaries/vtctldclient/Dockerfile
Labels: Type: Enhancement, Component: Docker, Component: vtctldclient

#16272 A couple changes in Online DDL CI
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL

#16014 Heartbeat writer can always generate on-demand leased heartbeats, even if not at all configured
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/timer/rate_limiter.go
  go/timer/rate_limiter_test.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
  go/vt/vttablet/tabletserver/repltracker/repltracker_test.go
  go/vt/vttablet/tabletserver/repltracker/writer.go
  go/vt/vttablet/tabletserver/repltracker/writer_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Throttler, Component: VTTablet

#16329 CI: Fix for xtrabackup install failures
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.percona57
  docker/utils/install_dependencies.sh
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/dockerfile.tpl
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16239 `schemadiff` small internal refactor: formalizing column charset/collation
  go/vt/schemadiff/column.go
  go/vt/schemadiff/table.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16325 make sure to add weight_string for the right expression
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16278 Prevent Early Ordering Pushdown to Enable Aggregation Pushdown to MySQL
  go/test/endtoend/vtgate/queries/benchmark/benchmark_test.go
  go/test/endtoend/vtgate/queries/benchmark/sharded_schema.sql
  go/test/endtoend/vtgate/queries/benchmark/vschema.json
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16316 Fail on prepare of reserved connection
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/twopcz.go
Labels: Type: Enhancement, Component: Query Serving

#16310 Improve typing during query planning
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Enhancement, Component: Query Serving

#16340 Fix the install dependencies script in Docker
  docker/utils/install_dependencies.sh
Labels: Type: Bug, Component: Docker, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16335 Remove docker_local from Makefile
  Makefile
Labels: Type: Internal Cleanup, Component: Build/CI, Component: Examples

#16341 go/mysql: performance optimizations in protocol encoding
  go/mysql/encoding.go
  go/mysql/encoding_test.go
Labels: Component: Query Serving, Type: Performance

#16336 Cleanup: Health Stream removed db pool usage
  go/vt/vttablet/endtoend/streamtimeout/healthstream_test.go
  go/vt/vttablet/endtoend/streamtimeout/main_test.go
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16339 Remove the `bootstrap` dependency on the Docker images we ship
  .github/workflows/build_docker_images.yml
  .github/workflows/docker_build_vttestserver.yml
  Makefile
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona80
  docker/local/Dockerfile
  docker/local/install_local_dependencies.sh
  docker/local/run.sh
  docker/vttestserver/Dockerfile.mysql80
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Enhancement, Component: Docker

#16334 Add release notes for the new connection drain (+ use dashes instead of underscore)
  changelog/21.0/21.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/test/endtoend/vtgate/connectiondrain/main_test.go
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Internal Cleanup, Component: Documentation

#16312 Remove unused parameters in reparent code and add CheckLockShard calls
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
Labels: Type: Internal Cleanup, Component: Cluster management

#16354 feat: remove ORDER BY from inside derived table
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Enhancement, Component: Query Serving

#16353 planner: Handle ORDER BY inside derived tables
  go/test/endtoend/vtgate/vitess_tester/aggregation/aggregation.test
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16260 VReplication: use new topo named locks and TTL override for workflow coordination
  go/cmd/vtctldclient/command/vreplication/common/switchtraffic.go
  go/cmd/vtctldclient/command/vreplication/common/utils.go
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/test/endtoend/topotest/etcd2/main_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/topo/conn.go
  go/vt/topo/consultopo/lock.go
  go/vt/topo/consultopo/server.go
  go/vt/topo/etcd2topo/election.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/faketopo/faketopo.go
  go/vt/topo/keyspace_lock.go
  go/vt/topo/keyspace_lock_test.go
  go/vt/topo/locks.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/named_lock.go
  go/vt/topo/named_lock_test.go
  go/vt/topo/routing_rules_lock.go
  go/vt/topo/server.go
  go/vt/topo/shard_lock.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/zk2topo/lock.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_interface.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication

#16361 go/mysql: improve GTID encoding for OK packet
  go/mysql/conn.go
  go/mysql/encoding.go
  go/mysql/encoding_test.go
Labels: Type: Internal Cleanup, Type: Performance, Component: Performance

#16348 go/mysql: use clear builtin for zerofill
  go/mysql/encoding.go
Labels: Type: Internal Cleanup, Type: Performance, Component: Performance

#16350 Fix echo command in build docker images workflow
  .github/workflows/build_docker_images.yml
Labels: Type: Bug, Component: Build/CI

#16308 VTAdmin: Show throttled status in workflows
  web/vtadmin/src/components/pips/Pip.module.scss
  web/vtadmin/src/components/pips/Pip.tsx
  web/vtadmin/src/components/pips/StreamStatePip.tsx
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Labels: Type: Feature Request, Component: VReplication, Component: VTAdmin

#16369 Throttler flaky test: explicitly disabling throttler so as to ensure it does not re-enable
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Component: Build/CI, Type: Testing, Component: Throttler

#16094 VTCombo: Ensure VSchema exists when creating keyspace
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/vt/vtcombo/tablet_map.go
Labels: Type: Enhancement, Component: VTCombo

#16357 Fix Downgrade problem from v20 in semi-sync plugin
  .github/workflows/upgrade_downgrade_test_semi_sync.yml
  config/mycnf/mysql8026.cnf
  go/test/endtoend/reparent/semisync/semi_sync_test.go
Labels: Type: Bug, Component: Cluster management

#16338 parse transaction timeout as duration
  go/cmd/vttestserver/cli/main.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Bug, Component: vttestserver

#16301 Online DDL: remove legacy (and ancient) 'REVERT <uuid>' syntax
  go/vt/schema/online_ddl.go
  go/vt/schema/online_ddl_test.go
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vtgate/engine/revert_migration.go
Labels: Type: Internal Cleanup, Component: Online DDL

#16376 SetShardTabletControl: Improve flag help output
  go/cmd/vtctldclient/command/shards.go
Labels: Type: Internal Cleanup, Component: CLI

#16366 fix issue with aggregation inside of derived tables
  go/test/endtoend/vtgate/vitess_tester/aggregation/aggregation.test
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0

#16386 Fix Join Predicate Cleanup Bug in Route Merging
  go/test/endtoend/vtgate/vitess_tester/join/join.test
  go/test/endtoend/vtgate/vitess_tester/join/vschema.json
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16372 Add semi-sync plugin test in main
  .github/workflows/upgrade_downgrade_test_semi_sync.yml
  go/test/endtoend/reparent/semisync/semi_sync_test.go
Labels: Component: Cluster management, Type: Testing

#16383 Fix panic in schema tracker in presence of keyspace routing rules
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Bug, Component: VTGate

#16398 Fix panic in user defined aggregation functions planning
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0

#16402 Fix subquery planning having an aggregation that is used in order by as long as we can merge it all into a single route
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0

#16393 Use default schema reload config values when config file is empty
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-19.0, Backport to: release-20.0

#16304 fixing issue with xtrabackup and long gtids
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/mysqlctl/xtrabackupengine_test.go
Labels: Type: Bug, Component: Backup and Restore

#16368 Throttler code: some refactoring and cleanup
  go/vt/vttablet/tabletserver/throttle/base/inventory.go
  go/vt/vttablet/tabletserver/throttle/base/inventory_test.go
  go/vt/vttablet/tabletserver/throttle/base/probe.go
  go/vt/vttablet/tabletserver/throttle/base/probe_test.go
  go/vt/vttablet/tabletserver/throttle/base/tablet_results.go
  go/vt/vttablet/tabletserver/throttle/base/tablet_results_test.go
  go/vt/vttablet/tabletserver/throttle/base/throttle_metric_cache.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/mysql_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Internal Cleanup, Component: Throttler

#16406 [release-19.0] Fix panic in schema tracker in presence of keyspace routing rules (#16383)
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#16405 [release-20.0] Fix panic in schema tracker in presence of keyspace routing rules (#16383)
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#16424 VReplication: disable use of `session_track_gtids`
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer.go
Labels: Type: Bug, Component: VReplication

#16289 Deprecate vttablet metrics `QueryCacheXX` and rename to `TabletQueryPlanCacheXX`
  changelog/21.0/21.0.0/summary.md
  config/tablet/default.yaml
  doc/design-docs/TabletServerParamsAsYAML.md
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/debugenv.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Labels: Type: Internal Cleanup, Component: Observability, Component: VTTablet

#16248 `txthrottler`: move `ThrottlerInterface` to `go/vt/throttler`, use `slices` pkg, add stats
  go/vt/throttler/demo/throttler_demo.go
  go/vt/throttler/manager.go
  go/vt/throttler/manager_test.go
  go/vt/throttler/max_replication_lag_module.go
  go/vt/throttler/result.go
  go/vt/throttler/result_test.go
  go/vt/throttler/throttler.go
  go/vt/throttler/throttler_test.go
  go/vt/throttler/throttlerlogz.go
  go/vt/throttler/throttlerlogz_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Internal Cleanup, Component: Throttler, Component: VTTablet

#16400 Handle dual queries with LIMIT on the vtgate
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16419 [release-18] Vitess tester workflow (#16127)
  .github/workflows/vitess_tester_vtgate.yml
  go/test/endtoend/vtgate/vitess_tester/tpcc/tpcc.test
  go/test/endtoend/vtgate/vitess_tester/tpch/tpch.test
  test/ci_workflow_gen.go
  test/templates/cluster_vitess_tester.tpl
Labels: Component: Query Serving, Type: Testing, Backport

#16418 [release-19] Vitess tester workflow (#16127)
  .github/workflows/vitess_tester_vtgate.yml
  go/test/endtoend/vtgate/vitess_tester/tpcc/tpcc.test
  go/test/endtoend/vtgate/vitess_tester/tpch/tpch.test
  test/ci_workflow_gen.go
  test/templates/cluster_vitess_tester.tpl
Labels: Component: Query Serving, Type: Testing, Backport

#16399 Support `SHOW VITESS_MIGRATIONS` from inside a transaction
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving, Component: Online DDL

#16426 fix: Use authentication_policy to specify default auth plugin for MySQL 8.4
  config/mycnf/mysql84.cnf
Labels: Type: Bug, Component: Cluster management

#16396 Implement parser support for all select modifiers
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
Labels: Type: Enhancement, Component: Query Serving

#16435 `schemadiff`: optimize permutation evaluation
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: Query Serving, Type: Performance

#16437 Remove JSON annotations
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/semi_join.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16444 [release-18.0] Code Freeze for `v18.0.6`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#16448 [release-19.0] Code Freeze for `v19.0.5`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#16449 [release-20.0] Code Freeze for `v20.0.1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#16446 [release-18.0] Release of `v18.0.6`
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.6/changelog.md
  changelog/18.0/18.0.6/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16450 [release-19.0] Release of `v19.0.5`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.5/changelog.md
  changelog/19.0/19.0.5/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16455 [main] Copy `v19.0.5` release notes
  changelog/19.0/19.0.5/changelog.md
  changelog/19.0/19.0.5/release_notes.md
  changelog/19.0/README.md
Labels: Component: General, Type: Release

#16451 [release-20.0] Release of `v20.0.1`
  .github/workflows/code_freeze.yml
  changelog/20.0/20.0.1/changelog.md
  changelog/20.0/20.0.1/release_notes.md
  changelog/20.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16439 Complex Expression handling for uncorrelated IN and NOT IN subqueries
  go/test/endtoend/vtgate/vitess_tester/subquery/subquery.test
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16454 [release-18.0] Bump to `v18.0.7-SNAPSHOT` after the `v18.0.6` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16456 [release-19.0] Bump to `v19.0.6-SNAPSHOT` after the `v19.0.5` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16459 Skip running vtadmin build for vitess tester workflow
  .github/workflows/vitess_tester_vtgate.yml
  test/templates/cluster_vitess_tester.tpl
Labels: Component: Query Serving, Type: Testing

#16431 Query to read transaction state
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/debug_2pc.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/transaction_status.go
  go/vt/vtgate/engine/transaction_status_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
  go/vt/vtgate/production.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Feature Request, Component: Query Serving

#16467 Small internal cleanups
  go/mysql/collations/env.go
  go/mysql/collations/integration/main_test.go
  go/vt/vtgate/evalengine/api_coerce.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16314 Online DDL: `ALTER VITESS_MIGRATION CLEANUP ALL`
  go/cmd/vtctldclient/command/onlineddl.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Online DDL

#16465 Remove some unused MySQL 5.6 code
  go/mysql/binlog_event.go
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/mysql/flavor_mysqlgr_test.go
  go/mysql/flavor_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16441 mysqlctl: open backup files with fadvise(2) and FADV_SEQUENTIAL
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/builtinbackupengine_linux.go
  go/vt/mysqlctl/builtinbackupengine_stub.go
Labels: Type: Performance, Component: Backup and Restore

#16472 bugfix: don't treat join predicates as filter predicates
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16483 builtinbackup: log during restore as restore, not as backup
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Internal Cleanup, Component: Backup and Restore

#16478 VStream API: validate that last PK has fields defined
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16490 [release-18.0] Fix RegisterNotifier to use a copy of the tables to prevent data races (#14716)
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#16476 Fuzzer testing for 2PC transactions
  go/test/endtoend/transaction/twopc/fuzzer/fuzzer_test.go
  go/test/endtoend/transaction/twopc/fuzzer/main_test.go
  go/test/endtoend/transaction/twopc/fuzzer/schema.sql
  go/test/endtoend/transaction/twopc/fuzzer/vschema.json
  test/config.json
Labels: Component: Query Serving, Type: Testing

#16488 fix: reference table join merge
  go/test/endtoend/vtgate/queries/reference/main_test.go
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/test/endtoend/vtgate/queries/reference/sschema.sql
  go/test/endtoend/vtgate/queries/reference/svschema.json
  go/test/endtoend/vtgate/queries/reference/uschema.sql
  go/test/endtoend/vtgate/queries/reference/uvschema.json
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16494 Improve the queries upgrade/downgrade CI workflow by using same test code version as binary
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/derived/cte_test.go
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
  go/test/endtoend/vtgate/schematracker/unsharded/st_unsharded_test.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16468 Modify distributed transaction commit flow
  go/mysql/sqlerror/constants.go
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/vt/vtgate/debug_2pc.go
  go/vt/vtgate/engine/transaction_status.go
  go/vt/vtgate/production.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Labels: Type: Feature Request, Component: Query Serving

#16503 `shcemadiff`: support `INSTANT` DDL for changing column visibility
  go/mysql/capabilities/capability.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Enhancement, Component: schema management

#16423 clarify collations are also supported for `db_charset`
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/vt/dbconfigs/dbconfigs.go
Labels: Type: Documentation, Component: VTTablet

#16469 Throttler: `SelfMetric` interface, simplify adding new throttler metrics
  go/vt/vttablet/tabletserver/throttle/base/metric_cache.go
  go/vt/vttablet/tabletserver/throttle/base/metric_name.go
  go/vt/vttablet/tabletserver/throttle/base/metric_name_test.go
  go/vt/vttablet/tabletserver/throttle/base/metric_result.go
  go/vt/vttablet/tabletserver/throttle/base/metric_scope.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_custom_query.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_default.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_lag.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_loadavg.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_threads_running.go
  go/vt/vttablet/tabletserver/throttle/base/throttle_metric.go
  go/vt/vttablet/tabletserver/throttle/base/throttle_metric_app.go
  go/vt/vttablet/tabletserver/throttle/base/throttler_metrics_publisher.go
  go/vt/vttablet/tabletserver/throttle/config/mysql_config.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Enhancement, Component: Throttler

#16507 Deprecate `UpdateThrottlerConfig`'s `--check-as-check-self` and `--check-as-check-shard` flags
  go/cmd/vtctldclient/command/throttler.go
Labels: Type: Enhancement, Component: Throttler

#16309 Multi-tenant Movetables: add e2e test for vdiff
  go/test/endtoend/vreplication/multi_tenant_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing

#16504 VTAdmin: Upgrade websockets js package
  web/vtadmin/package-lock.json
Labels: Type: Bug, Component: VTAdmin, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0
