Repository vitessio/vitess, pull requests merged in 2024-09, with the labels that each got.

#16684 schemadiff: reject non-deterministic function in new column's default value
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: schema management

#16692 schemadiff: reject `uuid_short` and `random_bytes` in new column expression
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Enhancement, Component: schema management

#16685 Fix error code received from vttablets on context expiration
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16688 Replace ErrorContains checks with Error checks before running upgrade downgrade
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
Labels: Component: Query Serving, Type: Testing

#16694 CI: rename `TestSchemaChange` to distinguish the tests
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
Labels: Component: Build/CI, Type: CI/Build

#16676 Move tables with atomic transactions
  doc/design-docs/AtomicTransactionsWithDisruptions.md
  go/test/endtoend/cluster/move_tables.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/test/endtoend/transaction/twopc/stress/fuzzer_test.go
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/twopc/stress/stress_test.go
Labels: Component: Query Serving, Type: Testing

#16702 Fix generated proto
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
Labels: Type: Internal Cleanup, Component: General

#16689 Optimize Operator Input Handling
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/cte_merging.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/hash_join_test.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/insert_selection.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/mirror.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/recurse_cte.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Component: Query Serving, Type: Performance

#16701 [release-18.0] Replace ErrorContains checks with Error checks before running upgrade downgrade
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
Labels: Component: Query Serving, Type: Testing, Backport

#16700 [release-19.0] Replace ErrorContains checks with Error checks before running upgrade downgrade
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
Labels: Component: Query Serving, Type: Testing, Backport

#16642 Fix ACL checks for CTEs
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/permission_test.go
Labels: Type: Bug, Component: ACL, Backport to: release-20.0

#16705 Fix upgrade test in release-20 by skipping tests
  go/test/endtoend/vtgate/queries/dml/insert_test.go
Labels: Component: Query Serving, Type: Testing

#16698 `schemadiff`: fix index/foreign-key apply scenario
  go/test/endtoend/onlineddl/vrepl_suite/testdata/swap-uk-uk/alter
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: schema management

#16699 [release-20.0] Replace ErrorContains checks with Error checks before running upgrade downgrade
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
Labels: Component: Query Serving, Type: Testing, Backport

#16712 Reduce flakiness in TwoPC testing
  go/test/endtoend/cluster/move_tables.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/transaction/twopc/stress/fuzzer_test.go
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
Labels: Component: Query Serving, Type: Testing

#16725 FindErrantGTIDs: superset is not an errant GTID situation
  go/mysql/replication/replication_status.go
  go/mysql/replication/replication_status_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Bug, Component: VTorc, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16675 VTAdmin(web): Add workflow start/stop actions
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/workflows/WorkflowAction.tsx
  web/vtadmin/src/components/routes/workflows/WorkflowActions.tsx
  web/vtadmin/src/hooks/api.ts
Labels: Type: Enhancement, Component: VTAdmin, Component: web UI

#16706 VTAdmin(web): Some tweaks in the workflow details
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowDetails.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/util/time.ts
Labels: Type: Enhancement, Component: VTAdmin, Component: web UI

#16670 SidecarDB: Don't ignore table charset and collation
  go/vt/sidecardb/schema/misc/heartbeat.sql
  go/vt/sidecardb/schema/misc/reparent_journal.sql
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/sidecardb/schema/schemaengine/tables.sql
  go/vt/sidecardb/schema/schemaengine/udfs.sql
  go/vt/sidecardb/schema/schemaengine/views.sql
  go/vt/sidecardb/schema/twopc/dt_participant.sql
  go/vt/sidecardb/schema/twopc/dt_state.sql
  go/vt/sidecardb/schema/twopc/redo_state.sql
  go/vt/sidecardb/schema/twopc/redo_statement.sql
  go/vt/sidecardb/schema/vdiff/vdiff.sql
  go/vt/sidecardb/schema/vdiff/vdiff_log.sql
  go/vt/sidecardb/schema/vdiff/vdiff_table.sql
  go/vt/sidecardb/schema/vreplication/copy_state.sql
  go/vt/sidecardb/schema/vreplication/post_copy_action.sql
  go/vt/sidecardb/schema/vreplication/resharding_journal.sql
  go/vt/sidecardb/schema/vreplication/schema_version.sql
  go/vt/sidecardb/schema/vreplication/vreplication.sql
  go/vt/sidecardb/schema/vreplication/vreplication_log.sql
  go/vt/sidecardb/sidecardb.go
  go/vt/sidecardb/sidecardb_test.go
Labels: Type: Enhancement, Component: schema management

#16730 CI: Use valid tag for the ossf-scorecard action
  .github/workflows/scorecards.yml
Labels: Component: Build/CI, Type: CI/Build

#16722 [release-18.0] Bump upgrade tests to `go1.22.7`
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Type: CI/Build, Component: General, go

#16744 [release-18.0] Code Freeze for `v18.0.7`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#16740 [release-18.0] Release of `v18.0.7`
  changelog/18.0/18.0.7/changelog.md
  changelog/18.0/18.0.7/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#16745 [release-19.0] Code Freeze for `v19.0.6`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#16750 [release-20.0] Code Freeze for `v20.0.2`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#16749 [release-18.0] Release of `v18.0.7`
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.7/changelog.md
  changelog/18.0/18.0.7/release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16747 [release-19.0] Release of `v19.0.6`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.6/changelog.md
  changelog/19.0/19.0.6/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16751 [release-20.0] Release of `v20.0.2`
  .github/workflows/code_freeze.yml
  changelog/20.0/20.0.2/changelog.md
  changelog/20.0/20.0.2/release_notes.md
  changelog/20.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16759 CI: Remove build docker images CI action until we figure out if that it is affecting our rate limits
  .github/workflows/build_docker_images.yml
Labels: Type: Bug, Component: Build/CI

#16746 [main] Copy `v18.0.7` release notes
  changelog/18.0/18.0.7/changelog.md
  changelog/18.0/18.0.7/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#16753 [release-19.0] Bump to `v19.0.7-SNAPSHOT` after the `v19.0.6` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16756 [release-20.0] Bump to `v20.0.3-SNAPSHOT` after the `v20.0.2` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16748 [release-18.0] Bump to `v18.0.8-SNAPSHOT` after the `v18.0.7` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16732 Example operator 401_scheduled_backups.yaml incorrect keyspace
  examples/operator/401_scheduled_backups.yaml
Labels: Type: Bug, Component: Examples

#16738 Update part of codebase to use new for := range syntax
  go/mysql/auth_server.go
  go/mysql/binlog/binlog_json.go
  go/mysql/binlog/rbr.go
  go/mysql/binlog_event.go
  go/mysql/binlog_event_make_test.go
  go/mysql/collations/charset/helpers.go
  go/mysql/collations/colldata/8bit.go
  go/mysql/collations/colldata/uca_contraction_test.go
  go/mysql/collations/colldata/uca_test.go
  go/mysql/collations/internal/uca/iter_fast_900.go
  go/mysql/collations/internal/uca/layout.go
  go/mysql/collations/tools/makecolldata/codegen/tablegen.go
  go/mysql/collations/vindex/unicode/norm/composition.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/datetime/helpers.go
  go/mysql/decimal/mysql_test.go
  go/mysql/endtoend/client_test.go
  go/mysql/endtoend/query_benchmark_test.go
  go/mysql/endtoend/query_test.go
  go/mysql/fastparse/atof.go
  go/mysql/icuregex/compiler.go
  go/mysql/icuregex/icu_test.go
  go/mysql/icuregex/internal/ubidi/ubidi.go
  go/mysql/icuregex/internal/uchar/uchar.go
  go/mysql/icuregex/internal/unames/loader.go
  go/mysql/icuregex/internal/unames/unames.go
  go/mysql/icuregex/internal/uprops/properties.go
  go/mysql/icuregex/internal/uset/close.go
  go/mysql/icuregex/internal/uset/pattern.go
  go/mysql/icuregex/internal/uset/unicode_set.go
  go/mysql/icuregex/matcher.go
  go/mysql/json/parser.go
  go/mysql/mysql_fuzzer.go
  go/mysql/query.go
  go/mysql/replication/mysql56_gtid_set.go
Labels: Type: Internal Cleanup, Component: General

#16765 fix distributed transactions disruptions test with move table
  go/test/endtoend/transaction/twopc/fuzz/fuzzer_test.go
  go/test/endtoend/transaction/twopc/fuzz/main_test.go
  go/test/endtoend/transaction/twopc/fuzz/schema.sql
  go/test/endtoend/transaction/twopc/fuzz/vschema.json
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  test/config.json
Labels: Component: Query Serving, Type: Testing

#16770 VTAdmin: Address security vuln in path-to-regexp node pkg
  web/vtadmin/package-lock.json
Labels: Component: VTAdmin, Type: Dependencies, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16763 [release-19.0] Remove mysql57 from docker images
  .github/workflows/docker_build_base.yml
  .github/workflows/docker_build_lite.yml
  .github/workflows/docker_build_vttestserver.yml
  Makefile
Labels: Type: CI/Build, Component: Docker

#16774 fix: DDL comments to be recorded in AST
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#16776 Backport: Fix ACL checks for CTEs (#16642)
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/permission_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#16778 VTAdmin: Fix serve-handler's path-to-regexp dep and add default schema refresh
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Labels: Type: Bug, Component: VTAdmin, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16713 `BinlogEvent`: publish `ServerID()` function
  go/mysql/binlog_event.go
  go/mysql/binlog_event_filepos.go
  go/mysql/binlog_event_make_test.go
Labels: Type: Enhancement, Component: Query Serving

#16767 `schemadiff`/Online DDL internal refactor
  go/vt/schemadiff/names.go
  go/vt/schemadiff/onlineddl.go
  go/vt/schemadiff/onlineddl_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Internal Cleanup, Component: schema management

#16786 `endtoend`: better error reporting in Online DDL MySQL execution tests
  go/test/endtoend/onlineddl/exec_util.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build

#16791 Small fix to decrease memory allocation
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/vindex.go
Labels: Component: Query Serving, Type: Performance

#16768 Add `vexplain trace`
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/mirror.go
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/engine/plan_description_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vexplain.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#16737 VReplication: Add VTGate VStreamFlag to include journal events in the stream
  examples/local/vstream_client.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/vstream_manager.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: VReplication

#16664 Migrate the S3 SDK from v1 to v2
  go.mod
  go.sum
  go/vt/mysqlctl/s3backupstorage/retryer.go
  go/vt/mysqlctl/s3backupstorage/retryer_test.go
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Internal Cleanup, Component: Backup and Restore

#16800 Add a test to verify we respect the overall query timeout
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing

#16801 Remove former maintainer from areas of expertise section
  MAINTAINERS.md
Labels: Type: Internal Cleanup, Component: General

#16802 Count how many shards were hit by routes when using `vexplain`
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/vexplain.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#16731 Workflow Status: change logic to determine whether `MoveTables` writes are switched
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/workflow_state_test.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/wrangler/traffic_switcher.go
Labels: Type: Bug, Component: VReplication

#16812 CI: Temporarily skip flaky TestMoveTablesUnsharded
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing, Flakes

#16769 Migrate Workflow: Scope vindex names correctly when target and source keyspace have different names
  go/test/endtoend/vreplication/migrate_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/server.go
  go/vt/wrangler/materializer.go
  test/config.json
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16821 flaky test fix for query timeout change
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing

#16807 `backup_pitr` CI: validate rejoining replication stream
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
Labels: Type: CI/Build, Component: Backup and Restore

#16824 vtgate: Use the time zone setting correctly
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/safe_session_test.go
Labels: Type: Bug, Component: Query Serving

#16827 Fix error message check on query timeout
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing

#16803 Distributed Transaction: Action on commit prepared or redo prepared failure
  go/vt/sidecardb/schema/twopc/redo_state.sql
  go/vt/vttablet/endtoend/main_test.go
  go/vt/vttablet/endtoend/twopc/main_test.go
  go/vt/vttablet/endtoend/twopc/prepare_test.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/twopc_test.go
  go/vt/vttablet/tabletserver/tx/twopc.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
Labels: Type: Feature Request, Component: Query Serving

#16818 small fixes for docker-compose setup
  examples/compose/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/vttablet-up.sh
Labels: Type: Bug, Component: Examples

#16799 Docker Images Build CI action: add updated version from release-20.0 back in prep for v21 release
  .github/workflows/docker_build_images.yml
Labels: Component: Build/CI, Type: CI/Build

#16830 Add VEXPLAIN KEYS for improved sharding key selection
  changelog/21.0/21.0.0/summary.md
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/planbuilder/operators/keys.go
  go/vt/vtgate/planbuilder/testdata/vexplain_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
Labels: Type: Enhancement, Component: Query Serving

#16843 VTAdmin: Upgrade deps to address security vulns
  web/vtadmin/package-lock.json
Labels: Type: Internal Cleanup, Component: VTAdmin, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16695 Add tablet-tags/`--init_tags` stats
  go/vt/vttablet/tabletmanager/rpc_transaction_test.go
  go/vt/vttablet/tabletmanager/shard_sync_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletmanager/tm_state_test.go
Labels: Type: Enhancement, Component: Observability, Component: VTTablet

#16170 Support passing filters to `discovery.NewHealthCheck(...)`
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Throttler, Component: VTTablet, Component: VTGate

#16810 VReplication: Undo vschema changes on LookupVindex workflow creation fail
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Enhancement, Component: VReplication

#16853 Checkout code earlier in Assign Milestone CI
  .github/workflows/assign_milestone.yml
Labels: Type: Bug, Component: Build/CI, Type: Regression

#16835 reject atomic distributed transaction on savepoints and modified system settings
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/tx_conn.go
Labels: Type: Enhancement, Component: Query Serving

#16806 Fix `xtrabackup`/`builtin` context when doing `AddFiles`
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/xtrabackupengine.go
Labels: Type: Bug, Component: Backup and Restore

#16862 VReplication: Support both vindex col def formats when initing target sequences
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
Labels: Type: Bug, Component: VReplication
