Repository vitessio/vitess, pull requests merged in 2024-08, with the labels that each got.

#16521 fix: show tables to use any keyspace on system schema
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving

#16509 fix: sequence table next value acl permission to writer role
  go/vt/vttablet/tabletserver/planbuilder/permission.go
  go/vt/vttablet/tabletserver/planbuilder/permission_test.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Type: Bug, Component: Query Serving

#16525 simplify merging logic
  .github/workflows/vitess_tester_vtgate.yml
  go/test/endtoend/vtgate/vitess_tester/two_sharded_keyspaces/queries.test
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  test/templates/cluster_vitess_tester.tpl
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16534 vindex function: error when keyspace not selected
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/vindex_func.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16506 vttablet api distributed transaction changes
  go/vt/vterrors/code.go
  go/vt/vtgate/tx_conn.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/tx_prep_pool.go
  go/vt/vttablet/tabletserver/tx_prep_pool_test.go
Labels: Type: Feature Request, Component: Query Serving

#16492 evalengine: Implement `PERIOD_ADD`
  go/mysql/datetime/mydate.go
  go/mysql/datetime/mydate_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#16540 Fix: Offset planning in hash joins
  go/test/endtoend/vtgate/vitess_tester/join/join.test
  go/test/endtoend/vtgate/vitess_tester/join/vschema.json
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/dml_with_input.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0

#16549 Remove unused `formatRelativeTime` import
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Labels: Type: Internal Cleanup, Component: VTAdmin

#16505 VReplication: Properly ignore errors from trying to drop tables that don't exist
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0

#16371 Fix `RemoveTablet` during `TabletExternallyReparented` causing connection issues
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
Labels: Type: Bug, Backport to: release-18.0, Backport to: release-19.0, Component: VTGate, Backport to: release-20.0

#16578 Throttler/vreplication: fix app name used by VPlayer
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Labels: Type: Bug, Component: VReplication, Component: Throttler, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16555 Tablet throttler: remove cached metric associated with removed tablet
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Bug, Component: Throttler

#16576 Atomic Transaction bug fix with PRS disruption
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/encryption/encryptedtransport/encrypted_transport_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/transaction/twopc/fuzzer/main_test.go
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/schema.sql
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/test/endtoend/transaction/twopc/vschema.json
  go/vt/vterrors/code.go
  go/vt/vttablet/tabletserver/debug_2pc.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/production.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_prep_pool.go
  go/vt/vttablet/tabletserver/tx_prep_pool_test.go
Labels: Type: Bug, Component: Query Serving

#16581 v18 backport: Throttler/vreplication: fix app name used by VPlayer (#16578)
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Labels: Type: Bug, Component: VReplication, Backport, Component: Throttler

#16579 v20 backport: Throttler/vreplication: fix app name used by VPlayer (#16578)
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Labels: Type: Bug, Component: VReplication, Backport, Component: Throttler

#16580 v19 backport: Throttler/vreplication: fix app name used by VPlayer (#16578)
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Labels: Type: Bug, Component: VReplication, Backport, Component: Throttler

#16557 evalengine: Implement `PERIOD_DIFF`
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#16574 allow innodb_lock_wait_timeout as system variable
  go/test/endtoend/vtgate/reservedconn/sysvar_test.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sysvars/sysvars.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
Labels: Type: Enhancement, Component: Query Serving

#16588 VReplication: Improve table plan builder errors
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
Labels: Type: Internal Cleanup, Component: VReplication

#16560 VReplication: Return lock error everywhere that LockName fails
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Bug, Component: VReplication

#16589 Add command to see the unresolved transactions
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/transaction_status.go
  go/vt/vtgate/engine/transaction_status_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/show_cases.json
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Enhancement, Component: Query Serving

#16569 Planner cleaning: cleanup and refactor
  go/vt/vtgate/endtoend/aggr_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving

#16597 Online DDL: avoid SQL's `CONVERT(...)`, convert programmatically if needed
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Bug, Type: Performance, Component: Online DDL, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16577 VReplication: Estimate lag when workflow fully throttled
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication, Component: Observability

#16604 v18 backport: Online DDL: avoid SQL's `CONVERT(...)`, convert programmatically if needed
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/ignore_versions
  go/vt/sqlparser/parsed_query.go
  go/vt/sqlparser/parsed_query_test.go
  go/vt/sqlparser/tracked_buffer.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication, Backport, Component: Online DDL

#16603 v19 backport: Online DDL: avoid SQL's `CONVERT(...)`, convert programmatically if needed
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Bug, Component: VReplication, Type: Performance, Backport, Component: Online DDL

#16602 v20 backport: Online DDL: avoid SQL's `CONVERT(...)`, convert programmatically if needed
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/alter-charset-non-utf8-80-vcopier/ignore_versions
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/allow_schemadiff_normalization
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/non-utf8-charset-pk/ignore_versions
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Bug, Component: VReplication, Type: Performance, Backport, Component: Online DDL

#16547 VReplication: Add custom logger support to Workflow Server
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_options.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Internal Cleanup, Component: VReplication, Component: vtctldclient

#16584 Reject atomic distributed transaction on a network connection
  go/mysql/conn.go
  go/vt/vttablet/endtoend/connecttcp/main_test.go
  go/vt/vttablet/endtoend/connecttcp/prepare_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttest/local_cluster.go
Labels: Type: Feature Request, Component: Query Serving

#16601 Online DDL: ensure high `lock_wait_timeout` in Vreplication cut-over
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#16427 Support recursive CTEs
  .gitignore
  changelog/21.0/21.0.0/summary.md
  go/mysql/sqlerror/constants.go
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/vitess_tester/cte/queries.test
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/recurse_cte.go
  go/vt/vtgate/engine/recurse_cte_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/cte_merging.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/recurse_cte.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/onecase.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/cte_table.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/foreign_keys_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_table.go
  go/vt/vtgate/semantics/semantic_table_test.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Feature Request, Component: Query Serving

#16572 VReplication: Gather source positions once we know all writes are done during traffic switch
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Bug, Component: VReplication

#16620 Remove mysql57/percona57 bootstrap images
  Makefile
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.percona57
  docker/bootstrap/README.md
  test.go
Labels: Type: Internal Cleanup, Component: Docker, Backport to: release-19.0, Backport to: release-20.0

#16553 Atomic Transactions correctness with PRS, ERS and MySQL & Vttablet Restarts
  doc/design-docs/AtomicTransactionsWithDisruptions.md
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/schema.sql
  go/test/endtoend/transaction/twopc/stress/fuzzer_test.go
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/twopc/stress/schema.sql
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/stress/vschema.json
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/vt/vttablet/endtoend/framework/client.go
  go/vt/vttablet/tabletmanager/rpc_actions.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_prep_pool.go
  go/vt/vttablet/tabletserver/tx_prep_pool_test.go
  go/vt/vttablet/tabletservermock/controller.go
  test/config.json
Labels: Type: Feature Request, Component: Query Serving

#16498 VReplication workflow package: unit tests for StreamMigrator, Mount et al
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/mount_test.go
  go/vt/vtctl/workflow/resharder_test.go
  go/vt/vtctl/workflow/stream_migrator_test.go
  go/vt/vtctl/workflow/utils_test.go
  go/vt/vtctl/workflow/vreplication_stream_test.go
Labels: Component: VReplication, Type: Testing

#16596 VReplication: Improve replication plan builder and event application errors
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#16625 Fix go.mod files
  go.mod
  vitess-mixin/go.mod
Labels: Type: Internal Cleanup, Component: Build/CI

#16562 Fix query plan cache misses metric
  go/vt/vtgate/executor.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16630 Log and ignore the error in reading udfs in schema tracker
  go/mysql/fakesqldb/server.go
  go/vt/logutil/throttled.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: Schema Tracker

#16636 Update golangci-lint to newer faster version
  .github/workflows/static_checks_etc.yml
  misc/git/hooks/golangci-lint
Labels: Type: Internal Cleanup, Component: General

#16635 Online DDL: better support for subsecond `--force-cut-over-after` DDL strategy flag value.
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#16608 Reject TwoPC calls if semi-sync is not enabled
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/tx_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletservermock/controller.go
Labels: Type: Enhancement, Component: Query Serving

#16633 Online DDL: new `message_timestamp` column in `schema_migrations` table
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#16640 Fix race conditions in the concatenate engine streaming
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0

#16616 Additional recursive CTE work
  go/test/endtoend/vtgate/vitess_tester/cte/queries.test
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/cte_merging.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/recurse_cte.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16650 fix sizegen so it handles type aliases
  go/mysql/collations/colldata/cached_size.go
  go/sqltypes/cached_size.go
  go/tools/sizegen/sizegen.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/topodata/cached_size.go
  go/vt/proto/vttime/cached_size.go
Labels: Type: Bug, Component: Query Serving

#16610 Remove specific Kubernetes version instructions and link to the Vites…
  examples/operator/README.md
Labels: Type: Internal Cleanup, Component: Documentation

#16645 VReplication workflows: retry "wrong tablet type" errors
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/utils_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Online DDL, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16631 Performance improvements - Planner
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_with_input.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/real_table.go
Labels: Component: Query Serving, Type: Performance

#16659 Run the static checks workflow if the file changes
  .github/workflows/static_checks_etc.yml
Labels: Component: Build/CI, Type: Testing

#16570 VTAdmin: Initiate workflow details tab
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowDetails.tsx
  web/vtadmin/src/util/workflows.ts
Labels: Type: Enhancement, Component: VTAdmin

#16660 Update micromatch to 4.0.8
  web/vtadmin/package-lock.json
Labels: Component: VTAdmin, Type: CI/Build, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16662 Fix `docker_lite_push` make target
  Makefile
Labels: Type: CI/Build, Component: Docker, Backport to: release-20.0

#16606 vtcombo: close query service on drop database
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/vt/vtcombo/tablet_map.go
Labels: Type: Bug, Component: VTCombo

#16649 Fix Precedence rule for Tilda op
  go/test/endtoend/vtgate/vitess_tester/dual/queries.test
  go/test/endtoend/vtgate/vitess_tester/join/join.test
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/precedence_test.go
Labels: Type: Bug, Component: Query Serving

#16585 Atomic Transactions handling with Online DDL
  doc/design-docs/AtomicTransactionsWithDisruptions.md
  go/test/endtoend/transaction/twopc/stress/fuzzer_test.go
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_funcs_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/planbuilder/builder.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/tx/api.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_prep_pool.go
  go/vt/vttablet/tabletserver/tx_prep_pool_test.go
  go/vt/vttablet/tabletserver/txlogz_test.go
Labels: Type: Feature Request, Component: Query Serving

#16672 Fix error contain checks in vtgate package
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/gen4/system_schema_test.go
  go/test/endtoend/vtgate/grpc_api/acl_test.go
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
  go/test/endtoend/vtgate/sequence/seq_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing, Backport to: release-20.0

#16674 bug: fix slice init length
  go/trace/trace.go
Labels: Type: Internal Cleanup, Component: General

#15992 add support for vtgate traffic mirroring (queryserving)
  go/test/endtoend/vtgate/queries/benchmark/benchmark_test.go
  go/test/endtoend/vtgate/queries/benchmark/main_test.go
  go/test/endtoend/vtgate/queries/benchmark/sharded_schema1.sql
  go/test/endtoend/vtgate/queries/benchmark/sharded_schema2.sql
  go/test/endtoend/vtgate/queries/benchmark/sharded_schema3.sql
  go/test/endtoend/vtgate/queries/benchmark/vschema1.json
  go/test/endtoend/vtgate/queries/benchmark/vschema2.json
  go/test/endtoend/vtgate/queries/benchmark/vschema3.json
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/semantics.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/mirror.go
  go/vt/vtgate/engine/mirror_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/mirror.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/mirror_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/mirror_schema.json
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/cte_table.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_table.go
  go/vt/vtgate/semantics/semantic_table_test.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/engine_test.go
Labels: Type: Feature Request, Component: Query Serving

#16538 Added the scorecard github action and its badge
  .github/workflows/scorecards.yml
  README.md
Labels: Type: Enhancement, Component: General

#16639 VTGate VStream: Ensure reasonable delivery time for reshard journal event
  examples/local/vstream_client.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication

#16655 Fix race condition that prevents queries from being buffered after vtgate startup
  go/vt/discovery/keyspace_events.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/srvtopo/discover.go
  go/vt/srvtopo/discover_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/vtgate/tabletgateway_test.go
Labels: Type: Bug, Component: Query Serving

#16678 schemadiff: more `INSTANT` algorithm considerations
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Bug, Type: Enhancement, Component: schema management

#16351 flow based tablet load balancer
  changelog/21.0/21.0.0/summary.md
  go/flags/endtoend/vtgate.txt
  go/vt/vtgate/balancer/balancer.go
  go/vt/vtgate/balancer/balancer_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vtgate/vtgate.go
Labels: Type: Enhancement, Component: Query Serving

#16638 Add resultsObserver to ScatterConn
  go/vt/vtgate/executor.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Internal Cleanup, Component: Query Serving
