Repository vitessio/vitess, pull requests merged in 2024-03, with the labels that each got.

#15396 `onlineddl_scheduler` test: fix flakiness in artifact cleanup test
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Labels: Type: CI/Build, Component: Online DDL, Backport to: release-19.0

#14500 Make connection killing resilient to MySQL hangs
  go/mysql/fakesqldb/server.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: Query Serving, Benchmark me

#15296 prevent vtctld from creating tons of S3 connections
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
Labels: Type: Performance, Component: General, Backport to: release-19.0

#15384 Fixing Column aliases in outer join queries
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Bug, Component: Query Serving

#15220 Add required tests for `internal/flag`
  go/internal/flag/flag_test.go
  go/internal/flag/usage_test.go
Labels: Type: Testing, Component: CLI

#15392 Add required tests for `go/netutil`
  go/netutil/conn_test.go
  go/netutil/netutil_test.go
Labels: Type: Testing, Component: General

#15027 unit test for go/yaml2/yaml.go
  go/yaml2/yaml_test.go
Labels: Type: Testing, Component: General

#15019 Added unit tests for cmd/internal/docgen package
  go/cmd/internal/docgen/docgen.go
  go/cmd/internal/docgen/docgen_test.go
Labels: Type: Testing, Component: General

#15028 Added unit tests for `go/cmd/rulesctl/` package
  go/cmd/rulesctl/cmd/add_test.go
  go/cmd/rulesctl/cmd/explain_test.go
  go/cmd/rulesctl/cmd/list_test.go
  go/cmd/rulesctl/cmd/main_test.go
  go/cmd/rulesctl/cmd/remove_test.go
  go/cmd/rulesctl/cmd/testdata/rules.json
  go/cmd/rulesctl/common/common_test.go
  go/cmd/rulesctl/common/testdata/rules.json
Labels: Type: Testing, Component: General

#15379 [release-19.0 backport] Mysqld: capture mysqlbinlog std error output (#15278)
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Backport, Component: Backup and Restore

#15072 Added unit tests for vt/grpcclient package
  go/vt/grpcclient/client_auth_static_test.go
  go/vt/grpcclient/client_test.go
  go/vt/grpcclient/glogger_test.go
  go/vt/grpcclient/snappy_test.go
  go/vt/grpcclient/testdata/credsFile.json
  go/vt/grpcclient/testdata/invalid.json
Labels: Type: Testing, Component: General

#15372 Update Planning for Limits in the presence of foreign keys
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15413 Ensure to use latest golangci-lint
  .github/workflows/static_checks_etc.yml
  .golangci.yml
  misc/git/hooks/golangci-lint
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-19.0

#13444 adds optional over clause to aggregate functions in sqlparser
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/check_invalid.go
Labels: Type: Enhancement, Component: Query Serving

#15376 Remove `ALGORITHM=COPY` from Online DDL in MySQL `>= 8.0.32`
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/test/endtoend/onlineddl/vrepl_suite/onlineddl_vrepl_suite_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/ddl_strategy
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fk-child-modify-not-null/require_rename_table_preserve_foreign_key
  go/vt/schemadiff/schema_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Bug, Component: Online DDL

#15297 [e2e] vtctld init tablet and some output-based commands
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/topo_process.go
  go/test/endtoend/cluster/vtctl_process.go
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/clustertest/vtctld_test.go
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletgateway/buffer/reshard/sharded_buffer_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/tabletmanager/commands_test.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#15415 planbuilder: Cleanup unused logic
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15359 [release-19.0] Release of `v19.0.0`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.0/changelog.md
  changelog/19.0/19.0.0/release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15416 Fix go.mod
  go.mod
Labels: Component: Build/CI, Type: CI/Build

#15417 Copy `v19.0.0` release notes on `main`
  changelog/19.0/19.0.0/changelog.md
  changelog/19.0/19.0.0/release_notes.md
Labels: Component: General, Type: Release

#15418 [release-19.0] Bump to `v19.0.1-SNAPSHOT` after the `v19.0.0` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15385 refactor: clean up semantics package
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/foreign_keys.go
  go/vt/vtgate/semantics/foreign_keys_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15394 Add required tests for `go/stats/opentsdb`
  go/stats/opentsdb/backend_test.go
  go/stats/opentsdb/datapoint_reader_test.go
  go/stats/opentsdb/datapoint_test.go
  go/stats/opentsdb/file_writer_test.go
  go/stats/opentsdb/flags_test.go
  go/stats/opentsdb/http_writer_test.go
  go/stats/opentsdb/opentsdb_test.go
Labels: Type: Testing, Component: General

#15404 mysqlctl: Improve handling of the lock file
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/mysqld_test.go
Labels: Type: Bug, Component: TabletManager

#15421 Ensure that WithParams keeps the transport
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-19.0

#15367 Add v20 changelog docs for PR #15030
  changelog/20.0/20.0.0/summary.md
Labels: Type: Documentation, Component: Authn/z

#15340 Fix type coercion between the sides of an UNION
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/vt/vtgate/engine/concatenate.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/evalengine/api_arithmetic.go
  go/vt/vtgate/evalengine/api_arithmetic_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/api_type_aggregation_test.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Component: Evalengine

#15426 bump `github.com/golang/protobuf` to `v1.5.4`
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-18.0, Backport to: release-19.0

#15374 VReplication: improve reliability of log management
  go/textutil/strings.go
  go/textutil/strings_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/utils_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Internal Cleanup, Component: VReplication

#15402 Feature: Multi Target Update Support
  changelog/20.0/20.0.0/summary.md
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Feature Request, Component: Query Serving

#15431 `schemadiff`: support valid foreign key cycles
  go/vt/graph/graph.go
  go/vt/graph/graph_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving

#15432 DDL strategy flag `--unsafe-allow-foreign-keys` implies setting `FOREIGN_KEY_CHECKS=0`
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/vtgate/schema/schema_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: TabletManager, Component: Online DDL

#15438 Fix: transition to `math/rand/v2` for Improved Performance and Code Clarity
  go/hack/runtime.go
  go/pools/smartconnpool/pool.go
Labels: Type: Internal Cleanup, Type: Performance, Component: TabletManager

#15454 engine: fix race in concatenate
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/engine/concatenate.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15447 CI: Disable CodeCov GitHub Changed Files Annotations
  codecov.yml
Labels: Component: Build/CI, Type: CI/Build

#15437 Fix docs for unmanaged tablets
  go/cmd/vttablet/cli/cli.go
  go/flags/endtoend/vttablet.txt
Labels: Type: Documentation, Component: Documentation, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15471 [release-18.0] VtctldClient Reshard: add e2e tests to confirm CLI options and fix discovered issues. (#15353)
  go/cmd/vtctldclient/command/vreplication/reshard/create.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Bug, Component: VReplication

#15449 chore: remove repetitive words
  go/mysql/icuregex/compiler.go
  go/vt/vtctl/vtctl_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Internal Cleanup, Component: General

#15408 [release-17.0] Bumps deps and use proper Go version in upgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  go.mod
  go.sum
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttime/vttime.pb.go
  misc/git/hooks/golangci-lint
  test/config.json
Labels: Component: General, Type: Dependabot, go

#15436 Fix view tracking on sharded keyspace
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/view_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15478 [release-17.0] Code Freeze for `v17.0.6`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#15481 [release-19.0] Code Freeze for `v19.0.1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#15480 [release-18.0] Code Freeze for `v18.0.3`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#15479 [release-17.0] Release of `v17.0.6`
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.6/changelog.md
  changelog/17.0/17.0.6/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15486 Copy `v17.0.6` release notes on `main`
  changelog/17.0/17.0.0/release_notes.md
  changelog/17.0/17.0.0/summary.md
  changelog/17.0/17.0.6/changelog.md
  changelog/17.0/17.0.6/release_notes.md
  changelog/17.0/17.0.6/summary.md
  changelog/17.0/README.md
Labels: Component: General, Type: Release

#15487 [release-17.0] Bump to `v17.0.7-SNAPSHOT` after the `v17.0.6` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15483 [release-18.0] Release of `v18.0.3`
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.3/changelog.md
  changelog/18.0/18.0.3/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15482 [release-19.0] Release of `v19.0.1`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.1/changelog.md
  changelog/19.0/19.0.1/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15490 Copy `v19.0.1` release notes on `main`
  changelog/19.0/19.0.1/changelog.md
  changelog/19.0/19.0.1/release_notes.md
  changelog/19.0/README.md
Labels: Component: General, Type: Release

#15488 Copy `v18.0.3` release notes on `main`
  changelog/18.0/18.0.3/changelog.md
  changelog/18.0/18.0.3/release_notes.md
  changelog/18.0/18.0.3/summary.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#15491 [release-19.0] Bump to `v19.0.2-SNAPSHOT` after the `v19.0.1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15489 [release-18.0] Bump to `v18.0.4-SNAPSHOT` after the `v18.0.3` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15495 update andrew's email
  MAINTAINERS.md
Labels: Type: Internal Cleanup, Component: Build/CI

#14936 VStreamer: add throttled logs when row/result/vstreamers get throttled.
  go/vt/vttablet/tabletserver/vstreamer/engine.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Testing, Component: Observability

#15493 Enum value parsing: do not parse by whitespace
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-whitespace/create.sql
  go/vt/schema/parser.go
  go/vt/schema/parser_test.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
Labels: Type: Bug, Component: Online DDL

#15507 `schemadiff`: remove `ForeignKeyLoopError` and loop detection logic
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#15388 `schemadiff`: supporting textual diff
  go/vt/schemadiff/annotations.go
  go/vt/schemadiff/annotations_test.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
Labels: Type: Enhancement, Component: Query Serving

#15435 test: Add required tests for `go/mysql/collations/charset`
  go/mysql/collations/charset/charset_test.go
  go/mysql/collations/charset/convert_test.go
  go/mysql/collations/charset/helpers_test.go
Labels: Component: Query Serving, Type: Testing

#15508 vtorc: Cleanup unused code
  go/vt/vtorc/collection/collection.go
  go/vt/vtorc/collection/collection_test.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/discovery/funcs.go
  go/vt/vtorc/discovery/queue_aggregated_stats.go
  go/vt/vtorc/inst/instance_utils.go
  go/vt/vtorc/inst/instance_utils_test.go
  go/vt/vtorc/inst/oracle_gtid_set.go
  go/vt/vtorc/inst/oracle_gtid_set_entry.go
  go/vt/vtorc/inst/oracle_gtid_set_test.go
  go/vt/vtorc/metrics/query/aggregated.go
  go/vt/vtorc/process/election_dao.go
  go/vt/vtorc/util/token.go
Labels: Type: Internal Cleanup, Component: VTorc

#15514 fix: remove keyspace from column during query builder
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0, Backport to: release-19.0

#15519 schemadiff: add `EntityDiffByStatement`, a testing friendly utility
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
Labels: Component: Query Serving, Type: Testing

#15515 topo: Clean up unused code
  go/vt/topo/consultopo/version.go
  go/vt/topo/etcd2topo/version.go
  go/vt/topo/helpers/tee.go
  go/vt/topo/helpers/tee_test.go
  go/vt/topo/helpers/tee_topo_test.go
  go/vt/topo/memorytopo/version.go
  go/vt/topo/shard.go
  go/vt/topo/shard_test.go
  go/vt/topo/tablet.go
  go/vt/topo/topoproto/tablet.go
  go/vt/topo/zk2topo/zk_conn.go
  go/vt/topotools/tablet.go
Labels: Type: Internal Cleanup, Component: Topology

#15518 test: failing unit test for type aggregation
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/api_type_aggregation_test.go
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15501 test: Add missing tests for `go/mysql/datetime`
  go/mysql/datetime/datetime_test.go
  go/mysql/datetime/interval_test.go
  go/mysql/datetime/mydate_test.go
  go/mysql/datetime/parse_test.go
  go/mysql/datetime/strftime_test.go
Labels: Component: Query Serving, Type: Testing

#15395 VStream: Allow for automatic resume after Reshard across VStreams
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/topo/faketopo/faketopo.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  test/config.json
Labels: Type: Enhancement, Component: VReplication

#15504 Foreign Key: Add support for multi target delete
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Feature Request, Component: Query Serving

#15500 fail insert when primary vindex cannot be mapped to a shard
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/executor_dml_test.go
Labels: Type: Bug, Component: Query Serving

#15398 Tablet throttler: starvation fix and consolidation of logic.
  go/stats/counter_map.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/timer/rate_limiter.go
  go/timer/rate_limiter_test.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app.go
Labels: Type: Bug, Component: Throttler

#15525 VDiff CLI: add missing target keyspace in VDiff command examples
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
Labels: Type: Bug, Type: Documentation, Component: VReplication

#15530 Update to latest CodeQL
  .github/workflows/codeql_analysis.yml
Labels: Component: Build/CI, dependencies, Type: CI/Build, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15526 `schemadiff`: better nil check validation
  go/vt/schemadiff/annotations.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
Labels: Type: Bug, Component: Query Serving, Type: Testing

#15528 Respect Straight Join in Vitess query planning
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
Labels: Type: Feature Request, Component: Query Serving

#15529 Fix error message for planned reparent shard
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: Cluster management

#15538 Fix possible race in MySQL startup and vttablet in parallel
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Type: Bug, Component: TabletManager

#15523 Foreign Key: Add support for Multi Table and Multi Target Update Statement
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Feature Request, Component: Query Serving

#15524 VReplication: Fix workflow filtering in GetWorkflows RPC
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Bug, Component: VReplication

#15550 Fix aliasing in routes that have a derived table
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15545 chore: fix function names
  go/vt/vtadmin/http/tablets.go
  go/vt/vtgate/engine/fuzz.go
  go/vt/vtgate/plugin_mysql_server.go
Labels: Type: Internal Cleanup, Component: General

#15551 bugfix: handling of ANDed join predicates
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15561 Generate vtctldclient RPC client code from vtctlservice protobufs on make proto
  Makefile
Labels: Component: Build/CI, Type: CI/Build

#15539 logstats: do not allocate memory while logging
  go/logstats/logger.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
Labels: Component: Query Serving, Type: Performance

#15451 Configurable incremental restore files path
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-19.0

#15540 Filter tablet map using valid candidates before reparenting to intermediate source
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Labels: Type: Enhancement, Component: Cluster management

#15562 Dedicated poolDialer logic for VTOrc, throttler
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Labels: Type: Bug, Component: VTorc, Component: TabletManager, Component: Throttler, Backport to: release-19.0

#15569 Add types to Go SQL driver
  go/vt/vitessdriver/rows.go
  go/vt/vitessdriver/rows_test.go
Labels: Type: Enhancement, Component: Driver

#15574 Throttler: refactor stats variables
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Internal Cleanup, Component: Throttler

#15424 Use a throttled logger for exceeded memory warnings
  go/vt/vtgate/executor.go
Labels: Type: Enhancement, Component: Query Serving

#15573 [release-19.0] Fail insert when primary vindex cannot be mapped to a shard (#15500)
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/executor_dml_test.go
Labels: Type: Bug, Component: Query Serving, Backport

#15566 Fix misorganized annotations
  go/vt/wrangler/vexec_plan.go
Labels: Type: Internal Cleanup, Component: General

#15575 mysqlctld: setup a different default for onterm_timeout
  changelog/20.0/20.0.0/summary.md
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtcombo/cli/main.go
  go/flags/endtoend/mysqlctld.txt
  go/vt/mysqlctl/grpcmysqlctlserver/server.go
  go/vt/mysqlctl/mycnf.go
  go/vt/servenv/run.go
  go/vt/servenv/servenv.go
  go/vt/vttablet/tabletmanager/tm_init.go
Labels: Type: Bug, Component: TabletManager

#15450 Handle panics during parallel execution
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#15581 chore: use interface instead of struct for tests
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
Labels: Component: Query Serving, Type: Testing

#15579 VReplication: Move the Reshard v2 workflow to vtctldclient
  go/cmd/vtctldclient/command/vreplication/common/switchtraffic.go
  go/streamlog/streamlog_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/partial_movetables_seq_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  test/config.json
Labels: Type: Bug, Type: Internal Cleanup, Component: Build/CI, Component: VReplication, Type: Testing, Backport to: release-18.0, Backport to: release-19.0

#15485 Add api end point to print the current database state in VTOrc
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/external/golib/sqlutils/sqlutils.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/server/api.go
Labels: Type: Enhancement, Component: VTorc

#15571 Add testing for shard scoped foreign keys
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/shard_scoped_vschema.json
  go/test/endtoend/vtgate/foreignkey/utils_test.go
Labels: Component: Query Serving, Type: Testing

#15548 Make `Durabler` interface methods public
  changelog/20.0/20.0.0/summary.md
  go/vt/vtctl/reparentutil/durability.go
  go/vt/vtctl/reparentutil/durability_test.go
Labels: Type: Enhancement, Component: VTorc

#15366 VStreamer unit test: port remaining tests to new framework
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/main_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Component: VReplication, Type: Testing
