Repository vitessio/vitess, pull requests merged in 2024-11, with the labels that each got.

#17107 VReplication: Fixes for generated column handling
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_partial.go
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Bug, Component: VReplication

#17106 Fix flakiness in `TestDisruptions` for two pc testing
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/transaction/twopc/utils/utils.go
Labels: Component: Build/CI, Type: Testing

#17096 [Direct PR] [release-18.0]: Add `sidecardb` known issue
  changelog/18.0/18.0.0/summary.md
Labels: Type: Documentation, Component: Build/CI

#17108 VTAdmin: Upgrade msw package to address security vuln
  web/vtadmin/.prettiercc
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/components/ActionPanel.test.tsx
  web/vtadmin/src/components/routes/createKeyspace/CreateKeyspace.test.tsx
  web/vtadmin/src/components/routes/keyspace/Advanced.test.tsx
Labels: Component: VTAdmin, Type: Dependencies

#17071 Improve efficiency of `vtorc` topo calls
  go/flags/endtoend/vtorc.txt
  go/vt/topo/keyspace.go
  go/vt/topo/shard.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/vtorc/logic/tablet_discovery.go
Labels: Type: Enhancement, Component: VTorc

#17128 VReplication: Relax restrictions on Cancel and ReverseTraffic when writes not involved
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Enhancement, Component: VReplication

#17130 List join predicates used in `GetVExplainKeys`
  go/vt/vtgate/planbuilder/operators/keys.go
  go/vt/vtgate/planbuilder/operators/keys_test.go
  go/vt/vtgate/testdata/executor_vexplain.json
Labels: Component: Query Serving, Type: Testing

#17174 VReplication: Qualify and SQL escape tables in created AutoIncrement VSchema definitions
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/utils.go
Labels: Type: Bug, Component: VReplication, Backport to: release-21.0

#17055 Fix: Update found rows pool transaction capacity dynamically via vttablet debug/env
  go/vt/vttablet/endtoend/call_test.go
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Bug, Component: Query Serving

#17179 bugfix: Handle CTEs with columns named in the CTE def
  go/test/endtoend/vtgate/vitess_tester/cte/queries.test
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17036 VTAdmin: Support for multiple DataTable accessing same URL
  web/vtadmin/src/components/dataTable/DataTable.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowDetails.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowVDiff.tsx
  web/vtadmin/src/hooks/useURLPagination.ts
Labels: Type: Bug, Component: VTAdmin

#17024 Fix flakiness in `TestListenerShutdown`
  go/mysql/server_test.go
Labels: Component: Cluster management, Type: CI/Build, Flakes, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17136 Close zookeeper topo connection on disconnect
  go/vt/topo/zk2topo/zk_conn.go
  go/vt/topo/zk2topo/zk_conn_test.go
Labels: Type: Bug, Component: Topology, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17194 Flakes: Address flakiness in TestZkConnClosedOnDisconnect
  go/vt/topo/zk2topo/zk_conn_test.go
Labels: Component: Build/CI, Type: CI/Build, Type: Testing, Flakes, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17118 `engine.Reload()`: read InnoDB tables sizes including `FULLTEXT` index volume
  go/mysql/collations/charset/filename.go
  go/mysql/collations/charset/filename_test.go
  go/mysql/config/config.go
  go/mysql/fakesqldb/server.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb_binlog_playback.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_legacy.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/schema.go
  go/vt/vtenv/vtenv.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/main_test.go
Labels: Type: Enhancement, Component: Schema Tracker, Component: schema management

#17013 Fix to prevent stopping buffering prematurely
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/keyspace_events.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_helper_test.go
  go/vt/vtgate/buffer/buffer_test.go
  go/vt/vtgate/buffer/shard_buffer.go
  go/vt/vtgate/buffer/variables_test.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vtgate/tabletgateway_flaky_test.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17207 Online DDL: fix defer function, potential connection pool exhaustion
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Online DDL, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17165 Limit rare race condition in `topo.Server`
  go/cmd/vttablet/cli/cli_test.go
  go/vt/topo/cell_info.go
  go/vt/topo/cells_aliases.go
  go/vt/topo/external_vitess_cluster.go
  go/vt/topo/keyspace.go
  go/vt/topo/locks.go
  go/vt/topo/metadata.go
  go/vt/topo/server.go
  go/vt/topo/shard.go
  go/vt/topo/vschema.go
Labels: Type: Bug, Component: Topology

#17182 VReplication Flaky Test fix: TestVtctldMigrateSharded
  .github/workflows/cluster_endtoend_vreplication_migrate.yml
  .github/workflows/cluster_endtoend_vreplication_vtctldclient_vdiff2_movetables_tz.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: VReplication, Type: Testing, Flakes

#17180 VReplication fix Flaky e2e test TestMoveTablesBuffering
  go/test/endtoend/vreplication/movetables_buffering_test.go
Labels: Component: VReplication, Type: Testing, Flakes

#17201 Online DDL: `ANALYZE` the shadow table before cut-over
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#17211 [release-21.0] Upgrade the Golang version to `go1.23.3`
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  .github/workflows/upgrade_downgrade_test_semi_sync.yml
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  go.mod
  test.go
  test/templates/dockerfile.tpl
Labels: Type: CI/Build, Component: General, go

#17215 Update the EOL documentation
  doc/internal/release/eol-process.md
Labels: Component: Documentation, Type: Release

#17169 Online DDL: `--singleton-table` DDL strategy flag
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#17228 e2e framework change to find empty throttler config
  go/vt/vttablet/endtoend/framework/server.go
Labels: Type: Internal Cleanup, Component: Throttler

#17227 go mod update
  go.mod
  go.sum
  go/vt/mysqlctl/s3backupstorage/s3_test.go
  go/vt/proto/binlogdata/binlogdata.pb.go
  go/vt/proto/binlogdata/binlogdata_vtproto.pb.go
  go/vt/proto/binlogservice/binlogservice.pb.go
  go/vt/proto/logutil/logutil.pb.go
  go/vt/proto/logutil/logutil_vtproto.pb.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/mysqlctl/mysqlctl_vtproto.pb.go
  go/vt/proto/query/query.pb.go
  go/vt/proto/query/query_vtproto.pb.go
  go/vt/proto/queryservice/queryservice.pb.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/replicationdata/replicationdata_vtproto.pb.go
  go/vt/proto/tableacl/tableacl.pb.go
  go/vt/proto/tableacl/tableacl_vtproto.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata_vtproto.pb.go
  go/vt/proto/tabletmanagerservice/tabletmanagerservice.pb.go
  go/vt/proto/throttlerdata/throttlerdata.pb.go
  go/vt/proto/throttlerdata/throttlerdata_vtproto.pb.go
  go/vt/proto/throttlerservice/throttlerservice.pb.go
  go/vt/proto/topodata/topodata.pb.go
  go/vt/proto/topodata/topodata_vtproto.pb.go
  go/vt/proto/vschema/vschema.pb.go
  go/vt/proto/vschema/vschema_vtproto.pb.go
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtrpc/vtrpc.pb.go
  go/vt/proto/vtrpc/vtrpc_vtproto.pb.go
  go/vt/proto/vttest/vttest.pb.go
  go/vt/proto/vttest/vttest_vtproto.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/proto/vttime/vttime_vtproto.pb.go
Labels: Benchmark me, Component: General, Type: Dependencies

#17230 Fix deadlock in messager and health streamer
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/messager/engine.go
  go/vt/vttablet/tabletserver/messager/engine_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Type: Bug, Backport to: release-19.0, Component: VTTablet, Backport to: release-20.0, Backport to: release-21.0

#17220 Binlog: Improve ZstdInMemoryDecompressorMaxSize management
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/mysql/binlog_event_compression.go
  go/mysql/binlog_event_mysql56_test.go
  go/vt/vttablet/common/flags.go
Labels: Type: Enhancement, Component: VReplication, Backport to: release-21.0

#17252 Handle MySQL handler error codes
  go/mysql/sqlerror/constants.go
  go/mysql/sqlerror/sql_error.go
  go/mysql/sqlerror/sql_error_test.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/utils_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Query Serving

#17226 Use proper keyspace when updating the query graph of a reference DML
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases_with_user_as_default.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#17231 Add support for receiving `grpc_bind_adress` on `vttestserver`
  go/vt/servenv/grpc_server.go
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Component: vttestserver

#17178 sqltypes: add ToTime conversion funcs
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/vitessdriver/convert.go
  go/vt/vitessdriver/time.go
  go/vt/vitessdriver/time_test.go
Labels: Type: Internal Cleanup, Component: General

#17249 VReplication: recover from closed connection
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/binlog/binlogplayer/fake_dbclient.go
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/fake_dbclient_test.go
Labels: Type: Bug, Component: VReplication

#17265 Remove unused code for old START_GTID logic
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
Labels: Type: Internal Cleanup, Component: VReplication

#17261 Fix potential deadlock in health streamer
  go/vt/vttablet/tabletserver/health_streamer.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
Labels: Type: Bug, Backport to: release-19.0, Component: VTTablet, Backport to: release-20.0, Backport to: release-21.0

#17267 Fix errant GTID detection in VTOrc to also work with a replica not connected to any primary
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
Labels: Type: Bug, Type: Enhancement, Component: VTorc

#17078 `Applyschema` uses `ExecuteMultiFetchAsDba`
  go/vt/schemamanager/local_controller.go
  go/vt/schemamanager/local_controller_test.go
  go/vt/schemamanager/schemamanager.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/grpcvtctldserver/server.go
Labels: Type: Bug, Component: schema management

#17263 Online DDL: publish `vreplication_lag_seconds` from vreplication progress
  go/vt/sidecardb/schema/onlineddl/schema_migrations.sql
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Enhancement, Component: Online DDL

#17247 A couple `endtoend` cluster tests enhancement
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/cluster/vttablet_process.go
Labels: Component: Build/CI, Type: CI/Build, Type: Testing

#17154 `vtorc`: make SQL formatting consistent
  go/vt/vtorc/db/db.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/disable_recovery.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/process/health.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VTorc

#17262 Multi-metrics throttler: adding InnoDB `history_list_length` metric
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/base/metric_name.go
  go/vt/vttablet/tabletserver/throttle/base/metric_name_test.go
  go/vt/vttablet/tabletserver/throttle/base/self_metric_innodb_history_list_length.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Enhancement, Component: Throttler

#17198 `vtorc`: cleanup init db handling
  go/vt/vtorc/db/db.go
Labels: Type: Internal Cleanup, Component: VTorc

#17287 Errant GTID detection fix for VTOrc
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
Labels: Type: Bug, Component: VTorc

#17285 Fix how we cancel the context in the builtin backup engine
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-21.0

#17277 Fix flakiness in `TestReadTransactionStatus`
  .github/CODEOWNERS
  go/test/endtoend/transaction/twopc/twopc_test.go
Labels: Component: Query Serving, Type: Testing

#16007 Add CI for VTop example
  .github/workflows/vtop_example.yml
  examples/operator/101_initial_cluster.yaml
  test/config.json
  test/vtop_example.sh
  tools/get_kubectl_kind.sh
Labels: Type: Testing, Component: Operator

#17134 VTAdmin: Support for schema migrations view/create
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/schema_migrations.go
  proto/vtadmin.proto
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/dialog/ErrorDialog.tsx
  web/vtadmin/src/components/routes/SchemaMigrations.tsx
  web/vtadmin/src/components/routes/createSchemaMigration/CreateSchemaMigration.module.scss
  web/vtadmin/src/components/routes/createSchemaMigration/CreateSchemaMigration.tsx
  web/vtadmin/src/components/routes/createWorkflow/CreateMaterialize.tsx
  web/vtadmin/src/components/routes/createWorkflow/CreateMoveTables.tsx
  web/vtadmin/src/components/routes/createWorkflow/CreateReshard.tsx
  web/vtadmin/src/components/routes/createWorkflow/ErrorDialog.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/util/schemaMigrations.ts
Labels: Type: Enhancement, Component: VTAdmin
