Repository vitessio/vitess, pull requests merged in 2024-12, with the labels that each got.

#17034 [Direct PR][release-21.0] Add RPC changes segment in the summary doc
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: Documentation

#17293 Add multi table updates in the 2pc fuzzer testing
  go/test/endtoend/transaction/twopc/fuzz/fuzzer_test.go
  go/test/endtoend/transaction/twopc/fuzz/main_test.go
  go/test/endtoend/transaction/twopc/fuzz/schema.sql
  go/test/endtoend/transaction/twopc/fuzz/vschema.json
Labels: Component: Query Serving, Type: Testing

#17218 Improve VTOrc config handling to support dynamic variables
  changelog/22.0/22.0.0/summary.md
  examples/common/scripts/vtorc-up.sh
  examples/common/vtorc/config.json
  examples/common/vtorc/config.yaml
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  go/cmd/vtorc/cli/cli.go
  go/flags/endtoend/vtorc.txt
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/api/config_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/viperutil/debug/debug.go
  go/vt/servenv/servenv.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/config/config_test.go
  go/vt/vtorc/db/db.go
  go/vt/vtorc/discovery/queue.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/audit_dao_test.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/server/api.go
  go/vt/vtorc/server/api_test.go
Labels: Type: Feature, Component: VTorc

#17308 Add test for vindexes in atomic transactions package
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/schema.sql
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/vschema.json
Labels: Component: Query Serving, Type: Testing

#17303 refactor: rename DefaultKeyspace() to CurrentKeyspace()
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/bypass.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/vcursor_impl.go
Labels: Type: Internal Cleanup, Component: Query Serving

#17166 VReplication: Optimize replication on target tablets
  examples/common/scripts/vtctld-up.sh
  examples/common/scripts/vtgate-up.sh
  examples/common/scripts/vttablet-up.sh
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/common/flags.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  proto/binlogdata.proto
Labels: Component: VReplication, Type: Performance

#17266 Track shard session affecting change inside the transaction
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/safe_session.go
  go/vt/vtgate/safe_session_test.go
  go/vt/vtgate/scatter_conn.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: Query Serving

#17328 Allow for dynamic configuration of DDL settings
  go/vt/vtgate/dynamicconfig/config.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ddl.go
  go/vt/vtgate/engine/ddl_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/migration.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/viperconfig.go
  go/vt/vtgate/vtgate.go
Labels: Type: Enhancement, Component: Query Serving

#17305 refactor: VTGate executor with a runnable context package
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_ddl_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_scatter_stats_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/executor_vstream_test.go
  go/vt/vtgate/executorcontext/faketopo.go
  go/vt/vtgate/executorcontext/safe_session.go
  go/vt/vtgate/executorcontext/safe_session_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
  go/vt/vtgate/legacy_scatter_conn_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/show_test.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/scatter_conn_test.go
  go/vt/vtgate/tabletgateway_flaky_test.go
  go/vt/vtgate/tabletgateway_test.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vtgate.go
Labels: Type: Internal Cleanup, Component: Query Serving, Benchmark me

#17335 [main] Bump go version to 1.23.4
  .github/workflows/update_golang_version.yml
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  go.mod
  test.go
  test/templates/dockerfile.tpl
Labels: Type: CI/Build, Component: General, go

#17336 [release-21.0] Bump go version to 1.23.4
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  go.mod
  test.go
  test/templates/dockerfile.tpl
Labels: Type: CI/Build, Component: General, go

#17304 test: Add missing unit tests in `vtctl/workflow`
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/resharder_test.go
Labels: Component: VReplication, Type: Testing

#17339 VReplication: Enable VPlayerBatching in unit tests
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vdbclient.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Component: VReplication, Type: Testing

#17239 VStreamer: For larger compressed transaction payloads, stream the internal contents
  go/mysql/binlog_event_compression.go
  go/mysql/binlog_event_mysql56_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Component: VReplication, Type: Performance

#17332 Fix flakiness in `TestSemiSyncRequiredWithTwoPC`
  go/test/endtoend/transaction/twopc/twopc_test.go
Labels: Component: Query Serving, Type: Testing

#17283 Multi-metrics throttler post v21 cleanup: remove unthrottled entry from topo
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/schemamanager/tablet_executor.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
Labels: Type: Internal Cleanup, Component: Throttler

#17301 LookupVindex: fix CLI to allow creating non-unique lookups with single column
  go/test/endtoend/vreplication/lookupindex_helper_test.go
  go/test/endtoend/vreplication/lookupindex_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
  test/config.json
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17037 fix flaky test on mysqlshell backup engine
  go/vt/mysqlctl/mysqlshellbackupengine.go
  go/vt/mysqlctl/mysqlshellbackupengine_test.go
Labels: Type: Testing, Component: Backup and Restore, Flakes

#17129 `vtorc`: require topo for `Healthy: true` in `/debug/health`
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/vtorc/logic/keyspace_shard_discovery_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/logic/vtorc_test.go
  go/vt/vtorc/process/health.go
  go/vt/vtorc/process/health_test.go
Labels: Type: Bug, Type: Enhancement, Component: VTorc, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17271 Implement a per-file retry mechanism in the `BuiltinBackupEngine`
  .github/workflows/cluster_endtoend_21.yml
  go/test/endtoend/backup/s3/s3_builtin_test.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/backupstorage/interface.go
  go/vt/mysqlctl/blackbox/backup_race_test.go
  go/vt/mysqlctl/blackbox/backup_test.go
  go/vt/mysqlctl/blackbox/utils.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/cephbackupstorage/ceph.go
  go/vt/mysqlctl/errors/errors.go
  go/vt/mysqlctl/fakebackupstorage.go
  go/vt/mysqlctl/filebackupstorage/file.go
  go/vt/mysqlctl/gcsbackupstorage/gcs.go
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_mock.go
  go/vt/wrangler/testlib/backup_test.go
  test/ci_workflow_gen.go
  test/config.json
  test/templates/cluster_endtoend_test.tpl
Labels: Type: Enhancement, Component: Backup and Restore

#17117 Run plan tests in end to end configuration
  .github/workflows/cluster_endtoend_vtgate_plantests.yml
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/plan_tests/main_test.go
  go/test/endtoend/vtgate/plan_tests/plan_e2e_test.go
  go/vt/vtgate/engine/plan_description.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/test_helper.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/schemas/main.sql
  go/vt/vtgate/planbuilder/testdata/schemas/user.sql
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vtgate/vindexes/lookup_cost.go
  go/vt/vtgate/vindexes/vschema_test.go
  test/ci_workflow_gen.go
  test/config.json
Labels: Component: Query Serving, Type: Testing

#17333 Allow dynamic configuration of vschema acl
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
  go/viperutil/internal/sync/sync.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/vschemaacl/vschemaacl.go
  go/vt/vtgate/vschemaacl/vschemaacl_test.go
Labels: Type: Enhancement, Component: Query Serving

#17357 test fix: make sure to keep the skipE2E field around
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Internal Cleanup, Component: Query Serving, Type: Testing

#17343 Flaky test fix: TestMoveTablesSharded and TestMoveTablesUnsharded
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Component: VReplication, Type: Testing, Flakes, Backport to: release-21.0

#17373 use newer versions of actions in scorecard workflow
  .github/workflows/scorecards.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-21.0

#17384 Ensure PRS runs for all the shards in `TestSemiSyncRequiredWithTwoPC`
  go/test/endtoend/transaction/twopc/twopc_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-21.0

#17334 test: Add missing tests for `traffic_switcher.go`
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
Labels: Component: VReplication, Type: Testing

#17387 Fix flaky mysqlctl blackbox test
  go/vt/logutil/logger.go
  go/vt/mysqlctl/blackbox/utils.go
Labels: Type: Testing, Component: TabletManager, Flakes

#17245 VTAdmin(web): Add simpler topology tree structure
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/topology/Topology.tsx
  web/vtadmin/src/components/routes/topologyTree/Node.tsx
  web/vtadmin/src/components/routes/topologyTree/TopologyTree.tsx
  web/vtadmin/src/hooks/api.ts
Labels: Type: Enhancement, Component: VTAdmin

#17276 Ensure all topo read calls consider `--topo_read_concurrency`
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/keyspace.go
  go/vt/topo/server.go
  go/vt/topo/shard.go
  go/vt/topo/stats_conn.go
  go/vt/topo/stats_conn_test.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/vtorc/logic/tablet_discovery.go
Labels: Type: Enhancement, Type: Performance, Component: VTorc, Component: vtctl, Component: VTCombo, Component: Throttler, Component: VTTablet, Component: VTGate

#17393 Consistent lookup vindex tests for atomic distributed transactions
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/schema.sql
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/vschema.json
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/tx_conn.go
Labels: Type: Enhancement, Component: Query Serving, Type: Testing

#17400 Use non-deprecated flags to skip replication
  config/mycnf/default.cnf
  config/mycnf/mariadb10.cnf
  config/mycnf/mysql57.cnf
  config/mycnf/mysql80.cnf
  config/mycnf/mysql8026.cnf
  config/mycnf/mysql84.cnf
  config/mycnf/sbr.cnf
Labels: Type: Internal Cleanup, Component: TabletManager

#17403 test: Include unit tests for `switcher-dry-run`
  go/vt/vtctl/workflow/switcher_dry_run_test.go
Labels: Component: VReplication, Type: Testing

#17397 benchmark: TwoPC commit mode
  go/test/endtoend/transaction/benchmark/bench_test.go
  go/test/endtoend/transaction/benchmark/schema.sql
  go/test/endtoend/transaction/benchmark/vschema.json
  go/test/endtoend/transaction/twopc/utils/utils.go
Labels: Component: Query Serving, Type: Testing

#17405 [release-20.0] parse transaction timeout as duration (#16338)
  go/cmd/vttestserver/cli/main.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Bug, Component: vttestserver, Backport

#17406 [release-19.0] parse transaction timeout as duration (#16338)
  go/cmd/vttestserver/cli/main.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Bug, Component: vttestserver, Backport

#17342 Range Query Optimization (For sequential Vindex types)
  go/test/endtoend/vtgate/plan_tests/main_test.go
  go/test/endtoend/vtgate/plan_tests/plan_e2e_test.go
  go/vt/key/key.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/sampledata/user.sql
  go/vt/vtgate/planbuilder/testdata/schemas/main.sql
  go/vt/vtgate/planbuilder/testdata/schemas/user.sql
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/vindexes/binary.go
  go/vt/vtgate/vindexes/binary_test.go
  go/vt/vtgate/vindexes/numeric.go
  go/vt/vtgate/vindexes/vindex.go
Labels: Type: Enhancement, Component: Query Serving

#17418 Backport v19: Fixing Column aliases in outer join queries (#15384)
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Component: Query Serving, Backport, Type: Regression

#17416 Bump golang.org/x/net from 0.31.0 to 0.33.0
  go.mod
  go.sum
Labels: Component: General, Type: Dependencies, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0, Security

#17413 Export `BuildSummary` func for VDiff show
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff_test.go
  go/vt/vtadmin/api.go
  go/vt/vtctl/workflow/vdiff.go
  go/vt/vtctl/workflow/vdiff_test.go
Labels: Type: Enhancement, Component: VReplication

#17242 Refactor `Server.LookupVindexCreate`
  go/vt/vtctl/workflow/lookup_vindex.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Internal Cleanup, Component: VReplication

#17428 VReplication: Handle --vreplication_experimental_flags options properly for partial images
  go/vt/vttablet/tabletmanager/vreplication/table_plan_partial.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Bug, Component: VReplication

#17289 Add a way to know if DemotePrimary is blocked and send it in the health stream
  go/vt/vterrors/code.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletservermock/controller.go
Labels: Type: Feature, Component: VTTablet

#17423 LookupVindex bug fix: Fix typos from PR 17301
  go/test/endtoend/vreplication/lookup_vindex_helper_test.go
  go/test/endtoend/vreplication/lookup_vindex_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17392 CobraDocs: Remove commit hash from docs. Fix issue with workdir replacement
  go/cmd/internal/docgen/docgen.go
  go/cmd/internal/docgen/docgen_test.go
Labels: Type: Documentation, Type: Enhancement, Component: Documentation

#17171 add S3 minimum part size defined by the user
  examples/operator/operator.yaml
  go.mod
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vttablet.txt
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/s3backupstorage/s3_mock.go
  go/vt/mysqlctl/s3backupstorage/s3_test.go
Labels: Type: Enhancement, Component: Backup and Restore

#17432 Fix week number for date_format evalengine function
  go/mysql/datetime/spec.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Bug, Component: Evalengine

#17417 Fix Data race in semi-join
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/semi_join.go
  go/vt/vtgate/engine/semi_join_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17444 [Direct PR] [V21 backport] CobraDocs: Remove commit hash from docs. Fix issue with workdir replacement (#17392)
  go/cmd/internal/docgen/docgen.go
  go/cmd/internal/docgen/docgen_test.go
Labels: Type: Enhancement, Component: Documentation, Backport to: release-19.0, Backport to: release-20.0

#17452 [release-21.0] Fix week number for date_format evalengine function (#17432)
  go/mysql/datetime/spec.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Bug, Backport, Component: Evalengine

#17453 [release-20.0] Fix week number for date_format evalengine function (#17432)
  go/mysql/datetime/spec.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Bug, Backport, Component: Evalengine

#17454 [release-19.0] Fix week number for date_format evalengine function (#17432)
  go/mysql/datetime/spec.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vttablet/tabletserver/health_streamer.go
Labels: Type: Bug, Backport, Component: Evalengine

#17440 Flaky TestMoveTables(Un)sharded: Handle race condition
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Component: VReplication, Type: Testing, Flakes, Backport to: release-21.0
