Repository vitessio/vitess, pull requests merged in 2024-06, with the labels that each got.

#16030 `ApplySchema`: reroute `ALTER VITESS_MIGRATION ... THROTTLE ...` via `UpdateThrottlerConfig`
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/vt/schemamanager/tablet_executor.go
Labels: Type: Bug, Component: TabletManager, Component: Online DDL, Component: Throttler

#15919 Add support for sampling rate in `streamlog`
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/streamlog/streamlog.go
  go/streamlog/streamlog_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: VTTablet, Component: VTGate

#16036 Add CODEOWNERS for tablet throttler and schemadiff
  .github/CODEOWNERS
Labels: Component: Build/CI, Type: CI/Build

#15911 `vtgate`: support filtering tablets by tablet-tags
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: VTGate

#15969 Update `operator.yaml` and add schedule backup example
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: Examples

#15897 Add sql text counts stats to `vtcombo`,`vtgate`+`vttablet`
  changelog/20.0/20.0.0/summary.md
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Query Serving, Component: Observability, Component: VTCombo, Component: VTTablet, Component: VTGate

#16044 Add changelogs for PR #15911 and #15919
  changelog/20.0/20.0.0/summary.md
Labels: Type: Documentation, Component: VTTablet, Component: VTGate

#16046 [release-20.0-rc] Code Freeze for `v20.0.0-RC1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#16047 Bump to `v21.0.0-SNAPSHOT` after the `v20.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#16053 Add `release-20.0` to the list of branches to upgrade the Go version on
  .github/workflows/update_golang_version.yml
Labels: Type: Internal Cleanup, Component: Build/CI

#16052 Add DCO workflow
  .github/workflows/dco.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16017 CI upgrade/downgrade tests for Online DDL / throttler / vreplication flow
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  test/config.json
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Component: Online DDL, Component: Throttler

#16066 Online DDL flow CI: Update golang version to 1.22.4
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
Labels: Component: Build/CI, Type: Testing

#16068 Handle single sharded keyspaces for analysis
  go/vt/schemadiff/schema_diff_test.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving

#16073 Fix schemadiff semantics handling
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/schema_test.go
  go/vt/schemadiff/semantics.go
Labels: Type: Bug, Component: Query Serving

#16071 Online DDL: Fail a --in-order-completion migration, if a _prior_ migration within the same context is 'failed' or 'cancelled'
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Bug, Component: Online DDL

#16048 Changelog 20.0: Fix broken links
  changelog/20.0/20.0.0/summary.md
Labels: Type: Documentation, Component: Documentation, Backport to: release-20.0-rc, Backport to: release-20.0

#16069 `schemadiff`: adding a FK dependency unit test
  go/vt/schemadiff/schema_diff_test.go
Labels: Component: Query Serving, Type: Testing

#16065 v20 backport: CI upgrade/downgrade tests for Online DDL / throttler / vreplication flow
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  test/config.json
Labels: Component: VReplication, Type: Testing, Backport, Component: Online DDL, Component: Throttler, Backport to: release-20.0-rc

#16079 refactor: cleaner cloning API
  go/test/endtoend/vtgate/queries/random/query_gen.go
  go/test/fuzzing/ast_fuzzer.go
  go/vt/schema/online_ddl.go
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/view.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/querygraph.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/upsert.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Component: Query Serving, Benchmark me

#16016 Linkname removal (step 1)
  go/cache/theine/store.go
  go/hack/compat.go
  go/hack/hack.go
  go/hack/msize.go
  go/hack/runtime.go
  go/mysql/fastparse/atof.go
  go/mysql/fastparse/eisel_lemire.go
  go/mysql/fastparse/fastparse.go
  go/mysql/fastparse/fastparse_test.go
  go/vt/vtgate/evalengine/weights.go
Labels: Type: Internal Cleanup, Component: Build/CI

#16087 Remove DCO workaround
  .github/workflows/dco.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16081 `schemadiff`: improved diff ordering with various foreign key strategies
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Query Serving, Component: Online DDL

#16080 Add parsing support for `ANY`/`SOME`/`ALL` comparison modifiers.
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/check_invalid.go
Labels: Type: Enhancement, Component: Query Serving

#16103 [release-19.0] Add timeout to all the contexts used for RPC calls in vtorc (#15991)
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Backport, Component: VTorc

#16105 [release-17.0] Add timeout to all the contexts used for RPC calls in vtorc (#15991)
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Backport, Component: VTorc

#16107 Add `timvaillancourt` to some `CODEOWNERS` paths
  .github/CODEOWNERS
Labels: Type: Internal Cleanup, Component: Governance

#16104 [release-18.0] Add timeout to all the contexts used for RPC calls in vtorc (#15991)
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Backport, Component: VTorc

#16111 Fix the email in `pom.xml`
  java/pom.xml
Labels: Type: Internal Cleanup, Component: Governance

#16109 Ensure that we check the correct collation for foreign keys
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Bug, Component: Online DDL

#16086 Deprecated metrics deletion
  changelog/21.0/21.0.0/summary.md
  changelog/21.0/README.md
  changelog/README.md
  go/stats/counter.go
  go/stats/counter_test.go
  go/stats/counters.go
  go/stats/counters_test.go
  go/stats/timings.go
  go/stats/timings_test.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Internal Cleanup, Component: General

#16115 Update braces package
  web/vtadmin/package-lock.json
Labels: dependencies, Component: VTAdmin, Type: Dependencies, javascript, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0, Release Blocker: release-20.0

#16096 vtctldclient: Apply (Shard | Keyspace| Table) Routing Rules commands don't work
  go/cmd/vtctldclient/command/keyspace_routing_rules.go
  go/cmd/vtctldclient/command/routing_rules.go
  go/cmd/vtctldclient/command/shard_routing_rules.go
  go/json2/unmarshal.go
  go/json2/unmarshal_test.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#15977 VReplication: Improve workflow cancel/delete
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/topo/shard.go
  go/vt/topo/shard_test.go
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0-rc, Backport to: release-20.0

#16049 fix: order by subquery planning
  go/test/endtoend/vtgate/queries/subquery/schema.sql
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/queries/subquery/vschema.json
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/fuzz.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/planner_test.go
  go/vt/vtgate/planbuilder/predicate_rewrite_test.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/set.go
  go/vt/vtgate/planbuilder/show_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/vtgate/planbuilder/vstream.go
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0, Release Blocker: release-20.0

#16138 `schemadiff`: only compare column collations if of textual type
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Bug, Component: Query Serving

#16137 [release-20.0-rc] Release of `v20.0.0-RC1`
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
  changelog/20.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Do Not Merge, Type: Release

#16140 [main] Copy `v20.0.0-RC1` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
  changelog/20.0/README.md
Labels: Component: General, Type: Release

#16141 [release-20.0] Copy `v20.0.0-RC1` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
  changelog/20.0/README.md
Labels: Component: General, Type: Release

#16142 [release-20.0-rc] Bump to `v20.0.0-SNAPSHOT` after the `v20.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16144 Revert "[release-20.0-rc] Bump to `v20.0.0-SNAPSHOT` after the `v20.00-RC1` release (#16142)"
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: Build/CI, Type: CI/Build

#16145 Docker/vtadmin: Update node version
  docker/binaries/vtadmin/Dockerfile
  docker/local/install_local_dependencies.sh
Labels: Component: VTAdmin, Type: CI/Build, Component: Docker

#16146 [release-20.0-rc] Bump to `v20.0.0-SNAPSHOT` after the `v20.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16148 CI Bug: Rename shard name back to match existing workflow file for vreplication_migrate_vdiff2_convert_tz
  .github/workflows/cluster_endtoend_22.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Bug, Component: Build/CI, Component: VReplication, Backport to: release-20.0

#15959 Fix dual merging in outer join queries
  go/test/endtoend/vtgate/gen4/gen4_test.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving

#16129 Fix `vtexplain` not handling `UNION` queries with `weight_string` results correctly.
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/multi-output/updatesharded-output.txt
  go/vt/vtexplain/testdata/selectsharded-queries.sql
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vttablet.go
Labels: Type: Bug, Component: vtexplain, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16152 Run more test on release-19 branch
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/reference/reference_test.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
Labels: Component: Build/CI, Type: Testing

#16147 Docker: Update node vtadmin version
  docker/binaries/vtadmin/Dockerfile
  docker/local/install_local_dependencies.sh
Labels: Component: VTAdmin, Type: CI/Build, Component: Docker, Backport to: release-20.0

#16159 Fix flakiness in `vtexplain` unit test case.
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtexplain/testdata/selectsharded-queries.sql
Labels: Type: Testing, Component: vtexplain, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16164 Add Summary in unit-race workflow
  .github/workflows/unit_race.yml
  .github/workflows/unit_race_evalengine.yml
Labels: Type: Testing, Component: General

#16150 fix flaky test TestQueryTimeoutWithShardTargeting
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-20.0

#16181 fix: rows affected count for multi table update for non-literal column value
  go/vt/vtgate/engine/dml_with_input.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0-rc, Backport to: release-20.0

#16114 Adding Distributed Transaction Test
  go/test/endtoend/vtgate/transaction/twopc/main_test.go
  go/test/endtoend/vtgate/transaction/twopc/schema.sql
  go/test/endtoend/vtgate/transaction/twopc/twopc_test.go
  go/test/endtoend/vtgate/transaction/twopc/vschema.json
  go/vt/vttablet/tabletserver/twopc.go
  test/config.json
Labels: Component: Query Serving, Type: Testing

#16038 test: Replace t.fatalf with testify require
  go/tools/asthelpergen/asthelpergen_test.go
  go/trace/trace_test.go
  go/vt/binlog/binlog_streamer_rbr_test.go
  go/vt/binlog/tables_filter_test.go
  go/vt/wrangler/tablet_test.go
  go/vt/wrangler/vexec_test.go
  go/vt/zkctl/zkctl_test.go
Labels: Component: Build/CI, Type: Testing

#16174 Handle Nullability for Columns from Outer Tables
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16180 CI flaky test: Fix flakiness in vreplication_migrate_vdiff2_convert_tz
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
Labels: Type: Bug, Component: Build/CI, Component: VReplication, Flakes, Backport to: release-20.0

#15797 VReplication: Improve handling of vplayer stalls
  go/test/endtoend/vreplication/cluster_test.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/relaylog.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  tools/unit_test_runner.sh
Labels: Type: Enhancement, Component: VReplication

#16153 feat: add a LIMIT 1 on EXISTS subqueries to limit network overhead
  go/vt/vtexplain/testdata/multi-output/selectsharded-output.txt
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/query_planning_test.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Enhancement, Component: Query Serving, Type: Regression, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16177 VDiff CLI: Fix VDiff `show` bug
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16196 Remove unnecessary Docker build workflows
  .github/workflows/docker_build_images.yml
  .github/workflows/docker_build_old_base.yml
  .github/workflows/docker_build_old_lite.yml
Labels: Type: Internal Cleanup, Component: Docker, Backport to: release-20.0-rc, Backport to: release-20.0

#16203 CI: increase timeout for Online DDL foreign key stress tests
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL

#16210 CI: wait-for rather than 'assume' in Online DDL flow
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL

#16178 Fix flaky tests that use vtcombo
  go/cmd/vttestserver/cli/main_test.go
  go/vt/vttest/environment.go
Labels: Type: Testing, Component: VTCombo, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16214 Flaky test fix `TestCanGetKeyspaces`
  go/cmd/vttestserver/cli/main_test.go
Labels: Type: Testing, Component: vttestserver

#16127 Vitess tester workflow
  .github/workflows/vitess_tester_vtgate.yml
  go/test/endtoend/vtgate/vitess_tester/tpcc/tpcc.test
  go/test/endtoend/vtgate/vitess_tester/tpch/tpch.test
  test/ci_workflow_gen.go
  test/templates/cluster_vitess_tester.tpl
Labels: Component: Query Serving, Type: Testing

#16169 VReplication: handle escaped identifiers in vschema when initializing sequence tables
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  tools/unit_test_race.sh
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0-rc, Backport to: release-20.0

#16217 VReplication Workflow: set state correctly when restarting workflow streams in the copy phase
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0-rc, Backport to: release-20.0

#16216 CI: testing self referencing tables in foreign key stress tests
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Online DDL, Component: VTGate

#16225 [release-20.0-rc] Release of `v20.0.0-RC2`
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Do Not Merge, Type: Release

#16234 [main] Copy `v20.0.0-RC2` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
Labels: Component: General, Type: Release

#16235 [release-20.0] Copy `v20.0.0-RC2` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#16236 [release-20.0-rc] Bump to `v20.0.0-SNAPSHOT` after the `v20.0.0-RC2` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16227 Correct Handling of UNION Queries with Literals in the Vitess Planner
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving

#16241 release notes: update dml related release notes
  changelog/20.0/20.0.0/summary.md
Labels: Type: Documentation, Component: General, Backport to: release-20.0-rc, Backport to: release-20.0

#16237 Group Concat function support for separator
  .gitignore
  go/test/endtoend/vtgate/vitess_tester/aggregation/aggregation.test
  go/vt/sqlparser/constants.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Type: Enhancement, Component: Query Serving

#16097 VReplication: LookupVindex create use existing artifacts when possible
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication

#16113 VIndexes: Stop recommending md5 based vindex types as md5 is considered insecure
  go/cmd/vtctldclient/command/vreplication/lookupvindex/lookupvindex.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Query Serving

#16252 [release-20.0] Fix vtgate crash in group concat
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
Labels: Type: Bug, Component: Query Serving, Backport

#16255 sqlparser: Remove unneeded escaping
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/binlog/binlogplayer/binlog_player_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator_test.go
  go/vt/vttablet/tabletmanager/vreplication/journal_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/resharder_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16257 Fix codegen
  .github/workflows/static_checks_etc.yml
  go/vt/sqlparser/ast_format_fast.go
  tools/check_astfmtgen.sh
Labels: Type: Internal Cleanup, Component: Query Serving

#16251 Parsing `Json_arrayagg` and `Json_objectagg` to allow some queries to work
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving

#16263 Fix Incorrect Optimization with LIMIT and GROUP BY
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16259 Release docs: Add vreplication related entries to the v20 summary
  changelog/20.0/20.0.0/summary.md
Labels: Type: Documentation, Component: VReplication, Backport to: release-20.0-rc, Backport to: release-20.0

#16258 [release-20.0-rc] Release of `v20.0.0`
  .github/workflows/code_freeze.yml
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
  changelog/20.0/20.0.0/summary.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Do Not Merge, Type: Release

#16273 [main] Copy `v20.0.0` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
Labels: Component: General, Type: Release

#16274 [release-20.0] Copy `v20.0.0` release notes
  changelog/20.0/20.0.0/changelog.md
  changelog/20.0/20.0.0/release_notes.md
Labels: Component: General, Type: Release

#16275 [release-20.0-rc] Bump to `v20.0.1-SNAPSHOT` after the `v20.0.0` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16276 [release-20.0] Bump to `v20.0.1-SNAPSHOT` after the `v20.0.0` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16277 Make sure end to end test actually tests the fix
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
Labels: Component: Query Serving, Type: Testing

#16232 feat: make the arguments print themselves with type info
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parsed_query_test.go
  go/vt/vtexplain/testdata/twopc-output/unsharded-output.txt
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/rails_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/planbuilder/testdata/wireup_cases.json
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#16282 Fix the `v19.0.0` release notes and use the `vitess/lite` image for the MySQL container
  changelog/19.0/19.0.0/release_notes.md
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
Labels: Type: Bug, Component: Examples, Component: Documentation, Backport to: release-19.0, Backport to: release-20.0

#16287 [release-20.0] Update post release `v20.0.0`
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
Labels: Type: Internal Cleanup, Component: General

#16265 test: Remove unreachable test skipping
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded/st_sharded_test.go
Labels: Component: Query Serving, Type: Testing

#16264 No usage of math/rand
  .golangci.yml
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/vtctl/workflow/utils_test.go
Labels: Type: Internal Cleanup, Component: General

#16249 Update eol-process.md
  doc/internal/release/eol-process.md
Labels: Type: Internal Cleanup, Component: Documentation

#16280 deprecate queryserver-enable-settings-pool flag
  changelog/21.0/21.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/reparent/prssettingspool/main_test.go
  go/test/endtoend/vtgate/reservedconn/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect1/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect2/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vttablet/endtoend/reserve_test.go
  go/vt/vttablet/endtoend/settings_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16283 VReplication: Properly handle target shards w/o a primary in Reshard
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vtctl/workflow/resharder_test.go
  go/vt/vtctl/workflow/server.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0

#16293 Remove unnecessary node install step in local/region examples workflow
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
Labels: Type: Internal Cleanup, Component: Build/CI
