Repository vitessio/vitess, pull requests merged in 2024-05, with the labels that each got.

#15698 Online DDL: better support for range partitioning
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/schema/ddl_strategy.go
  go/vt/schema/ddl_strategy_test.go
  go/vt/schemadiff/analysis.go
  go/vt/schemadiff/analysis_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/vttablet/onlineddl/analysis.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Online DDL

#15725 `schemadiff` INSTANT DDL: impossible changes on tables with `FULLTEXT` index
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Bug, Component: Online DDL

#15809 Remove mysql 5.7 tests that are no longer required
  .github/workflows/cluster_endtoend_backup_pitr_mysql57.yml
  .github/workflows/cluster_endtoend_backup_pitr_xtrabackup_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_revert_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_scheduler_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite_mysql57.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite_mysql57.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl_mysql57.yml
  .github/workflows/cluster_endtoend_tabletmanager_tablegc_mysql57.yml
  .github/workflows/cluster_endtoend_vtorc_mysql57.yml
  .github/workflows/cluster_endtoend_xb_backup_mysql57.yml
  .github/workflows/cluster_endtoend_xb_recovery_mysql57.yml
  test/ci_workflow_gen.go
Labels: Type: Internal Cleanup, Type: Testing, Component: General

#15825 [VTAdmin] Remove vtctld web link, improve local example (#15607)
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
  web/vtadmin/src/components/routes/Vtctlds.tsx
Labels: Type: Bug, Component: VTAdmin

#15827 endtoend: Remove usage of deprecated terminology
  .github/workflows/docker_build_old_base.yml
  .github/workflows/docker_build_vttestserver.yml
  doc/DockerBuild.md
  docker/local/Dockerfile
  docker/test/run.sh
  docker/vttestserver/Dockerfile.mysql57
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/vreplication/testdata/config/init_testserver_db.sql
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/test/endtoend/vtorc/utils/utils.go
  test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Component: VTorc, Component: Backup and Restore

#15824 [VTAdmin] Remove vtctld web link, improve local example (#15607)
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
  web/vtadmin/src/components/routes/Vtctlds.tsx
Labels: Type: Bug, Component: VTAdmin

#15832 mysqlctld: Remove unneeded resets in init_db.sql
  config/init_db.sql
  examples/compose/config/init_db.sql
  examples/operator/101_initial_cluster.yaml
  go/test/endtoend/vreplication/testdata/config/init_testserver_db.sql
Labels: Type: Internal Cleanup, Component: TabletManager

#15829 Add tests for GetTablets partial results
  go/test/endtoend/clustertest/vtctld_test.go
  go/vt/topo/etcd2topo/server_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Testing, Component: vtctldclient

#15831 Fix derived table bug
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
Labels: Type: Bug, Component: Query Serving

#15834 CI workflows: Split long running vreplication workflows
  .github/workflows/cluster_endtoend_vreplication_copy_parallel.yml
  .github/workflows/cluster_endtoend_vreplication_mariadb_to_mysql.yml
  test/ci_workflow_gen.go
  test/config.json
Labels: Type: Feature Request, Component: Build/CI

#15838 Fix CTE query by fixing bindvar pushing in unions
  go/test/endtoend/vtgate/queries/derived/cte_test.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Bug, Component: Query Serving

#15839 Update VTAdmin build script
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
Labels: Component: VTAdmin, Type: CI/Build, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15851 add Tim Vaillancourt to maintainers
  MAINTAINERS.md
Labels: Type: Announcement, Component: Governance

#15844 Delete the deprecated pool size flags
  changelog/20.0/20.0.0/summary.md
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15841 Fix Foreign key fuzzer to ignore rows affected
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/random/random_test.go
  go/test/endtoend/vtgate/queries/random/simplifier_test.go
Labels: Component: Query Serving, Type: Testing

#15796 Fix regression where inserts into reference tables with a different name on sharded keyspaces were not routed correctly.
  go/test/endtoend/vreplication/reference_test.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-19.0

#15856 mysqlctl: Improve backup restore compatibility check
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/backupengine_test.go
  go/vt/mysqlctl/version.go
Labels: Type: Enhancement, Component: Backup and Restore

#15853 Add Shopify to `ADOPTERS.md`
  ADOPTERS.md
Labels: Type: Documentation, Component: General

#15788 [release-18.0] Direct PR. Fix regression where reference tables with a different name on sharded keyspaces were not routed correctly.
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/reference_test.go
  go/vt/vtgate/planbuilder/dml_planner.go
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression

#15862 Fix wrong assignment to `sql_id_opt` in the parser
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15870 Add @mattlord as CODEOWNER for vtctld[client] related things
  .github/CODEOWNERS
Labels: Component: Build/CI, Type: CI/Build

#15871 `schemadiff`: more `INSTANT` DDL compliance
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
  go/vt/vttablet/onlineddl/analysis_test.go
Labels: Type: Bug, Component: Query Serving

#15872 `schemadiff`: adding charset/collation tests
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/table_test.go
Labels: Component: Query Serving, Type: Testing

#15843 `schemadiff`: atomic diffs for range partition `DROP PARTITION` statement
  go/vt/schemadiff/diff.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/schemadiff/view.go
  go/vt/schemadiff/view_test.go
Labels: Type: Enhancement, Component: Query Serving

#15874 [release-19.0] Code Freeze for `v19.0.4`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15876 [release-18.0] Code Freeze for `v18.0.5`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15878 [release-17.0] Code Freeze for `v17.0.7`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15882 [release-19.0] Release of `v19.0.4`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.4/changelog.md
  changelog/19.0/19.0.4/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15883 [release-18.0] Release of `v18.0.5`
  .github/workflows/code_freeze.yml
  changelog/18.0/18.0.5/changelog.md
  changelog/18.0/18.0.5/release_notes.md
  changelog/18.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15884 [release-17.0] Release of `v17.0.7`
  .github/workflows/code_freeze.yml
  changelog/17.0/17.0.7/changelog.md
  changelog/17.0/17.0.7/release_notes.md
  changelog/17.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15887 Copy `v19.0.4` release notes on `main`
  changelog/19.0/19.0.4/changelog.md
  changelog/19.0/19.0.4/release_notes.md
  changelog/19.0/README.md
Labels: Component: General, Type: Release

#15886 Copy `v18.0.5` release notes on `main`
  changelog/18.0/18.0.5/changelog.md
  changelog/18.0/18.0.5/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#15890 Copy `v17.0.7` release notes on `main`
  changelog/17.0/17.0.7/changelog.md
  changelog/17.0/17.0.7/release_notes.md
  changelog/17.0/README.md
Labels: Component: General, Type: Release

#15888 [release-18.0] Bump to `v18.0.6-SNAPSHOT` after the `v18.0.5` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15889 [release-19.0] Bump to `v19.0.5-SNAPSHOT` after the `v19.0.4` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15859 [18.x] Fix `schemacopy` collation issues
  go/mysql/schema.go
  go/vt/sidecardb/schema/schematracker/schemacopy.sql
Labels: Type: Bug, Backport to: release-17.0, Component: VTTablet

#15891 [release-17.0] Bump to `v17.0.8-SNAPSHOT` after the `v17.0.7` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15899 fix: handle info_schema routing
  go/vt/vtgate/planbuilder/testdata/other_read_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15898 allow query timeout hints on shard targeting
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/send.go
  go/vt/vtgate/planbuilder/bypass.go
  go/vt/vtgate/planbuilder/testdata/bypass_shard_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15901 fix: handle table_schema = '' without failing
  go/test/endtoend/vtgate/queries/informationschema/informationschema_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/routing.go
Labels: Type: Bug, Component: Query Serving

#15835 Update env.sh so that is does not error when running on Mac
  examples/common/env.sh
Labels: Type: Internal Cleanup, Component: Examples, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15845 VStreamer unit tests: refactor pending test
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Component: VReplication, Type: Testing

#15847 Etcd2Topo: Use node's ModRevision consistently for in-memory topo.Version value
  go/vt/topo/etcd2topo/watch.go
  go/vt/topo/etcd2topo/watch_test.go
Labels: Type: Internal Cleanup, Component: Topology

#15894 Add error transformer to vtgate executor
  go/vt/vtgate/executor.go
Labels: Type: Enhancement, Component: Query Serving

#15922 test: Cleaner plan tests output
  .gitignore
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-18.0, Backport to: release-19.0

#15930 feat: add support for WITH ROLLUP
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/random/query_gen.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/simplifier/simplifier.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving

#15907 mysql: Handle more deprecated SQL commands
  examples/compose/fix_replication.sh
  go/mysql/constants.go
  go/mysql/endtoend/replication_test.go
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_legacy.go
  go/mysql/flavor_mysql_test.go
  go/mysql/flavor_mysqlgr.go
  go/mysql/replication.go
  go/mysql/replication/primary_status.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/binlog/binlog_connection.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/proto/replicationdata/replicationdata.pb.go
  go/vt/proto/tabletmanagerdata/tabletmanagerdata.pb.go
  go/vt/vtctl/grpcvtctldserver/endtoend/init_shard_primary_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/wrangler/testlib/backup_test.go
  proto/replicationdata.proto
  proto/tabletmanagerdata.proto
Labels: Type: Internal Cleanup, Component: TabletManager

#15939 refactor: introduce helper method to extract logic
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/semantics/binder.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15938 Remove the default for replica-net-timeout
  config/mycnf/mysql80.cnf
Labels: Type: Bug, Component: Cluster management

#15928 go/cmd: Audit and fix context.Background() usage
  go/cmd/mysqlctl/command/init.go
  go/cmd/mysqlctl/command/shutdown.go
  go/cmd/mysqlctl/command/start.go
  go/cmd/mysqlctl/command/teardown.go
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/topo2topo/cli/topo2topo.go
  go/cmd/vtadmin/main.go
  go/cmd/vtbackup/cli/vtbackup.go
  go/cmd/vtbench/cli/vtbench.go
  go/cmd/vtclient/cli/vtclient.go
  go/cmd/vtclient/cli/vtclient_test.go
  go/cmd/vtcombo/cli/main.go
  go/cmd/vtcombo/cli/vschema_watcher.go
  go/cmd/vtctld/cli/cli.go
  go/cmd/vtctld/cli/schema.go
  go/cmd/vtctldclient/command/legacy_shim.go
  go/cmd/vtctldclient/command/root.go
  go/cmd/vtexplain/cli/vtexplain.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vttablet/cli/cli.go
Labels: Type: Bug, Type: Internal Cleanup, Component: Query Serving, Component: TabletManager, Component: VTTablet

#15885 test: Add tests for `go/ioutil` and refactor existing
  go/hack/hack_test.go
  go/ioutil/meter_test.go
  go/ioutil/reader_test.go
  go/ioutil/writer_test.go
  go/jsonutil/json_test.go
Labels: Type: Testing, Component: General

#15943 Fix aliasing in queries by keeping required projections
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving

#15893 test: Add required tests for `go/logstats`
  go/logstats/logger_test.go
Labels: Component: Query Serving, Type: Testing

#15920 test: Add missing/required tests for `sqltypes` and `mathstats`
  go/mathstats/sample_test.go
  go/sqltypes/bind_variables_test.go
  go/sqltypes/named_result_test.go
  go/sqltypes/result_test.go
  go/sqltypes/value_test.go
Labels: Component: Query Serving, Type: Testing

#15956 fix: derived table join column expression to be part of add join predicate on rewrite
  go/test/endtoend/vtgate/queries/derived/derived_test.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-19.0

#15961 fix: insert on duplicate update to add list argument in the bind variables map
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_test.go
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0, Backport to: release-19.0

#15948 vtorc: Switch to Vitess stats
  go.mod
  go.sum
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/audit_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Internal Cleanup, Component: VTorc

#15964 [release-19.0] test: Cleaner plan tests output (#15922)
  .gitignore
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Component: Query Serving, Type: Testing, Backport

#15972 Upgrade the golang version used `vitess-mixin`
  go/tools/go-upgrade/go-upgrade.go
  vitess-mixin/go.mod
  vitess-mixin/go.sum
Labels: Type: Internal Cleanup, Component: Observability

#15976 test: Add required tests for `vt/key`, `timer` and `cache/theine/bf`
  go/cache/theine/bf/bf_test.go
  go/timer/timer_test.go
  go/vt/key/destination_test.go
  go/vt/key/key_test.go
Labels: Type: Testing, Component: General

#15912 SchemaEngine: Ensure GetTableForPos returns table schema for "current" position by default
  go/mysql/fakesqldb/server.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/journal_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/historian_test.go
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/resultstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/tablestreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL

#15986 Update `github.com/Azure/go-autorest/autorest/adal` to fix Dependabot alert
  vitess-mixin/go.mod
  vitess-mixin/go.sum
Labels: Component: Observability, Type: Dependencies

#15934 Fix PromoteReplica call in ERS
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Labels: Type: Bug, Component: Cluster management

#15993 Fix Data race in tests introduced in #15934
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Labels: Component: Cluster management, Type: Testing

#15973 messager: add consistent log prefix w/ table name
  go/vt/vttablet/tabletserver/messager/message_manager.go
Labels: Type: Internal Cleanup, Component: Messaging

#15989 Remove self-hosted runners in ci_workflow_gen
  GITHUB_SELF_HOSTED_RUNNERS.md
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test_self_hosted.tpl
  test/templates/unit_test_self_hosted.tpl
Labels: Type: Internal Cleanup, Component: Build/CI

#15981 Add lock shard docs
  doc/design-docs/TopoLocks.md
Labels: Type: Documentation, Component: Topology

#15991 Add timeout to all the contexts used for RPC calls in vtorc
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Component: VTorc

#15962 Improve WaitForPos errors, don't include Result struct in message
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/engine_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication

#15979 connpool: Allow time out during shutdown
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/endtoend/stream_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/debugenv.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15998 CI: Address data race in TestSchemaVersioning
  go/vt/vttablet/endtoend/vstreamer_test.go
Labels: Component: Build/CI, Type: Testing

#15840 feat: optimise outer joins
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/vt/vtgate/engine/limit.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/joins.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/vindex_func_cases.json
  go/vt/vtgate/planbuilder/testdata/wireup_cases.json
Labels: Type: Enhancement, Component: Query Serving

#16000 `schemadiff`: assume default collation for textual column when collation is undefined
  go/vt/schemadiff/column.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: Query Serving

#16008 Decouple topotools from vschema
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16011 Online DDL: fix flaky `onlineddl_scheduler` CI test
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
Labels: Type: CI/Build, Component: Online DDL

#15996 Local Examples: Add --binary-as-hex=false flag to mysql alias
  examples/common/env.sh
Labels: Type: Internal Cleanup, Component: Examples

#16006 refactor: remove logical plan interface
  go/vt/sqlparser/constants.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/memory_sort.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/semi_join.go
  go/vt/vtgate/engine/semi_join_test.go
  go/vt/vtgate/engine/sql_calc_found_rows.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/concatenate.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/distinct.go
  go/vt/vtgate/planbuilder/dml_with_input.go
  go/vt/vtgate/planbuilder/filter.go
  go/vt/vtgate/planbuilder/fk_cascade.go
  go/vt/vtgate/planbuilder/fk_verify.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/join.go
  go/vt/vtgate/planbuilder/limit.go
  go/vt/vtgate/planbuilder/logical_plan.go
  go/vt/vtgate/planbuilder/memory_sort.go
  go/vt/vtgate/planbuilder/merge_sort.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/ordered_aggregate.go
  go/vt/vtgate/planbuilder/planner.go
  go/vt/vtgate/planbuilder/primitive_wrapper.go
  go/vt/vtgate/planbuilder/projection.go
  go/vt/vtgate/planbuilder/route.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/semi_join.go
  go/vt/vtgate/planbuilder/sequential.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/simple_projection.go
  go/vt/vtgate/planbuilder/single_sharded_shortcut.go
  go/vt/vtgate/planbuilder/sql_calc_found_rows.go
  go/vt/vtgate/planbuilder/uncorrelated_subquery.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/upsert.go
  go/vt/vtgate/planbuilder/vindex_func.go
  go/vt/vtgate/planbuilder/vindex_op.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#16019 fix: remove keyspace when merging subqueries
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15941 Remove legacy `EmergencyReparentShard` stats
  changelog/20.0/20.0.0/summary.md
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
Labels: Type: Internal Cleanup, Component: Observability, Component: VTorc, Component: vtctl

#16021 Fix documentation for `--lock-timeout`
  changelog/20.0/20.0.0/summary.md
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/vt/topo/locks.go
Labels: Type: Internal Cleanup, Component: Topology

#15932 Validate go versions in Static Code Checks CI
  .github/workflows/static_checks_etc.yml
  tools/check_go_versions.sh
Labels: Component: Build/CI, Type: CI/Build

#16001 Tablet throttler: recent check diff fix
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Bug, Component: Throttler

#16028 `schemadiff`: ALTER TABLE is not INSTANT-able if adding column with default expression value
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving

#16013 Tablet throttler: remove `LowPriority` logic
  go/vt/vttablet/tabletmanager/rpc_throttler.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/check.go
  go/vt/vttablet/tabletserver/throttle/client.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Type: Internal Cleanup, Component: Throttler

#15970 Remove highcharts dependency pt. 1
  changelog/20.0/20.0.0/summary.md
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/D3Timeseries.tsx
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/WorkflowStreamsLagChart.test.tsx
  web/vtadmin/src/components/charts/WorkflowStreamsLagChart.tsx
  web/vtadmin/src/components/charts/__snapshots__/WorkflowStreamsLagChart.test.tsx.snap
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/index.tsx
  web/vtadmin/src/util/tabletDebugVars.ts
Labels: dependencies, Component: VTAdmin, Component: web UI, Type: Dependencies, javascript
