Repository vitessio/vitess, pull requests merged in 2024-10, with the labels that each got.

#16871 [release-19.0] Support passing filters to `discovery.NewHealthCheck(...)` (#16170)
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Bug, Backport, Component: Throttler, Component: VTTablet, Component: VTGate

#16872 [release-20.0] Support passing filters to `discovery.NewHealthCheck(…)` (#16170)
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vtgate/tabletgateway.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Bug, Backport, Component: Throttler, Component: VTTablet, Component: VTGate

#16844 Making Reshard work smoothly with Atomic Transactions
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/reshard.go
  go/test/endtoend/transaction/twopc/fuzz/fuzzer_test.go
  go/test/endtoend/transaction/twopc/fuzz/main_test.go
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_prep_pool.go
  go/vt/vttablet/tabletserver/tx_prep_pool_test.go
  go/vt/vttablet/tabletservermock/controller.go
  go/vt/wrangler/workflow_test.go
Labels: Type: Enhancement, Component: Query Serving

#16833 Fix: Errant GTID detection on the replicas when they set replication source
  changelog/21.0/21.0.0/summary.md
  go/mysql/replication/mysql56_gtid_set.go
  go/mysql/replication/mysql56_gtid_set_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Enhancement, Component: Cluster management

#16885 Allow for MySQL 8.4 in endtoend tests
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
Labels: Type: Testing, Component: General

#16884 upgrade vitess-tester to latest version
  .github/workflows/vitess_tester_vtgate.yml
  test/templates/cluster_vitess_tester.tpl
Labels: Component: Query Serving, Type: Testing

#16890 Fix golang upgrade workflow
  .github/workflows/update_golang_version.yml
Labels: Type: Bug, Component: Build/CI

#16880 copy editing changes to summary
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: Documentation

#16078 Fix race in `replicationLagModule` of `go/vt/throttle`
  go/vt/throttler/replication_lag_cache.go
  go/vt/throttler/replication_lag_cache_test.go
  go/vt/throttler/throttler.go
  go/vt/throttler/throttler_test.go
Labels: Type: Bug, Component: Throttler, Backport to: release-18.0, Backport to: release-19.0, Component: VTTablet, Backport to: release-20.0

#16851 MySQL errors: `ERInnodbIndexCorrupt`
  go/mysql/sqlerror/constants.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: General

#16897 VTTablet: smartconnpool: notify all expired waiters
  go/pools/smartconnpool/waitlist.go
  go/pools/smartconnpool/waitlist_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0

#16879 Query serving: incorporate mirror query results in log stats, fix mirror query max lag bug
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/mirror.go
  go/vt/vtgate/engine/mirror_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vcursor_impl_test.go
Labels: Type: Bug, Type: Enhancement, Component: Query Serving

#16886 Add blurb about experimental 8.4 support
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: Documentation

#16888 Remember all tablets in VTOrc
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Component: VTorc

#16892 Enhanced output for vexplain keys
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/planbuilder/operators/keys.go
  go/vt/vtgate/planbuilder/operators/keys_test.go
Labels: Type: Enhancement, Component: Query Serving

#16829 Errant GTID Counts metric in VTOrc
  changelog/21.0/21.0.0/summary.md
  go/mysql/replication/mysql56_gtid_set.go
  go/mysql/replication/mysql56_gtid_set_test.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Enhancement, Component: VTorc

#16378 Move concurrent connection dial limit out of `healthcheck`.
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_health_check.go
  go/vt/grpcclient/client.go
Labels: Type: Internal Cleanup, Component: CLI

#16905 fix issue with json unmarshalling of operators with space in them
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_vexplain_test.go
  go/vt/vtgate/planbuilder/operators/keys.go
  go/vt/vtgate/planbuilder/operators/keys_test.go
  go/vt/vtgate/testdata/executor_vexplain.json
Labels: Type: Bug, Component: Query Serving

#16921 Fix flag name typo from #16852
  go/cmd/vtctldclient/command/reparents.go
Labels: Type: Bug, Component: vtctldclient, Backport to: release-21.0

#16863 Add savepoint support to atomic distributed transaction
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/reshard.go
  go/test/endtoend/transaction/twopc/fuzz/fuzzer_test.go
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/tx_conn.go
  go/vt/vttablet/endtoend/savepoint_test.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx/api.go
  go/vt/vttablet/tabletserver/tx/api_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Type: Feature Request, Component: Query Serving

#16922 VTGate MoveTables Buffering: Fix panic when buffering is disabled
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/plan_execute.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#16914 MySQL errors: `ERWrongParamcountToNativeFct`
  go/mysql/sqlerror/constants.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletserver/tabletserver.go
Labels: Type: Enhancement, Component: General

#16934 fixes bugs around expression precedence and LIKE
  go/test/endtoend/vtgate/vitess_tester/expressions/expressions.test
  go/vt/sqlparser/analyzer.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/precedence.go
  go/vt/sqlparser/precedence_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/tracked_buffer_test.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16948 backport 16384 to release-18
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#16942 Flakes: Address flakes in TestMoveTables* unit tests
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/tabletmanager/framework_test.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
Labels: Component: Build/CI, Type: CI/Build, Flakes, Backport to: release-21.0

#16865 VTAdmin(web): Add refresh compatibility to workflow screen (all tabs)
  web/vtadmin/src/components/inputs/Select.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowDetails.tsx
  web/vtadmin/src/hooks/api.ts
Labels: Type: Enhancement, Component: VTAdmin

#16940 Flaky test fixes
  go/mysql/server_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vttablet/tabletmanager/framework_test.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
  go/vt/wrangler/traffic_switcher_env_test.go
Labels: Component: Cluster management, Type: Testing, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16953 go/stats: improve performance of safeJoinLabels
  go/stats/export.go
  go/stats/export_test.go
Labels: Type: Performance, Component: Observability, Component: Backup and Restore

#16937 Change upgrade test to still use the older verion of tests
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
Labels: Type: Enhancement, Component: Build/CI, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16976 bugfix: add HAVING columns inside derived tables
  go/test/endtoend/vtgate/vitess_tester/aggregation/aggregation.test
  go/vt/vtgate/planbuilder/operators/horizon_expanding.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16981 fix: route engine to handle column truncation for execute after lookup
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/vindex_lookup_test.go
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16962 [release-18.0] Planner Bug: Joins inside derived table (#14974)
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator_funcs.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#16790 grpc: upgrade to 1.66.2 and use Codec v2
  go.mod
  go/vt/servenv/grpc_codec.go
Labels: Component: Query Serving, Type: Performance, Benchmark me

#16961 Fix `GetUnresolvedTransactions` command for Vtctld
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Component: Query Serving

#16974 Support settings changes with atomic transactions
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/twopc/stress/schema.sql
  go/test/endtoend/transaction/twopc/stress/stress_test.go
  go/test/endtoend/transaction/twopc/stress/vschema.json
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/tx_conn.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/tx_pool.go
Labels: Type: Enhancement, Component: Query Serving

#16991 Flakes: Address TestServerStats flakiness
  go/mysql/server_test.go
Labels: Component: Build/CI, Type: CI/Build

#17002 Add missing changelog for PR #16852
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: Documentation, Backport to: release-21.0

#16995 Fix deadlock between health check and topology watcher
  go/vt/discovery/healthcheck.go
  go/vt/discovery/topology_watcher_test.go
Labels: Type: Bug, Backport to: release-18.0, Backport to: release-19.0, Component: VTGate, Backport to: release-20.0, Backport to: release-21.0

#17003 VDiff: Also generate default new UUID in VtctldServer VDiffCreate
  .github/CODEOWNERS
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication

#16874 fix: Avoid creation of workflows with non-empty tables in target keyspace
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/utils_test.go
  go/vt/vttablet/tabletmanager/framework_test.go
Labels: Type: Enhancement, Component: VReplication

#17000 fix releasing the global read lock when mysqlshell backup fails
  go/ioutil/writer.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysqlshellbackupengine.go
  go/vt/mysqlctl/mysqlshellbackupengine_test.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-21.0

#17004 fix: Infinite logs in case of non-existent stream logs
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-21.0

#16920 VReplication: Support reversing read-only traffic in vtctldclient
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Backport to: release-21.0

#17016 VReplication: Restore previous minimal e2e test behavior
  go/test/endtoend/vreplication/movetables_mirrortraffic_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport to: release-21.0

#16925 Online DDL: detect `vreplication` errors via `vreplication_log` history
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Labels: Type: Bug, Type: Enhancement, Component: VReplication, Component: Online DDL

#16939 feat: add metrics for atomic distributed transactions
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/transaction/twopc/metric/main_test.go
  go/test/endtoend/transaction/twopc/metric/metric_test.go
  go/test/endtoend/transaction/twopc/metric/schema.sql
  go/test/endtoend/transaction/twopc/metric/vschema.json
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/transaction/twopc/utils/utils.go
  go/test/endtoend/transaction/tx_test.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/tx_conn.go
  go/vt/vttablet/tabletserver/debug_2pc.go
  go/vt/vttablet/tabletserver/dt_executor.go
  go/vt/vttablet/tabletserver/production.go
  go/vt/vttablet/tabletserver/tabletenv/stats.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tx_engine.go
  test/config.json
Labels: Type: Feature, Component: Query Serving

#16964 Fix the release workflow
  .github/workflows/create_release.yml
Labels: Type: Bug, Component: Build/CI, Type: Release, Backport to: release-21.0

#16917 Change the name of the vitess-tester repository
  .github/workflows/vitess_tester_vtgate.yml
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  test/templates/cluster_vitess_tester.tpl
Labels: Type: Internal Cleanup, Component: Build/CI, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17023 Flakes: Setup new fake server if it has gone away
  go/mysql/auth_server_clientcert_test.go
  go/mysql/auth_server_static.go
  go/mysql/auth_server_static_test.go
  go/mysql/handshake_test.go
  go/mysql/replication_test.go
  go/mysql/server_test.go
Labels: Component: Build/CI, Component: Query Serving, Type: CI/Build, Flakes

#17019 [Direct PR] [release-21.0] Revert Errant GTID detection in vttablets
  changelog/21.0/21.0.0/summary.md
  go/mysql/replication/mysql56_gtid_set.go
  go/mysql/replication/mysql56_gtid_set_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/testlib/backup_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Bug, Component: Cluster management

#16996 Remove mysql parameters from VTOrc setup
  config/vtorc/default.json
  examples/common/vtorc/config.json
  examples/compose/vtorc-up.sh
  examples/compose/vtorc/default.json
  go/test/endtoend/cluster/vtorc_process.go
Labels: Type: Internal Cleanup, Type: Testing, Component: VTorc

#17035 Relax vexplain test for upcoming changes
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
Labels: Component: Query Serving, Type: Testing

#16975 Add support for `MultiEqual` opcode for lookup vindexes.
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/schema.sql
  go/vt/vtgate/engine/vindex_lookup.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17042 Use proper zstd decoder pool for binlog event compression handling
  go/mysql/binlog_event_compression.go
  go/mysql/binlog_event_compression_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-21.0

#17026 VDiff: Comment the VDiffCreate proto msg and set reasonable server side defaults
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/vtctl/workflow/server.go
  proto/vtctldata.proto
Labels: Type: Internal Cleanup, Component: VReplication

#16963 Build `vttestserver` in GHA and send Slack message on Docker Build failure
  .github/workflows/docker_build_images.yml
  docker/vttestserver/README.md
Labels: Type: CI/Build, Component: Docker, Backport to: release-21.0

#17022 [release-21.0] Release of `v21.0.0-RC2`
  changelog/21.0/21.0.0/changelog.md
  changelog/21.0/21.0.0/release_notes.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#16988 Handle encoding binary data separately
  go/mysql/query.go
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/encodable_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parsed_query_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vttablet/endtoend/twopc/prepare_test.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/messager/message_manager.go
  go/vt/vttablet/tabletserver/messager/message_manager_test.go
  go/vt/vttablet/tabletserver/schema/cached_size.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
  go/vt/vttablet/tabletserver/schema/schema.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
Labels: Type: Bug, Component: Query Serving

#17054 bugfix: treat EXPLAIN like SELECT
  go/vt/vttablet/endtoend/queries_test.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/planbuilder/testdata/exec_cases.txt
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17051 Only run sidecardb change detection on serving primary tablets
  go/test/endtoend/vreplication/sidecardb_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Type: Enhancement, Component: schema management

#17068 fix: flaky test on twopc transaction
  go/test/endtoend/transaction/twopc/main_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-21.0

#17052 Online DDL: better error messages in cut-over phase
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#17079 [Direct PR][release note]: Atomic Distributed Transaction
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: Query Serving

#17069 Fix release 18 again
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/fk_cascade.go
  go/vt/vtgate/planbuilder/operators/fk_verify.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/reference_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
Labels: Type: Bug, Component: Query Serving, Type: Regression

#17077 Delegate Column Availability Checks to MySQL for Single-Route Queries
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17067 [release-21.0] Add release notes for known issue in v21.0.0
  changelog/21.0/21.0.0/changelog.md
  changelog/21.0/21.0.0/release_notes.md
  changelog/21.0/21.0.0/summary.md
Labels: Type: Documentation, Component: General, Type: Release

#17066 Improve Schema Engine's TablesWithSize80 query
  go/mysql/flavor_mysql.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: VReplication, Component: Query Serving, Component: Schema Tracker, Component: Online DDL, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17099 bugfix: make sure to split predicates before planning them
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving

#17100 java package updates for grpc and protobuf and release plugins
  java/client/src/main/java/io/vitess/client/VTGateBlockingConnection.java
  java/client/src/main/java/io/vitess/client/VTGateConnection.java
  java/client/src/main/java/io/vitess/client/VTSession.java
  java/client/src/main/java/io/vitess/client/grpc/tls/TlsOptions.java
  java/grpc-client/pom.xml
  java/grpc-client/src/main/java/io/vitess/client/grpc/RetryingInterceptor.java
  java/grpc-client/src/test/java/io/vitess/client/grpc/RetryingInterceptorTest.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessConnection.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessDriver.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessJDBCUrl.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessStatement.java
  java/jdbc/src/main/java/io/vitess/util/charset/CharsetMapping.java
  java/pom.xml
Labels: Type: Internal Cleanup, Component: Java, Type: Dependencies, Backport to: release-21.0

#17062 Fix unreachable errors when taking a backup
  changelog/21.0/21.0.0/release_notes.md
  changelog/21.0/21.0.0/summary.md
  go/vt/mysqlctl/backup_blackbox_race_test.go
  go/vt/mysqlctl/builtinbackupengine.go
Labels: Type: Bug, Component: Backup and Restore, Type: Regression, Backport to: release-18.0, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#16916 Add release-21.0 to the Golang Upgrade workflow
  .github/workflows/update_golang_version.yml
Labels: Type: Internal Cleanup, Component: Build/CI

#17103 Bugfix for Panic on Joined Queries with Non-Authoritative Tables in Vitess 19.0
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0

#17095 Fix flaky test `TestShardSync`
  go/vt/vttablet/tabletmanager/shard_sync_test.go
Labels: Component: Build/CI, Component: Query Serving, Type: Testing

#17094 Fix panic in vttablet when closing topo server twice
  go/cmd/vttablet/cli/cli.go
  go/cmd/vttablet/cli/cli_test.go
  go/vt/topo/server.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-21.0

#17025 refac: Remove duplicate `forAllShards` methods from `vt/vtctl/workflow`
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctl/workflow/utils_test.go
Labels: Type: Internal Cleanup, Component: VReplication
