Repository vitessio/vitess, pull requests merged in 2024-02, with the labels that each got.

#15097 Add support for delete planning with limits in presence of foreign keys
  go/test/endtoend/vtgate/foreignkey/fk_fuzz_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/engine/delete_with_input.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15096 Improve efficiency and accuracy of mysqld.GetVersionString
  go/vt/env/env.go
  go/vt/env/env_test.go
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: Cluster management, Component: Query Serving, Backport to: release-18.0

#14967 CI: Tweak our code coverage profile behavior
  .github/workflows/codecov.yml
  Makefile
  codecov.yml
  go/tools/releases/releases_test.go
  go/vt/vttablet/tabletserver/report.xml
  go/vt/wrangler/vexec.go
Labels: Component: Build/CI, Type: CI/Build

#15115 mysql: Ensure we set up the initial collation correctly
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vtenv/vtenv.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Type: Bug, Component: Query Serving

#15117 Ignore non-Shard keys in FindAllShardsInKeyspace List impl
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
Labels: Type: Bug, Release Blocker, Component: Topology

#15069 Copy expression types to avoid weight_strings and derived tables
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0

#15116 Remove codebeat badge
  README.md
Labels: Type: Internal Cleanup, Component: Build/CI

#15090 Respect tolerable replication lag even when the new primary has been provided in PRS
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: Cluster management

#15002 tests: add tests for `zkfs` utilities
  go/cmd/zk/internal/zkfs/zkfs.go
  go/cmd/zk/internal/zkfs/zkfs_test.go
Labels: Type: Testing, Component: General

#15062 `schemadiff`: analyze and report foreign key loops/cycles
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: Query Serving

#15126 Added test for AnalyzeStrict
  go/vt/vtgate/semantics/analyzer_test.go
Labels: Component: Query Serving, Type: Testing

#15106 `schemadiff`: `EnumReorderStrategy`, checking if enum or set values change ordinal
  go/sqlescape/ids_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-rename/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-truncate/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-rename-copy/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-changelog/expect_failure
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/create.sql
  go/test/endtoend/onlineddl/vrepl_suite/testdata/fail-enum-truncate-copy/expect_failure
  go/vt/schemadiff/column.go
  go/vt/schemadiff/diff_test.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
Labels: Type: Feature Request, Component: Query Serving

#15129 [release-18.0] In the same sqltypes.Type, Copy expression types to avoid weight_strings and derived tables (#15069)
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#15132 summary: updated summary with 19.0 changes
  changelog/19.0/19.0.0/summary.md
Labels: Type: Announcement, Component: General

#15137 [release-19.0] Code Freeze for `v19.0.0-RC1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15138 Bump to `v20.0.0-SNAPSHOT` after the `v19.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15135 mysql/datetime: Improve TIME parsing logic
  go/mysql/datetime/datetime.go
  go/mysql/datetime/parse.go
  go/mysql/datetime/parse_test.go
  go/mysql/json/parser.go
  go/vt/sqlparser/literal.go
  go/vt/sqlparser/normalizer.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Labels: Type: Bug, Component: Evalengine

#15141 fix: ignore internal tables in schema tracking
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15148 Revert unwanted logging change to `vttestserver`
  go/vt/vttest/vtprocess.go
Labels: Type: Bug, Component: vttestserver, Backport to: release-18.0, Backport to: release-19.0

#15153 Correctly set log_dir default in vtcombo
  go/cmd/vtcombo/cli/main.go
Labels: Type: Bug, Component: VTCombo, Backport to: release-18.0, Backport to: release-19.0

#15124 Fix evalEngine functions for dates on/before `0000-02-29`
  go/mysql/datetime/datetime.go
  go/mysql/datetime/helpers.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Enhancement, Component: Query Serving

#15122 feat: use collation aware typing for UNION
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15157 Add `release-19.0` to the auto go upgrade
  .github/workflows/update_golang_version.yml
Labels: Type: Enhancement, Component: Build/CI

#15143 [release-19.0] make sure to handle unsupported collations well
  go/mysql/collations/env.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/collations_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/typer_test.go
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Bug, Component: Query Serving, Backport

#15165 [release-19.0] Bump to `v19.0.0-SNAPSHOT` after the `v19.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#14974 Planner Bug: Joins inside derived table
  go/test/endtoend/vtgate/queries/subquery/subquery_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15163 Subqueries in SET condition of UPDATE statement in presence of foreign keys
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15180 Throttler: fix nil pointer dereference error
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Component: Throttler, Backport to: release-19.0

#15170 [release-18.0] Use `go1.22.0` in upgrade tests
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Component: Build/CI, Type: Testing

#15176 Fix logging issue when running in Docker with the syslog daemon disabled
  go/event/syslogger/syslogger.go
Labels: Type: Bug, Component: vttestserver, Type: Regression, Backport to: release-18.0, Backport to: release-19.0

#15152 VReplication: Enforce consistent order for table copies and diffs
  go/protoutil/binlogsource.go
  go/protoutil/binlogsource_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletmanager/vdiff/engine_test.go
  go/vt/vttablet/tabletmanager/vdiff/schema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: VReplication

#14789 TxThrottler: dont throttle unless lag
  go/vt/throttler/throttler.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0

#15123 Make tablet collation mismatch warning throttled
  go/vt/vtgate/tabletgateway.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15173 evalEngine: Implement SPACE, REVERSE
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#14939 Enable gRPC Server Side Keepalive settings
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/servenv/grpc_server.go
Labels: Type: Enhancement, Component: General

#15030 Load `--grpc_auth_static_client_creds` file once
  go/vt/grpcclient/client_auth_static.go
  go/vt/grpcclient/client_auth_static_test.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
Labels: Type: Bug, Component: Authn/z

#15184 modernize various tests
  .golangci.yml
  go/vt/mysqlctl/mysqlctlproto/backup_test.go
  go/vt/sqlparser/comments_test.go
  go/vt/throttler/max_replication_lag_module_test.go
Labels: Type: Testing, Component: General, Backport to: release-19.0

#15140 CI: Use v3 of fossa-action and exclude maven
  .fossa.yml
  .github/workflows/static_checks_etc.yml
Labels: Component: Build/CI, Type: CI/Build

#15201 evalEngine: Implement string `INSERT`
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Enhancement, Component: Evalengine

#15192 bugfix: wrong field type returned for SUM
  go/test/endtoend/utils/mysql.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/opcode/constants_test.go
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/semantics/typer.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15202 Remove loopclosure captures from tests
  go/flagutil/enum_test.go
  go/protoutil/duration_test.go
  go/vt/callinfo/callinfo_test.go
  go/vt/logz/logz_utils_test.go
  go/vt/topo/topotests/cell_info_test.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/cache/cache_test.go
  go/vt/vtadmin/cache/refresh_test.go
  go/vt/vtadmin/cluster/cluster_internal_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtadmin/cluster/config_test.go
  go/vt/vtadmin/cluster/discovery/discovery_consul_test.go
  go/vt/vtadmin/cluster/discovery/discovery_dynamic_test.go
  go/vt/vtadmin/cluster/discovery/discovery_static_file_test.go
  go/vt/vtadmin/cluster/discovery/discovery_test.go
  go/vt/vtadmin/cluster/dynamic/cluster_test.go
  go/vt/vtadmin/cluster/file_config_test.go
  go/vt/vtadmin/cluster/flags_test.go
  go/vt/vtadmin/cluster/internal/caches/schemacache/cache_test.go
  go/vt/vtadmin/cluster/resolver/resolver_test.go
  go/vt/vtadmin/credentials/credentials_test.go
  go/vt/vtadmin/http/request_test.go
  go/vt/vtadmin/internal/backoff/backoff_test.go
  go/vt/vtadmin/rbac/authorizer_test.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtctl/schematools/reload_test.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/vexec/query_plan_test.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
Labels: Type: Internal Cleanup, Component: General

#15197 Remove concurrency group for check labels workflow
  .github/workflows/check_label.yml
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15172 Feature: Adding support for Vindex Hints to allow for greater control over shard routing
  changelog/20.0/20.0.0/summary.md
  changelog/20.0/README.md
  changelog/README.md
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/check_invalid_test.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/info_schema_gen_test.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Enhancement, Component: Query Serving

#15107 Update with Limit Plan
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/dml_with_input.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/planbuilder/dml_with_input.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/dml_with_input.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Feature Request, Component: Query Serving

#15210 schemadiff: Clean up MySQL version from diff hints
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/types.go
Labels: Type: Internal Cleanup, Component: Query Serving, Backport to: release-19.0

#15195 evalengine: Implement LOCATE and friends
  go/mysql/collations/charset/eightbit/8bit.go
  go/mysql/collations/charset/eightbit/binary.go
  go/mysql/collations/charset/eightbit/latin1.go
  go/mysql/collations/colldata/collation.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/inputs.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15052 Added tests for the go/trace package
  go/trace/fake_test.go
  go/trace/logger_test.go
  go/trace/opentracing_test.go
  go/trace/plugin_datadog_test.go
  go/trace/plugin_jaeger_test.go
  go/trace/trace_test.go
  go/trace/utils_test.go
Labels: Type: Testing, Component: General

#15064 Added missing tests for the go/streamlog package
  go/streamlog/streamlog_test.go
Labels: Type: Testing, Component: General

#15070 Add missing tests for `go/vt/vtorc/collection`
  go/vt/vtorc/collection/collection.go
  go/vt/vtorc/collection/collection_test.go
Labels: Type: Testing, Component: VTorc

#15222 CI: Use FOSSA push-only token for license scans on PRs
  .github/workflows/static_checks_etc.yml
Labels: Component: Build/CI, Type: CI/Build

#15211 Add support for Update Multi Table
  changelog/20.0/20.0.0/summary.md
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/code.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Feature Request, Component: Query Serving

#14949 `ExecuteFetch`: error on multiple result sets
  go/mysql/endtoend/client_test.go
  go/mysql/query.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/mysqlserver/mysql_server_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtgate/errors_as_warnings/main_test.go
  go/test/endtoend/vtgate/queries/kill/main_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/mysqlctl/mysqld.go
  go/vt/vttablet/endtoend/call_test.go
  go/vt/vttablet/tabletmanager/tm_init_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
Labels: Type: Bug, Component: Query Serving, Component: General

#15217 Avoid rewriting unsharded queries and split semantic analysis in two
  go/vt/sqlparser/impossible_query.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_fk_test.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_test.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/semantic_state_test.go
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15033 VTGate Warnings: Add `WarnUnshardedOnly` to warnings counter
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vtgate.go
Labels: Type: Enhancement, Component: Observability

#15233 Update FOSSA license scan links
  README.md
Labels: Type: Internal Cleanup, Component: Build/CI, Type: CI/Build

#15175 VDiff: Add some stats
  codecov.yml
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/vttablet/tabletmanager/vdiff/action.go
  go/vt/vttablet/tabletmanager/vdiff/action_test.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vdiff/stats.go
  go/vt/vttablet/tabletmanager/vdiff/stats_test.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
Labels: Type: Enhancement, Component: VReplication, Component: Observability

#15227 go1.22: remove outdated loopclosure captures in tests
  go/vt/vtctl/grpcvtctldserver/query_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Internal Cleanup, Type: Testing, Component: General

#15235 use proper mysql version in the `vttestserver` images
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
Labels: Type: Bug, Component: vttestserver, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15178 New unified internal table names format: part 2, generating new names
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/vt/schema/name.go
  go/vt/schema/name_test.go
  go/vt/schema/online_ddl_test.go
  go/vt/schema/tablegc.go
  go/vt/schema/tablegc_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/util.go
  go/vt/vttablet/onlineddl/util_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Labels: Type: Internal Cleanup, Component: TabletManager, Component: Online DDL

#15226 evalengine: Implement BIN, OCT & CHAR functions
  go/mysql/fastparse/fastparse.go
  go/mysql/fastparse/fastparse_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15245 Update toolchain version in go.mod
  go.mod
Labels: Component: Build/CI, Type: CI/Build, Backport to: release-19.0

#15247 statsd: Update to datadog-go v5 API
  go.mod
  go.sum
  go/stats/statsd/statsd.go
  go/stats/statsd/statsd_test.go
Labels: Component: Build/CI, dependencies, Type: CI/Build

#15224 Tablet throttler: adding more stats
  go/vt/vttablet/tabletmanager/rpc_throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Feature Request, Component: Throttler

#15218 Fix Delete with multi-tables related by foreign keys
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15194 New for loops and some assert/require
  examples/compose/client.go
  examples/compose/vtcompose/vtcompose.go
  go/bucketpool/bucketpool_test.go
  go/cache/theine/bf/bf.go
  go/cache/theine/list_test.go
  go/cache/theine/singleflight_test.go
  go/cache/theine/sketch_test.go
  go/cache/theine/store.go
  go/cache/theine/store_test.go
  go/cache/theine/tlfu_test.go
Labels: Type: Internal Cleanup, Component: General

#15253 Fix routing rule query rewrite
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving, Type: Regression, Backport to: release-18.0, Backport to: release-19.0

#15260 Make `--pprof-http` default to false
  changelog/20.0/20.0.0/summary.md
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/topo2topo.txt
  go/flags/endtoend/vtaclcheck.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtbench.txt
  go/flags/endtoend/vtclient.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctlclient.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/flags/endtoend/zkctl.txt
  go/vt/servenv/http.go
  go/vt/servenv/pprof.go
Labels: Type: Internal Cleanup, Component: General

#15256 sqlparser: use integers instead of literals for Length/Precision
  go/ptr/ptr.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/schemadiff/table.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/goyacc/goyacc.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_fn.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_convert.go
  go/vt/vtgate/evalengine/fn_base64.go
  go/vt/vtgate/evalengine/fn_crypto.go
  go/vt/vtgate/evalengine/fn_hex.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/fn_numeric.go
  go/vt/vtgate/evalengine/fn_regexp.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/format.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/evalengine/translate_convert.go
  go/vt/vtgate/schema/tracker.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15219 Delete with subquery support
  changelog/20.0/20.0.0/summary.md
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Feature Request, Component: Query Serving

#14903 VStreamer Unit Tests: framework to remove the need to specify serialized strings in row events for unit tests
  go.mod
  go/cmd/vtadmin/main.go
  go/vt/vtgate/executor.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/uvstreamer_flaky_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
  tools/rowlog/rowlog.go
Labels: Type: Enhancement, Component: VReplication, Type: Testing

#14947 queryserving, observability: instrument vttablet query cache plan hits/misses
  changelog/20.0/20.0.0/summary.md
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
Labels: Type: Enhancement, Component: Query Serving, Component: Observability

#15275 vtexplain: Fix setting up the column information
  go/vt/mysqlctl/schema.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
Labels: Type: Bug, Component: vtexplain, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15274 evalengine: Implement REPLACE
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15279 vtexplain: Ensure memory topo is set up for throttler
  go/cmd/vtexplain/cli/vtexplain.go
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_srvkeyspace.go
  go/vt/vtadmin/api.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Bug, Component: vtexplain, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15251 go/vt/wrangler: pass reparent options structs
  go/vt/vtctl/reparent.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
Labels: Type: Enhancement, Component: Cluster management

#15221 VReplication: Add throttler stats
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Observability, Component: Throttler

#15270 Rewrite _many_ tests to use vtctldclient invocations, mostly non-output related stuff
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/clustertest/vttablet_test.go
  go/test/endtoend/encryption/encryptedreplication/encrypted_replication_test.go
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/migration/migration_test.go
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/test/endtoend/mysqlctld/mysqlctld_test.go
  go/test/endtoend/onlineddl/ghost/onlineddl_ghost_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/onlineddl/vtctlutil.go
  go/test/endtoend/recovery/pitr/shardedpitr_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Type: Testing

#15204 Enable 'heartbeat_on_demand_duration' in local/examples
  examples/common/scripts/vttablet-up.sh
Labels: Component: Examples, Type: Regression, Component: Throttler, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15293 Fix Go routine leaks in streaming calls
  go/vt/vttablet/grpctabletconn/conn.go
  go/vt/vttablet/grpctabletconn/conn_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-16.0, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#14951 [vtcombo] Expose `--tablet_types_to_wait` flag
  go/cmd/vtcombo/cli/main.go
  go/flags/endtoend/vtcombo.txt
Labels: Type: Enhancement, Component: VTCombo

#15289 VReplication: Make Target Sequence Initialization More Robust
  go/sqltypes/testing.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-18.0, Backport to: release-19.0

#15306 Fix some binaries to print the versions
  go/cmd/mysqlctld/cli/mysqlctld.go
  go/cmd/topo2topo/cli/topo2topo.go
  go/cmd/vtexplain/cli/vtexplain.go
  go/cmd/vttestserver/cli/main.go
  go/cmd/zkctld/cli/zkctld.go
  go/flags/endtoend/zkctld.txt
Labels: Type: Bug, Component: CLI, Backport to: release-18.0, Backport to: release-19.0

#15312 planner: support union statements with ctes
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15323 tablet: remove max-waiters setting
  config/tablet/default.yaml
  doc/design-docs/TabletServerParamsAsYAML.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tx_pool_test.go
Labels: Type: Bug, Component: CLI, Backport to: release-19.0

#15276 [e2e] More vtctldclient updates in tests
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletgateway/buffer/reshard/sharded_buffer_test.go
  go/test/endtoend/tabletmanager/commands_test.go
  go/test/endtoend/tabletmanager/custom_rule_topo_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/topoconncache/topo_conn_cache_test.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/versionupgrade/upgrade_test.go
  go/test/endtoend/vtgate/createdb_plugin/main_test.go
  go/test/endtoend/vtgate/foreignkey/main_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/main_test.go
  go/test/endtoend/vtgate/queries/informationschema/main_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect1/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect2/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect3/main_test.go
  go/test/endtoend/vtgate/reservedconn/reconnect4/main_test.go
  go/test/endtoend/vtgate/schema/schema_test.go
  go/test/endtoend/vtgate/schematracker/sharded_prs/st_sharded_test.go
  go/test/endtoend/vtgate/tablet_healthcheck/reparent_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Internal Cleanup, Component: Build/CI

#15315 Improve VTOrc startup flow
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/health.go
Labels: Type: Enhancement, Component: VTorc

#15326 Skip for-loop alloc in `go/vt/discovery/healthcheck.go`
  go/vt/discovery/healthcheck.go
Labels: Component: Query Serving, Type: Performance, Backport to: release-19.0

#15302 Column alias expanding on ORDER BY
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/lookup_queries/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/test/endtoend/vtgate/queries/orderby/schema.sql
  go/test/endtoend/vtgate/queries/orderby/vschema.json
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/schemadiff/schema.go
  go/vt/vterrors/state.go
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15244 chore: modernize tests
  go/cache/lru_cache_test.go
  go/cache/theine/singleflight_test.go
  go/event/event_test.go
  go/event/syslogger/syslogger_test.go
  go/flagutil/flagutil_test.go
  go/history/history_test.go
  go/mysql/decimal/decimal_test.go
  go/streamlog/streamlog_test.go
  go/trace/trace_test.go
Labels: Type: Enhancement, Type: Testing, Component: General

#15322 delete TestActionAndTimeout
  go/test/endtoend/tabletmanager/commands_test.go
Labels: Type: Internal Cleanup, Component: Build/CI, Component: Cluster management

#15333 test: skip should mark the correct *testing.T
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
Labels: Component: Query Serving, Type: Testing

#15304 srvtopo: Setup metrics in init() function
  go/cmd/vtcombo/cli/main.go
  go/cmd/vtexplain/cli/vtexplain.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vttablet/cli/cli.go
  go/vt/srvtopo/discover_test.go
  go/vt/srvtopo/resilient_server.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/srvtopo/resolver_test.go
  go/vt/vtadmin/api.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtexplain/vtexplain.go
  go/vt/vtexplain/vtexplain_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtexplain/vtexplain_vttablet_test.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
Labels: Type: Internal Cleanup, Component: TabletManager

#15332 discovery: Remove unused code
  go/vt/discovery/utils.go
  go/vt/discovery/utils_test.go
Labels: Type: Internal Cleanup, Component: General

#15334 wranger: Clean up leak check and use existing version
  go/vt/wrangler/materializer_env_test.go
  go/vt/wrangler/materializer_test.go
Labels: Type: Internal Cleanup, Component: Build/CI

#15103 VReplication/OnlineDDL: reordering enum values
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/alter
  go/test/endtoend/onlineddl/vrepl_suite/testdata/enum-reorder/create.sql
  go/vt/schemadiff/types.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/vttablet/onlineddl/vrepl/columns.go
  go/vt/vttablet/onlineddl/vrepl/columns_test.go
  go/vt/vttablet/onlineddl/vrepl/foreign_key.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
Labels: Type: Bug, Component: VReplication, Component: Online DDL, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15358 [release-19.0] Code Freeze for `v19.0.0`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15313 VReplication: use proper column collations in vstreamer
  go/mysql/binlog_event.go
  go/mysql/binlog_event_make_test.go
  go/mysql/binlog_event_rbr.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/repltracker/reader.go
  go/vt/vttablet/tabletserver/schema/historian.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/helper_event_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Enhancement, Component: VReplication

#15348 SHOW VITESS_REPLICATION_STATUS: Only use replication tracker when it's enabled
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
  go/vt/vttablet/tabletserver/repltracker/poller.go
  go/vt/vttablet/tabletserver/repltracker/repltracker.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15356 VTOrc optimize TMC usage
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/grpctmclient/client.go
Labels: Type: Feature Request, Component: VTorc

#15368 refactor: change FuncExpr to use Exprs instead of SelectExprs
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing.go
  go/vt/vtgate/simplifier/expression_simplifier.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/vdiff.go
Labels: Type: Enhancement, Component: Query Serving

#15365 CI: Address data races on memorytopo Conn.closed
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
Labels: Component: Build/CI, Type: Testing, Flakes, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15294 Multi Target Delete Support
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/dml_with_input.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/expr_tuple_bvar.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/dml_with_input.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/dml_with_input.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/show_cases.json
  go/vt/vtgate/planbuilder/testdata/unknown_schema_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Feature Request, Component: Query Serving

#15347 Filter by keyspace earlier in `tabletgateway`s `WaitForTablets(...)`
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/srvtopo/discover.go
  go/vt/srvtopo/discover_test.go
  go/vt/vtgate/tabletgateway.go
Labels: Type: Enhancement, Component: Query Serving

#15339 Fix PRS from being blocked because of misbehaving clients
  changelog/20.0/20.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/requests_waiter.go
  go/vt/vttablet/tabletserver/requests_waiter_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Enhancement, Component: Cluster management, Component: Query Serving

#15053 Limit concurrent creation of healthcheck gRPC connections
  changelog/20.0/20.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/vt/discovery/healthcheck.go
  go/vt/discovery/tablet_health_check.go
  go/vt/grpcclient/client.go
Labels: Type: Enhancement, Component: Query Serving

#15378 delete unused code in vreplication e2e tests
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/performance_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#15344 Bugfix: GROUP BY/HAVING alias resolution
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0

#15377 This is a backport of vitessio#15344
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/oltp_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/tpcc_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/dependencies.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/errors.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Bug, Component: Query Serving, Backport
