Repository vitessio/vitess, pull requests merged in 2024-04, with the labels that each got.

#15455 Optimize with IN Clause for UPDATE/DELETE Statements on Vindexes
  go/test/endtoend/vtgate/queries/benchmark/benchmark_test.go
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/vt/vtgate/autocommit_test.go
  go/vt/vtgate/engine/delete.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/engine/update.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#15590 evalengine: Implement `TO_SECONDS`
  go/mysql/datetime/datetime.go
  go/mysql/datetime/datetime_test.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15249 evalEngine: Implement ELT and FIELD
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_string.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15595 Cleanup unused vtorc code
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/inst/instance_topology_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#15591 VTOrc: Rework recovery registration
  changelog/20.0/20.0.0/summary.md
  go/cmd/vtorc/cli/cli.go
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/topology_recovery_dao_test.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/util/token.go
Labels: Type: Enhancement, Component: VTorc

#15602 Allow non-reserved-keywords for index names
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#15611 evalengine: Ensure to pass down the precision
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_time.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-19.0

#15605 Remove MySQL/Percona from the `vitess/lite` Docker image
  .github/workflows/docker_build_lite.yml
  Makefile
  changelog/20.0/20.0.0/summary.md
  docker/base/Dockerfile
  docker/base/Dockerfile.mysql57
  docker/base/Dockerfile.percona57
  docker/base/Dockerfile.percona80
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/bootstrap/Dockerfile.mysql57
  docker/bootstrap/Dockerfile.mysql80
  docker/bootstrap/Dockerfile.percona57
  docker/bootstrap/Dockerfile.percona80
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona57
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7
  docker/lite/Dockerfile.ubi7.mysql57
  docker/lite/Dockerfile.ubi7.mysql80
  docker/lite/Dockerfile.ubi7.percona57
  docker/lite/Dockerfile.ubi7.percona80
  docker/lite/Dockerfile.ubi8
  docker/lite/Dockerfile.ubi8.arm64
  docker/lite/Dockerfile.ubi8.arm64.mysql80
  docker/lite/Dockerfile.ubi8.mysql80
  docker/local/Dockerfile
  docker/root/Dockerfile
  docker/utils/install_dependencies.sh
  docker/vttestserver/Dockerfile.mysql57
  docker/vttestserver/Dockerfile.mysql80
  test.go
  test/templates/dockerfile.tpl
Labels: Type: Enhancement, Component: Docker

#15614 evalengine: Fix additional time type handling
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/fn_info.go
  go/vt/vtgate/evalengine/fn_time.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-19.0

#15600 test: Replace `t.fatalf` with testify `require` in `go/vt/schemamanager`
  go/vt/schemamanager/local_controller_test.go
  go/vt/schemamanager/plain_controller_test.go
  go/vt/schemamanager/schemamanager_test.go
  go/vt/schemamanager/tablet_executor_test.go
  go/vt/schemamanager/ui_controller_test.go
Labels: Type: Internal Cleanup, Type: Testing, Component: General

#15607 [VTAdmin] Remove vtctld web link, improve local example
  examples/common/scripts/vtadmin-up.sh
  web/vtadmin/build.sh
  web/vtadmin/src/components/routes/Vtctlds.tsx
Labels: Type: Bug, Component: VTAdmin, Component: web UI, javascript

#15618 amend contributing guide to ban trivial contributions
  CONTRIBUTING.md
Labels: Type: Documentation, Component: Governance

#15622 Add more fields to the marshal output of column
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#15617 VTOrc: Cleanup node registration and unused code
  go/test/endtoend/vtorc/api/api_test.go
  go/vt/vtctl/reparentutil/promotionrule/promotion_rule.go
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/analysis_test.go
  go/vt/vtorc/inst/cluster.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_dao.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/process/election_dao.go
  go/vt/vtorc/process/health.go
  go/vt/vtorc/process/health_dao.go
  go/vt/vtorc/process/host.go
  go/vt/vtorc/server/api.go
  go/vt/vtorc/server/discovery.go
  go/vt/vtorc/util/token.go
  go/vt/vtorc/util/token_test.go
Labels: Type: Internal Cleanup, Component: VTorc

#15626 Fix AVG() sharded planning
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Component: Query Serving, Type: Testing

#15635 Fix `docker_build_images` CI workflow
  .github/workflows/docker_build_images.yml
Labels: Type: Bug, Component: Build/CI

#15631 CI: Upgrade/Downgrade use N+1 version of vtctld when testing with N+1 of vttablet
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
Labels: Type: Bug, Component: Build/CI

#15640 [release-17.0] Upgrade go version in upgrade tests to `go1.21.9`
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
Labels: Component: Build/CI, Type: CI/Build

#15644 [release-19.0] Code Freeze for `v19.0.2`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15646 [release-18.0] Update go.mod go version to 1.21.9
  go.mod
Labels: Component: Build/CI, Type: CI/Build

#15645 [release-19.0] Release of `v19.0.2`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.2/changelog.md
  changelog/19.0/19.0.2/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15650 [release-18.0] Updated `golang.org/x/net`
  go.mod
  go.sum
Labels: Component: Build/CI, Type: CI/Build

#15653 [release-18.0] Code Freeze for `v18.0.4`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release, NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15648 [release-19.0] Bump to `v19.0.3-SNAPSHOT` after the `v19.0.2` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15623 Fix TPCH test by providing the correct field information in evalengine
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/queries/tpch/main_test.go
  go/test/endtoend/vtgate/queries/tpch/schema.sql
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/test/endtoend/vtgate/queries/tpch/vschema.json
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_arithmetic.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/expr_env_test.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_time.go
  test/config.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0

#15651 Update dependencies for golang.org/x/net to latest
  go.mod
  go.sum
Labels: Type: Internal Cleanup, Component: General

#15658 [release-19.0] Release of `v19.0.3`
  .github/workflows/code_freeze.yml
  changelog/19.0/19.0.3/changelog.md
  changelog/19.0/19.0.3/release_notes.md
  changelog/19.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15659 Copy `v18.0.4` release notes on `main`
  changelog/18.0/18.0.4/changelog.md
  changelog/18.0/18.0.4/release_notes.md
  changelog/18.0/README.md
Labels: Component: General, Type: Release

#15661 Copy `v19.0.3` release notes on `main`
  changelog/19.0/19.0.3/changelog.md
  changelog/19.0/19.0.3/release_notes.md
  changelog/19.0/README.md
Labels: Component: General, Type: Release

#15660 [release-18.0] Bump to `v18.0.5-SNAPSHOT` after the `v18.0.4` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#15510 Add support for `row_alias` syntax added in MySQL 8.0.19.
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#15636 VReplication: Get workflowFlavorVtctl endtoend testing working properly again
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/wrappers_test.go
Labels: Component: Build/CI, Component: VReplication, Type: CI/Build, Backport to: release-18.0, Backport to: release-19.0

#15663 Add a default for `replica_net_timeout`
  config/mycnf/mysql80.cnf
Labels: Type: Enhancement, Component: Cluster management

#15585 test: Add missing tests for `go/vt/mysqlctl`
  go/test/endtoend/mysqlctl/mysqlctl_test.go
  go/vt/mysqlctl/backup_test.go
  go/vt/mysqlctl/compression_test.go
  go/vt/mysqlctl/mycnf_test.go
  go/vt/mysqlctl/mysqld_test.go
  go/vt/mysqlctl/permissions_test.go
  go/vt/mysqlctl/redo_log_test.go
  go/vt/mysqlctl/reparent_test.go
  go/vt/mysqlctl/replication.go
  go/vt/mysqlctl/replication_test.go
  go/vt/mysqlctl/schema_test.go
  go/vt/mysqlctl/xtrabackupengine_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator_test.go
Labels: Type: Testing, Component: TabletManager

#15672 fix: don't forget DISTINCT for derived tables
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15673 feat: support IS UNKNOWN as synonym to IS NULL
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/show_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15546 VDiff/OnlineDDL: add support for running VDiffs for OnlineDDL migrations
  go/test/endtoend/cluster/vtctldclient_process.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  test/config.json
Labels: Type: Feature Request, Component: VReplication

#15680 Update to the latest x/net
  go.mod
  go.sum
Labels: dependencies, Component: General, Type: Dependabot

#15633 discovery: Fix tablets removed from healthcheck when topo server GetTablet call fails
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/keyspace_external_test.go
  go/vt/topo/memorytopo/directory.go
  go/vt/topo/memorytopo/election.go
  go/vt/topo/memorytopo/file.go
  go/vt/topo/memorytopo/lock.go
  go/vt/topo/memorytopo/memorytopo.go
  go/vt/topo/memorytopo/watch.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
Labels: Type: Bug, Component: Query Serving, Component: Topology, Backport to: release-19.0

#15689 Use the legacy name for timeouts
  config/mycnf/mysql80.cnf
Labels: Type: Bug, Component: VTorc

#15686 Run launchable in unit race
  .github/workflows/unit_race.yml
  tools/unit_test_race.sh
Labels: Component: Query Serving, Type: Testing

#15687 Make upgrade downgrade tests faster by removing redundancy
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
Labels: Component: Query Serving, Type: Testing

#15670 Add `no_scatter` flag to vttestserver
  go/cmd/vttestserver/cli/main.go
  go/cmd/vttestserver/cli/main_test.go
  go/flags/endtoend/vttestserver.txt
  go/vt/vttest/local_cluster.go
  go/vt/vttest/vtprocess.go
Labels: Type: Enhancement, Type: Testing, Component: vttestserver

#15690 VReplication Workflows (RowStreamer): explicitly set read only when creating snapshots in the copy phase
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn.go
  go/vt/vttablet/tabletserver/vstreamer/snapshot_conn_test.go
Labels: Component: VReplication, Type: Performance

#15599 Point in time recovery and restore: assume (and validate) MySQL56 flavor in position arguments
  go/mysql/replication/mysql56_gtid.go
  go/mysql/replication/mysql56_gtid_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/backup/vtctlbackup/pitr_test_framework.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/vttablet/tabletmanager/restore.go
Labels: Type: Internal Cleanup, Type: Enhancement, Component: Backup and Restore

#15675 `schemadiff`: `SubsequentDiffStrategy`: allow/reject multiple changes on same entity
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
  go/vt/schemadiff/types.go
Labels: Type: Enhancement, Component: Online DDL

#15697 Match MySQL's `LAST_INSERT_ID` behaviour
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/unsharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
Labels: NeedsDescriptionUpdate, NeedsWebsiteDocsUpdate, NeedsIssue, NeedsBackportReason

#15695 Flaky test TestOnlineDDLVDiff: add additional check for vreplication workflow to exist
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/vdiff_online_ddl_test.go
Labels: Type: Bug, Component: VReplication, Flakes, Component: Online DDL

#15684 Prevent adding to query details after unserve common has started
  go/test/endtoend/vtgate/transaction/restart/main_test.go
  go/vt/vttablet/tabletserver/livequeryz_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/query_list_test.go
  go/vt/vttablet/tabletserver/state_manager.go
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Bug, Component: Cluster management, Component: Query Serving

#15709 evalengine: Fix temporal cases in `MAKETIME`
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/inputs.go
Labels: Type: Enhancement, Component: Evalengine

#15703 test: Use testify require/assert instead of t.Fatal/Error in `go/vt/throttler`
  go/vt/throttler/aggregated_interval_history_test.go
  go/vt/throttler/interval_history_test.go
  go/vt/throttler/manager_test.go
  go/vt/throttler/memory_test.go
  go/vt/throttler/replication_lag_cache_test.go
  go/vt/throttler/result_test.go
  go/vt/throttler/thread_throttler_test.go
  go/vt/throttler/throttler_test.go
  go/vt/throttler/throttlerlogz_test.go
  go/vt/throttler/throttlerz_test.go
Labels: Type: Internal Cleanup, Type: Testing, Component: Throttler

#15714 `schemadiff`: `DROP COLUMN` not eligible for `INSTANT` algorithm if covered by an index
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Bug, Component: Online DDL

#15704 [VTAdmin API] Fix schema cache flag, add documentation
  doc/vtadmin/clusters.yaml
  go/vt/vtadmin/cache/cache.go
  go/vt/vtadmin/cache/cache_test.go
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Bug, Component: VTAdmin, go, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15536 VReplication: Migrate intra-keyspace materialize workflows when Resharding the keyspace
  go/test/endtoend/throttler/util.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/controller_plan.go
  go/vt/vttablet/tabletmanager/vreplication/controller_test.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  test/config.json
Labels: Type: Bug, Component: VReplication

#15700 Cleanup usage of FLUSH PRIVILEGES
  config/init_db.sql
  examples/compose/config/init_db.sql
  examples/compose/external_db/mysql/grant.sh
  examples/compose/vttablet-up.sh
  examples/operator/101_initial_cluster.yaml
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/vreplication/testdata/config/init_testserver_db.sql
  go/vt/vttablet/tabletmanager/tm_init_test.go
  vitess-mixin/e2e/config/init_db.sql
  vitess-mixin/e2e/external_db/mysql/grant.sh
  vitess-mixin/e2e/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: General

#15731 Fix the race condition during vttablet startup
  go/test/endtoend/utils/mysql_test.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/replication.go
  go/vt/mysqlctl/replication_test.go
  go/vt/vttablet/tabletmanager/tm_init.go
Labels: Type: Bug, Component: TabletManager

#15710 Gen4 Planner: support aggregate UDFs
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/semantics.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/vterrors/code.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/expressions.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/planner_test.go
  go/vt/vtgate/planbuilder/rewrite.go
  go/vt/vtgate/planbuilder/rewrite_test.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vcursor_impl.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/wrangler/vexec_plan.go
Labels: Type: Enhancement, Component: Query Serving

#15733 remove koz from active maintainer list
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#15728 Fix panic in aggregation
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-18.0, Backport to: release-19.0

#15749 fix: use correct flag field for udf tracking
  go/vt/vtgate/vtgate.go
Labels: Type: Bug, Component: Query Serving

#15751 GRPC: Address potential segfault in dedicated connection pooling
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmclient/client_test.go
Labels: Type: Bug, Component: Query Serving, Component: General, Backport to: release-19.0

#15759 [release-19.0]: VTOrc optimize TMC usage (#15356)
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/grpctmclient/client.go
Labels: Type: Feature Request, Type: Bug, Backport, Component: VTorc

#15757 Fix ZooKeeper Topology connection locks not being cleaned up correctly
  go.mod
  go.sum
  go/vt/topo/zk2topo/lock.go
Labels: Type: Bug, Backport to: release-17.0, Component: Topology, Backport to: release-18.0, Backport to: release-19.0

#15771 add udfs to vschema on update
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
Labels: Type: Enhancement, Component: Query Serving

#15761 VReplication: Take replication lag into account in VStreamManager healthcheck result processing
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Type: Bug, Component: VReplication, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15737 Assign and tag the release team for go update/upgrade auto PRs
  .github/workflows/update_golang_dependencies.yml
  .github/workflows/update_golang_version.yml
Labels: Type: Enhancement, Component: Build/CI

#15780 Revert GRPC context changes
  examples/local/vstream_client.go
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/messaging/message_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtgate/foreignkey/fk_test.go
  go/test/endtoend/vtgate/grpc_api/acl_test.go
  go/test/endtoend/vtgate/grpc_api/execute_test.go
  go/test/endtoend/vtgate/queries/reference/main_test.go
  go/vt/grpcclient/client.go
  go/vt/grpcoptionaltls/server_test.go
  go/vt/vitessdriver/driver.go
  go/vt/vtadmin/grpcserver/server_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateconn/vtgateconn_test.go
  go/vt/vttablet/endtoend/framework/server.go
  go/vt/vttablet/grpctmclient/cached_client.go
  go/vt/vttablet/grpctmclient/client_test.go
  go/vt/vttablet/tabletserver/tx_engine.go
  go/vt/vttablet/tabletserver/tx_executor_test.go
  go/vtbench/client.go
  tools/rowlog/rowlog.go
Labels: Type: Bug, Component: General, Type: Dependencies

#15694 Use Kill Query for Non-Transaction Query Execution and Update Query Timeout / Cancelled Error Message
  changelog/20.0/20.0.0/summary.md
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/endtoend/config_test.go
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/connpool/dbconn_test.go
  go/vt/vttablet/tabletserver/query_list.go
Labels: Type: Enhancement, Component: Query Serving

#15755 evalengine: Implement `SEC_TO_TIME`
  go/mysql/datetime/datetime.go
  go/mysql/datetime/parse.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/translate_builtin.go
Labels: Type: Enhancement, Component: Evalengine

#15765 Properly unescape keyspace name in FindAllShardsInKeyspace
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_external_test.go
  go/vt/vtctl/workflow/server_test.go
Labels: Type: Bug, Component: General, Backport to: release-19.0

#15783 evalengine: Add support for enum and set
  go/mysql/json/helpers.go
  go/sqltypes/testing.go
  go/sqltypes/type.go
  go/sqltypes/value.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtexplain/vtexplain_vttablet.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/distinct.go
  go/vt/vtgate/engine/distinct_test.go
  go/vt/vtgate/engine/hash_join.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/evalengine/api_aggregation.go
  go/vt/vtgate/evalengine/api_aggregation_test.go
  go/vt/vtgate/evalengine/api_coerce.go
  go/vt/vtgate/evalengine/api_compare.go
  go/vt/vtgate/evalengine/api_compare_test.go
  go/vt/vtgate/evalengine/api_hash.go
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/api_literal.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/arena.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compare.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_enum.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_set.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/expr_compare.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/expr_tuple_bvar.go
  go/vt/vtgate/evalengine/translate.go
  go/vt/vtgate/evalengine/weights.go
  go/vt/vtgate/evalengine/weights_test.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/vindexes/consistent_lookup.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletserver/schema/load_table.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Enhancement, Component: Evalengine

#15775 Add `mysqlbinlog` and `xtrabackup` to the `vitess/lite` image
  Makefile
  docker/lite/Dockerfile
  docker/lite/Dockerfile.testing
  docker/lite/Dockerfile.ubi7
  docker/lite/Dockerfile.ubi8
  docker/lite/Dockerfile.ubi8.arm64
Labels: Type: Bug, Component: Docker

#15769 VReplication: Add stream DDL processing stats
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/stats.go
  go/vt/vttablet/tabletmanager/vdiff/stats_test.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/stats_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Type: Enhancement, Component: VReplication

#15787 Fix Scale and length handling in `CASE` and JOIN bind variables
  go/mysql/json/parser.go
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/evalengine/api_type_aggregation.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_bytes.go
  go/vt/vtgate/evalengine/eval_enum.go
  go/vt/vtgate/evalengine/eval_numeric.go
  go/vt/vtgate/evalengine/eval_set.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/eval_tuple.go
  go/vt/vtgate/evalengine/expr_logical.go
  go/vt/vtgate/evalengine/fn_compare.go
Labels: Type: Bug, Component: Query Serving

#15785 Store Decimal precision and size while normalising
  go/mysql/datetime/helpers.go
  go/mysql/datetime/helpers_test.go
  go/mysql/decimal/decimal_test.go
  go/mysql/decimal/scan.go
  go/test/endtoend/vtgate/queries/normalize/normalize_test.go
  go/test/endtoend/vtgate/queries/tpch/tpch_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtexplain/testdata/multi-output/unsharded-output.txt
  go/vt/vtgate/semantics/typer.go
Labels: Type: Bug, Component: Query Serving

#15713 Improve performance for `BaseShowTablesWithSizes` query.
  go/mysql/flavor_mysql.go
  go/vt/vttablet/endtoend/misc_test.go
Labels: Type: Performance, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0, Component: VTTablet

#15701 VReplication: Improve query buffering behavior during MoveTables traffic switching
  changelog/20.0/20.0.0/summary.md
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/vt/discovery/keyspace_events.go
  go/vt/discovery/keyspace_events_test.go
  go/vt/srvtopo/watch_srvvschema.go
  go/vt/topo/etcd2topo/watch.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_interface.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/buffer/shard_buffer.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executor_vschema_ddl_test.go
  go/vt/vtgate/plan_execute.go
Labels: Type: Bug, Component: VReplication

#15791 Switch to use semisync source / replica plugins
  .github/workflows/cluster_endtoend_ers_prs_newfeatures_heavy.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_schemadiff_vrepl.yml
  .github/workflows/cluster_endtoend_vreplication_across_db_versions.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_cellalias.yml
  .github/workflows/cluster_endtoend_vreplication_foreign_key_stress.yml
  .github/workflows/cluster_endtoend_vreplication_migrate_vdiff2_convert_tz.yml
  .github/workflows/cluster_endtoend_vreplication_multi_tenant.yml
  .github/workflows/cluster_endtoend_vreplication_partial_movetables_and_materialize.yml
  .github/workflows/cluster_endtoend_vreplication_v2.yml
  .github/workflows/cluster_endtoend_vtctlbackup_sharded_clustertest_heavy.yml
  .github/workflows/cluster_endtoend_vtgate_general_heavy.yml
  .github/workflows/cluster_endtoend_vtgate_vindex_heavy.yml
  config/embed.go
  config/mycnf/mysql8026.cnf
  config/mycnf/mysql84.cnf
  go/cmd/vtcombo/cli/main.go
  go/mysql/flavor_mariadb.go
  go/mysql/flavor_mysql.go
  go/mysql/replication.go
  go/test/endtoend/backup/vtbackup/backup_only_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/utils/mysql_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/fakemysqldaemon.go
  go/vt/mysqlctl/mysql_daemon.go
  go/vt/mysqlctl/mysqld.go
  go/vt/mysqlctl/replication.go
  go/vt/mysqlctl/replication_test.go
  go/vt/vttablet/tabletmanager/rpc_actions.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
  test/templates/cluster_endtoend_test.tpl
  test/vtop_example.sh
Labels: Type: Internal Cleanup, Component: General

#15801 projection: Return correct collation information
  go/vt/vtgate/engine/projection.go
  go/vt/vtgate/engine/projection_test.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-17.0, Backport to: release-18.0, Backport to: release-19.0

#15768 Multi-tenant MoveTables: allow switching replica/rdonly traffic separately before switching primary traffic
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_interface.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtgate/vindexes/vschema.go
Labels: Type: Feature Request, Component: VReplication

#15789 test: Add missing tests and refactor existing tests for `go/flagutil`
  go/flagutil/flagutil_test.go
Labels: Type: Testing, Component: CLI

#15790 feat: Add support for Insert with row alias
  changelog/20.0/20.0.0/summary.md
  go/mysql/sqlerror/constants.go
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/vterrors/code.go
  go/vt/vterrors/state.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/semantics/analyzer_dml_test.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_state.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
Labels: Type: Feature Request, Component: Query Serving

#15588 Make sure derived table column names are handled correctly
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/apply_join.go
  go/vt/vtgate/planbuilder/operators/comments.go
  go/vt/vtgate/planbuilder/operators/distinct.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/hash_join.go
  go/vt/vtgate/planbuilder/operators/horizon.go
  go/vt/vtgate/planbuilder/operators/limit.go
  go/vt/vtgate/planbuilder/operators/offset_planning.go
  go/vt/vtgate/planbuilder/operators/operator.go
  go/vt/vtgate/planbuilder/operators/ordering.go
  go/vt/vtgate/planbuilder/operators/phases.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/subquery.go
  go/vt/vtgate/planbuilder/operators/subquery_container.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/operators/utils_test.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/large_union_cases.json
  go/vt/vtgate/planbuilder/testdata/memory_sort_cases.json
  go/vt/vtgate/planbuilder/testdata/postprocess_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/semantics/early_rewriter.go
  go/vt/vtgate/semantics/scoper.go
  go/vt/vtgate/semantics/semantic_state.go
Labels: Type: Bug, Component: Query Serving

#15813 Remove unused code in VTOrc
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Internal Cleanup, Component: VTorc

#15815 Fix unit-test-runner bug
  tools/unit_test_runner.sh
Labels: Type: Testing, Component: General

#15820 fix: make sure string literals as columns are handled well
  go/vt/sqlparser/ast_funcs.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Enhancement, Component: Query Serving

#15822 Update Node version to current LTS release
  .github/workflows/check_make_vtadmin_web_proto.yml
  .github/workflows/create_release.yml
  .github/workflows/local_example.yml
  .github/workflows/region_example.yml
  .github/workflows/vtadmin_web_build.yml
  .github/workflows/vtadmin_web_lint.yml
  .github/workflows/vtadmin_web_unit_tests.yml
  changelog/20.0/20.0.0/summary.md
  web/vtadmin/README.md
  web/vtadmin/build.sh
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.test.ts
Labels: Type: Internal Cleanup, Component: VTAdmin

#15821 Improve `mcmp` type comparison
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/mysql_test.go
Labels: Type: Enhancement, Component: Query Serving

#15716 rewrite shuffleTablets to be clearer and more efficient
  go/vt/vtgate/tabletgateway.go
Labels: Component: Query Serving, Type: Performance
