Repository vitessio/vitess, pull requests merged in 2025-02, with the labels that each got.

#17680 Parse SRID attribute for virtual columns
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#17468 vtadmin: enable sorting in all tables
  web/vtadmin/src/components/dataTable/SortedDataTable.test.tsx
  web/vtadmin/src/components/dataTable/SortedDataTable.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
Labels: Type: Enhancement, Component: VTAdmin

#17675 smartconnpool: do not allow connections to starve
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/waitlist.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17679 test: Add more unit tests for `server.go`
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server_test.go
Labels: Component: VReplication, Type: Testing

#17638 VDiff: fix race when a vdiff resumes on vttablet restart
  go/vt/vttablet/tabletmanager/shard_sync.go
  go/vt/vttablet/tabletmanager/vdiff/controller.go
  go/vt/vttablet/tabletmanager/vdiff/engine.go
  go/vt/vttablet/tabletmanager/vdiff/framework_test.go
  go/vt/vttablet/tabletmanager/vdiff/stats.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0, Backport to: release-21.0

#17692 Fix golang dependencies upgrade workflow
  .github/workflows/update_golang_dependencies.yml
Labels: Type: Bug, Component: Build/CI

#17689 Supporting `InnoDBParallelReadThreadsCapability`
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
Labels: Type: Enhancement, Component: schema management

#17633 Views global routing
  go/test/endtoend/vtgate/schematracker/multi_ks/sschema.sql
  go/test/endtoend/vtgate/schematracker/multi_ks/svschema.json
  go/test/endtoend/vtgate/schematracker/multi_ks/uschema.sql
  go/test/endtoend/vtgate/schematracker/multi_ks/uvschema.json
  go/test/endtoend/vtgate/schematracker/multi_ks/views_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/semantics.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_funcs_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/delete.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/delete.go
  go/vt/vtgate/planbuilder/operators/dml_planning.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/insert.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/table.go
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/operators/update_test.go
  go/vt/vtgate/planbuilder/operators/upsert.go
  go/vt/vtgate/planbuilder/operators/vindex.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/planner_test.go
  go/vt/vtgate/planbuilder/update.go
  go/vt/vtgate/planbuilder/vexplain.go
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vtgate/semantics/FakeSI.go
  go/vt/vtgate/semantics/analyzer_test.go
  go/vt/vtgate/semantics/cte_table.go
  go/vt/vtgate/semantics/derived_table.go
  go/vt/vtgate/semantics/derived_test.go
  go/vt/vtgate/semantics/early_rewriter_test.go
  go/vt/vtgate/semantics/foreign_keys_test.go
  go/vt/vtgate/semantics/info_schema.go
  go/vt/vtgate/semantics/real_table.go
  go/vt/vtgate/semantics/semantic_table.go
  go/vt/vtgate/semantics/semantic_table_test.go
  go/vt/vtgate/semantics/table_collector.go
  go/vt/vtgate/semantics/vindex_table.go
  go/vt/vtgate/semantics/vtable.go
  go/vt/vtgate/vindexes/foreign_keys.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_routing_test.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vschema_manager_test.go
  go/vt/vttablet/tabletserver/vstreamer/local_vschema.go
Labels: Type: Enhancement, Component: Query Serving

#17485 Don't exit tablet server on reloading invalid ACL
  changelog/22.0/22.0.0/summary.md
  go/cmd/vttablet/cli/cli.go
  go/vt/tableacl/tableacl.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
Labels: Type: Bug, Component: ACL

#17704 Ignore execution time errors for schemadiff view analysis
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: schema management

#17708 Faster dependency copying
  go/vt/vtgate/semantics/semantic_table.go
Labels: Component: Query Serving, Type: Performance

#17711 schemadiff: `ViewDependencyUnresolvedError` lists missing referenced entities
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: schema management

#17715 VTAdmin: update logo and favicon for the new Vitess logos
  web/vtadmin/public/favicon.ico
  web/vtadmin/src/components/NavRail.module.scss
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/VitessLogo.tsx
Labels: Type: Enhancement, Component: VTAdmin, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17712 CI: Add some randomness to the ports used in VReplication e2e tests
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/migrate_test.go
Labels: Component: Build/CI, Component: VReplication, Type: Testing, Flakes

#17677 VReplication: Support passing VStream filters down to MySQL
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletserver/vstreamer/copy.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
Labels: Type: Feature, Component: VReplication

#17728 Fix data race in `TestIsServingLocked`
  go/vt/vttablet/tabletserver/state_manager_test.go
Labels: Type: Testing, Component: VTTablet

#17558 VReplication: Improve error handling in VTGate VStreams
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vtgate/vstream_manager.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Labels: Type: Enhancement, Component: VReplication

#17739 `operator.yaml`: pass on the `sidecarDbName` when creating a keyspace
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: Operator

#17745 Move Andrew Mason to emeritus
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#17743 Fix vtcombo parsing flags incorrectly
  go/cmd/vtcombo/cli/main.go
  go/cmd/vtctldclient/command/root.go
Labels: Type: Bug, Component: VTCombo

#17717 Atomic Copy: Fix panics when the copy phase starts in some clusters
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_atomic.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17740 Remove unused code from go/mysql package
  go/mysql/decimal/decimal.go
  go/mysql/decimal/decimal_test.go
  go/mysql/decimal/mysql_test.go
  go/mysql/decimal/scan.go
  go/mysql/query.go
Labels: Type: Internal Cleanup, Component: General

#17742 Remove unused go/stats code
  go/stats/kebab_case_converter.go
  go/stats/kebab_case_converter_test.go
  go/stats/snake_case_converter.go
Labels: Type: Internal Cleanup, Component: Observability

#17741 Remove unused code from go/acl
  go/acl/acl.go
  go/acl/acl_test.go
  go/acl/deny_all_policy.go
  go/acl/deny_all_policy_test.go
  go/acl/read_only_policy.go
  go/acl/read_only_policy_test.go
Labels: Type: Internal Cleanup, Component: ACL

#17764 bugfix: support subqueries inside subqueries when merging
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving

#17752 Fail assignment expressions with the correct message
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_test.go
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17757 smartconnpool: Better handling for idle expiration
  go/pools/smartconnpool/connection.go
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/stack.go
  go/pools/smartconnpool/timestamp.go
Labels: Component: Query Serving, Type: Performance, Benchmark me, Backport to: release-19.0, Backport to: release-20.0, Component: Performance, Backport to: release-21.0

#17771 [Feature]: Sort results of getTablets for consistency in output/readability
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/proto_compare.go
Labels: Type: Enhancement, Component: Cluster management

#17773 Get some CLOMonitor checks passing
  .clomonitor.yml
  README.md
Labels: Type: Documentation, Component: Governance

#17788 Simply changing GH Actions runner
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_vitess_tester.tpl
  test/templates/unit_test.tpl
Labels: Type: Internal Cleanup, Component: Build/CI

#17772 VReplication Atomic Copy Workflows: fix bugs around concurrent inserts
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_atomic.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17782 Multi-tenant workflow SwitchWrites: Don't add denied tables on cancelMigration()
  go/vt/topotools/mirror_rules.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17718 `vtorc`: improve handling of partial cell topo results
  go/vt/topo/faketopo/faketopo.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
Labels: Type: Bug, Component: VTorc

#17802 nit: move new `const`s to own section
  test/ci_workflow_gen.go
Labels: Type: Internal Cleanup, Component: Build/CI

#17738 Use ast-paths for subquery planning to improve performance
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/clone_gen.go
  go/tools/asthelpergen/copy_on_rewrite_gen.go
  go/tools/asthelpergen/equals_gen.go
  go/tools/asthelpergen/integration/ast_clone.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_equals.go
  go/tools/asthelpergen/integration/ast_path.go
  go/tools/asthelpergen/integration/ast_path_test.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/integration/ast_visit.go
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/integration_visit_test.go
  go/tools/asthelpergen/integration/paths.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/paths_gen.go
  go/tools/asthelpergen/rewrite_gen.go
  go/tools/asthelpergen/visit_gen.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_path.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/pathbuilder/builder.go
  go/vt/sqlparser/pathbuilder/builder_test.go
  go/vt/sqlparser/paths.go
  go/vt/sqlparser/paths_test.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/sqlparser/rewriter_test.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/subquery_builder.go
  go/vt/vtgate/semantics/semantic_table.go
Labels: Component: Query Serving, Type: Performance

#17785 Remove bits of unused code across various packages
  go/bytes2/buffer.go
  go/bytes2/buffer_test.go
  go/cache/theine/bf/bf.go
  go/cache/theine/bf/bf_test.go
  go/cmd/vtctldclient/command/framework_test.go
  go/sqltypes/value_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/table.go
  go/vt/sqlparser/rewriter_api.go
  go/vt/sqlparser/tracked_buffer.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/vrepl.go
  go/vt/wrangler/testlib/fake_tablet.go
Labels: Type: Internal Cleanup, Component: General

#17807 Fix a potential connection pool leak.
  go/pools/smartconnpool/stack.go
  go/pools/smartconnpool/stack_test.go
Labels: Component: Query Serving, Type: Regression, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17809 backport: support subqueries inside subqueries when merging (Release 19.0)
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport

#17790 Update to Go 1.24.0
  .github/workflows/static_checks_etc.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_2.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  .github/workflows/upgrade_downgrade_test_semi_sync.yml
  .golangci.yml
  Makefile
  build.env
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/lite/Dockerfile
  docker/lite/Dockerfile.mysql84
  docker/lite/Dockerfile.percona80
  docker/vttestserver/Dockerfile.mysql80
  docker/vttestserver/Dockerfile.mysql84
  go.mod
  go/hack/ensure_swiss_map.go
  go/hack/hack_test.go
  go/hack/msize.go
  go/mysql/collations/cached_size.go
  go/mysql/collations/colldata/cached_size.go
  go/mysql/decimal/cached_size.go
  go/mysql/json/cached_size.go
  go/pools/smartconnpool/cached_size.go
  go/sqltypes/cached_size.go
  go/tools/sizegen/integration/cached_size.go
  go/tools/sizegen/integration/integration_test.go
  go/tools/sizegen/integration/types.go
  go/tools/sizegen/sizegen.go
  go/vt/key/cached_size.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/topodata/cached_size.go
  go/vt/proto/vttime/cached_size.go
  go/vt/schema/cached_size.go
  go/vt/sqlparser/cached_size.go
  go/vt/srvtopo/cached_size.go
  go/vt/tableacl/cached_size.go
  go/vt/vtenv/cached_size.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vttablet/tabletserver/cached_size.go
  go/vt/vttablet/tabletserver/planbuilder/cached_size.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
  go/vt/vttablet/tabletserver/schema/cached_size.go
  go/vt/vttablet/tabletserver/schema/schema.go
  go/vt/vttablet/tabletserver/schema/schemaz_test.go
  misc/git/hooks/golangci-lint
  test.go
  test/templates/dockerfile.tpl
Labels: Component: Build/CI, dependencies, Type: Dependencies

#17820 [release-21.0] Fix vtcombo parsing flags incorrectly (#17743)
  go/cmd/vtcombo/cli/main.go
  go/cmd/vtctldclient/command/root.go
Labels: Type: Bug, Backport, Component: VTCombo

#17721 VReplication: Support for `BETWEEN`/`NOT BETWEEN` filter in VStream
  go/test/endtoend/vreplication/vstream_test.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Enhancement, Component: VReplication

#17818 pool: reopen connection closed by idle timeout
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
Labels: Component: Query Serving, Type: Performance, Benchmark me, NeedsBackportReason

#17829 [release-21.0] pool: reopen connection closed by idle timeout (#17818)
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
Labels: Component: Query Serving, Type: Performance, Backport

#17830 [release-20.0] pool: reopen connection closed by idle timeout (#17818)
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
Labels: Component: Query Serving, Type: Performance, Backport

#17835 VReplication: Support excluding lagging tablets and use this in vstream manager
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/vtgate/vstream_manager.go
Labels: Type: Enhancement, Component: VReplication

#17827 Allow build git envs to be set in `docker/lite`
  docker/lite/Dockerfile
  docker/lite/Dockerfile.mysql84
  docker/lite/Dockerfile.percona80
Labels: Type: Internal Cleanup, Component: Build/CI

#17823 Clear `demotePrimaryStalled` field after the function ends
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletserver/controller.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletservermock/controller.go
Labels: Type: Bug, Component: Cluster management

#17800 Fix vtclient vtgate missing flags (specifically --grpc_*)
  go/cmd/vtclient/cli/vtclient.go
  go/cmd/vtclient/cli/vtclient_test.go
  go/cmd/vtclient/vtclient.go
  go/vt/servenv/servenv.go
Labels: Type: Bug, Component: Query Serving, Component: vtclient

#17274 Fail loading an ACL config if the provided file is empty and enforceTableACLConfig is true
  go/vt/tableacl/tableacl.go
  go/vt/tableacl/tableacl_test.go
Labels: Type: Enhancement, Component: VTTablet

#17832 VReplication: Disable /debug/vrlog by default
  go/flags/endtoend/flags_test.go
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vttablet/common/config.go
  go/vt/vttablet/common/flags.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vrlog.go
  go/vt/vttablet/tabletmanager/vreplication/vrlog_test.go
Labels: Type: Internal Cleanup, Component: VReplication, Type: Performance

#17821 Increase health check channel buffer
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
Labels: Type: Bug, Component: VTGate

#17834 `vtorc`: remove duplicate instance read from backend
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/tablet_dao.go
Labels: Type: Internal Cleanup, Type: Performance, Component: VTorc

#17826 Implement temporal comparisons
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_asm_push.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/eval_temporal.go
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/expr_collate.go
  go/vt/vtgate/evalengine/expr_column.go
  go/vt/vtgate/evalengine/fn_compare.go
  go/vt/vtgate/evalengine/fn_compare_test.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/testcases/cases.go
  go/vt/vtgate/evalengine/testcases/helpers.go
Labels: Type: Bug, Component: Evalengine, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17850 Online DDL: consider UUID throttle ratios in `user_throttle_ratio`
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/throttle/base/app_throttle.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app_test.go
Labels: Type: Enhancement, Component: Online DDL

#17851 Small planner refactoring
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/filter.go
  go/vt/vtgate/planbuilder/operators/helpers.go
  go/vt/vtgate/planbuilder/operators/join.go
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/operators/projection.go
  go/vt/vtgate/planbuilder/operators/projection_pushing.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/plan_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#17518 Engine primitive for join-values
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vtgate/engine/fk_verify_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/engine/join_values.go
  go/vt/vtgate/engine/join_values_test.go
  go/vt/vtgate/engine/routing.go
  go/vt/vtgate/engine/routing_parameter_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/evalengine/eval.go
  go/vt/vtgate/evalengine/eval_tuple.go
  go/vt/vtgate/evalengine/expr_tuple_bvar.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
Labels: Type: Enhancement, Component: Query Serving

#17855 VTTablet schema reload: include stats only on periodic reload, default to "base table" query for the "with sizes" query for 5.7 only
  go/mysql/flavor_mysql.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Enhancement, Component: VReplication

#17848 VStream: Add `IS NULL` filter support
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder_test.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Enhancement, Component: VReplication

#17720 test: replace `t.Errorf` and `t.Fatalf` with `assert` and `require`
  go/cache/lru_cache_test.go
  go/event/event_test.go
  go/exit/exit_test.go
  go/history/history_test.go
  go/mysql/binlog_event_common_test.go
  go/mysql/binlog_event_mariadb_test.go
  go/pools/id_pool_test.go
  go/pools/resource_pool_test.go
  go/pools/smartconnpool/pool_test.go
  go/sqltypes/type_test.go
  go/stats/statsd/statsd_test.go
Labels: Type: Internal Cleanup, Component: Build/CI

#17875 Add a Visitable interface to support AST nodes declared outside sqlparser
  go/tools/asthelpergen/asthelpergen.go
  go/tools/asthelpergen/copy_on_rewrite_gen.go
  go/tools/asthelpergen/integration/ast_copy_on_rewrite.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/integration/ast_visit.go
  go/tools/asthelpergen/integration/integration_rewriter_test.go
  go/tools/asthelpergen/integration/integration_visit_test.go
  go/tools/asthelpergen/integration/test_helpers.go
  go/tools/asthelpergen/integration/types.go
  go/tools/asthelpergen/rewrite_gen.go
  go/tools/asthelpergen/visit_gen.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/rewriter_api.go
Labels: Type: Enhancement, Component: Query Serving

#17815 Add stats for shards watched by VTOrc, purge stale shards
  go/vt/vtorc/inst/shard_dao.go
  go/vt/vtorc/inst/shard_dao_test.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/vtorc/logic/keyspace_shard_discovery_test.go
Labels: Type: Enhancement, Component: VTorc

#17837 `vtorc`: use `golang.org/x/sync/semaphore`, add flag for db concurrency
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/inst/instance_dao.go
Labels: Type: Internal Cleanup, Component: VTorc

#17866 `vtorc`: add index for `inst.ReadInstanceClusterAttributes` table scan
  go/vt/vtorc/db/generate_base.go
Labels: Type: Performance, Component: VTorc

#17842 VReplication SwitchTraffic: for a dry run check if sequences need to be updated
  go/vt/vtctl/workflow/sequences.go
  go/vt/vtctl/workflow/sequences_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_dry_run_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
Labels: Type: Feature, Component: VReplication

#17878 Add Shlomi & Frances to VReplication CODEOWNERS
  .github/CODEOWNERS
Labels: Type: CI/Build, Component: General
