Repository vitessio/vitess, pull requests merged in 2025-10, with the labels that each got.

#18551 vtgateconn minor enhancements
  go/flags/endtoend/vtbench.txt
  go/flags/endtoend/vtclient.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
Labels: Type: Enhancement, Component: VTGate

#18671 Fix golden tests after disabling proto randomness hack #18325
  go/vt/binlog/binlogplayer/binlog_player_test.go
  go/vt/mysqlctl/schema_test.go
  go/vt/topo/events/shard_change_syslog_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctld/api_test.go
  go/vt/vtctld/explorer_test.go
  go/vt/vtgate/endtoend/vstream_test.go
  go/vt/vtgate/engine/concatenate_test.go
  go/vt/vtgate/engine/delete_test.go
  go/vt/vtgate/engine/dml_with_input_test.go
  go/vt/vtgate/engine/fake_primitive_test.go
  go/vt/vtgate/engine/fk_cascade_test.go
  go/vt/vtgate/engine/insert_test.go
  go/vt/vtgate/engine/join_test.go
  go/vt/vtgate/engine/join_values_test.go
  go/vt/vtgate/engine/mirror_test.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/recurse_cte_test.go
  go/vt/vtgate/engine/route_test.go
  go/vt/vtgate/engine/semi_join_test.go
  go/vt/vtgate/engine/simple_projection_test.go
  go/vt/vtgate/engine/uncorrelated_subquery_test.go
  go/vt/vtgate/engine/update_test.go
  go/vt/vtgate/engine/vindex_lookup_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/vttablet/tabletserver/schema/historian_test.go
  go/vt/wrangler/materializer_test.go
Labels: Component: Build/CI, Type: CI/Build

#18713 CONNPOOL: Fix race condition when waiting for connection
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/pools/smartconnpool/sema_race.go
  go/pools/smartconnpool/waitlist.go
  go/pools/smartconnpool/waitlist_test.go
Labels: Type: Bug, Component: Query Serving, Benchmark me, Backport to: release-21.0, Backport to: release-22.0

#18730 Bump to `v24.0.0-SNAPSHOT` after the `v23.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release
