Repository vitessio/vitess, pull requests merged in 2025-05, with the labels that each got.

#17846 go/vt/discovery: configurable logger
  go/vt/discovery/healthcheck.go
  go/vt/discovery/options.go
  go/vt/discovery/tablet_health_check.go
  go/vt/discovery/topology_watcher.go
Labels: Type: Enhancement, Component: Query Serving, Component: Observability

#18228 Recover panic in vcopier due to closed channel
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Labels: Type: Bug, Component: VReplication

#18242 test: TestQueryTimeoutWithShardTargeting fix flaky test
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18260 Fix subquery merging regression introduced in #11379
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18194 [release-21.0] json array insert test
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  test/config.json
Labels: Component: Query Serving, Type: Testing

#18284 json array insert test
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  test/config.json
Labels: Component: Query Serving, Type: Testing, Backport to: release-22.0

#18276 Fix deadlock in semi-sync monitor
  go/vt/vttablet/tabletmanager/semisyncmonitor/monitor.go
  go/vt/vttablet/tabletmanager/semisyncmonitor/monitor_test.go
Labels: Type: Bug, Component: VTTablet, Backport to: release-22.0

#18279 Fix `SET` and `START TRANSACTION` in create procedure statements
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-22.0

#18171 Add TransactionsProcessed metric to track transactions at VTGate
  changelog/23.0/23.0.0/summary.md
  go/vt/vtgate/executor.go
  go/vt/vtgate/tx_conn.go
  go/vt/vtgate/tx_conn_test.go
Labels: Type: Enhancement, Component: Query Serving

#18289 Improve `UNION` query merging
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18297 Refactor `vtcombo` flags - Part 2
  config/tablet/default.yaml
  examples/operator/401_scheduled_backups.yaml
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/backup/vtbackup/main_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cellalias/cell_alias_test.go
  go/test/endtoend/mysqlserver/main_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vrepl/onlineddl_vrepl_test.go
  go/test/endtoend/onlineddl/vrepl_stress/onlineddl_vrepl_mini_stress_test.go
  go/test/endtoend/onlineddl/vrepl_stress_suite/onlineddl_vrepl_stress_suite_test.go
  go/test/endtoend/recovery/unshardedrecovery/recovery.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/schemadiff/vrepl/schemadiff_vrepl_suite_test.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/tabletgateway/main_test.go
  go/test/endtoend/tabletmanager/main_test.go
  go/test/endtoend/tabletmanager/primary/tablet_test.go
  go/test/endtoend/tabletmanager/tablegc/tablegc_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/topoconncache/main_test.go
  go/test/endtoend/vault/vault_test.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vtgate/foreignkey/stress/fk_stress_test.go
  go/test/endtoend/vtgate/godriver/main_test.go
  go/test/endtoend/vtgate/tablet_healthcheck/reparent_test.go
  go/test/endtoend/vtgate/tablet_healthcheck_cache/correctness_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/throttler/max_replication_lag_module_config.go
  go/vt/utils/flags.go
  go/vt/vtgate/buffer/buffer.go
  go/vt/vtgate/buffer/buffer_test.go
  go/vt/vtgate/buffer/flags.go
  go/vt/vtgate/buffer/flags_test.go
  go/vt/vtgate/buffer/timeout_thread.go
  go/vt/vtgate/buffer/variables_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletmanager/restore.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/vttablet/tabletserver/gc/tablegc.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: General
