Repository vitessio/vitess, pull requests merged in 2025-03, with the labels that each got.

#17873 Fix: Separate Lock for Keyspace to Update Controller Mapping in Schema Tracking
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/vttablet/sandboxconn/sandboxconn.go
Labels: Component: Query Serving, Type: Performance, Backport to: release-20.0, Backport to: release-21.0

#17886 Fix TestTrackerNoLock flaky test by increasing time to mark failure
  go/vt/vtgate/schema/tracker_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-20.0, Backport to: release-21.0

#17858 Add more vstream metrics for vstream manager
  go/vt/vtgate/vstream_manager.go
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Enhancement, Component: VReplication, Component: Observability

#17887 evalengine: normalize types during compilation
  go/vt/vtgate/evalengine/expr_bvar.go
  go/vt/vtgate/evalengine/translate_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#17889 Upgrade `sigs.k8s.io/controller-tools` and `KUBE_VERSION`
  examples/operator/operator.yaml
  tools/get_kubectl_kind.sh
Labels: Component: Examples, Component: Operator, Type: Dependencies

#17892 Fix `vtbackup` help output
  go/cmd/vtbackup/cli/vtbackup.go
  go/flags/endtoend/vtbackup.txt
Labels: Type: Enhancement, Component: Documentation

#17872 Change healthcheck to only reload specific keyspace shard tablets
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/topology_watcher.go
  go/vt/discovery/topology_watcher_test.go
  go/vt/topo/shard.go
  go/vt/topo/shard_topo_test.go
  go/vt/topo/tablet.go
  go/vt/topo/tablet_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/mock_throttler_test.go
Labels: Type: Bug, Type: Enhancement, Component: Cluster management

#17897 Fix how we generate `vtclient` CLI docs
  go/cmd/vtclient/docgen/main.go
Labels: Type: Bug, Component: Documentation, Component: vtclient

#17825 `vtorc`: cleanup discover queue, add concurrency flag
  go/flags/endtoend/vtorc.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/discovery/queue.go
  go/vt/vtorc/discovery/queue_test.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Internal Cleanup, Type: Enhancement, Type: Performance, Component: VTorc

#16530 throttler: formal gRPC calls in endtoend tests, removing HTTP API calls
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/throttler/util.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
  go/vt/vttablet/tabletserver/throttle/throttlerapp/app.go
Labels: Type: Internal Cleanup, Component: Throttler, Release Blocker: release-22.0

#17907 VTGate: Session in StreamExecute response as default
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/test/endtoend/vtgate/grpc_api/main_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
Labels: Type: Internal Cleanup, Component: Query Serving

#17863 Store the health check subscriber name to improve error message
  go/vt/discovery/fake_healthcheck.go
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/keyspace_events.go
  go/vt/throttler/demo/throttler_demo.go
  go/vt/vtgate/vtgate.go
  go/vt/vttablet/tabletserver/txthrottler/mock_healthcheck_test.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler.go
  go/vt/vttablet/tabletserver/txthrottler/tx_throttler_test.go
Labels: Type: Enhancement, Component: VTGate

#17914 fix: race on storing schema engine last changed time
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: VTTablet, Backport to: release-20.0, Backport to: release-21.0

#17869 Use `vtbackup` in scheduled backups
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: Examples, Component: Operator

#17927 Add @frouioui to CODEOWNERS for backups
  .github/CODEOWNERS
Labels: Type: Internal Cleanup, Component: Build/CI

#17921 Fix data race in Schema Engine
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Bug, Component: VTTablet

#17932 v19 EOL: Remove v19 from Golang Update Version CI workflow
  .github/workflows/update_golang_version.yml
Labels: Component: Build/CI, Type: Release

#17940 Fix flakiness in throttler's `TestDormant`
  go/vt/vttablet/tabletserver/throttle/throttler_test.go
Labels: Component: Build/CI, Type: CI/Build, Component: Throttler

#17918 Remove legacy way of considering SQL thread being stopped on a replica as unreachable
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
Labels: Type: Internal Cleanup, Component: Cluster management

#17939 Fix semi-sync monitor bug of expecting incorrect number of fields
  go/vt/vttablet/tabletmanager/rpc_replication_test.go
  go/vt/vttablet/tabletmanager/semisyncmonitor/monitor.go
  go/vt/vttablet/tabletmanager/semisyncmonitor/monitor_test.go
Labels: Type: Bug, Component: Cluster management

#17942 `schemadiff`: explicit `ALGORITHM=INSTANT` counts as instant-able
  go/vt/schemadiff/capability.go
  go/vt/schemadiff/capability_test.go
Labels: Type: Bug, Component: schema management

#17919 Remove deprecated `--disable_active_reparents` flag
  changelog/22.0/22.0.0/summary.md
  examples/compose/vttablet-up.sh
  go/test/endtoend/recovery/recovery_util.go
  go/test/endtoend/tabletmanager/tablet_health_test.go
  go/test/endtoend/tabletmanager/throttler_topo/throttler_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/mysqlctl/mysqld.go
Labels: Type: Internal Cleanup, Component: VTTablet

#17915 Rebuild `SrvKeyspace` and `SrvVSchema` during vtgate init if required
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
Labels: Type: Enhancement, Component: Cluster management

#17948 Add support for hashed caching sha2 passwords
  go/mysql/auth_server.go
  go/mysql/auth_server_static.go
  go/mysql/auth_server_static_test.go
  go/mysql/auth_server_test.go
  go/mysql/vault/auth_server_vault.go
Labels: Type: Enhancement, Component: Authn/z

#17961 Update email address for mattlord
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#17928 Support multiple namespaces with the vitess-operator
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  examples/operator/README.md
  examples/operator/operator.yaml
  examples/operator/pf.sh
  test/vtop_example.sh
Labels: Type: Enhancement, Component: Examples, Component: Operator

#17968 VDiff: Fix bug with handling tables with no pks but only a unique key.
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_migrate.yml
  .github/workflows/cluster_endtoend_vreplication_vtctldclient_vdiff2_movetables_tz.yml
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vdiff2_test.go
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  test/ci_workflow_gen.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0, Backport to: release-21.0

#17857 `vtorc`: use `errgroup` in keyspace/shard discovery
  go/vt/vtorc/logic/keyspace_shard_discovery.go
Labels: Type: Internal Cleanup, Component: VTorc

#17972 Fix `sync` import error in keyspace_shard_discovery.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
Labels: Type: CI/Build, Component: General

#17911 `vtorc`: add tablets watched stats
  go/vt/vtorc/inst/shard_dao.go
  go/vt/vtorc/inst/shard_dao_test.go
  go/vt/vtorc/inst/tablet_dao.go
  go/vt/vtorc/inst/tablet_dao_test.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/vtorc/logic/tablet_discovery.go
Labels: Type: Enhancement, Component: VTorc

#17981 [release-21.0] fix flaky test on mysqlshell backup engine
  go/vt/mysqlctl/mysqlshellbackupengine.go
  go/vt/mysqlctl/mysqlshellbackupengine_test.go
Labels: Type: Testing, Backport, Component: Backup and Restore, Flakes

#17978 Refactor transitive closure handling
  go/vt/vtgate/planbuilder/operators/ast_to_op.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/semantic_table.go
  go/vt/vtgate/semantics/transitive_closures.go
  go/vt/vtgate/semantics/transitive_closures_test.go
Labels: Type: Internal Cleanup, Component: Query Serving

#17669 Wrap fatal TX errors in a new `vterrors` code
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_with_open_tx_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/tabletgateway/vtgate_test.go
  go/test/endtoend/utils/utils.go
  go/vt/discovery/healthcheck.go
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/vterrors/code.go
  go/vt/vterrors/constants.go
  go/vt/vterrors/vterrorsgen/main.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executorcontext/safe_session.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vtgate/tx_conn.go
  go/vt/vttablet/queryservice/wrapped.go
  go/vt/vttablet/queryservice/wrapped_test.go
  go/vt/vttablet/tabletconn/grpc_error_test.go
  proto/vtgate.proto
Labels: Type: Enhancement, Component: Query Serving, Benchmark me

#17980 [release-21.0] DML test fix for duplicate column value
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
Labels: Type: Bug, Component: Query Serving, Type: Testing, Backport to: release-20.0

#17984 Allow the use of db credentials when verifying unmanaged tablets config
  go/vt/dbconfigs/credentials.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
  go/vt/vttablet/tabletserver/tabletenv/data/db_credentials.json
Labels: Type: Bug, Component: VTTablet, Release Blocker: release-22.0

#17986 vtadmin: display transaction participant list as comma separated
  web/vtadmin/src/components/routes/Transactions.tsx
Labels: Type: Enhancement, Component: VTAdmin

#17962 vtadmin: allow cluster IDs with underscores by sanitizing resolver scheme
  go/test/endtoend/cluster/cluster_process.go
  go/test/endtoend/cluster/vtadmin_process.go
  go/test/endtoend/vtadmin/main_test.go
  go/vt/vtadmin/cluster/resolver/resolver.go
  go/vt/vtadmin/cluster/resolver/resolver_test.go
Labels: Type: Bug, Component: VTAdmin

#17936 Fix DISTINCT on ENUM/SET columns by making enums/set hashable
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/test/endtoend/vtgate/queries/aggregation/distinct_test.go
  go/test/endtoend/vtgate/queries/aggregation/schema.sql
  go/test/endtoend/vtgate/queries/aggregation/vschema.json
  go/vt/vtgate/evalengine/api_hash_test.go
  go/vt/vtgate/evalengine/eval_enum.go
  go/vt/vtgate/evalengine/eval_set.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#17955 Pass through predicates when trying to merge apply join.
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
Labels: Type: Enhancement, Component: Query Serving

#17570 Add index and table metrics to vttablet
  changelog/22.0/22.0.0/summary.md
  go/mysql/flavor.go
  go/mysql/flavor_filepos.go
  go/mysql/flavor_mariadb_binlog_playback.go
  go/mysql/flavor_mysql.go
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/connpool/dbconn.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
Labels: Type: Feature, Component: VTTablet

#17993 re-replace most runners with the cncf-hosted runners
  .github/workflows/cluster_endtoend_onlineddl_vrepl.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_stress_suite.yml
  .github/workflows/cluster_endtoend_onlineddl_vrepl_suite.yml
  .github/workflows/cluster_endtoend_vreplication_basic.yml
  .github/workflows/cluster_endtoend_vreplication_migrate.yml
  .github/workflows/cluster_endtoend_vreplication_vtctldclient_vdiff2_movetables_tz.yml
  test/ci_workflow_gen.go
Labels: Type: Internal Cleanup, Component: Build/CI

#17953 go/vt/vtgate: take routing rules into account for traffic mirroring
  go/vt/vtgate/planbuilder/operators/rewriters.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/testdata/mirror_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/mirror_schema.json
  go/vt/vtgate/semantics/table_collector.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17998 Only sort when receiving results from multiple shards
  go/vt/vtgate/engine/route.go
  go/vt/vtgate/engine/route_test.go
Labels: Type: Enhancement, Component: Query Serving, Type: Performance

#17975 Standardize topo flags to use hyphen-based naming
  doc/design-docs/TopoLocks.md
  examples/common/env.sh
  examples/compose/.env
  examples/compose/docker-compose.yml
  examples/compose/template.env
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  go/cmd/vtctld/cli/cli.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vtorc/cli/cli.go
  go/cmd/vttablet/cli/cli.go
  go/cmd/vttablet/cli/cli_test.go
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/test/endtoend/cluster/vtbackup_process.go
  go/test/endtoend/cluster/vtctld_process.go
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/cluster/vtorc_process.go
  go/test/endtoend/cluster/vttablet_process.go
  go/test/endtoend/tabletgateway/buffer/buffer_test_helpers.go
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/topo/conn.go
  go/vt/topo/consultopo/lock.go
  go/vt/topo/consultopo/server.go
  go/vt/topo/consultopo/watch.go
  go/vt/topo/etcd2topo/lock.go
  go/vt/topo/etcd2topo/server.go
  go/vt/topo/locks.go
  go/vt/topo/server.go
  go/vt/topo/zk2topo/zk_conn.go
  go/vt/utils/flags.go
  go/vt/vttest/vtprocess.go
  tools/rowlog/rowlog.go
  tools/rowlog/rowlog.md
Labels: Type: Enhancement, Component: General

#18008 Fix flakiness in checking for drained tablets in Vtorc test
  go/test/endtoend/vtorc/utils/utils.go
Labels: Type: Testing, Component: VTorc

#18002 Fix tablet selection in `vtctld BackupShard`
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-20.0, Backport to: release-21.0

#17881 fix: fix incorrect nil return value
  go/test/endtoend/cluster/topo_process.go
Labels: Type: Bug, Component: Cluster management

#17973 Fix TEXT and BLOB column types not supporting length parameter in CREATE TABLE
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Bug, Component: Query Serving

#18029 Use release branches for upgrade downgrade tests
  tools/get_next_release.sh
  tools/get_previous_release.sh
Labels: Component: Build/CI, Type: Testing, Backport to: release-20.0, Backport to: release-21.0

#18033 Add forward compatibility for caching_sha2_password and replication
  go/mysql/flavor_mysql.go
  go/mysql/flavor_mysql_legacy.go
  go/mysql/flavor_mysql_test.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/tabletgateway/buffer/reparent/failover_buffer_test.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Internal Cleanup, Component: TabletManager

#18028 Set proper join vars type for the RHS field query in OLAP
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/test/endtoend/vtgate/queries/misc/schema.sql
  go/test/endtoend/vtgate/queries/misc/vschema.json
  go/vt/vtgate/engine/join.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#18032 Take into account the tablet type not being set while checking for primary tablet mismatch recovery
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/test/recovery_analysis.go
Labels: Type: Bug, Component: VTorc

#18016 Test: Increase query timeout to fix flaky test 'TestQueryTimeoutWithShardTargeting'
  go/test/endtoend/vtgate/queries/timeout/timeout_test.go
Labels: Component: Query Serving, Type: Testing, Backport to: release-20.0, Backport to: release-21.0

#18036 Bugfix: Missing data when running vtgate outer joins
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/join.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#18000 Planner: Allow Arbitrary Expression Pushdown in UNION Queries
  go/test/endtoend/vtgate/queries/union/union_test.go
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Enhancement, Component: Query Serving

#17806 Add support for `GOPRIVATE` in CI templates
  test/ci_workflow_gen.go
  test/templates/cluster_endtoend_test.tpl
  test/templates/cluster_endtoend_test_docker.tpl
  test/templates/cluster_endtoend_test_mysql57.tpl
  test/templates/cluster_vitess_tester.tpl
  test/templates/unit_test.tpl
Labels: Type: Internal Cleanup, Component: Build/CI

#18052 Reorganize the `v22.0.0` release notes
  changelog/22.0/22.0.0/summary.md
Labels: Type: Documentation, Component: General

#18058 `engine.Reload()`: fix file size aggregation for partitioned tables
  go/vt/vttablet/endtoend/misc_test.go
  go/vt/vttablet/tabletserver/schema/engine.go
Labels: Type: Bug, Component: Schema Tracker

#18053 Make it possible to use paths with Visitable nodes
  go/tools/asthelpergen/integration/ast_path.go
  go/tools/asthelpergen/integration/ast_rewrite.go
  go/tools/asthelpergen/integration/integration_visit_test.go
  go/tools/asthelpergen/paths_gen.go
  go/tools/asthelpergen/rewrite_gen.go
  go/vt/sqlparser/ast_path.go
  go/vt/sqlparser/ast_rewrite.go
Labels: Type: Enhancement, Component: Query Serving

#17992 Implement Deferred Optimization for Prepared Statements
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/engine/specialized.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_plan_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/cte_merging.go
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/operators/route_planning.go
  go/vt/vtgate/planbuilder/operators/sharded_routing.go
  go/vt/vtgate/planbuilder/operators/subquery_planning.go
  go/vt/vtgate/planbuilder/operators/union_merging.go
  go/vt/vtgate/planbuilder/plancontext/planning_context.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/planbuilder/select.go
  go/vt/vtgate/plantests/prepared_statements.json
  go/vt/vtgate/vstream_manager_test.go
Labels: Type: Enhancement, Component: Query Serving, Type: Performance

#18063 Add deployment strategy to vtgate in `operator.yaml`
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: Examples, Component: Operator

#17982 VTAdmin: Show Hostname Alongside Tablet ID on tablet selection drop-downs
  web/vtadmin/src/components/routes/shard/Advanced.tsx
Labels: Type: Enhancement, Component: VTAdmin, Component: web UI

#18030 `schemadiff`: normalize `TEXT(length)` and `BLOB(length)` columns
  go/vt/schemadiff/column.go
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/mysql.go
  go/vt/schemadiff/mysql_test.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Component: schema management

#18066 Skip Field Query for Views During Schema Refresh to Improve Reload Time
  go/vt/vttablet/tabletserver/schema/engine.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/schema/load_table.go
  go/vt/vttablet/tabletserver/schema/load_table_test.go
Labels: Type: Performance, Component: VTTablet

#17950 VDiff: Fix logic for reconciling extra rows
  go/vt/vttablet/tabletmanager/vdiff/table_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
Labels: Type: Bug, Component: VReplication, Backport to: release-20.0, Backport to: release-21.0

#18004 Filter out tablets with unknown replication lag when electing a new primary
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Bug, Component: Cluster management, Component: vtctldclient, Backport to: release-20.0, Backport to: release-21.0

#18069 Fix `SHOW VITESS_SHARDS` bug that led to incomplete output
  go/vt/srvtopo/fakesrvtopo/fakesrvtopo.go
  go/vt/srvtopo/resolver.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: Type: Bug, Component: Query Serving

#17974 Fix: Ensure Consistent Lookup Vindex Handles Duplicate Rows in Single Query
  go/test/endtoend/vtgate/lookup_test.go
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
  go/vt/vterrors/constants.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/vindexes/consistent_lookup.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0

#18020 Fix `Reshard Cancel` behavior
  go/cmd/vtctldclient/command/vreplication/reshard/reshard.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Component: vtctldclient, Backport to: release-20.0, Backport to: release-21.0
