Repository vitessio/vitess, pull requests merged in 2025-01, with the labels that each got.

#17441 Move all e2e tests to vtctldclient
  go/test/endtoend/cluster/cluster_util.go
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/sharded/sharded_keyspace_test.go
  go/test/endtoend/throttler/util.go
  go/test/endtoend/vreplication/config_test.go
  go/test/endtoend/vreplication/fk_ext_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/test/endtoend/vreplication/materialize_test.go
  go/test/endtoend/vreplication/migrate_test.go
  go/test/endtoend/vreplication/movetables_buffering_test.go
  go/test/endtoend/vreplication/multi_tenant_test.go
  go/test/endtoend/vreplication/partial_movetables_seq_test.go
  go/test/endtoend/vreplication/partial_movetables_test.go
  go/test/endtoend/vreplication/reference_test.go
  go/test/endtoend/vreplication/resharding_workflows_v2_test.go
  go/test/endtoend/vreplication/sidecardb_test.go
  go/test/endtoend/vreplication/time_zone_test.go
  go/test/endtoend/vreplication/vdiff2_test.go
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/test/endtoend/vreplication/vdiff_multiple_movetables_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_vtctldclient_cli_test.go
  go/test/endtoend/vreplication/vschema_load_test.go
  go/test/endtoend/vreplication/vstream_test.go
  go/test/endtoend/vreplication/wrappers_test.go
  go/test/endtoend/vtcombo/recreate/recreate_test.go
  go/test/endtoend/vtcombo/vttest_sample_test.go
  go/test/endtoend/vtorc/api/api_test.go
  go/test/endtoend/vtorc/general/vtorc_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  test/config.json
Labels: Type: Internal Cleanup, Component: vtctldclient

#17318 Feature Request: Change varbinary to varchar in schemas used in examples folder
  examples/backups/create_commerce_schema.sql
  examples/backups/create_customer_schema.sql
  examples/compose/default_vschema.json
  examples/compose/lookup_keyspace_vschema.json
  examples/compose/test_keyspace_vschema.json
  examples/compose/vtcompose/base_vschema.json
  examples/demo/schema/customer/vschema.json
  examples/local/create_commerce_schema.sql
  examples/local/vschema.json
  examples/local/vschema_customer_sharded.json
  examples/operator/create_commerce_schema.sql
  examples/operator/vschema_customer_sharded.json
  examples/region_sharding/create_main_schema.sql
Labels: Type: Enhancement, Component: Examples

#17448 Make all durability policy names constants
  go/cmd/vtctldclient/command/keyspaces.go
  go/test/endtoend/keyspace/keyspace_test.go
  go/test/endtoend/reparent/emergencyreparent/ers_test.go
  go/test/endtoend/reparent/newfeaturetest/reparent_test.go
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/test/endtoend/reparent/semisync/semi_sync_test.go
  go/test/endtoend/reparent/utils/utils.go
  go/test/endtoend/transaction/benchmark/bench_test.go
  go/test/endtoend/transaction/twopc/fuzz/main_test.go
  go/test/endtoend/transaction/twopc/main_test.go
  go/test/endtoend/transaction/twopc/metric/main_test.go
  go/test/endtoend/transaction/twopc/stress/main_test.go
  go/test/endtoend/transaction/tx_test.go
  go/test/endtoend/vtorc/primaryfailure/primary_failure_test.go
  go/test/endtoend/vtorc/utils/utils.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/reparentutil/durability_funcs.go
  go/vt/vtctl/reparentutil/durability_funcs_test.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/policy/durability.go
  go/vt/vtctl/reparentutil/policy/durability_test.go
  go/vt/vtctl/reparentutil/reparent_sorter.go
  go/vt/vtctl/reparentutil/reparent_sorter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/api_test.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/keyspace_dao.go
  go/vt/vtorc/inst/keyspace_dao_test.go
  go/vt/vtorc/logic/keyspace_shard_discovery_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vttablet/tabletmanager/rpc_backup.go
  go/vt/vttablet/tabletmanager/tm_init.go
  go/vt/wrangler/reparent.go
  go/vt/wrangler/tablet.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
  go/vt/wrangler/testlib/planned_reparent_shard_test.go
  go/vt/wrangler/testlib/reparent_utils_test.go
Labels: Type: Internal Cleanup, Component: VTorc

#17460 vexplain to protect the log fields from concurrent writes
  go/vt/vtgate/executorcontext/vcursor_impl.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17430 Change keys of the discovery flags such that they conform to the convention
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/cluster/vtgate_process.go
  go/test/endtoend/vtgate/misc_test.go
  go/vt/discovery/replicationlag.go
Labels: Type: Internal Cleanup, Breaking change, Component: VTGate

#17371 Add missing tables to globally routed list in schema tracker only if they are not already present in a VSchema
  go/test/endtoend/vreplication/global_routing_test.go
  go/test/endtoend/vtgate/gen4/main_test.go
  go/test/endtoend/vtgate/gen4/unsharded2_schema.sql
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vindexes/vschema_routing_test.go
  go/vt/vtgate/vindexes/vschema_test.go
  go/vt/vtgate/vschema_manager.go
  test/config.json
Labels: Type: Enhancement, Component: Query Serving

#17459 VTAdmin(web): Better visualization for JSON screens
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/jsonViewTree/JSONViewTree.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/shard/Shard.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
Labels: Type: Enhancement, Component: VTAdmin, Component: web UI

#17475 schemadiff: skip keys with expressions in Online DDL analysis
  go/vt/schemadiff/key.go
  go/vt/schemadiff/onlineddl.go
  go/vt/schemadiff/onlineddl_test.go
  go/vt/schemadiff/table.go
  go/vt/schemadiff/table_test.go
Labels: Type: Bug, Backport to: release-19.0, Backport to: release-20.0, Component: schema management, Backport to: release-21.0

#17409 Improved Compatibility Around LAST_INSERT_ID - evalengine
  changelog/22.0/22.0.0/summary.md
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/vtgate/plan_tests/plan_e2e_test.go
  go/test/endtoend/vtgate/queries/misc/main_test.go
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/sqlparser/ast_test.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/insert.go
  go/vt/vtgate/engine/insert_common.go
  go/vt/vtgate/engine/insert_select.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/engine/set.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/evalengine/compiler_asm.go
  go/vt/vtgate/evalengine/compiler_test.go
  go/vt/vtgate/evalengine/expr_env.go
  go/vt/vtgate/evalengine/fn_misc.go
  go/vt/vtgate/evalengine/integration/comparison_test.go
  go/vt/vtgate/evalengine/translate_builtin.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/planbuilder/insert.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/set_cases.json
Labels: Type: Enhancement, Component: Evalengine

#17481 [Java] Fix dependency issues in Java package
  java/example/pom.xml
  java/grpc-client/src/test/resources/ca.config
  java/pom.xml
Labels: Component: Java, Type: Dependencies, Type: Regression, Backport to: release-21.0

#16893 Added the initial script for the 40x example for backup and restore
  examples/local/401_backup.sh
  examples/local/402_list_backup.sh
  examples/local/403_restore_from_backup.sh
  examples/local/501_teardown.sh
  test/local_example.sh
Labels: Type: Enhancement, Component: Examples

#17496 CI: fix to Online DDL flow test, do not t.Log from within a goroutine
  go/test/endtoend/onlineddl/flow/onlineddl_flow_test.go
Labels: Component: Build/CI, Type: CI/Build

#17443 connection pool: max idle connections implementation
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/pools/smartconnpool/pool.go
  go/pools/smartconnpool/pool_test.go
  go/vt/vttablet/tabletserver/connpool/pool.go
  go/vt/vttablet/tabletserver/connpool/pool_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/config_test.go
Labels: Type: Feature, Component: Query Serving

#17449 Benchmark Prepared statement and expected Improvement
  go/test/endtoend/preparestmt/benchmark_test.go
  go/test/endtoend/preparestmt/main_test.go
  go/test/endtoend/preparestmt/sSchema.sql
  go/test/endtoend/preparestmt/sVschema.json
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/endtoend/preparestmt/uSchema.sql
  go/test/endtoend/preparestmt/uVschema.json
Labels: Component: Query Serving, Type: Performance

#17498 Fix flaky vreplication tests: correct logic that checks for workflow state in test helper
  go/test/endtoend/vreplication/helper_test.go
Labels: Component: VReplication, Type: Testing

#17472 Use uint64 for binary log file position
  go/mysql/binlog_event.go
  go/mysql/binlog_event_common.go
  go/mysql/binlog_event_filepos.go
  go/mysql/replication.go
  go/mysql/replication/filepos_gtid.go
  go/mysql/replication/filepos_gtid_test.go
  go/mysql/replication_test.go
  go/test/endtoend/migration/migration_test.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/binlog.go
  go/vt/vtorc/inst/binlog_test.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/wrangler/testlib/emergency_reparent_shard_test.go
Labels: Type: Bug, Component: VReplication, Component: Query Serving, Component: VTorc, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17466 Move VDiff related workflow server APIs to `vdiff.go` and add unit tests
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/vdiff.go
  go/vt/vtctl/workflow/vdiff_test.go
Labels: Type: Internal Cleanup, Component: VReplication, Type: Testing

#17501 test: make it easier to run tests without a main keyspace
  go/test/vschemawrapper/vschema_wrapper.go
Labels: Component: Query Serving, Type: Testing

#17462 Online DDL `--analyze-table`: use non-local `ANALYZE TABLE`
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/onlineddl/vrepl.go
Labels: Type: Enhancement, Component: Online DDL

#17483 `schemadiff`: more index expression validations (tests only)
  go/test/endtoend/onlineddl/revert/onlineddl_revert_test.go
  go/vt/schemadiff/onlineddl_test.go
  go/vt/schemadiff/table_test.go
Labels: Type: Testing, Component: schema management

#17504 Flaky TestTickSkip: Remove inherently flaky test
  go/timer/randticker_test.go
Labels: Component: VReplication, Type: Testing, Flakes, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17509 [Direct PR] Fix merge issue in backport
  go/vt/vtctl/workflow/traffic_switcher.go
Labels: Type: Bug, Component: VReplication, Backport

#17388 `vtorc`: fetch all tablets from cells once + filter during refresh
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Enhancement, Type: Performance, Component: VTorc, Component: Performance

#17515 Remove unused code in discovery queue creation
  go/vt/vtorc/discovery/queue.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Internal Cleanup, Component: VTorc

#17522 [Java]: Bump mysql-connector-java version from 8.0.33 to mysql-connector-j 8.4.0
  java/example/pom.xml
  java/jdbc/src/main/java/io/vitess/jdbc/VitessJDBCUrl.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessParameterMetaData.java
  java/jdbc/src/main/java/io/vitess/jdbc/VitessPreparedStatement.java
  java/jdbc/src/main/java/io/vitess/util/charset/CharsetMapping.java
  java/jdbc/src/main/java/io/vitess/util/charset/Collation.java
  java/jdbc/src/main/java/io/vitess/util/charset/MysqlCharset.java
  java/pom.xml
Labels: Component: Java, Type: Dependencies, Backport to: release-21.0

#17510 Add support for global routing in describe statement
  go/test/endtoend/vtgate/misc_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/other_read_cases.json
  go/vt/vtgate/planbuilder/vexplain.go
Labels: Type: Enhancement, Component: Query Serving

#17524 CVE Fix: Update glog to v1.2.4
  go.mod
  go.sum
Labels: Component: General, Type: Dependencies, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0, Security

#17516 Fix how we generate the query serving error documentation
  go/vt/vterrors/code.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17540 Use proper `groupId` for mysql connector in java
  .github/workflows/java_docker_test.yml
  java/example/pom.xml
  java/pom.xml
Labels: Type: Bug, Component: Java, Backport to: release-21.0

#17546 Always return a valid timezone in cursor
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/evalengine/fn_time.go
  go/vt/vtgate/executorcontext/safe_session.go
  go/vt/vtgate/executorcontext/safe_session_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17538 fix: add missing MySQL 8.4 keywords
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/mysql_keywords.txt
  java/jdbc/src/main/java/io/vitess/jdbc/VitessMySQLDatabaseMetadata.java
Labels: Type: Bug, Component: Query Serving

#17556 sizegen: do not ignore type aliases
  go/mysql/collations/colldata/cached_size.go
  go/sqltypes/cached_size.go
  go/tools/sizegen/sizegen.go
  go/vt/proto/query/cached_size.go
  go/vt/proto/topodata/cached_size.go
  go/vt/proto/vttime/cached_size.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0

#17470 Add StalledDiskPrimary analysis and recovery to vtorc
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtorc.txt
  go/flags/endtoend/vttablet.txt
  go/vt/vtorc/config/config.go
  go/vt/vtorc/db/generate_base.go
  go/vt/vtorc/inst/analysis.go
  go/vt/vtorc/inst/analysis_dao.go
  go/vt/vtorc/inst/analysis_dao_test.go
  go/vt/vtorc/inst/instance.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/instance_dao_test.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
  go/vt/vtorc/test/recovery_analysis.go
  go/vt/vttablet/tabletmanager/disk_health_monitor.go
  go/vt/vttablet/tabletmanager/disk_health_monitor_test.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletmanager/tm_init.go
Labels: Type: Feature, Type: Enhancement, Component: VTorc

#17535 Online DDL forced cut-over: terminate transactions holding metadata locks on table
  go/mysql/capabilities/capability.go
  go/mysql/capabilities/capability_test.go
  go/mysql/flavor_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#17568 VDiff: Remove extra % sign in vdiff text report template
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff.go
  go/cmd/vtctldclient/command/vreplication/vdiff/vdiff_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#17573 Tablet picker: Handle the case where a primary tablet is not setup for a shard
  go/vt/discovery/tablet_picker.go
  go/vt/discovery/tablet_picker_test.go
  go/vt/topo/tablet.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17552 Update bundled MySQL version to 8.0.40
  Makefile
  changelog/22.0/22.0.0/summary.md
  docker/binaries/vtadmin/Dockerfile
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.common
  docker/bootstrap/Dockerfile.mysql80
  docker/bootstrap/Dockerfile.percona80
  docker/lite/Dockerfile
  docker/lite/Dockerfile.percona80
  docker/utils/install_dependencies.sh
  docker/vttestserver/Dockerfile.mysql80
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  go/flags/endtoend/mysqlctl.txt
  go/flags/endtoend/mysqlctld.txt
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtbench.txt
  go/flags/endtoend/vtclient.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtctld.txt
  go/flags/endtoend/vtctldclient.txt
  go/flags/endtoend/vtexplain.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vtgateclienttest.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/mysql/collations/integration/collations_test.go
  go/mysql/config/config.go
  go/vt/servenv/buildinfo_test.go
  go/vt/vtgate/semantics/info_schema.go
  java/jdbc/pom.xml
  java/jdbc/src/test/java/io/vitess/jdbc/FieldWithMetadataTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessConnectionTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessDatabaseMetadataTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessParameterMetaDataTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessPreparedStatementTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessResultSetTest.java
  java/jdbc/src/test/java/io/vitess/jdbc/VitessStatementTest.java
  test.go
  test/templates/dockerfile.tpl
Labels: Component: Build/CI, Type: CI/Build, Type: Dependencies

#17439 Views: VTGate changes for seamless integration
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/plancontext/planning_context_test.go
  go/vt/vtgate/planbuilder/plancontext/vschema.go
  go/vt/vtgate/vindexes/vschema.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vtgate/vtgate.go
Labels: Type: Enhancement, Component: Query Serving

#17529 feat: add mysql 8.4 docker images
  .github/workflows/docker_build_images.yml
  Makefile
  docker/bootstrap/CHANGELOG.md
  docker/bootstrap/Dockerfile.mysql84
  docker/bootstrap/README.md
  docker/lite/Dockerfile.mysql84
  docker/utils/install_dependencies.sh
  docker/vttestserver/Dockerfile.mysql84
  go/tools/go-upgrade/go-upgrade.go
  test.go
Labels: Type: CI/Build, Component: Docker

#17582 Clean up duplicate datetime parsing code
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/vt/vitessdriver/convert.go
Labels: Type: Internal Cleanup, Component: Query Serving

#17601 Fix typos in MySQL 8.4 Dockerfile
  docker/vttestserver/Dockerfile.mysql84
Labels: Type: Bug, Component: Build/CI

#17578 Fix config file not found handling
  go/viperutil/config.go
  go/viperutil/config_test.go
Labels: Type: Bug, Component: CLI

#17580 `sendBinlogDumpCommand`: apply BinlogThroughGTID flag
  go/mysql/binlog_dump.go
  go/mysql/flavor_mysql.go
  go/mysql/replication/mysql56_gtid_set_test.go
  go/mysql/replication_test.go
Labels: Type: Bug, Component: Query Serving

#17554 Add option to log error queries only
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/streamlog/streamlog.go
  go/streamlog/streamlog_test.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/bench_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_dml_test.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_set_test.go
  go/vt/vtgate/executor_stream_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/querylog.go
  go/vt/vtgate/querylogz_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgate_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/query_engine.go
  go/vt/vttablet/tabletserver/query_engine_test.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/query_list.go
  go/vt/vttablet/tabletserver/querylogz_test.go
  go/vt/vttablet/tabletserver/stream_consolidator_flaky_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/txlogz.go
  go/vt/vttablet/tabletserver/txlogz_test.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer.go
  go/vt/vttablet/tabletserver/txserializer/tx_serializer_test.go
Labels: Type: Feature, Component: VTTablet, Component: VTGate

#17609 fix SchemaCacheConfig.DefaultExpiration
  go/vt/vtadmin/cluster/cluster.go
Labels: Type: Bug, Component: VTAdmin, go, Backport to: release-20.0, Backport to: release-21.0

#17605 `parseComBinlogDumpGTID`: GTID payload is always 5.6 flavor
  go/mysql/binlog_dump.go
  go/mysql/flavor_mysql.go
  go/mysql/replication.go
  go/mysql/replication_test.go
Labels: Type: Bug, Component: Query Serving

#17526 Use prefix in all vtorc check and recover logs
  go/vt/log/log.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/topology_recovery_test.go
Labels: Type: Enhancement, Component: VTorc

#17619 Reduce VTGate Normalizer multiple AST walks
  go/vt/sqlparser/normalizer.go
Labels: Component: Query Serving, Type: Performance

#17583 Improve sizegen to handle more types
  go/mysql/decimal/cached_size.go
  go/tools/sizegen/sizegen.go
  go/vt/schema/cached_size.go
  go/vt/sqlparser/cached_size.go
  go/vt/vtgate/evalengine/cached_size.go
  go/vt/vtgate/vindexes/cached_size.go
  go/vt/vttablet/tabletserver/rules/cached_size.go
Labels: Type: Enhancement, Component: Query Serving

#17401 Add linearizable support to SQL VSchema management
  go/cmd/vtcombo/cli/vschema_watcher.go
  go/test/endtoend/vtgate/keyspace_watches/keyspace_watch_test.go
  go/test/endtoend/vtgate/vschema/vschema_test.go
  go/test/utils/diff.go
  go/vt/topo/helpers/copy.go
  go/vt/topo/srv_vschema.go
  go/vt/topo/test/vschema.go
  go/vt/topo/topotests/srv_vschema_test.go
  go/vt/topo/vschema.go
  go/vt/topotools/vschema_ddl.go
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/workflow/lookup_vindex.go
  go/vt/vtctl/workflow/materializer.go
  go/vt/vtctl/workflow/materializer_env_test.go
  go/vt/vtctl/workflow/materializer_test.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vtctl/workflow/resharder_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vtctld/api_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
  go/vt/vtgate/sandbox_test.go
  go/vt/vtgate/vschema_manager.go
  go/vt/vttablet/tabletmanager/rpc_vreplication_test.go
  go/vt/vttablet/tabletserver/vstreamer/testenv/testenv.go
  go/vt/wrangler/materializer.go
  go/vt/wrangler/materializer_test.go
  go/vt/wrangler/resharder.go
  go/vt/wrangler/resharder_test.go
  go/vt/wrangler/traffic_switcher.go
  go/vt/wrangler/traffic_switcher_env_test.go
  go/vt/wrangler/traffic_switcher_test.go
Labels: Type: Enhancement, Component: Query Serving

#17603 Update the how to release java docs
  doc/internal/release/how-to-release.md
Labels: Type: Internal Cleanup, Component: Java

#17631 Remove deprecated syntax
  java/example/src/main/java/io/vitess/example/MysqlJDBCExample.java
Labels: Component: Java, Type: Testing

#17627 `schemadiff`: validate uniqueness of `CHECK` and of `FOREIGN KEY` constraints
  go/vt/schemadiff/errors.go
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff_test.go
  go/vt/schemadiff/schema_test.go
Labels: Type: Enhancement, Component: schema management

#17618 test: Add unit tests for `vtctl/workflow`
  go/vt/vtctl/workflow/framework_test.go
  go/vt/vtctl/workflow/server_test.go
  go/vt/vtctl/workflow/traffic_switcher_test.go
  go/vt/vtctl/workflow/utils_test.go
Labels: Component: VReplication, Type: Testing

#17244 --consolidator-query-waiter-cap to set the max number of waiter for consolidated query
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/sync2/consolidator.go
  go/sync2/consolidator_test.go
  go/sync2/fake_consolidator.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Enhancement, Component: Query Serving

#17604 Support KeyRange in `--clusters_to_watch` flag
  changelog/22.0/22.0.0/summary.md
  go/flags/endtoend/vtorc.txt
  go/vt/key/key.go
  go/vt/topo/shard_test.go
  go/vt/vtorc/logic/keyspace_shard_discovery.go
  go/vt/vtorc/logic/keyspace_shard_discovery_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/tablet_discovery_test.go
  go/vt/vtorc/logic/vtorc.go
Labels: Type: Feature, Component: VTorc

#17623 Optimise AST rewriting
  go/vt/sqlparser/ast_rewriting.go
  go/vt/sqlparser/ast_rewriting_test.go
  go/vt/sqlparser/bind_var_needs.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/normalizer_test.go
  go/vt/sqlparser/redact_query.go
  go/vt/sqlparser/utils.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/builder.go
  go/vt/vtgate/planbuilder/simplifier_test.go
  go/vt/vtgate/semantics/typer_test.go
Labels: Component: Query Serving, Type: Performance, Benchmark me

#17636 [release-21.0] Increase health check buffer size
  go/vt/discovery/healthcheck.go
  go/vt/discovery/healthcheck_test.go
Labels: Type: Bug, Backport to: release-19.0, Component: VTGate, Backport to: release-20.0

#17616 VReplication: Address SwitchTraffic bugs around replication lag and cancel on error
  go/test/endtoend/vreplication/cluster_test.go
  go/test/endtoend/vreplication/vreplication_test.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/stream_migrator.go
  go/vt/vtctl/workflow/switcher.go
  go/vt/vtctl/workflow/switcher_dry_run.go
  go/vt/vtctl/workflow/switcher_interface.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/workflows.go
Labels: Type: Bug, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17646 VReplication: CODEOWNERS and unit test housekeeping
  .github/CODEOWNERS
  go/vt/vtctl/workflow/traffic_switcher_test.go
Labels: Type: Internal Cleanup, Component: VReplication

#17654 Improve vtgate logging for buffering
  go/vt/discovery/keyspace_events.go
  go/vt/vtgate/buffer/shard_buffer.go
Labels: Type: Enhancement, Component: Query Serving, Component: Observability

#17649 Always make sure to escape all strings
  go/test/endtoend/vreplication/vdiff_helper_test.go
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vtctl/vdiff_env_test.go
  go/vt/vtctl/workflow/resharder.go
  go/vt/vtctl/workflow/traffic_switcher.go
  go/vt/vtctl/workflow/utils.go
  go/vt/vttablet/endtoend/vstreamer_test.go
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletmanager/vdiff/utils.go
  go/vt/vttablet/tabletmanager/vreplication/insert_generator.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/vttablet/tabletserver/schema/tracker.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
  go/vt/wrangler/keyspace.go
Labels: Type: Internal Cleanup, Component: VReplication, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0, Security

#17653 Upgrade default etcd version to 3.5.17
  .github/workflows/codecov.yml
  .github/workflows/unit_race.yml
  .github/workflows/unit_race_evalengine.yml
  .github/workflows/unit_test_evalengine_mysql57.yml
  .github/workflows/unit_test_evalengine_mysql80.yml
  .github/workflows/unit_test_evalengine_mysql84.yml
  .github/workflows/unit_test_mysql57.yml
  .github/workflows/unit_test_mysql80.yml
  .github/workflows/unit_test_mysql84.yml
  build.env
  docker/mini/install_mini_dependencies.sh
  test/templates/unit_test.tpl
Labels: Type: Internal Cleanup, Component: Build/CI

#17652 go/vt/mysqlctl: add postflight_mysqld_start and preflight_mysqld_shutdown hooks
  go/vt/mysqlctl/mysqld.go
Labels: Type: Enhancement, Component: Cluster management

#17650 Fix integer parsing logic
  go/vt/vtcombo/tablet_map.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vttablet/common/config.go
  go/vt/vttablet/faketmclient/fake_client.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/tabletmanager/rpc_agent.go
  go/vt/vttablet/tabletmanager/rpc_replication.go
  go/vt/vttablet/tabletserver/twopc.go
  go/vt/vttablet/tmclient/rpc_client_api.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Labels: Type: Internal Cleanup, Component: General

#17648 Replace uses of os.Create with os2.Create within backup/restore workflows
  go/os2/file.go
  go/test/endtoend/backup/vtctlbackup/backup_utils.go
  go/test/endtoend/cluster/vttablet_process.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/blackbox/utils.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/filebackupstorage/file.go
  go/vt/mysqlctl/mysqld.go
Labels: Type: Bug, Component: Backup and Restore, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17659 Fix panic inside schema tracker
  go/vt/vtgate/schema/tracker.go
  go/vt/vtgate/schema/tracker_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-19.0, Backport to: release-20.0, Backport to: release-21.0

#17660 Handle Percona compressed column extension
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving
