Repository vitessio/vitess, pull requests merged in 2025-09, with the labels that each got.

#18601 Introduce aliases for foreign keys verify operations
  go/vt/vtgate/planbuilder/operators/update.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/foreignkey_cases.json
  go/vt/vtgate/planbuilder/testdata/foreignkey_checks_on_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/schema.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18565 `tabletmanager`/`grpctmclient`: use `vtrpcpb`/gRPC error codes
  changelog/23.0/23.0.0/summary.md
  go/mysql/sqlerror/sql_error.go
  go/test/endtoend/tabletmanager/tablet_test.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/tabletmanager/rpc_server.go
  go/vt/vttablet/tabletserver/tabletserver.go
  go/vt/vttablet/tabletserver/throttle/base/metric_result.go
  go/vt/vttablet/tabletserver/throttle/throttler.go
Labels: Type: Enhancement, Component: VTTablet

#18642 Normalize flag names at the `pflag` level.
  go/cmd/mysqlctl/command/start.go
  go/cmd/mysqlctl/mysqlctl.go
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/rulesctl/main.go
  go/cmd/topo2topo/topo2topo.go
  go/cmd/vtaclcheck/cli/vtactlcheck.go
  go/cmd/vtadmin/main.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtbench/vtbench.go
  go/cmd/vtclient/vtclient.go
  go/cmd/vtcombo/main.go
  go/cmd/vtctl/vtctl.go
  go/cmd/vtctlclient/main.go
  go/cmd/vtctld/main.go
  go/cmd/vtctldclient/main.go
  go/cmd/vtexplain/vtexplain.go
  go/cmd/vtgate/cli/cli.go
  go/cmd/vtgate/vtgate.go
  go/cmd/vtgateclienttest/main.go
  go/cmd/vtorc/main.go
  go/cmd/vttablet/cli/cli_test.go
  go/cmd/vttablet/vttablet.go
  go/cmd/vttestserver/cli/main_test.go
  go/cmd/vttestserver/main.go
  go/cmd/vttlstest/vttlstest.go
  go/cmd/zk/zkcmd.go
  go/cmd/zkctl/zkctl.go
  go/cmd/zkctld/zkctld.go
  go/test/endtoend/vtorc/readtopologyinstance/main_test.go
  go/vt/grpcclient/client_test.go
  go/vt/utils/flags.go
  go/vt/utils/flags_test.go
  go/vt/vtgate/buffer/flags_test.go
  go/vt/vtgate/grpcvtgateconn/conn_rpc_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: Type: Bug, Component: CLI

#18641 fix: Fix `GenerateShardRanges` returning shard names that don't cover the full range
  go/vt/key/key.go
  go/vt/key/key_test.go
Labels: Type: Bug, Component: vtctl, Backport to: release-21.0, Backport to: release-22.0

#18666 Delete invalid comments.
  examples/common/backup-scripts/vttablet-up.sh
Labels: Type: Internal Cleanup, Component: Build/CI

#18674 Remove myself from the maintainer list
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#18675 Update list of maintainers.
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#18657 [Query Throttler] Add dry-run mode
  go/vt/vttablet/tabletserver/querythrottler/config.go
  go/vt/vttablet/tabletserver/querythrottler/file_based_config_loader_test.go
  go/vt/vttablet/tabletserver/querythrottler/query_throttler.go
  go/vt/vttablet/tabletserver/querythrottler/query_throttler_test.go
Labels: Type: Enhancement, Component: Throttler

#18688 Simplify error handling assertions in Throttler FileBasedConfigLoader
  go/vt/vttablet/tabletserver/querythrottler/file_based_config_loader_test.go
Labels: Component: Query Serving, Type: Testing

#18694 Build mysql80 Dockerfile with go1.25.1
  docker/lite/Dockerfile.mysql80
Labels: Type: CI/Build, Component: Docker, go

#18627 `vtorc`: use `replication.Mysql56GTIDSet` only for errant detection, delete `inst.OracleGtidSet`
  go/mysql/replication/mysql56_gtid_set.go
  go/mysql/replication/mysql56_gtid_set_test.go
  go/vt/vtorc/inst/instance_dao.go
  go/vt/vtorc/inst/oracle_gtid_set.go
  go/vt/vtorc/inst/oracle_gtid_set_entry.go
  go/vt/vtorc/inst/oracle_gtid_set_test.go
Labels: Type: Internal Cleanup, Type: Enhancement, Type: Performance, Component: VTorc

#18531 `EmergencyReparentShard`: include SQL thread position in most-advanced candidate selection
  go/vt/vtctl/reparentutil/emergency_reparenter.go
  go/vt/vtctl/reparentutil/emergency_reparenter_test.go
  go/vt/vtctl/reparentutil/reparent_sorter.go
  go/vt/vtctl/reparentutil/reparent_sorter_test.go
  go/vt/vtctl/reparentutil/replication.go
  go/vt/vtctl/reparentutil/replication_test.go
  go/vt/vtctl/reparentutil/util.go
  go/vt/vtctl/reparentutil/util_test.go
Labels: Type: Enhancement, Component: vtctl
