Repository vitessio/vitess, pull requests merged in 2025-07, with the labels that each got.

#18331 Feature(onlineddl): Add shard-specific completion to online ddl
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Feature, Component: Online DDL

#18411 Perform post copy actions in atomic copy
  go/test/endtoend/vreplication/fk_config_test.go
  go/test/endtoend/vreplication/fk_test.go
  go/test/endtoend/vreplication/helper_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_atomic.go
Labels: Type: Bug, Component: VReplication

#18414 test: Fix race condition in TestStreamRowsHeartbeat
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
Labels: Component: VReplication, Type: Testing, Flakes, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18417 Online DDL metrics: `OnlineDDLStaleMigrationMinutes`
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
Labels: Type: Enhancement, Component: Online DDL

#18319 VStreamer: change in filter logic
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Labels: Type: Enhancement, Component: VReplication

#18423 Online DDL cutover enhancements
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/executor_test.go
Labels: Type: Enhancement, Component: Online DDL

#18428 Online DDL: resume vreplication after cut-over/RENAME failure
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Bug, Component: Online DDL, Backport to: release-21.0, Backport to: release-22.0

#18434 Fix watcher storm during topo outages
  go/vt/srvtopo/watch.go
  go/vt/srvtopo/watch_test.go
  go/vt/topo/consultopo/server_flaky_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18415 Reset in-memory sequence info on vttablet on UpdateSequenceTables request
  go/test/endtoend/vreplication/partial_movetables_seq_test.go
  go/vt/vttablet/tabletmanager/rpc_vreplication.go
  test/config.json
Labels: Type: Bug, Component: VReplication, Component: VTTablet, Backport to: release-21.0, Backport to: release-22.0

#18431 make xtrabackup ShouldDrainForBackup configurable
  go/flags/endtoend/vtbackup.txt
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/flags/endtoend/vttestserver.txt
  go/vt/mysqlctl/xtrabackupengine.go
  go/vt/mysqlctl/xtrabackupengine_test.go
Labels: Type: Enhancement, Component: Backup and Restore

#18195 `schemadiff`: `RelatedForeignKeyTables()`
  go/vt/schemadiff/schema.go
  go/vt/schemadiff/schema_diff.go
  go/vt/schemadiff/schema_diff_test.go
Labels: Type: Enhancement, Component: schema management

#18264 Add logging to binlog watcher actions
  go/vt/vttablet/tabletserver/state_manager.go
Labels: Type: Enhancement, Component: Observability, Stale

#18462 Update MAINTAINERS.md and CODEOWNERS
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#18402 fix: update go-upgrade tool to check patch number (#18252)
  go/tools/go-upgrade/go-upgrade.go
Labels: Type: Enhancement, Component: Build/CI

#18463 bugfix: Fix impossible query for UNION
  go/vt/sqlparser/impossible_query.go
  go/vt/sqlparser/impossible_query_test.go
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
Labels: Type: Enhancement, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18183 tablet manager's `ExecuteFetchAsDba` does not allow multiple queries
  go/test/endtoend/clustertest/vtctld_test.go
  go/vt/vttablet/tabletmanager/rpc_query.go
Labels: Type: Internal Cleanup, Component: VTTablet, Component: schema management

#18472 Update email in Maintainers file
  MAINTAINERS.md
Labels: Type: Documentation, Component: Governance

#18476 Planner: Add comprehensive debug logging for query planner NoRewrite cases
  go/vt/vtgate/planbuilder/operators/README.md
  go/vt/vtgate/planbuilder/operators/join_merging.go
  go/vt/vtgate/planbuilder/operators/query_planning.go
  go/vt/vtgate/planbuilder/operators/rewriters.go
Labels: Type: Enhancement, Component: Query Serving

#18484 fix: handle aliases in UNIONs better
  go/vt/vtgate/planbuilder/operators/union.go
  go/vt/vtgate/planbuilder/testdata/union_cases.json
Labels: Type: Bug, Component: Query Serving

#18477 Fix scalar aggregation with literals in empty result sets
  go/test/endtoend/vtgate/queries/aggregation/aggregation_test.go
  go/vt/sqlparser/analyzer.go
  go/vt/vtgate/engine/aggregations.go
  go/vt/vtgate/engine/cached_size.go
  go/vt/vtgate/engine/opcode/constants.go
  go/vt/vtgate/engine/ordered_aggregate.go
  go/vt/vtgate/engine/ordered_aggregate_test.go
  go/vt/vtgate/engine/scalar_aggregation.go
  go/vt/vtgate/engine/scalar_aggregation_test.go
  go/vt/vtgate/evalengine/eval_result.go
  go/vt/vtgate/planbuilder/operator_transformers.go
  go/vt/vtgate/planbuilder/operators/aggregation_pushing_helper.go
  go/vt/vtgate/planbuilder/operators/aggregator.go
  go/vt/vtgate/planbuilder/operators/queryprojection.go
  go/vt/vtgate/planbuilder/show.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/cte_cases.json
  go/vt/vtgate/planbuilder/testdata/from_cases.json
  go/vt/vtgate/planbuilder/testdata/tpch_cases.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vttablet/tabletmanager/vdiff/table_plan.go
  go/vt/vttablet/tabletmanager/vdiff/workflow_differ_test.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18489 Fix for simple projection showing no fields
  go/test/endtoend/vtgate/grpc_api/prepare_test.go
  go/vt/vtgate/engine/simple_projection.go
  go/vt/vtgate/engine/simple_projection_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18507 Fix regression in v22 around new flag setup
  go/mysql/auth_server_clientcert_test.go
  go/mysql/client_test.go
  go/mysql/conn.go
  go/mysql/conn_params.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/handshake_test.go
  go/mysql/mysql_fuzzer.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
Labels: Component: General, Type: Regression, Backport to: release-22.0

#18513 Fix GetSchema RPC to prevent returning view definitions when EnableViews is disabled
  go/test/endtoend/vtgate/schematracker/viewsdisabled/schema.sql
  go/test/endtoend/vtgate/schematracker/viewsdisabled/schema_views_disabled_test.go
  go/test/endtoend/vtgate/schematracker/viewsdisabled/vschema.json
  go/vt/vttablet/endtoend/rpc_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  test/config.json
Labels: Type: Bug, Component: Schema Tracker, Type: Regression, Backport to: release-22.0

#18520 Add support for querylog-time-threshold duration flag for query logging
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/streamlog/streamlog.go
  go/streamlog/streamlog_test.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
Labels: Type: Enhancement, Component: Observability

#18460 Add fetchCredentials to operator.yaml
  examples/operator/operator.yaml
Labels: Type: Enhancement, Component: VTAdmin, Component: Operator
