Repository vitessio/vitess, pull requests merged in 2025-04, with the labels that each got.

#18048 fix: App and Dba Pool metrics
  go/vt/dbconnpool/connection_pool.go
  go/vt/vttablet/endtoend/config_test.go
Labels: Component: Observability, Type: Regression, Component: VTTablet, Backport to: release-20.0, Backport to: release-21.0

#17977 `vtorc`: add stats to shard locks and instance discovery
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/logic/vtorc_test.go
Labels: Type: Enhancement, Component: Observability, Component: VTorc

#17946 Unsharded support for `CREATE PROCEDURE` and `DROP PROCEDURE` statement
  go/test/endtoend/mysqlserver/mysql_server_test.go
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/schemadiff/schema.go
  go/vt/sqlparser/ast.go
  go/vt/sqlparser/ast_clone.go
  go/vt/sqlparser/ast_copy_on_rewrite.go
  go/vt/sqlparser/ast_equals.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/ast_funcs.go
  go/vt/sqlparser/ast_path.go
  go/vt/sqlparser/ast_rewrite.go
  go/vt/sqlparser/ast_test.go
  go/vt/sqlparser/ast_visit.go
  go/vt/sqlparser/cached_size.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/normalizer.go
  go/vt/sqlparser/parse_next_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/parser.go
  go/vt/sqlparser/parser_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/sqlparser/testdata/select_cases.txt
  go/vt/sqlparser/testdata/union_cases.txt
  go/vt/sqlparser/token.go
  go/vt/sqlparser/utils_test.go
  go/vt/vtgate/executor_select_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/planbuilder/ddl.go
  go/vt/vtgate/planbuilder/plan_test.go
  go/vt/vtgate/planbuilder/testdata/aggr_cases.json
  go/vt/vtgate/planbuilder/testdata/bypass_keyrange_cases.json
  go/vt/vtgate/planbuilder/testdata/bypass_shard_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases.json
  go/vt/vtgate/planbuilder/testdata/ddl_cases_no_default_keyspace.json
  go/vt/vtgate/planbuilder/testdata/filter_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema57_cases.json
  go/vt/vtgate/planbuilder/testdata/info_schema80_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/planbuilder/testdata/sysschema_default.json
  go/vt/vtgate/planbuilder/testdata/union_cases.json
  go/vt/vtgate/planbuilder/testdata/unsharded_cases.json
  go/vt/vtgate/planbuilder/testdata/unsupported_cases.json
  go/vt/vtgate/planbuilder/testdata/vschemas/unsharded_schema.json
  go/vt/vttablet/tabletmanager/vreplication/controller_plan_test.go
  go/vt/vttablet/tabletserver/health_streamer_test.go
  go/vt/vttablet/tabletserver/planbuilder/plan.go
  go/vt/vttablet/tabletserver/query_executor_test.go
  go/vt/vttablet/tabletserver/schema/db_test.go
  go/vt/vttablet/tabletserver/schema/engine_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  tools/check_make_parser.sh
Labels: Type: Enhancement, Component: Query Serving

#18087 [release-22.0] Code Freeze for `v22.0.0-RC1`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#18088 Bump to `v23.0.0-SNAPSHOT` after the `v22.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#18085 [vttablet] Emit Constant “userLabelDisabled” When skip-user-metrics is Enabled
  changelog/23.0/23.0.0/summary.md
  changelog/23.0/README.md
  changelog/README.md
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/vt/tableacl/acl/acl.go
  go/vt/vttablet/endtoend/transaction_test.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/stateful_connection.go
  go/vt/vttablet/tabletserver/stateful_connection_pool_test.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
  misc/git/hooks/golangci-lint
Labels: Type: Enhancement, Component: VTTablet

#18067 Add Deferred Optimization Execution Metric
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/test/vschemawrapper/vschema_wrapper.go
  go/vt/vtexplain/vtexplain_vtgate.go
  go/vt/vtgate/engine/fake_vcursor_test.go
  go/vt/vtgate/engine/metrics.go
  go/vt/vtgate/engine/plan_switcher.go
  go/vt/vtgate/engine/plan_switcher_test.go
  go/vt/vtgate/engine/primitive.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_framework_test.go
  go/vt/vtgate/executor_plan_test.go
  go/vt/vtgate/executor_test.go
  go/vt/vtgate/executorcontext/vcursor_impl.go
  go/vt/vtgate/executorcontext/vcursor_impl_test.go
Labels: Type: Enhancement, Component: Query Serving

#18103 bugfix: allow window functions when possible to push down
  go/vt/vtgate/planbuilder/operators/plan_query.go
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vtgate/semantics/analyzer.go
  go/vt/vtgate/semantics/binder.go
  go/vt/vtgate/semantics/check_invalid.go
  go/vt/vtgate/semantics/semantic_table.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18110 Fix golang-ci lint file to allow a version without preceding `v`
  misc/git/hooks/golangci-lint
Labels: Type: Bug, Component: General

#18098 Add code to clear orphaned files for a deleted keyspace
  go/vt/topo/keyspace.go
  go/vt/topo/keyspace_test.go
  go/vt/topotools/rebuild_keyspace.go
Labels: Type: Bug, Component: Cluster management, Backport to: release-22.0

#18114 Fix deadlock in `ValidateKeyspace`
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Labels: Type: Bug, Component: vtctldclient, Backport to: release-22.0

#18100 Fix backup shard copy paste error
  go/cmd/vtctldclient/command/backups.go
Labels: Type: Bug, Backport, Component: Backup and Restore

#18099 Fix backup shard copy paste error
  go/cmd/vtctldclient/command/backups.go
Labels: Type: Bug, Backport, Component: Backup and Restore

#18010 Switch to using the default caching sha2 password
  changelog/23.0/23.0.0/summary.md
  config/mycnf/mysql8026.cnf
  config/mycnf/mysql84.cnf
Labels: Type: Enhancement, Component: TabletManager

#18132 [release-19.0] DML test fix for duplicate column value
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/main_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
Labels: Type: Bug, Component: Query Serving, Type: Testing, Backport

#18135 [release-21.0] Code Freeze for `v21.0.4`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#18137 [release-20.0] Code Freeze for `v20.0.7`
  .github/workflows/code_freeze.yml
Labels: Component: General, Type: Release

#18059 Add a new implementation for handling multiple queries without needing to split them
  changelog/22.0/22.0.0/summary.md
  go/cmd/vtgateclienttest/services/callerid.go
  go/cmd/vtgateclienttest/services/echo.go
  go/cmd/vtgateclienttest/services/errors.go
  go/cmd/vtgateclienttest/services/fallback.go
  go/cmd/vtgateclienttest/services/terminal.go
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/mysql/conn.go
  go/mysql/conn_test.go
  go/mysql/fakesqldb/server.go
  go/mysql/server.go
  go/mysql/server_test.go
  go/sqltypes/proto3.go
  go/sqltypes/proto3_test.go
  go/sqltypes/result.go
  go/test/endtoend/utils/cmp.go
  go/test/endtoend/utils/mysql.go
  go/test/endtoend/utils/utils.go
  go/test/endtoend/vtgate/queries/multi_query/main_test.go
  go/test/endtoend/vtgate/queries/multi_query/multi_query_test.go
  go/test/endtoend/vtgate/queries/multi_query/schema.sql
  go/test/endtoend/vtgate/queries/multi_query/vschema.json
  go/vt/proto/vtgate/vtgate.pb.go
  go/vt/proto/vtgate/vtgate_vtproto.pb.go
  go/vt/proto/vtgateservice/vtgateservice.pb.go
  go/vt/proto/vtgateservice/vtgateservice_grpc.pb.go
  go/vt/vitessdriver/fakeserver_test.go
  go/vt/vtgate/fakerpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/conn.go
  go/vt/vtgate/grpcvtgateconn/suite_test.go
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/plugin_mysql_server_test.go
  go/vt/vtgate/vtgate.go
  go/vt/vtgate/vtgateconn/vtgateconn.go
  go/vt/vtgate/vtgateservice/interface.go
  proto/vtgate.proto
  proto/vtgateservice.proto
  test/config.json
Labels: Type: Feature, Component: Query Serving, Backport to: release-22.0

#18124 VStream API: add additional log lines for debugging frequent eof errors during catchup
  go/vt/vtgate/grpcvtgateservice/server.go
  go/vt/vtgate/vstream_manager.go
Labels: Type: Bug, Component: VReplication

#18136 [release-21.0] Release of `v21.0.4`
  .github/workflows/code_freeze.yml
  changelog/21.0/21.0.4/changelog.md
  changelog/21.0/21.0.4/release_notes.md
  changelog/21.0/README.md
  examples/compose/docker-compose.beginners.yml
  examples/compose/docker-compose.yml
  examples/compose/vtcompose/docker-compose.test.yml
  examples/compose/vtcompose/vtcompose.go
  examples/operator/101_initial_cluster.yaml
  examples/operator/201_customer_tablets.yaml
  examples/operator/302_new_shards.yaml
  examples/operator/306_down_shard_0.yaml
  examples/operator/401_scheduled_backups.yaml
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#18146 [main] Copy `v20.0.7` release notes
  changelog/20.0/20.0.7/changelog.md
  changelog/20.0/20.0.7/release_notes.md
  changelog/20.0/README.md
Labels: Component: General, Type: Release

#18145 [release-21.0] Bump to `v21.0.5-SNAPSHOT` after the `v21.0.4` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#18134 [release-22.0] Bump to `v22.0.0-SNAPSHOT` after the `v22.0.0-RC1` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#18126 feat: support prepare even on plan failure to generate optimized plan on execution with values
  go/test/endtoend/preparestmt/stmt_methods_test.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_select_test.go
Labels: Type: Enhancement, Component: Query Serving

#18153 [release-22.0]: skip test check for upgrade test for TestStraighJoin
  go/test/endtoend/vtgate/queries/misc/misc_test.go
Labels: Type: Testing, Component: VTGate

#18155 Fix: Add tablet type to the plan key
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/engine/plan.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/executor_test.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-22.0

#18148 Add summary note change for unsharded `create procedure` support
  changelog/22.0/22.0.0/summary.md
Labels: Type: Documentation, Component: Query Serving, Backport to: release-22.0

#18162 Skip end-to-end test
  go/test/endtoend/vtgate/queries/dml/dml_test.go
Labels: Component: Query Serving, Type: Testing

#18151 bugfix: INSERT IGNORE not inserting rows
  go/test/endtoend/vtgate/queries/dml/dml_test.go
  go/test/endtoend/vtgate/queries/dml/insert_test.go
  go/test/endtoend/vtgate/queries/dml/sharded_schema.sql
  go/test/endtoend/vtgate/queries/dml/vschema.json
  go/vt/vtgate/engine/insert_common.go
Labels: Type: Bug, Component: Query Serving, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#18166 Skip end-to-end test
  go/test/endtoend/vtgate/queries/dml/dml_test.go
Labels: Component: Query Serving, Type: Testing

#18147 [release-20.0] Bump to `v20.0.8-SNAPSHOT` after the `v20.0.7` release
  go/vt/servenv/version.go
  java/client/pom.xml
  java/example/pom.xml
  java/grpc-client/pom.xml
  java/jdbc/pom.xml
  java/pom.xml
Labels: Component: General, Type: Release

#17845 Use transaction_isolation vs tx_isolation
  java/jdbc/src/main/java/io/vitess/jdbc/VitessConnection.java
Labels: Type: Internal Cleanup, Component: Cluster management, Component: Query Serving

#18186 copy edit release notes to prepare for v22 GA
  changelog/22.0/22.0.0/summary.md
Labels: Type: Documentation, Component: Documentation, Release Blocker: release-22.0, Backport to: release-22.0

#18200 Partially revert the binary encoding logic for safer upgrade
  changelog/22.0/22.0.0/summary.md
  go/sqltypes/value.go
  go/sqltypes/value_test.go
  go/test/endtoend/transaction/twopc/twopc_test.go
  go/test/endtoend/vtgate/queries/vexplain/vexplain_test.go
  go/vt/sqlparser/encodable_test.go
  go/vt/vtgate/evalengine/translate_test.go
  go/vt/vtgate/planbuilder/testdata/dml_cases.json
  go/vt/vtgate/planbuilder/testdata/select_cases.json
  go/vt/vttablet/endtoend/twopc/prepare_test.go
  go/vt/vttablet/tabletmanager/vreplication/external_connector_test.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletserver/dt_executor_test.go
  go/vt/vttablet/tabletserver/tabletserver_test.go
  go/vt/vttablet/tabletserver/tx_engine_test.go
  go/vt/vttablet/tabletserver/vstreamer/rowstreamer_test.go
Labels: Component: Query Serving, Type: Compatibility Bug

#18216 fix: Preserve multi-column TupleExpr in tuple simplifier
  go/test/endtoend/vtgate/queries/misc/misc_test.go
  go/vt/vtgate/evalengine/translate_simplify.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Evalengine, Backport to: release-20.0, Backport to: release-21.0, Backport to: release-22.0

#17945 Query buffering, terminating blocking transactions for `INSTANT` DDL and other "special plans"
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL, Component: schema management

#18118 Online DDL: support `alter vitess_migration ... postpone complete` syntax
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/test/endtoend/onlineddl/vtgate_util.go
  go/vt/sqlparser/ast_format.go
  go/vt/sqlparser/ast_format_fast.go
  go/vt/sqlparser/constants.go
  go/vt/sqlparser/keywords.go
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
  go/vt/vttablet/onlineddl/executor.go
  go/vt/vttablet/onlineddl/schema.go
  go/vt/vttablet/tabletserver/query_executor.go
Labels: Type: Enhancement, Component: Online DDL
