Repository vitessio/vitess, pull requests merged in 2025-08, with the labels that each got.

#18544 Online DDL: set migration's progress to 100% once it's `ready_to_complete`
  go/test/endtoend/onlineddl/scheduler/onlineddl_scheduler_test.go
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#18546 Add support for querylog-emit-on-any-condition-met flag
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vtgate.txt
  go/flags/endtoend/vttablet.txt
  go/streamlog/streamlog.go
  go/streamlog/streamlog_test.go
  go/vt/vtgate/logstats/logstats.go
  go/vt/vtgate/logstats/logstats_test.go
  go/vt/vttablet/filelogger/filelogger_test.go
  go/vt/vttablet/sysloglogger/sysloglogger_test.go
  go/vt/vttablet/tabletserver/tabletenv/logstats.go
  go/vt/vttablet/tabletserver/tabletenv/logstats_test.go
Labels: Type: Enhancement, Component: General

#18557 OnlineDDL: log changes to `ready_to_complete`
  go/vt/vttablet/onlineddl/executor.go
Labels: Type: Enhancement, Component: Online DDL

#18538 `heartbeatWriter`: wrap error with more info
  go/vt/vttablet/tabletserver/repltracker/writer.go
Labels: Type: Enhancement, Component: VTTablet

#18584 fix: emit QueryExecutionsByTable for success cases only
  go/test/endtoend/vtgate/misc_test.go
  go/test/endtoend/vtgate/unsharded/main_test.go
  go/vt/vtgate/executor_stats_test.go
  go/vt/vtgate/plan_execute.go
Labels: Type: Enhancement, Component: Observability

#18582 Fix sqlparser cannot parse 'set names binary'
  go/vt/sqlparser/parse_test.go
  go/vt/sqlparser/sql.go
  go/vt/sqlparser/sql.y
Labels: Type: Enhancement, Component: Query Serving

#18592 Update additional jobs to use 8.4
  .github/workflows/codeql_analysis.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e.yml
  .github/workflows/upgrade_downgrade_test_backups_e2e_next_release.yml
  .github/workflows/upgrade_downgrade_test_backups_manual.yml
  .github/workflows/upgrade_downgrade_test_backups_manual_next_release.yml
  .github/workflows/upgrade_downgrade_test_onlineddl_flow.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_2.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_2_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_queries_next_release.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema.yml
  .github/workflows/upgrade_downgrade_test_query_serving_schema_next_release.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_new_vttablet.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vtctl.yml
  .github/workflows/upgrade_downgrade_test_reparent_old_vttablet.yml
  .github/workflows/upgrade_downgrade_test_semi_sync.yml
Labels: Component: Build/CI, Type: CI/Build

#18602 fix: remove database qualifier after building query in operator to sql
  go/test/endtoend/vtgate/queries/orderby/orderby_test.go
  go/vt/vtgate/planbuilder/operators/SQL_builder.go
  go/vt/vtgate/planbuilder/operators/route.go
  go/vt/vtgate/planbuilder/testdata/from_cases.json
Labels: Type: Bug, Component: Query Serving, Backport to: release-21.0, Backport to: release-22.0

#18607 fix log message on mysqlshell backup
  go/vt/mysqlctl/mysqlshellbackupengine.go
Labels: Type: Internal Cleanup, Component: Backup and Restore

#18609 docker: add trixie and rm bullseye from build matrix
  .github/workflows/docker_build_images.yml
  changelog/23.0/23.0.0/summary.md
Labels: Type: Enhancement, Type: CI/Build, Component: Docker
